.consulting_wrap .hide{display: block;position: absolute;left: -9999px;text-indent: -9999px}
.consulting_wrap .wb{word-break: keep-all}
.consulting_wrap .mt50{margin-top: 50px}
.consulting_wrap .red{color: #ff0000 !important}
.consulting_wrap .bold{font-weight: 600 !important}
.consulting_wrap .main_section01 h2{text-align: center;font-size: 30px;font-weight: 400;line-height: 1.8}
.consulting_wrap .main_section01 h2 strong{box-shadow: 0 -8px 0 #ffe400 inset}
.consulting_wrap .main_section01 h2 span{position: relative;display: inline-block}
.consulting_wrap .main_section01 h2 span:before{content: '';display: inline-block;width: 5px;height: 5px;background: #ff0000;border-radius: 50%;position: absolute;left: 50%;top:0px;transform: translateX(-50%)}
.consulting_wrap .visal{background: url(../images/consulting/section01_bg.png) no-repeat #2189ff right 40px bottom;padding: 60px 40px;border-radius: 15px;margin-top: 50px}
.consulting_wrap .visal p{color: #fff;font-size: 22px;margin-bottom: 40px}
.consulting_wrap .visal h3{color: #fff;font-size: 30px;}
.consulting_wrap .visal h3 span{color: #fff600}
.consulting_wrap .review{position: relative;padding: 0  40px;margin: 70px 0}
.consulting_wrap .review .flex{display: flex;}
.consulting_wrap .slick-slider .slick-list .slick-track{display: flex;align-items: center}
.consulting_wrap .review .slick-list { box-sizing: initial;
  padding: 25px 0px !important;margin: 0 -10px}
.consulting_wrap .review .item{border-radius: 20px;box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.13);background: #f0f6f7;padding: 40px 30px;border: 1px solid #dcdcdc;margin: 0 10px}
.consulting_wrap .review .slick-current{background: #fff}
.consulting_wrap .review .slick-current .img{display: block !important;}
.consulting_wrap .review .slick-current .tag{display: block !important;}
.consulting_wrap .review .slick-current .txt {width: calc(100% - 120px);}
.consulting_wrap .review .slick-current .txt p{color: #1b1b1b !important;font-size: 18px !important}
.consulting_wrap .review .flex .img{background: url(../images/consulting/review_img.png) #f0f6f7 no-repeat bottom;overflow: hidden;border-radius: 20px;margin-right: 20px;width: 100px;height: 120px;display: none}
.consulting_wrap .review .flex .img img{width: 100%;height: 100%}
.consulting_wrap .review .flex .tag {display: none}
.consulting_wrap .review .flex .tag span {font-size: 16px;background: #4b88bc;color: #fff;padding: 2px 10px;
border-radius:5px;display: inline-block;margin-right: 5px}
.consulting_wrap .review .flex .txt p{font-size: 16px;margin-top: 10px;color: #888888}
.consulting_wrap .review .slick-arrow{position: absolute;display: block;text-indent: -9999px;width: 15px;height: 34px;top: 50%;transform: translateY(-50%)}
.consulting_wrap .review .slick-prev{background: url(../images/consulting/rv_arrow._prev.png) no-repeat;left: 0}
.consulting_wrap .review .slick-next{background: url(../images/consulting/rv_arrow._nextpng) no-repeat;right: 0}
.consulting_wrap .review_count_wrap{background: #f0f6f7;padding: 70px 0}
.consulting_wrap .review_count_wrap .inner{position: relative;}
.consulting_wrap .review_count_wrap .inner:before{content: '';display: block;background: url(../images/consulting/rc_img.png) no-repeat;width: 310px;height: 455px;position: absolute;bottom: -70px;}
.consulting_wrap .review_count_wrap .in_wrap{margin-left: 340px;position: relative;padding-bottom: 80px}
.consulting_wrap .review_count_wrap h3{font-size: 30px;}
.consulting_wrap .review_count_wrap ul{display: flex;text-align: center;}
.consulting_wrap .review_count_wrap ul li{border-right: 1px solid #dcdcdc;flex: 1;padding-top: 20px;}
.consulting_wrap .review_count_wrap ul li:last-child{border-right: 0}
.consulting_wrap .review_count_wrap ul p{font-size: 65px;font-weight: 600;margin-bottom: 40px;height: 114px;padding-top: 20px;color: #464646}
.consulting_wrap .review_count_wrap ul span{font-size: 16px}
.consulting_wrap .review_count_wrap .star_bg{background: url(../images/consulting/star.png) no-repeat center;}
.consulting_wrap .review_count_wrap .btn_wrap{position: absolute;bottom: 0;left: 50%;transform: translateX(-50%)}
.consulting_wrap .blue_btn{background: #2189ff;color: #fff;font-size: 20px;padding: 15px 45px;border-radius: 30px}
.consulting_wrap .apply_area{margin: 70px 0}
.consulting_wrap .apply_area .flex{display: flex;margin-top: 60px}
.consulting_wrap .apply_area .flex .item{width: calc(25% - 15px);margin-right: 20px;text-align: center}
.consulting_wrap .apply_area .flex .item:last-child{margin-right: 0}
.consulting_wrap .apply_area .flex .item:nth-child(1):before{content: '';display: block;background: url(../images/consulting/apply_img.png) no-repeat;width: 176px;height: 157px;margin: auto}
.consulting_wrap .apply_area .flex .item:nth-child(2):before{content: '';display: block;background: url(../images/consulting/apply_img02.png) no-repeat;width: 176px;height: 157px;margin: auto}
.consulting_wrap .apply_area .flex .item:nth-child(3):before{content: '';display: block;background: url(../images/consulting/apply_img03.png) no-repeat;width: 176px;height: 157px;margin: auto}
.consulting_wrap .apply_area .flex .item:nth-child(4):before{content: '';display: block;background: url(../images/consulting/apply_img04.png) no-repeat;width: 176px;height: 157px;margin: auto}
.consulting_wrap .apply_area .flex p{font-size: 18px;margin-top: 30px;position: relative;padding: 0 20px}
.consulting_wrap .apply_area .flex p:before{content: '';display: block;background: url(../images/consulting/quote_left.png) no-repeat;width: 22px;height: 21px;position: absolute;left: 20px;top: -10px}
.consulting_wrap .apply_area .flex p:after{content: '';display: block;background: url(../images/consulting/quote_right.png) no-repeat;width: 22px;height: 21px;position: absolute;right: 20px;bottom: -10px}
.consulting_wrap .appendix{background: #f0f6f7;padding: 70px 0}
.consulting_wrap .appendix .ico_tab{display: flex;margin-bottom: 30px}
.consulting_wrap .appendix .ico_tab li {margin-right: 30px}
.consulting_wrap .appendix .ico_tab li:last-child{margin-right: 0}
.consulting_wrap .appendix .ico_tab li a{font-size: 18px;color: #bbbbbb;font-weight: 500}
.consulting_wrap .appendix .ico_tab li.active a{color: #2189ff;}
.consulting_wrap .appendix .ico_tab li:nth-child(1) span{background: url(../images/consulting/tab_ico01.png) no-repeat;display: inline-block;width: 20px;height: 24px;vertical-align:middle;margin-right:5px}
.consulting_wrap .appendix .ico_tab li:nth-child(2) span{background: url(../images/consulting/tab_ico02.png) no-repeat;display: inline-block;width: 20px;height: 23px;vertical-align:middle;margin-right: 5px}
.consulting_wrap .appendix .ico_tab li.active:nth-child(1) span{background: url(../images/consulting/tab_ico01_active.png) no-repeat}
.consulting_wrap .appendix .ico_tab li.active:nth-child(2) span{background: url(../images/consulting/tab_ico02_active.png) no-repeat}
.consulting_wrap .appendix .js_wrap{background: #fff;padding: 30px;border-radius: 20px;display: flex;}
.consulting_wrap .appendix .js_wrap .scrollbar{max-height: 300px}
.consulting_wrap .appendix .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background: #c2c2c2;width: 5px}
.consulting_wrap .appendix .mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail{background: #e6e6e6;width: 5px;}
.consulting_wrap .appendix .mCSB_scrollTools .mCSB_draggerContainer{width: 5px;background: #e6e6e6;border-radius: 16px 16px 0 0}
.consulting_wrap .appendix .blue_btn{font-size: 18px}
.consulting_wrap .appendix .js_wrap .job_select{width: 260px}
.consulting_wrap .appendix .js_wrap .job_select p{font-size: 18px;font-weight: 500;margin-bottom: 10px} 
.consulting_wrap .appendix .js_wrap .job_select ul li{font-size: 16px}
.consulting_wrap .appendix .js_wrap .job_aricle {width:calc(100% - 310px );margin-left: 50px;display: flex;}
.consulting_wrap .appendix .js_wrap  .job_aricle > div {flex: 1;margin-right: 40px;position: relative;overflow: hidden;min-height: 200px}
.gray_border{border: 1px solid #dddddd;padding: 30px;border-radius: 20px}
.job_aricle > div{position: relative;overflow: hidden}
.job_aricle .top span + span{margin-left: 10px}
.job_aricle .orange_bg{background: #ff7256;color: #fff;padding: 5px 15px;border-radius: 20px;}
.job_aricle .orange{color: #ff7256}
.job_aricle > div > a{display: block;width: 100%;height: 100%;}
.job_aricle > div:last-child{margin-right: 0 !important}
.job_aricle .tit{font-size: 18px;font-weight: bold;}
.job_aricle .middle{border-bottom: 1px dashed #c7cee1;margin:16px 0;padding-bottom: 20px}
.textCut2{overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp:2; -webkit-box-orient: vertical;line-height: 1.2em;height: 2.4em;}
.job_aricle .tag{color: #1b1b1b;}
.job_aricle li{margin-bottom: 5px}
.job_aricle li:last-child{margin-bottom: 0}
.job_aricle > div .hover{display: none;opacity: 0;width: 100%;height: 100%;background: rgba(33, 137, 255, 0.75);position: absolute;left: 0;top: 0;color: #fff;text-align: center;position: absolute;}
.job_aricle > div .hover p {position: absolute;left: 50%;top:50%;transform: translate(-50%,-50%);}
.job_aricle .hover span{font-size: 5.0rem;display: block;}
.job_aricle > div a:hover .hover {display: block;opacity: 1}
.consulting_wrap .appendix .btn_wrap{text-align: center;margin-top: 30px}
.consulting_wrap .cs_step{margin: 70px 0}
.consulting_wrap .cs_step .flex{display: flex;margin-top: 30px}
.consulting_wrap .cs_step .flex .item{width: calc(25% - 22.5px);margin-right: 30px;position: relative;}
.consulting_wrap .cs_step .flex .item:last-child{margin-right: 0}
.consulting_wrap .cs_step .flex .item:after{content: '';display: block;background: url(../images/consulting/step_arrow.png) no-repeat;width: 10px;height: 29px;position: absolute;right: -20px;top: calc(50% + 28px);transform: translateY(-50%)}
.consulting_wrap .cs_step .flex .item:last-child:after{display: none}
.consulting_wrap .cs_step .flex p{font-size: 18px;font-weight: bold;margin-bottom: 5px;}
.consulting_wrap .cs_step .flex .box{border-radius: 20px;overflow: hidden;box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.10);height: 385px;}
.consulting_wrap .cs_step .flex img{width: 100%;display: block}
.consulting_wrap .cs_step .txt{padding: 30px;}
.consulting_wrap .cs_step .txt li{font-size: 16px;padding-left: 10px;position: relative;word-break: keep-all}
.consulting_wrap .cs_step .txt li:before{content: '·';position:absolute ;left: 0;top: 0}
.consulting_wrap .cs_info{margin: 70px auto;background: #e9f5ed;border-radius: 20px;padding: 30px;position: relative;max-width: 900px;width: 100%;}
.consulting_wrap .cs_info:after{content: '';display: block;background: url(../images/consulting/info_img.png) no-repeat;width: 210px;height: 150px;position: absolute;right: 22px;bottom: 0}
.consulting_wrap .cs_status .top{display: flex;align-items: center}
.consulting_wrap .cs_status .top h2{font-size: 22px;font-weight: 500}
.consulting_wrap .cs_status .top h2 span{font-size: 30px}
.consulting_wrap .cs_status .top .write_btn{margin-left: 40px;color: #fff;background: #2189ff;padding: 5px 15px;border-radius: 20px;}
.consulting_wrap .cs_status .top .write_btn:before{content: '';display: inline-block;background: url(../images/consulting/write_ico.png) no-repeat;width: 24px;height: 24px;vertical-align: middle;margin-right: 10px}
.consulting_wrap .cs_status .table_list_top{display: flex;margin-top: 10px}
.consulting_wrap .cs_status .table_list_top li{font-size: 18px;margin-right: 25px;padding-right: 25px;position: relative;}
.consulting_wrap .cs_status .table_list_top li:after{content: '';width:1px;height: 15px;background: #1b1b1b;position: absolute;right: 0;top: calc(50% - 2px);transform: translateY(-50%)}
.consulting_wrap .cs_status .table_list_top li:last-child{margin-right: 0;padding-right: 0}
.consulting_wrap .cs_status .table_list_top li:last-child:after{display: none}
.consulting_wrap .cs_status .table-list{width: 100%;margin-top: 20px;border-top: 2px solid #a7a7a7;border-bottom: 1px solid #a7a7a7;}
.consulting_wrap .cs_status .table-list thead{border-bottom: 1px solid #a7a7a7}
.consulting_wrap .cs_status .table-list thead th{border-bottom: 0}
.consulting_wrap .cs_status .table-list th,
.consulting_wrap .cs_status .table-list td{padding: 10px;border-right: 1px solid #ddd;text-align: center;vertical-align: middle}
.consulting_wrap .cs_status .table-list tr{border-bottom: 1px solid #ddd}
.consulting_wrap .cs_status .table-list tr:last-child{border-bottom: 0}
.consulting_wrap .cs_status .table-list th:nth-child(1),
.consulting_wrap .cs_status .table-list td:nth-child(1){border-left: 0}
.consulting_wrap .cs_status .table-list th:last-child,
.consulting_wrap .cs_status .table-list td:last-child{border-right: 0}
.consulting_wrap .cs_status .table-list th{background: #f5f8fa;font-weight: 500;}
.consulting_wrap .cs_status .table-list tr:nth-child(even){background: #f5f8fa}
.consulting_wrap .cs_status .table-list a{width: 110px;padding: 3px 10px;display: inline-block;}
.consulting_wrap .cs_status .table-list a.bl_btn{color: #2189ff;}
.consulting_wrap .cs_status .table-list a.red_btn{color: #ff0000;border: 1px solid #ff0000}

/*paging*/
.paging{display: flex;margin-top: 20px;justify-content: center;align-items: center}
.paging .arrow{text-indent: -9999px;margin-top: -2px}
.paging li{margin: 0 10px}
.paging li.active a{font-weight: bold}
.paging li:hover a,
.paging li:active a,
.paging li:focus a{font-weight: bold;}
.paging li.first a{background: url(../images/consulting/first.png) no-repeat;width: 7px;height: 14px;display: block;}
.paging li.prev a{background: url(../images/consulting/prev.png) no-repeat;width: 6px;height: 14px;display: block;}
.paging li.next a{background: url(../images/consulting/next.png) no-repeat;width: 6px;height: 14px;display: block;}
.paging li.last a{background: url(../images/consulting/last.png) no-repeat;width: 7px;height: 14px;display: block;}
.m_paging{display: none;justify-content: center;align-items: center;margin-top: 20px}
.m_paging .arrow{text-indent: -9999px;display: block}
.m_paging > * {margin: 0 5px}
.m_paging .active{color: #2189ff;}
.m_paging .first{background: url(../images/consulting/first.png) no-repeat;width: 7px;height: 14px;display: block;}
.m_paging .prev{background: url(../images/consulting/prev.png) no-repeat;width: 6px;height: 14px;display: block;}
.m_paging .next{background: url(../images/consulting/next.png) no-repeat;width: 6px;height: 14px;display: block;}
.m_paging .last{background: url(../images/consulting/last.png) no-repeat;width: 7px;height: 14px;display: block;}

/* 자기소개서 작성 페이지 */
.consulting_sub h2{text-align: center;font-size: 22px;font-weight: bold;margin-bottom: 50px}
.consulting_sub .white_box{margin: 30px 0;border: 1px solid #d6d6d6;padding: 30px}
.consulting_sub .ico_tit{font-size: 20px;font-weight: bold;position: relative;padding-left: 35px}
.consulting_sub .ico_tit:before{content: '';display: block;background:#ddd;border-radius: 50%;width: 24px;height: 24px;position: absolute;left: 0;top: 50%;transform: translateY(-50%)}
.consulting_sub .ico_tit.it01:before{background: url(../images/consulting/ico_tit01.png) no-repeat #44af62 center}
.consulting_sub .ico_tit.it02:before{background: url(../images/consulting/ico_tit02.png) no-repeat #44af62 center}
.consulting_sub .ico_tit.it03:before{background: url(../images/consulting/ico_tit03.png) no-repeat #44af62 center}
.consulting_sub .ico_tit.it04:before{background: url(../images/consulting/ico_tit04.png) no-repeat #1181ff center}
.consulting_sub .name_wrap{margin-top: 20px;display: flex;border-bottom: 1px solid #c2c2c2;padding-bottom: 10px;margin-bottom: 10px;align-items: center}
.consulting_sub .name_wrap .date{display: flex;margin-left: auto;}
.consulting_sub .wr_tit{font-size: 18px;font-weight: 400}
.consulting_sub .wr_txt{color: #535353;font-size: 18px;padding:10px}
.consulting_sub .name_wrap .wr_tit{margin-right: 20px;}
.consulting_sub .name_wrap .cont {color: #535353;font-size: 18px}
.consulting_sub .write_table{width: 100%}
.consulting_sub .write_table th{padding: 15px 0;text-align: left;}
.consulting_sub .select_style01{max-width: 190px;width: 100%}
.consulting_sub  
.select_style01 {font-family:"Apple SD Gothic Neo","Noto Sans", "Noto Sans KR","Malgun Gothic","맑은 고딕",sans-serif;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: url(../images/consulting/select_arrow.png) right 10px center no-repeat;border: 1px solid #c2c2c2;padding:7px 30px 7px 10px;font-size: 15px;color: #535353}
.select_style01::-ms-expand {display: none;}
.select_style02 {font-family:"Apple SD Gothic Neo","Noto Sans", "Noto Sans KR","Malgun Gothic","맑은 고딕",sans-serif;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: url(../images/consulting/select_arrow02.png) right 10px center no-repeat;padding:7px 30px 7px 10px;font-size: 18px;color: #535353}
.select_style02::-ms-expand {display: none;}
.consulting_sub .select_wrap{display: flex;}
.consulting_sub .select_wrap select{margin-right: 10px}
.consulting_sub .select_wrap select:last-child{margin-right: 0}
.consulting_sub .ip_txt{border: 1px solid #c2c2c2;padding: 10px 10px;font-size: 15px;font-family:"Apple SD Gothic Neo","Noto Sans", "Noto Sans KR","Malgun Gothic","맑은 고딕",sans-serif;}
.consulting_sub textarea.ip_txt{resize: none;width: 100%;min-height: 200px}
.consulting_sub .ip_txt::placeholder{color: #cccccc}
.consulting_sub .white_tit{display: flex;align-items: center;}
.consulting_sub .white_tit .ico_tit{margin-right: 10px}
.consulting_sub .white_tit .ip_txt{width: calc(100% - 80px)}
.consulting_sub .item{margin-top: 30px}
.consulting_sub .item:nth-child(2){margin-top: 0}
.consulting_sub .cs_tit{display: flex;align-items: center;margin: 10px 0}
.consulting_sub .cs_tit .wr_tit{width: 90px}
.consulting_sub .cs_tit .del_btn{background: #8c8c8c;color: #fff;padding:5px 10px;width: 155px;text-align: center;font-size: 18px}
.consulting_sub .cs_tit .ip_txt{width:calc(100% - 245px);margin-right: 50px}
.consulting_sub .count{font-weight: bold;}
.consulting_sub .add_btn {text-align: right}
.consulting_sub .add_btn a{background: #43af61;color: #fff;padding:5px 10px;width: 155px;text-align: center;font-size: 18px;display: inline-block}
.consulting_sub .btn_wrap{display: flex;}
.consulting_sub .btn_wrap .left{color: #ff0000;font-size: 16px}
.consulting_sub .btn_wrap .right{margin-left: auto}
.consulting_sub .btn_wrap .bl_btn{color: #2189ff;color: #2189ff;font-size: 18px;padding: 10px 45px;border-radius: 30px}
.consulting_sub .btn_wrap .blue_btn{font-size: 18px;padding: 10px 45px}
.consulting_sub .btn_wrap .bl_btn,
.consulting_sub .btn_wrap .blue_btn{width: 210px;display: inline-block;text-align: center}
.consulting_sub .btn_wrap a + a{margin-left: 10px}

/* 자기소개서 작성완료 */
.consulting_sub .select_result{display: flex;}
.consulting_sub .select_result p + p{margin-left: 30px}
.consulting_sub .white_tit .wr_txt{width: calc(100% - 80px)}
.consulting_sub .cs_tit .wr_txt{width: calc(100% - 100px)}
.consulting_sub .wr_cont{padding: 15px 10px}
.consulting_sub .cs_result_box .item{border-top: 1px dashed #d6d6d6;padding-top: 20px;margin-top: 20px}
.consulting_sub .cs_result_box .item:nth-child(2){margin-top: 0;padding-top: 0;border-top: 0}
.consulting_sub .answer .wr_txt{margin-top: 20px}
.score_select{width:240px;position: relative;z-index: 55}
.score_select .selected_option{background: url(../images/consulting/select_arrow.png) no-repeat right 20px center #fff;display: block;padding: 7px 15px;border: 1px solid #c2c2c2;box-sizing: border-box;}
.score_select .selected_option a{display: block;width: 100%;height: 100%;}
.score_select ul{background: #fff;position: absolute;top: 35px;left: 0; border-radius: 0 0 8px 8px;width: 100%;display: none;padding-top: 5px;border: 2px solid #fff;box-sizing: border-box}
.score_select ul li {padding: 8px 15px}
.score_select *:hover,
.score_select *:active,
.score_select *:focus {transition: all 0s !important}
.score_select ul li:hover,
.score_select ul li:active,
.score_select ul li:focus{background: rgba(199, 206, 225, 0.22)}
.score_select ul li:last-child{margin-bottom: 0}
.score_select ul li a{display: block;width: 100%;height: 100%;}
.score_select .star_area{background: url(../images/consulting/star_bg.png) no-repeat left center;width: 146px;height: 24px;position: relative;}
.score_select .star_area .value{background: url(../images/consulting/star_area.png) no-repeat left center;height: 100%;position: absolute;left: 0;top: 0;}
.score_select .star_area em {text-indent: -99999px;display: inline-block;}

.score_select .selected_option.show{}
.score_select ul.show {display: block;border: 1px solid #c2c2c2;border-top: 0}
.score_select .hid {display: none;border: 0;}
.consulting_score{background: #fffdc8;}
.consulting_score .item{display: flex;align-items: center;}
.consulting_score .item:nth-child(1){margin-top: 0}
.consulting_score .item:nth-child(2){margin-top: 15px}
.consulting_score .item:first-child{margin-bottom: 0}
.consulting_score .ss_tit{font-size: 18px;font-weight: bold;width: 200px;}
.consulting_score .ip_txt{width: calc(100% - 200px)}

/* 취업진로상담_메인 */
.emp_tit {margin-bottom: 60px;text-align: center;}
.emp_tit h3{font-size: 34px;font-weight: bold;}
.emp_tit p{font-size: 20px;color: #1b1b1b}
.employ_main .emp_visal{background: url(../images/consulting/emp_visal.png) no-repeat #fdbf53 right;padding: 100px  80px;border-radius: 30px;margin-bottom: 120px}
.employ_main .emp_visal h3{font-size: 30px;color: #fff;font-weight: bold}
.employ_main .emp_apply{background: #065643;color: #fff;display: flex;padding: 30px 110px 30px 220px;justify-content: space-between;border-radius: 50px;align-items: center;margin-top: -60px}
.employ_main .emp_apply p{font-size: 30px;font-weight: bold}
.employ_main .emp_apply span{color: #fdbf53;font-size: 35px;}
.employ_main .emp_apply a{color: #065643;font-size: 18px;background: #fff;padding: 5px 30px;border-radius: 20px}
.employ_main .emp_info{background: #f0f6f6;margin-top:-60px;padding: 150px 0 120px 0 }
.employ_main .emp_info .flex{display: flex;justify-content: center;text-align: center;}
.employ_main .emp_info .flex > div{margin-right: 80px}
.employ_main .emp_info .flex > div:last-child{margin-right: 0}
.employ_main .emp_info .flex .circle{display: block;width: 170px;height: 170px;display: flex;justify-content: center;align-items: center;background: #14ad89;border-radius: 50%;color: #fff;font-size: 34px;font-weight: bold}
.employ_main .emp_info .flex .tit{font-size: 20px;font-weight: bold;}
.employ_main .emp_info .flex .desc{font-size: 13px;color: #666666}
.employ_main .emp_info .flex .tit:before{content: '';display: block;width: 1px;height: 60px;border-left: 1px dashed #adb2b2;margin: 10px auto}
.employ_main .emp_info .flex > div:hover .circle{text-indent: -9999px}
.employ_main .emp_info .flex > div:hover:nth-child(1) .circle{background: url(../images/consulting/note.png) no-repeat center #d8e6e4;}
.employ_main .emp_info .flex > div:hover:nth-child(2) .circle{background: url(../images/consulting/note_02.png) no-repeat center #d8e6e4;}
.employ_main .emp_info .flex > div:hover:nth-child(3) .circle{background: url(../images/consulting/note_03.png) no-repeat center #d8e6e4;}
.employ_main .emp_info .flex > div:hover:nth-child(4) .circle{background: url(../images/consulting/note_04.png) no-repeat center #d8e6e4;}
.employ_main .emp_info .flex > div:hover:nth-child(5) .circle{background: url(../images/consulting/note_05.png) no-repeat center #d8e6e4;}
.employ_main .emp_info .flex > div:hover .tit,
.employ_main .emp_info .flex > div:hover .active,
.employ_main .emp_info .flex > div:hover .focus{color: #089977;}
.employ_main .emp_review{margin: 100px 0}
.employ_main .emp_review .flex{display: flex;flex-wrap: wrap;}
.employ_main .emp_review .flex > div{border: 1px solid #cdcdcd;width: calc(25% - 22.5px);margin-right: 30px;overflow: hidden;border-radius: 20px;margin-top: 40px}
.employ_main .emp_review .flex > div:nth-child(4n){margin-right: 0;}
.employ_main .emp_review .flex > div:nth-child(-n+4){margin-top: 0}
.employ_main .emp_review .flex p{text-align: center;}
.employ_main .emp_review .flex .tit{font-size: 15px;padding: 10px;background: #ddd;color: #fff;}
.employ_main .emp_review .flex .txt{padding: 30px}
.employ_main .emp_review .flex .desc{font-size: 13px;color: #666}
.employ_main .emp_review .flex .ico{display: block;width: 68px;height: 58px;margin: 0 auto 30px auto}
.employ_main .emp_review .flex .green .ico{background: url(../images/consulting/green_sb.png) no-repeat;}
.employ_main .emp_review .flex .green .tit{background: #065643}
.employ_main .emp_review .flex .yellow .ico{background: url(../images/consulting/yellow_sb.png) no-repeat;}
.employ_main .emp_review .flex .yellow .tit{background: #fdbf53}
.employ_main .emp_process{background: #f0f6f6;padding: 100px 0}
.employ_main .emp_process .flex{display: flex;justify-content: space-between}
.employ_main .emp_process .flex > div{width: calc(33.333% - 60px);margin-right: 90px}
.employ_main .emp_process .flex > div:last-child{margin-right: 0}
.employ_main .emp_process .flex > div img{max-width: 100%}
.employ_main .emp_process .flex .tit{font-size: 20px;text-align: center;background: #14ad89;border-radius: 30px;padding: 10px;color: #fff;margin:0 0px 30px 0px;font-weight: 500;max-width:362px}

/* 상담 신청하기*/
.emp_cont {margin-top: 30px}
.emp_cont > div {display: flex;margin-bottom: 20px;align-items: center}
.emp_cont > div :last-child{margin-bottom: 0}
.emp_cont .at{align-items: flex-start}
.emp_cont > div .wr_tit{width: 110px;}
.emp_cont > div .wr_txt{width: calc(100% - 110px)} 
.emp_cont > div .ip_txt{width: 100%}
.date_flex{display: flex;justify-content: space-between;align-items: center}
.date_flex .write_table{width: 50%;}
.date_flex .date_wrap{display: flex; }
.date_flex .date{width: 145px}
.answer .name_wrap{margin-top: 0}

/* 취업진로상담 현황 */
.emp_current .cs_status .top{margin-bottom: 50px}
.emp_current .cs_status .top h3{font-size: 22px;margin-top: 5px}
.emp_current .cs_status .top a{background: #2189ff;color: #fff;padding: 5px 30px;border-radius: 30px;margin-left: 30px;font-size: 15px}
.emp_current .cs_status .table_list_top li{font-size: 13px;color: #666666;margin-right: 30px;padding-right: 0}
.emp_current .cs_status .table_list_top li:after{display: none}
.emp_current .cs_status  .table-list th{font-size: 15px}
.emp_current .cs_status  .table-list td{font-size: 14px;color: #666666;}
.emp_current .cs_status  .table-list a{width: 90px;font-size: 12px !important;border-radius: 0 !important}
.emp_current .cs_status .btn_wrap{display: table-cell}
.sub_btn{align-items: center}

/* 가이드북 더보기 */
.bg{background: #f0f6f7;padding: 30px 0;margin-top:-40px}
.mb10{margin-bottom: 10px !important}
.sub_search{background: #fff;border-radius: 20px;padding: 40px 30px;display: flex;margin: 60px 0 30px 0;justify-content: space-between;align-items: center}
.sub_search .select_list{display: flex;}
.sub_search .select_list li{margin-right: 30px;padding-right: 30px;position: relative;}
.sub_search .select_list li:after{content: '';display: block;width: 1px;height: 19px;background: #dddddd;position: absolute;right:0;top: 50%;transform: translateY(-50%) }
.sub_search .select_list li:last-child{margin-right: 0;padding-right: 0;}
.sub_search .select_list li:last-child:after{display: none}
.sub_search .select_list .select_style02{width: 170px;}
.sub_search .input_wrap{width: 250px;display: flex;align-items: center;justify-content: space-between}
.sub_search .input_wrap input::placeholder{color: #dddddd}
.sub_search .input_wrap input{font-size: 18px;width: calc(100% - 35px);font-family:"Apple SD Gothic Neo","Noto Sans", "Noto Sans KR","Malgun Gothic","맑은 고딕",sans-serif}
.sub_search .input_wrap button{background: url(../images/consulting/search_ico.png) no-repeat #2189ff center;width: 30px;height: 30px;border-radius: 50%;text-indent: -9999px;}
.white_box02{background: #ffffff;border-radius: 20px;padding: 20px}
.post_list .post_article{border-bottom: 1px solid #dddddd;padding-bottom: 30px;margin-bottom: 30px;position: relative;}
.post_list .post_article .company_name{font-size: 16px;font-weight: bold;display: flex;align-items: center;margin-bottom: 20px}
.post_list .post_article .company_name span{background: url(../images/consulting/tit_ico.png) no-repeat #2189ff center;display: block;width: 30px;height: 30px;border-radius: 50%;margin-right: 15px}
.post_list .post_article .guide_book_list{color: #7d7d7d;width: calc(100% - 200px)}
.post_list .post_article .guide_book_list01{display: flex;margin-bottom: 15px}
.post_list .post_article .guide_book_list01 li{margin-right: 50px}
.post_list .post_article .guide_book_list01 li:last-child{margin-right: 0}
.post_list .post_article .btn_area a{color: #2189ff;border: 1px solid #2189ff;padding: 10px 40px;border-radius: 5px;font-weight: 500;position: absolute;right: 0;bottom: 30px;}
.post_list .post_article .top{display: flex;align-items: center;}
.post_list .post_article .top .bg_orange{background: #ff7256;color: #fff;padding: 5px 20px;border-radius: 20px;margin-right: 15px}
.post_list .post_article .left{width: calc(100% - 200px)}
.post_list .post_article .top .orange{color: #ff7256;font-weight: 500}
.post_list .post_article .tit{font-size: 18px;font-weight: 600;margin: 20px 0}
.post_list .post_article .tag{display: flex;flex-wrap: wrap}
.post_list .post_article .tag li{margin-right: 15px;color: #7d7d7d;font-size: 18px}
.post_list .post_article .tag li:last-child{margin-right: 0}

/* 합격자 자기소개서 */
.it_view .tit{font-size: 18px;font-weight: bold}
.it_view .desc{color: #7d7d7d;font-size: 16px;margin-top: 10px}
.it_view .iv_area{border-bottom: 1px solid #7d7d7d;padding-bottom: 30px;margin-bottom: 30px}
.it_view .iv_area:last-child{padding-bottom: 0;margin-bottom: 0;border-bottom: 0}
.list_btn{text-align: center;margin-top: 60px}
.list_btn a{display: inline-block;padding: 10px 60px;background: #1181ff;color: #fff;border-radius: 30px;font-size: 18px}
.nav_view_wrap{position: relative;display: flex;margin-top: 50px}
.nav_view_wrap .nav_view{position: absolute;width: 365px}
.nav_view_wrap .nav_view .ico{font-size: 24px;font-weight: 500;display: flex;align-items: center;margin-bottom: 15px}
.nav_view_wrap .nav_view .ico .ico_fix{width: 30px;height: 30px;background: url(../images/consulting/Item_ico.png) #2189ff center no-repeat;border-radius: 50%;margin-right: 10px}
.nav_view_wrap .nav_view .page_nav li a{font-size: 18px;color: #7d7d7d;display: block;}
.nav_view_wrap .nav_view .page_nav li{border-bottom: 1px dashed #dddddd;padding-bottom: 10px;padding-left: 10px;margin-bottom: 10px;position: relative;}
.nav_view_wrap .nav_view .page_nav li:last-child{margin-bottom: 0;padding-bottom: 0;border-bottom: 0}
.nav_view_wrap .nav_view .page_nav li.active a{color: #1b1b1b;font-weight: 500;position: relative;}
.nav_view_wrap .nav_view .page_nav li.active a:after{content: '';display: block;background: url(../images/consulting/red_arrow.png) no-repeat;width: 12px;height: 15px;position: absolute;right: 0;top: 50%;transform: translateY(-50%)}
.nav_view_wrap .nav_view_cont{width: calc(100% - 395px);margin-left: auto}
.nav_view_wrap .nav_view_cont .tit{font-size: 18px;font-weight: bold}
.nav_view_wrap .nav_view_cont .desc{color: #7d7d7d;margin-top: 10px}
.nav_view_wrap .nav_view_cont .desc:first-child{margin-top: 0}
.nav_view_wrap .nav_view_cont .desc.blue{color: #1181ff !important}

.nav_view_wrap .nav_view_cont .after .desc{margin-top: 0}
.nav_view_wrap .nav_view_cont .after .tit{margin-bottom: 10px}

@media all and (max-width:1390px){
	.consulting_wrap .visal{background-size: 450px}
	.consulting_wrap .review_count_wrap .inner:before{background-size: 250px;width: 250px;height: 380px;bottom: -60px}
	.consulting_wrap .review_count_wrap .in_wrap{margin-left: 300px}
	.consulting_wrap .review_count_wrap ul p{font-size: 45px;height: 100px}
	.consulting_wrap .review_count_wrap .star_bg{background-size: 100px}
	.consulting_wrap .apply_area .flex p:before{left: 0}
	.consulting_wrap .apply_area .flex p:after{right: 0}
	.consulting_wrap .cs_step .flex .box{height: 100%}
	
	/*취업진로상담 메인*/
	.employ_main .emp_apply{padding: 30px 50px 30px 50px}
	.employ_main .emp_info .flex > div{margin-right: 30px}
}


@media all and (max-width:1024px){
	.consulting_wrap .visal{background-size: 320px}
	.consulting_wrap .visal p{font-size: 18px;margin-bottom: 30px}
	.consulting_wrap .visal h3{font-size: 22px}
	.consulting_wrap .review{margin: 50px 0}
	.consulting_wrap .review_count_wrap .inner:before{display: none}
	.consulting_wrap .review_count_wrap .in_wrap{margin-left: 0}
	.consulting_wrap .apply_area .flex{flex-wrap: wrap;}
	.consulting_wrap .apply_area .flex .item{width: calc(50% - 10px);margin-top: 50px}
	.consulting_wrap .apply_area .flex .item:nth-child(1),
	.consulting_wrap .apply_area .flex .item:nth-child(2){margin-top: 0}
	.consulting_wrap .apply_area .flex .item:nth-child(2n){margin-right: 0}
	.consulting_wrap .apply_area .flex p{display: inline-block;padding: 0 30px}
	.consulting_wrap .appendix .js_wrap{display: block;}
	.consulting_wrap .appendix .js_wrap .job_select{width: 100%;}
	.consulting_wrap .appendix .js_wrap .scrollbar{max-height: 200px}
	.consulting_wrap .appendix .js_wrap .job_aricle{margin-left: 0;margin-top: 30px;width: 100%;}
	.consulting_wrap .appendix .js_wrap .job_aricle > div{margin-right: 20px}
	.consulting_wrap .cs_step .flex{flex-wrap: wrap;}
	.consulting_wrap .cs_step .flex .item{width: calc(50% - 15px);margin-right: 30px;margin-top: 60px}
	.consulting_wrap .cs_step .flex .item:nth-child(1),
	.consulting_wrap .cs_step .flex .item:nth-child(2){margin-top: 0}
	.consulting_wrap .cs_step .flex .item:nth-child(2n) {margin-right: 0}
	.consulting_wrap .cs_info:after{display: none}
	
	/* 자기소개서 작성 페이지 */
	.consulting_sub .write_table,
	.consulting_sub .write_table tr,
	.consulting_sub .write_table td,
	.consulting_sub .write_table th,
	.consulting_sub .write_table tbody{display: block}
	.consulting_sub .write_table tbody{overflow: hidden}
	.consulting_sub .write_table th{width: 110px;float: left;padding: 0}
	.consulting_sub .write_table td{width: calc(50% - 110px);float: left;margin-bottom: 15px}
	.consulting_sub .write_table .colspan3{width: calc(100% - 110px)}
	.consulting_sub .btn_wrap{display: block}
	.consulting_sub .btn_wrap .right{text-align: right;margin-top: 20px}
	
	/* 취업진로상담 메인 */
	.employ_main .emp_visal{background-size: 350px;background-position: bottom right;padding: 80px 40px}
	.employ_main .emp_apply{flex-direction: column;}
	.employ_main .emp_apply a{margin-top: 20px}
	.employ_main .emp_info .flex{flex-wrap: wrap;}
	.employ_main .emp_info .flex > div{margin-right: 20px;width: calc(50% - 10px);margin-top: 30px}
	.employ_main .emp_info .flex .tit:before{height: 30px}
	.employ_main .emp_info .flex > div:nth-child(2n){margin-right: 0;}
	.employ_main .emp_info .flex > div:nth-child(-n+2){margin-top: 0}
	.employ_main .emp_info .flex .circle{margin: auto}
	.employ_main .emp_process .flex > div{width: calc(33.333% - 20px);margin-right: 30px}
	.date_flex{align-items: flex-start}
	
	/*자기소개서 가이드북 더보기 */
	.sub_search{display: block}
	.sub_search .input_wrap{width: 100%;margin-top: 20px}
	.sub_search .select_list{width: 100%}
	.sub_search .select_list li{width: calc(33.333% - 20px);}
	.sub_search .select_list li .select_style02{width: 100%;}
	
	/* 자기소개서 가이드북 자세히보기 */
	.nav_view_wrap .nav_view{display: none}
	.nav_view_wrap .nav_view_cont{width: 100%}
	
}

@media all and (max-width:768px){
	.consulting_wrap .main_section01 h2{font-size: 22px}
	.consulting_wrap .visal{margin-top: 30px;background-position: center bottom;padding: 30px  30px 120px 30px}
	.consulting_wrap .visal p{font-size: 14px;margin-bottom: 20px}
	.consulting_wrap .visal h3{font-size: 16px}
	.consulting_wrap .review{margin: 30px 0}
	
	.consulting_wrap .review_count_wrap{padding: 30px 0}
	.consulting_wrap .review_count_wrap h3{font-size: 22px}
	.consulting_wrap .review_count_wrap ul p{margin-bottom: 20px}
	.consulting_wrap .review_count_wrap ul{flex-wrap: wrap;}
	.consulting_wrap .review_count_wrap ul li{width: 50%;flex: none;border-right: 0}
	.consulting_wrap .blue_btn{font-size: 16px;padding: 10px 30px}
	.consulting_wrap .review_count_wrap .in_wrap{padding-bottom: 0}
	.consulting_wrap .review_count_wrap .btn_wrap{position: relative;margin: 30px auto 0 auto;text-align: center}
	.consulting_wrap .apply_area .flex{margin-top: 30px}
	.consulting_wrap .apply_area .flex p{font-size: 14px;word-break: keep-all}
	.consulting_wrap .appendix{padding: 30px 0}
	.consulting_wrap .apply_area{margin: 30px 0}
	.consulting_wrap .apply_area h3{font-size: 22px}
	.consulting_wrap .appendix .js_wrap .job_aricle{display: block;}
	.consulting_wrap .appendix .js_wrap .job_aricle > div{margin-right: 0;margin-bottom: 20px}
	.consulting_wrap .appendix .js_wrap .job_aricle > div:last-child{margin-bottom: 0}
	.consulting_wrap .appendix .blue_btn{font-size: 16px}
	.consulting_wrap .appendix .ico_tab{margin-bottom: 20px}
	.consulting_wrap .appendix .ico_tab li a{font-size: 15px}
	.consulting_wrap .cs_step{margin: 30px 0}
	.consulting_wrap .cs_step .flex .item{width: 100%;margin-right: 0;}
	.consulting_wrap .cs_step .flex .box{height: auto;}
	.consulting_wrap .cs_step .flex .item:after{transform: rotate(90deg) translateX(50%);right: 50%;top: auto;bottom: -40px}
	.consulting_wrap .cs_step .flex .item:nth-child(2){margin-top: 60px}
	.consulting_wrap .cs_step .txt{padding: 20px  }
	.consulting_wrap .cs_step .flex p{text-align: center;font-size: 16px}
	.consulting_wrap .cs_info{margin: 30px 0}
	.consulting_wrap .cs_info{font-size: 15px;word-break: keep-all}
	.consulting_wrap .cs_status .top h2{font-size: 18px}
	.consulting_wrap .cs_status .top h2 span{font-size: 22px}
	.consulting_wrap .cs_status .top{display: block;}
	.consulting_wrap .cs_status .top .write_btn{margin-left: 0;margin-top: 10px;display: inline-block;font-size: 14px}
	.consulting_wrap .cs_status .table_list_top li{font-size: 13px;margin-right: 15px;padding-right: 15px}
	.consulting_wrap .cs_status .table-list .m_hide{display: none}
	.consulting_wrap .cs_status .table-list,
	.consulting_wrap .cs_status .table-list tbody,
	.consulting_wrap .cs_status .table-list tr,
	.consulting_wrap .cs_status .table-list th,
	.consulting_wrap .cs_status .table-list td{display: block;}
	.consulting_wrap .cs_status .table-list tr {position: relative;height:100px;border-bottom: 1px solid #dddddd;}
	.consulting_wrap .cs_status .table-list tr:nth-child(even){background: #fff}
	.consulting_wrap .cs_status .table-list td{padding: 0;border:0;font-size: 15px}
	.consulting_wrap .cs_status .table-list .type{position: absolute;left: 0;top: 15px}
	.consulting_wrap .cs_status .table-list .tit{position: absolute;left: 0;bottom: 15px;font-weight: 500;width: calc(100% - 140px);text-align: left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis}
	.consulting_wrap .cs_status .table-list .answer:before{content: '컨설팅 답변일 : ';display:inline-block;margin-right: 3px}
	.consulting_wrap .cs_status .table-list .answer{position: absolute;bottom: 15px;right: 0px}
	.consulting_wrap .cs_status .table-list .btn_wrap{position: absolute;right: 0;top: 15px}
	.m_paging{display: flex;}
	.paging{display: none}
	.consulting_wrap .appendix .ico_tab{margin-bottom: 15px}
	.consulting_wrap .appendix .ico_tab li{font-size: 15px;margin-right: 15px}
	.consulting_wrap .appendix .js_wrap{padding: 20px;}
	.consulting_wrap .appendix .js_wrap .job_select p{font-size: 16px}
	.consulting_wrap .appendix .js_wrap .job_select ul li{font-size: 14px}
	.gray_border{padding: 20px}
	.job_aricle .top {font-size: 14px}
	.job_aricle .tit{font-size: 16px}
	.job_aricle .bottom{font-size: 14px}
	.consulting_wrap .cs_step .txt li{font-size: 14px}
	.consulting_wrap .cs_info{padding: 20px}
	.consulting_wrap .cs_info p{font-size: 14px}
	.consulting_wrap .cs_status .table-list a{font-size: 14px}
	
	/* 자기소개서 작성 */
	.consulting_sub h2{margin-bottom: 30px}
	.consulting_sub .ico_tit{font-size: 18px}
	.consulting_sub .write_table th{float: none;width: 100%}
	.consulting_sub .write_table td{float: none;width: 100%;margin-top: 10px}
	.consulting_sub .select_style01{max-width: 100%}
	.consulting_sub .write_table .colspan3{width: 100%}
	.consulting_sub .white_tit{display: block;}
	.consulting_sub .white_tit .ip_txt{width: 100%;margin-top: 10px}
	.consulting_sub .wr_tit,
	.consulting_sub .wr_txt,
	.consulting_sub .name_wrap .cont{font-size: 15px}
	.consulting_sub .cs_tit .wr_tit{display: none}
	.consulting_sub .cs_tit .ip_txt{width: calc(100% - 80px);margin-right: 10px;padding: 8px 10px}
	.consulting_sub .cs_tit .del_btn{width: 70px;font-size: 15px}
	.consulting_sub .add_btn a{width: 90px;font-size: 15px}
	.consulting_sub .btn_wrap .left{font-size: 14px;word-break: keep-all}
	.consulting_sub .btn_wrap .right{text-align: center}
	.consulting_sub .btn_wrap .bl_btn,
	.consulting_sub .btn_wrap .blue_btn{font-size: 15px;padding: 5px 30px;width: 130px;}
	.consulting_sub .white_box{padding: 20px}
	
	/* 자기소개서 완료 */
	.consulting_score .item{display: block;}
	.consulting_score .ss_tit{font-size: 15px;margin-bottom: 10px;}
	.score_select{width: 100%;}
	.consulting_score .ss_cont{font-size: 15px}
	.consulting_score .ip_txt{width: 100%}
	
	/* 취업진로상담 메인 */
	.emp_tit{margin-bottom: 30px}
	.emp_tit h3{font-size: 22px}
	.emp_tit p{font-size: 15px}
	.employ_main .emp_visal h3{font-size: 18px;word-break: keep-all}
	.employ_main .emp_visal{background-size: 200px;;padding: 60px 20px;margin-bottom: 100px}
	.employ_main .emp_apply p{word-break: keep-all;font-size: 18px;text-align: center}
	.employ_main .emp_info{padding: 100px 0 30px 0}
	.employ_main .emp_apply span{font-size: 22px}
	.employ_main .emp_apply a{font-size: 15px}
	.employ_main .emp_apply{padding: 20px;margin-top: -80px}
	.employ_main .emp_review{margin: 30px 0}
	.employ_main .emp_review .flex > div{margin-right: 20px;width: calc(50% - 10px);margin-top: 20px}
	.employ_main .emp_review .flex > div:nth-child(-n+4){margin-top: 20px}
	.employ_main .emp_review .flex > div:nth-child(-n+2){margin-top: 0}
	.employ_main .emp_review .flex > div:nth-child(2n){margin-right: 0;}
	.employ_main .emp_review .flex .txt{padding: 20px}
	.employ_main .emp_process .flex .tit{font-size: 16px;margin: 0 auto 20px auto;max-width: 362px;}
	.employ_main .emp_process{padding: 30px 0}
	.employ_main .emp_review .flex .ico{background-size: 50px !important;width: 50px;height: 48px;margin: 0 auto 20px auto}
	.employ_main .emp_process .flex{display: block;}
	.employ_main .emp_process .flex > div{width: 100%;margin-right: 0;margin-bottom: 30px;text-align: center;}
	.employ_main .emp_process .flex > div:last-child{margin-bottom: 0}
	
	/*취업진로상담 결과*/
	.date_flex{display: block}
	.date_flex .write_table{width: 100%;}
	.date_flex .date_wrap{display: block}
	.date_flex .date{width: auto;margin-bottom: 10px}
	.emp_current .cs_status .top{margin-bottom: 20px}
	.emp_current .cs_status .top a{margin-left: 0;margin-top: 10px;display: inline-block}
	.emp_current .cs_status .top h3{font-size: 18px;}
	.emp_current .cs_status .top a{font-size: 14px;padding: 5px 20px}
	
	/*자기소개서 가이드북 더보기 */
	.sub_search{margin: 30px 0;padding: 30px 20px}
	.sub_search .select_list{display: block;}
	.sub_search .select_list li{width: 100%;margin-right: 0;padding-right: 0;margin-bottom: 10px}
	.select_style02{padding-left: 0}
	.sub_search .select_list li:after{display: none}
	.select_style02,
	.sub_search .input_wrap input{font-size: 15px}
	.post_list .post_article .guide_book_list{width: 100%;font-size: 14px}
	.post_list .post_article .btn_area{margin-top: 20px;text-align: center;}
	.post_list .post_article .btn_area a{position:static;display: inline-block;}
	.post_list .post_article .company_name{font-size: 15px}
	.post_list .post_article .btn_area a{padding: 5px 30px}
	.post_list .post_article .guide_book_list01 li{margin-right: 20px}
	.post_list .post_article .top .bg_orange,
	.post_list .post_article .top .orange{font-size: 15px}
	.post_list .post_article .tit{margin: 15px 0;font-size: 16px}
	.post_list .post_article .left{width: 100%}
	.post_list .post_article .tag li{font-size: 15px}
	.it_view .tit{font-size: 16px}
	.it_view .desc{font-size: 14px;margin-top: 10px}
	.list_btn{margin-top: 30px}
	.list_btn a{font-size: 14px;padding: 10px 40px}
	
	/* 가이드북 더보기 */
	.nav_view_wrap{margin-top: 30px}
	.nav_view_wrap .nav_view_cont .tit{font-size: 16px}
	.nav_view_wrap .nav_view_cont .desc{font-size: 15px}
}

@media all and (max-width:480px){
	.consulting_wrap .main_section01 h2{word-break: keep-all;font-size: 18px}
	consulting_wrap .visal{background-size: 280px}
	.consulting_wrap .review .flex{display: block;}
	.consulting_wrap .review .item{padding: 30px 20px}
	.consulting_wrap .review .flex .img{margin: auto}
	.consulting_wrap .review .slick-current .txt{width: 100%;margin-top: 20px}
	.consulting_wrap .review .slick-current .tag{text-align: center}
	.consulting_wrap .apply_area h3{word-break: keep-all}
	.consulting_wrap .apply_area .flex .item{width: 100%;margin-top: 30px}
	.consulting_wrap .apply_area .flex .item:nth-child(2){margin-top: 30px}
	.consulting_wrap .review .slick-current .txt p{font-size: 14px !important}
	.consulting_wrap .review .flex .tag span{font-size: 13px}
	.consulting_wrap .review .slick-dots li{margin: 0 5px}
	.consulting_wrap .review .slick-dots li button{width: 10px;height: 10px;border-radius: 50%;background: #d6d6d6;text-indent: -9999px;}
	.consulting_wrap .review .item{box-shadow: none}
	.consulting_wrap .review .slick-dots li.slick-active button{background: #2189ff}
	
	/* 취업진로상담 메인 */
	.employ_main .emp_info .flex .circle{width: 140px;height: 140px;font-size: 26px}
	.employ_main .emp_info .flex .tit{font-size: 15px}
	
	/* 취업진로상담 작성 */
	.emp_cont{margin-top: 20px}
	.emp_cont > div{display: block;}
	.emp_cont > div .wr_tit{width: 100%;margin-bottom: 10px;font-size: 14px}
	.emp_cont > div .wr_txt {width: 100%;font-size: 15px}
}
