@charset "utf-8";

html{scroll-behavior:smooth;}
#main{position:relative;color:#231f20;padding-top:170px;transition:all .5s;}
.fixed ~ #main{padding-top:90px;transition:all .25s;}
@media (max-width:1199px) {
    #main{padding-top:0 !important;}
}


#visual{position:relative;z-index:5;}
#visual .slick{position:relative;z-index:10;}
#visual .slick .slide{position:relative;padding-bottom:45px;}
#visual .slick .text{display:block;background:rgba(25,77,176,.9);height:336px;width:855px;position:absolute;bottom:0;left:50%;margin-left:115px;z-index:10;color:#fff;padding:45px 0 0 45px;}
#visual .slick .text span{display:block;line-height:1.2;margin-bottom:10px;font-family: 'KoreanYNSJG';font-size:20px;font-weight:400;}
#visual .slick .text h2{line-height:1.2;font-size:48px;font-family: 'KoreanYNSJG';font-weight:200;letter-spacing:-3px;margin-bottom:10px;}
#visual .slick .text h2 strong{font-weight:400;}
#visual .slick .text p{word-break:keep-all;font-size:17px;line-height:1.4;max-width:450px;}
#visual .slick-current .text span{animation:move1 .5s 0s 1 both ease-out;}
#visual .slick-current .text h2{animation:move2 .5s .5s 1 both ease-out;}
#visual .slick-current .text p{animation:move3 .5s 1s 1 both ease-out;}

@keyframes move1{ 
    0%{transform:translateY(-110%);opacity:0;}
    100%{transform:translateY(0%);opacity:1;} 
}

@keyframes move2{ 
    0%{transform:translateY(-50%);opacity:0;}
    100%{transform:translateY(0%);opacity:1;} 
}

@keyframes move3{ 
    0%{opacity:0;}
    100%{opacity:1;} 
}

#visual .slick-dots{position:absolute;z-index:1500;bottom:78px;left:50%;margin-left:160px;height:10px;}
#visual .slick-dots li{display:inline-block;vertical-align:top;}
#visual .slick-dots a{width:10px;height:10px;border-radius:5px;font-size:0;transition:all .25s;background:#fff;display:block;margin-right:7px;}
#visual .slick-dots .slick-active a{width:44px;background:#132265;}

#visual .search{position:absolute;z-index:20;bottom:85px;right:50%;margin-right:-68px;overflow:hidden;border-radius:10px;background:#fff;width:690px;padding-right:60px;}
#visual .search:before{content:'';display:block;z-index:-1;position:absolute;top:0;left:0;right:0;bottom:0;border:4px solid #3067c2;border-radius:10px;}
#visual .search input[type="search"]{padding-left:20px;height:60px;display:block;width:100%;color:#898989;font-size:18px;letter-spacing:-1px;font-family:'NanumSquareRound', 'Noto Sans KR', sans-serif;background:transparent}
#visual .search input[type="submit"]{display:block;position:absolute;width:58px;position:absolute;top:0px;bottom:0px;right:0px;font-size:0;background:#3067c2 url(/page/eroom/images/common/sp_eroom.png) 9px -51px no-repeat;background-size:520px 520px;}
#visual .search input[type="search"]:focus::placeholder{color:transparent}
#visual .search input[type="submit"]:hover{background-color:#11367b;transition:all .2s;}

#shortcut{position:relative;padding:45px 0 40px;}
#shortcut .bx{display:flex;margin:0 -60px;}
#shortcut .bx a{flex:1;text-align:center;color:#000;font-size:18px;font-weight:700;position:relative;}
#shortcut .bx a i{display:flex;position:relative;margin:0 auto 20px;width:110px;height:110px;border-radius:50%;background:#fba704;transition:all .25s;justify-content:center;align-items:center;z-index:2;}
#shortcut .bx a i:after{content:'';width:70px;height:70px;background:url(/page/eroom/images/common/sp_eroom.png) -44px -45px no-repeat;background-size:520px 520px;}
#shortcut .bx a i.v2{background:#fa5333;}
#shortcut .bx a i.v3{background:#01a59f;}
#shortcut .bx a i.v4{background:#0458fb;}
#shortcut .bx a i.v5{background:#f04e73;}
#shortcut .bx a i.v6{background:#9d0ed8;}
#shortcut .bx a i.v2:after{background-position:-124px -45px;}
#shortcut .bx a i.v3:after{background-position:-203px -45px;}
#shortcut .bx a i.v4:after{background-position:-277px -45px;width:85px}
#shortcut .bx a i.v5:after{background-position:-364px -45px;}
#shortcut .bx a i.v6:after{background-position:-443px -45px;}
#shortcut .bx a i:before{content:'';display:block;position:absolute;top:3px;bottom:3px;left:3px;right:3px;border:1px solid #fba704;border-radius:50%;background:rgba(251,167,4,.1);transition:all .25s ease-out;}
#shortcut .bx a i.v2:before{border-color:#fa5333;background:rgba(250,83,51,.1);}
#shortcut .bx a i.v3:before{border-color:#01a59f;background:rgba(1,165,159,.1);}
#shortcut .bx a i.v4:before{border-color:#0458fb;background:rgba(4,88,251,.1);}
#shortcut .bx a i.v5:before{border-color:#f04e73;background:rgba(240,78,115,.1);}
#shortcut .bx a i.v6:before{border-color:#9d0ed8;background:rgba(157,14,216,.1);}
#shortcut .bx a:hover i:before{top:-13px;bottom:-13px;left:-13px;right:-13px;}




#shortcut .bx a:not(:first-child):after{content:'';display:block;height:100px;width:0;border-left:1px dashed #d8d8d8;position:absolute;top:5px;left:0;}
