@charset "utf-8";

#main{position:relative;background:#f0f2fa;}

#visual{position:relative;}
#visual .slick{position:relative;overflow:hidden;z-index:5;}
#visual .slick .slide{height:780px;overflow:hidden;position:relative;}
#visual .slick .slide img{height:780px;width:1920px;position:absolute;left:50%;top:50%;margin:-390px 0 0 -960px;display:block;}
#visual .slick .slide .text{position:absolute;z-index:2;color:#fff;top:200px;left:50%;margin-left:-600px;}
#visual .slick .slide .text h2{font-family:'Cafe24', sans-serif;line-height:1.4;font-size:36px;text-shadow:0px 0px 5px rgba(0,0,0,.3);}
#visual .slick .slide .text h2 strong{display:block;font-size:48px;white-space:nowrap;}
#visual .slick .slide .text p{margin-top:3px;line-height:1.4;font-weight:300;font-size:22px;text-shadow:0px 0px 5px rgba(0,0,0,.3);}
#visual .slick .slide .text p strong{font-weight:500;}

#visual .slick .slide.slick-current .text h2{animation:up1 1s .15s ease 1 both;} 
#visual .slick .slide.slick-current .text p{animation:up1 1.2s .3s ease 1 both;} 

@keyframes up1{ 
    0%{transform:translateY(40px);opacity:0;}
    100%{transform:translateY(0);opacity:1;} 
}

#visual .control{position:absolute;z-index:5;top:435px;left:50%;margin-left:-600px;transform-origin:0% 50%;}
#visual .control .dots{display:inline-block;vertical-align:middle;margin-right:18px;}
#visual .control .dots ul{line-height:1;}
#visual .control .dots li{display:inline-block;vertical-align:top;line-height:1;}
#visual .control .dots li + li{margin-left:6px;}
#visual .control .dots a{display:block;width:15px;height:15px;background:#fff;border-radius:50%;transition:all .3s;overflow:hidden;text-indent:-9999px;}
#visual .control .dots a:hover{opacity:.8;}
#visual .control .dots a:active{transform:scale(.9);}
#visual .control .dots .slick-active a{background:transparent;width:80px;border:2px solid #fff;border-radius:8px;pointer-events:none;}
#visual .control a[role="button"]{width:12px;height:19px;vertical-align:middle;overflow:hidden;text-indent:-9999px;display:inline-block;position:relative;transition:all .1s;}
#visual .control a[role="button"] + a[role="button"]{margin-left:10px;}
#visual .control a.play{display:none;}
#visual .control a.prev:after{content:'';display:block;border:2px solid #fff;width:11px;height:11px;border-width:2px 2px 0 0;transform:rotate(-135deg);position:absolute;top:3px;left:3px;}
#visual .control a.next:after{content:'';display:block;border:2px solid #fff;width:11px;height:11px;border-width:2px 2px 0 0;transform:rotate(45deg);position:absolute;top:4px;left:-5px;}
#visual .control a.pause:after{content:'';display:block;width:2px;background:#fff;position:absolute;top:0;left:0;bottom:0;}
#visual .control a.pause:before{content:'';display:block;width:2px;background:#fff;position:absolute;top:0;right:0;bottom:0;}
#visual .control a.play:after{content:'';display:block;border-left:10px solid #fff;border-top:10px solid transparent;border-bottom:10px solid transparent;position:absolute;top:0px;left:2px;}
#visual .control a[role="button"]:active{transform:scale(.9);}

#notify{position:absolute;width:450px;bottom:30px;right:50%;margin-right:-700px;z-index:20;}
#notify .slick02{overflow:hidden;box-shadow:2px 2px 10px 0px rgba(0,0,0,.2);border-radius:30px 0 30px 0;}
#notify .control02{height:36px;background:rgba(0,0,0,.6);border-radius:18px;padding:0 15px;position:absolute;right:0;top:-41px;}
#notify .slide img{transition:all .3s;image-rendering:-webkit-optimize-contrast;}
#notify .slide:hover img{transform:scale(1.05);image-rendering:-webkit-optimize-contrast;}

#notify .control02 a[role="button"]{width:10px;height:14px;vertical-align:middle;overflow:hidden;text-indent:-9999px;display:inline-block;position:relative;transition:all .1s;margin-top:5px;}
#notify .control02 a[role="button"] + a[role="button"]{margin-left:10px;}
#notify .control02 a.play{display:none;}
#notify .control02 a.prev:after{content:'';display:block;border:2px solid #fff;width:8px;height:8px;border-width:2px 2px 0 0;transform:rotate(-135deg);position:absolute;top:2px;left:3px;}
#notify .control02 a.next:after{content:'';display:block;border:2px solid #fff;width:8px;height:8px;border-width:2px 2px 0 0;transform:rotate(45deg);position:absolute;top:2px;left:-3px;}
#notify .control02 a.pause:after{content:'';display:block;width:2px;background:#fff;position:absolute;top:0;left:0;bottom:0;}
#notify .control02 a.pause:before{content:'';display:block;width:2px;background:#fff;position:absolute;top:0;right:0;bottom:0;}
#notify .control02 a.play:after{content:'';display:block;border-left:7px solid #fff;border-top:6px solid transparent;border-bottom:6px solid transparent;position:absolute;top: 1px;left:2px;}
#notify .control02 a[role="button"]:active{transform:scale(.9);}
#notify .count{display:inline-block;margin:3px 12px 0;vertical-align:middle;color:#d2d1d1;font-size:16px;line-height:1;}
#notify .count em{font-size:20px;font-weight:500;color:#fff;}


@media (max-width:1400px) {
    #notify{bottom:30px;right:20px;margin-right:0px;}
    #visual .control{left:20px;margin-left:0px;}
    #visual .slick .slide .text{left:20px;margin-left:0px;}
}


@media (max-width:1199px) {
    #visual .slick .slide{height:700px;}
    #visual .slick .slide img{height:700px;width:1723px;margin:-350px 0 0 -860px;}
    #visual .slick .slide .text{top:150px;}
    #visual .slick .slide .text h2{font-size:30px;}
    #visual .slick .slide .text h2 strong{font-size:40px;}
    #visual .slick .slide .text p{font-size:18px;}

    #visual .control{top:320px;}
    #notify{width:380px;bottom:20px;}
    #notify .control02 a[role="button"]{margin-top:6px;}
    #notify .count{margin-top:2px;}
}

@media (max-width:991px) {
    #visual .slick .slide{height:640px;}
    #visual .slick .slide img{height:640px;width:1575px;margin:-320px 0 0 -787px;}
    #visual .slick .slide .text{top:120px;}
    #visual .slick .slide .text h2{font-size:28px;}
    #visual .slick .slide .text h2 strong{font-size:36px;}
    #visual .slick .slide .text p{font-size:16px;}

    #visual .control{top:260px;transform:scale(.9);}
    #notify{width:370px;bottom:20px;}
    #notify .control02 a[role="button"]{margin-top:4px;}
    #notify .count{margin:1px 10px 0;font-size:14px;}
    #notify .count em{font-size:16px;}
    #notify .control02{height:34px;}
    #notify .control02 a[role="button"] + a[role="button"]{margin-left:7px;}
}


@media (max-width:760px) {
    #visual{padding-bottom:60px;}
    #visual .slick .slide{height:600px;}
    #visual .slick .slide img{height:600px;width:1477px;margin:-320px 0 0 -735px;}
    #visual .slick .slide .text{top:100px;left:15px;}
    #visual .slick .slide .text h2{font-size:22px;text-shadow:0px 0px 3px rgba(0,0,0,.3);}
    #visual .slick .slide .text h2 strong{font-size:28px;}
    #visual .slick .slide .text p{font-size:14px;text-shadow:0px 0px 2px rgba(0,0,0,.3);}

    #visual .control{top:210px;transform:scale(.9);left:15px;}
    #notify{width:360px;bottom:20px;}
    #notify .control02 a[role="button"]{margin-top:4px;}
    #notify .count{margin:1px 10px 0;font-size:14px;}
    #notify .count em{font-size:16px;}
    #notify .control02{height:34px;}
    #notify .control02 a[role="button"] + a[role="button"]{margin-left:7px;}
    #visual .control .dots a{width:12px;height:12px;}
    #visual .control .dots{margin-right:12px;}

    #notify .slide img{}
    #notify .slick-list{border-radius:30px 0 30px 0;overflow:hidden;}
}


@media (max-width:500px) {
    #visual{padding-bottom:140px;}
    #notify{width:360px;bottom:20px;left:50%;right:auto;margin-left:-180px}
}


#notice{position:relative;background:#fff;height:60px;}
#notice .inner{height:60px;}
#notice h2{position:absolute;width:90px;height:36px;line-height:34px;background:#314aff;color:#fff;text-align:center;position:absolute;top:50%;margin-top:-18px;left:20px;border-radius:15px 0 15px 0;font-weight:500;font-size:18px;}
#notice .slick{padding:0 235px 0 207px;height:60px;}
#notice .slick .slide{height:60px;line-height:58px;position:relative;position:relative;padding-right:95px;}
#notice .slick .slide strong{display:block;padding-left:13px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#333;position:relative;font-weight:400;transition:all .1s;}
#notice .slick .slide strong:after{content:'';display:block;width:5px;height:5px;background:#4a60ff;border-radius:50%;position:absolute;top:50%;margin-top:-2px;left:0;}
#notice .slick .slide span{display:block;position:absolute;right:0;top:0;color:#9a9a9a;font-weight:300;}
#notice .control{position:absolute;right:20px;top:50%;margin-top:-15px}
#notice .control a{display:inline-block;vertical-align:top;background:url(/page/gangwonedu/images/common/sp_gangwonedu.png) -25px -185px no-repeat;background-size:800px 480px;width:30px;height:30px;transition:all .15s;overflow:hidden;text-indent:-9999px;}
#notice .control a + a{margin-left:7px;}
#notice .control a.next{background-position-x:-265px;}
#notice .control a.pause{background-position-x:-105px;}
#notice .control a.play{background-position-x:-185px;display:none;}
#notice .control a.more{background-position-x:-344px;}
#notice .control a.more:hover{transform:rotate(180deg);}


@media (max-width:1199px) {
    #notice{height:58px;}
    #notice .inner{height:58px;}
    #notice h2{width:16px;height:20px;background:url(/page/gangwonedu/images/main/icon01.png) center center no-repeat;margin-top:-10px;background-size:cover;text-indent:-9999px;overflow:hidden;border-radius:0;}
    #notice .control a{display:none !important;}
    #notice .control a.more{display:block !important;}
    #notice .slick{padding:0 55px 0 50px;font-size:15px;height:58px;}
    #notice .slick .slide{height:58px;}
}

@media (max-width:991px) {
    #notice{height:54px;}
    #notice .inner{height:54px;}
    #notice .slick{padding:0 50px 0 40px;height:54px;}
    #notice .slick .slide{height:54px;line-height:52px;}
}

@media (max-width:761px) {
    #notice{height:52px;}
    #notice .inner{height:52px;}
    #notice .slick{padding:0 40px 0 35px;height:52px;font-size:14px;}
    #notice .slick .slide{height:52px;line-height:50px;padding-right:80px;}
    #notice .control{right:13px;}
}

.mtit{line-height:1.4;}
.mtit h2{color:#111}
.mtit h2 span{font-size:20px;font-weight:700;display:block;}
.mtit h2 strong{display:block;font-family:'Cafe24', sans-serif;font-size:36px;}
.mtit h2 strong em{color:#0069ea;}
.mtit p{color:#333;font-size:14px;margin-top:1px;}

@media (max-width:1199px) {
    .mtit h2 span{font-size:16px;}
    .mtit h2 strong{font-size:32px;}
}


@media (max-width:760px) {
    .mtit h2 span{font-size:14px;}
    .mtit h2 strong{font-size:28px;}
    .mtit p{margin-top:0px;}
}

#service{position:relative;padding:42px 0 42px;z-index:2;}
#service .mtit{position:absolute;left:20px;top:50%;transform:translateY(-50%);}
#service .bx{margin-left:calc(100% - 810px);}
#service .bx a{display:block;float:left;width:25%;text-align:center;transition:all .3s;}
#service .bx a i{display:block;margin:0 auto 15px;width:130px;height:130px;background:#fff;border-radius:50%;box-shadow:0px 0px 23px 0px rgba(0,0,0,.05);position:relative;transition:all .3s;}
#service .bx a i:after{content:'';display:block;background:url(/page/gangwonedu/images/common/sp_gangwonedu.png) -481px -161px no-repeat;background-size:800px 480px;width:78px;height:80px;transform-origin:50% 50%;position:absolute;top:50%;left:50%;margin:-40px 0 0 -38px;transition:all .3s;image-rendering:-webkit-optimize-contrast;}
#service .bx a:hover i:after{transform:scale(1.1);image-rendering:-webkit-optimize-contrast;transition:all .3s;}
#service .bx a:hover i{transform:translateY(-8px);}
#service .bx a i.v2:after{background-position-x:-562px;}
#service .bx a i.v3:after{background-position-x:-641px;}
#service .bx a i.v4:after{background-position-x:-722px;}
#service .bx a p{line-height:1.3;color:#111;font-size:18px;font-weight:500;text-align:center;}
#service .bx a p span{display:block;font-size:16px;}

@media (max-width:1199px) {
    #service{position:relative;padding:38px 0 38px}
    #service .bx{margin-left:calc(100% - 700px);}
    #service .bx a i{margin:0 auto 12px;width:110px;height:110px;box-shadow:0px 0px 18px 0px rgba(0,0,0,.05);}
    #service .bx a p{font-size:16px;}
    #service .bx a p span{font-size:14px;}
    #service .bx a i:after{transform:scale(.85);}
    #service .bx a:hover i:after{transform:scale(.95);}
}

@media (max-width:991px) {
    #service .mtit{visibility:hidden;}
    #service{padding:36px 0 36px}
    #service .bx{margin-left:0;}
    #service .bx a p{font-size:15px;}
    #service .bx a p span{font-size:13px;}
    #service .bx a i{width:100px;height:100px;}
    #service .bx a i:after{transform:scale(.8);}
    #service .bx a:hover i:after{transform:scale(.9);}
}

@media (max-width:760px) {
    #service{padding:35px 0 33px}
    #service .inner{padding:0 5px;}
    #service .bx a p{font-size:14px;}
    #service .bx a p span{font-size:12px;}
    #service .bx a i{width:80px;height:80px;}
    #service .bx a i:after{transform:scale(.65);}
    #service .bx a:hover i:after{transform:scale(.75);}
}  


#news{position:relative;padding:65px 0 45px;z-index:1;}
#news:before{content:'';display:block;position:absolute;bottom:0;left:50%;margin-left:-530px;width:1490px;height:784px;z-index:-1;background:url(/page/gangwonedu/images/main/bg_news.png) 0 0 no-repeat;background-size:cover;}
#news .mtit{text-align:center;}
#news .more{display:block;position:absolute;top:55px;right:20px;transition:all .2s;background:url(/page/gangwonedu/images/common/sp_gangwonedu.png) -424px -184px no-repeat;background-size:800px 480px;width:32px;height:32px;overflow:hidden;text-indent:-9999px;}
#news .more:hover{transform:rotate(180deg);}
#news .bx{white-space:nowrap;/*overflow-x:auto;-webkit-overflow-scrolling:touch;*/;padding:45px 0 20px;}
#news .bx a{display:inline-block;transition:all .3s;vertical-align:top;margin-right:36px;width:270px;box-shadow:0px 5px 20px 0px rgba(0,0,0,.1);padding:45px 15px 45px 20px;background:#fff;border-radius:30px 0 30px 0;white-space:normal;line-height:1.4;word-break:keep-all;}
#news .bx a:nth-of-type(2n){color:#fff;background:#152b94;}
#news .bx strong{display:block;height:2.6em;font-size:20px;font-weight:700;color:#333;line-height:1.3;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}
#news .bx a:hover{transform:translateY(-15px);box-shadow:0px 5px 30px 0px rgba(0,0,0,.2)}
#news .bx p{margin-top:27px;color:#333;line-height:1.4;display:-webkit-box;-webkit-line-clamp:4;-webkit-box-orient:vertical;overflow:hidden;height: 5.6em;}
#news .bx a:nth-of-type(2n) strong,
#news .bx a:nth-of-type(2n) p{color:#fff;}
#news .bx span{display:block;margin-top:30px;line-height:1.2;color:#9a9a9a;}
#news .bx a:nth-of-type(2n) span{color:#8c98ad;}


@media (max-width:1199px) {
    #news{padding:40px 0 30px;}
    #news:before{bottom:-90px;}
    #news .bx{overflow-x:auto;-webkit-overflow-scrolling:touch;margin:0 -20px 0;padding:30px 0 20px 20px;}
    #news .more{transform:scale(.8);right:10px;}
    #news .bx a{margin-right:30px;width:260px;padding:40px 15px 40px 20px;border-radius:20px 0 20px 0;box-shadow:3px 3px 10px 0px rgba(0,0,0,.15);}
    #news .bx strong{font-size:18px;}
    #news .bx p{margin-top:23px;font-size:15px;}
    #news .bx span{margin-top:25px;}
    #news .more:hover{transform:none;}
}

@media (max-width:991px) {
    #news .mtit{text-align:left;}
    #news{padding:30px 0 20px;}
    #news:before{bottom:-130px;}
    #news .bx{padding:25px 0 20px 20px;}
    #news .more{transform:scale(.8);}
    #news .bx a{margin-right:25px;width:250px;padding:35px 15px 35px 20px;}
    #news .bx p{margin-top:20px;}
    #news .bx span{margin-top:23px;}
}

@media (max-width:760px) {
    #news{padding:40px 0 25px;}
    #news:before{bottom:-85px;}
    #news .bx{padding:25px 0 15px 15px;margin:0 -15px 0;}
    #news .more{transform:scale(.65);right:5px;top:50px;}
    #news .bx a{margin-right:20px;width:240px;padding:47px 15px 47px 20px;}
    #news .bx p{margin-top:26px;font-size:15px;}
    #news .bx span{margin-top:30px;font-size:14px;}
    #news .bx strong{font-size:18px;line-height:1.4;height:2.8em}
}

#photo{position:relative;z-index:3;background:#f0f2fa;padding:50px 0 50px;}
#photo .mtit{position:absolute;left:20px;top:50%;transform:translateY(-60%);}
#photo .more{display:block;position:absolute;top:220px;left:20px;transition:all .2s;background:url(/page/gangwonedu/images/common/sp_gangwonedu.png) -424px -184px no-repeat;background-size:800px 480px;width:32px;height:32px;overflow:hidden;text-indent:-9999px;}
#photo .more:hover{transform:rotate(180deg);}
#photo .bx{white-space:nowrap;/*overflow-x:auto;-webkit-overflow-scrolling:touch;*/;padding:20px 0 20px 310px;}
#photo .bx a{display:inline-block;transition:all .3s;vertical-align:top;margin-right:36px;width:270px;height:275px;box-shadow:0px 5px 20px 0px rgba(0,0,0,.1);border-radius:30px 0 30px 0;overflow:hidden;position:relative;}
#photo .bx a img{display:block;min-width:100%;min-height:100%;position:absolute;top:-100%;bottom:-100%;left:-100%;right:-100%;margin:auto;}
#photo .bx a:hover{transform:translateY(-15px);box-shadow:0px 5px 30px 0px rgba(0,0,0,.2)}

@media (max-width:1199px) {
    #photo{padding:35px 0 30px;}
    #photo .bx{overflow-x:auto;-webkit-overflow-scrolling:touch;margin:0 -20px 0;padding:20px 0 20px 315px;}
    #photo .more{transform:scale(.8);top:215px}
    #photo .bx a{margin-right:30px;width:260px;height:265px;border-radius:20px 0 20px 0;box-shadow:3px 3px 10px 0px rgba(0,0,0,.15);}
    #photo .more:hover{transform:none;}
}

@media (max-width:991px) {
    #photo{padding:25px 0 20px;}
    #photo .bx{padding:20px 0 20px 300px;}
    #photo .bx a{margin-right:25px;width:250px;height:255px;}
}

@media (max-width:760px) {

    #photo{padding:31px 0 20px;}
    #photo .mtit{position:relative;left:auto;top:auto;transform:translateY(0);}
    #photo .bx{padding:25px 0 15px 15px;margin:0 -15px 0;}
    #photo .more{transform:scale(.65);right:5px;left:auto;top:70px;}
    #photo .bx a{margin-right:20px;width:240px;height:245px;}
}


#video{position:relative;padding:65px 0 65px;z-index:5;}
#video:before{content:'';display:block;position:absolute;bottom:0;right:50%;margin-right:-790px;width:1745px;height:930px;z-index:-1;background:url(/page/gangwonedu/images/main/bg_edu.png) 0 0 no-repeat;background-size:cover;pointer-events:none;}
#video .mtit{text-align:center;}
#video .more{display:block;position:absolute;top:55px;right:20px;transition:all .2s;background:url(/page/gangwonedu/images/common/sp_gangwonedu.png) -424px -184px no-repeat;background-size:800px 480px;width:32px;height:32px;overflow:hidden;text-indent:-9999px;}
#video .more:hover{transform:rotate(180deg);}
#video .bx{padding:48px 0 0;}
#video .bx a{display:block;float:left;border-radius:30px 0 30px 0;width:calc((100% - 39px) / 2);margin-right:39px;overflow:hidden;transition:all .3s;position:relative;}
#video .bx a:last-child{margin-right:0;}

#video .bx a img{display:block;width:100%;transition:all .3s;image-rendering:-webkit-optimize-contrast;}
#video .bx a:hover img{transform:scale(1.1);}
#video .bx a p{position:absolute;bottom:50px;left:40px;line-height:1.4;color:#fff;font-weight:700;font-size:20px;}
#video .bx a:after{content:'';display:block;transition:all .3s;background:url(/page/gangwonedu/images/common/sp_gangwonedu.png) -10px -250px no-repeat;background-size:800px 480px;width:60px;height:60px;position:absolute;bottom:36px;right:36px;transform-origin:100% 100%;}
#video .bx a:hover:after{transform:scale(.9);image-rendering:-webkit-optimize-contrast;}


@media (max-width:1199px) {
    #video{padding:50px 0 50px;z-index:1;}
    #video:before{bottom:-112px;}
    #video .more{transform:scale(.8);right:10px;}
    #video .more:hover{transform:none;}
    #video .bx{padding:35px 0 0;}
    #video .bx a{width:calc((100% - 33px) / 2);margin-right:33px;}
    #video .bx a p{bottom:40px;left:30px;font-size:18px;}
    #video .bx a:after{bottom:26px;right:26px;transform:scale(.9);}
    #video .bx a:hover:after{transform:scale(1);}
    #video .bx a:hover img{transform:none;}
}

@media (max-width:991px) {
    #video{padding:40px 0 40px;z-index:1;}
    #video .mtit{text-align:left;}
    #video .bx{padding:24px 0 0;}
    #video .more{transform:scale(.8);}
    #video .bx a{width:calc((100% - 28px) / 2);margin-right:28px;}
    #video .bx a p{bottom:30px;left:20px;font-size:18px;}
    #video .bx a:after{bottom:20px;right:20px;transform:scale(.8);}
    #video .bx a:hover:after{transform:scale(.9);}
}

@media (max-width:760px) {
    #video{padding:40px 0 40px;background:#e5e4fa;}
    #video:before{display:none;}
    #video .bx{padding:25px 0 0;}
    #video .bx a{width:calc((100% - 23px) / 2);margin-right:23px;}
    #video .more{transform:scale(.65);right:5px;top:50px;} 
}

@media (max-width:600px) {
    #video .more{transform:scale(.65);right:5px;}
    #video .bx a{width:100%;margin-right:0;float:none;}
    #video .bx a + a{margin-top:20px;}
}

#shortcut{overflow:hidden;height:200px;position:relative;z-index:15;}
#shortcut a{display:block;height:200px;position:relative;float:left;width:50%;padding-top:38px;}
#shortcut a:before{content:'';display:block;position:absolute;right:0;top:0;background:url(/page/gangwonedu/images/main/teach.jpg) center center no-repeat;width:960px;height:200px;background-size:cover;z-index:-1;transition:all .3s;transform-origin:0% 50%;}
#shortcut a.pro:before{right:auto;left:0;background-image:url(/page/gangwonedu/images/main/law.jpg);}
#shortcut a.pro{padding-left:58px;}
#shortcut h2{color:#fff;line-height:1.2;font-family:'Cafe24', sans-serif;font-size:37px;text-shadow:0px 0px 3px rgba(0,0,0,.3);font-weight:500;}
#shortcut p{line-height:1.2;text-shadow:0px 0px 3px rgba(0,0,0,.3);color:#fff;font-size:15px;margin-top:5px;}
#shortcut span{display:block;height:36px;line-height:34px;background:#fff;border-radius:18px;padding-left:20px;margin-top:15px;font-weight:700;width:174px;transition:all .2s;}
#shortcut span:after{content:'';display:inline-block;vertical-align:-4px;width:16px;height:19px;margin-left:10px;;background:url(/page/gangwonedu/images/common/sp_gangwonedu.png) -112px -271px no-repeat;background-size:800px 480px;}
#shortcut a.pro span:after{background-position-x:-192px;}
#shortcut a:hover span{background:#ddd;}

@media (max-width:1199px) {
    #shortcut{height:180px;}
    #shortcut .inner{padding:0;}
    #shortcut a{height:180px;padding-top:34px;overflow:hidden;padding-left:30px;}
    #shortcut a:before{width:864px;height:180px;left:0px;right:auto;}
    #shortcut a.pro{padding-left:30px;}
    #shortcut a.pro:before{right:0px;left:auto;}
    #shortcut a:hover:before{transform:scale(1);}

    #shortcut h2{font-size:32px;}
    #shortcut p{font-size:14px;margin-top:5px;}
}

@media (max-width:991px) {
    #shortcut{height:170px;}
    #shortcut a{height:170px;padding-top:32px;padding-left:30px;}
    #shortcut a:before{width:816px;height:170px;left:0px;right:auto;}
    #shortcut a.pro{padding-left:30px;}
    #shortcut h2{font-size:30px;}
}

@media (max-width:760px) {
    #shortcut{height:auto;}
    #shortcut a{height:160px;padding-top:28px;float:none;width:100%;}
    #shortcut a:before{width:766px;height:160px;left:0px;right:auto;}
    #shortcut h2{font-size:28px;}
    #shortcut span{height:34px;line-height:34px;padding-left:15px;width:160px;font-size:15px;}
}


@media (max-width:420px) {
    #shortcut a:before{left:-140px;}
    #shortcut a.pro:before{left:-95px;}
}