@charset "utf-8";

#header {background:rgba(255,255,255,1)}
#header h1 a{background-image:url(/page/gangwonedu/images/common/header_logo_on.png);}
#header #gnb_pc .depth_01 h2 a{color:#333;}
#header .btn_box a{background-position:-105px -26px;}
#header .btn_box a.sitemap,
#header .btn_box a.mopen{background-position:-345px -26px;}


#sub{padding-top:80px;overflow:hidden;}
#sub #content{padding-bottom:60px;}
#sub .inner{max-width:1240px;padding:0 20px;}

@media (max-width:1199px) {
  #sub{padding-top:60px;}
  #sub .inner{padding:0 20px;overflow:hidden;}
  #sub #content{padding-bottom:40px;}
  #header.fixed + #sub{padding-top:50px;}
}

@media (max-width:760px) {
  #sub .inner{padding:0 15px;}
  #sub #content{padding-bottom:30px;}
}

@media (max-width:1040px) {
  .skinTb-wrapper.width1000{margin-right:-20px;}
}

@media (max-width:808px) {
  .skinTb-wrapper.width768{margin-right:-20px;}
}

@media (max-width:670px) {
  .skinTb-wrapper.width640{margin-right:-15px;}
}

#breadcrumb{background:#f5f5f5;border-bottom:1px solid #e6e6e6;z-index:50;position:relative;}
#breadcrumb .inner{overflow:visible;}
#breadcrumb .home{display:block;float:left;height:45px;width:32px;background:url(/page/gangwonedu/images/common/sp_tour.png) -9px 2px no-repeat;background-size:520px 520px;overflow:hidden;text-indent:-9999px;transition:all .15s;}
#breadcrumb .home:hover{transform:scale(1.05);}
#breadcrumb .home:active{transform:scale(.95);}
#breadcrumb .box{float:left;position:relative;margin-left:9px;min-width:168px;}
#breadcrumb .box:after{content:'';display:block;width:9px;height:16px;position:absolute;left:-9px;top:50%;margin-top:-9px;;background:url(/page/gangwonedu/images/common/sp_tour.png) -56px -12px no-repeat;background-size:520px 520px;}
#breadcrumb .box .open{display:block;padding:0 45px 0 12px;height:45px;line-height:45px;position:relative;font-size:15px;font-weight:300;color:#000;transition:all .15s;}
#breadcrumb .box .open:after{content:'';display:block;width:10px;height:8px;position:absolute;right:11px;top:50%;margin-top:-4px;background:url(/page/gangwonedu/images/common/sp_tour.png) -96px -16px no-repeat;background-size:520px 520px;transition:all .15s;}
#breadcrumb .box .open:hover{font-weight:500;}
#breadcrumb .box .open:hover:after{animation:updown01 .3s linear infinite alternate;}
@keyframes updown01{ 
  0%{margin-top:-6px;}
  100%{margin-top:-2px;}
}
#breadcrumb .box .open.active:after{transform:rotate(180deg);margin-top:-5px;}
#breadcrumb .box .open:active .text{display:inline-block;}
#breadcrumb .box .open:active .text{transform:scale(.95);}
#breadcrumb .box ul{position:absolute;top:46px;left:0px;width:100%;background:#f5f5f5;border:1px solid #e6e6e6;border-top:0;padding:7px 0;display:none;}
#breadcrumb .box ul a{font-size:14px;display:block;height:28px;line-height:28px;padding:0 10px 0 12px;font-weight:300;transition:all .15s;}
#breadcrumb .box ul a:hover{font-weight:500;}
#breadcrumb .box ul a:active{transform:scale(.95);}

@media (max-width:760px) {
  #breadcrumb .home{height:42px;width:30px;background-position-y:1px;transform:scale(.95);}
  #breadcrumb .home:active{transform:scale(.95);}
  #breadcrumb .box{float:left;position:relative;margin-left:9px;min-width:auto;}
  #breadcrumb .box .open{font-size:14px;padding:0 10px 0 10px;height:42px;line-height:42px;pointer-events:none;}
  #breadcrumb .box .open:after{display:none !important;}
  #breadcrumb .box ul{display:none !important;}
  #breadcrumb .box:after{margin-top:-9px;transform:scale(.9);height:40px;width:33px;}
  
}


.title_box{text-align:center;position:relative;padding:36px 75px 20px;border-bottom:1px solid #dadada;margin-bottom:40px;z-index:15;background:#fff;}
.title_box h3{line-height:1.2;font-size:30px;font-weight:500;color:#000;}
.title_box .btn_box{position:absolute;bottom:12px;right:0px;}
.title_box .btn_box .print{display:block;float:left;background:url(/page/gangwonedu/images/common/sp_tour.png) -160px 0px no-repeat;background-size:520px 520px;transition:all .15s;width:35px;height:40px;overflow:hidden;text-indent:-9999px;}
.title_box .btn_box .print:hover{transform:scale(1.05);}
.title_box .btn_box .print:active{transform:scale(.95);}
.title_box .btn_box .share{float:left}
.title_box .btn_box .share .open{width:40px;height:40px;background:url(/page/gangwonedu/images/common/sp_tour.png) -122px 0px no-repeat;background-size:520px 520px;transition:all .15s;text-indent:-9999px;position:relative;overflow:hidden;text-indent:-9999px;display:block;}
.title_box .btn_box .share .open:hover{transform:scale(1.05);}
.title_box .btn_box .share .open:active{transform:scale(.95);}

.title_box .btn_box .share ul{position:absolute;top:41px;left:0px;z-index:30;display:none;}
.title_box .btn_box .share ul li + li{margin-top:2px;}
.title_box .btn_box .share ul li a{display:block;overflow:hidden;text-indent:-9999px;width:38px;height:38px;background:url(/page/common/images/sp_dq.png) -1px -321px no-repeat;background-size:520px 1500px;}
.title_box .btn_box .share ul li a.blog{background-position:-1px -321px;}
.title_box .btn_box .share ul li a.facebook{background-position:-41px -321px;}
.title_box .btn_box .share ul li a.twitter{background-position:-81px -321px;}
.title_box .btn_box .share ul li a.cacao{background-position:-121px -321px;}
.title_box .btn_box .share ul li a.insta{background-position:-161px -321px;}
.title_box .btn_box .share ul li a.utube{background-position:-201px -321px;}

@media (max-width:1199px) {
    .title_box{padding:30px 40px 17px;margin-bottom:30px;}
    .title_box h3{font-size:27px;}
    .title_box .btn_box{bottom:10px;}
    .title_box .btn_box .print{display:none;}

    .title_box .btn_box  .share ul{top:32px;}
    .title_box .btn_box  .share .open{width:31px;height:31px;background:url(/page/gangwonedu/images/common/sp_tour.png) -124px -4px no-repeat;background-size:520px 520px;}
    .title_box .btn_box  .share ul li a{width:30px;height:31px;background-size:400px 1154px;}
    .title_box .btn_box  .share ul li a.blog{background-position:0px -247px;}
    .title_box .btn_box  .share ul li a.facebook{background-position:-31px -247px;}
    .title_box .btn_box  .share ul li a.twitter{background-position:-62px -247px;}
    .title_box .btn_box  .share ul li a.cacao{background-position:-93px -247px;}
    .title_box .btn_box  .share ul li a.insta{background-position:-124px -247px;}
    .title_box .btn_box  .share ul li a.utube{background-position:-155px -247px;}  
}

@media (max-width:760px) {
    .title_box{padding:25px 30px 18px;margin-bottom:23px;}
    .title_box h3{font-size:23px;}
    .title_box .btn_box{bottom:10px;}
}

.contsArea p{font-weight:300}

@media (max-width:1199px) {
    .contsArea p{font-size:15px;}
}

.skbtn{display:inline-block;vertical-align:middle;position:relative;overflow:hidden;}
.skbtn + .skbtn{margin-left:19px;}
.skbtn.ty01{height:44px;line-height:40px;border-radius:5px;background:#303030;border:2px solid #303030;color:#fff;font-weight:300;font-size:18px;transition:all .1s;padding:0 50px;}
.skbtn.ty01:hover{background:#fff;color:#303030;text-decoration:none;}
.skbtn:hover,
.skbtn:hover span{text-decoration:none;}
.skbtn:hover:active{transform:scale(.95);}

.skbtn.ty02{height:52px;line-height:50px;background:#ffba00;border:2px solid #410099;color:#000;font-weight:500;font-size:20px;transition:all .1s;padding:0 50px;}
.skbtn.ty02:hover{background:#000;color:#ffba00;text-decoration:none;}

.skbtn.ty03{height:52px;line-height:50px;border:2px solid #410099;color:#410099;font-weight:500;font-size:20px;transition:all .1s;padding:0 50px;background:#fff;}
.skbtn.ty03 span{position:relative;display:inline-block;}
.skbtn.ty03:hover{text-decoration:none;color:#fff;}
.skbtn.ty03:before{content:'';position:absolute;bottom:0%;left:50%;background:#410099;width:410px;height:410px;margin-left:-200px;margin-bottom:-410px;transform-origin:50% 48%;border-radius:43%;transition-duration:1.5s;transition-property:margin-bottom;transition-timing-function:ease;}
.skbtn.ty03:hover:before{
  margin-bottom: -310px;
  animation: rotate 2000ms infinite linear;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}


@media (max-width:1199px) {
    .skbtn + .skbtn{margin-left:13px;}
    .skbtn.ty01{height:40px;line-height:36px;font-size:16px;padding:0 40px;}
    .skbtn.ty02{height:48px;line-height:46px;font-size:18px;padding:0 40px;}
    .skbtn.ty03{height:48px;line-height:46px;font-size:18px;padding:0 40px;}
}

@media (max-width:760px) {
    .skbtn + .skbtn{margin-left:10px;}
    .skbtn.ty01{height:36px;line-height:30px;font-size:15px;padding:0 30px;}
    .skbtn.ty02{height:36px;line-height:30px;font-size:15px;padding:0 30px;}
    .skbtn.ty03{height:36px;line-height:30px;font-size:15px;padding:0 30px;}
}


.process_list{margin-top:5px;}
.process_list li{position:relative;float:left;margin-right:40px;width:112px;margin-top:15px;}
.process_list li:last-child{margin-right:0;}
.process_list li div{position:relative;width:100%;height:0;padding-top:100%;}
.process_list li div:after{content:'';display:block;width:15px;height:23px;background:url(/page/gangwonedu/images/sub/arrow01.png) 0 0 no-repeat;background-size:cover;top:50%;margin-top:-11.5px;right:-27px;position:absolute;}
.process_list li div:before{content:'';display:block;top:0;left:0;bottom:0;right:0;border-radius:50%;border:3px solid #a0a0a0;position:absolute;}
.process_list li:last-child div:after{display:none;}
.process_list li:first-child div:before{border-color:#410099}
.process_list li div span{display:block;line-height:1.5;position:absolute;top:50%;left:0;width:100%;padding:0 15px;transform:translateY(-50%);color:#000;font-weight:300;text-align:center;}
.process_list li p{line-height:1.4;color:#000;font-weight:300;;margin-top:12px;text-align:center;font-size:14px;}


@media (max-width:485px) {
    .process_list li{margin-right:20px;float:none;width:100%;padding-bottom:20px;}
    .process_list li div{position:relative;width:100%;min-height:75px;padding-top:0;margin:0 auto;max-width:320px;}
    .process_list li div:before{border-radius:15px;}
    .process_list li div:after{display:none;}
    .process_list li:after{right:50%;margin-right:-10px;transform:rotate(90deg);top:auto;bottom:-8px;margin-top:0;content:'';display:block;width:15px;height:23px;background:url(/page/gangwonedu/images/sub/arrow01.png) 0 0 no-repeat;background-size:cover;position:absolute;}
    .process_list li:last-child:after{display:none;}
}


#sub .pageTab >li.active{background: linear-gradient(90deg, rgba(57,19,162,1) 0%, rgba(0,128,182,1) 100%);}
#sub .titLv{font-weight:700;}
#sub .titLv:after{content:'';display:inline-block;background:url(/page/gangwonedu/images/common/sp_gangwonedu.png) -275px -275px no-repeat;background-size:800px 480px;width:10px;height:10px;vertical-align:top;margin-left:5px;}
#sub .titLv2{font-size:20px;}
#sub .titLv3{font-size:17px;}
#sub .titLv2:before{top:4px;background:url(/page/gangwonedu/images/common/sp_gangwonedu.png) -351px -269px no-repeat;background-size:800px 480px;width:20px;height:23px;}
#sub .titLv3:before{top:8px;left:28px;background:transparent;border-radius:50%;width:10px;height:10px;border:3px solid #222a98;box-sizing:border-box;}
#sub .skinTb:before {border-top: 3px solid #222a98;}
#sub .skinTb-th,
#sub .skinTb >tr >th,
#sub .skinTb >thead >tr >th,
#sub .skinTb >tbody >tr >th,
#sub .skinTb >tfoot >tr >th {color:#222a98;border-bottom-color:#222a98;}
#sub .skinTb >tbody >tr >th,
#sub .skinTb-th{border-bottom-color:#d8d8d8;}

#sub .contsBtn{border:2px solid #222a98;color:#111;border-radius:25px;line-height:44px;}
#sub .contsBtn.contsBtnSmall{line-height:34px;}
#sub .contsBtn:hover{color:#fff;}
#sub .contsBtn:before{background:#222a98}
#sub .skinBtnBo:before{display:none;}
#sub .skinBtnBo{border:none;border-radius:25px;background:#333;color:#fff;}
#sub .skinBtnBo.skinBtnBo-data-neg{background:#b90a00}
#sub .skinBtnBo.skinBtnBo-data-color{background:#0c6544}
#sub .skinBtnBo.skinBtnBo-data-bg{background:#2a2dae}
#sub .skinBtnBo.skinBtnBo-data-color{background:#75289c}
#sub .skbtn{border-radius:25px;font-size:16px;}
#sub .skbtn.ty02{height:44px;line-height:40px;background:transparent;border:2px solid #222a98;color:#222a98;font-weight:500;}
#sub .skbtn.ty02:hover{background:#222a98;color:#fff;text-decoration:none;}
#sub .skbtn.ty03{height:44px;line-height:40px;background:transparent;border:2px solid #222a98;color:#222a98;font-weight:500;}
#sub .skbtn.ty03:hover{background:#222a98;color:#fff;text-decoration:none;}
#sub .skbtn.ty03:before{display:none;}
#sub .process_list li:first-child div:before{border-color:#222a98}
#sub .timp{color:#222a98;font-weight:500;}
#sub .twar{color:#c92128}

@media (max-width:1199px) {
  #sub .titLv2{font-size:18px;}
  #sub .titLv3{font-size:16px;}
  #sub .titLv2:before{top:3px;}
  #sub .titLv3:before{left:25px;}
}

@media (max-width:760px) {
  #sub .titLv2{font-size:17px;}
  #sub .titLv2:before{top:2px;}
  #sub .contsBtn{line-height:37px;}
  #sub .contsBtn.contsBtnSmall{line-height:37px;}
  #sub .skbtn.ty01{line-height:32px;}
  #sub .skbtn.ty02{height:36px;line-height:32px;font-size:15px;padding:0 30px;}
  #sub .skbtn.ty03{height:36px;line-height:32px;font-size:15px;padding:0 30px;}
}

@media screen and (min-width: 320px) and (max-width: 639px){
	.pageTab > li {background: linear-gradient(90deg, rgba(57,19,162,1) 0%, rgba(0,128,182,1) 100%);}
}

#svisual{position:relative;height:300px;overflow:hidden;padding-top:109px;}
#svisual img{display:block;position:absolute;top:50%;left:50%;width:1920px;margin:-150px 0 0 -960px;}
#svisual .txt{color:#fff;text-align:center;position:relative;}
#svisual h2{line-height:1.2;font-weight:700;font-size:30px;}
#svisual p{line-height:1.4;margin-top:8px;font-weight:500;}


@media (max-width:1199px) {
  #svisual{height:220px;padding-top:75px;}
  #svisual img{width:1408px;margin:-110px 0 0 -704px;}
  #svisual h2{font-size:28px;}
  #svisual p{font-size:15px;}
}

@media (max-width:991px) {
  #svisual{height:180px;padding-top:60px;}
  #svisual img{width:1152px;margin:-90px 0 0 -576px;}
  #svisual h2{font-size:26px;}
  #svisual p{font-size:15px;}
}


@media (max-width:760px) {
  #svisual{height:160px;padding-top:50px;}
  #svisual img{width:1024px;margin:-80px 0 0 -512px;}
  #svisual h2{font-size:24px;}
  #svisual p{font-size:14px;}
}