@charset "utf-8"; 

#main{position:relative;color:#000;}

@media (min-width:1181px) {
    #header:after{display:none;}
}

#main h2{line-height:1.3;font-size:30px;font-weight:600;word-break:keep-all;padding-bottom:35px;}
#main h2 span{color:#00908e}

#visual{position:relative;height:734px;padding-bottom:85px;z-index:5;}
#visual .inner{height:100%;}
#visual .img-bx{position:absolute;height:100%;width:1500px;top:0;left:50%;margin-left:-750px;z-index:-1;border-radius:20px 130px 20px 20px;overflow:hidden;}
#visual .img-bx img{display:block;width:100%;height:100%;object-fit:cover;}
#visual .text-bx{display:flex;justify-content:space-between;flex-direction:column;height:calc(100% + 85px);padding:95px 80px 0 115px;}
#visual .title-bx{color:#fff;text-shadow:1.5px 1.5px 1px rgba(0,0,0,.6);line-height:1.4;}
#visual .title-bx span{display:block;font-size:32px;}
#visual .title-bx h2{font-size:50px;font-weight:600;margin-top:15px;}
#visual .title-bx h2 em{color:#14b011}
#visual .title-bx h2 strong{color:#0c54c1}
#visual .link-bx{display:flex;align-items:flex-end;justify-content:space-between;position:relative;}
#visual .link-bx .list{padding-bottom:10px;display:flex;z-index:3;position: relative;}
#visual .link-bx .list a{display:flex;align-items:center;background:#fff;flex-direction:column;justify-content:center;width:160px;height:160px;border-radius:50%;font-size:18px;padding-top:10px;}
#visual .link-bx .list a img{display:block;height: 50px;margin-bottom:15px;}
#visual .link-bx .list a:hover img{transform-origin:50% 0%;animation:shake 1.5s 1 both;}
#visual .link-bx .list a + a{margin-left:30px;}
#visual .info-bx{flex:1;margin-left:160px;height:335px;border-radius:60px;position: relative;z-index:2;}
#visual .info-bx .health-bx{position:relative;height:100%;border-radius:60px;border:20px solid #00908e;background:#fff;padding:0 45px;display:flex;align-items:center;flex-direction:column;}
#visual .info-bx .health-bx .health-img01{display:block;width:199px;position:absolute;left:-134px;bottom:65px;}
#visual .info-bx .health-bx .health-img02{position:absolute;left:20px;width:calc(100% - 40px);bottom:0px;display:block;}
#visual .info-bx .health-bx h3{display:flex;align-items:center;justify-content:center;line-height:1.2;height:80px;font-size:33px;font-weight:600;border-bottom:1px solid #ababab;width:100%;padding-top:5px;}
#visual .info-bx .health-bx div{margin-top:10px;position:relative;z-index:3;}
#visual .info-bx .health-bx p{display:flex;line-height:1.3;margin-top:12px;font-size:22px;font-weight:500;align-items:flex-start;}
#visual .info-bx .health-bx p img{width:19px;height:auto;margin:5px 10px 0 0;}

#notice{position:relative;z-index:3;padding:60px 0 90px;margin-bottom:70px;}
#notice:before{content:'';z-index:-1;position:absolute;left:-210px;right:-210px;bottom:0;top:-240px;background:#eef1f0;display:block;}
#notice .inner{display:flex;align-items:flex-start;justify-content:space-between;}
#notice .noti-bx{width:calc(100% - 515px);position:relative;}
#notice .noti-bx .more{display:flex;align-items:center;height:32px;border-radius:16px;background:#fff;border:1px solid #cdcdcd;color:#8d8d8d;padding:0 20px;position:absolute;top:5px;right:25px;}
#notice .noti-bx .more:hover{filter:invert(1);color:#000;font-weight:500;}
#notice .noti-bx div{display:flex;align-items:center;justify-content:space-between;}
#notice .noti-bx div a{flex:1;height:255px;border-radius:15px;background:#fff url(/page/sokchooffice/images/main/bg-notice.png) no-repeat right bottom /74px 69px;border:1px solid #cdcdcd;box-shadow:5px 5px 15px rgba(0,0,0,.12);transition:all .3s;position:relative;padding:30px 15px 15px 30px;}
#notice .noti-bx div a + a{margin-left:50px;}
#notice .noti-bx div a:hover{margin-top:-30px;}
#notice .noti-bx div a strong{font-size:30px;line-height:1.2;font-weight:600;display:block;}
#notice .noti-bx div a strong em{display:block;font-size:14px;color:#626262;font-weight:400;}
#notice .noti-bx div a strong span{display:block;max-width:50px;text-align:center;}
#notice .noti-bx div a p{word-break: keep-all;display: -webkit-box;-webkit-line-clamp: 2;overflow: hidden;-webkit-box-orient: vertical;height:3em;line-height:1.5;margin-top:20px;font-size:19px;}
#notice .pop-bx{width:515px;padding-left:100px;position:relative;}
#notice .pop-bx .control{display:flex;align-items:center;justify-content:center;position:absolute;right:0;top:5px;z-index:5;}
#notice .pop-bx .count{margin-right:5px;display:flex;align-items:center;padding:0 15px;background:#fff;border:1px solid #ddd;height:32px;border-radius:16px;color:#8d8d8d;}
#notice .pop-bx .count strong{font-weight:600;color:#0667d1}
#notice .pop-bx .count span{margin:0 5px;}
#notice .pop-bx .control button{width:32px;height:32px;background:#fff;border:1px solid #ddd;border-radius:50%;display:block;transition:border-color .2s;margin-left:5px;}
#notice .pop-bx .control button:hover{border-color:#000;}
#notice .pop-bx .control button img{height:13px;display:block;margin: auto;}
#notice .pop-bx .control button.play{display:none;}
#notice .pop-bx .slick{border:1px solid #cdcdcd;border-radius:15px;overflow:hidden;box-shadow:5px 5px 15px rgba(0,0,0,.12);}

#short-bx{position:relative;padding-bottom:65px;}
#short-bx .inner{display:flex;}
#short-bx .inner a{flex:1;border-radius:10px;border:1px solid #00908e;background:#00908e;transition:all .2s;overflow:hidden;color:#fff;font-size:24px;font-weight:500;position:relative;z-index:1;;display:flex;align-items:center;justify-content:space-between;line-height:1.3;padding:0 35px 0 45px;height:100px;}
#short-bx .inner a:hover{color:#00908e}
#short-bx .inner a img{display:block;height:59px}
#short-bx .inner a:before{content:'';display:block;width:200px;height:200px;background:#fff;position:absolute;right:-60px;top:calc(50% - 100px);bottom:0;z-index:-1;border-radius:50%;transition:all .35s;}
#short-bx .inner a:hover:before{width:100%;right:0;border-radius:0;}
#short-bx .inner a + a{margin-left:50px;}

#infomation{position:relative;padding-bottom:35px;}
#infomation .list{display:flex;flex-wrap:wrap;}
#infomation .list a{margin:0 50px 30px 0;padding-left:35px;display:flex;border:1px solid #00908e;border-radius:10px;width:calc((100% - 100px) / 3);align-items:center;}
#infomation .list a:nth-child(3n){margin-right:0;}
#infomation .list a img{width:60px;display:block;}
#infomation .list a .text{height:160px;padding:15px 15px 15px 35px;display:flex;align-items:center;flex:1;}
#infomation .list a .text span{align-self:flex-end;transition:all .2s;line-height:1.2;padding:0 5px;height:36px;width:112px;color:#fff;background:#00908e;border-radius:18px;display:flex;align-items:center;justify-content:center;flex-shrink:0;}
#infomation .list a .text div{flex:1;}
#infomation .list a .text h3{line-height:1.3;font-size:21px;font-weight:500;}
#infomation .list a .text p{color:#8d8d8d;margin-top:5px;line-height:1.4;word-break:keep-all;}
#infomation .list a:hover .text span{filter: grayscale(1);}
#infomation .list a:hover img{animation:shake2 1s 1 both;}

#family{position:relative;padding-bottom:65px;}
#family .list{display:flex;flex-wrap:wrap;border:1px solid #00908e;border-radius:10px;overflow:hidden;}
#family .list a{width:20%;display:flex;align-items:center;justify-content:center;line-height:1.2;height:59px;margin-bottom:-1px;border-bottom:1px solid #e5e5e5;font-size:18px;text-align:center;padding:0 5px;}
#family .list a:hover{text-decoration:underline;}


@media (max-width:1180px) {
    #main h2{font-size:25px;padding-bottom:25px;}
    #visual{height:624px;padding-bottom:55px;}
    #visual .img-bx{width:1300px;margin-left:-650px;border-radius:0;}
    #visual .text-bx{height:calc(100% + 55px);padding:55px 0px 0 0px;}
    #visual .title-bx span{font-size:24px;}
    #visual .title-bx h2{font-size:40px;margin-top:12px;}
    #visual .link-bx .list{padding-bottom:0px;}
    #visual .link-bx .list a{width:130px;height:130px;font-size:14px;padding-top:7px;}
    #visual .link-bx .list a img{height: 38px;margin-bottom:13px;}
    #visual .link-bx .list a + a{margin-left:25px;}
    #visual .info-bx{margin-left:150px;height:275px;border-radius:30px;}
    #visual .info-bx .health-bx{border-radius:30px;border:10px solid #00908e;padding:0 20px;}
    #visual .info-bx .health-bx .health-img01{width:159px;left:-125px;bottom:45px;}
    #visual .info-bx .health-bx .health-img02{left:15px;width:calc(100% - 30px);}
    #visual .info-bx .health-bx h3{height:68px;font-size:25px;}
    #visual .info-bx .health-bx p{margin-top:11px;font-size:18px;}
    #visual .info-bx .health-bx p img{width:17px;margin:5px 10px 0 0;}

    #notice{padding:45px 0 50px;margin-bottom:45px;}
    #notice .noti-bx{width:calc(100% - 425px);}                                                                             
    #notice .noti-bx .more{height:30px;padding:0 15px;top:3px;right:0px;font-size:14px;}
    #notice .noti-bx div a{height:245px;background-size:64px 60px;padding:20px 15px 15px 20px;}
    #notice .noti-bx div a + a{margin-left:20px;}
    #notice .noti-bx div a strong{font-size:26px;}
    #notice .noti-bx div a strong em{margin-bottom:5px;;font-size:13px;}
    #notice .noti-bx div a strong span{max-width:42px;}
    #notice .noti-bx div a p{margin-top:20px;font-size:15px;-webkit-line-clamp:3;height:4.5em}
    #notice .pop-bx{width:425px;padding-left:35px;position:relative;}
    #notice .pop-bx .control{transform:scale(.9);transform-origin:100% 50%;top:3px;}

    #short-bx{padding-bottom:50px;}
    #short-bx .inner a{font-size:18px;padding:0 20px 0 25px;height:82px;}
    #short-bx .inner a img{height:45px}
    #short-bx .inner a:before{right:-100px;}
    #short-bx .inner a + a{margin-left:20px;}

    #infomation{padding-bottom:30px;}
    #infomation .list a{margin:0 20px 20px 0;padding-left:20px;width:calc((100% - 40px) / 3);}
    #infomation .list a img{width:47px;}
    #infomation .list a .text{height:120px;padding:15px 15px 15px 20px;}
    #infomation .list a .text span{height:32px;width:76px;font-size:12px;}
    #infomation .list a .text h3{font-size:18px;}
    #infomation .list a .text p{font-size:14px;}

    #family{padding-bottom:50px;}
    #family .list a{width:20%;height:53px;font-size:15px;}
}

@media (max-width:991px) {
    #main h2{font-size:22px;padding-bottom:23px;}
    #visual{height:574px;padding-bottom:45px;}
    #visual .text-bx{height:calc(100% + 45px);padding:45px 0px 0 0px;}
    #visual .title-bx span{font-size:22px;}
    #visual .title-bx h2{font-size:37px;margin-top:10px;}
    #visual .link-bx .list a{width:115px;height:115px;font-size:13px;padding-top:7px;}
    #visual .link-bx .list a img{height: 36px;margin-bottom:12px;}
    #visual .link-bx .list a + a{margin-left:15px;}
    #visual .info-bx{margin-left:50px;height:225px;border-radius:25px;}
    #visual .info-bx .health-bx{border-radius:25px;border:5px solid #00908e;padding:0 20px;}
    #visual .info-bx .health-bx .health-img01{width:121px;left:-95px;bottom:40px;}
    #visual .info-bx .health-bx h3{height:62px;font-size:22px;}
    #visual .info-bx .health-bx p{margin-top:10px;font-size:16px;}
    #visual .info-bx .health-bx p img{width:15px;margin:3px 7px 0 0;}


    #notice{padding:40px 0 40px;margin-bottom:35px;}
    #notice .inner{display:block;}
    #notice .noti-bx{width:100%}                                                                             
    #notice .noti-bx .more{height:28px;padding:0 15px;top:3px;right:0px;font-size:13px;}
    #notice .noti-bx div a{height:180px;padding:18px 15px 15px 18px;}
    #notice .noti-bx div a + a{margin-left:15px;}
    #notice .noti-bx div a strong{font-size:24px;}
    #notice .noti-bx div a strong em{margin-bottom:5px;;font-size:13px;}
    #notice .noti-bx div a strong span{max-width:42px;}
    #notice .noti-bx div a p{margin-top:17px;font-size:14px;-webkit-line-clamp:2;height:3em}
    #notice .noti-bx div a p img{height:17px;width:17px;}

    #notice .pop-bx{width:100%;padding:0;margin-top:35px;position:relative;}
    #notice .pop-bx .control{transform:scale(.85);top:3px;}
    #notice .pop-bx .slick{margin:0 -20px;border-radius:0;box-shadow:none;border:none;}
    #notice .pop-bx .slick-list{padding:0 20px;}
    #notice .pop-bx .slick-slide{margin:0 10px;width:345px;overflow:hidden;border-radius:10px;}

    #short-bx{padding-bottom:45px;}
    #short-bx .inner a{font-size:15px;padding:0 10px 0 20px;height:78px;}
    #short-bx .inner a img{height:39px}
    #short-bx .inner a:before{right:-130px;}
    #short-bx .inner a + a{margin-left:15px;}

    #infomation{padding-bottom:30px;}
    #infomation .list a{margin:0 15px 15px 0;padding-left:20px;width:calc((100% - 15px) / 2);}
    #infomation .list a:nth-child(3n){margin-right:15px;}
    #infomation .list a:nth-child(2n){margin-right:0;}
    #infomation .list a img{width:41px;}
    #infomation .list a .text{height:100px;padding:10px 15px 10px 20px;}
    #infomation .list a .text span{height:30px;width:74px;font-size:11px;}
    #infomation .list a .text h3{font-size:17px;}
    #infomation .list a .text p{font-size:13.5px;}

    #family{padding-bottom:45px;}
    #family .list a{width:20%;height:53px;font-size:14px;}
}

@media (max-width:716px) {
    #main h2{font-size:19px;padding-bottom:20px;}
    #visual{height:580px;padding-bottom:55px;}
    #visual .img-bx{margin-left:-650px;border-radius:0;width:1000px;}
    #visual .text-bx{height:calc(100% + 55px);padding:40px 0px 0 0px;}
    #visual .title-bx span{font-size:16px;}
    #visual .title-bx h2{font-size:26px;margin-top:8px;}
    #visual .link-bx{display:block;}
    #visual .link-bx .list{justify-content:center;}
    #visual .link-bx .list a{width:92px;height:92px;font-size:11px;padding-top:2%;}
    #visual .link-bx .list a + a{margin-left:25px;}
    #visual .link-bx .list a img{height: 30px;margin-bottom:7px;}
    #visual .info-bx{margin:20px 0 0 0px;height:175px;border-radius:20px;}
    #visual .info-bx .health-bx .health-img02{opacity:.5;}
    #visual .info-bx .health-bx{border-radius:20px;border:5px solid #00908e;padding:0 15px;}
    #visual .info-bx .health-bx .health-img01{display:none;}
    #visual .info-bx .health-bx h3{height:52px;font-size:19px;}
    #visual .info-bx .health-bx p{margin-top:10px;font-size:13px;}
    #visual .info-bx .health-bx p img{width:13px;margin:2px 7px 0 0;}

    #notice{padding:35px 0 30px;margin-bottom:30px;}                                                                    
    #notice .noti-bx .more{height:26px;padding:0 13px;font-size:12px;top:0;}
    #notice .noti-bx div{display:block;}
    #notice .noti-bx div a{height:auto;padding:18px 15px 15px 18px;display:block;}
    #notice .noti-bx div a + a{margin:10px 0 0;}
    #notice .noti-bx div a strong{font-size:22px;display:flex;align-items:center;}
    #notice .noti-bx div a strong em{margin:0 5px 0 0;font-size:12px;}
    #notice .noti-bx div a strong span{max-width:42px;}
    #notice .noti-bx div a p{margin-top:12px;font-size:13px;}
    #notice .noti-bx div a p img{height:15px;width:15px;}
    #notice .pop-bx .slick{margin:0 -15px;}
    #notice .pop-bx .slick-list{padding:0 15px;}
    #notice .pop-bx .slick-slide{margin:0 7.5px;width:325px;}

    #short-bx{padding-bottom:40px;}
    #short-bx .inner{display:block;}
    #short-bx .inner a{font-size:14px;padding:0 10px 0 15px;height:70px;}
    #short-bx .inner a img{height:37px}
    #short-bx .inner a:before{right:-130px;}
    #short-bx .inner a + a{margin:10px 0 0;}

    #infomation{padding-bottom:30px;}
    #infomation .list a{margin:0 0px 10px 0;padding-left:20px;width:100%;}
    #infomation .list a:nth-child(3n){margin-right:0px;}
    #infomation .list a img{width:37px;}
    #infomation .list a .text{height:90px;padding:10px 15px 10px 15px;}
    #infomation .list a .text span{height:24px;width:72px;font-size:11px;}
    #infomation .list a .text h3{font-size:15px;}
    #infomation .list a .text p{font-size:12px;padding-right:5px;}

    #family{padding-bottom:35px;}
    #family .list a{width:50%;height:43px;font-size:12.5px;}
}


@keyframes shake{
    0%{transform: rotate(0deg);}
    12.5%{transform: rotate(30deg);}
    25%{transform: rotate(-30deg);}
    37.5%{transform: rotate(17deg);}
    50%{transform: rotate(-17deg);}
    62.5%{transform: rotate(5deg);}
    75%{transform: rotate(-5deg);}
    87.5%{transform: rotate(0deg);}
    100%{transform: rotate(0deg);}
}

@keyframes shake2 {
    0% { transform: translateX(0) }
    25% { transform: translateY(-5px) }
    35% { transform: translateY(-5px) rotate(12deg) }
    55% { transform: translateY(-5px) rotate(-12deg) }
    65% { transform: translateY(-5px) rotate(9deg) }
    75% { transform: translateY(-5px) rotate(-9deg) }
    100% { transform: translateY(0) rotate(0) }
}



  