@charset "utf-8"; 

#main{position:relative;color:#000;padding-top:0}

@media (min-width:1181px) {
    #header:after{display:none;}
    #header h2 a{color:#fff}
    #header.fixed{top:-46px;backdrop-filter:blur(2px) brightness(0.5);}
}

#visual{position:relative;height:808px;z-index:3;}
#visual .bg-img{position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;z-index:-1;}
#visual .inner{height:100%;display:flex;align-items:flex-end;justify-content:center;}
#visual .slick-wrap{position:relative;top:100px;width:100%;max-width:1270px;}
#visual .slick{overflow:hidden;border-top-right-radius:100px;}
#visual .item{position:relative;height:714.375px;}
#visual .item iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
#visual .slick-arrow{width:72px;height:72px;display:flex;align-items:center;justify-content:flex-end;border:2px solid #fff;padding:0 3px;border-radius:50%;left:-120px;top:50%;margin-top:-36px;position:absolute;color:transparent;font-size:0;}
#visual .slick-arrow.slick-next{left:auto;right:-120px;justify-content:flex-start;}
#visual .slick-arrow:after{width:44px;height:44px;background:url(/page/sokchochannel/images/main/ico-arr-prev.png) no-repeat center center /cover;content:'';}
#visual .slick-arrow.slick-next:after{background-image:url(/page/sokchochannel/images/main/ico-arr-next.png);}
#visual .slick-arrow:active{transform:scale(.9);}

@media (max-width:1530px) {
    #visual{height:758px;}
    #visual .slick-wrap{top:70px;max-width:1070px;}
    #visual .slick{border-top-right-radius:70px;}
    #visual .item{height:601.875px;}
    #visual .slick-arrow{width:68px;height:68px;left:-80px;margin-top:-34px;}
    #visual .slick-arrow.slick-next{right:-80px;}
    #visual .slick-arrow:after{width:40px;height:40px;}
}

@media (max-width:1180px) {
    #visual{height:558px;}
    #visual .slick-wrap{top:60px;max-width:840px;}
    #visual .slick{border-top-right-radius:60px;}
    #visual .item{height:472.5px;}
    #visual .slick-arrow.slick-next{right:-74px;}
    #visual .slick-arrow:after{width:36px;height:36px;}
}

@media (max-width:991px) {
    #visual{height:508px;}
    #visual .slick-wrap{top:50px;max-width:720px;}
    #visual .slick{border-top-right-radius:60px;}
    #visual .item{height:405px;}
    #visual .slick-arrow{width:46px;height:46px;left:auto;right:56px;margin-top:0px;top:-60px;}
    #visual .slick-arrow.slick-next{right:0px;}
    #visual .slick-arrow:after{width:26px;height:26px;}
}

@media (max-width:716px) {
    #visual{height:338px;}
    #visual .slick-wrap{top:40px;max-width:400px;margin:0 -10px;width:calc(100% + 20px)}
    #visual .slick{border-top-right-radius:50px;}
    #visual .item{height:224px;}
    #visual .slick-arrow{width:36px;height:36px;right:41px;top:-51px;border-width:1px;}
    #visual .slick-arrow.slick-next{right:0px;}
    #visual .slick-arrow:after{width:20px;height:20px;}
}


#now{position:relative;margin-top:210px;}
#now h2{text-align:center;}
#now h2 img{display:inline-block;width:347px}
#now .more{display:flex;width:282px;height:66px;border-radius:33px 0 0 33px;background:#ff1919;padding:12px 0 12px 12px;color:#fff;align-items:center;font-size:20px;transition:all .2s;position:absolute;right:0;top:0;}
#now .more img{display:block;margin-right:12px;width:42px;}
#now .more:hover{filter:grayscale(1);}
#now .slick{margin:35px -210px 0 0;}
#now .slick-list{padding-top:30px;}
#now .slick-slide{position:relative;transition:all .25s;margin-right:40px;width:460px;top:0;}
#now .slick-slide strong{display:block;line-height:1.6;height:3.2em;margin-top:30px;word-break:keep-all;font-size:22px;font-weight:500;display:-webkit-box;-webkit-line-clamp:2;overflow:hidden;-webkit-box-orient:vertical;}
#now .slick-slide:hover{top:-30px;}

@media (max-width:1180px) {
    #now{margin-top:150px;}
    #now h2 img{width:227px}
    #now .more{right:0;top:0;transform:scale(.8);transform-origin:100% 50%;width:260px;}
    #now .slick{margin:20px -20px 0 -20px;}
    #now .slick-list{padding:20px 20px 0;}
    #now .slick-slide{margin-right:20px;width:340px;top:0;}
    #now .slick-slide strong{margin-top:20px;font-size:16px;}
    #now .slick-slide:hover{top:0px;}
}

@media (max-width:991px) {
    #now{margin-top:110px;}
    #now h2 img{width:187px}
    #now .more{transform:scale(.7);width:260px;}
    #now .slick{margin:20px -20px 0 -20px;}
    #now .slick-list{padding:15px 20px 0;}
    #now .slick-slide{margin-right:20px;width:300px;top:0;}
    #now .slick-slide strong{margin-top:17px;font-size:15px;}
}

@media (max-width:716px) {
    #now{margin-top:90px;}
    #now h2 img{width:147px}
    #now .more{transform:scale(.55);top:20px;}
    #now .slick{margin:30px -15px 0 -15px;}
    #now .slick-list{padding:15px 15px 0;}
    #now .slick-slide{margin-right:10px;width:235px;top:0;}
    #now .slick-slide strong{margin-top:15px;font-size:13px;}
}

#blog{position:relative;margin-top:90px;padding:95px 0 50px;background:url(/page/sokchochannel/images/main/bg-scstory.png) no-repeat left bottom /cover;}
#blog h2{text-align:center;}
#blog h2 img{width:356px;display:inline-block;}
#blog .list-bx{margin-top:80px;display:flex;flex-wrap:wrap;}
#blog .list-bx a{width:calc((100% - 180px) / 4);margin-right:60px;margin-bottom:50px;height:305px;position:relative;border-radius:10px;overflow:hidden;border:1px solid #c9cbcb;}
#blog .list-bx a:nth-child(4n){margin-right:0;}
#blog .list-bx a img{display:block;width:100%;height:100%;object-fit:cover;}
#blog .list-bx a p{position:absolute;top:100%;left:0;right:0;height:100%;display:flex;flex-direction:column;align-items:center;justify-content:flex-end;padding:0 40px 40px;background:rgba(0,0,0,.7);transition:top .35s;}
#blog .list-bx a p img{width:60px;height:60px;}
#blog .list-bx a p span{height:3em;line-height:1.5;color:#fff;text-align:center;word-break:keep-all;font-size:22px;font-weight:500;margin-top:10px;display:block;display:-webkit-box;-webkit-line-clamp:2;overflow:hidden;-webkit-box-orient:vertical;}
#blog .list-bx a:hover p{top:0;}

@media (max-width:1180px) {
    #blog{margin-top:65px;padding:50px 0 30px;}
    #blog h2 img{width:266px;}
    #blog .list-bx{margin-top:40px;}
    #blog .list-bx a{width:calc((100% - 60px) / 4);margin-right:20px;margin-bottom:20px;height:215px;}
    #blog .list-bx a:nth-child(4n){margin-right:0;}
    #blog .list-bx a p{height:30%;top:70% !important;padding:10px 20px 10px;flex-direction:row;}
    #blog .list-bx a p img{width:30px;height:30px;}
    #blog .list-bx a p span{text-align:left;font-size:15px;margin:0 0 0 15px;font-weight:400;height:auto;max-height:3em;}
}

@media (max-width:991px) {
    #blog{margin-top:50px;padding:40px 0 20px;}
    #blog h2 img{width:226px;}
    #blog .list-bx{margin-top:30px;}
    #blog .list-bx a{width:calc((100% - 30px) / 4);margin-right:10px;margin-bottom:10px;height:185px;}
    #blog .list-bx a:nth-child(4n){margin-right:0;}
    #blog .list-bx a p{height:30%;top:70% !important;padding:10px 15px 10px;}
    #blog .list-bx a p img{width:24px;height:24px;}
    #blog .list-bx a p span{font-size:14px;margin:0 0 0 10px;}
}

@media (max-width:716px) {
    #blog{margin-top:35px;padding:35px 0 20px;}
    #blog h2 img{width:166px;}
    #blog .list-bx{margin-top:20px;}
    #blog .list-bx a{width:calc((100% - 5px) / 2);margin-right:5px;margin-bottom:5px;height:130px;}
    #blog .list-bx a:nth-child(2n){margin-right:0;}
    #blog .list-bx a p{height:35%;top:65% !important;padding:10px 15px 10px;}
    #blog .list-bx a p img{width:22px;height:22px;}
    #blog .list-bx a p span{font-size:12px;}
}


#sns{position:relative;margin-top:110px;}
#sns .inner{display:flex;align-items:flex-end;}
#sns .holic-bx{width:685px;position:relative;z-index:2;display:flex;align-items:flex-end;padding-bottom:60px;justify-content:center;}
#sns .holic-bx:before{content:'';z-index:-1;left:0;right:0;bottom:0;top:40px;background:#01a233;border-radius:0 45px 0 45px;display:block;position:absolute;}
#sns .holic-bx .text{width:235px;padding-bottom:30px;}
#sns .holic-bx .title-bx{display:flex;align-items:flex-end;justify-content:space-between;padding-left:10px;}
#sns .holic-bx .title-bx img{width:89px} 
#sns .holic-bx .title-bx h2{color:#fff;line-height:1.2;font-size:28px;text-align:right;}
#sns .holic-bx .title-bx h2 span{display:block;font-weight:300;}
#sns .holic-bx .title-bx h2 strong{display:block;font-weight:600;}
#sns .holic-bx .more-holic{display:flex;line-height:1.3;align-items:center;justify-content:center;margin-top:33px;height:50px;font-size:18px;font-weight:500;border-radius:10px;background:#f5f2ec;box-shadow:3px 3px 5px 0px rgba(0,0,0,.3);}
#sns .holic-bx .more-holic strong{color:#01a233;font-weight:600;padding:0 5px;transition:all .2s;}
#sns .holic-bx .more-holic:hover strong{transform:scale(1.1);}
#sns .holic-bx .ebook{width:213px;position:relative;border:1px solid #e5e5e5;margin-left:60px;overflow:hidden;}
#sns .holic-bx .ebook .book{display:block;width:100%;}
#sns .holic-bx .eye-img{display:block;position:absolute;bottom:0;left:50%;width:136px;margin-left:-68px;transition:all .2s;}
#sns .holic-bx .ebook:hover .eye-img{transform:scale(1.1);transform-origin:50% 100%;}

#sns .sns-bx{padding-left:75px;flex:1;}
#sns .sns-bx .title-bx{display:flex;align-items:center;padding-bottom:10px;}
#sns .sns-bx .title-bx h2{font-size:28px;font-weight:600;order:1;}
#sns .sns-bx .title-bx h2 em{color:#01a233}
#sns .sns-bx .title-bx h2 em:nth-of-type(2){color:#023391}
#sns .sns-bx .title-bx div{display:flex;align-items:center;order:3;}
#sns .sns-bx .title-bx div a{width:42px;}
#sns .sns-bx .title-bx div a + a{margin-left:10px;}
#sns .sns-bx .title-bx div a img{display:block;width:100%;}
#sns .sns-bx .title-bx div a:hover img{filter:grayscale(1);}
#sns .sns-bx .title-bx:before{content:'';display:block;order:2;height:1px;flex:1;margin:0 25px;background:#c9c9c9;}
#sns .border-bx{padding:3px;display:block;margin-top:25px;border-radius:10px;background:linear-gradient(to right, #0ba13a 0%, #023391 100%);}
#sns .border-bx > div{border-radius:9px;background:#fff;display:flex;align-items:center;justify-content:space-between;height:96px;padding:0 40px;}
#sns .border-bx > div img{height:65px;display:block;}
#sns .border-bx > div strong{display:block;font-size:24px;font-weight:600;}
#sns .border-bx > div strong em{font-weight:400;}
#sns .border-bx > div span{display:block;font-size:17px;}
#sns .border-bx > div span em{color:#01a233;font-weight:600;}
#sns .border-bx:hover > div img{animation:shake 1s 1 both ease-out;}

@media (max-width:1180px) {
    #sns{margin-top:80px;}
    #sns .holic-bx{width:485px;padding-bottom:30px;}
    #sns .holic-bx:before{left:-20px;top:40px;border-radius:0 45px 0 0px;}
    #sns .holic-bx .text{width:215px;padding-bottom:0px;}
    #sns .holic-bx .title-bx{padding-left:10px;}
    #sns .holic-bx .title-bx img{width:79px} 
    #sns .holic-bx .title-bx h2{font-size:22px;}
    #sns .holic-bx .more-holic{margin-top:30px;height:42px;font-size:15px;}
    #sns .holic-bx .ebook{width:173px;margin-left:35px;}
    #sns .holic-bx .eye-img{width:106px;margin-left:-53px;}

    #sns .sns-bx{padding-left:35px;flex:1;}
    #sns .sns-bx .title-bx{padding-bottom:10px;}
    #sns .sns-bx .title-bx h2{font-size:22px;}
    #sns .sns-bx .title-bx div a{width:32px;}
    #sns .sns-bx .title-bx div a + a{margin-left:5px;}
    #sns .sns-bx .title-bx:before{margin:0 15px;}
    #sns .border-bx{padding:3px;display:block;margin-top:15px}
    #sns .border-bx > div{height:89px;padding:0 30px;}
    #sns .border-bx > div img{height:53px;}
    #sns .border-bx > div strong{font-size:20px;}
    #sns .border-bx > div span{font-size:14px;line-height:1.3;word-break:keep-all;}
}

@media (max-width:991px) {
    #sns{margin-top:35px;}
    #sns .inner{display:block}
    #sns .holic-bx{width:100%;padding-bottom:30px;}
    #sns .holic-bx:before{left:-20px;top:60px;border-radius:0 45px 0 0px;}
    #sns .holic-bx .text{width:210px;}
    #sns .holic-bx .title-bx img{width:73px} 
    #sns .holic-bx .title-bx h2{font-size:20px;}
    #sns .holic-bx .more-holic{margin-top:30px;height:40px;font-size:14px;}
    #sns .holic-bx .ebook{width:169px;margin-left:55px;}
    #sns .holic-bx .eye-img{width:100px;margin-left:-50px;}

    #sns .sns-bx{padding:40px 0 0;flex:1;}
    #sns .sns-bx .title-bx{padding-bottom:10px;}
    #sns .sns-bx .title-bx h2{font-size:20px;}
    #sns .sns-bx .title-bx div a{width:30px;}
    #sns .sns-bx .title-bx div a + a{margin-left:5px;}
    #sns .sns-bx .title-bx:before{margin:0 15px;}
    #sns .border-bx{padding:3px;display:block;margin-top:15px}
    #sns .border-bx > div{height:81px;padding:0 30px;}
    #sns .border-bx > div img{height:49px;}
    #sns .border-bx > div strong{font-size:18px;}
    #sns .border-bx > div span{font-size:14px;}
}

@media (max-width:716px) {
    #sns{margin-top:30px;}
    #sns .holic-bx{padding-bottom:25px;}
    #sns .holic-bx:before{top:30px;}
    #sns .holic-bx .text{width:180px;}
    #sns .holic-bx .title-bx img{width:67px} 
    #sns .holic-bx .title-bx h2{font-size:18px;}
    #sns .holic-bx .more-holic{margin-top:25px;height:38px;font-size:13px;}
    #sns .holic-bx .ebook{width:129px;margin-left:30px;}
    #sns .holic-bx .eye-img{width:90px;margin-left:-45px;}

    #sns .sns-bx .title-bx{padding-bottom:10px;}
    #sns .sns-bx .title-bx h2{font-size:18px;}
    #sns .sns-bx .title-bx div a{width:28px;}
    #sns .sns-bx .title-bx:before{margin:0 10px;}
    #sns .border-bx{padding:3px;display:block;margin-top:10px}
    #sns .border-bx > div{height:76px;padding:0 20px;}
    #sns .border-bx > div img{height:39px;margin-left:10px;}
    #sns .border-bx > div strong{font-size:16px;}
    #sns .border-bx > div span{font-size:12px;}
}


#keyword{position:relative;padding:150px 0 90px;}
#keyword h2{text-align:center;}
#keyword h2 img{display:inline-block;width:528.5px;}
#keyword .bg-bx{position:relative;z-index:2;margin-top:-30px;}
#keyword .bg-bx:before{content:'';z-index:-1;width:1181px;height:623px;background:url(/page/sokchochannel/images/main/bg-keywords.png) no-repeat center center /cover;position:absolute;top:50%;left:50%;margin:-312px 0 0 -590px}
#cloud_keyword{width:90%;max-width:1240px;height:530px;margin:0 auto;z-index:2;position:relative;}

@media (max-width:1180px) {
    #keyword{padding:70px 0 30px;}
    #keyword h2 img{width:428.5px;}
    #keyword .bg-bx{margin-top:-10px;}
    #keyword .bg-bx:before{width:1181px;height:623px;margin:-312px 0 0 -590px}
    #cloud_keyword{height:440px;}
}


@media (max-width:991px) {
    #keyword{padding:50px 0 30px;}
    #keyword h2 img{width:368.5px;}
    #keyword .bg-bx{margin-top:-5px;}
    #keyword .bg-bx:before{width:1181px;height:623px;margin:-312px 0 0 -590px}
    #cloud_keyword{height:380px;width:95%}
}

@media (max-width:716px) {
    #keyword{padding:40px 0 5px;}
    #keyword h2 img{width:288.5px;}
    #keyword .bg-bx{margin-top:-45px;}
    #keyword .bg-bx:before{width:720px;height:380px;margin:-190px 0 0 -360px}
    #cloud_keyword{height:350px;width:calc(100% + 50px);margin:0 -25px;}
}

/* jqcloud */
.jqcloud{overflow:hidden; line-height:normal; position:relative}
.jqcloud-word a{margin:0; padding:0; color:#bdbdbd; font-size:18px;transition:all .1s;position: relative;}
.jqcloud-word:nth-child(n+31) a{font-size:0;}
#cloud_keyword_word_0 a{z-index:7; color:#f3505d !important; font-size:72px; font-weight:800;}
#cloud_keyword_word_1 a{z-index:6; color:#6745e0 !important; font-size: 52px; font-weight:800;}
#cloud_keyword_word_2 a{z-index:5; color:#d9037a !important; font-size: 48px; font-weight:700;}
#cloud_keyword_word_3 a{z-index:4; color:#0142ab !important; font-size: 48px; font-weight:700;}
#cloud_keyword_word_4 a{z-index:3; color:#f7bd02 !important; font-size: 48px; font-weight:600;}
#cloud_keyword_word_5 a{z-index:2; color:#83b021 !important; font-size: 40px;font-weight:600;}
#cloud_keyword_word_6 a{z-index:1; color:#00b7ee !important; font-size: 36px;font-weight:500;}
#cloud_keyword_word_7 a{z-index:1; color:#ec6941 !important; font-size: 36px;font-weight:500;}
#cloud_keyword_word_8 a{z-index:1; color:#601986 !important; font-size: 36px;font-weight:500;}
#cloud_keyword_word_9 a,
#cloud_keyword_word_10 a,
#cloud_keyword_word_11 a,
#cloud_keyword_word_12 a,
#cloud_keyword_word_13 a,
#cloud_keyword_word_14 a,
#cloud_keyword_word_15 a{font-size:22px;color:#333;}
#cloud_keyword_word_16 a,
#cloud_keyword_word_17 a,
#cloud_keyword_word_18 a,
#cloud_keyword_word_19 a,
#cloud_keyword_word_20 a,
#cloud_keyword_word_21 a{font-size:20px;color:#8c8c8c;}

#cloud_keyword_word_0 a:hover,
#cloud_keyword_word_1 a:hover,
#cloud_keyword_word_2 a:hover,
#cloud_keyword_word_3 a:hover,
#cloud_keyword_word_4 a:hover,
#cloud_keyword_word_5 a:hover,
#cloud_keyword_word_6 a:hover,
#cloud_keyword_word_7 a:hover,
#cloud_keyword_word_8 a:hover,
.jqcloud-word a:hover{background:#000;z-index:10;color:#fff !important}
.jqcloud-word a[href="#"]{pointer-events:none;}

@media all and (max-width:1180px){
    .jqcloud-word a{font-size:15px;}
    #cloud_keyword_word_0 a{font-size:58px;}
    #cloud_keyword_word_1 a{font-size: 40px;}
    #cloud_keyword_word_2 a,
    #cloud_keyword_word_3 a,
    #cloud_keyword_word_4 a,
    #cloud_keyword_word_5 a{font-size: 30px;}
    #cloud_keyword_word_6 a,
    #cloud_keyword_word_7 a,
    #cloud_keyword_word_8 a{font-size: 26px;}
    #cloud_keyword_word_9 a,
    #cloud_keyword_word_10 a,
    #cloud_keyword_word_11 a,
    #cloud_keyword_word_12 a,
    #cloud_keyword_word_13 a,
    #cloud_keyword_word_14 a,
    #cloud_keyword_word_15 a{font-size:19px;}
    #cloud_keyword_word_16 a,
    #cloud_keyword_word_17 a,
    #cloud_keyword_word_18 a,
    #cloud_keyword_word_19 a,
    #cloud_keyword_word_20 a,
    #cloud_keyword_word_21 a{font-size:17px;}
}

@media all and (max-width:991px){
    .jqcloud-word a{font-size:14px;}
    #cloud_keyword_word_0 a{font-size:48px;}
    #cloud_keyword_word_1 a{font-size: 38px;}
    #cloud_keyword_word_2 a,
    #cloud_keyword_word_3 a,
    #cloud_keyword_word_4 a,
    #cloud_keyword_word_5 a{font-size: 28px;}
    #cloud_keyword_word_6 a,
    #cloud_keyword_word_7 a,
    #cloud_keyword_word_8 a{font-size: 24px;}
    #cloud_keyword_word_9 a,
    #cloud_keyword_word_10 a,
    #cloud_keyword_word_11 a,
    #cloud_keyword_word_12 a,
    #cloud_keyword_word_13 a,
    #cloud_keyword_word_14 a,
    #cloud_keyword_word_15 a{font-size:18px;}
    #cloud_keyword_word_16 a,
    #cloud_keyword_word_17 a,
    #cloud_keyword_word_18 a,
    #cloud_keyword_word_19 a,
    #cloud_keyword_word_20 a,
    #cloud_keyword_word_21 a{font-size:16px;}
}


@media all and (max-width:716px){
    .jqcloud-word a{font-size:12px;}
    #cloud_keyword_word_0 a{font-size:30px;}
    #cloud_keyword_word_1 a{font-size: 22px;}
    #cloud_keyword_word_2 a,
    #cloud_keyword_word_3 a,
    #cloud_keyword_word_4 a,
    #cloud_keyword_word_5 a{font-size: 16px;}
    #cloud_keyword_word_6 a,
    #cloud_keyword_word_7 a,
    #cloud_keyword_word_8 a{font-size: 15px;}
    #cloud_keyword_word_9 a,
    #cloud_keyword_word_10 a,
    #cloud_keyword_word_11 a,
    #cloud_keyword_word_12 a,
    #cloud_keyword_word_13 a,
    #cloud_keyword_word_14 a,
    #cloud_keyword_word_15 a{font-size:14px;}
    #cloud_keyword_word_16 a,
    #cloud_keyword_word_17 a,
    #cloud_keyword_word_18 a,
    #cloud_keyword_word_19 a,
    #cloud_keyword_word_20 a,
    #cloud_keyword_word_21 a{font-size:13px;}
}

@keyframes shake{
    0%{transform: rotate(0deg);}
    12.5%{transform: rotate(30deg);}
    25%{transform: rotate(-30deg);}
    37.5%{transform: rotate(17deg);}
    50%{transform: rotate(-17deg);}
    62.5%{transform: rotate(5deg);}
    75%{transform: rotate(-5deg);}
    87.5%{transform: rotate(0deg);}
    100%{transform: rotate(0deg);}
}



  