@charset "utf-8";

#main{position:relative;display:block;}

#visual{position:relative;background:url(/page/isc/images/main/main_visual.jpg) no-repeat center center /cover;height:815px;}
#visual .inner{display:flex;flex-direction:column;padding-bottom:60px;justify-content:flex-end;height:100%;z-index:1;}
#visual .computer{position:absolute;right:-100px;display:block;top:50%;margin-top:-290px;animation:main-move01 1.5s infinite alternate ease-in-out;z-index:-1;}
#visual .title-bx{color:#fff;animation:main-move02 1s .2s 1 both ease-in-out;}
#visual .title-bx h2{font-size:60px;font-weight:900;text-shadow:2px 2px 2px rgba(0,0,0,.5);}
#visual .title-bx p{font-size:24px;font-weight:600;word-break:keep-all;margin-top:25px;text-shadow:2px 2px 2px rgba(0,0,0,.5);}
#visual .short-list{width:100%;padding-right:400px;display:flex;align-items:flex-end;margin-top:105px;}
#visual .short-list a{flex:1;background:#fff;height:255px;display:flex;flex-direction:column;justify-content:flex-end;align-items:center;padding-bottom:20px;box-shadow:0px 0px 15px 0px rgba(0,0,0,.5);}
#visual .short-list a + a{margin-left:40px;}
#visual .short-list a img:first-child{height:103px;}
#visual .short-list a img:last-child{height:103px;display:block;transition:all .2s;height:40px;filter:brightness(1.2);}
#visual .short-list a:hover img:last-child{filter:brightness(1);}
#visual .short-list a strong{color:#010101;font-weight:900;line-height:1.1;padding:16px 0;font-size:18px;}

#notice-popup{position:relative;padding:100px 0;}
#notice-popup .inner{display:flex;}
#notice-popup .inner > div{width:50%;}
#notice-popup .notice{position:relative;}
#notice-popup h2{line-height:1.2;font-size:36px;font-weight:900;color:#000;}
#notice-popup h2 em{font-weight:700;}
#notice-popup .more{position:absolute;right:0;top:0;}
#notice-popup .more img{display:block;transition:all .1s;width:44px;}
#notice-popup .more:hover img{filter:invert(1);}
#notice-popup .noti-list{margin-top: 40px;border-top:2px solid #000;}
#notice-popup .noti-list a{display:flex;width:100%;align-items:center;height: 112px;border-bottom:1px solid #e5e5e5;}
#notice-popup .noti-list a em{display:block;position: relative;width:105px;flex-shrink:0;display:flex;flex-direction:column;align-items:center;font-weight:900;font-size:38px;line-height:1.1;}
#notice-popup .noti-list a em i{color:#666;font-size:14px;font-weight:500;font-style:normal;}
#notice-popup .noti-list a em:after{content:'';display:block;width:2px;height:26px;background:#ededed;position:absolute;right:0;top:calc(50% - 13px)}
#notice-popup .noti-list a strong{flex:1;overflow:hidden;padding-left:35px;}
#notice-popup .noti-list a strong span{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:block;font-size:22px;font-weight:700;color:#333;transition:all .1s;}
#notice-popup .noti-list a:hover strong span{color:#010101;font-weight:900;text-decoration:underline;}
#notice-popup .popup{padding-left:65px;position:relative;}
#notice-popup .control{position:absolute;right:0;top:0;display:flex;align-items:center;height:43px;}
#notice-popup .control > div{display:flex;align-items:center;margin-right:10px;}
#notice-popup .control > div a{padding:0 23px;position:relative;}
#notice-popup .control > div a img{display:block;transition:all .1s;height:23px;}
#notice-popup .control > div a:hover img{filter:invert(1);}
#notice-popup .control > div a:last-child:after{content:'';display:block;width:2px;background:#bbb;position:absolute;left:-1px;top:3px;bottom:3px;}
#notice-popup .control a img{display:block;height:21px;}
#notice-popup .control .play{display:none;}
#notice-popup .popup .slick-wrap{margin-top: 37px;position:relative;}
#notice-popup .popup .count{z-index:5;position:absolute;top:0;right:0;display:flex;align-items:center;padding:13px 20px 13px 35px;border-radius:0px 0px 0px 40px;background:#100b27;color:#fff;font-weight:700;line-height:1;}
#notice-popup .popup .count strong{color:#0065fe;font-size:24px;font-weight:900;}
#notice-popup .popup .count span{padding:0 10px;}
#notice-popup .popup .count span:after{content:'/'}

#education{position:relative;padding:90px 0 70px;background:url(/page/isc/images/common/bg.jpg) no-repeat center center /cover}
#education h2{line-height:1.2;font-size:36px;font-weight:900;color:#000;}
#education .slick{position: relative;margin-top:25px}
#education .slick-list{padding-top:1px;padding:0 15px 20px 0px;margin:0 -15px 0 -10px;}
#education .slick-slide{margin:15px 10px 0;position:relative;background:#fff;box-shadow:12px 12px 12px 0px rgba(0,0,0,.1);border-radius:15px;padding-top:53px;border:1px solid #fff;transition:all .2s;opacity:0;}
#education .slick-slide.slick-active{opacity:1;}
#education .slick-slide:hover{border-color:#0065fe}
#education .slick-slide em{display:flex;width:74px;height:56px;justify-content:center;align-items:center;color:#fff;background:#0065fe;font-weight:700;position:absolute;top:-15px;right:25px;}
#education .slick-slide em.end{background:#010101}
#education .slick-slide h3{word-break:keep-all;font-weight:900;font-size:22px;padding:0 30px; display: -webkit-box;-webkit-line-clamp: 2;overflow: hidden;-webkit-box-orient: vertical;height:3em;line-height:1.5;}
#education .slick-slide div{margin-top:15px;padding:20px 30px 20px;background:#f8f8f8;border-radius:0 0 15px 15px;}
#education .slick-slide div p{display:flex;align-items:center;font-size:17px;color:#666;}
#education .slick-slide div span{flex-shrink:0;margin-right:15px;padding:0 10px;height:30px;line-height:30px;font-weight:700;border-radius:5px;background:#e7e7e7;display:block;}
#education .slick-slide div p + p{margin-top:8px;}
#education .slick-arrow{position:absolute;width:23px;height:43px;position:absolute;left:-80px;top:calc(50% - 22px);background:url(/page/isc/images/common/arrow4.png) no-repeat center center /cover;font-size:0;color:transparent}
#education .slick-arrow.slick-next{left:auto;right:-65px;background-image:url(/page/isc/images/common/arrow5.png);}
#education .more{display:flex;align-items:center;flex-direction:column;position:absolute;top:-7px;right:20px;}
#education .more img{height:22px;}
#education .more span{line-height:1.2;margin-top:10px;font-size:18px;font-weight:900;font-size:18px;}
#education .more:hover span{color:#0065fe;text-decoration:underline;}


@media (max-width:1399px) {
    #visual{height:653px;}
    #visual .inner{padding-bottom:50px;}
    #visual .computer{right:-70px;margin-top:-210px;width:386px}
    #visual .title-bx h2{font-size:46px;}
    #visual .title-bx p{font-size:18px;margin-top:20px;font-weight:500;}
    #visual .short-list{padding-right:270px;margin-top:75px;}
    #visual .short-list a{height:215px;}
    #visual .short-list a + a{margin-left:20px;}
    #visual .short-list a img:first-child{height:83px;}
    #visual .short-list a img:last-child{height:30px;filter:brightness(1);}
    #visual .short-list a strong{padding:13px 0;font-size:15px;}
    
    #notice-popup{padding:60px 0;}
    #notice-popup .notice{position:relative;width:calc(100% - 500px) !important}
    #notice-popup h2{font-size:28px;}
    #notice-popup .more{position:absolute;right:0;top:0;}
    #notice-popup .more img{width:36px;}
    #notice-popup .noti-list{margin-top: 28px;border-top:1px solid #000;}
    #notice-popup .noti-list a{height: 80px;}
    #notice-popup .noti-list a em{width:75px;font-size:28px;}
    #notice-popup .noti-list a em i{font-size:13px;}
    #notice-popup .noti-list a em:after{width:1px;height:22px;top:calc(50% - 11px)}
    #notice-popup .noti-list a strong{padding-left:25px;}
    #notice-popup .noti-list a strong span{font-size:16px;}
    #notice-popup .popup{padding-left:35px;width:500px !important;}
    #notice-popup .control{transform:scale(.8);transform-origin:100% 50%;}
    #notice-popup .popup .slick-wrap{margin-top: 28px;position:relative;}
    #notice-popup .popup .count{transform:scale(.8);transform-origin:100% 0%;}

    #education{padding:60px 0 35px;}
    #education h2{font-size:28px;}
    #education .slick{margin-top:20px;}
    #education .slick-list{padding:0 20px 20px 20px;margin:0 -20px 0 -20px;}
    #education .slick-slide{margin:15px 8px 0;box-shadow:12px 12px 12px 0px rgba(0,0,0,.1);padding-top:45px;width:290px;}
    #education .slick-slide em{width:64px;height:46px;top:-15px;right:20px;font-size:14px;}
    #education .slick-slide h3{font-size:18px;padding:0 20px;}
    #education .slick-slide div{margin-top:13px;padding:15px 20px;}
    #education .slick-slide div p{font-size:14px;}
    #education .slick-slide div span{margin-right:13px;padding:0 8px;height:26px;line-height:26px;}
    #education .slick-slide div p + p{margin-top:6px;}
    #education .slick-arrow{display:none !important;}
    #education .more{transform:scale(.8);transform-origin:100% 50%;}
}   
  
@media (max-width:991px) {
    #visual{height:603px;}
    #visual .inner{padding-bottom:35px;}
    #visual .computer{right:-40px;margin-top:-190px;width:316px}
    #visual .title-bx h2{font-size:40px;}
    #visual .title-bx p{font-size:16px;margin-top:15px;}
    #visual .short-list{padding-right:150px;margin-top:65px;}
    #visual .short-list a{height:185px;}
    #visual .short-list a + a{margin-left:15px;}
    #visual .short-list a img:first-child{height:69px;}
    #visual .short-list a img:last-child{height:26px;}
    #visual .short-list a strong{padding:12px 0;font-size:15px;}
    
    #notice-popup{padding:40px 0;}
    #notice-popup .inner{display:block;}
    #notice-popup .notice{position:relative;width:100% !important}
    #notice-popup h2{font-size:24px;}
    #notice-popup .more img{width:34px;}
    #notice-popup .noti-list{margin-top: 25px;}
    #notice-popup .noti-list a{height: 72px;}
    #notice-popup .noti-list a em{width:75px;font-size:24px;}
    #notice-popup .noti-list a em i{font-size:12px;margin-top:3px;}
    #notice-popup .noti-list a em:after{height:18px;top:calc(50% - 9px)}
    #notice-popup .noti-list a strong{padding-left:20px;}
    #notice-popup .noti-list a strong span{font-size:15px;}
    #notice-popup .popup{padding:0;width:100% !important;margin-top:40px;}
    #notice-popup .control{transform:scale(.75);}
    /* #notice-popup .popup .slick-wrap{margin-top: 28px;} */
    #notice-popup .popup .count{transform:scale(.75);right:-20px;}
    #notice-popup .popup .slick-list{padding:0 20px 0 20px;margin:0 -20px;}
    #notice-popup .popup .slick-slide{margin-right:15px;width:440px;opacity:0;transition:all .2s;}
    #notice-popup .popup .slick-active,
    #notice-popup .popup .slick-active ~ .slick-slide{opacity:1;}

    #education{padding:45px 0 30px;}
    #education h2{font-size:24px;}
    #education .slick{margin-top:20px;}
    /* #education .slick-list{padding:0 20px 20px 20px;margin:0 -20px 0 -20px;} */
    #education .slick-slide{margin:12px 7.5px 0;box-shadow:10px 10px 10px 0px rgba(0,0,0,.1);padding-top:40px;width:270px;}
    #education .slick-slide em{width:64px;height:38px;top:-15px;right:20px;font-size:13px;}
    #education .slick-slide h3{font-size:16px;padding:0 15px;}
    #education .slick-slide div{margin-top:10px;padding:15px 15px;}
    #education .slick-slide div p{font-size:13px;}
    #education .slick-slide div span{margin-right:12px;height:24px;line-height:24px;}
    #education .more{transform:scale(.75);margin-top:-10px;}

}
  
@media (max-width:716px) {
    #visual{height:565px;}
    #visual .inner{padding-bottom:20px;}
    #visual .computer{right:-30px;margin-top:-260px;width:206px}
    #visual .title-bx h2{font-size:26px;}
    #visual .title-bx p{font-size:13px;margin-top:12px;}
    #visual .short-list{padding-right:0px;margin-top:50px;flex-direction:column;}
    #visual .short-list a{height:70px;width:100%;display:flex;flex-direction:row;justify-content:flex-start;align-items:center;padding-bottom:0;flex:initial;padding-left:20px;}
    #visual .short-list a + a{margin:5px 0 0;}
    #visual .short-list a img:first-child{height:48px;margin-right:15px;}
    #visual .short-list a img:last-child{display:none;}
    #visual .short-list a strong{padding:12px 0;font-size:14px;}
    
    #notice-popup .notice{position:relative;width:100% !important}
    #notice-popup h2{font-size:22px;}
    #notice-popup .more{top:-3px}
    #notice-popup .more img{width:30px;}
    #notice-popup .noti-list{margin-top: 20px;}
    #notice-popup .noti-list a{height: 68px;}
    #notice-popup .noti-list a em{width:68px;font-size:22px;}
    #notice-popup .noti-list a em i{font-size:11px;margin-top:3px;}
    #notice-popup .noti-list a strong{padding-left:15px;}
    #notice-popup .noti-list a strong span{font-size:14px;}
    #notice-popup .popup{margin-top:35px;}
    #notice-popup .control{transform:scale(.7);top:-10px;}
    #notice-popup .popup .slick-wrap{margin-top: 20px;}
    #notice-popup .popup .count{transform:scale(.7);right:10px;}
    #notice-popup .popup .slick-list{padding:0 15px;margin:0 -15px;}
    #notice-popup .popup .slick-slide{margin-right:10px;width:calc(100vw - 40px);max-width:400px;}

    #education{padding:35px 0 30px;}
    #education h2{font-size:22px;}
    #education .slick{margin-top:17px;}
    #education .slick-list{padding:0 15px 15px 15px;margin:0 -15px;}
    #education .slick-slide{margin:12px 6px 0;box-shadow:5px 5px 5px 0px rgba(0,0,0,.1);padding-top:30px;width:265px;}
    #education .slick-slide em{width:62px;height:32px;line-height:34px;top:-15px;right:15px;font-size:12px;}
    #education .slick-slide h3{font-size:15px;}
    #education .more{transform:scale(.7);margin-top:-5px;}
    #education .slick-slide div p{font-size:12px;}
    #education .slick-slide div span{margin-right:10px;height:22px;line-height:22px;}
}


@keyframes main-move01{ 
    0%{transform:translateY(-5%)}
    100%{transform:translateY(5%)} 
}

@keyframes main-move02{ 
    0%{transform:translateY(30%);opacity:0;}
    100%{transform:translateY(0%);opacity:1;} 
}
