@charset "utf-8";

#sub{position:relative;padding-top:110px;transition:padding .5s;}
#content{padding-top:50px;padding-bottom:50px}
.fixed ~ #sub{padding-top:120px;}

#sub-visual{position:relative;margin-bottom:45px;}
#sub-visual h3{display:flex;align-items:center;justify-content:center;height:140px;font-size:40px;font-weight:700;}
#sub-visual .breadcrumb{position:absolute;bottom:65px;right:20px;display:flex;align-items:center;}
#sub-visual .breadcrumb a{color:#888;font-size:14px;height:36px;line-height:36px;padding-left:15px;margin-left:10px;position:relative;}
#sub-visual .breadcrumb a:last-child{color:#595959;text-decoration:underline;}
#sub-visual .breadcrumb a:hover{color:#000}
#sub-visual .breadcrumb a:not(:first-child):after{content:'';display:block;width:5px;height:5px;border:1px solid #888;border-width:1px 1px 0 0;position:absolute;left:0;top:50%;margin-top:-3px;transform:rotate(45deg);}
#sub-visual .tab{position:relative;display:flex;justify-content:center;z-index:15;}
#sub-visual .tab:before{content:'';display:block;position:absolute;top:0;bottom:0;left:50%;margin-left:-960px;width:1920px;background:#333;z-index:-1;}
#sub-visual .tab a{height:52px;flex:1;max-width:200px;display:flex;align-items:center;justify-content:center;color:#888;font-size:18px;transition:all .1s;}
#sub-visual .tab a.active{color:#fff;font-weight:500;background:#151515}
#sub-visual .tab a:hover{color:#fff;}


@media (max-width: 1399px){
  #content{padding-top:40px;padding-bottom:40px}
  #sub{padding-top:70px;transition:padding 0s;}
  .fixed ~ #sub{padding-top:70px;}

  #sub-visual{margin-bottom:20px;}
  #sub-visual h3{height:130px;font-size:32px;padding-top:10px;}
  #sub-visual .breadcrumb{bottom: 60px;}
  #sub-visual .breadcrumb a{font-size:13px;height:32px;line-height:32px;padding-left:13px;margin-left:8px;}
  #sub-visual .tab a{height:48px;font-size:16px;}
}

@media (max-width: 991px){
  #content{padding-top:35px;padding-bottom:35px}
  #sub-visual{margin-bottom:15px;}
  #sub-visual h3{height:125px;font-size:30px;padding-top:15px;}
  #sub-visual .breadcrumb{
    bottom: 55px;
}
  #sub-visual .tab a{height:46px;font-size:15px;}
}

@media (max-width: 716px){
  #content{padding-top:30px;padding-bottom:30px}
  #sub-visual{margin-bottom:10px;}
  #sub-visual h3{height:120px;font-size:28px;padding:0px 0 30px;}
  #sub-visual .breadcrumb{top:auto;bottom:50px;}
  #sub-visual .breadcrumb a{font-size:12px;height:30px;line-height:30px;padding-left:13px;margin-left:7px;}
  #sub-visual .tab{height:42px;flex-direction:column;justify-content:flex-start;padding-top:40px;}
  #sub-visual .tab a{min-height:42px;font-size:14px;max-width:initial;background:#333;width:100%;display:none;}
  #sub-visual .tab a.active{position:absolute;top:0;height:42px;display:flex;}
  #sub-visual .tab a.active:after{content:'';display:block;width:5px;height:5px;border:1px solid #fff;border-width:1px 1px 0 0;transform:rotate(135deg);margin:-2px 0 0 15px;transition:all .2s;}
  #sub-visual .tab.active a.active:after{transform:rotate(-45deg);margin-top:2px;}
  #sub-visual .tab.active a:not(.active){display:flex;animation:tab-move1 .2s 1 both ease-out;}
  #sub-visual .tab.active a:not(.active):nth-child(1){animation-delay:.1s;}
  #sub-visual .tab.active a:not(.active):nth-child(2){animation-delay:.15s;}
  #sub-visual .tab.active a:not(.active):nth-child(3){animation-delay:.2s;}
  #sub-visual .tab.active a:not(.active):nth-child(4){animation-delay:.25s;}
  #sub-visual .tab.active a:not(.active):nth-child(5){animation-delay:.3s;}
  #sub-visual .tab.active a:not(.active):nth-child(6){animation-delay:.35s;}
  #sub-visual .tab.active a:not(.active):nth-child(7){animation-delay:.4s;}
}


@keyframes tab-move1{ 
  0%{transform:rotateX(90deg);}
  100%{transform:rotateX(0deg);}
}


/*ui 수정*/
#sub .titLv{color:#000;font-size:36px;line-height:1.2;font-weight: 900;margin-bottom:20px;}
#sub .pgraph{padding-left:0;font-size: 18px;line-height: 1.7;}
#sub .titLv2{padding-left:0;color:#000;font-size:30px;line-height:1.2;font-weight:700;margin-bottom: 15px;margin-top:25px;}
#sub .titLv3{padding-left:0;color:#000;font-size:24px;line-height:1.2;font-weight:700;margin-bottom:5px;}
#sub .titLv3:before,
#sub .titLv2:before{display:none;}
#sub .listLv{margin-left:0;font-size:18px;line-height:1.7;color:#333;font-weight:400;padding-left:0px;word-break:keep-all;}
#sub .listLv li{padding-left:15px;}
#sub .listLv2{margin-left:-15px;margin-top:15px;}
#sub .listLv2 li{font-size:18px;line-height:1.7;color:#333;font-weight:400;padding-left:15px;}
#sub .listLv3, #sub .listLv4{margin-left:-15px;margin-top:15px;padding-left:0;}
#sub .listLv3 li, #sub .listLv4 li{font-size:16px;line-height:1.7;color:#555;font-weight:400;padding-left:15px;margin-top:8px;}
#sub .listLv > li:before{background:#333;border-radius:50%;width:4px;height:4px;left: 0;top: 19px;}
#sub .listLv2 > li:before{background:transparent;width:4px;height:4px;left: 0;top: 12px;border:2px solid #333;border-width: 2px 2px 0 0;transform: rotate(45deg);}
#sub .listLv3 > li:before{top:12px;left:2px}
#sub .listLv4 > li:before{top:13px;left:4px;}
#sub .imptBox{border:0;border-radius:10px;box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);background:#fff;font-size:18px;color:#333;line-height:1.7;padding: 25px;margin: 45px 0;font-weight: 400;word-break: keep-all;}

#sub .skinTb{border-bottom:2px solid #000;font-size:18px;font-weight:400;color:#000;}
#sub .skinTb:before {border-top:2px solid #000;}
#sub .skinTb >tr >th,
#sub .skinTb >thead >tr >th,
#sub .skinTb >tbody >tr >th,
#sub .skinTb >tfoot >tr >th,
#sub .skinTb >tr >td,
#sub .skinTb >thead >tr >td,
#sub .skinTb >tbody >tr >td,
#sub .skinTb >tfoot >tr >td,
#sub .skinTb-th,
#sub .skinTb-td {border-width:0 0 1px;border-color: #ddd;}
#sub .skinTb >thead >tr >th{border-color:#000}
#sub .skinTb >tbody >tr >th{border-right:1px solid #000}
#sub .skinTb-th,
#sub .skinTb th{font-weight:500;color:#000;background:#fff;}
#sub .skinTb input[type=text],
#sub .skinTb textarea,
#sub .skinTb input[type=password]{border-radius:5px;}
#sub .boGallery.photo > li{background:#fff;}

#sub a.skinBtnBo{padding:0 30px;background:#fff;height:42px;line-height: 39px;border-radius:21px;border: 2px solid #000;color: #000;transition:all .1s;font-size:16px;font-weight:400;text-decoration:none;}
#sub a.skinBtnBo:before{display:none;}
#sub a.skinBtnBo:hover{background:#000;color:#fff;}
#sub a.skinBtnBo i{display:inline-block;transition:all .1s;vertical-align:middle;margin-right: 17px;width:16px;height:16px;background: url(/page/comz-field/images/common/sp_new.png) no-repeat -364px -192px / 960px 320px;margin-top: -4px;}
#sub a.skinBtnBo i.v2{background-position-x: -444px;}
#sub a.skinBtnBo i.v3{background-position-x: -524px;width: 20px;}
#sub a.skinBtnBo i.v4{background-position-x: -604px;}
#sub a.skinBtnBo i.v5{background-position-x: -683px;}
#sub a.skinBtnBo i.v6{background-position-x: -765px;}
#sub a.skinBtnBo:hover i{filter:invert(1) brightness(200);}
#sub .boSrchArea{border:0;background:transparent;}
#sub .boSrchArea .boMeta{display:none;}
#sub .boSrchArea input[type="submit"] ,#sub .boSrchArea .skinIptTxt, #sub .boSrchArea .skinSelectBox{border-radius:20px;}
#sub .boGalleryView .slick-dots li + li{margin-left:10px;}

#sub .titLv2 + .skinTb{margin-top:25px;}

#sub .skinTb img{max-width:100%;}


@media (max-width: 1399px){
  #sub .titLv{font-size:28px;margin-bottom: 12px;}
  #sub .pgraph{font-size: 16px !important;}
  #sub .titLv2{font-size:24px;margin-bottom:10px;margin-top:20px;}
  #sub .titLv3{font-size:20px;margin-bottom:5px;}
  #sub .listLv{font-size:16px !important;}
  #sub .listLv2{margin-top:10px;}
  #sub .listLv2 li{font-size:16px !important;}
  #sub .listLv3, #sub .listLv4{margin-top:10px;}
  #sub .listLv3 li, #sub .listLv4 li{font-size:15px;margin-top:4px;}
  #sub .listLv > li:before{top: 18px;}
  #sub .listLv2 > li:before{top: 10px;}
  #sub .listLv3 > li:before{top:11px;}
  #sub .listLv4 > li:before{top:11px;}
  #sub .imptBox{font-size:16px;padding:20px;margin:35px 0;}
  #sub .skinTb{font-size:16px;}
  #sub .skinTb-tr{border-bottom:1px solid #999}
  #sub .skinTb-tr:last-child{border-bottom:0;}

  #sub a.skinBtnBo{padding:0 20px;height:40px;line-height: 38px;border:1px solid #000;font-size:15px;background:#333;color:#fff;}
  #sub a.skinBtnBo.v2{background:transparent;color:#000;}
  #sub a.skinBtnBo.icon{font-size:0;width:40px;text-align:center;padding:0;}
  #sub a.skinBtnBo i{filter:invert(1) brightness(200);margin:0;}
  #sub .boSrchArea{border:0;background:transparent;}
  #sub .boSrchArea .boMeta{display:none;}
  #sub .boSrchArea input[type="submit"] ,#sub .boSrchArea .skinIptTxt, #sub .boSrchArea .skinSelectBox{border-radius:20px;}

  #sub .titLv2 + .skinTb{margin-top:20px;}
}


@media (max-width: 991px){
  #sub .titLv{font-size:26px;margin-bottom: 10px;}
  #sub .pgraph{font-size:15px !important;}
  #sub .titLv2{font-size:22px;margin-bottom:6px;margin-top:17px;}
  #sub .titLv3{font-size:18px;margin-bottom:4px;}
  #sub .listLv{font-size:15px !important;}
  #sub .listLv2{margin-top:8px;}
  #sub .listLv2 li{font-size:15px !important;}
  #sub .listLv3, #sub .listLv4{margin-top:8px;}
  #sub .listLv3 li, #sub .listLv4 li{font-size:14px;margin-top:4px;}
  #sub .listLv > li:before{top: 16px;}
  #sub .listLv2 > li:before{top: 8px;}
  #sub .listLv3 > li:before{top:10px;}
  #sub .listLv4 > li:before{top:10px;}
  #sub .imptBox{font-size:15px;padding:15px 20px;margin:30px 0;}
  #sub .skinTb{font-size:15px;}
  #sub a.skinBtnBo{padding:0 17px;font-size:15px;}
  #sub .boGalleryView .slick-dots{transform:scale(.8);}
}


@media (max-width: 716px){
  #sub .titLv{font-size:22px;margin-bottom: 6px;}
  #sub .pgraph{font-size:14px !important;}
  #sub .titLv2{font-size:20px;margin-bottom:2px;margin-top:15px;}
  #sub .titLv3{font-size:17px;margin-bottom:2px;}
  #sub .listLv{font-size:14px !important;}
  #sub .listLv2{margin-top:8px;}
  #sub .listLv2 li{font-size:14px !important;}
  #sub .listLv3, #sub .listLv4{margin-top:6px;}
  #sub .listLv3 li, #sub .listLv4 li{font-size:13px;margin-top:1px;}
  #sub .listLv > li:before{top: 15px;}
  #sub .listLv2 > li:before{top: 8px;}
  #sub .listLv3 > li:before{top:10px;}
  #sub .listLv4 > li:before{top:10px;}
  #sub .imptBox{font-size:14px;padding:15px 20px;margin:25px 0;}
  #sub .skinTb{font-size:14px;}
  #sub a.skinBtnBo{padding:0 15px;font-size:14px;height:36px;line-height:34px;}
  #sub a.skinBtnBo.icon{width:36px;}
  #sub a.skinBtnBo i{transform:scale(.9);}
  #sub .skinTb-data-bgSbj >.skinTb-tr >.skinTb-sbj,
	#sub .skinTb-data-bgSbj >tr >.skinTb-sbj,
	#sub .skinTb-data-bgSbj >tbody >tr >.skinTb-sbj {background-color: #fff;}
  #sub .skinTb-data-resList >tbody >tr{border-bottom:1px solid #999}
  #sub .skinTb-data-resList >tbody >tr:last-child{border-bottom:0}
  #sub .skinTb-data-resList >tbody >tr:nth-child(odd){background:#fff;}
  #sub .skinTb-data-resList >tbody td,
  #sub .skinTb-data-resList >tbody th,
  #sub .skinTb .skinTb-td,
  #sub .skinTb .skinTb-th{border:0;}
  #sub .titLv2 + .skinTb{margin-top:15px;}
}



/*이미지 줌 모달*/
.img-modal-bx{display:flex;align-items:center;justify-content:space-between;margin-top:35px;}
.img-modal-bx .img-zoom-modal{margin-top:0;}
.img-modal-bx .img-zoom-modal + .img-zoom-modal{margin-left:15px;}
.img-zoom-modal{position:relative;background:#fafafa;display:block;margin:35px 0;flex:1;}
.img-zoom-modal:after{content:"확대축소";transition:all .2s;width:40px;height:40px;background:rgba(0,0,0,.7) url(/page/common/images/zoom_w.png) no-repeat center center /25px 25px;border-radius:50%;position:absolute;bottom:10px;right:10px;display:block;font-size:0;}
.img-zoom-modal:before{content:"확대축소";transition:all .2s;width:70px;height:70px;opacity:0;;background:rgba(0,0,0,.7) url(/page/common/images/zoom_w.png) no-repeat center center /50px 50px;border-radius:50%;position:absolute;left:50%;top:50%;display:block;font-size:0;margin:-50px 0 0 -50px;}
.img-zoom-modal:hover:after{opacity:0;}
.img-zoom-modal:hover:before{opacity:.6;}
.img-zoom-modal img{display:block;margin:0 auto;max-width:100%;}
#img-modal{width:auto;padding:60px 0px 60px;background:#191919;position:fixed;z-index:5000;top:0;right:0;left:0;bottom:0;animation:img-modal .35s 1 both ease;}
#img-modal .thumb{width:auto;margin:0 auto;display:flex;align-items:center;justify-content:center;height: calc(100vh - 120px);overflow:hidden;background:#efefef}
#img-modal .thumb img{display:block}
#img-modal .contsBtn{display:block;margin:30px auto 0;max-width:125px;background:#fff;border-radius:0;}
#img-modal .close{display:block;position:absolute;right:15px;top:13px;width:24px;height:24px;filter: invert(1);font-size:30px;line-height: 1;}
#img-modal .close:hover{transform:scale(1.1);}

#img-modal .title-bx{color:#f1f1f1;position:absolute;bottom:0;left:0;width:100%;background:#000;height:60px;padding:0 310px 0 0px;z-index:10;}
#img-modal .title-bx h1{padding-left:20px;height:60px;line-height:58px;font-weight:300;font-size:17px;border-left:5px solid #aaa;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#img-modal .title-bx .btn-bx{position:absolute;right:10px;top:12px;height:36px;}
#img-modal .title-bx .btn-bx a{display:inline-block;vertical-align:top;border:1px solid #aaa;height:36px;line-height:34px;color:#aaa;font-size:14px;font-weight:300;min-width:100px;text-align:center;}
#img-modal .title-bx .btn-bx i{margin-right:3px;}
#img-modal .title-bx .btn-bx a + a{margin-left:3px;}


@media (max-width: 1399px){
  .img-modal-bx{margin-top:25px;}
  .img-zoom-modal{margin:25px 0;}
  .img-modal-bx .img-zoom-modal + .img-zoom-modal{margin-left:10px;}
  #img-modal{padding: 50px 0px 50px;}
  #img-modal .thumb{height: calc(100vh - 100px);}
  #img-modal .title-bx{height:50px;padding: 0 115px 0 0px;}
  #img-modal .title-bx h1{padding-left:15px;height:50px;line-height:48px;font-size:15px;border-left:3px solid #aaa}
  #img-modal .title-bx .btn-bx{top:9px;height:32px;}
  #img-modal .title-bx .btn-bx a{height:32px;line-height:30px;font-size:14px;min-width:32px;font-size:0;}
  #img-modal .title-bx .btn-bx i{margin-right:0px;font-size:16px;vertical-align:middle;}
  #img-modal .title-bx .btn-bx a + a{margin-left:3px;}
  #img-modal .close{right: 10px;top: 11px;font-size: 28px;}
  .img-zoom-modal:before{display:none !important}
  .img-zoom-modal:after{transform:scale(.8);transform-origin:100% 100%;opacity:1 !important;}
}

@media (max-width: 716px){
  .img-zoom-modal{margin:25px 0;}
  .img-modal-bx{overflow-x:auto;padding:0 0 0 15px;margin:0 -15px;-webkit-overflow-scrolling: touch;margin-top:15px}
  .img-modal-bx .img-zoom-modal{margin:15px 10px 15px 0 !important;min-width:300px;}
  .img-zoom-modal{margin:15px 0;}
  #img-modal .title-bx{height:50px;padding:0 90px 0 0px}
  #img-modal .title-bx h1{font-size:14px;}
  #img-modal .title-bx .btn-bx{right: 10px;}
  #img-modal .title-bx .btn-bx i{font-size:15px;}
  #img-modal .title-bx .btn-bx a + a{margin-left:1px;}
  #img-modal .close{right: 6px;}
  .img-zoom-modal:after{transform:scale(.7);right:5px;bottom:5px;}
}

@keyframes img-modal { 
  0% {opacity:0;transform:translateY(50%);}
  100% {opacity:1;transform:translateY(0%);}
}

#depth3-tap{position:relative;display:flex;align-items:center;justify-content:center;padding:0 20px;}
#depth3-tap a{flex:1;max-width:190px;display:flex;align-items:center;justify-content:center;height:50px;border:1px solid #000;font-size:18px;font-weight:500;}
#depth3-tap a + a{margin-left:-1px;}
#depth3-tap a:hover{font-weight:700;}
#depth3-tap a.active{color:#fff;background:#333;font-weight:500;}

@media (max-width: 1399px){
  #depth3-tap{padding:10px 20px 0;}
  #depth3-tap a{height:42px;max-width:165px;font-size:16px;}
}
@media (max-width: 991px){
  #depth3-tap{padding:15px 20px 0;}
  #depth3-tap a{height:40px;max-width:145px;font-size:15px;}
}

@media (max-width: 716px){
  #depth3-tap{padding:15px 15px 0;}
  #depth3-tap a{height:36px;max-width:125px;font-size:13px;}
}


/*콘텐츠*/

/*공간*/
.space-bx{position:relative;}
.space-tab{position:relative;text-align:center;font-weight:300;color:#8c8c8c;font-size:26px;letter-spacing:2px;z-index:10;}
.space-tab .select-wrap{display:flex;align-items:center;justify-content:center;margin-top:10px;}
.space-tab .select-bx{position:relative;margin-right:25px}
.space-tab .select-bx button{height:50px;line-height:49px;z-index:3;;color:#333;letter-spacing:2px;position:relative;;background:#fbfbfb;border-bottom:1px solid #ff4713;font-size:36px;font-weight:700;display:block;min-width:310px;padding:0 50px 0 20px;}
.space-tab .select-bx button:after{content:'';display:block;width:32.5px;height:20.5px;background:url(/page/comz-field/images/sub/list-open.png) no-repeat 0 0 /cover;position:absolute;right:0;top:calc(50% - 10px);transition:all .25s;}
.space-tab .select-bx button.active:after{transform:rotate(180deg);}
.space-tab .select-bx .select-list{position:absolute;background:#333;left:0;right:0;display:none;animation:tab-move2 .35s 1 both ease-out;}
.space-tab .select-bx a{display:flex;color:#fff;padding:7px 10px;font-size:17px;justify-content:center;transition:all .15s;}
.space-tab .select-bx a:hover{text-decoration:none;font-weight:700;background:#151515;}

.space-bx .view-bx{position:relative;z-index:1;padding:70px 0 30px;}
.space-bx .view-bx:before{content:'';display:block;width:1920px;top:210px;bottom:0;left:50%;margin-left:-960px;z-index:-1;background:#fbfbfb;position:absolute;}
.space-bx .view-bx article{position:relative;display:none;animation:box-move1 .5s .2s 1 both ease-in-out}
.space-bx .view-bx article:first-child{display:block;}
.space-bx .view-bx .slick{position:relative;box-shadow:5px 5px 15px 0px rgba(0,0,0,.2);margin-bottom:50px;}
.space-bx .view-bx .slick-arrow{position:absolute;z-index:3;;left:0;top:calc(50% - 30px);width:60px;height:60px;color:transparent;font-size:0;background:url(/page/comz-field/images/sub/imgNext01.png) no-repeat 0 0 /cover;}
.space-bx .view-bx .slick-arrow.slick-next{left:auto;right:0;background-image:url(/page/comz-field/images/sub/imgNext02.png);}
.space-bx .view-bx .slick-arrow:hover{filter:invert(1);}
.space-bx .view-bx .info-list{margin-top:32px;border-top:1px solid #aaa;padding-top:5px;}
.space-bx .view-bx .info-list .bx{padding-top:30px;}
.space-bx .view-bx .info-list h4{font-size:20px;font-weight:700;line-height:1.2;margin-bottom:8px;}
.space-bx .view-bx .info-list .bx > div{display:flex;flex-wrap:wrap;}
.space-bx .view-bx .info-list .bx > div p{flex:1 30%;padding-top:8px;display:flex;}
.space-bx .view-bx .info-list .bx > div p strong{min-width:120px;padding-right:10px;vertical-align:top;display:inline-block;font-weight:700;color:#333;}
.space-bx .view-bx .info-list .bx > div p span{color:#8c8c8c;display:inline-block;vertical-align:top;margin-right:45px;}

.itit1{line-height:1.3;font-size:26px;font-weight:700;margin:70px 0 35px;}
.itit1 span{display:inline-block;position:relative;}
.itit1 span:before{content:'';display:block;z-index:-1;position:absolute;left:-5px;right:-5px;background:#ffd700;top:50%;bottom:0px;}
.itit2{line-height:1.3;font-size:20px;font-weight:700;margin:50px 0 22px;}
.itit2 span{display:inline-block;position:relative;}
.itit2 span:before{content:'';display:block;z-index:-1;position:absolute;left:-6px;background:#ffd700;top:3px;width:12px;height:20px;transform:rotate(-35deg);}

article.text-bx{position:relative;line-height:1.7;}
article.text-bx p{display:flex;color:#666;padding:0 20px;margin-bottom:2px;}
article.text-bx p > strong{color:#000;}
article.text-bx p em{flex-shrink:0;padding-right:5px;}
article.text-bx > div{margin-top:10px;padding-top:12px;border-top:1px solid #aaa;}
article.text-bx > div.v2{font-size:14px;}
article.text-bx span > span{display:block;}
article.text-bx > div strong{font-weight:500;}
article.text-bx a{display:inline-block;font-size:14px;color:#fff;border-radius:3px;background:#535353;padding:0 7px;height:20px;line-height:20px;vertical-align:text-top;margin:3px 0 0 5px;}

@media (max-width: 1399px){
  .space-tab{font-size:18px;letter-spacing:1px;}
  .space-tab .select-wrap{margin-top:5px;}
  .space-tab .select-bx{margin-right:15px}
  .space-tab .select-bx button{height:44px;line-height:43px;letter-spacing:1px;font-size:24px;min-width:250px;padding:0 40px 0 15px;}
  .space-tab .select-bx button:after{transform:scale(.7);transform-origin:50% 50%;}
  .space-tab .select-bx button.active:after{transform:rotate(180deg) scale(.7);}
  .space-tab .select-bx a{padding:5px 10px;font-size:15px;}

  .space-bx .view-bx{padding:40px 0 20px;}
  .space-bx .view-bx:before{top:160px;}
  .space-bx .view-bx .slick{margin:0 -20px 35px;}
  .space-bx .view-bx .slick-arrow{transform:scale(.8);transform-origin:0% 50%;}
  .space-bx .view-bx .slick-arrow.slick-next{transform-origin:100% 50%;}
  .space-bx .view-bx .info-list{margin-top:28px;padding-top:5px;}
  .space-bx .view-bx .info-list .bx{padding-top:25px;}
  .space-bx .view-bx .info-list h4{font-size:18px;margin-bottom:6px;}
  .space-bx .view-bx .info-list .bx > div p{flex:1 50%;padding-top:7px;font-size:15px;}
  .space-bx .view-bx .info-list .bx > div p strong{min-width:100px;padding-right:10px}
  .space-bx .view-bx .info-list .bx > div p span{margin-right:25px;}

  .itit1{font-size:22px;margin:45px 0 25px;}
  .itit2{font-size:18px;font-weight:700;margin:35px 0 18px;}
  .itit2 span:before{left:-5px;top:2px;width:10px;height:18px;}

  article.text-bx{font-size:15px;}
  article.text-bx p{padding:0 10px;}
  article.text-bx > div{margin-top:9px;padding-top:11px;}
  article.text-bx > div.v2{font-size:13.5px;}
  article.text-bx a{font-size:13px;padding:0 5px;height:20px;line-height:20px;margin:2px 0 0 5px;}
}


@media (max-width: 716px){
  .space-tab{font-size:17px;letter-spacing:0px;}
  .space-tab .select-wrap{display:block;}
  .space-tab .select-bx{margin:0 auto 10px}
  .space-tab .select-bx button{height:40px;line-height:40px;font-size:20px;min-width:220px;padding:0 30px 0 15px;margin:0 auto;}
  .space-tab .select-bx button:after{transform:scale(.5);}
  .space-tab .select-bx button.active:after{transform:rotate(180deg) scale(.5);}
  .space-tab .select-bx a{padding:5px 10px;font-size:14px;}

  .space-bx .view-bx{padding:20px 0 15px;}
  .space-bx .view-bx:before{top:100px;}
  .space-bx .view-bx .slick{margin:0 -15px 30px;}
  .space-bx .view-bx .slick-arrow{transform:scale(.5);}
  .space-bx .view-bx .info-list{margin-top:25px;padding-top:5px;}
  .space-bx .view-bx .info-list .bx{padding-top:22px;}
  .space-bx .view-bx .info-list h4{font-size:16px;margin-bottom:5px;}
  .space-bx .view-bx .info-list .bx > div p{flex:1 100%;padding-top:6px;font-size:13.5px;display:block;}
  .space-bx .view-bx .info-list .bx > div p span{margin-right:15px;}


  .itit1{font-size:18px;margin:35px 0 18px;}
  .itit2{font-size:16px;font-weight:700;margin:27px 0 13px;}
  .itit2 span:before{left:-5px;top:2px;width:10px;height:18px;}

  article.text-bx{font-size:13px;}
  article.text-bx p{padding:0 5px;}
  article.text-bx > div{margin-top:9px;padding-top:11px;}
  article.text-bx > div.v2{font-size:12.5px;}
  article.text-bx a{font-size:12px;height:18px;line-height:18px;margin:2px 0 0 5px;}
}

.ctit{text-align:center;color:#151515;font-size:30px;font-weight:500;line-height:1.3;}
.center-btn-bx{position:relative;margin-top:65px;display:flex;justify-content:center;align-items:center;}
.center-btn-bx a{display:flex;align-items:center;padding:0 20px;border:2px solid #535353;color:#535353;height:48px;border-radius:24px;font-weight:400;transition:all .15s;}
.center-btn-bx a + a{margin-left:20px;}
.center-btn-bx a img{height:24px;margin-right:12px;transition:all .1s;}
.center-btn-bx a:hover{background:#535353;color:#fff;text-decoration:none;}
.center-btn-bx a:hover img{filter:invert(1) brightness(200);}
.app-bx{display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;margin-top:100px;}
.app-bx div{position:relative;}
.app-bx div img{display:block;}
.benefit-bx{position:relative;margin:85px 0 -60px;background:rgba(0,0,0,.06);border-radius:40px;padding:40px;}
.benefit-bx h4{display:flex;align-items:center;font-size:27px;font-weight:700;padding-bottom:3px;}
.benefit-bx h4 img{height:38px;margin-right:10px;}
.benefit-bx p{display:flex;margin-top:10px;line-height:1.4;font-size:20px;color:#333;}
.benefit-bx p em{flex-shrink:0;padding-right:5px;}

@media (max-width: 1399px){
  .ctit{font-size:24px;}
  .center-btn-bx{margin-top:35px;;}
  .center-btn-bx a{padding:0 17px;border:1px solid #535353;height:44px;font-size:15px;}
  .center-btn-bx a + a{margin-left:15px;}
  .center-btn-bx a img{height:20px;margin-right:8px;}
  .app-bx{margin-top:60px;}
  .app-bx div img{width:300px;margin:0 auto;}
  .benefit-bx{margin:55px 0 -20px;border-radius:30px;padding:25px;}
  .benefit-bx h4{font-size:22px;padding-bottom:5px;}
  .benefit-bx h4 img{height:30px;margin-right:8px;}
  .benefit-bx p{margin-top:8px;font-size:16px;}
}
@media (max-width: 991px){
  .app-bx div img{width:260px;}
  .app-bx{margin-top:20px;}
  .app-bx div{flex:1 50%;margin-top:35px;}
  .benefit-bx{margin:45px 0 -20px;}
}

@media (max-width: 716px){
  .ctit{font-size:21px;}
  .center-btn-bx{margin-top:25px;}
  .center-btn-bx a{padding:0 13px;height:52px;font-size:13px;flex-direction:column;}
  .center-btn-bx a + a{margin-left:10px;}
  .center-btn-bx a img{height:18px;margin:3px 0 5px;}
  .app-bx{margin-top:5px;}
  .app-bx div{flex:1 100%;margin-top:30px;}
  .benefit-bx{margin:35px 0 -15px;}
  .app-bx div img{width:240px;}
  .benefit-bx{margin:35px 0 -10px;border-radius:20px;padding:20px;}
  .benefit-bx h4{font-size:18px;padding-bottom:5px;}
  .benefit-bx h4 img{height:24px;margin-right:6px;}
  .benefit-bx p{margin-top:6px;font-size:14px;}
}

.space-title{text-align:center;}
.space-title .name{color:#373737;font-size:30px;display:block;line-height:1.3}
.space-title h4{font-weight:500;font-size:42px;color:#151515;}
.space-title h4 em{color:#f1be48;}
.space-title p{word-break:keep-all;color:#373737;font-weight:300;font-size:22px;padding-top:23px;line-height:1.3;}
.space-title p span{display:inline-block;color:#959595;box-shadow:1px 1px 5px 0px rgba(0,0,0,.25);border-radius:3px;padding:0 5px;position:relative;margin:0 2px}
.space-title p span + span{color:#000;font-weight:500;}
.space-title p span + span:after{content:'';display:block;position:absolute;top:-8px;right:-8px;width:16px;height:16px;background:url(/page/comz-field/images/sub/check.png) no-repeat 0 0 /cover;}

.space-bx .map-bx .slick{margin:65px -300px 0;}
.space-bx .map-bx .slick-list{padding:15px 0 !important;}
.space-bx .map-bx .slick-slide{width:590px;margin:0 10px;box-shadow:3px 3px 5px 0px rgba(0,0,0,.25);position:relative;}
.space-bx .map-bx .slick-slide div{position:absolute;bottom:0;left:0;right:0;background:rgba(0,0,0,.6);color:#fff;padding:20px 20px 25px;}
.space-bx .map-bx .slick-slide strong{display:block;font-weight:700;font-size:20px;}
.space-bx .map-bx .slick-slide p{font-weight:300;margin-top:10px;max-width:450px;word-break:keep-all;text-overflow: ellipsis;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;line-height:1.4;height:4.2em}

.space-bx .floor-bx{margin-top:65px;position:relative;z-index:3;display:flex;padding:70px 0 40px 130px;}
.space-bx .floor-bx:before{content:'';display:block;z-index:-2;width:1920px;position:absolute;top:0;bottom:0;left:calc(50% - 960px);background:#282828;}
.space-bx .floor-bx:after{content:'';display:block;z-index:-1;width:68px;height:32px;position:absolute;top:0;right:0;background:url(/page/comz-field/images/sub/point.png) no-repeat 0 0 /cover;}
.space-bx .floor-bx .img-bx{width:710px;}
.space-bx .floor-bx .img-bx img{display:none;width:100%;}
.space-bx .floor-bx .img-bx img.active{display:block;}

.space-bx .floor-bx .btn-bx{flex:1;padding:0 40px;}
.space-bx .floor-bx .btn-bx button{display:flex;align-items:center;border:1px solid #373737;border-width:1px 0;height:58px;padding:0 20px;color:#797979;width:100%;position:relative;}
.space-bx .floor-bx .btn-bx button + button{margin-top:-1px;}
.space-bx .floor-bx .btn-bx button.active{border:1px solid #fff;z-index:2;color:#fff;pointer-events:none;}
.space-bx .floor-bx .btn-bx button.active strong{color:#fff;}
.space-bx .floor-bx .btn-bx strong{flex-shrink:0;white-space: nowrap;color:#595959;font-weight:700;font-size:24px;margin-right:30px;min-width:42px;}
.space-bx .floor-bx .btn-bx span{display:block;font-weight:300;font-size:12px;word-break:keep-all;line-height:1.4;text-align:left;}


@media (max-width: 1399px){
  .space-title .name{font-size:20px;}
  .space-title h4{font-size:32px;margin-top:3px;}
  .space-title p{font-size:18px;padding-top:15px;}
  .space-title p span + span:after{transform:scale(.9);}

  .space-bx .map-bx .slick{margin:35px -20px 0;}
  .space-bx .map-bx .slick-slide{width:340px;margin:0 7.5px;}
  .space-bx .map-bx .slick-slide div{padding:12px 15px 12px;}
  .space-bx .map-bx .slick-slide strong{font-size:16px;}
  .space-bx .map-bx .slick-slide p{-webkit-line-clamp: 2;height:2.8em;font-size:13px;margin-top:5px;}

  .space-bx .floor-bx{margin-top:45px;padding:50px 0 10px 0px;}
  .space-bx .floor-bx:after{transform:scale(.8);transform-origin:100% 0%;}
  .space-bx .floor-bx .img-bx{width:620px;}
  .space-bx .floor-bx .btn-bx{padding:0 0px 0 30px;}
  .space-bx .floor-bx .btn-bx button{height:52px;padding:0 10px;}
  .space-bx .floor-bx .btn-bx strong{font-size:20px;margin-right:20px;min-width:40px;}
  .space-bx .floor-bx .btn-bx span{font-size:11px;}
}
@media (max-width: 991px){
  .space-title .name{font-size:18px;}
  .space-title h4{font-size:30px;}
  .space-title p{font-size:17px;padding-top:13px;}
  .space-title p span + span:after{transform:scale(.8);}

  .space-bx .map-bx .slick{margin:30px -20px 0;}
  .space-bx .map-bx .slick-slide{width:320px;margin:0 5px;}
  .space-bx .map-bx .slick-slide div{padding:11px 15px 11px;}
  .space-bx .map-bx .slick-slide strong{font-size:15px;}
  .space-bx .map-bx .slick-slide p{font-size:12px;}

  .space-bx .floor-bx{margin-top:35px;padding:45px 0 10px 0px;display:block;}
  .space-bx .floor-bx:after{transform:scale(.6);}
  .space-bx .floor-bx .img-bx{max-width:560px;width:100%;margin:0 auto}
  .space-bx .floor-bx .btn-bx{padding:0px;}
  .space-bx .floor-bx .btn-bx button{height:50px;}
  .space-bx .floor-bx .btn-bx strong{font-size:18px;margin-right:18px;min-width:36px;}
}

@media (max-width: 716px){
  .space-title .name{font-size:15px;}
  .space-title h4{font-size:26px;}
  .space-title p{font-size:13.5px;padding-top:8px;white-space:nowrap;margin:0 -15px;}
  .space-title p span + span:after{transform:scale(.6);}

  .space-bx .map-bx .slick{margin:20px -15px 0;}
  .space-bx .map-bx .slick-slide{width:305px;margin:0;box-shadow:none;}
  .space-bx .map-bx .slick-slide div{padding:10px 15px 10px;}
  .space-bx .map-bx .slick-slide strong{font-size:14px;}
  .space-bx .map-bx .slick-slide p{margin-top:3px;}

  .space-bx .floor-bx{margin-top:-5px;padding:40px 0 0px 0px;display:block;}
  .space-bx .floor-bx:after{transform:scale(.5);}
  .space-bx .floor-bx .img-bx{width:calc(100% + 10px);margin:0 -5px}
  .space-bx .floor-bx .btn-bx{padding:0px;}
  .space-bx .floor-bx .btn-bx strong{font-size:16px;margin-right:15px;min-width:30px;}
}



@keyframes tab-move2{ 
  0%{transform:rotateY(90deg);}
  100%{transform:rotateY(0deg);}
}
@keyframes box-move1{ 
  0%{transform:translateY(10%);opacity:0;}
  100%{transform:translateY(0%);opacity:1;}
}