@charset "utf-8";

#main{font-family:"ONE-Mobile-Regular";}

#visual{position:relative;position:relative;z-index:1;}
#visual .slick-wrap{position:relative;}
#visual .slick{position:relative;z-index:10;}
#visual .slick-slide{position:relative;}
#visual .slick-slide p{position:absolute;width:1400px;left:50%;margin-left:-700px;display:flex;align-items:center;z-index:10;top:0;bottom:0;padding-bottom:150px;}
#visual .slick-slide p img{display:block;height:140px;width:auto;}
#visual .slick-slide.slick-active p img{animation:main1 .5s 1 both ease-out;}

#visual .control{position:absolute;z-index:20;width:1400px;left:50%;margin-left:-700px;top:0;bottom:0;display:flex;align-items:center;padding-top:70px;}
#visual .control button img{display:block;height:17px;}
#visual .control .dots{margin:0 20px;display:flex;align-items:center;}
#visual .control .dots button{position:relative;width:34px;font-size:0;color:transparent;background:#fff;height:2px;}
#visual .control .dots li{height:17px;line-height:1;display:flex;align-items:center;}
#visual .control .dots li + li{margin-left:10px;}
#visual .control .dots button:after{position:absolute;content:'';display:block;top:0;bottom:0;left:0;width:0%;background:#000;}
#visual .control .dots .slick-active button:after{width:100%;animation:main2 6s 1 both linear;}

@media (max-width:1399px) {
    #visual .slick-slide{height:625px;}
    #visual .slick-slide > img{position:absolute;width:1500px;left:auto;margin-left:0;right:-80px;}
    #visual .slick-slide p{width:100%;left:0;margin-left:0px;padding-bottom:200px;padding-left:20px;}
    #visual .slick-slide p img{height:100px;}
    #visual .control{width:auto;left:20px;margin-left:0;padding-top:0px;}
    #visual .control .dots{margin:0 15px;}
    #visual .control .dots button{width:26px;}
    #visual .control .dots li + li{margin-left:5px;}
}

@media (max-width:991px) {
    #visual .slick-slide{height:542px;}
    #visual .slick-slide > img{width:1300px;right:-100px;}
    #visual .slick-slide p{padding-bottom:180px;}
    #visual .slick-slide p img{height:80px;}
    #visual .control{padding-bottom:20px;}
}

@media (max-width:716px) {
    #visual .slick-slide{height:458px;}
    #visual .slick-slide > img{width:1100px;right:-90px;}
    #visual .slick-slide p{padding-bottom:130px;padding-left:15px;}
    #visual .slick-slide p img{height:74px;}
    #visual .control{padding:20px 0 0px;left:15px;}
}


#shortcut{position:relative;z-index:5;margin-top:-280px;}
#shortcut .short-bx{display:flex;align-items:center;justify-content:space-between;padding:0 190px;}
#shortcut .short-bx a{display:block;}
#shortcut .short-bx a span{margin:0 auto;background:#fff;border-radius:20px;width:90px;height:90px;display:flex;align-items:center;justify-content:center;transition:all .2s;box-shadow:3px 3px 7px 0px rgba(0,0,0,.5), 0px 0px 3px 2px rgba(0,0,0,.35) inset;}
#shortcut .short-bx a span img{display:block;height:65px;transition:all .1s;}
#shortcut .short-bx a p{text-align:center;font-size:18px;color:#000;font-weight:700;margin-top:13px;transition:all .2s;}
#shortcut .short-bx a:hover span{border-radius:50%;background:#fabe0f}
#shortcut .short-bx a:hover span img{filter:brightness(200);}
#shortcut .short-bx a:hover p{color:#fff;}

@media (max-width:1399px) {
    #shortcut{margin-top:-250px;}
    #shortcut .short-bx{padding:0px;max-width:800px;margin:0 auto;}
    #shortcut .short-bx a span{border-radius:15px;width:80px;height:80px;}
    #shortcut .short-bx a span img{height:52px;}
    #shortcut .short-bx a p{font-size:15px;margin-top:13px;}
}

@media (max-width:991px) {
    #shortcut{margin-top:-240px;}
    #shortcut .short-bx{overflow-x:auto;padding:0 20px;margin:0 -20px;}
    #shortcut .short-bx::-webkit-scrollbar{display:none;}
    #shortcut .short-bx a:not(:first-child){margin-left:15px;}
    #shortcut .short-bx a span{width:74px;height:74px;box-shadow:2px 2px 5px 0px rgba(0,0,0,.5), 0px 0px 2px 1px rgba(0,0,0,.35) inset;}
    #shortcut .short-bx a span img{height:50px;}
    #shortcut .short-bx a p{font-size:14px;margin-top:12px;}
}

@media (max-width:716px) {
    #shortcut{margin-top:-155px;}
    #shortcut .short-bx{padding:0 15px;margin:0 -15px;}
    #shortcut .short-bx a span{width:72px;height:72px;}
    #shortcut .short-bx a span img{height:46px;}
    #shortcut .short-bx a p{font-size:13px;margin-top:11px;}
}


#infomation{position:relative;z-index:5;margin-top:32px;padding-bottom:65px;}
#infomation .info-bx{background:rgba(245,245,245,.8);border-radius:20px;overflow:hidden;box-shadow:5px 5px 10px 0px rgba(0,0,0,.1);padding:30px 0 0 40px;}
#infomation .tit-bx{display:flex;align-items:center;}
#infomation .tit-bx h2{line-height:1;color:#000;font-size:30px;font-weight:700;}
#infomation .btn-bx{display:flex;margin-left:25px;height:40px;border-radius:20px;overflow:hidden;background:#fff;}
#infomation .btn-bx button{display:flex;height:100%;width:140px;transition:all .2s;font-size:18px;color:#666;align-items:center;justify-content:center;box-shadow:3px 3px 5px .5px rgba(0,0,0,.3) inset;}
#infomation .btn-bx button.active{color:#fff;background:#5b00ef;}
#infomation .btn-bx button:first-child{border-radius:20px 0 0 20px;}
#infomation .tit-bx + p{margin-top:15px;line-height:1.3;word-break:keep-all;color:#000;font-size:18px;}

#infomation .view-bx{margin-top:25px;}
#infomation .view-bx > div{position:relative;padding:0 40px 45px 0;display:none;}
#infomation .view-bx .more{display:block;position:absolute;right:0;bottom:0;}
#infomation .view-bx .more img{display:block;height:82px;transition:all .2s;}
#infomation .view-bx .more:hover img{filter:hue-rotate(45deg);}

#infomation .list{display:flex;}
#infomation .list a{flex:1;background:#fff;border-radius:20px;box-shadow:0px 0px 8px 0px rgba(0,0,0,.05);padding:20px;transition:all .2s;position:relative;z-index:1;}
#infomation .list a:hover{box-shadow:0px 0px 12px 0px rgba(0,0,0,.25);}
#infomation .list a + a{margin-left:50px;}
#infomation .list a em{display:inline-block;height:28px;line-height:28px;padding:0 10px;border-radius:10px;color:#fff;font-weight:700;background:#ffa71c;}
#infomation .list a:nth-child(2) em{background:#b83636;}
#infomation .list a:nth-child(3) em{background:#6035f0}
#infomation .list a > strong{display:block;margin-top:13px;line-height:1.4em;word-break:keep-all;font-size:20px;font-weight:700;height:2.8em;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
#infomation .list ul{margin-top:40px;}
#infomation .list li{display:flex; align-items:center;}
#infomation .list li + li{margin-top:5px;}
#infomation .list li img{height:16px;margin-right:7px;}
#infomation .list li strong{font-size:14px;color:#000;margin-right:10px;letter-spacing:3px;}
#infomation .list li span{font-size:14px;color:#666;letter-spacing:1px;}
#infomation .list a:before{content:'';display:block;z-index:-1;position:absolute;width:120px;height:100px;background:url(/page/contract/images/main/bg-icon-01.png) no-repeat center center /cover;right:10px;bottom:10px;}
#infomation .list a:nth-child(2):before{background-image:url(/page/contract/images/main/bg-icon-02.png);}
#infomation .list a:nth-child(3):before{background-image:url(/page/contract/images/main/bg-icon-03.png);}

#infomation .list a{animation:main3 .35s 1 both ease-out;}
#infomation .list a:nth-child(2){animation-delay:.1s;}
#infomation .list a:nth-child(3){animation-delay:.2s;}

@media (max-width:1399px) {
    #infomation{margin-top:27px;padding-bottom:50px;}
    #infomation .info-bx{border-radius:15px;padding:25px 0 0 35px;}
    #infomation .tit-bx h2{font-size:24px;}
    #infomation .btn-bx{margin-left:20px;height:37px;}
    #infomation .btn-bx button{width:120px;font-size:15px;}
    #infomation .tit-bx + p{margin-top:13px;font-size:15px;}
    
    #infomation .view-bx{margin-top:22px;}
    #infomation .view-bx > div{padding:0 30px 40px 0;}
    #infomation .view-bx .more img{height:72px;}
    
    #infomation .list a{border-radius:15px;padding:15px;}
    #infomation .list a + a{margin-left:30px;}
    #infomation .list a em{height:24px;line-height:24px;padding:0 10px;font-size:14px;font-weight:400;}
    #infomation .list a > strong{font-size:16px;margin-top:10px;}
    #infomation .list ul{margin-top:30px;}
    #infomation .list li strong{font-size:13px;margin-right:8px;letter-spacing:2px;}
    #infomation .list li span{font-size:13px;}
    #infomation .list a:before{transform:scale(.8);transform-origin:100% 100%;}
    
}

@media (max-width:991px) {
    #infomation{margin-top:25px;padding-bottom:45px;}
    #infomation .info-bx{padding:20px 0 0 20px;}
    #infomation .tit-bx h2{font-size:22px;}
    #infomation .btn-bx{margin-left:15px;height:34px;}
    #infomation .btn-bx button{width:110px;font-size:14px;}
    #infomation .tit-bx + p{margin-top:12px;font-size:14px;}
    
    #infomation .view-bx{margin-top:20px;}
    #infomation .view-bx > div{padding:0 20px 35px 0;}
    #infomation .view-bx .more img{height:66px;}
    
    #infomation .list a{padding:13px;}
    #infomation .list a + a{margin-left:15px;}
    #infomation .list a em{height:20px;line-height:20px;font-size:13px;}
    #infomation .list a > strong{font-size:15px;margin-top:9px;}
    #infomation .list ul{margin-top:25px;}
    #infomation .list li strong{font-size:13px;margin-right:7px;}
    #infomation .list li span{font-size:12px;}
    #infomation .list a:before{transform:scale(.55);}
    #infomation .list li + li{margin-top:4px;}
}

@media (max-width:716px) {
    #infomation{margin-top:25px;padding-bottom:35px;}
    #infomation .info-bx{padding:20px 0 0 15px;}
    #infomation .tit-bx h2{font-size:19px;}
    #infomation .btn-bx{height:32px;}
    #infomation .btn-bx button{width:100px;font-size:13px;}
    #infomation .tit-bx + p{margin-top:11px;padding-right:15px;}
    
    #infomation .view-bx{margin-top:20px;}
    #infomation .view-bx > div{padding:0 15px 30px 0;}
    #infomation .view-bx .more img{height:52px;}
    
    #infomation .list{flex-direction:column;}
    #infomation .list a{padding:13px;}
    #infomation .list a + a{margin:10px 0 0;}
    #infomation .list a em{height:18px;line-height:18px;font-size:12px;}
    #infomation .list a > strong{font-size:14px;margin-top:7px;white-space:nowrap;display:block;height:1.4em}
    #infomation .list ul{margin-top:10px;}
    #infomation .list li + li{margin-top:3px;}
    #infomation .list li strong{font-size:12px;letter-spacing:1px;}
}


@keyframes main1{ 
    0%{opacity:0;transform:translateY(-70%);}
    100%{opacity:1;transform:translateY(0%);}  
}

@keyframes main2{ 
    0%{width:0%;}
    100%{width:100%;} 
}

@keyframes main3{ 
    0%{opacity:0;transform:translateY(35%);}
    100%{opacity:1;transform:translateY(0%);}  
}
  