/* 속초소개_부서 */

.division .present{background: #f2f4f4; padding: 48px; width: 22%; border-radius: 12px 0 50px 12px;}
.division .present-bx{display: flex; margin-bottom: 30px;}
.division .present_tit{border-radius: 0 12px 12px 50px; color: #222;  background: #f2f4f4; padding:34px 43px 26px 43px;}
.division .present_tit strong{font-size: 22px; font-weight: 400;}
.division .present_tit p{font-size: 17px; padding-top: 10px;}
.division .btn-bx01{display: flex; justify-content: center; margin-top: 39px; margin-left: 71px;}
.division .btn-bx01 a{width: 179px; height: 50px; display: flex; align-items: center; color: #1d3a8f; font-weight: 400; font-size: 18px; justify-content: center; border: 2px solid #1d3a8f; border-radius: 12px;}
.division .btn-bx01 a.active{background: #1d3a8f; color: #fff;}
.division .btn-bx01 a + a{margin-left: 22px;}
.division .btn-bx01 a:hover{text-decoration: none;}
.division .divison_wrap{display: flex; text-align: center; flex-wrap: wrap; padding: 69px 5px 0 48px;}
.division .divison_wrap a{display: flex; flex: 1 15%;  flex-direction: column; align-items: center; justify-content: space-between; margin-bottom: 50px;}
.division .divison_wrap a:hover{text-underline-position: under;}
.division .divison_wrap a:nth-child(6n){margin-right: 0;}
.division .divison_wrap a img{display: block;}
.division .divison_wrap a span{display: block; font-size: 18px; color: #222; padding-top: 15px;}
.division .divison_wrap a:nth-child(19){visibility: hidden;}
.division .divison_wrap a:nth-child(19),
.division .divison_wrap a:nth-child(20),
.division .divison_wrap a:nth-child(21){flex: 0 16.7%; margin-bottom: 0;}
.division ul li .notice{margin-top: 69px;}

@media (max-width:1199px){
    .division .divison_wrap{padding: 69px 0 0 0;}
}

@media (max-width:991px){
    .division .present{padding: 20px; width: 30%; display: flex; align-items: center;}
    .division .present_tit{padding: 20px;}
    .division .present_tit strong{font-size: 20px;}
    .division .present_tit p{font-size: 15px;}
    .division .btn-bx01{margin-left: 0;}
    .division .divison_wrap a{ flex: 1 30%;}
    .division .divison_wrap a:nth-child(19),
    .division .divison_wrap a:nth-child(20),
    .division .divison_wrap a:nth-child(21){flex: 0 33.3%;}
}

@media (max-width:716px){
    .division .present{display: none;}
    .division .present_tit{padding: 15px;}
    .division .present_tit strong{font-size: 18px;}
    .division .present_tit p{font-size: 14px;}
    .division .btn-bx01 a{font-size: 16px;}
    .division .divison_wrap{padding: 29px 0 0 0;}
    .division .divison_wrap a{ flex: 1 50%;}
    .division .divison_wrap a:nth-child(19){display: none;}
    .division .divison_wrap a:nth-child(19),
    .division .divison_wrap a:nth-child(20),
    .division .divison_wrap a:nth-child(21){flex: 1 50%;}
    .division .divison_wrap a{margin-bottom: 30px;}
    .division .divison_wrap a span{font-size: 16px;}
    
}

/* 속초소개_60주년엠블럼 */

.emblem{width: 100%;}
.emblem .infomation-bx{position: relative; width: 100%; padding: 7px;  border-radius: 20px;  background: url(/page/sokchoportal/images/contents/pattern.png) repeat; display: inline-block;}
.emblem .infomation-bx > div{width: 100%;  background: #fff; border-radius: 15px; padding: 70px 43px 26px 43px;}
.emblem .infomation-bx > div p{font-size: 17px; color: #222;}
.emblem .infomation-bx > div .note{position: absolute; left: 45px; top: -3px; z-index: 2; border-radius: 5px 5px 2px 2px; display: flex; justify-content: center; align-items: center; width: 184px; height: 40px; background: #e60012; color: #fff;}
.emblem .infomation-bx > div .note em{font-size: 18px;}
.emblem .infomation-bx > div .note em::before{content: ''; width: 184px; height: 52px; position: absolute; left: 0; bottom: -52px; z-index: -1; background: #e60012; clip-path: polygon(51% 40%, 0 0, 100% 0);}
.emblem .emblem_bx,
.emblem .emblem_bx01{position: relative; background: #f6f6f6; display: flex; margin-top: 29px; margin-bottom: 39px;  align-items: center; justify-content: center;}
.emblem .emblem_bx::before{content: ''; background: #c9c9c9; height: 406px; width: 1px; position: absolute;left: 50%; top: 50%; transform: translate(-50%,-50%);}
.emblem .emblem_bx .box + .box{margin-left: 218px;}
.emblem .emblem_bx .box .english,
.emblem .emblem_bx .box .korean{position: absolute; left: 26px; top: -1px; background: #535353; width: 76px; height: 50px; line-height: 50px; text-align: center; color: #fff;}
.emblem .emblem_bx .box .english{right: 26px; left: auto;}
.emblem .emblem_bx .box img{display: block;}
.emblem .emblem_bx01{padding: 26px 0 0 0; margin-bottom: 0;}

@media (max-width:1199px){
    .emblem .emblem_bx{padding: 50px 30px 0;}
    .emblem .emblem_bx01{padding:0;}
}

@media (max-width:1024px){
    .emblem .emblem_bx .box img{width: 100%;}
    .emblem .emblem_bx01 {padding:26px 30px 0 30px;}
    .emblem .emblem_bx01 img{width: 100%;}
}

@media (max-width:991px){
    .emblem .infomation-bx > div{padding: 70px 33px 26px 33px;}
    .emblem .infomation-bx > div .note em{font-size: 16px;}
    .emblem .infomation-bx > div p{font-size: 15px;}
    .emblem .emblem_bx::before{height: 306px;}
    .emblem .emblem_bx .box + .box{margin-left: 118px;}
}

@media (max-width:716px){
    .emblem .infomation-bx > div{padding: 60px 13px 13px 13px}
    .emblem .infomation-bx > div p{font-size: 14px;}
    .emblem .infomation-bx > div .note{width: 150px; left: 13px;}
    .emblem .infomation-bx > div .note em::before{width: 150px;}
    .emblem .emblem_bx .box .english,
    .emblem .emblem_bx .box .korean{font-size: 14px; width: 50px; height: 40px; line-height: 40px;}
    .emblem .emblem_bx::before{height: 150px;}
    .emblem .emblem_bx{padding: 40px 30px 0;}
    .emblem .emblem_bx01{padding: 0 30px 0 30px;}
}

/* 속초소개_심볼마크 */

.symbolmark{width: 100%;}
.symbolmark .infomation-bx{position: relative; width: 100%; padding: 7px; margin-bottom: 41px; border-radius: 20px;  background: url(/page/sokchoportal/images/contents/pattern.png) repeat; display: inline-block;}
.symbolmark .infomation-bx > div{width: 100%;  background: #fff; border-radius: 15px; padding: 70px 43px 26px 43px;}
.symbolmark .infomation-bx > div p{font-size: 17px; color: #222;}
.symbolmark .infomation-bx > div .note{position: absolute; left: 45px; top: -3px; z-index: 2; border-radius: 5px 5px 2px 2px; display: flex; justify-content: center; align-items: center; width: 184px; height: 40px; background: #e60012; color: #fff;}
.symbolmark .infomation-bx > div .note em{font-size: 18px;}
.symbolmark .infomation-bx > div .note em::before{content: ''; width: 184px; height: 52px; position: absolute; left: 0; bottom: -52px; z-index: -1; background: #e60012; clip-path: polygon(51% 40%, 0 0, 100% 0);}
.symbolmark .symbolmark_bx,
.symbolmark .symbolmark_bx01{position: relative; background: #f6f6f6; display: flex; margin-top: 29px; margin-bottom: 36px;  align-items: center; justify-content: center;}
.symbolmark .symbolmark_bx{padding: 25px 0 32px;}
.symbolmark .symbolmark_bx.v2{margin-bottom: 0;}
.symbolmark .symbolmark_bx::before{content: ''; background: #c9c9c9; height: 232px; width: 1px; position: absolute;left: 639px; top: 50%; transform: translateY(-50%);}
.symbolmark .symbolmark_bx.v3::before{display: none;}
.symbolmark .symbolmark_bx .box + .box{margin-left: 261px;}
.symbolmark .symbolmark_bx .box.v2 + .box.v2{margin-left: 40px;}
.symbolmark .symbolmark_bx .box.v3 + .box.v3{margin-left: 0;}
.symbolmark .symbolmark_bx .box.v2:first-child{margin-right: 90px;}
.symbolmark .symbolmark_bx.v3 .box.v3 .main,
.symbolmark .symbolmark_bx.v3 .box.v3  .assist{position: absolute; left: 26px; top: -1px; background: #535353; width: 76px; height: 50px; line-height: 50px; text-align: center; color: #fff;}
.symbolmark .symbolmark_bx.v3 .box.v3  .assist{right: 26px; left: auto;}
.symbolmark .symbolmark_bx .box .english,
.symbolmark .symbolmark_bx .box .korean{position: absolute; left: 26px; top: -1px; background: #535353; width: 76px; height: 50px; line-height: 50px; text-align: center; color: #fff;}
.symbolmark .symbolmark_bx .box .english{right: 26px; left: auto;}
.symbolmark .symbolmark_bx .box img{display: block;}
.symbolmark .symbolmark_bx01{padding: 26px 0 0 0; margin-bottom: 0;}
.symbolmark .follow{text-align: center;}
.symbolmark .follow > span{color: #222; position: relative; display: inline-block; padding-left: 40px;}
.symbolmark .follow > span::before{content: ''; background: url(/page/sokchoportal/images/contents/caution.png)no-repeat; position: absolute; left: 0; top: 0; width: 29px; height: 29px;}
.symbolmark .symbolmark_bx.v3{justify-content: space-between; padding:60px 26px 32px; margin-bottom: 0;}
.symbolmark .ban{padding: 27px; margin-top: 29px; background: #f6f6f6;}

@media (max-width:1199px){
    .symbolmark .symbolmark_bx::before{left: 564px;}
    .symbolmark .symbolmark_bx .box.v3 + .box.v3{margin-left: 40px;}
}
@media (max-width:991px){
    .symbolmark .symbolmark_bx{padding: 45px 26px 32px;}
    .symbolmark .symbolmark_bx::before{left: 444px;}
    .symbolmark .symbolmark_bx .box + .box{margin-left: 90px;}
    .symbolmark .follow > span{text-align: left; font-size: 15px;}
}


@media (max-width:768px){
    .symbolmark .symbolmark_bx::before{left: 410px;}
}

@media (max-width:716px){
    .symbolmark .infomation-bx > div .note{left: 23px;}
    .symbolmark .infomation-bx > div{padding: 70px 23px 26px 23px;}
    .symbolmark .infomation-bx > div p{font-size: 16px;}
    .symbolmark .infomation-bx > div p br{display: none;}
    .symbolmark .symbolmark_bx .box .english, 
    .symbolmark .symbolmark_bx .box .korean{left: 10px;  font-size: 14px; width: 50px; height: 40px; line-height: 40px;}
    .symbolmark .symbolmark_bx .box .english{right: 10px; left: auto;}
    .symbolmark .symbolmark_bx .box.v2:first-child{margin-right: 0;}
    .symbolmark .symbolmark_bx.v3 .box.v3 .main,
    .symbolmark .symbolmark_bx.v3 .box.v3 .assist{left: 10px;  font-size: 14px; width: 60px; height: 40px; line-height: 40px}
    .symbolmark .symbolmark_bx.v3 .box.v3 .assist{right: 10px; left: auto;}
    .symbolmark .symbolmark_bx.v3{padding: 40px 26px 12px;}
    .symbolmark .ban{padding: 15px 26px;}
}

/* 속초소개_시민헌장 */

.citizen{position: relative;}
.citizen .citizen-tit{position: absolute; left: 130px; top: 126px; font-family: 'SokchoBadaBatang'; font-size: 45px; font-weight: 500;}
.citizen .citizen-tit strong{font-weight: 500; color: #000;}
.citizen .citizen-tit span{display: block; color: #0ba13a; margin-top: -9px;}
.citizen .citizen-tit span em{color: #1d3a8f; padding-left: 14px;}
.citizen .citizen-tit p{font-family: 'S-CoreDream'; font-weight: 400; padding-top: 4px; font-size: 20px; letter-spacing: 0.2px; color: #fff; text-shadow: 1px 1px 4px rgba(0,0,0,.6);}
.citizen .citizen_bx{width: 100%; background: url(/page/sokchoportal/images/contents/pattern.png)repeat; padding: 7px; border-radius: 20px;}
.citizen .citizen_bx > div{background: #fff; padding: 44px 50px 48px 50px; border-radius: 15px;}
.citizen .citizen_bx > div strong{font-weight: 400; font-size: 17px; color: #222;}
.citizen .citizen_bx > div ul{padding-top: 32px;}
.citizen .citizen_bx > div ul li{position: relative; padding-left: 20px;}
.citizen .citizen_bx > div ul li + li{padding-top: 6px;}
.citizen .citizen_bx > div ul li::before{content: ''; background: url(/page/sokchoportal/images/contents/ico-citizen.png);
width: 11px; height: 5px; position: absolute; left: 0; top: 15px;}
.citizen .citizen_bx > div ul li:first-child::before{top: 9px;}
.citizen .citizen_bx > div .date{text-align: center; color: #222; padding-top: 40px;}
.citizen .citizen_bx > div .date span{font-size: 18px;}
.citizen .citizen_bx > div .date em{display: block; font-size: 24px; padding-top: 8px;}


@media (max-width:1199px){
    .citizen > img{width: 100%;}
}

@media (max-width:991px){
    .citizen .citizen-tit{left: 40px; top: 95px; font-size: 35px;}
    .citizen .citizen-tit p{font-size: 16px; letter-spacing: 0.1px;}
    .citizen .citizen_bx > div{padding: 30px;}
}

@media (max-width:716px){
    .citizen .citizen-tit{left: 0; top: 55px; font-size: 18px; padding: 0 20px;}
    .citizen .citizen-tit p{font-size: 14px; letter-spacing: 0; word-break: keep-all; line-height: 1.1; text-shadow: 1px 1px 4px rgba(0,0,0,.8);}
    .citizen .citizen_bx > div{padding: 15px;}
    .citizen .citizen_bx > div strong{font-size: 15px;}
    .citizen .citizen_bx > div ul{padding-top: 22px;}
    .citizen .citizen_bx > div ul li{font-size: 14px;}
    .citizen .citizen_bx > div .date{padding-top: 25px;}
    .citizen .citizen_bx > div .date span{font-size: 16px;}
    .citizen .citizen_bx > div .date em{font-size: 20px; padding-top: 0;}
    .citizen .citizen_bx > div ul li:first-child::before{top: 6px;}
    .citizen .citizen_bx > div ul li::before{top: 13px;}
}

/* 속초소개_시목시화시조 */

.symbol{position: relative;}
.symbol .symbol_wrap{display: flex; justify-content: center; text-align: center;}
.symbol .symbol_wrap .symbol_bx{position: relative;}
.symbol .symbol_wrap .symbol_bx img{display: block; padding-top: 15px;}
.symbol .symbol_wrap .symbol_bx::after{content: ''; width: 1px; height: 275px; background: #e2e2e2; position: absolute; right: -43px; top: 56px;}
.symbol .symbol_wrap .symbol_bx:last-child::after{display: none;}
.symbol .symbol_wrap .symbol_bx p{color: #222; font-size: 18px; padding-top: 54px;}
.symbol .symbol_wrap .symbol_bx + .symbol_bx{margin-left: 87px;}
.symbol .bg{margin-top: -158px; display: block;}

@media (max-width:1199px){
  .symbol .bg{width: 100%;}

}

@media (max-width:1024px){
    .symbol .bg{margin-top: -110px;}
}

@media (max-width:991px){
    .symbol .symbol_wrap .symbol_bx::after{right: -22px; height: 230px;}
    .symbol .symbol_wrap .symbol_bx img{width: 100%;}
    .symbol .symbol_wrap .symbol_bx p{font-size: 15px;}
    .symbol .symbol_wrap .symbol_bx + .symbol_bx{margin-left: 45px;}
    .symbol .bg{width: 100%; margin-top: -110px;}
}


@media (max-width:768px){
    .symbol .symbol_wrap .symbol_bx p{font-size: 14px;}
}

@media (max-width:716px){
    .symbol .symbol_wrap{flex-direction: column; align-items: center;}
    .symbol .symbol_wrap .symbol_bx::after{display: none;}
    .symbol .symbol_wrap .symbol_bx + .symbol_bx{margin-left: 0; margin-top: 40px;}
    .symbol .symbol_wrap .symbol_bx img{max-width: 275px; margin: 0 auto;}
    .symbol .symbol_wrap .symbol_bx p{padding-top: 30px;}
    .symbol .bg{margin-top: -40px;}
}

/* 속초소개_시의노래 */

.song{position: relative; height: 1070px;}
.song .song_wrap{ height: 688px; position: relative; overflow: hidden; border-radius: 265px 110px 0 265px;}
.song .song_wrap::before{content: ''; background: url(/page/sokchoportal/images/contents/play_bg.png) no-repeat; width: 457px; height: 457px;
position: absolute; left: 47px; bottom: -57px;}
.song .song_bx{position: absolute; right: 83px; top: 71px; z-index: 1;}
.song .song_tit{position: absolute; left: 168px; top: 189px; text-align: center; font-family: 'SokchoBadaBatang';}
.song .song_tit em{font-size: 36px; color: #000; font-weight: 600;}
.song .song_tit span{display: block; font-size: 24px; color: #0039ba; font-weight: 600; padding-top: 11px;}
.song .play{position: absolute; width: 64px; height: 64px; left: 226px; bottom: 238px;}

@media (max-width:1199px){
    .song{height: 950px;}
    .song .song_wrap{height: 600px;}
    .song .song_wrap::before{left: 2px;}
    .song .song_wrap img{width: 100%;}
    .song .song_bx{right: 10px;}
    .song .song_bx img{width: 90%; display: block;}
    .song .song_tit{top: 115px; left: 123px;}
    .song .play{left: 181px;}
}

@media (max-width:991px){
    .song{height: 650px;}
    .song .song_wrap{height: 417px;}
    .song .song_bx{right: -96px; top: 38px;}
    .song .song_bx img{width: 60%;}
    .song .song_tit em{font-size: 25px;}
    .song .song_tit span{font-size: 20px; padding-top: 0;}
    .song .song_wrap > img{height: 416px;}
    .song .song_wrap .btn_play{width: 32px; height: 32px;}
    .song .song_wrap::before{width: 228.5px; height: 228.5px; left: 78px; bottom: -18px; background-size: cover;}
    .song .play{left: 168px; bottom: 97px;}
}


@media (max-width:716px){
    .song{height: 360px;}
    .song .song_bx{top: 34px; right: -137px;}
    .song .song_bx img{width: 35%;}
    .song .song_wrap{height: 284px; border-radius: 250px 110px 0 250px;}
    .song .song_wrap > img{height: 284px;}
    .song .song_tit{top: 87px; left: 35px;}
    .song .song_tit em{font-size: 18px;}
    .song .song_tit span{font-size: 15px;}
    .song .song_wrap::before{left: -23px;bottom: -74px;}
    .song .play{left: 67px; bottom: 41px; z-index: 10;}
}

/* 속초소개_역사와유래 */

.history .history_wrap{display: flex;}
.history .history_wrap .history_txt p{padding-left: 29px; padding-bottom: 38px;}
.history .history_txt.v2{padding-top: 33px;}
.history .history_txt.v2 p{padding-left: 0;}
.history .history_txt.v2 p + p{padding-top: 37px;}
.history .history_btn{height: 58px; border-radius: 10px; background: #1d3a8f; display: flex; justify-content: center; align-items: center;}
.history .history_btn a{font-size: 18px; font-weight: 300; color: #fff; position: relative; display: block; width: 140px; height: 58px; line-height: 58px; text-align: center;}
.history .history_btn a:hover{text-underline-position: under;}
.history .history_btn a.active::before{content: ''; width: 15px; height: 24px; background: #1d3a8f; position: absolute; left: 50%; bottom: -8px; transform: translate(-50%) rotate(-45deg);}
.history .sokcho-history{position: relative; display: none;}
.history .sokcho-history.active{display: block;}
.history .sokcho-history h4{display:flex;width:100%;max-width:300px;height:83px;margin:0 auto;align-items:center;justify-content:center;font-style:italic;border-radius:15px;background:#00398f;color:#fff;font-weight:700;font-size:34px}
.history .sokcho-history ul{position:relative;padding:80px 0 20px;z-index:1;}
.history .sokcho-history ul:before{content:'';display:block;width:4px; position:absolute;left:calc(26.2% - 0.5px);top:40px;bottom:0;background:#e4e5ea;z-index:-1;}
.history .sokcho-history ul li{ display:flex;align-items:flex-start; position:relative;text-align:left;transform:translateY(50%);opacity:0;transition:all .7s .3s;}
.history .sokcho-history ul li + li{padding-top: 40px !important;}
.history .sokcho-history ul li.active{transform:translateY(0%);opacity:1;}
.history .sokcho-history ul li .offset-rigth{margin-left: 53px; flex: 1;}
.history .sokcho-history ul li:nth-child(2n){align-items:flex-start;text-align:left;}
.history .sokcho-history ul li h5{position:relative;line-height:1.1;color:#7482aa; text-align: right; font-size:30px;font-weight:700; flex: 0 24.5%;}
.history .sokcho-history ul li h5:before{content:'';display:block;height:1px;top:calc(50% - 9.5px);right:-30px;position:absolute;width:17px; height: 17px; border-radius: 50%; background:#00398f;}
.history .sokcho-history ul li h5:after{content:'';display:block;height:25px;;width:25px;top:calc(50% - 12.5px);right:-82.5px;position:absolute;background:url(/page/heritage/images/sub/cycle01.png) no-repeat center center /cover;}
.history .sokcho-history ul li:not(:first-child) h5:after{background-image:url(/page/heritage/images/sub/cycle02.png);}
.history .sokcho-history ul li p{color:#1b1b1b;font-size:17px;line-height:1.4;word-break:keep-all;}
.history .sokcho-history ul li p em{color:#707070;font-size:15px;display:block;line-height:1.4;}
.history .sokcho-history ul li p em + em{margin-top:3px;}
.history .sokcho-history ul li img{display:block;max-width:100%;}
.history .sokcho-history.v2 ul li{padding: 0 0 0 200px;}
.history .sokcho-history.v2 ul li:first-child,
.history .sokcho-history.v2 ul li:nth-child(2){padding: 0 0 0 275px;}
.history .cmpe-list {overflow: hidden;margin-bottom: 15px;}
.history .cmpe-list li {position: relative;float: left;}
.history .cmpe-list .cmpe-text {position: absolute;left: 0px;top: 1px;width: 49px;height: 30px;background: #fff;font-family:'나눔고딕  Bold',NanumGothicBold,nGothicB,sans-serif;text-align: center;line-height: 30px;}
.history .cmpe-list .item .cmpe-text {left: 1px;}
.history .cmpe-table th {font-family:'나눔고딕',NanumGothic,nGothic,sans-serif;}
.history .id-change.type-history .cmpe-text {display: block;left: 0;top: 204px;width: 100%;height: 47px;font-family:'나눔고딕',NanumGothic,nGothic,sans-serif;font-size: 20px;line-height: 47px;color: #fff;background: none;}
.history .id-change.type-history .cmpe-box {margin: 24px 0 48px;}
.history .id-change.type-history .cmpe-table td {text-align: left;}
.history .id-change.type-location .cmpe-list {line-height: 24px;}
.history .id-change.type-location .cmpe-table {margin-top: 37px;}

@media (max-width:1399px) {
    .history .sokcho-history ul li h5{font-size: 25px;}
    .history .sokcho-history ul li h5:before{right: -27px;}
}

@media (max-width:1024px) {
    .history .cmpe-list li img{width: 245px;}
}

@media (max-width:991px) {
    .history .sokcho-history ul li h5{font-size: 20px;}
    .history .sokcho-history ul li p{font-size: 16px;}
    .history .sokcho-history ul li h5:before{right: -22px;}
    .history .cmpe-list li img{width: 180px;}
    
}

@media (max-width:716px) {
    .history .history_wrap{flex-direction: column;}
    .history .history_wrap .history_txt p{padding-left: 0; padding-bottom: 18px; font-size: 14px;}
    .history .history_wrap .history_txt{margin-top: 15px;}
    .history .history_txt.v2{padding-top: 13px;}
    .history .history_txt.v2 p{font-size: 14px;}
    .history .history_txt.v2 p + p{padding-top: 13px;}
    .history .history_btn a{font-size: 14px;}
    .history .sokcho-history ul li .offset-rigth{margin-left: 33px;}
    .history .sokcho-history ul li h5{font-size: 15px; flex: 0 24.5%;}
    .history .sokcho-history ul li h5:before{right: -12px; top: calc(50% - 5.5px); width: 8.5px; height: 8.5px;}
    .history .sokcho-history ul li p{font-size: 14px;}
}

/* 속초소개_캐릭터 */

.character .infomation-bx{position: relative; width: 100%; padding: 7px;  border-radius: 20px;  background: url(/page/sokchoportal/images/contents/pattern.png) repeat; display: inline-block;}
.character .infomation-bx > div{width: 100%;  background: #fff; border-radius: 15px; padding: 70px 43px 26px 43px;}
.character .infomation-bx > div p{font-size: 17px; color: #222;}
.character .infomation-bx > div .note{position: absolute; left: 45px; top: -3px; z-index: 2; border-radius: 5px 5px 2px 2px; display: flex; justify-content: center; align-items: center; width: 184px; height: 40px; background: #e60012; color: #fff;}
.character .infomation-bx > div .note em{font-size: 18px;}
.character .infomation-bx > div .note em::before{content: ''; width: 184px; height: 52px; position: absolute; left: 0; bottom: -52px; z-index: -1; background: #e60012; clip-path: polygon(51% 40%, 0 0, 100% 0);}
.character .character_bx{background: #f6f6f6; height: 569px; margin-top: 20px;  display: flex; align-items: center; justify-content: center;}
.character .follow{padding-top: 29px;}
.character .follow > span{color: #222; position: relative; display: inline-block; padding-left: 40px;}
.character .follow > span + span{margin-top: 12px;}
.character .follow > span::before{content: ''; background: url(/page/sokchoportal/images/contents/caution.png)no-repeat; position: absolute; left: 0; top: 0; width: 29px; height: 29px;}
.character .color_wrap{padding-top: 46px;}
.character .color_bx{background: #f6f6f6; padding: 33px 48px 26px; margin-top: 22px;}


@media (max-width:991px) {
    .character .follow > span{font-size: 15px;}
}

@media (max-width:716px) {
    .character .infomation-bx > div .note{left: 23px;}
    .character .infomation-bx > div{padding: 70px 23px 26px 23px;}
    .character .infomation-bx > div p{font-size: 16px;}
    .character .infomation-bx > div p br{display: none;}
    .character .character_bx{padding:30px; height: 100%; margin-top: 10px;}
    .character .character_bx img{width: 100%; display: block;}
    .character .color_wrap{padding-top: 16px;}
    .character .color_bx{padding: 13px 28px 16px; margin-top: 10px;}
}


/* 속초소개_오시는길 */

.root_daum_roughmap{border-radius: 5px; border-bottom: 1px solid #ddd;}
.road > img{width: 100%; height: 490px;}
.road .address{margin-top: 18px;}
.road .address em{display: block; padding-left: 34px; color: #000; position: relative;}
.road .address em + em{margin-top: 10px;}
.road .address em:first-child::before{content: ''; background: url(/page/sokchoportal/images/contents/address.png)no-repeat; width: 27px; height: 27px; position: absolute;
left: 0; top: 0;}
.road .address em:nth-child(2)::before{content: ''; background: url(/page/sokchoportal/images/contents/call.png)no-repeat; width: 27px; height: 27px; position: absolute;
left: 0; top: 0;}
.road .address em span{font-size: 17px; color: #222;}
.road .traffic{padding-top: 48px;}
.road .traffic_wrap:nth-child(2),
.road .traffic_wrap:nth-child(3){align-items: center;}
.road .traffic_wrap{display: flex; border: 1px solid #e2e2e2; padding: 11px 2px; border-width: 1px 0;}
.road .traffic_wrap .traffic_sx{display: flex; align-items: center; min-width: 118px; height: 49px; border: 1px solid #dadde5; border-radius: 6px;}
.road .traffic_wrap .traffic_sx span{font-size: 18px; color: #000; padding-left: 58px; position: relative;}
.road .traffic_wrap .traffic_sx .bus::before{content: ''; background: url(/page/sokchoportal/images/contents/bus.png);
position: absolute; left: 16px; width: 28px; height: 26px; top: 2px;}
.road .traffic_wrap .traffic_bx{margin-left: 26px;}
.road .traffic_wrap:nth-child(3){border-width: 0;}
.road .traffic_wrap .traffic_sx .subway::before{
content: ''; background: url(/page/sokchoportal/images/contents/subway.png);
position: absolute; left: 16px; width: 26px; height: 20px; top: 4px;
}
.road .traffic_wrap .traffic_sx .car::before{
content: ''; background: url(/page/sokchoportal/images/contents/car.png);
position: absolute; left: 16px; width: 23px; height: 23px; top: 3px;
} 
.road .traffic_wrap .traffic_bx ul{padding-top: 3px;}
.road .traffic_wrap .traffic_bx ul li{position: relative; padding-left: 13px; font-size: 17px; color: #313131; padding-top: 6px;}
.road .traffic_wrap .traffic_bx ul li::before{content: ''; background: #076ebe; width: 3px; height: 3px; border-radius: 50%;
position: absolute; left: 1px; top: 18px;}
.road .traffic_wrap .traffic_bx > strong{font-size: 17px; color: #313131; font-weight: 500; padding-top: 10px; display: block;}
.road .traffic_wrap:last-child{padding-bottom: 22px;}

@media (max-width:1399px) {
    .road .root_daum_roughmap img{width: 100%;}
}

@media (max-width:991px) {
    .road .traffic{padding-top: 18px;}
    .road .traffic_wrap .traffic_bx p{font-size: 15px;}
    .road .traffic_wrap .traffic_bx > strong{font-size: 16px;}
    .road .traffic_wrap .traffic_bx ul li{font-size: 16px;}
}

@media (max-width:716px) {
    .road > img{height: 360px;}
    .road .traffic_wrap{flex-direction: column; align-items: flex-start;}
    .road .traffic_wrap:nth-child(2),
    .road .traffic_wrap:nth-child(3){align-items: flex-start;}
    .road .traffic_wrap .traffic_sx span{font-size: 16px;}
    .road .traffic_wrap .traffic_bx{margin-left: 0; margin-top: 15px;}
    .road .traffic_wrap .traffic_bx p{font-size: 14px;}
    .road .traffic_wrap .traffic_bx ul li{font-size: 14px;}
    .road .traffic_wrap .traffic_bx ul li::before{top: 15px;}
    .road .address em{font-size: 13px; padding-left: 32px;}
    .road .address em span{font-size: 13px;}
    .road .address em:first-child::before,
    .road .address em:nth-child(2)::before{top: -3px;}
}

/* 속초소개_자연환경 */

.nature .land{padding-top: 111px;}
.nature .climate{padding: 30px 0;}
.nature .climate.v2{padding: 0 0 20px;}

@media (max-width:1399px) {
    .nature > img{display: block; width: 100%;}
}

@media (max-width:991px) {
    .nature .land{padding-top: 61px;}
    .nature .climate{padding: 20px 0;}
}

@media (max-width:716px) {
    .nature .land{padding-top: 31px;}
}

/* 속초소개_전용서체 */

.handwriting .follow{text-align: left; padding-top: 21px;}
.handwriting .follow > span{color: #222; position: relative; display: inline-block; padding-left: 40px;}
.handwriting .follow > span::before{content: ''; background: url(/page/sokchoportal/images/contents/caution.png)no-repeat; position: absolute; left: 0; top: 0; width: 29px; height: 29px;}
.handwriting .ocean{padding-top: 57px;}
.handwriting .ocean .ocean_bx{background: #f6f6f6; display: flex; margin: 15px 0 22px; justify-content: center; align-items: center; padding: 39px 0 13px;}
.handwriting .ocean .ocean_bx01,
.handwriting .batang .batang_bx01,
.handwriting .calligraphic .calligraphic_bx01{padding-top: 44px;}
.handwriting .batang{margin-top: 36px; border: 1px solid #c9c9c9; border-width: 1px 0; padding: 47px 0 43px;}
.handwriting .batang .batang_bx{background: #f6f6f6; display: flex; margin: 15px 0 22px; padding: 39px 0 53px; justify-content: center; align-items: center;}
.handwriting .calligraphic{ border: 1px solid #c9c9c9; border-width: 0 0 1px 0; padding: 47px 0 43px;}
.handwriting .calligraphic .calligraphic_bx{background: #f6f6f6; display: flex; margin: 15px 0 22px; padding: 39px 0 53px; justify-content: center; align-items: center;}

@media (max-width:1399px) {
    .handwriting .follow  .skinTxa-center{text-align: left;}
}

@media (max-width:991px) {
    .handwriting .calligraphic,
    .handwriting .ocean{padding-top: 27px;}
    .handwriting .batang .batang_bx,
    .handwriting .ocean .ocean_bx,
    .handwriting .calligraphic .calligraphic_bx{padding: 19px 0 13px;}
    .handwriting .batang,
    .handwriting .calligraphic{padding: 37px 0 33px;}
    .handwriting .ocean .ocean_bx01,
    .handwriting .batang .batang_bx01,
    .handwriting .calligraphic .calligraphic_bx01{padding-top: 33px;}
}

@media (max-width:716px) {
    .handwriting .batang .batang_bx,
    .handwriting .ocean .ocean_bx,
    .handwriting .calligraphic .calligraphic_bx{padding: 19px 25px 13px;  margin: 15px 0 12px;}
    .handwriting .ocean .ocean_bx01,
    .handwriting .batang .batang_bx01,
    .handwriting .calligraphic .calligraphic_bx01{padding: 23px 25px 0;}
    .handwriting .batang, 
    .handwriting .calligraphic{padding: 17px 0 13px;}
    .handwriting .batang{margin-top: 26px;}
}

/* 속초소개_행정조직도 */

.organization{position: relative;}
.organization > img{width:1010px;margin-bottom:50px;}
.organization-bx{position:relative;padding-bottom:50px;}
.organization-bx h1{display:block;margin:0 auto;border-radius:40px;max-width:184px; padding: 1px; position:relative;
border:2px solid transparent;background-image:linear-gradient(#fff, #fff), linear-gradient(126deg, rgba(11,161,58,1) 30%, rgba(29,58,143,1) 70%); background-origin: border-box;
background-clip: content-box, border-box;}
.organization-bx h1:after{content:'';display:block;width:2px;height:368px;background:#c6c9d2;position:absolute;left:calc(50% - 1px);bottom:-369px;}
.organization-bx h1 span{display:flex;align-items:center;justify-content:center;border-radius:40px; height:63px;font-size:23px;font-weight:600;
background: linear-gradient(126deg, rgba(11,161,58,1) 30%, rgba(29,58,143,1) 65%);  color: transparent;  -webkit-background-clip: text;}
.organization-bx h1 a:hover{text-decoration: underline;}
.organization-bx h2{display:block;width:184px;margin:38px auto 0;position:relative;}
.organization-bx h2 span{display:flex;align-items:center;justify-content:center; border: 3px solid #1d3a8f; background: #fff; font-size: 20px; color: #2f2f2f; border-radius: 40px; height:63px; font-size:20px;font-weight:600;}
.organization-bx .or-list{display:flex;margin:38px auto 0;justify-content:space-between;padding-top:38px;position:relative;z-index:1;}
.organization-bx .or-list:before{content:'';display:block;z-index:-1;border:2px solid #c6c9d2;height:30px;border-bottom:0 !important;position:absolute;top:0;left:153px;right:175px;}
.organization-bx .or-list > div{width:378px;}
.organization-bx h3.citizen{width: 347px; border: 3px solid #93ae9e; border-radius: 40px;}
.organization-bx h3.citizen a{height: 55px; background: #eaf8f0; font-size: 20px; font-weight: 500; color: #0d9147;}
.organization-bx .or-list-left{margin:34px 0 0 117px;}
.organization-bx .or-list-right{display: flex; justify-content: flex-end; margin-top: -61px; margin-right: 117px;}
.organization-bx h3{border: 2px solid #b9bcc5; border-radius: 40px;}
.organization-bx .or-list > div + div{margin-left: 20px;}
.organization-bx .or-list > div:last-child h3{margin-right: 0;}
.organization-bx h3 a{display:flex;align-items:center;justify-content:center;border-radius:40px;height:55px;color:#1b1b1b;font-size:20px;font-weight:500;background:#eef1f9;}
.organization-bx .or-list p{margin-top:23px; border-radius:20px;background:#fff; display: flex; flex-wrap: wrap;}
.organization-bx .or-list p a{display:flex; position: relative; align-items:center;  margin-right: 8px; margin-bottom: 10px;  background: #f7f7f7; color: #000; border: 1px solid #c6c9d2; border-radius: 4px; padding: 0 20px 0 25px; font-size:18px;font-weight:400; width: 181px; height:51px;}
.organization-bx .or-list p a::after{content: ''; background: url(/page/sokchoportal/images/contents/view.png)no-repeat; width: 19px; height: 19px;
position: absolute; right: 12px; top: 13px;}
.organization-bx .or-list p a:nth-child(2n){margin-right: 0;}
.organization-bx a:hover{text-underline-position: under;}
.organization-bx .or-list p a.active{background:#ddd;}
.organization-bx .or-list.v2{ padding-top: 0; margin: 28px auto 0;}
.organization-bx .or-list.v2::before{display: none;}
.organization-bx .or-list.v2 p a{width: 100%; margin-right: 0;}
.organization_view .organization_wrap{padding-top: 28px;  display: flex; flex-wrap: wrap;}
.organization_view .organization_wrap > li{ width: 160px; height: 280px; margin-right: 8px;  padding:0 0 14px; margin-bottom: 22px; background: #f7f7f7; border: 1px solid #a5a5a5; border-radius: 6px;}
.organization_view .organization_wrap > li:nth-child(7n){margin-right: 0;}
.organization_view .organization_wrap > li h5{background: #1d3a8f;  font-size: 18px; outline: 1px solid #a5a5a5; color: #fff; font-weight: 400; height: 50px;  border-radius: 6px; display: flex; justify-content: center; align-items: center;}
.organization_view .organization_wrap > li .cmpe-list{padding: 8px 12px 0;}
.organization_view .organization_wrap > li .cmpe-list li{padding-left: 8px; position: relative; margin-bottom: 8px; color: #000;}
.organization_view .organization_wrap > li .cmpe-list li::before{content: ''; width: 3px; height: 3px; background: #076ebe; border-radius: 50%; position: absolute;
left: 0; top: 12px;}
.organization_view.v2{padding-top: 61px;}
.organization_view.v2 .organization_wrap{padding-bottom: 33px;}
.organization_view.v2 .organization_wrap > li h5{background: #23ac38;}
.organization_view.v2 .organization_wrap > .health_center{width: 578px;}
.organization_view.v2 .organization_wrap > .health_center h5{background: #009091;}
.organization_view.v2 .organization_wrap > .health_center .health_wrap{display: flex; padding: 16px 25px;}
.organization_view.v2 .organization_wrap > .health_center .health_bx{display: flex; margin-right: 80px; position: relative;}
.organization_view.v2 .organization_wrap > .health_center .health_bx:first-child::before{display: none;}
.organization_view.v2 .organization_wrap > .health_center .health_bx::before{content: ''; background: #dee0e4; width: 1px; height: 100%; position: absolute; top: 0; left: -24px;}
.organization_view.v2 .organization_wrap > .health_center .cmpe-list{padding: 0; padding-left: 18px;}
.organization_view.v3 .organization_wrap > li{height: 246px;}
.organization_view.v3 .organization_wrap > li .water{background: #155acf;}
.organization_view.v3 .organization_wrap > li .business{background: #25bdc2;}
.organization_view.v3 .organization_wrap > li .museum{background: #ffae00;}
.organization_view.v3 .organization_wrap > li .environment{background: #177679;}
.organization_view.v3 .organization_wrap > li .center{background: #7e6b5a;}
.organization_view.v4{padding-top: 32px;}
.organization_view.v4 .organization_wrap > li{height: 180px;}

@media (max-width:1399px) {
  .organization-bx{padding-bottom:35px;}
  .organization-bx h1{border-radius:15px; max-width:170px}
  .organization-bx h1:after{width:2px;height:346px;left:calc(50% - 0.5px);bottom:-348px;}
  .organization-bx h1 a{border-radius:15px;height:50px;font-size:16px;}
  .organization-bx h2{width:170px;margin:32px auto 0;}
  .organization-bx h2 a{border-radius:0 15px 0 15px;height:50px;font-size:16px;}
  .organization-bx .or-list{margin:32px auto 0;padding-top:32px;}
  .organization-bx .or-list:before{height:28px;left:164px;right:164px;}
  .organization-bx h3 a{height:42px;font-size:18px;}
  .organization-bx .or-list p a{width: 159px;}
  .organization_view .organization_wrap > li{width: 164px;}
  .organization_view .organization_wrap > li:nth-child(6n){margin-right: 0;}
  .organization_view .organization_wrap > li:nth-child(7n){margin-right: 8px;}
  .organization-bx .or-list p{margin-top:32px;}
  .organization-bx .or-list p a{font-size:15px;height:42px;}
}

@media (max-width:991px) {
    .organization-bx .or-list-left {margin: 34px 0 0 0;}
    .organization-bx .or-list-right{margin-right: 0;}
    .organization-bx h3.citizen{width: 247px;}
    .organization-bx .or-list p a{width: 100%; margin-right: 0;}
    .organization_view .organization_wrap > li{width: 32.6%;}
    .organization_view .organization_wrap > li:nth-child(3n){margin-right: 0;}
    .organization-bx h1 span{font-size: 20px;}
    .organization-bx h3.citizen a{font-size: 18px;}
    .organization_view.v2 .organization_wrap > li{margin-right: 0; width: 100%;}
    .organization_view.v2 .organization_wrap > .health_center .health_wrap{justify-content: space-between;}
    .organization_view.v2 .organization_wrap > .health_center{width: 100%;}
    .organization_view.v2 .organization_wrap > .health_center .health_bx::before{left: -119px;}
}

@media (max-width:740px) {
  .organization-bx{padding-bottom:15px;}
  .organization-bx h1{max-width:160px}
  .organization-bx h1 a{height:40px;font-size:14px;}
  .organization-bx h2{width:160px;margin:24px auto 0;}
  .organization-bx h2 a{height:40px;font-size:14px;}
  .organization-bx .or-list{margin:24px auto 0;padding-top:24px;}
  .organization-bx .or-list:before{left:50px;right:50px;}
  .organization-bx .or-list > div{width:110px;}
  .organization-bx h3 a{height:36px;font-size:13px;}
  .organization-bx .or-list p{margin-top:24px;}
  .organization-bx .or-list p a{font-size:14px;height:38px;}
  .organization-bx h3.citizen{width: 150px;}
  .organization-bx h2 span,
  .organization-bx h1 span{font-size: 18px; height: 50px;}
  .organization-bx h3.citizen a{height: 50px; font-size: 16px;}
  .organization-bx .or-list-right{margin-top: -55px;}
  .organization-bx .or-list{flex-direction: column;}
  .organization-bx .or-list:before{display: none;}
  .organization-bx .or-list > div{width: 100%;}
  .organization-bx h1:after{height: 287px; bottom: -289px;}
  .organization-bx .or-list p{margin-top: 14px;}
  .organization-bx .or-list p a{padding: 0 10px;}
  .organization-bx .or-list p a::after{top: 9px; right: 10px;}
  .organization-bx .or-list > div + div{margin-left: 0; margin-top: 15px;}
  .organization_view .organization_wrap{padding-top: 8px;}
  .organization_view .organization_wrap > li{width: 100%; height: 250px; margin-bottom: 15px;}
  .organization-bx .or-list.v2{margin: 14px auto 0;}
  .organization_view .organization_wrap > li h5{font-size: 16px;}
  .organization_view .organization_wrap > li .cmpe-list li{font-size: 14px;}
  .organization_view .organization_wrap > li .cmpe-list li::before{top: 10px;}
  .organization_view.v2 .organization_wrap{padding-bottom: 13px;}
  .organization_view.v2 .organization_wrap > .health_center .health_wrap{flex-direction: column;}
  .organization_view.v2 .organization_wrap > .health_center{height: 100%;}
  .organization_view.v2 .organization_wrap > .health_center .health_bx{margin-right: 0;}
  .organization_view.v2 .organization_wrap > .health_center .health_bx:nth-child(2){padding-top: 10px;}
  .organization_view.v2 .organization_wrap > .health_center .health_bx strong{flex: 0 60%;}
  .organization_view.v2 .organization_wrap > .health_center .health_bx::before{left: 50%; transform: translate(-50%); width: 100%; height: 1px; top: 0px;}
  .organization_view.v2{padding-top: 11px;}
  .organization_view.v4{padding-top: 12px;}
}

/* 속초소개_청사안내도 */

.office .map{position: relative;}
.office .map > img{display: block;}
.office .map > div{position: absolute; z-index: 3; top: 0; left: 0; right: 0; bottom: 0;}
.office .map > div button{width: 114px; height: 37px; position: absolute; background: transparent; color:  transparent; font-size: 0;}
.office .map > div button:nth-child(1){left: 8%; top: 39.7%;}
.office .map > div button:nth-child(2){left: 33.3%; top: 39.7%;}
.office .map > div button:nth-child(3){left: 62%; top: 71%; width: 134px;}
.office .map > div button:nth-child(4){left: 67%; top: 33.1%;}
.office .map > div button:nth-child(5){left: 86.1%; top: 40.6%;}
.office .guide_bx{position:relative;}
.office .guide_bx .boSrchArea{background:transparent;}
.office .guide_bx .qa-bx{position:relative; margin-top: 18px;}
.office .guide_bx .qa-bx::after{
content: ''; background: linear-gradient(126deg, rgba(18,137,6,1) 30%, rgba(17,71,193,1) 70%); width: 4px; height: 100%;
position: absolute; left: 110px; top: 1px;}
.office .guide_bx .qa-bx .slide{position: relative; display:flex; align-items: center; height:72px; position:relative; border:1px solid #d2d2d2;border-width:1px 0 0 0;transition:all .3s ease;overflow:hidden;max-height:119px;overflow:hidden;}
.office .guide_bx .qa-bx .slide a{position: absolute;  right: 0; top: 50%; transform: translateY(-50%); width: 134px; height: 34px; display: flex; align-items: center; padding: 0 15px 0 19px; background: #939597; border-radius: 40px;}
.office .guide_bx .qa-bx .slide a::after{content: ''; background: url(/page/sokchoportal/images/contents/arrow.png)no-repeat; width: 12px; height: 8px;
position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}
.office .guide_bx .qa-bx .slide a.active::after{transform: translateY(-50%) rotate(-180deg); transition: all .3s;}
.office .guide_bx .qa-bx .slide a:hover{text-decoration: none;}
.office .guide_bx .qa-bx .slide a span{font-size: 15px; color: #fff;}
.office .guide_bx .qa-bx .slide.active{border-width:1px 0 1px 0;}
.office .guide_bx .qa-bx .slide:nth-child(5){border-width: 1px 0 1px 0;}
.office .guide_bx .qa-bx.v2 .slide:nth-child(5){border-width: 1px 0 0 0;}
.office .guide_bx .qa-bx.v2 .slide.active:nth-child(5){border-width: 1px 0 1px 0;}
.office .guide_bx .qa-bx.v3 .slide:nth-child(5){border-width: 1px 0 0 0;}
.office .guide_bx .qa-bx.v3 .slide.active:nth-child(5){border-width: 1px 0 1px 0;}
.office .guide_bx .qa-bx.v3 .slide:nth-child(7){border-width: 1px 0 1px 0;}
.office .guide_bx .qa-bx.v4 .slide:nth-child(3){border-width: 1px 0 1px 0;}
.office .guide_bx .qa-bx .slide:nth-child(9){border-width: 1px 0 1px 0;}
.office .guide_bx .qa-bx .slide a.active{border-bottom: 1px solid #d2d2d2;}
.office .guide_bx .qa-bx h4{color:#313131;font-weight:400;font-size:18px;word-break:keep-all;position:relative; padding-left: 25px;}
.office .guide_bx .qa-bx h4.active p{text-decoration: underline; text-underline-position: under; text-decoration-color: #2669bc; color: #2669bc;}
.office .guide_bx .qa-bx em{color:#000; position: relative; width: 110px; line-height: 72px; text-align: center; font-size:22px; font-weight:400; transition:all .3s;}
.office .guide_bx .qa-bx .slide em.active{background: #138907; color: #fff;}
/* .office .guide_bx .qa-bx.v2 .slide em.active{background: #1047c1; color: #fff;}
 */.office .guide_bx .qa-bx .slide h4:after{content:'';display:block; transition:all .3s; background: url(/page/reservation/images/sub/arrow6.png)no-repeat; width:21px;height:13px; background-size: cover; position:absolute; top:50%; transform: translateY(-50%); right:53px;}
.office .guide_bx .qa-bx .slide h4.active::after{transform: rotate(-180deg); top: 50px;}
.office .guide_bx .qa-bx .box_wrap01{display: none;}
.office .guide_bx .qa-bx .box_wrap01.active{display: block;}
.office .guide_bx .qa-bx .box_wrap01 > div{background: #f6f6f6; padding: 26px; margin: 27px 0 27px 136px; display: flex; justify-content: center; align-items: center;}
.office .guide_bx .qa-bx .box_wrap01:last-child{border-bottom: 1px solid #d2d2d2;}
.office .guide_bx .qa-bx .box{font-weight:300; font-size: 18px; display: flex;  padding: 20px 26px; color: #111; width:100%; background: #f8f8f8; min-height:130px; align-items:center; word-break:keep-all;line-height:1.5;}
.office .guide_bx .qa-bx .box ul li{font-size: 20px; font-weight: 500; color: #333;}
.office .guide_bx .qa-bx .box em{color:#222; font-size:30px; display: inline-block; padding-left: 9px;  align-self: center; font-weight:800; margin-right:24px; transition:all .3s; }
.office .office_guide,
.office .council,
.office .fish,
.office .public_center,
.office .annex{padding-top: 51px;}
.office ul li{display: none;}
.office ul li.active{display: block;}

@keyframes qa01{ 
  0%{transform:translateY(50%);opacity:.5;}
  100%{transform:translateY(0%);opacity:1;}
}

@media (max-width:1399px) {
    .office .map > img{width: 100%;}
    .office .map > div button{width: 102px;}
    .office .map > div button:nth-child(3){width: 120px;}
}

@media (max-width:991px) {
    .office .map > div button{width: 74px; height: 27px;}
    .office .guide_bx .qa-bx em{font-size: 20px;}
    .office .guide_bx .qa-bx h4{font-size: 16px; width: 100%;}
    .office .office_guide,
    .office .council,
    .office .fish,
    .office .public_center,
    .office .annex{padding-top: 41px;}
    .office .guide_bx .qa-bx em{width: 80px;}
    .office .guide_bx .qa-bx::after{left: 70px;}
    .office .guide_bx .qa-bx .slide{padding-right: 137px;}
    .office .guide_bx .qa-bx .box_wrap01 > div{margin: 27px 0 27px 106px;}
    .office .guide_bx .qa-bx .box_wrap01  > div img{display: block; width: 100%;}
}

@media (max-width:768px) {
    .office .map > div button{width: 72px;}
    .office .map > div button:nth-child(3){width: 84px; height: 22px;}
}

@media (max-width:716px) {
    .office .map > div button{width: 35px; height: 14px;}
    .office .map > div button:nth-child(3){width: 42px; height: 12px;}
    .office .office_guide,
    .office .council,
    .office .fish,
    .office .public_center,
    .office .annex{padding-top: 31px;}
    .office .guide_bx .qa-bx .slide{ height: 100%;}
    .office .guide_bx .qa-bx::after{left: 73px;}
    .office .guide_bx .qa-bx em{width: 150px; height: 90px; line-height: 90px; font-size: 16px;}
    .office .guide_bx .qa-bx h4{font-size: 13px;}
    .office .guide_bx .qa-bx .slide{padding-right: 0;}
    .office .guide_bx .qa-bx .slide a{width: 165px; height: 30px; padding: 0 10px; position: relative; transform: none; left: auto; top: auto;}
    .office .guide_bx .qa-bx .slide a span{font-size: 12px;}
    .office .guide_bx .qa-bx .box_wrap01 > div{margin: 20px 0 20px 90px;}
    .office .guide_bx .qa-bx h4{padding-left: 6px;}
    .office .guide_bx .qa-bx .slide a::after{right: 10px;}
    .office .guide_bx .qa-bx .slide a.active::after{top: 13px;}
}
    
/* 행정정보_공무원정원 */

.civil01 .civil_bx{display: flex; align-items: center;}
.civil_bx .skinTb-wrapper{flex: 1;}
.civil_bx .civil-img{margin-left: 20px;}
.civil_bx .civil-img img{display: block; height: 240px;}

@media (max-width:1399px) {
    .civil_bx .civil-img img{display: block; height: 210px;}
}


@media (max-width:716px) {
    .civil_bx .civil-img{margin-left: 0; padding: 0 15px;}
    .civil_bx .civil-img img{margin: 0; width: 100%;}
    .civil01 .civil_bx{display: block;}
}

/* 행정정보_상위직비율 */

.high .civil_bx{display: flex; align-items: center;}
.high .civil-img img{display: block; height: 235px;}

@media (max-width:1399px) {
    .high .civil-img img{display: block; height: 210px;}
}

@media (max-width:716px) {
    .high .civil_bx{display: block;}
    .civil_bx .civil-img{margin-left: 0; padding: 0 15px;}
    .civil_bx .civil-img img{margin: 0; width: 100%;}
}

/* 행정정보_공무원1인당주민수 */

.resident .civil_bx{display: flex; align-items: center;}
.resident .civil-img img{display: block; height: 260px;}

@media (max-width:1399px) {
    .resident  .civil-img img{display: block; height: 225px;}
}

@media (max-width:716px) {
    .resident  .civil_bx{display: block;}
    .civil_bx .civil-img{margin-left: 0; padding: 0 15px;}
    .civil_bx .civil-img img{margin: 0; width: 100%;}
}

/* 행정정보_본청정원비율 */

.limit .civil_bx{display: flex; align-items: center;}
.limit .civil-img img{display: block; height: 236px;}
.limit .civil-img .limit01{height: 260px;}

@media (max-width:1399px) {
    .limit .civil-img img{display: block; height: 210px;}
    .limit .civil-img .limit01{height: 225px;}
}

@media (max-width:716px) {
    .limit .civil_bx{display: block;}
    .civil_bx .civil-img{margin-left: 0; padding: 0 15px;}
    .civil_bx .civil-img img{margin: 0; width: 100%;}
}

/* 행정정보_재정규모운용비율 */

.finance .civil_bx{display: flex; align-items: center;}
.finance .civil-img img{display: block; height: 215px;}

@media (max-width:1399px) {
    .finance .civil-img img{display: block; height: 185px;}
}

@media (max-width:716px) {
    .finance .civil_bx{display: block;}
    .civil_bx .civil-img{margin-left: 0; padding: 0 15px;}
    .civil_bx .civil-img img{margin: 0; width: 100%;}
}


/* 시책보고_시정방향 */

.correct{position: relative;}

@media (max-width:1399px) {
    .correct > img{display: block; max-width: 100%;}
}

/* 속초소개_행정구역 */

.administration a img{display: block; border-radius: 22px;}
.administration_wrap{margin-top: 70px;}

@media (max-width:1399px) {
    .administration > img{max-width: 100%;}
}

@media (max-width:716px) {
    .administration_wrap{margin-top: 40px;}
}

/* 행정정보_헌장전문 */

.charter_bx{text-align: center;}
.charter_bx h2{font-family: 'SokchoBadaDotum'; font-size: 50px;  color: #023894; padding-top: 36px;}
.charter_bx span{font-size: 24px; font-weight: 500; color: #231815; margin-top: -4px; display: inline-block;}
.charter_bx p{padding-top: 8px; font-size: 18px; color: #313131; line-height: 1.9;}
.charter .charte_txt{background: #f3faf6; border-radius: 20px; padding: 44px 40px 40px; margin-top: 35px;}
.charter .charte_txt ul li{padding-left: 15px; color: #313131; position: relative; padding-bottom: 12px;}
.charter .charte_txt ul li:last-child{padding-bottom: 0;}
.charter .charte_txt ul li::before{content: ''; width: 6px; height: 6px; background: #07a33e;
position: absolute; left: 0; top: 10px; border-radius: 50%;}
.charter .promise{text-align: center;}
.charter .promise em{display: inline-block; padding: 49px 0 54px;}


@media (max-width:991px) {
    .charter_bx h2{font-size: 48px;}
    .charter_bx span{font-size: 22px;}
    .charter_bx p{font-size: 16px;}
    .charter .charte_txt{padding: 30px;}
    .charter .charte_txt ul li{font-size: 15px;}
    .charter .promise em{font-size: 15px;  padding: 40px 0;}
    .charter .promise img{display: block; max-width: 100%;}
}

@media (max-width:768px) {
    .charter .charte_txt ul li br{display: none;}
}

@media (max-width:716px) {
    .charter_bx img{display: inline-block; height: 50px;}
    .charter_bx h2{padding-top: 10px; font-size: 26px;}
    .charter_bx span{font-size: 18px;}
    .charter_bx p{font-size: 14px; word-break: keep-all;}
    .charter_bx p br{display: none;}
    .charter .charte_txt{padding: 15px; margin-top: 25px;}
    .charter .charte_txt ul li{font-size: 14px;}
    .charter .charte_txt ul li::before{top: 8px;}
    .charter .promise em{padding: 20px 0; font-size: 14px; word-break: keep-all;}
    .charter .promise em br{display: none;}
}