@charset "utf-8";

#main{position:relative;z-index:10;}

#visual{position:relative;overflow:hidden;height:100vh;min-height:1056px;z-index:10;}
#visual .visual_img img{width:auto;}
#visual .download_btn{display:block;position:absolute;width:297px;height:88px;left:50%;bottom:98px;transform:translateX(-50%);background: url(/page/meta/images/main/download_btn.png) no-repeat;z-index:10;}

#visual .main_tab{position:absolute;top:187px;width:100%;text-align:center;}
#visual .main_tab .depth-01{font-family:'Jalnan';}
#visual .main_tab .depth-01 li h2{position:relative;display:inline-block;vertical-align:top;width:16.7rem;height:16.7rem;font-size:2.6rem;line-height:3.4rem;text-align:center;text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.23);border:3px solid;border-radius:100%;box-shadow: 0px 13px 24px 0px rgba(0, 0, 0, 0.35);z-index:10;}
#visual .main_tab .depth-01 li h2:before{content:'';display:block;position:absolute;top:0;right:0;bottom:0;left:0;border-radius:100%;background: radial-gradient(circle, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 100%);z-index:5;}
#visual .main_tab .depth-01 li:hover h2:before{background:#fff;}
#visual .main_tab .depth-01 > li+li{margin-left:3.5rem;}
#visual .main_tab .depth-01 li:nth-child(1) h2{font-size:2.3rem;line-height:3.0rem;}
#visual .main_tab .depth-01 li h2 a{position:relative;display:flex;align-items: center;justify-content: center;height:100%;z-index:10;}
#visual .main_tab .depth-01 li:nth-child(1) h2{border-color:#491faf;}
#visual .main_tab .depth-01 li:nth-child(2) h2{border-color:#3f55d3;}
#visual .main_tab .depth-01 li:nth-child(3) h2{border-color:#0f1d2a;}
#visual .main_tab .depth-01 li:nth-child(4) h2{border-color:#9d313e;}
#visual .main_tab .depth-01 li:nth-child(5) h2{border-color:#dba82a;}
#visual .main_tab .depth-01 li:nth-child(6) h2{border-color:#0f983c;}
#visual .main_tab .depth-01 li:nth-child(1) h2 a{color:#4803a5;}
#visual .main_tab .depth-01 li:nth-child(2) h2 a{color:#120ece;}
#visual .main_tab .depth-01 li:nth-child(3) h2 a{color:#000000;}
#visual .main_tab .depth-01 li:nth-child(4) h2 a{color:#b11919;}
#visual .main_tab .depth-01 li:nth-child(5) h2 a{color:#ffae00;}
#visual .main_tab .depth-01 li:nth-child(6) h2 a{color:#009a16;}
#visual .main_tab .depth-01 li:nth-child(1) .depth-02{background:#4803a5;}
#visual .main_tab .depth-01 li:nth-child(2) .depth-02{background:#120ece;}
#visual .main_tab .depth-01 li:nth-child(3) .depth-02{background:#000000;}
#visual .main_tab .depth-01 li:nth-child(4) .depth-02{background:#b11919;}
#visual .main_tab .depth-01 li:nth-child(5) .depth-02{background:#ffae00;}
#visual .main_tab .depth-01 li:nth-child(6) .depth-02{background:#009a16;}

#visual .main_tab .depth-02{margin-top:-8.8rem!important;padding-top:10.8rem;padding-bottom:6.2rem;border-radius:0 0 16.7rem 16.7rem;}
#visual .main_tab .depth-02 > li {font-size:1.8rem;line-height:3.2rem;font-weight:500;text-align: center;}
#visual .main_tab .depth-02 > li a{color:#fff;}
@keyframes text1{
    0%{transform:translateY(-70%);opacity:0;}
    100%{transform:translateY(0%);opacity:1;}
}

@media (max-width:1399px) {
    #visual .slick{width:1400px;margin-left:-700px;}
    #visual{height:683px;}
    #visual .inner{height:683px;}
    #visual .inner .man{width:410px;left:-10px;}
    #visual .inner .text-bx{padding-left:320px;}
    #visual .inner .text-bx h2 strong{font-size:54px;letter-spacing:-3px;}
    #visual .inner .text-bx h2 span{font-size:40px;letter-spacing:-2px;}
    #visual .inner .text-bx h2 i{font-size:22px;margin-top:10px;}
    #visual .control{margin-top:50px;transform:scale(.9);transform-origin:0% 0%;}
    #visual .sns-bx{bottom:25px;right:25px;transform:scale(.9);transform-origin:100% 100%;}
    #visual .sns-bx:before{height:75px;top:-85px;}

}

@media (max-width:991px) {
    #visual .slick{width:1300px;margin-left:-650px;}
    #visual{height:635px;}
    #visual .inner{height:635px;}
    #visual .inner .man{width:370px;left:-35px;}
    #visual .inner .text-bx{padding-left:240px;}
    #visual .inner .text-bx h2 strong{font-size:48px;letter-spacing:-2px;}
    #visual .inner .text-bx h2 span{font-size:30px;letter-spacing:-2px;}
    #visual .inner .text-bx h2 i{font-size:20px;margin-top:5px;}
    #visual .control{margin-top:40px;transform:scale(.8);}
    #visual .sns-bx{bottom:20px;right:20px;transform:scale(.85);}
    #visual .sns-bx:before{height:55px;top:-65px;}
}

@media (max-width:760px) {
    #visual .inner .man{width:305px;left:-10px;bottom:-35px}
    #visual .inner .text-bx{padding-left:0px;justify-content:flex-start;padding-top:100px;}
    #visual .inner .text-bx h2 strong{font-size:39px;margin-top:3px;}
    #visual .inner .text-bx h2 span{font-size:20px;letter-spacing:-1px;}
    #visual .inner .text-bx h2 i{font-size:15px;margin-top:5px;}
    #visual .control{margin-top:0px;transform:scale(.8);width:100%;text-align:right;position:absolute;right:-15px;top:265px;transform-origin:100% 100%;}
    #visual .sns-bx{bottom:15px;right:15px;}
    #visual .sns-bx:before{height:35px;top:-45px;}
}

@media (max-width:390px) {
    #visual .inner .text-bx h2 strong{font-size:35px;}
}
.main-news{text-align:center;background:#f2f2f2;padding-top:8.0rem;padding-bottom:15.6rem;}
.main-news h4{font-size:5.6rem;line-height:10.0rem;font-weight:bold;color:#000;font-family:Arial;}
.round_tab{margin-top:3.8rem;font-size:0;}
.round_tab li{display:inline-block;vertical-align:top;height:4.4rem;line-height:4.4rem;font-size:1.8rem;font-family: 'Noto Sans KR', sans-serif;font-weight:bold;background:#e0e0e0;border-radius:4.4rem;}
.round_tab li+li{margin-left:3.5rem;}

.round_tab li a{display:block;padding:0 29px;}
.round_tab li.active{background:#263070;}
.round_tab li.active a{color:#fff;}
.main-news .news_list{display:none;position:relative;font-size:0;margin-top:6.7rem;}
.main-news .news_list.active{display:block;}
.main-news .news_list li{display:inline-block;vertical-align:top;width:380px;font-size:1.6rem;line-height:2.6rem;text-align:left;background:#fff;box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.07);border-radius:2.0rem;}
.main-news .news_list li+li{margin-left:41px;}
.main-news .news_list li .info_box{padding:1.2rem 2.5rem 2.7rem;}
.main-news .news_list li .info_title{font-family: 'Noto Sans KR', sans-serif;font-weight:bold;font-size:2.0rem;line-height:3.0rem;color:#000;display: -webkit-box;word-wrap: break-word;-webkit-line-clamp: 2;-webkit-box-orient: vertical;text-overflow: ellipsis;overflow: hidden;max-height:6.0rem;height:6.0rem;}
.main-news .news_list li .info_desc{margin-top:2.4rem;color:#404040;display: -webkit-box;word-wrap: break-word;-webkit-line-clamp: 3;-webkit-box-orient: vertical;text-overflow: ellipsis;overflow: hidden;max-height:7.8rem;height:7.8rem;}
.main-news .news_list li .date_info{display:block;margin-top:1.5rem;color:#9e9e9e;}
.main-news .more_view{display:block;position:absolute;top:-112px;right:69px;width:45px;height:45px;border:1px solid #263070;border-radius:100%;}
.main-news .more_view:before{content:'';display:block;position:absolute;top:10px;left:11px;width:23px;height:23px;background: url(/page/meta/images/main/more_vew_plus.png) no-repeat;background-size:23px 23px;}
.main-news [class*="bg_circle"]{position:absolute;width:56.5rem;height:56.5rem;border:2px solid;border-radius:100%;}
.main-news .bg_circle1{bottom:-466px;left:-526px;;border-color: #45a3da;}
.main-news .bg_circle2{top:-480px;left:50%;margin-left:544px;width:74.4rem;height:74.4rem;border-color: #45a3da;}
.main-news .bg_circle3{top:-619px;left:50%;margin-left:596px;width:100.4rem;height:100.4rem;border-color: #f39fc4;}
.orbit{display:block;width:1px;height:1px;background:#45a3da; border-radius: 50%;positioN: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 5; -webkit-animation: orbit 30s linear infinite; animation: orbit 30s linear infinite;}
.orbit:before{content:'';display:block;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:22px;height:22px;background:#45a3da;border-radius:100%;}
.orbit2{-webkit-animation: orbit2 30s linear infinite; animation: orbit2 30s linear infinite;box-sizing: border-box;}
.orbit2:before{width:19px;height:19px;border:3px solid #f38dba;background:transparent;}
.orbit3{-webkit-animation: orbit3 30s linear infinite; animation: orbit3 30s linear infinite;}
@keyframes orbit {
    from {
        transform: rotate(0deg) translateX(282px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(282px) rotate(-360deg);
    }
}

@keyframes orbit2 {
    from {
        transform: rotate(0deg) translateX(325px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(325px) rotate(-360deg);
    }
}

@keyframes orbit3 {
    from {
        transform: rotate(0deg) translateX(372px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(372px) rotate(-360deg);
    }
}