@charset "utf-8";

#main{position:relative;z-index:10;background:#f6f6f6;}
#main .inner{max-width:1800px;position:relative;margin:0 auto;padding:0 20px;}
@media (max-width:716px) {
    #main .inner{padding:0 15px;}
}

#visual{position:relative;height:100vh;height: calc(var(--vh, 1vh) * 100);overflow:hidden;max-height:937px;}
#visual .video-wrap{transition:all 1s ease-out;position:absolute;top:-28.5%;left:-20%;width:140%;cursor: move;display:block;}
#visual .video-wrap:after{content:'';display:block;z-index:3;position:none;position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.6);transition:all 1s;visibility:hidden;opacity:0;}
#visual .video-wrap.active:after{opacity:1;visibility:visible}

#Uplayer{width:100%;height:100%;display:block;}
#visual .point{position:absolute;display:block;color:#fff;text-shadow:1px 1px 2px rgba(0,0,0,1);pointer-events:none;visibility:hidden;opacity:0;transition:all .5s ease-out;padding:15px;z-index:5;}
#visual .point strong{display:block;line-height:1.2;font-size:30px;font-weight:500;}
#visual .point span{font-size:16px;font-weight:300;line-height:1.4;margin-top:5px;pointer-events:none;transform:translateY(-50%);opacity:0;display:block;transition:all .3s;white-space:nowrap;}
#visual .point:hover span{transform:translateY(0);opacity:1;pointer-events:initial;}
#visual .point.active{opacity:1;visibility:visible;pointer-events:initial;}

#visual .text-img{display:block;position:absolute;top:0px;left:50%;text-align:center;margin-left:-960px;transition:all 1s;min-height:100vh}
#visual .text-img.active{opacity:0;pointer-events:none;}
#visual .text-img.mobile{display:none;}
#visual .control-bx{position:absolute;bottom:80px;left:0px;right:0px;padding-bottom:50px;z-index:10;display:flex;align-items:center;justify-content:center;}
#visual .control-bx button{width:30px;height:30px;font-size:0;color:transparent;background:url(/page/gwtour-foreign/images/common/sp_new.png) no-repeat -425px -25px / 960px 320px;}
#visual .control-bx button.play{background-position-x:-505px;}
#visual .control-bx button + button{margin-left:20px;}
#visual .control-bx button:active{transform:scale(.9);}
#visual .control-bx button.active{background-position:-585px -265px;}
#visual .control-bx .progress{position:absolute;left:-50px;right:-50px;bottom:0;height:1px;background:rgba(255,255,255,.3);}
#visual .control-bx .progress span{display:block;background:#fff;width:0%;height:1px;transition:all .3s linear;}

#visual .btn-bx{position:absolute;right:80px;bottom:130px;z-index:30;display:flex;align-items:flex-start;}
#visual .btn-bx a{display:flex;position:relative;}
#visual .btn-bx a + a{margin-left:30px;}
#visual .btn-bx a span{width:88px;height:88px;background:#fff;transition:all .2s;display:flex;align-items:center;justify-content:center;border-radius:50%;background:linear-gradient(to right, #fff 0%, #fff 100%);}
#visual .btn-bx a:hover span{background:linear-gradient(to right, #00b4ff 0%, #007aff 100%);}
[lang=ja] #visual .btn-bx a:hover span{background:linear-gradient(to right, #ff6cab 0%, #7366ff 100%);}
[lang=zh] #visual .btn-bx a:hover span{background:linear-gradient(to right, #ffe53b 0%, #ff2525 100%);}

#visual .btn-bx a span img{transition:all .1s;height:30px;}
#visual .btn-bx a:hover span img{filter:brightness(200);}
#visual .btn-bx a em{height:50px;color:#fff;text-align:center;font-weight:700;opacity:0;pointer-events:none;transition:all .3s;transform:translate(-50%, 50%);position:absolute;top:-60px;left:50%;}
#visual .btn-bx a em img{display:block;height:100%;}
#visual .btn-bx a:hover em{opacity:1;pointer-events:initial;transform:translate(-50%, 0%);}

#visual .time-bx{position:absolute;z-index:6;bottom:35px;right:0px;left:0px;display:flex;align-items:center;justify-content:center;}
#visual .time-bx a{width:10px;height: 10px;border-radius: 50%;background: #f2d1e9;font-size: 0;transition: all .2s;color: transparent;}
#visual .time-bx a + a{margin-left:15px;}
#visual .time-bx a.active{width:16px;height:16px;background: linear-gradient(to right, #9a3bd4 0%,#ed455a 100%);}

@keyframes video-move1{ 
    0%{transform:translateX(0%);}
    20%{transform:translateX(-50%);}
    40%{transform:translateX(0%);}
    60%{transform:translateX(50%);}
    80%{transform:translateX(0%);opacity:1;}
    100%{transform:translateX(-50%);opacity:0;}
}

@media (max-width:1499px) {
    #visual{height:900px;}
    #visual .video-wrap{overflow-x:auto;scroll-behavior:smooth;-webkit-overflow-scrolling:touch;width:100%;height:100%;top:auto;left:auto;bottom:auto;right:auto;position:initial;}
    #visual .video-wrap:after{display:none !important}
    #visual .video-wrap::-webkit-scrollbar{display:none;}
    #visual .video-wrap:before{content:'';pointer-events:none;z-index:3;animation:video-move1 5s 1 both linear;display:none;width:88px;height:50px;position:absolute;left:50%;top:70%;margin:-30px 0 0 -53px;background:url(/page/gwtour-foreign/images/main/move01.png) no-repeat center center /cover;filter: drop-shadow(0px 0px 5px rgba(0,0,0,.5));}
    #visual.mobile .video-wrap::before{display:block;}
    #Uplayer{width:auto;height:100%;transition:all 0s ease-out;position:relative;top:auto;left:auto;}
    #visual .text-img{margin-left:-922px;min-height:initial;height:900px;}
    #visual .control-bx{bottom:55px;padding-bottom:35px;}
    #visual .control-bx button + button{margin-left:10px;}
    #visual .control-bx .progress{position:absolute;left:0px;right:0px;bottom:0;height:1px;background:rgba(255,255,255,.3);}
    #visual .point{position:absolute;top:50% !important;left:0 !important;right:0;text-align:center;transform:translateY(-50%);}
    #visual .point strong{font-size:24px;}
    #visual .point span{margin-top:5px;pointer-events:initial;transform:translateY(0%);opacity:1;font-size:14px;}
    #visual .point:hover span{transform:translateY(0);opacity:1;pointer-events:initial;}

    #visual .btn-bx{right:35px;bottom:60px;transform:scale(.8);transform-origin:100% 100%;}
    #visual .btn-bx a + a{margin-left:60px;}
    #visual .btn-bx a em{opacity:1;transform:translate(-50%, 0%);}
    #visual .btn-bx a span{background:linear-gradient(to right, #00b4ff 0%, #007aff 100%);}
    [lang=ja] #visual .btn-bx a span{background:linear-gradient(to right, #ff6cab 0%, #7366ff 100%);}
    [lang=zh] #visual .btn-bx a span{background:linear-gradient(to right, #ffe53b 0%, #ff2525 100%);}
    #visual .btn-bx a span img{filter:brightness(200);}

    #visual .time-bx{bottom:25px;transform:scale(.9);transform-origin:50% 100%;}
}    

@media (max-width:1199px) {
    #visual{height:768px;}
    #visual .text-img{margin-left:-787px;height:768px;}
}    

@media (max-width:991px) {
    #visual{height:800px;}
    #visual .video-wrap:after{width:88px;height:50px;margin:-25px 0 0 -44px;}
    #visual .text-img{margin-left:-820px;height:800px;}
    #visual .control-bx{padding-bottom:30px;}
    #visual .btn-bx{right:25px;bottom:125px;transform:scale(.73);}
}   

@media (max-width:716px) {
    #visual{height:640px;}
    #visual .video-wrap:after{width:81px;height:46px;margin:-23px 0 0 -40.5px;}
    #visual .text-img{margin-left:-656px;height:640px;display:none}
    #visual .text-img.mobile{display:block;}
    #visual .control-bx{bottom:45px;padding-bottom:25px;}
    #visual .btn-bx{transform:scale(.6);right: 0px;width: 100%;transform-origin: 50% 100%;justify-content: center;}
    #visual .btn-bx a em{display:none;}

    #visual .time-bx{bottom:20px;}
}   


#only{position:relative;padding:40px 0 70px;}
#only .bg-bx{display:flex;align-items:flex-start;}
#only .bg-bx > img{flex:1;max-width:55%;}
#only .bg-bx > div{flex:1;max-width:45%;padding:70px 0 0 40px;}
#only .bg-bx > div img{display:block;max-width:100%;}
#only .bg-bx > div p{padding:40px 0 50px;word-break:keep-all;font-size:18px;}
#only .slick{position:relative;width:710px;position:relative;margin-left:calc(100% - 1070px);z-index:5;margin-top:-190px;}
#only .slick .slick-arrow{position:absolute;z-index:10;;left:-10px;top:50%;margin-top:-30px;;border-radius:50%;display:flex;width:60px;height:60px;background:#fff;box-shadow:0px 0px 15px 0px rgba(0,0,0,.2);align-items:center;justify-content:center;font-size:0;}
#only .slick .slick-arrow.slick-next{left:auto;right:10px;}
#only .slick .slick-arrow:after{content:'';width:12px;height:20px;background:url(/page/gwtour-foreign/images/common/sp_new.png) no-repeat -925px -110px / 960px 320px;}
#only .slick .slick-arrow.slick-next:after{background-position-x:-942px;}
#only .slick-list{padding:20px 500px 20px 20px;margin-right:-500px;position:relative;}
#only .slick-slide{box-shadow:0px 0px 15px 0px rgba(0,0,0,.2);margin-right:40px;position:relative;}
#only .slick-slide strong{display:block;height:80px;line-height:80px;position:absolute;left:0;right:0;bottom:0;background:rgba(0,0,0,.7);color:#fff;font-size:36px;font-weight:500;padding:0 50px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}

@media (max-width:1499px) {
    #only{padding:30px 0 40px;}
    #only .bg-bx > div{padding:20px 0 0 10px;}
    #only .bg-bx > div img{height:60px;}
    #only .bg-bx > div p{padding:25px 0 20px;font-size:15px;padding-right:20px;}
    #only .bg-bx > div p br{display:none;}
    #only .slick{width:500px;margin-left:40%;margin-top:-115px;}
    #only .slick .slick-arrow{display:none !important}
    #only .slick-list{padding:15px 500px 15px 15px;margin-right:-500px;}
    #only .slick-slide{box-shadow:0px 0px 7px 0px rgba(0,0,0,.2);margin-right:20px;}
    #only .slick-slide strong{height:54px;line-height:54px;font-size:24px;padding:0 20px;}
}   

@media (max-width:991px) {
    #only{padding:20px 0 30px;}
    #only .bg-bx > img{max-width:initial;width:430px;margin-left:-100px;}
    #only .bg-bx > div{padding:30px 0 0 10px;max-width:initial;}
    #only .bg-bx > div img{height:52px;}
    #only .bg-bx > div p{padding:22px 0 20px;font-size:14px;padding-right:20px;}
    #only .bg-bx > div p br{display:none;}    
    #only .slick{width:450px;margin-left:0px;margin-top:-10px;}
    #only .slick-list{padding-left:20px;}
    #only .slick-slide{box-shadow:0px 0px 7px 0px rgba(0,0,0,.2);margin-right:20px;}
    #only .slick-slide strong{height:50px;line-height:50px;font-size:20px;padding:0 20px;}
}  

@media (max-width:716px) {
    #only{padding:40px 15px 25px;}
    #only .bg-bx > img{display:none;}
    #only .bg-bx > div{padding:0px 0 0 0px;max-width:initial;}
    #only .bg-bx > div img{height:48px;}
    #only .bg-bx > div p{padding:20px 0 17px;font-size:13.5px;padding-right:15px;}  
    #only .slick{width:320px;margin-left:0px;margin-top:5px;}
    #only .slick-list{padding-left:35px;margin-left:-15px;}
    #only .slick-slide{box-shadow:0px 0px 3px 0px rgba(0,0,0,.2);margin-right:10px;}
    #only .slick-slide strong{height:42px;line-height:42px;font-size:16px;padding:0 15px;}
}   

#map{position:relative;overflow:hidden;}
#map .slick{position:absolute;top:0;left:50%;width:1920px;margin-left:-960px;z-index:5;}
#map .bg-img{position:absolute;top:0;left:50%;margin-left:-960px;z-index:2;display:block;z-index:7;}
#map .map-text{display:flex;align-items:center;justify-content:center;position:relative;z-index:10;width:100%;height:700px;}
#map .map-text .slick2{width:700px;position:relative;z-index:10;}
#map .text-bx p{margin-bottom:45px;color:#fff;word-break:keep-all;padding-left:25px;font-size:18px;}
#map .slick2{margin-left:185px;}
#map .slick2 .slick-arrow{position:absolute;z-index:2000;;left:80px;top:50%;background:url(/page/gwtour-foreign/images/common/sp_lang.png) no-repeat -20px -85px / 960px 160px;margin-top:-36px;width:42px;height:72px;font-size:0;color:transparent;}
#map .slick2 .slick-arrow.slick-next{left:auto;right:80px;background-position-x:-98px;}
#map .more-btn{margin-left:25px;background:transparent;border-color:#fff;color:#fff}
#map .more-btn:hover{background:#fff;color:#111;}
#map .count{color:#fff;font-size:26px;font-weight:700;position:absolute;right:80px;bottom:90px;z-index:10;}
#map .count span{font-size:16px;font-weight:400;padding:0 5px;font-weight:300;}
#map .count strong{font-size:16px;font-weight:400;}

@media (max-width:1499px) {
    #map .bg-img{top:0;left:-150px;margin-left:0px;height:500px;}
    #map .map-text{height:600px;}
    #map .map-text .slick2{width:450px;margin-left:35px;}
    #map .text-bx{padding-left:20px;}
    #map .text-bx > img{height:131px;}
    #map .text-bx p{margin-bottom:30px;padding-left:20px;font-size:15px;}
    #map .slick2 .slick-arrow{left:15px;transform:scale(.7);transform-origin:0% 50%;}
    #map .slick2 .slick-arrow.slick-next{right:15px;transform-origin:100% 50%;}
    #map .count{right:30px;bottom:40px;transform:scale(.8);transform-origin:100% 100%;}
    #map .more-btn{margin-left:20px}
}   

@media (max-width:991px) {
    #map .bg-img{top:-30px;left:-90px;margin-left:0px;height:460px;}
    #map .map-text{height:auto;flex-direction:column;padding-bottom:30px;}
    #map .map-text .slick2{width:450px;margin-left:100px;margin-top:-25px;}
    #map .text-bx{padding-left:20px;width:100%;}
    #map .text-bx > img{height:111px;}
    #map .text-bx p{margin-bottom:20px;padding-left:15px;font-size:14px;}
    #map .text-bx p br{display:none;}
    #map .count{right:20px;bottom:30px;transform:scale(.7);transform-origin:100% 100%;}
    #map .more-btn{margin-left:15px}
}   


@media (max-width:716px) {
    #map .bg-img{top:-20px;left:-100px;margin-left:0px;height:320px;}
    #map .map-text{height:auto;flex-direction:column;padding-bottom:25px;}
    #map .map-text .slick2{max-width:400px;width:100%;margin:0 0px 0 0;margin-top:-25px;}
    #map .text-bx{padding:0 35px;width:100%;margin-top:-30px;}
    #map .text-bx > img{height:94px;}
    #map .text-bx p{margin-bottom:20px;padding-left:15px;font-size:13.5px;}
    #map .text-bx p br{display:none;}
    #map .slick2 .slick-arrow{transform:scale(.5);top:auto;margin-top:0;bottom:100px;left:5px;}
    #map .slick2 .slick-arrow.slick-next{right:5px;}
    #map .count{right:15px;bottom:20px;transform:scale(.6);}
    #map .more-btn{margin-left:15px}
}   


#youtube{position:relative;padding:100px 80px 40px;display:flex;align-items:center;}
#youtube .text-bx{flex-basis:450px;}
#youtube .text-bx p{padding:30px 0 90px;word-break:keep-all;font-size:18px;}
#youtube .video-bx{flex:1;}
#youtube .video-bx > div{position:relative;width:100%;padding-top:56.25%;}
#youtube .video-bx > div iframe{display:block;position:absolute;top:0;left:0;width:100%;height:100%;}

@media (max-width:1499px) {
    #youtube{padding:60px 20px 25px;}
    #youtube .text-bx{flex-basis:300px;}
    #youtube .text-bx img{height:86px;}
    #youtube .text-bx p{padding:20px 0 50px;font-size:15px;}
    #youtube .video-bx{flex:1;}
}  

@media (max-width:991px) {
    #youtube{padding:45px 20px 15px;display:block;}
    #youtube .text-bx{display:flex;align-items:flex-end;}
    #youtube .text-bx img{height:72px;}
    #youtube .text-bx p{padding:0 20px 0;font-size:14px;}
    #youtube .video-bx{margin-top:20px;}
}   

@media (max-width:716px) {
    #youtube{padding:38px 15px 7px;}
    #youtube .text-bx{display:flex;align-items:flex-start;flex-direction:column;}
    #youtube .text-bx img{height:60px;}
    #youtube .text-bx p{padding:6px 0px 13px;font-size:13.5px;}
    #youtube .text-bx p br{display:none;}
    #youtube .video-bx{margin:20px -15px 0;}
} 


#food{position:relative;margin-top:60px;}
#food .slick-slide{width:360px;position:relative;overflow:hidden;}
#food .slick-slide img{transition:all .25s;}
#food .slick-slide:before{content:'';display:block;z-index:1;position:absolute;top:0;left:0;right:0;bottom:0;background:linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.15) 40%, rgba(0,0,0,1) 100%);}
#food .slick-slide > em{content:'';display:flex;z-index:2;position:absolute;align-items:center;justify-content:center;top:20px;right:20px;width:44px;height:44px;background:linear-gradient(to right, #fff 0%, #fff 100%);border-radius:50%;transition:all .2s;}
#food .slick-slide > em:after{content:'';background:url(/page/gwtour-foreign/images/common/sp_lang.png) no-repeat -193px -113px / 960px 160px;width:14px;height:14px;display:block;}
#food .slick-slide .text{position:absolute;left:0;right:0;bottom:35px;z-index:10;padding:0 25px 0 40px;color:#fff;}
#food .slick-slide strong{display:block;font-weight:500;font-size:24px;line-height:1.3;}
#food .slick-slide span{display:block;font-weight:300;margin-top:7px;line-height:1.2;}
#food .slick-slide:hover > em{background:linear-gradient(to right, #00b4ff 0%, #007aff 100%);}
[lang=ja] #food .slick-slide:hover > em{background:linear-gradient(to right, #ff6cab 0%, #7366ff 100%);}
[lang=zh] #food .slick-slide:hover > em{background:linear-gradient(to right, #ffe53b 0%, #ff2525 100%);}
#food .slick-slide:hover > em:after{filter:invert(1) brightness(200);}
#food .slick-slide:hover img{transform:scale(1.1);}

@media (max-width:1499px) {
    #food{position:relative;margin-top:40px;}
    #food .slick-slide{width:270px;}
    #food .slick-slide.slick-current span{display:flex;opacity:.7;}
    #food .slick-slide.slick-current span:after{transform:scale(.7);}
    #food .slick-slide .text{bottom:25px;padding:0 15px 0 20px;}
    #food .slick-slide strong{font-size:18px;}
    #food .slick-slide span{margin-top:5px;font-size:15px;}
    #food .slick-slide > em{background:linear-gradient(to right, #00b4ff 0%, #007aff 100%);transform:scale(.9);transform-origin:100% 0%;top:15px;right:15px;}
    [lang=ja] #food .slick-slide > em{background:linear-gradient(to right, #ff6cab 0%, #7366ff 100%);}
    [lang=zh] #food .slick-slide > em{background:linear-gradient(to right, #ffe53b 0%, #ff2525 100%);}
    #food .slick-slide > em:after{filter:invert(1) brightness(200);}
} 

@media (max-width:991px) {
    #food{position:relative;margin-top:35px;}
    #food .slick-slide{width:240px;}
    #food .slick-slide .text{bottom:23px;padding:0 15px 0 20px;}
    #food .slick-slide strong{font-size:17px;}
    #food .slick-slide span{font-size:14px;}
    #food .slick-slide > em{transform:scale(.8);top:15px;right:15px;}
} 

@media (max-width:716px) {
    #food{margin-top:30px;}
    #food .slick-slide{width:180px;}
    #food .slick-slide .text{bottom:20px;padding:0 10px 0 15px;}
    #food .slick-slide strong{font-size:16px;}
    #food .slick-slide span{font-size:13px;}
    #food .slick-slide > em{transform:scale(.65);top:10px;right:10px;}
} 


#welcome{position:relative;height:329px;background:url(/page/gwtour-foreign/images/main/footermain.jpg) no-repeat center center /cover;padding-top:200px;text-align:center;margin-bottom:-1px;}
#welcome img{display:inline-block;transform:translateY(100%);opacity:0;transition:all 3s .2s;}
#welcome img.active{transform:translateY(0%);opacity:1;}

@media (max-width:1499px) {
    #welcome{height:265px;padding-top:160px;}
    #welcome img{width:980px;margin-left:-10px;}
} 

@media (max-width:991px) {
    #welcome{height:205px;padding-top:125px;}
    #welcome img{width:740px;margin-left:-10px;}
} 

@media (max-width:716px) {
    #welcome{height:165px;padding-top: 100px;}
    #welcome img{width: 600px;margin-left: -306px;position:absolute;left:50%;display:none;}
} 

a.more-btn{width:200px;height:50px;display:flex;align-items:center;justify-content:center;font-size:18px;transition:all .2s;background:#fff;color:#111;border:2px solid #111;}
a.more-btn:hover{background:#111;color:#fff;}

@media (max-width:1499px) {
    a.more-btn{width:160px;height:40px;font-size:16px;border:1px solid #111;}
} 

@media (max-width:991px) {
    a.more-btn{width:150px;height:36px;font-size:15px;}
} 

@media (max-width:716px) {
    a.more-btn{width:120px;height:34px;font-size:14px;}
}