@charset "utf-8";

/* 레이아웃 공통 */
html, body{position:relative; width:100%;}
body{color:#707070; font-size:16px; line-height:1.6; font-family:'NanumSquareRound', 'Noto Sans KR', sans-serif; word-break:break-all;letter-spacing:-1px;}
main{display:block;}
.confirmIframe body{overflow:hidden;}
#progressScroll{display:none;}
.page-wrap{overflow:hidden;}

/* 본문바로가기 */
.skipnav{position:absolute;z-index:2999;top:-100px;width:100%;padding:0;list-style:none;font-size:14px;}
.skipnav li{position:relative;top:0;left:0;width:100%}
.skipnav li a{display:block;position:absolute;top:0;width:100%;padding:15px 0;background:#000;color:#fff;text-align:center;text-decoration:none}
.skipnav li a:focus,.skipnav li a:active{top:100px}

/* slick 플러그인 */
.slick-slider .slick-list{display:block; overflow-x:hidden; overflow-y:hidden; position:relative}
.slick-slider .slick-list.dragging{cursor:pointer}
.slick-slider .slick-list .slick-track{display:block; position:relative; top:0; left:0}
.slick-slider .slick-list .slick-track:before, .slick-slider .slick-list .slick-track:after{display:table; content:''}
.slick-slider .slick-list .slick-track:after{clear:both}
.slick-slider .slick-list.slick-loading .slick-track{visibility:hidden}
.slick-slider .slick-list .slick-track .slick-slide{display:none; float:left}
.slick-slider[dir='rtl'] .slick-list .slick-track .slick-slide{float:right}
.slick-slider .slick-list .slick-track .slick-slide img{display:block;width:100%;}
.slick-slider .slick-list .slick-track .slick-slide.slick-loading img{display:none}
.slick-slider.slick-initialized .slick-list .slick-track .slick-slide{display:block}
.slick-slider .slick-list .slick-track.slick-loading .slick-slide{visibility:hidden}
.slick-slider .slick-arrow.slick-hidden{display:none}

/* 공통 */
.inner{max-width:1400px;position:relative;margin:0 auto;padding:0 20px;}

@media (min-width:1399px) {
  #header #gnb_mobile{display:none !important;}
  .mask_mobile{display:none !important;}
} 
@media (max-width:1399px) {
  body{position:relative !important;}
  body.fixed{position:fixed !important;}
  #header #gnb_pc{display:none !important;}
  #header .bg_pc{display:none !important;}
  .mask_pc{display:none !important;}
  #sitemap{display:none !important;}
}
@media (max-width:760px) {
  .inner{padding:0 15px;}
}

#header{position:fixed;z-index:2000;transition:all .2s;width:100%;background:rgba(255,255,255,1)}
#header .inner{transition:all .2s;}
#header h1{position:absolute;width:291px;top:50%;left:35px;margin-top:-26px;z-index:15;transition:all .2s;}
#header h1 a{display:block;}
#header h1 a img{display:block;width:100%;image-rendering: -webkit-optimize-contrast;transform-origin:0% 50%;transition:all .3s;}
#header.fixed{background:rgba(255,255,255,.7);box-shadow:0px 3px 5px 0px rgba(0,0,0,.1);}
#header.active:after{content:'';display:block;height:1px;background:#ccc;position:absolute;bottom:0;left:0;width:100%;z-index:5;;transition:.3s .3s ease}
#header.active{background:rgba(255,255,255,1)}
#header.fixed .mask_pc{top:60px;}
#header.fixed h1 a img{transform:scale(.8);}
#header.fixed #gnb_pc .depth_01 h2 a{height:60px;line-height:62px;}
#header.fixed .bg_pc{top:60px;}
#header.fixed #gnb_pc .depth_02{top:60px;}

#gnb_pc{padding:0 0px 0 0px;position:relative;z-index:10;}
#gnb_pc nav{position:relative;}
#gnb_pc .cycle{content:'';display:block;background: url(/page/geopark/images/common/sp_geopark.png) 0px -40px no-repeat;background-size:520px 520px;position:absolute;width: 40px;height: 40px;left:5%;bottom: -15px;image-rendering:-webkit-optimize-contrast;opacity:0;transition:opacity 1s;}
#header.active #gnb_pc .cycle{opacity:1;}

#gnb_pc .depth_01{display:flex;position:relative;justify-content: center;}
#gnb_pc .depth_01 > li{}
#gnb_pc .depth_01 > li h2 a:after{content:'';display:block;width:2px;height:2px;position:absolute;background:#0d0d0d;position:absolute;right:-1px;top:50%;margin-top:-1px;}
#gnb_pc .depth_01 > li:last-child h2 a:after{display:none;}
#gnb_pc .depth_01 h2 a{display:block;height:80px;line-height:82px;text-align:center;color:#333;font-weight:900;font-size:18px;transition:all .3s;color:#363636;position:relative;z-index:10;padding: 0 25px;}
#gnb_pc .depth_01 h2.active a{color:#384c9c !important;}
/*
#gnb_pc .depth_01 h2 a:after{}
#gnb_pc .depth_01 h2.active a:after{opacity:1;}
*/

#gnb_pc .depth_02{position:absolute;top:80px;left:0px;width:100%;padding:0 0 0 240px;overflow:hidden;transition:top .3s;display:none;}

#gnb_pc .depth_02 > li{margin:20px 17px 0 0;padding:0px;display:inline-block;vertical-align:top;width:calc((100% - 98px) / 5)}
#gnb_pc .depth_02 h3 a{display:flex;height:48px;line-height:1.3;background:#fff;border-radius:5px;transition:all .05s;color:#393939;font-size:16px;position:relative;border:1px solid #d9d9d9;padding:0 35px 0 15px;word-break:keep-all;align-items:center;}
#gnb_pc .depth_02 h3 a:after{content:'';display:block;background:url(/page/geopark/images/common/sp_geopark.png) -369px -50px no-repeat;background-size:520px 520px;position:absolute;top:50%;margin-top:-10.5px;width:22px;height:22px;right:15px;image-rendering: -webkit-optimize-contrast;}
#gnb_pc .depth_02 h3 a:hover{background:#384c9c;color:#fff;font-weight:700;border-color:#384c9c}
#gnb_pc .depth_02 h3.active a{background:#384c9c;color:#fff;font-weight:700;border-color:#384c9c}

#gnb_pc .depth_02 h3 a:hover:after{background-position-y:-11px;}
#gnb_pc .depth_02 h3.active a:after{background-position-y:-11px;}
#gnb_pc .depth_02 h3 a span{display:block;line-height:1.3;}
#gnb_pc .depth_02 h3 a[target=_blank]:after{content:'';display:inline-block;display:block;width:16px;height:16px;background:url(/page/common/images/sp_dq.png) -11px -92px no-repeat;background-size:520px 1500px;margin-top:-8px}
#gnb_pc .depth_02 h3 a[target=_blank]:hover:after{background-position-y:-131px;}

#gnb_pc .depth_03{margin:10px 10px 5px 15px;border-left:1px solid #dcdcdc;display:none;}
#gnb_pc .depth_03 h4 a{height:26px;line-height:28px;padding-left:10px;font-size:14px;color:#30333a;position:relative;display:block;}
#gnb_pc .depth_03 h4 a:after{content:'';display:block;width:1px;background:#384c9c;position:absolute;left:-1px;top:0;height:auto;transition:all .2s;height:0;}
#gnb_pc .depth_03 h4 a:hover{color:#384c9c;font-weight:700;}
#gnb_pc .depth_03 h4 a:hover:after{height:100%;}

#header .bg_pc{position:absolute;top:80px;width:100%;left:0px;overflow:hidden;background:#fff;box-shadow:0px 12px 12px 0px rgba(0,0,0,.25);z-index:3;transition:top .3s;display:none;overflow:hidden;/*animation:rise02 .3s .1s ease 1 both;*/}
#header .bg_pc:after{content:'';display:block;position:absolute;bottom:0;right:50%;margin-right:452px;background:url(/page/geopark/images/common/bg_img.png) 0 0 no-repeat;background-size:500px 360px;width:500px;height:360px;}

.mask_pc{position:fixed;top:80px;left:0;right:0;bottom:0;background:#000;;display:none;z-index:1010;animation:rise03 .3s .1s ease 1 both;}

#gnb_pc .depth_02 > li{animation:rise02 .25s .05s ease 1 both;}
#gnb_pc .depth_02 > li:nth-child(2){animation-delay:.1s;}
#gnb_pc .depth_02 > li:nth-child(3){animation-delay:.15s;}
#gnb_pc .depth_02 > li:nth-child(4){animation-delay:.2s;}
#gnb_pc .depth_02 > li:nth-child(5){animation-delay:.25s;}
#gnb_pc .depth_02 > li:nth-child(6){animation-delay:.3s;}
#gnb_pc .depth_02 > li:nth-child(7){animation-delay:.35s;}
#gnb_pc .depth_02 > li:nth-child(8){animation-delay:.4s;}
#gnb_pc .depth_02 > li:nth-child(9){animation-delay:.45s;}
#gnb_pc .depth_02 > li:nth-child(10){animation-delay:.5s;}


@keyframes rise02{ 
  0%{transform:translate(0%, -30%);opacity:0;}
  100%{transform:translate(0%, 0%);opacity:1;}
}

@keyframes rise03{ 
  0%{opacity:0;}
  100%{opacity:.6;}
}

#header .btn_box{position:absolute;top:0;right:0;z-index:50;}
#header .btn_box .btn_search{height:80px;display:block;float:left;padding:0 45px;line-height:80px;border-left:1px solid #ccc;color:#363636;font-weight:700;font-size:14px;font-family: 'S-CoreDream';transition:all .3s;}
#header .btn_box .btn_search:after{content:'';display:inline-block;vertical-align:-6px;margin-left:8px;background:url(/page/geopark/images/common/sp_geopark.png) -48px -8px no-repeat;background-size:520px 520px;width:24px;height:24px;transition:all .2s;image-rendering:-webkit-optimize-contrast;}
#header .btn_box .btn_search:hover:after{transform:rotateY(180deg);}
#header .btn_box .btn_sitemap{width:92px;height:92px;float:left;overflow:hidden;text-indent:-9999px;border-bottom-left-radius:20px;background:#49D186;background:linear-gradient(45deg, #49D186 0%, #42b1c3 50%, #3d99f0 100%);display:flex;align-items:center;justify-content:center;transition:all .2s;box-shadow:0px 3px 7px 0px rgba(0,0,0,.3);}
#header .btn_box .btn_sitemap:after{content:'';display:block;background:url(/page/geopark/images/common/sp_geopark.png) -8px -7px no-repeat;background-size:520px 520px;width:28px;height:24px;}
#header .btn_box .btn_sitemap:hover{background:linear-gradient(45deg, #3d99f0 0%, #42b1c3 50%, #49D186 100%);}
#header.fixed .btn_box .btn_search{height:60px;line-height:60px;}
#header .btn_box .mopen{display:none;width:92px;height:92px;float:left;overflow:hidden;text-indent:-9999px;border-bottom-left-radius:20px;background:#49D186;background:linear-gradient(45deg, #49D186 0%, #42b1c3 50%, #3d99f0 100%);align-items:center;justify-content:center;transition:all .2s;box-shadow:0px 3px 7px 0px rgba(0,0,0,.3);}
#header .btn_box .mopen:after{content:'';display:block;background:url(/page/geopark/images/common/sp_geopark.png) -8px -7px no-repeat;background-size:520px 520px;width:28px;height:24px;}
#header .btn_box .mopen:hover{background:linear-gradient(45deg, #3d99f0 0%, #42b1c3 50%, #49D186 100%);}
#header .btn_box .mopen.active:after{background:url(/page/geopark/images/common/icon01.png) 50% 50% no-repeat;background-size:24px 24px;width:24px;height:24px;}

#gnb_mobile{display:none;position:fixed;top:60px;width:398px;height:calc(100% - 60px);overflow-y:auto;z-index:50;background:#f6f6f6;right:-398px;padding:20px 20px 30px;transition:all .35s ease-in-out;border-bottom-left-radius:60px;}
.mask_mobile{position:fixed;z-index:1500;top:0px;left:0;right:0;bottom:0;background:rgba(0,0,0,.7);display:none;}
#gnb_mobile.active{right:0%;}
#gnb_mobile .depth_02{display:none;padding:2px 0 20px;}
#gnb_mobile .depth_03{display:none;}
#gnb_mobile .depth_01 > li{border-bottom:1px dashed #d4d4d4;}
#gnb_mobile .depth_02 > li + li{margin-top:10px;}

#gnb_mobile h2 a{display:block;position:relative;height:56px;line-height:58px;padding:0 20px 0 32px;color:#111;font-size:22px;font-weight:900;white-space:nowrap;}
#gnb_mobile h2 a:before{content:'';display:block;background:url(/page/geopark/images/common/sp_geopark.png) -9px -89px no-repeat;background-size:520px 520px;width:22px;height:22px;position:absolute;top:50%;left:0;margin-top:-12px;}
#gnb_mobile h2 a:after{content:'';display:block;background:url(/page/geopark/images/common/sp_geopark.png) -369px -50px no-repeat;background-size:520px 520px;position:absolute;top:50%;margin-top:-10.5px;width:22px;height:22px;right:0px;image-rendering: -webkit-optimize-contrast;}
#gnb_mobile h2.active a:after{background:url(/page/geopark/images/common/icon02.png) 50% 50% no-repeat;background-size:22px 22px;width:22px;height:22px;}

#gnb_mobile h3 a{display:block;height:48px;line-height:48px;border:1px solid #d9d9d9;border-radius:5px;color:#393939;font-size:16px;padding:0 35px 0 15px;font-weight:400;position:relative;transition:all .1s;}
#gnb_mobile h3.active a{font-weight:700;color:#fff;border-color:#384c9c;background:#384c9c;}
#gnb_mobile h3 a:after{content:'';display:block;background:url(/page/geopark/images/common/sp_geopark.png) -369px -50px no-repeat;background-size:520px 520px;position:absolute;top:50%;margin-top:-10.5px;width:22px;height:22px;right:15px;image-rendering: -webkit-optimize-contrast;}
#gnb_mobile h3.active a:after{background-position-y:-10px;}
#gnb_mobile h3 a[target=_blank]:after{content:'';display:inline-block;display:block;width:16px;height:16px;background:url(/page/common/images/sp_dq.png) -11px -92px no-repeat;background-size:520px 1500px;margin-top:-8px}
#gnb_mobile h3.active a[target=_blank]:after{background-position-y:-131px;}

#gnb_mobile .depth_03{margin:10px 10px 15px 15px;border-left:1px solid #dcdcdc;display:none;}
#gnb_mobile .depth_03 h4 a{height:24px;line-height:26px;padding-left:10px;font-size:14px;color:#30333a;position:relative;display:block;}
#gnb_mobile .depth_03 h4 a:after{content:'';display:block;width:1px;background:#384c9c;position:absolute;left:-1px;top:0;height:auto;transition:all .2s;height:0;}
#gnb_mobile .depth_03 h4.active a{color:#384c9c;font-weight:700;}
#gnb_mobile .depth_03 h4.active a:after{height:100%;}


#sitemap{position:absolute;top:85px;z-index:3000;left:0;right:0;display:none;padding-bottom:50px;}
#sitemap:before{content:'';display:block;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.7);z-index:-1;}
#sitemap .bx{background:#fff url(/page/geopark/images/common/bg_site.png) right bottom no-repeat;width:1340px;border-radius:50px;margin:0 auto;padding:45px 0 75px;box-shadow:0px 0px 15px 2px rgba(0,0,0,.35);position:relative;animation:sit01 .5s .1s ease 1 both;}
#sitemap h1{text-align:center;}
#sitemap .close{position:absolute;top:-20px;right:-20px;width:100px;height:100px;box-shadow:0px 3px 5px 0px rgba(0,0,0,.35);border-radius:20px;font-size:0;display:flex;align-items:center;justify-content:center;background:#49D186;background:linear-gradient(45deg, #49D186 0%, #42b1c3 50%, #3d99f0 100%);}
#sitemap .close:hover{background:linear-gradient(45deg, #3d99f0 0%, #42b1c3 50%, #49D186 100%);}
#sitemap .close:after{content:'✖';display:block;color:#fff;font-size:32px;}

#sitemap .depth_01{padding:75px 0 108px;z-index:3;position:relative;}
#sitemap .depth_01:before{content:'';display:block;width:227px;z-index:-1;;position:absolute;bottom:0;left:0;top:0;border-radius:0 90px 90px 0;box-shadow:3px 3px 5px 0px rgba(0,0,0,.35);background: #3B4499;background: linear-gradient(to bottom, #3B4499 0%, #2877AD 50%, #10b8c8 100%);}
#sitemap .depth_01 > li{padding:0 20px 0 250px;position:relative;}
#sitemap .depth_01 h2{position:absolute;top:36px;left:20px;}
#sitemap .depth_01 h2 a{display:block;color:#fff;font-weight:900;font-size:26px;line-height:1.3;padding-left:30px;position:relative;width:190px;word-break:keep-all;}
#sitemap .depth_01 h2 a:after{content:'';display:block;background:url(/page/geopark/images/common/icon04.png) 0 0 no-repeat;background-size:cover;position:absolute;width:24px;height:19px;top:6px;left:0;}
#sitemap .depth_02{padding:10px 0 20px;border-bottom:1px dashed #d6d6d6;}
#sitemap .depth_02 > li{display:inline-block;vertical-align:top;width:calc((100% - 80px) / 5);margin:20px 17px 0 0;}
#sitemap .depth_02 > li:nth-child(5n){margin-right:0;}

#sitemap .depth_02 h3 a{display:flex;height:48px;line-height:1.3;background:#fff;border-radius:5px;transition:all .05s;color:#393939;font-size:15px;position:relative;border:1px solid #d9d9d9;padding:0 35px 0 15px;word-break:keep-all;align-items:center;}
#sitemap .depth_02 h3 a:after{content:'';display:block;background:url(/page/geopark/images/common/sp_geopark.png) -369px -50px no-repeat;background-size:520px 520px;position:absolute;top:50%;margin-top:-10.5px;width:22px;height:22px;right:15px;image-rendering: -webkit-optimize-contrast;}
#sitemap .depth_02 h3 a:hover{background:#384c9c;color:#fff;font-weight:700;border-color:#384c9c}

#sitemap .depth_02 h3 a:hover:after{background-position-y:-11px;}
#sitemap .depth_02 h3 a span{display:block;line-height:1.3;}
#sitemap .depth_02 h3 a[target=_blank]:after{content:'';display:inline-block;display:block;width:16px;height:16px;background:url(/page/common/images/sp_dq.png) -11px -92px no-repeat;background-size:520px 1500px;margin-top:-8px}
#sitemap .depth_02 h3 a[target=_blank]:hover:after{background-position-y:-131px;}

#sitemap .depth_03{margin:10px 10px 5px 15px;border-left:1px solid #dcdcdc;}
#sitemap .depth_03 h4 a{height:26px;line-height:28px;padding-left:10px;font-size:14px;color:#30333a;position:relative;display:block;}
#sitemap .depth_03 h4 a:after{content:'';display:block;width:1px;background:#384c9c;position:absolute;left:-1px;top:0;height:auto;transition:all .2s;height:0;}
#sitemap .depth_03 h4 a:hover{color:#384c9c;font-weight:700;}
#sitemap .depth_03 h4 a:hover:after{height:100%;}


@keyframes sit01{ 
  0%{transform:translateY(-5%);opacity:.3;}
  100%{transform:translateY(0%);opacity:1;}
}


@media (max-width:1699px) {
  #header h1{width:210px;top:50%;left:10px;margin-top: -17px;}
  #gnb_pc{padding:0 190px;}
  #gnb_pc .depth_01 h2 a{font-size:16px;}
  #gnb_pc .depth_02 h3 a{font-size:14px;}
  #header .btn_box .btn_search{padding:0 18px;}
}

@media (max-width:1399px) {

  #header.active:after{display:none;}
  #header{height:60px;border-bottom:1px solid #ccc;}
  #header .btn_box .btn_search{height:60px;line-height:60px;font-size:0;}
  #header .btn_box .btn_search:after{margin-left:0;vertical-align:-11px;}
  #header .btn_box .mopen{height:72px;width:72px;}
  #header.fixed{height:50px;}
  #header.fixed .btn_box .btn_search{height:50px;line-height:50px;}
  #header.fixed .btn_box .mopen{height:62px;}
  #gnb_mobile{display:block;}
  #header .btn_box .mopen{display:flex;}
  #header .btn_box .btn_sitemap{display:none;}
}

@media (max-width:398px) {
  #gnb_mobile{width:calc(100% - 15px);right:calc((100% - 15px) * -1);}
}




#btn_top{position:absolute;top:750px;left:50%;margin-left:680px;display:block;z-index:1101;transition:opacity .1s;opacity:0;background:url(/page/geopark/images/common/icon03.png) 50% 50% no-repeat;background-size:cover;width:63px;height:63px;font-size:0;image-rendering:-webkit-optimize-contrast;}
#btn_top:hover{transform:scale(1.03);}
#btn_top:active{transform:scale(.97);}

@media (max-width:1699px) {
  #btn_top{position:fixed;left:auto;margin-left:0;right:20px;bottom:20px !important;top:auto !important;width:50px;height:50px;}
}

@media (max-width:760px) {
  #btn_top{right:15px;bottom:15px !important;width:40px;height:40px;}
}

#footer{background:#2c3039;z-index:30;position:relative;font-family:'Noto Sans KR', sans-serif;letter-spacing:-0.5px;}
#footer .inner{z-index:2;padding-left:275px;padding-bottom:100px;}
#footer h1{position:absolute;top:30px;left:0;}
#footer h1 a{display:block;width:228px;}
#footer h1 a img{display:block;width:100%;image-rendering: -webkit-optimize-contrast;}
#footer .link{padding-top:8px;border-bottom:1px solid #6c6f75;}
#footer .link a{display:inline-block;vertical-align:top;height:48px;line-height:45px;padding:0 20px;position:relative;color:#e1d5c6;font-size:16px;}
#footer .link a:first-of-type{padding-left:0;}
#footer .link a:after{content:'';display:block;width:2px;height:2px;background:#e1d5c6;position:absolute;top:50%;margin-top:-2px;right:-3px;}
#footer .link a:last-of-type:after{display:none;}
#footer .address{padding-top:18px;}
#footer .address p{line-height:1.4;color:#e1d5c6;font-size:14px;opacity:.7;font-weight:300;word-break:keep-all;font-weight:300;}
#footer .address p + p{margin-top:6px;}
#footer .address p span{display:inline-block;}
#footer .address p em{display:inline-block;padding:0 5px;}


@media (max-width:1399px) {
  #footer .inner{padding-left:20px;padding-bottom:85px;}
  #footer h1{top:auto;left:50%;bottom:23px;margin-left:-80px;}
  #footer h1 a{width:160px;}
  #footer .link{padding:5px 0;text-align:center;}
  #footer .link a{display:block;height:36px;line-height:36px;padding:0px 15px;font-size:14px;}
  #footer .link a:after{right:50%;margin-right:-1px;top:auto;bottom:-1px;}
  #footer .address{padding-top:15px;}
  #footer .address p{color:#e1d5c6;font-size:13px;text-align:center;}
  #footer .address p + p{margin-top:5px;}
  #footer .address p span{display:block;margin-top:1px;}
  #footer .address p em{display:none;}

}

@media (max-width:760px) {
  #footer .inner{padding-left:15px;}
}  