@charset "utf-8";

#sub{overflow:hidden;}
#sub #content{padding-bottom:60px;}
#sub .inner{max-width:1400px;padding:0 20px;}

@media (max-width:1399px) {
  #sub #content{padding-bottom:40px;}
}

@media (max-width:760px) {
  #sub .inner{padding:0 15px;}
  #sub #content{padding-bottom:30px;}
}

@media (max-width:1040px) {
  .skinTb-wrapper.width1000{margin-right:-20px;}
}

@media (max-width:808px) {
  .skinTb-wrapper.width768{margin-right:-20px;}
}

@media (max-width:670px) {
  .skinTb-wrapper.width640{margin-right:-15px;}
}


#visual-bx{height:416px;position:relative;display:flex;flex-direction:column;align-items:center;justify-content:center;color:#fff;padding-top:95px;}
#visual-bx img{display:block;position:absolute;top:0;left:50%;width:1920px;margin-left:-960px;}
#visual-bx h2{position:relative;font-weight:700;font-size:40px;line-height:1.2;text-shadow:0px 0px 5px rgba(0,0,0,.8);font-family:'KoreanYNSJG3-R';}
#visual-bx p{position:relative;font-size:18px;font-weight:400;line-height:1.3;text-shadow:0px 0px 3px rgba(0,0,0,.8);word-break:keep-all;padding:0 20px 8px;text-align:center;font-family:'KoreanYNSJG3-R';}

#visual-bx .btn_box{position:relative;transform-origin:100% 50%;margin-top:20px;}
#visual-bx .btn_box .share{display:inline-block;vertical-align:top;position:relative;}
#visual-bx .btn_box .share .open{display:block;width:45px;height:45px;border:1px solid #fff;border-radius:15px;font-size:0;transition:all .1s;}
#visual-bx .btn_box .share .open:after{content:'';display:block;background:url(/page/geopark/images/common/sp_geopark.png) -90px -50px no-repeat;background-size:520px 520px;position:absolute;width:20px;height:20px;left:50%;top:50%;margin:-10px 0 0 -10px;image-rendering:-webkit-optimize-contrast;}
#visual-bx .btn_box .share .open:hover{background:#fff}
#visual-bx .btn_box .share .open:hover:after{background-position-y:-10px;}

#visual-bx .btn_box .print{display:inline-block;vertical-align:top;margin-left:8px;width:45px;height:45px;border:1px solid #fff;border-radius:15px;font-size:0;position:relative;}
#visual-bx .btn_box .print:after{content:'';display:block;background:url(/page/geopark/images/common/sp_geopark.png) -130px -50px no-repeat;background-size:520px 520px;position:absolute;width:20px;height:20px;left:50%;top:50%;margin:-10px 0 0 -9px;image-rendering:-webkit-optimize-contrast;}
#visual-bx .btn_box .print:hover{background:#fff}
#visual-bx .btn_box .print:hover:after{background-position-y:-10px;}

#visual-bx .share .view{position:absolute;top:0;right:-1px;background:#fff;border-radius:15px;padding:13px 2px 12px;white-space:nowrap;display:none;bottom:-1px;}
#visual-bx .share .view a{display:inline-block;width:44px;vertical-align:top;height:21px;font-size:0;color:transparent;position:relative;}
#visual-bx .share .view a + a{margin-left:-3px;border-left:1px dotted #a8acb2;}
#visual-bx .share .view a:after{content:'';display:block;background:url(/page/geopark/images/common/sp_geopark.png) -409px -9px no-repeat;background-size:520px 520px;position:absolute;width:22px;height:22px;left:50%;top:50%;margin:-11px 0 0 -11px;image-rendering:-webkit-optimize-contrast;}
#visual-bx .share .view a.blog:after{background-position:-209px -7px;height:23px;}
#visual-bx .share .view a.facebook:after{background-position-x:-249px;}
#visual-bx .share .view a.insta:after{background-position-x:-289px;}
#visual-bx .share .view a.utube:after{background-position-x:-329px;}

#visual-bx .share .view a.i-sns:hover:after{background-position-y:-49.5px;}
#visual-bx .share .view a.i-sns.blog:hover:after{background-position-y:-47.5px;}


@media (max-width:1399px) {
  #visual-bx .menu-tab{display:none;}
  #visual-bx{height:303px;margin-bottom:0px;padding-top:50px;}
  #visual-bx img{width:1400px;margin-left:-700px;}
  #visual-bx h2{font-size:36px;}
  #visual-bx p{margin-top:15px;padding-top:17px;font-size:18px;}
  #visual-bx .btn_box{transform:scale(.9);}
  #visual-bx .btn_box .print{display:none;}
}


@media (max-width:991px) {
  #visual-bx{height:260px;}
  #visual-bx img{width:1200px;margin-left:-600px;}
  #visual-bx h2{font-size:32px;}
  #visual-bx p{font-size:16px;}
  #visual-bx .btn_box{transform:scale(.85);margin-top:10px;}
}


@media (max-width:760px) {
  #visual-bx{height:216px;}
  #visual-bx img{width:1000px;margin-left:-500px;}
  #visual-bx h2{font-size:28px;}
  #visual-bx p{font-size:14px;}
  #visual-bx .btn_box{transform:scale(.73);margin-top:3px;}
}

#sub .title-bx{position:relative;padding:40px 0 33px;margin-bottom:45px;border-bottom:2px solid #d5d5d5;}
#sub .title-bx h3{font-family:'KoreanYNSJG5-R';font-size:2.6rem;color:#313131;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align:center;}

@media (max-width:1399px) {
  #sub .title-bx{padding:30px 0 25px;margin-bottom:30px;}
  #sub .title-bx:after{background-size:2px 3px;height:3px;}
}


@media (max-width:991px) {
  #sub .title-bx{padding:27px 0 22px;margin-bottom:25px;}
}


@media (max-width:760px) {
  #sub .title-bx{padding:25px 0 18px;margin-bottom:22px;}
}


#breadcrumb{position:relative;font-family:'KoreanYNSJG3-R';z-index:100;}
#breadcrumb .bx{padding-left:23px;position:relative;z-index:5;float:left;}
#breadcrumb .bx:after{content:'';display:block;height:76px;position:absolute;top:0;right:-1px;background: #413392;background: linear-gradient(135deg, #413392 0%, #1e93b9 50%, #09CCD0 100%);z-index:5;border-bottom-right-radius:40px;left: -300px;}
#breadcrumb .bx:before{content:'';display:block;height:76px;position:absolute;bottom:-12px;right:-12px;width:1300px;z-index:-2;border-bottom-right-radius:40px;background: #fff url(/page/geopark/images/common/bg01.png) 0 0 repeat;}
#breadcrumb .bx .home{display:flex;width:45px;height:45px;background:#ffb400;border-radius:15px;align-items:center;justify-content:center;font-size:0;position:absolute;top:50%;margin-top:-22.5px;left:0;z-index:15;}
#breadcrumb .bx .home:after{content:'';display:block;background:url(/page/geopark/images/common/icon07.png) 0 0 no-repeat;background-size:cover;width:24px;height:21px;image-rendering:-webkit-optimize-contrast;z-index:10;}
#breadcrumb .bx .box{position:relative;width: 325px;float: left;}
#breadcrumb .bx .box .open{display:block;height:76px;line-height:76px;border-left:1px solid rgba(255,255,255,.5);padding:0 35px 0 30px;font-family:'KoreanYNSJG3-R';font-size:16px;color:#fff;transition:all .05s;z-index:10;position:relative;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#breadcrumb .bx .box:hover .open{letter-spacing:0.5px;}
#breadcrumb .bx .box .open:after{content:'';display:block;position:absolute;background:url(/page/geopark/images/common/icon08.png) 0 0 no-repeat;background-size:cover;width:10px;height:6px;image-rendering:-webkit-optimize-contrast;right:25px;top:50%;margin-top:-3px;transition:all .05s;}
#breadcrumb .bx .box .open.active:after{transform:rotate(180deg);transition:all .05s;}
#breadcrumb .bx .box ul{position:absolute;top:42px;left:0px;right:-1px;padding:45px 30px 7px;background:#f2f2f2;border:1px solid #c9c9c9;display:none;}
#breadcrumb .bx .box ul li + li{border-top:1px dotted #c9c9c9;}
#breadcrumb .bx .box ul a{display:block;height:39px;line-height:39px;color:#787878;font-size:14px;transition:all .05s;}
#breadcrumb .bx .box ul a:hover{color:#3c3f97;}

#breadcrumb p{height:76px;line-height:76px;font-family:'S-CoreDream', sans-serif;font-size:14px;color:#1b1b1b;padding-left:25px;text-align: right;}
#breadcrumb p span{color:#00479d;}
#breadcrumb p em{color:#097c25;}


@media (max-width:1399px) {
  #breadcrumb p{display:none;}

  #breadcrumb .bx{width:100%;padding-left:0px;float:none;height: 52px;}
  #breadcrumb .bx:after{height:52px;border-bottom-right-radius:30px;}
  #breadcrumb .bx:before{height:52px;bottom:-8px;right:-8px;border-bottom-right-radius:30px;background-size:2px 2px;width:1400px;}
  #breadcrumb .bx .box{max-width:60%;width: auto;}
  #breadcrumb .bx .home{transform:scale(.7);transform-origin:45% 45%;left:-20px;}
  #breadcrumb .bx .box .open{height:52px;line-height:52px;padding:0 37px 0 25px;font-size:15px;pointer-events:none;border-width:0;font-size:14px;}
  #breadcrumb .bx .box:first-of-type .open{border-width:1px;}
  #breadcrumb .bx .box ul{display:none !important;}
  #breadcrumb .bx .box .open:after{right:0px;transform:rotate(-90deg);}
  #breadcrumb .bx .box:last-of-type .open:after{display:none;}
}

@media (max-width:991px) {
  #breadcrumb .bx:after{}
  #breadcrumb .bx:before{width:1000px;}
}

@media (max-width:760px) {
  #breadcrumb .bx:after{}
  #breadcrumb .bx:before{width:760px;}
  #breadcrumb .bx{padding-left:10px;height: 42px;}
  #breadcrumb .bx:after{height:42px;border-bottom-right-radius:25px;}
  #breadcrumb .bx:before{height:42px;bottom:-5px;right:-5px;border-bottom-right-radius:25px;}
  #breadcrumb .bx .home{transform:scale(.6);left:-10px;}
  #breadcrumb .bx .box .open{height:42px;line-height:42px;padding:0 27px 0 12px;font-size:12px;}
  #breadcrumb .bx .box:first-of-type .open{padding-left:22px;}
}

@media (max-width:450px) {
  #breadcrumb .bx:after{width:450px;}
  #breadcrumb .bx:before{width:450px;}
}

#sub .pageTab{font-family:'NanumSquareRound', 'Noto Sans KR', sans-serif;}
#sub .pageTab > li{border:0;border-radius: 20px;padding: 7px;background:#fff url(/page/geopark/images/common/bg01.png) 0 0 repeat;}
#sub .pageTab > li a{color:#5c5c5c;font-weight:500;position:relative;background: #fff;border-radius: 10px;}
#sub .pageTab > li a:hover{text-decoration:none;}
#sub .pageTab >li.active{background:url(/page/geopark/images/common/bg01.png) 0 0 repeat;}
#sub .pageTab > li.active a{color: #384c9c;font-weight: 900;text-decoration: underline;}

#sub .pageTab > li a:before{content:'';display:block;width:42px;height:26px;background:url(/page/geopark/images/common/icon05.png) 0 0 no-repeat;background-size:cover;position:absolute;left:19px;top:-17px;}
#sub .pageTab > li.active a:before{background-image:url(/page/geopark/images/common/icon06.png);}

#sub .contsLead{border-bottom:1px solid #c7c8da;padding:3px;}
#sub .contsLead:before{border:3px solid #384c9c;height:80px;border-width:3px 3px 0 0;background:none;}
#sub .contsLead-conts{overflow:hidden;padding:10px 0 0px 0px;}

.titLv{font-weight:900;color:#123347;}
.titLv2{font-weight:700;color:#313131;padding-left:32px;}
.titLv2:before{top: 4px;width: 24px;height: 23px;background: url(/page/geopark/images/common/sp_geopark.png) -8px -89px no-repeat;background-size:520px 520px;}

.titLv3 {font-weight: 400;color:#333;}
.titLv3:before{top: 5px;left: 22px;width: 12px;height:14px;background: url(/page/geopark/images/common/sp_geopark.png) -54px -93px no-repeat;background-size:520px 520px;}
p.listLv3:before,
div.listLv3:before,
span.listLv3:before,
.listLv3 >li:before,
.listLv3 >dt:before {top:9px;}

p.listLv2:before,
div.listLv2:before,
span.listLv2:before,
.listLv2 >li:before,
.listLv2 >dt:before{top:8px;}

p.listLv4:before,
div.listLv4:before,
span.listLv4:before,
.listLv4 >li:before,
.listLv4 >dt:before{top:9px}
.listLv{font-weight:400;font-size: 1.6rem;color:#707070;font-weight:400;}
.pgraph{color:#707070;}
.imptBox {background:#e4e8f5;}

#sub .skinTb:before {border-color:#384c9c;}
#sub .skinTb-th,
#sub .skinTb >tr >th,
#sub .skinTb >thead >tr >th,
#sub .skinTb >tbody >tr >th,
#sub .skinTb >tfoot >tr >th {font-weight:700;background-color:#e4e8f5;color:#03004c;border-bottom-color:#384c9c;}

#sub .skinTb >tbody >tr >th,
#sub .skinTb-th{border-bottom-color:#d8d8d8;}
#sub .skinTb-wrapper{padding-left:1px;}

#sub .contsBtn {border-color:#384c9c;color:#384c9c;font-weight:400;}
#sub .contsBtn:hover, #sub .contsBtn:focus{color:#fff;}
#sub .contsBtn:before{background:#384c9c}

#sub .skinBtnBo{font-weight:400;color:#384c9c;border-color:#384c9c;}
#sub .skinBtnBo:hover, #sub .skinBtnBo:focus{color:#fff;}
#sub .skinBtnBo:before{background:#384c9c}

#sub .contsBtn > a:after{transition:none;}
#sub .contsBtn > a.contsBtn-download:after{background-position:-372px -530px;}
#sub .contsBtn > a.contsBtn-more:after{background-position:-412px -530px;}
#sub .contsBtn > a.contsBtn-move:after{background-position:-448px -528px;}
#sub .contsBtn > a.contsBtn-play:after{background-position:-487px -526px;}

#sub .contsBtn:hover > a.contsBtn-download:after{background-position:-372px -650px;}
#sub .contsBtn:hover > a.contsBtn-more:after{background-position:-412px -650px;}
#sub .contsBtn:hover > a.contsBtn-move:after{background-position:-448px -648px;}
#sub .contsBtn:hover > a.contsBtn-play:after{background-position:-487px -647px;}

#sub .contsBtn > a.contsBtn-download:focus:after{background-position:-372px -650px;}
#sub .contsBtn > a.contsBtn-more:focus:after{background-position:-412px -650px;}
#sub .contsBtn > a.contsBtn-move:focus:after{background-position:-448px -648px;}
#sub .contsBtn > a.contsBtn-play:focus:after{background-position:-487px -647px;}

@media (max-width:1199px) {
  #sub .pageTab > li a:before{right:20px;font-size:16px;}
  #sub .contsLead-conts{padding:10px 0 0px 20px;}
  #sub .titLv2{padding-left:31px;}
  #sub .titLv2:before{top: 2px;}
  #sub .titLv3:before{left: 0px;}
}

@media (max-width:760px) {
  #sub .pageTab > li a:before{display:none;}
  #sub .pageTab > li.active{background-size: 2px 2px;}
  #sub .pageTab > li{border-radius:0px;margin-top: -4px !important;background-size: 2px 2px;padding:4px;}
  #sub .pageTab > li a{border-radius:0px;}
  #sub .pageTab > li.active a{background:#384c9c;color:#fff;text-decoration:none;}
  #sub .pageTab{height:44px !important;padding-top:44px;}
  #sub .contsLead-conts{padding:0;}
  #sub .contsLead-txt{padding-bottom:0;}

  p.listLv3:before,
  div.listLv3:before,
  span.listLv3:before,
  .listLv3 >li:before,
  .listLv3 >dt:before {top:8px;}

  p.listLv2:before,
  div.listLv2:before,
  span.listLv2:before,
  .listLv2 >li:before,
  .listLv2 >dt:before{top:7px;}

  p.listLv4:before,
  div.listLv4:before,
  span.listLv4:before,
  .listLv4 >li:before,
  .listLv4 >dt:before{top:8px}

  
}



