

<ons-page id="content-item">
  <ons-back-button>Back</ons-back-button>
  <ons-card>
    <ons-carousel swipeable auto-scroll overscrollable auto-scroll-ratio="0.2" auto-refresh id="carousel">
      <ons-carousel-item>
        <img src="https://placeimg.com/600/400/any?1" alt="">
      </ons-carousel-item>
      <ons-carousel-item>
        <img src="https://placeimg.com/600/400/any?2" alt="">
      </ons-carousel-item>
      <ons-carousel-item>
        <img src="https://placeimg.com/600/400/any?3" alt="">
      </ons-carousel-item>
      <ons-carousel-item>
        <img src="https://placeimg.com/600/400/any?4" alt="">
      </ons-carousel-item>
      <ons-carousel-item>
        <img src="https://placeimg.com/600/400/any?5" alt="">
      </ons-carousel-item>
    </ons-carousel>

   
    <div class="bx">
      콘텐츠 상세내용
    </div>
  </ons-card>
  <style>
    
    #content-item .back-button{margin-top:6px;}
    #content-item .bx{margin-top:20px;}
    #content-item .card{padding:3px 0 15px;}
    #content-item .ons-swiper{padding-right:45px;padding-top:5px;padding-bottom:5px;max-height:400px;background:rgba(199,130,199,.35);}
    #content-item .ons-swiper img{display:block;width:100%;}
    #content-item .ons-swiper-target>*{padding-right:5px;}
  </style>
</ons-page>