
<ons-page id="list">

<ons-list>

  <ons-list-item tappable>
      <div class="left">
        <img class="list-item__thumbnail" src="https://placeimg.com/40/40/any?1">
        <ons-icon icon="fa-thumbs-up"></ons-icon>
        <em>999,999</em>
      </div>
      <div class="center">
        <span class="list-item__title">박명수</span>
        <span class="list-item__subtitle">
          늦었다고 생각할 때가 이미 늦었습니다. 그러니 지금 당장 시작하시기 바랍니다. 안되는 놈은 뭘 해도 안됩니다.
          꿈은 없고요 그냥 놀고 싶습니다 공부 안 하면 더울 때 더운 데서 일하고 추울 때 추운 데서 일합니다
          <em>2020.07.19</em>
        </span>
      </div>
      <div class="right">
        <ons-switch modifier="material" checked></ons-switch>
      </div>
  </ons-list-item>

  <ons-list-item tappable>
    <div class="left">
      <img class="list-item__thumbnail" src="https://placeimg.com/40/40/any?2">
      <ons-icon icon="fa-thumbs-up"></ons-icon>
      <em>9,999,999</em>
    </div>
    <div class="center">
      <span class="list-item__title">허경영</span>
      <span class="list-item__subtitle">
        허경영은 좌파 우파 끝없이 반복되는 이념싸움을 끝내고 서민들의 주머니를 채워주기 위해 정치에 나왔습니다. 
        허경영이 30년 전에 국민들에게 월 150만원 국민배당금을 주어야 한다, 애 낳으면 3천만원 돈 주어야 한다 
        라고 말할 때 나를 미친 사람 취급 안하는 사람이 없었습니다. 하지만 지금은 전국의 모든 지자체에서 출산장려금을 
        지급하고 있으며 기본소득에 대한 논의가 어느 정당에서나 이뤄지고 있고 기본소득을 이름으로 내건 정당까지 생겨난 실정입니다. 
        나는 지금껏 그래왔듯 계속해서 일관된 정책을 국민들 앞에 제시할 것이며 머지 않은 어느 
        날엔가 반드시 국민들이 허경영의 정책을 바로 보고 나에 대해 알게 되는 날이 올것입니다.
        <em>2020.07.19</em>
      </span>
    </div>
    <div class="right">
      <ons-switch modifier="material"></ons-switch>
    </div>
  </ons-list-item>

  <ons-list-item tappable>
    <div class="left">
      <img class="list-item__thumbnail" src="https://placeimg.com/40/40/any?3">
      <ons-icon icon="fa-thumbs-up"></ons-icon>
      <em>99,999</em>
    </div>
    <div class="center">
      <span class="list-item__title">김수한무거북이</span>
      <span class="list-item__subtitle">
        김수한무 거북이와 두루미 삼천갑자 동방삭 치치카포 사리사리센타 워리워리 세브리깡 무두셀라 구름이 허리케인에 담벼락 담벼락에 서생원 서생원에 고양이 고양이엔 바둑이 바둑이는 돌돌이
        <em>2020.07.19</em>
      </span>
    </div>
    <div class="right">
      <ons-switch modifier="material"></ons-switch>
    </div>
  </ons-list-item>
   
  <ons-list-item tappable>
    <div class="left">
      <img class="list-item__thumbnail" src="https://placeimg.com/40/40/any?1">
      <ons-icon icon="fa-thumbs-up"></ons-icon>
      <em>999,999</em>
    </div>
    <div class="center">
      <span class="list-item__title">박명수</span>
      <span class="list-item__subtitle">
        늦었다고 생각할 때가 이미 늦었습니다. 그러니 지금 당장 시작하시기 바랍니다. 안되는 놈은 뭘 해도 안됩니다.
        꿈은 없고요 그냥 놀고 싶습니다 공부 안 하면 더울 때 더운 데서 일하고 추울 때 추운 데서 일합니다
        <em>2020.07.19</em>
      </span>
    </div>
    <div class="right">
      <ons-switch modifier="material" checked></ons-switch>
    </div>
  </ons-list-item>

  <ons-list-item tappable>
    <div class="left">
      <img class="list-item__thumbnail" src="https://placeimg.com/40/40/any?2">
      <ons-icon icon="fa-thumbs-up"></ons-icon>
      <em>9,999,999</em>
    </div>
    <div class="center">
      <span class="list-item__title">허경영</span>
      <span class="list-item__subtitle">
        허경영은 좌파 우파 끝없이 반복되는 이념싸움을 끝내고 서민들의 주머니를 채워주기 위해 정치에 나왔습니다. 
        허경영이 30년 전에 국민들에게 월 150만원 국민배당금을 주어야 한다, 애 낳으면 3천만원 돈 주어야 한다 
        라고 말할 때 나를 미친 사람 취급 안하는 사람이 없었습니다. 하지만 지금은 전국의 모든 지자체에서 출산장려금을 
        지급하고 있으며 기본소득에 대한 논의가 어느 정당에서나 이뤄지고 있고 기본소득을 이름으로 내건 정당까지 생겨난 실정입니다. 
        나는 지금껏 그래왔듯 계속해서 일관된 정책을 국민들 앞에 제시할 것이며 머지 않은 어느 
        날엔가 반드시 국민들이 허경영의 정책을 바로 보고 나에 대해 알게 되는 날이 올것입니다.
        <em>2020.07.19</em>
      </span>
    </div>
    <div class="right">
      <ons-switch modifier="material"></ons-switch>
    </div>
  </ons-list-item>

  <ons-list-item tappable>
    <div class="left">
      <img class="list-item__thumbnail" src="https://placeimg.com/40/40/any?3">
      <ons-icon icon="fa-thumbs-up"></ons-icon>
      <em>99,999</em>
    </div>
    <div class="center">
      <span class="list-item__title">김수한무거북이</span>
      <span class="list-item__subtitle">
        김수한무 거북이와 두루미 삼천갑자 동방삭 치치카포 사리사리센타 워리워리 세브리깡 무두셀라 구름이 허리케인에 담벼락 담벼락에 서생원 서생원에 고양이 고양이엔 바둑이 바둑이는 돌돌이
        <em>2020.07.19</em>
      </span>
    </div>
    <div class="right">
      <ons-switch modifier="material"></ons-switch>
    </div>
  </ons-list-item>

</ons-list>


<style>
  #wrapper .list{border-bottom:0;padding:55px 15px 50px;background:none;}
  #wrapper .list-item{border:1px solid #c782c7;margin:12px 0px 12px;width:100%;padding-left:12px;border-radius:15px;background:#fff;}
  #wrapper .list-item__center{background:none;}
  #wrapper .list-item__thumbnail{border-radius:50%;overflow:hidden;border:1px solid #c782c7;width:40px;height:40px;background:rgba(190,123,190,.3)}
  #wrapper .list-item__left{align-items:center;color:#c782c7;flex-direction:column;justify-content:flex-start;font-size:11px;min-width:65px;}
  #wrapper .list-item__left ons-icon{font-size:12px;margin:5px 0 5px;}
  #wrapper .list-item__left em{font-weight:300;font-style:normal;display:block;}
  #wrapper .list-item__right{background:none;align-items:flex-start;}
  #wrapper .list-item__title{font-weight:700;font-size:15px;margin-bottom:5px;}
  #wrapper .list-item__subtitle{color:#1a1a1a;font-size:12px;line-height:1.3;word-break:keep-all;}
  #wrapper .list-item__subtitle em{display:block;text-align:right;font-size:11px;margin-top:3px;color:#bbb;}
</style>

<script>
  var taskItem =  $('.list-item .center');

  for(var i=0;i<taskItem.length;i++) {
    var obj = taskItem[i];

    obj.onclick = function() {
    document.querySelector('#myNavigator')
      .pushPage('component/content.html',
        {
          animation: 'lift',
        }
      );

  }
};

</script>

</ons-page>
