@charset "utf-8"; 



#main{position:relative;z-index:5;background:#fff;overflow:hidden;}

#visual{position:relative;margin-top:98px;height:847px;overflow:hidden;background:#000;z-index:1;}
#visual .slick-wrap{height:100%;}
#visual .slick-wrap .slick{position:absolute;width:1920px;left:50%;margin-left:-960px;top:0;z-index:5;}
#visual .slick-wrap .control{position:relative;z-index:10;padding-top:155px;color:#fff;font-family: 'Paperlogy';}
#visual .slick-wrap .control h2{font-size:60px;;font-weight:700;text-shadow:2px 2px 1px rgba(0,0,0,.5);line-height:1.2;animation:show1 2s .3s 1 both linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);}
#visual .slick-wrap .control h2 strong{display:block;font-size:75px;font-weight:700;}
#visual .slick-wrap .control > div{display:flex;align-items:center;padding-top:40px;}
#visual .slick-wrap .control .dots{line-height:0;padding-right:7px;}
#visual .slick-wrap .control .dots li{margin-right:10px;}
#visual .slick-wrap .control .dots button{font-size:0;background:#fff;transition:width .2s ease-out;width:11px;height:11px;border-radius:6px;box-shadow:2px 2px 5px 0px rgba(0,0,0,.2);}
#visual .slick-wrap .control .dots .slick-active button{width:78px;}
#visual .slick-wrap .control .ps-btn img{display:block;height:15px;}
#visual .slick-wrap .control .ps-btn.play{display:none;}
#visual .modal-slick-wrap{width:528px;transition:all .35s ease-out;height:472px;background:url(/page/golf/images/main/notifi_bg.png) no-repeat center center /cover;position:absolute;z-index:12;right:0;bottom:185px;padding:15px 15px 15px 65px;}
#visual .modal-slick-wrap .slick-group{width:100%;border:1px solid #c1c1c1;overflow:hidden;border-radius:20px;position: relative;}
#visual .modal-slick-wrap .slick{width:100%;}
#visual .modal-slick-wrap .control{position:absolute;bottom:0;left:0;right:0;display:flex;background:#666;height:46px;color:#fff;align-items:center;z-index:5;justify-content:center;gap:0 10px;}
#visual .modal-slick-wrap .count{padding-right:20px;font-weight:300;}
#visual .modal-slick-wrap .count span{padding:0 5px;}
#visual .modal-slick-wrap .control button img{display:block;height:15px;}
#visual .modal-slick-wrap .control .ps-btn.play{display:none;}
#visual .modal-slick-wrap .open{position:absolute;left:18px;top:28px;color:#fff;display:flex;flex-direction:column;align-items:center;gap:20px 0;}
#visual .modal-slick-wrap .open span{display:block;writing-mode: sideways-rl;letter-spacing:4px;font-size:18px;font-weight:500;}
#visual .modal-slick-wrap .open img{transition:all .2s;width:31px;}
#visual .modal-slick-wrap.active{right:-465px;}
#visual .modal-slick-wrap.active .open img{transform:rotateY(180deg);}

.main-title1{font-family: 'Paperlogy';font-size:32px;font-weight:700;}
#booking{position: relative;z-index:2;margin-top:-90px;}
#booking .border-bx{background:rgba(255,255,255,.7);border-radius:30px;border:1px solid #cfcfcf;box-shadow:3px 3px 10px 0px rgba(0,0,0,.1);padding:0 40px 50px;}
#booking .title-bx{display:flex;align-items:center;justify-content:space-between;height:90px;padding-left:20px;}
#booking .control{display:flex;align-items:center;gap:0 10px}
#booking .control button img{width:45px;display:block;}
#booking .control button.slick-disabled{pointer-events:none;}
#booking .control button.slick-disabled img{opacity:.15;}
#booking .control button:active{transform:scale(.95);}
#booking .schdule-bx{padding-top:30px;display:flex;align-items:flex-end;gap:0 15px;}
#booking .ground{width:295px;flex-shrink:0;}
#booking .ground strong{display:flex;align-items:center;justify-content:center;height:66px;border-radius:33px;background:#000;color:#fff;font-size:23px;font-weight:500;margin-top:10px;}
#booking .slick{width:calc(100% - 295px);padding-left:10px;}
#booking .slick-slide{padding:0 5px;}
#booking .slick-slide .date{display:flex;align-items:center;justify-content:center;height:66px;border:2px solid #949590;border-radius:33px;font-size:22px;font-weight:500;}
#booking .slick-slide .date.saturday{color:#0e3baf}
#booking .slick-slide .date.sunday{color:#d72439}
#booking .slick-slide .date:hover{color:#fff;background:#000;border-color:#000;}
#booking .slick-slide span{display:flex;align-items:center;justify-content:center;height:54px;font-size:20px;font-weight:500;}
#booking .slick-slide span i{margin:0 18px;width:1px;height:22px;background:#d0d0d0;}
#booking .slick-slide .no-bx{height:66px;border-radius:33px;overflow:hidden;display:flex;align-items:center;}
#booking .slick-slide .no-bx + .no-bx{margin-top:10px;}
#booking .slick-slide .no-bx a{flex:1;display:flex;align-items:center;justify-content:center;font-size:26px;background:#ebebeb;height:100%;}
#booking .slick-slide .no-bx a + a{background:#f3f3f3;border-left:1px solid #ddd}
#booking .slick-slide .no-bx a:hover{background:#000;color:#fff;border-color:#000;}
#booking .note-text{padding:10px 70px 0;}
#booking .note-text li{word-break:keep-all;line-height:1.4;margin-top:10px;font-size:23px;font-weight:500;position:relative;padding-left:15px;}
#booking .note-text li em{font-size:21px;}
#booking .note-text li:after{content:'';display:block;width:5px;height:5px;background:#0176df;border-radius:50%;position:absolute;left:0;top:12px;}
#booking .slick-slide .no-bx span{display:flex;flex-direction:column;width:100%;height:100%;font-size:18px;line-height:1.3;background:#ddd;}
#booking .slick-slide .no-bx span em{font-size:.9em;}



#benefit{position:relative;height:337px;margin-top:85px;background:url(/page/golf/images/main/banner_bg.jpg) no-repeat center center /cover;}
#benefit .inner{height:100%;display:flex;align-items:center;justify-content:space-between;padding:0 90px;}
#benefit .inner > img{display:block;width:388px;}
#benefit .inner > div{display:flex;align-items:center;gap:30px;}
#benefit .inner > div a img{display:block;width:150px;filter:drop-shadow(2px 2px 2px rgba(0,0,0,.3));}
#benefit .inner > div a:hover{animation:shake2 .7s 1 both ease-out;}

#notice{position: relative;padding-top:110px;}
#notice .inner{display:flex;align-items:flex-end;}
#notice .news-bx{width:51.4%;padding-right:40px;}
#notice .title-bx{display:flex;align-items:center;justify-content:space-between;}
#notice .title-bx > div{display:flex;align-items:center;gap:0 10px}
#notice .title-bx > div a{height:42px;border:1px solid #b6b6b6;padding:0 17px;border-radius:21px;font-size:18px;font-weight:300;display:flex;align-items:center;}
#notice .title-bx > div a img{width:22px;margin-right:10px;}
#notice .title-bx > div a:hover img{animation:shake .7s 1 both ease-out}
#notice .list{padding-top:28px;}
#notice .list a{display:flex;align-items:center;justify-content:space-between;height:77px;border:1px solid #b6b6b6;border-radius:30px;padding:0 25px;gap:0 22px;}
#notice .list a + a{margin-top:10px;}
#notice .list a span{display:flex;align-items:center;font-weight:500;font-size:22px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
#notice .list a span img{width:40px;margin-right:18px;}
#notice .list a em{flex-shrink:0;font-size:21px;}
#notice .list a:hover span img{animation:shake .7s 1 both ease-out;}
#notice .video-bx{width:48.6%;position:relative;border:1px solid #b6b6b6;border-radius:35px;overflow:hidden;padding-top:27.6%;}
#notice .video-bx iframe{position:absolute;top:0;left:0;width:100%;height:100%;}

#course{position:relative;margin-top:140px;height:801px;overflow:hidden;}
#course .tab-bx{position:absolute;z-index:5;position:absolute;left:0;bottom:0;display:flex;align-items:center;width:100%;border-top:1px solid rgba(255,255,255,.8)}
#course .tab-bx button{transition:all .2s;background:rgba(0,0,0,.2);font-size:23px;font-weight:500;padding:0 10px;text-shadow:1px 1px 2px rgba(0,0,0,.7);flex:1;display:flex;align-items:center;justify-content:center;line-height:1.3;word-break:keep-all;color:#fff;height:80px;}
#course .tab-bx button.active{background:rgba(0,0,0,.5);}
#course .tab-bx button + button{border-left:1px solid rgba(255,255,255,.8)}
#course .view-bx{height:100%;position:relative;width:100%}
#course .view-bx > div{display:flex;position:absolute;z-index:1;height:100%;width:100%;flex-direction:column;justify-content:center;align-items:center;color:#fff;filter:brightness(.15);}
#course .view-bx > div.active{filter:none;z-index:3;animation:show2 .5s 1 both ease-out;}
#course .view-bx > div.active + div{z-index:2;}
#course .view-bx > div .bg-img{display:block;position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;z-index:-1;}
#course .view-bx > div h2{font-family: 'Paperlogy';font-size: 65px;text-shadow:2px 2px 3px rgba(0,0,0,.3);font-weight:600;line-height:1.2;word-break:keep-all;}
#course .view-bx > div p{text-shadow:2px 2px 3px rgba(0,0,0,.3);font-weight:500;font-size:28px;padding-top:10px;}
#course .view-bx > div a{margin-top:85px;}
#course .view-bx > div a img{display:block;width:187px;filter:drop-shadow(3px 3px 3px rgba(0,0,0,.35));}
#course .view-bx > div a:hover img{animation:shake .7s 1 both ease-out;}



@media (max-width:1540px) { 
  #visual{margin-top:60px;height:727px;}
  #visual .slick-wrap .slick{width:1720px;margin-left:-860px;}
  #visual .slick-wrap .control{padding-top:105px;padding-left:50px;}
  #visual .slick-wrap .control h2{font-size:42px;}
  #visual .slick-wrap .control h2 strong{font-size:65px;}
  #visual .slick-wrap .control > div{display:flex;align-items:center;padding-top:30px;}
  #visual .slick-wrap .control .dots{padding-right:5px;}
  #visual .slick-wrap .control .dots li{margin-right:7px;}
  #visual .slick-wrap .control .dots button{width:9px;height:9px;}
  #visual .slick-wrap .control .dots .slick-active button{width:68px;}
  #visual .slick-wrap .control .ps-btn img{height:13px;}
  #visual .slick-wrap .control .ps-btn.play{display:none;}
  #visual .modal-slick-wrap{width:448px;height:397px;bottom:135px;padding:13px 13px 13px 60px;}
  #visual .modal-slick-wrap .slick-group{border-radius:15px;}
  #visual .modal-slick-wrap .control{height:42px;justify-content:center;gap:0 8px;}
  #visual .modal-slick-wrap .count{padding-right:15px;}
  #visual .modal-slick-wrap .control button img{height:13px;}
  #visual .modal-slick-wrap .open{left:15px;top:28px;gap:15px 0;}
  #visual .modal-slick-wrap .open span{letter-spacing:3px;font-size:15px;}
  #visual .modal-slick-wrap .open img{width:26px;}
  #visual .modal-slick-wrap.active{right:-390px;}

  .main-title1{font-size:26px;}
  #booking{margin-top:-70px;}
  #booking .border-bx{border-radius:20px;padding:0 20px 35px;}
  #booking .title-bx{height:70px;padding-left:10px;}
  #booking .control{gap:0 5px}
  #booking .control button img{width:39px;}
  #booking .schdule-bx{padding-top:20px;gap:0 10px;}
  #booking .ground{width:205px;flex-shrink:0;}
  #booking .ground strong{height:56px;font-size:17px;margin-top:8px;}
  #booking .slick{width:calc(100% - 205px);padding-left:5px;}
  #booking .slick-slide{padding:0 5px;}
  #booking .slick-slide .date{border:1px solid #949590;font-size:18px;height:56px;}
  #booking .slick-slide span{height:44px;font-size:16px;}
  #booking .slick-slide span i{margin:0 15px;height:18px;}
  #booking .slick-slide .no-bx{height:56px;}
  #booking .slick-slide .no-bx + .no-bx{margin-top:8px;}
  #booking .slick-slide .no-bx a{font-size:18px}
  #booking .slick-slide .no-bx a:hover{background:#000;color:#fff;border-color:#000;}
  #booking .note-text{padding:10px 30px 0;}
  #booking .note-text li{margin-top:10px;font-size:18px;padding-left:10px;}
  #booking .note-text li em{font-size:16px;}
  #booking .note-text li:after{width:3px;height:3px;top:10px;}
  #booking .slick-slide .no-bx span{font-size:15px}

  #benefit{height:267px;margin-top:60px;}
  #benefit .inner{padding:0 80px;}
  #benefit .inner > img{width:288px;}
  #benefit .inner > div{gap:20px;}
  #benefit .inner > div a img{width:120px;}

  #notice{position: relative;padding-top:80px;}
  #notice .news-bx{width:50%;padding-right:30px;}
  #notice .title-bx > div{gap:0 5px}
  #notice .title-bx > div a{height:36px;padding:0 15px;font-size:15px;}
  #notice .title-bx > div a img{width:18px;margin-right:8px;}
  #notice .list{padding-top:23px;}
  #notice .list a{height:67px;border-radius:24px;padding:0 15px;gap:0 10px;}
  #notice .list a + a{margin-top:7px;}
  #notice .list a span{font-size:17px;}
  #notice .list a span img{width:30px;margin-right:13px;}
  #notice .list a em{font-size:16px;}
  #notice .video-bx{width:50%;border-radius:25px;padding-top:28.1%;}

  #course{margin-top:80px;height:601px;}
  #course .tab-bx button{font-size:18px;height:60px;}
  #course .view-bx > div h2{font-size: 45px;}
  #course .view-bx > div p{font-size:18px;padding-top:10px;}
  #course .view-bx > div a{margin-top:45px;}
  #course .view-bx > div a img{width:147px;}

} 


@media (max-width:991px) {
    #visual{height:667px;}
    #visual .slick-wrap .slick{width:1520px;margin-left:-760px;}
    #visual .slick-wrap .control{padding-top:65px;padding-left:30px;}
    #visual .slick-wrap .control h2{font-size:32px;}
    #visual .slick-wrap .control h2 strong{font-size:55px;}
    #visual .slick-wrap .control > div{padding-top:25px;}
    #visual .modal-slick-wrap{width:408px;height:358px;bottom:105px;padding:13px 13px 13px 60px;}
    #visual .modal-slick-wrap .slick-group{border-radius:10px;}
    #visual .modal-slick-wrap .control{height:40px;gap:0 7px;}
    #visual .modal-slick-wrap .count{padding-right:13px;}
    #visual .modal-slick-wrap .open{left:15px;top:25px;gap:13px 0;}
    #visual .modal-slick-wrap .open img{width:24px;}
    #visual .modal-slick-wrap.active{right:-355px;}

    .main-title1{font-size:24px;}
    #booking{margin-top:-60px;}
    #booking .border-bx{border-radius:15px 0 0 15px;padding:0 0px 30px 20px;margin-right:-20px;border-right: 0;}
    #booking .title-bx{height:60px;padding-left:10px;padding-right:20px;}
    #booking .control{gap:0 5px}
    #booking .control button img{width:39px;}
    #booking .schdule-bx{padding-top:20px;gap:0 5px;}
    #booking .ground{width:175px;flex-shrink:0;}
    #booking .ground strong{height:50px;font-size:15px;margin-top:7px;}
    #booking .slick{width:calc(100% - 175px);}
    #booking .slick-slide{width:110px;}
    #booking .slick-slide .date{font-size:15px;height:46px;}
    #booking .slick-slide span{height:42px;font-size:15px;}
    #booking .slick-slide span i{margin:0 13px;height:14px;}
    #booking .slick-slide .no-bx{height:50px;}
    #booking .slick-slide .no-bx + .no-bx{margin-top:7px;}
    #booking .slick-slide .no-bx a{font-size:15px}
    #booking .note-text{padding:10px 15px 0;}
    #booking .note-text li{margin-top:7px;font-size:16px;padding-left:10px;}
    #booking .note-text li em{font-size:14px;}
    #booking .note-text li:after{top:8px;}
    #booking .slick-slide .no-bx span{font-size:12.5px}

    #benefit{height:227px;margin-top:50px;}
    #benefit .inner{padding:0 30px;}
    #benefit .inner > img{width:238px;}
    #benefit .inner > div{gap:15px;}
    #benefit .inner > div a img{width:100px;}

    #notice{padding-top:60px;}
    #notice .inner{flex-direction:column;gap:30px 0;align-items:center;}
    #notice .news-bx{width:100%;padding-right:0px;}
    #notice .title-bx > div{gap:0 5px}
    #notice .title-bx > div a{height:34px;padding:0 15px;font-size:14px;}
    #notice .title-bx > div a img{width:16px;margin-right:7px;}
    #notice .list{padding-top:23px;}
    #notice .list a{height:60px;border-radius:22px;padding:0 15px;}
    #notice .list a + a{margin-top:5px;}
    #notice .list a span{font-size:16px;}
    #notice .list a span img{width:26px;margin-right:11px;}
    #notice .list a em{font-size:14px;}
    #notice .video-bx{width:100%;border-radius:20px;padding-top:44%;max-width:600px;}

    #course{margin-top:50px;height:521px;}
    #course .tab-bx button{font-size:16px;height:54px;}
    #course .view-bx > div h2{font-size: 40px;}
    #course .view-bx > div p{font-size:16px;padding-top:9px;}
    #course .view-bx > div a{margin-top:35px;}
    #course .view-bx > div a img{width:127px;}
  } 



@media (max-width:716px) {
  #visual{height:627px;}
  #visual .slick-wrap .control{padding-top:60px;padding-left:20px;}
  #visual .slick-wrap .control h2{font-size:20px;}
  #visual .slick-wrap .control h2 strong{font-size:40px;}
  #visual .slick-wrap .control > div{padding-top:20px;}
  #visual .slick-wrap .control .dots li{margin-right:5px;}
  #visual .slick-wrap .control .dots button{width:8px;height:8px;}
  #visual .slick-wrap .control .dots .slick-active button{width:48px;}
  #visual .slick-wrap .control .ps-btn img{height:11px;}
  #visual .modal-slick-wrap{width:360px;height:317px;bottom:95px;padding:10px 10px 10px 50px;}
  #visual .modal-slick-wrap .control{height:32px;gap:0 7px;}
  #visual .modal-slick-wrap .count{padding-right:10px;font-size:13px;}
  #visual .modal-slick-wrap .control button img{height:11px;}
  #visual .modal-slick-wrap .open{left:12px;top:20px;gap:10px 0;}
  #visual .modal-slick-wrap .open span{font-size:14px;}
  #visual .modal-slick-wrap .open img{width:22px;}
  #visual .modal-slick-wrap.active{right:-320px;}

  .main-title1{font-size:22px;}
  #booking{margin-top:-52px;}
  #booking .border-bx{border-radius:0;padding:0 0px 25px 16px;margin:0 -16px;border-left: 0;}
  #booking .title-bx{height:52px;padding-left:5px;padding-right:16px;}
  #booking .control button img{width:33px;}
  #booking .schdule-bx{padding-top:15px;gap:0 5px;}
  #booking .ground{width:105px;}
  #booking .ground strong{height:42px;font-size:12px;margin-top:5px;line-height:1.15;word-break:keep-all;text-align:center;}
  #booking .slick{width:calc(100% - 105px);padding-left:0;}
  #booking .slick-slide{width:100px;}
  #booking .slick-slide .date{font-size:12px;height:36px;}
  #booking .slick-slide span{height:36px;font-size:12px;}
  #booking .slick-slide span i{margin:0 10px;height:10px;}
  #booking .slick-slide .no-bx{height:42px;}
  #booking .slick-slide .no-bx + .no-bx{margin-top:5px;}
  #booking .slick-slide .no-bx a{font-size:13px}
  #booking .note-text{padding:10px 0px 0;}
  #booking .note-text li{margin-top:7px;font-size:13px;}
  #booking .note-text li em{font-size:12px;}
  #booking .note-text li:after{top:6px;}

  #benefit{height:277px;margin-top:35px;}
  #benefit .inner{padding:0px;flex-direction:column;gap:15px 0;justify-content:center;}
  #benefit .inner > img{width:188px;}
  #benefit .inner > div a img{width:82px;}

  #notice{padding-top:45px;}
  #notice .inner{gap:20px 0;}
  #notice .title-bx > div a{height:30px;padding:0 13px;font-size:12px;}
  #notice .title-bx > div a img{width:14px;}
  #notice .list{padding-top:17px;}
  #notice .list a{height:50px;border-radius:16px;padding:0 10px;}
  #notice .list a span{font-size:14px;}
  #notice .list a span img{width:24px;margin-right:8px;}
  #notice .list a em{font-size:12px;}
  #notice .video-bx{border-radius:15px;padding-top:56%;}

   #course{margin-top:40px;height:461px;}
  #course .tab-bx button{font-size:13px;height:50px;}
  #course .view-bx > div h2{font-size: 26px;}
  #course .view-bx > div p{font-size:14px;padding-top:8px;}
  #course .view-bx > div a{margin-top:25px;}
  #course .view-bx > div a img{width:107px;}

} 


@keyframes show1{ 
  0%{transform:translateX(-70%);}
  100%{transform:translateX(0%);} 
}


@keyframes show2{ 
  0%{transform:translateY(100%);}
  100%{transform:translateY(0%);} 
}

@keyframes shake{
    0%{transform: rotate(0deg);}
    12.5%{transform: rotate(30deg);}
    25%{transform: rotate(-30deg);}
    37.5%{transform: rotate(17deg);}
    50%{transform: rotate(-17deg);}
    62.5%{transform: rotate(5deg);}
    75%{transform: rotate(-5deg);}
    87.5%{transform: rotate(0deg);}
    100%{transform: rotate(0deg);}
}

@keyframes shake2 {
    0% { transform: translateX(0) }
    25% { transform: translateY(-5px) }
    35% { transform: translateY(-5px) rotate(12deg) }
    55% { transform: translateY(-5px) rotate(-12deg) }
    65% { transform: translateY(-5px) rotate(9deg) }
    75% { transform: translateY(-5px) rotate(-9deg) }
    100% { transform: translateY(0) rotate(0) }
}
