@charset "utf-8";

#main{overflow:hidden;}
#main .inner{max-width:1240px;padding:0 20px;}

#visual{position:relative;}
#visual .bx{position:absolute;top:0;bottom:0;width:1320px;left:50%;margin-left:-660px;}
#visual .bx .text{z-index:10;position:absolute;bottom:90px;left:90px;text-shadow:0px 0px 5px rgba(0,0,0,.6);}
#visual .bx .text span{display:block;line-height:1.2;color:#fff;font-size:44px;font-weight:400;}
#visual .bx .text strong{display:block;line-height:1.2;color:#ffba00;font-size:64px;font-weight:900;margin-top:5px;}
#visual .bx a{position:absolute;display:block;top:55%;width:60px;height:60px;line-height:58px;border-radius:50%;background:rgba(0,0,0,.5);left:0;z-index:10;color:#fff;font-size:32px;text-align:center;}
#visual .bx a.next{left:auto;right:0;}
#visual .bx a:active{transform:scale(.9);}
#visual .slick{position:relative;z-index:3;}
#visual .slick .slide{position:relative;overflow:hidden;}
#visual .slick .slide img{display:block;width:100%;}
#visual .slick-dots{margin-top:30px;}
#visual .slick-dots li{display:inline-block;vertical-align:top;margin-right:4px;height:28px;}
#visual .slick-dots li button{width:28px;height:4px;background:rgba(255,255,255,.6);overflow:hidden;text-indent:-9999px;transition:all .1s;}
#visual .slick-dots li.slick-active button{background:rgba(255,255,255,1)}
#visual .slick-dots li button:focus{outline:0;}

@media (max-width:1340px) {
  #visual .bx{width:100%;left:0;margin-left:0px;}
  #visual .bx .text{bottom:90px;left:90px;}
  #visual .bx a{left:20px;}
  #visual .bx a.next{right:20px;}
}

@media (max-width:1199px) {
  #visual{padding-top:60px;}
  #visual .bx .text{bottom:70px;left:90px;}
  #visual .bx .text span{font-size:32px;}
  #visual .bx .text strong{font-size:50px;}
  #visual .bx a{top:50%;width:50px;height:50px;line-height:48px;font-size:26px;}
  #visual .slick-dots{margin-top:25px;}
  #visual .slick-dots li{height:24px;}
  #visual .slick-dots li button{width:24px;height:4px;}
}

@media (max-width:991px) {
  #visual .bx .text{bottom:65px;left:60px;}
  #visual .bx .text span{font-size:26px;}
  #visual .bx .text strong{font-size:42px;}
  #visual .bx a{top:50%;width:42px;height:42px;line-height:40px;font-size:22px;left:10px;}
  #visual .bx a.next{right:10px;}
  #visual .slick-dots{margin-top:20px;}
  #visual .slick-dots li{height:20px;}
  #visual .slick-dots li button{width:20px;height:3px;}
}

@media (max-width:760px) {
  #main .inner{padding:0 12px;}
  #visual .bx .text{bottom:30px;left:25px;}
  #visual .bx .text span{font-size:18px;line-height:1.3}
  #visual .bx .text strong{font-size:32px;line-height:1.3}
  #visual .bx a{top:50%;width:34px;height:34px;line-height:32px;font-size:20px;left:0px;}
  #visual .bx a.next{right:0px;}
  #visual .slick-dots{margin-top:15px;}
  #visual .slick-dots li{height:15px;}
  #visual .slick-dots li button{width:15px;height:2px;}
}

#lnkbx{background:#fff;border-radius:40px;box-shadow:0px 0px 20px 0px rgba(0,0,0,.3);margin:-75px auto 0;position:relative;z-index:10;max-width:1200px;overflow:hidden;}
#lnkbx .tbx{float:left;width:205px;padding:46px 25px 45px 25px;}
#lnkbx .tbx h3{line-height:1.3;color:#2653a8;font-size:20px;font-weight:500;}
#lnkbx .tbx h3 strong{color:#ffba00;font-size:30px;font-weight:700;display:block;}
#lnkbx .tbx > div{margin-top:12px;}
#lnkbx .tbx > div a{display:block;float:left;width:50%;height:32px;line-height:32px;text-align:center;color:#292929;font-weight:700;font-size:18px;border-radius:10px 0 0 10px;background:#eee;box-shadow:inset -2px 4px 6px 0px rgba(0,0,0,0.3);}
#lnkbx .tbx > div a:last-child{border-radius:0 10px 10px 0;box-shadow:inset 2px 4px 6px 0px rgba(0,0,0,0.3);}
#lnkbx .tbx > div a.active{box-shadow:none !important;background:#0DCCFF;background:linear-gradient(135deg, #0DCCFF 0%, #279BFF 50%, #4760ff 100%);color:#fff;}
#lnkbx .lst{overflow:hidden;}
#lnkbx .lst > div{display:none;}
#lnkbx .lst a{display:block;float:left;width:16.66666666666667%;text-align:center;color:#000;font-size:20px;font-weight:500;padding-top:30px;}
#lnkbx .lst a:hover{color:#2c53b0;font-weight:700;}
#lnkbx .lst a:before{content:'';display:block;margin:0 auto 15px;border-radius:50%;width:96px;height:96px;background-color:#f0f5f7;transition:all .2s;background-repeat:no-repeat;background-position:center center;}
#lnkbx .lst a:hover:before{background-color:#2d7dff;}

#lnkbx .lst > div a.i01:before{background-image:url(/page/job/images/main/main_2-1.png);background-size:57px 49px;}
#lnkbx .lst > div a.i01:hover:before{background-image:url(/page/job/images/main/main_2-1c.png);}

#lnkbx .lst > div a.i02:before{background-image:url(/page/job/images/main/main_2-2.png);background-size:67.5px 50px;}
#lnkbx .lst > div a.i02:hover:before{background-image:url(/page/job/images/main/main_2-2c.png);}

#lnkbx .lst > div a.i03:before{background-image:url(/page/job/images/main/main_2-3.png);background-size:45px 45px;}
#lnkbx .lst > div a.i03:hover:before{background-image:url(/page/job/images/main/main_2-3c.png);}

#lnkbx .lst > div a.i04:before{background-image:url(/page/job/images/main/main_2-4.png);background-size:54px 56px;}
#lnkbx .lst > div a.i04:hover:before{background-image:url(/page/job/images/main/main_2-4c.png);}

#lnkbx .lst > div a.i05:before{background-image:url(/page/job/images/main/main_2-5.png);background-size:53px 57px;}
#lnkbx .lst > div a.i05:hover:before{background-image:url(/page/job/images/main/main_2-5c.png);}

#lnkbx .lst > div a.i06:before{background-image:url(/page/job/images/main/main_2-6.png);background-size:56px 53px;}
#lnkbx .lst > div a.i06:hover:before{background-image:url(/page/job/images/main/main_2-6c.png);}

#lnkbx .lst > div a.i07:before{background-image:url(/page/job/images/main/main_2-7.png);background-size:46px 46px;}
#lnkbx .lst > div a.i07:hover:before{background-image:url(/page/job/images/main/main_2-7c.png);}

@media (max-width:1199px) {
  #lnkbx{border-radius:30px;margin:-50px 20px 0;}

  #lnkbx .tbx{width:180px;padding:40px 20px 40px 20px;}
  #lnkbx .tbx h3{font-size:18px;}
  #lnkbx .tbx h3 strong{font-size:26px;}
  #lnkbx .tbx > div{margin-top:10px;}
  #lnkbx .tbx > div a{height:30px;line-height:30px;font-size:16px;}
  #lnkbx .lst a{font-size:16px;padding-top:25px;}
  #lnkbx .lst a:before{transform:scale(.9);margin-bottom:5px;}
  
}

@media (max-width:991px) {
  #lnkbx{border-radius:20px;}

  #lnkbx .tbx{width:auto;padding:18px 0px 2px 20px;float:none;}
  #lnkbx .tbx h3{font-size:16px;display:inline-block;vertical-align:middle;}
  #lnkbx .tbx h3 strong{font-size:25px;}
  #lnkbx .tbx > div{margin:0px 0 0 15px;display:inline-block;vertical-align:middle;width:140px;}
  #lnkbx .tbx > div a{height:30px;line-height:30px;font-size:16px;}
  #lnkbx .lst{padding-bottom:20px;}
  #lnkbx .lst a{font-size:15px;padding-top:10px;}
  #lnkbx .lst a:before{transform:scale(.9);margin-bottom:5px;}
 
}

@media (max-width:760px) {
  #lnkbx{border-radius:15px;margin:-30px 12px 0;padding:1px 10px 0;}
  
  #lnkbx .tbx{width:auto;padding:20px 0px 2px 10px;}
  #lnkbx .tbx h3{font-size:15px;}
  #lnkbx .tbx h3 strong{font-size:22px;}
  #lnkbx .tbx > div{margin:0px 0 0 15px;width:120px;}
  #lnkbx .tbx > div a{font-size:14px;height:28px;line-height:28px;}
  #lnkbx .lst{padding-bottom:20px;}
  #lnkbx .lst a{font-size:14px;padding-top:10px;width:33.33333%}
}



/*
#lnkbx a:last-child{margin-right:0;}
#lnkbx a:before{content:'';display:block;width:97px;height:96px;background:url(/page/job/images/common/sp_job.png) -12px -52px no-repeat;background-size:520px 1500px;margin:0 auto 20px;}
#lnkbx a:nth-of-type(2):before{background-position:-131px -52px;}
#lnkbx a:nth-of-type(3):before{background-position:-252px -52px;}
#lnkbx a:nth-of-type(4):before{background-position:-11px -172px;}
#lnkbx a:nth-of-type(5):before{background-position:-131px -172px;}
#lnkbx a:nth-of-type(6):before{background-position:-252px -172px;}
#lnkbx a:hover:before,
#lnkbx a:hover:nth-of-type(2):before,
#lnkbx a:hover:nth-of-type(3):before{background-position-y:-292px;}
#lnkbx a:hover:nth-of-type(4):before,
#lnkbx a:hover:nth-of-type(5):before,
#lnkbx a:hover:nth-of-type(6):before{background-position-y:-412px;}
#lnkbx a:hover{color:#2c53b0;font-weight:700;}


@media (max-width:1199px) {
  #lnkbx{border-radius:30px;margin:-50px 20px 0;}
  #lnkbx a{font-size:18px;padding:25px 0 20px;}
  #lnkbx a:before{margin:0 auto 10px;transform:scale(.9);}

  #lnkbx a:before,
  #lnkbx a:nth-of-type(2):before,
  #lnkbx a:nth-of-type(3):before{background-position-y:-292px;}

  #lnkbx a:nth-of-type(4):before,
  #lnkbx a:nth-of-type(5):before,
  #lnkbx a:nth-of-type(6):before{background-position-y:-412px;}
}

@media (max-width:991px) {
  #lnkbx{border-radius:20px;}
  #lnkbx a{font-size:15px;padding:15px 0 15px;width:150px;margin-right:calc((100% - 901px) / 5);}
  #lnkbx a:before{margin:0 auto 5px;transform:scale(.8);}
}

@media (max-width:760px) {
  #lnkbx{border-radius:15px;margin:-30px 12px 0;padding:1px 10px 0;}
  #lnkbx a{font-size:14px;padding:2px 0 0px;width:33.33333%;margin-right:0;}
  #lnkbx a:before{margin:0 auto -7px;transform:scale(.7);}
  #lnkbx a:nth-of-type(n+4){padding-bottom:14px;}
}

*/

#notice{position:relative;padding:65px 0 90px;}
#notice h3{line-height:1.1;font-size:34px;font-weight:700;color:#252525;}
#notice .bx{position:relative;}
#notice .lbx{float:left;width:61.5%;position:relative;padding-right:35px;}
#notice .lbx .more{position:absolute;display:block;right:35px;top:10px;font-size:14px;color:#2b2b2b;font-weight:400;}
#notice .lbx .more:after{content:'';display:inline-block;margin-left:3px;width:6px;height:6px;border:2px solid #2b2b2b;border-width:2px 2px 0 0;transform:rotate(45deg);vertical-align:1px;}
#notice .lst{margin-top:25px;}
#notice .lst a{display:block;border:1px solid #ddd;border-radius:10px;padding:11px 70px 10px 140px;position:relative;transition:all .1s;}
#notice .lst a:after{content:'';display:block;width:48px;height:48px;background:url(/page/job/images/main/icon03.png) center center no-repeat;background-size:48px 48px;right:20px;top:50%;margin-top:-24px;position:absolute;opacity:0;transition:all .1s;}
#notice .lst a + a{margin-top:5px;}
#notice .lst a .date{display:block;position:absolute;top:50%;transform:translateY(-50%);left:30px;line-height:1.1;color:#2c53b0;font-size:16px;font-weight:400;width:60px;text-align:center;}
#notice .lst a .date strong{display:block;font-size:24px;font-weight:700;}
#notice .lst a p{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#2b2b2b;font-size:18px;font-weight:400;transition:all .1s;line-height:1.4;}
#notice .lst a p .sti{display:inline-block;height:24px;line-height:22px;padding:0 10px;border-radius:5px;background:#e6eef1;font-size:14px;color:#2c53b0;font-weight:500;transition:all .1s;margin-bottom:4px;}
#notice .lst a p span{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#notice .lst a:hover{background:#2c53b0;}
#notice .lst a:hover:after{opacity:1;}
#notice .lst a:hover .date,
#notice .lst a:hover p{color:#fff;}
#notice .lst a:hover p .sti{color:#2c53b0;background:#fff;}

#notice .rbx{float:left;width:38.5%;margin-top:3px;}
#notice .rbx a{display:block;float:left;width:calc((100% - 25px) / 2);margin-right:25px;border-radius:10px;border:1px solid #ddd;height:187px;text-align:center;transition:all .1s;padding-top:43px;position:relative;}
#notice .rbx a:nth-child(2n){margin-right:0;}
#notice .rbx a:nth-child(n+3){margin-top:25px;}
#notice .rbx a span{display:block;width:140px;height:36px;line-height:32px;border:1px solid #3a5eb5;border-radius:18px;color:#000;font-size:16px;font-weight:500;transition:all .1s;position:absolute;bottom:30px;left:50%;margin-left:-70px;}
#notice .rbx a:hover{box-shadow:0px 3px 8px 0px rgba(0,0,0,.25);}
#notice .rbx a:hover span{color:#fff;background:#2c53b0;border-color:#2c53b0;}
#notice .rbx a:before{content:'';display:block;margin:0 auto 0px;background:url(/page/job/images/main/main_3-1.png) no-repeat center center;background-size:cover;width:62px;height:61px;}
#notice .rbx a.i02:before{background:url(/page/job/images/main/main_2-2.png) no-repeat center center;width:67.5px;height:50px;background-size:cover;}
#notice .rbx a.i03:before{background:url(/page/job/images/main/main_3-2.png) no-repeat center center;width:55px;height:56px;background-size:cover;}
#notice .rbx a.i04:before{background:url(/page/job/images/main/main_3-3.png) no-repeat center center;width:58px;height:52px;background-size:cover;}


@media (max-width:1199px) {
  #notice{padding:40px 0 55px;}
  #notice h3{font-size:30px;}


  #notice .lbx{padding-right:25px;}
  #notice .lbx .more{right:25px;top:10px;}
  #notice .lst{margin-top:20px;}
  #notice .lst a{padding:12px 20px 11px 110px;}
  #notice .lst a:after{display:none;}
  #notice .lst a .date{font-size:15px;left:20px;}
  #notice .lst a .date strong{font-size:20px;}
  #notice .lst a p{font-size:16px;}
  #notice .lst a p .sti{height:22px;line-height:20px;font-size:14px;}
  #notice .rbx{margin-top:15px;}
  #notice .rbx a{width:calc((100% - 20px) / 2);margin-right:20px;height:170px;padding-top:35px;}
  #notice .rbx a:nth-child(2n){margin-right:0;}
  #notice .rbx a:nth-child(n+3){margin-top:20px;}
  #notice .rbx a span{width:140px;height:34px;line-height:30px;font-size:15px;bottom:25px;}
  #notice .rbx a:before{transform:scale(.9);}

}


@media (max-width:991px) {
  #notice{padding:30px 0 40px;}
  #notice h3{font-size:26px;}
  #notice .lbx{float:none;width:100%;padding-right:0;}
  #notice .lbx .more{right:10px;top:5px;}
  #notice .rbx{float:none;width:100%;margin-top:20px;}
  #notice .rbx a{height:125px;padding-top:10px;}
  #notice .rbx a span{bottom:15px;}
  #notice .rbx a:before{transform:scale(.8);}
}
@media (max-width:760px) {
  #notice{padding:30px 0 30px;}
  #notice h3{font-size:22px;}

  #notice .lst{margin-top:15px;}
  #notice .lst a{padding:11px 15px 10px 80px;}
  #notice .lst a .date{font-size:14px;left:10px;}
  #notice .lst a .date strong{font-size:16px;}
  #notice .lst a p{font-size:15px;}
  #notice .lst a p .sti{font-size:13px;line-height:22px;margin-bottom:3px;}
  #notice .rbx{margin-top:15px;}
  #notice .rbx a{width:calc((100% - 15px) / 2);margin-right:15px;height:115px;padding-top:9px;}
  #notice .rbx a:nth-child(n+3){margin-top:15px;}
  #notice .rbx a:before{transform:scale(.75);}

  #notice .rbx a span{width:130px;height:30px;line-height:26px;font-size:14px;bottom:13px;}
}



/*
#notice .more{position:absolute;top:0;right:20px;display:block;width:45px;height:45px;background:url(/page/job/images/common/sp_job.png) -458px -57px no-repeat;background-size:520px 1500px;color:transparent;font-size:0;transform-origin:100% 50%;}
#notice .more:active{transform:scale(.9);}
#notice .list{margin-top:50px;}
#notice .list a{display:block;height:283px;border-radius:10px;background:#0076be;position:relative;width:calc((100% - 72.2px) / 4);padding:16px 20px 10px;margin-right:24px;float:left;transition:all .1s;}
#notice .list a:last-child{margin-right:0;}
#notice .category{display:inline-block;height:26px;line-height:24px;padding:0 9px;border-radius:5px;background:#fff;font-size:16px;font-weight:500;color:#0076be;transition:all .1s;}
#notice .date{display:block;text-align:center;position:absolute;top:20px;right:17px;color:#fff;font-size:18px;font-weight:500;line-height:1.1;transition:all .1s;}
#notice .date em{display:block;font-size:34px;}
#notice p{line-height:1.4;color:#fff;margin-top:65px;font-size:20px;font-weight:500;transition:all .1s;}
#notice .list a:after{content:'→';font-size:30px;color:#fff;position:absolute;bottom:18px;right:17px;height:18px;line-height:18px;transition:all .1s;}
#notice .list a:hover{background:#fff;box-shadow:0px 0px 15px 0px rgba(0,0,0,.3);}
#notice .list a:hover .category{color:#fff;background:#0076be}
#notice .list a:hover p,
#notice .list a:hover .date{color:#2b2b2b;}
#notice .list a:hover:after{color:#0076be}


@media (max-width:1199px) {
  #notice{padding:40px 0 55px;}
  #notice h3{font-size:30px;padding-top:5px;}

  #notice .more{right:20px;transform:scale(.9);}
  #notice .more:active{transform:scale(.8);}
  #notice .list{margin-top:30px;}

  #notice .list a{height:240px;width:calc((100% - 60.2px) / 4);padding:13px 15px 10px;margin-right:20px;}
  #notice .category{height:24px;line-height:24px;padding:0 6px;font-size:15px;}
  #notice .date{top:15px;right:15px;font-size:16px;}
  #notice .date em{font-size:28px;margin-top:2px;}
  #notice p{margin-top:55px;font-size:18px;}
  #notice .list a:after{font-size:24px;bottom:15px;right:15px;}
}


@media (max-width:991px) {
  #notice{padding:30px 0 40px;}
  #notice h3{font-size:26px;}

  #notice .more{right:20px;transform:scale(.8);}
  #notice .more:active{transform:scale(.7);}
  #notice .list{margin-top:20px;}

  #notice .list a{height:190px;width:calc((100% - 45.2px) / 4);padding:13px 15px 10px;margin-right:15px;}
  #notice .category{height:22px;line-height:22px;padding:0 5px;font-size:14px;}
  #notice .date{top:13px;right:13px;font-size:15px;}
  #notice .date em{font-size:26px;margin-top:2px;}
  #notice p{margin-top:40px;font-size:16px;}
  #notice .list a:after{font-size:22px;bottom:13px;right:13px;}
}

@media (max-width:760px) {
  #notice{padding:25px 0 35px;}
  #notice h3{font-size:22px;}

  #notice .more{right:15px;transform:scale(.7);top:-3px;}
  #notice .more:active{transform:scale(.6);}
  #notice .list{margin-top:15px;}

  #notice .list a{height:135px;width:calc((100% - 5.2px) / 2);padding:10px 15px 10px;margin-right:5px;}
  #notice .list a:nth-of-type(2n){margin-right:0;}
  #notice .list a:nth-of-type(n+3){margin-top:5px;}
  #notice .category{height:20px;line-height:20px;padding:0 5px;font-size:13px;}
  #notice .date{top:10px;right:10px;font-size:14px;}
  #notice .date em{font-size:22px;margin-top:2px;}
  #notice p{margin-top:23px;font-size:15px;font-weight:400;}
  #notice .list a:after{font-size:20px;bottom:7px;right:10px;}
}
*/





#service{position:relative;background:url(/page/job/images/main/bg_service.jpg) center center no-repeat;background-size:cover;padding:85px 0;}
#service h3{line-height:1.1;font-size:34px;font-weight:700;color:#252525;}
#service .tab{margin-top:50px;padding-right:53px;}
#service .tab a{display:block;float:left;width:calc((100% - 50.1px) / 5);margin-right:10px;height:54px;line-height:52px;color:#fff;text-align:center;background:rgba(0,0,0,.6);font-weight:500;font-size:18px;border-radius:8px;}
#service .tab a:active{transform:scale(.9);}
#service .tab a.active{background:rgba(0,0,0,1);pointer-events:none;}

#service .sbx{position:relative;margin-top:14px;}
#service .sbx > div{display:none;position:relative;}
#service .sbx > div:first-of-type{display:block;}

#service .sbx .more{display:block;width:54px;height:54px;line-height:52px;background:rgba(0,0,0,.7);border-radius:8px;font-size:30px;text-align:center;color:#fff;position:absolute;top:-68px;right:0;}
#service .sbx .more:active{transform:scale(.9);}

#service .sbx .slick-arrow{position:absolute;display:block;top:50%;width:60px;height:60px;line-height:58px;border-radius:50%;background:rgba(0,0,0,.6);z-index:10;color:#fff;font-size:32px;text-align:center;right:-65px;z-index:10;}
#service .sbx .prev{position:absolute;display:none !important;top:50%;width:60px;height:60px;line-height:58px;border-radius:50%;background:rgba(0,0,0,.6);z-index:10;color:#fff;font-size:32px;text-align:center;right:-65px;z-index:10;}
#service .sbx .slick-arrow:active{transform:scale(.9);}
#service .sbx .slick-disabled{display:none !important;}
#service .sbx .prev.active{display:block !important;}
#service .sbx .slick-prev{display:none !important;}

#service .slick{margin-right:-360px;z-index:5;}
#service .slide{width:384px;margin-right:24px;position:relative;}
#service .slide .imgbx{overflow:hidden;position:relative;}
#service .slide .imgbx img{display:block;transition:all .1s}
#service .slide .imgbx strong{display:block;position:absolute;bottom:0;right:0;left:0;height:46px;line-height:44px;padding:0 15px;text-align:center;color:#fff;font-size:24px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background:rgba(0,20,66,.7);font-weight:500;transition:all .1s}
#service .slide .text{background:#fff;min-height:159px}
#service .slide .text ul{padding:22px 20px 15px 25px;min-height:122px;}
#service .slide .text li{color:#585858;font-size:17px;padding-left:22px;position:relative;line-height:1.4;word-break:keep-all;}
#service .slide .text li:after{content:'';display:block;background:url(/page/job/images/main/icon01.png) 0 0 no-repeat;background-size:cover;width:15px;height:12px;position:absolute;top:7px;left:0;transform-origin:0% 0%;}
#service .slide .text li + li{margin-top:4px;}
#service .slide .text p{text-align:center;height:37px;line-height:35px;border-top:1px solid #c1c1c1;color:#585858;font-size:17px;}
#service .slide .text p:before{content:'';display:inline-block;background:url(/page/job/images/main/icon02.png) 0 0 no-repeat;background-size:cover;width:18px;height:18px;vertical-align:-2px;margin-right:6px;transform-origin:0% 0%;}
#service .slide:hover .imgbx img{transform:scale(1.1);}
#service .slide:hover .imgbx strong{background:rgba(0,20,66,1);}
#service .slide:after{content:'';display:block;position:absolute;top:0;right:0;left:0;bottom:0;background:rgba(0,0,0,.7);opacity:0;transition:all .1s;}
#service .slide:not(.slick-active):after{opacity:1;}
#service .slide:not(.slick-active){pointer-events:none;}

@media (max-width:1340px) {
  #service .sbx .slick-arrow,
  #service .sbx .prev{right:-20px;}
}  

@media (max-width:1199px) {

  #service{padding:50px 0 60px;}
  #service h3{font-size:30px;}
  #service .tab{margin-top:30px;padding-right:45px;}
  #service .tab a{height:46px;line-height:44px;font-size:16px;}
  #service .sbx{margin-top:12px;}

  #service .sbx .more{width:46px;height:46px;line-height:44px;font-size:24px;top:-58px;}

  #service .sbx .slick-arrow,
  #service .sbx .prev{top:50%;width:50px;height:50px;line-height:48px;font-size:26px;right:-20px;}

  #service .slick{margin-right:-20px;}
  #service .slide{width:294px;margin-right:20px;}
  #service .slide .imgbx strong{height:40px;line-height:38px;font-size:18px;}
  #service .slide .text{min-height:139px}
  #service .slide .text ul{padding:15px 5px 15px 20px;min-height:105px;}
  #service .slide .text li{font-size:16px;padding-left:20px;}
  #service .slide .text p{height:35px;line-height:33px;font-size:16px;}

}

@media (max-width:991px) {
  #service{padding:40px 0 50px;}
  #service h3{font-size:26px;}
  #service .tab{margin-top:20px;padding-right:43px;}
  #service .tab a{height:42px;line-height:40px;font-size:15px;width:calc((100% - 25.1px) / 5);margin-right:5px;}
  #service .sbx .more{width:42px;height:42px;line-height:40px;font-size:22px;top:-54px;}

  #service .sbx .slick-arrow,
  #service .sbx .prev{width:42px;height:42px;line-height:40px;font-size:22px;}

  #service .slide{width:238px;margin-right:15px;}
  #service .slide .imgbx strong{height:38px;line-height:36px;font-size:16px;}
  #service .slide .text{min-height:129px}
  #service .slide .text ul{padding:13px 5px 10px 15px;min-height:95px;}
  #service .slide .text li{font-size:15px;padding-left:18px;}
  #service .slide .text li:after{transform:scale(.9);top:6px;}
  #service .slide .text p{height:33px;line-height:31px;font-size:15px;}
  #service .slide .text p:before{transform:scale(.9);vertical-align:-4px;}
}


@media (max-width:760px) {
  #service{padding:32px 0 40px;}
  #service h3{font-size:22px;}
  #service .tab{margin-top:13px;padding-right:0px;}
  #service .tab a{height:38px;line-height:36px;font-size:13px;width:calc((100% - 10.1px) / 3);font-weight:400;}
  #service .tab a:nth-child(3n){margin-right:0;}
  #service .tab a:nth-child(n+4){margin-top:5px;}
  #service .sbx .more{height:38px;line-height:36px;width:calc((100% - 10.1px) / 3);font-size:20px;top:-50px;}

  #service .sbx .slick-arrow,
  #service .sbx .prev{width:34px;height:34px;line-height:32px;font-size:20px;right:0px;}

  #service .slide{margin-right:10px;}
  #service .slide .imgbx strong{height:34px;line-height:32px;font-size:16px;}
  #service .slide .text{min-height:119px}
  #service .slide .text ul{padding:11px 5px 10px 10px;min-height:85px;}
  #service .slide .text li{font-size:14px;padding-left:18px;}
  #service .slide .text li + li{margin-top:3px;}
  #service .slide .text li:after{transform:scale(.9);top:4px;}
  #service .slide .text p{height:32px;line-height:30px;font-size:14px;}
  #service .slide .text p:before{margin-right:3px;}
}

@media (max-width:500px) {
  #service .sbx .slick-arrow,
  #service .sbx .prev{right:auto;left:255px}
}