@charset "utf-8";

/* 레이아웃 공통 */
html, body{position:relative; width:100%;}
body{color:#1b1b1b; font-size:16px; line-height:1.5; font-family:'Noto Sans KR', sans-serif; word-break:break-all;letter-spacing:-1px;}
main{display:block;}
.confirmIframe body{overflow:hidden;}
#progressScroll{display:none;}

/* 본문바로가기 */
.skipnav{position:absolute;z-index:2999;top:-100px;width:100%;padding:0;list-style:none;font-size:14px;}
.skipnav li{position:relative;top:0;left:0;width:100%}
.skipnav li a{display:block;position:absolute;top:0;width:100%;padding:15px 0;background:#000;color:#fff;text-align:center;text-decoration:none}
.skipnav li a:focus,.skipnav li a:active{top:100px}

/* slick 플러그인 */
.slick-slider .slick-list{display:block; overflow-x:hidden; overflow-y:hidden; position:relative}
.slick-slider .slick-list.dragging{cursor:pointer}
.slick-slider .slick-list .slick-track{display:block; position:relative; top:0; left:0}
.slick-slider .slick-list .slick-track:before, .slick-slider .slick-list .slick-track:after{display:table; content:''}
.slick-slider .slick-list .slick-track:after{clear:both}
.slick-slider .slick-list.slick-loading .slick-track{visibility:hidden}
.slick-slider .slick-list .slick-track .slick-slide{display:none; float:left}
.slick-slider[dir='rtl'] .slick-list .slick-track .slick-slide{float:right}
.slick-slider .slick-list .slick-track .slick-slide img{display:block;width:100%;}
.slick-slider .slick-list .slick-track .slick-slide.slick-loading img{display:none}
.slick-slider.slick-initialized .slick-list .slick-track .slick-slide{display:block}
.slick-slider .slick-list .slick-track.slick-loading .slick-slide{visibility:hidden}
.slick-slider .slick-arrow.slick-hidden{display:none}


/* 공통 */
.inner{max-width:1200px;position:relative;margin:0 auto;}
.page-wrap{overflow:hidden;}

/* 헤더 */
#header{position:fixed;z-index:2000;height:95px;width:100%;transition:all .3s;background:#fff;box-shadow:0px 2px 7px 0px rgba(0,0,0,.2);}
#header.active{box-shadow:none;}

#header h1{position:absolute;left:0px;top:0px;z-index:100;}
#header h1 a{display:block;height:95px;line-height:95px;color:#2c53b0;font-size:26px;font-weight:700;}
#header #gnb_pc{padding:0 190px 0 310px;z-index:10;}
#header #gnb_pc .depth_01 > li{display:inline-block;vertical-align:top;}
#header #gnb_pc h2 a{display:block;padding:0 30px;height:95px;line-height:95px;color:#292929;font-size:18px;font-weight:500;transition:all .1s;position:relative;overflow:hidden;}
#header #gnb_pc h2.active a{color:#2653a8}

#header #gnb_pc .depth_02{position:absolute;top:99px;width:20%;border:1px solid #dae1e6;border-width:0 0 0 1px;padding:38px 0 0 25px;height:296px;z-index:10;left:0;display:none;}
#header #gnb_pc li:nth-child(2) .depth_02{left:20%;}
#header #gnb_pc li:nth-child(3) .depth_02{left:40%;}
#header #gnb_pc li:nth-child(4) .depth_02{left:60%;}
#header #gnb_pc li:nth-child(5) .depth_02{left:80%;border-width:0 1px 0 1px;}


#header #gnb_pc .depth_02 strong{display:block;position:relative;font-weight:500;}
#header #gnb_pc .depth_02 strong a{display:block;height:25px;line-height:25px;font-size:18px;color:#2653a8;font-weight:500;transition:all .1s;}
#header #gnb_pc .depth_02 strong a:hover{font-weight:700;}
#header #gnb_pc .depth_02 strong a:before{content:'';display:inline-block;background:url(/page/job/images/common/sp_job.png) -7px -7px no-repeat;background-size:520px 1500px;width:26px;height:30px;vertical-align:-9px;margin-right:10px;}
#header #gnb_pc li:nth-child(2) .depth_02 strong a:before{background-position-x:-47px;}
#header #gnb_pc li:nth-child(3) .depth_02 strong a:before{background-position-x:-87px;}
#header #gnb_pc li:nth-child(4) .depth_02 strong a:before{background-position-x:-127px;width:27px}
#header #gnb_pc .depth_02 ul{padding:13px 0 0 15px} 
#header #gnb_pc .depth_02 li a{height:27px;line-height:27px;font-size:16px;color:#2b2b2b;display:block;transition:all .1s;}
#header #gnb_pc .depth_02 li a:hover{text-decoration:underline;color:#0076be}

#header .bg_pc{position:absolute;top:95px;left:0px;right:0px;height:0px;background:#fff;box-shadow:0px 2px 7px 0px rgba(0,0,0,.2);display:none;overflow:hidden;}
#header .bg_pc:before{content:'';display:block;position:absolute;top:0;left:0;right:0;height:4px;background:#0076be}

#header .btn_box{position:absolute;top:0px;right:0px;z-index:15;}
#header .btn_box .login{display:inline-block;vertical-align:top;margin:37px 5px 0 0;}
#header .btn_box .login a{display:inline-block;vertical-align:top;font-size:14px;color:#4d4d4d;padding:0 10px;position:relative;}
#header .btn_box .login a:nth-child(2):nth-last-child(1):after{content:'';display:block;background:#ddd;width:1px;height:14px;background:#ddd;position:absolute;left:0px;top:50%;margin-top:-7px;}

#header .btn_box .sitemap{width:58px;height:58px;background:#000000;color:transparent;font-size:0px;position:relative;display:inline-block;margin-top:19px;vertical-align:top;}
#header .btn_box .sitemap:before{content:'';display:block;width:20px;height:16px;background:url(/page/job/images/common/sp_job.png) -209px -12px no-repeat;background-size:520px 1500px;position:relative;top:50%;margin:-8px auto 0;}
#header .btn_box .sitemap.active{background:#0076be}
#header .btn_box .sitemap.active:before{background-position:-171px -11px;width:18px;height:18px;margin:-9px auto 0;}
#header .btn_box .mobile_open{width:60px;height:60px;background:#000000;color:transparent;font-size:0px;position:relative;display:none;top:0;vertical-align:top;}
#header .btn_box .mobile_open:before{content:'';display:block;width:20px;height:16px;background:url(/page/job/images/common/sp_job.png) -209px -12px no-repeat;background-size:520px 1500px;position:relative;top:50%;margin:-8px auto 0;}
#header .btn_box .mobile_open.active{background:#0076be}
#header .btn_box .mobile_open.active:before{background-position:-171px -11px;width:18px;height:18px;margin:-9px auto 0;}

#header #gnb_mobile{display:none;position:fixed;top:60px;width:100%;max-width:414px;height:calc(100% - 60px);overflow-y:auto;z-index:10;background:#fff;right:-414px;padding:30px 0 60px 35px;transition:all .35s ease-in-out;border-top:2px solid #0076be;}
#header .mask_mobile{position:fixed;z-index:8;top:60px;left:0;right:0;bottom:0;background:rgba(0,0,0,.5);display:none;}
#header #gnb_mobile.active{right:0%;}

#header #gnb_mobile h2 a{display:block;height:54px;line-height:54px;padding:0 20px 0 0px;position:relative;font-size:20px;font-weight:500;color:#2653a8;transition:all .2s;}
#header #gnb_mobile h2 a:before{content:'';display:inline-block;background:url(/page/job/images/common/sp_job.png) -7px -7px no-repeat;background-size:520px 1500px;width:26px;height:30px;vertical-align:-9px;margin-right:10px;}
#header #gnb_mobile h2 a:after{content:'';display:inline-block;border:1px solid #2653a8;border-width:0px 1px 1px 0;transform:rotate(45deg);margin-left:12px;vertical-align:6px;width:6px;height:6px;transition:all .1s;}
#header #gnb_mobile h2.active a:after{transform:rotate(-135deg);vertical-align:2px;}
#header #gnb_mobile li:nth-child(2) h2 a:before{background-position-x:-47px;}
#header #gnb_mobile li:nth-child(3) h2 a:before{background-position-x:-87px;}
#header #gnb_mobile li:nth-child(4) h2 a:before{background-position-x:-127px;width:27px}

#header #gnb_mobile .depth_02{padding:0px 0px 10px 40px;display:none;}
#header #gnb_mobile .depth_02 a{display:block;height:30px;line-height:28px;position:relative;font-size:16px;font-weight:400;color:#2b2b2b;transition:all .2s;}
#header #gnb_mobile .depth_02 a:before{content:'';display:inline-block;width:4px;height:4px;background:#2b2b2b;vertical-align:4px;margin-right:5px;}


@media (min-width:1200px) {
  #header #gnb_mobile{display:none !important;}
  #header .mask_mobile{display:none !important;}
}

@media (max-width:1199px) {
  body{position:relative !important;}
  body.fixed{position:fixed !important;}
  #header #gnb_pc{display:none !important;}
  #header .bg_pc{display:none !important;}
  #header .btn_box .sitemap{display:none !important;}
  #sitemap{display:none !important;}

  #header{height:60px;}
  #header h1{position:absolute;left:15px;top:0px;}
  #header h1 a{display:block;height:60px;line-height:60px;font-size:19px;}

  #header .btn_box .mobile_open{display:inline-block;}
  #header #gnb_mobile{display:block;}
  #header .btn_box .login{margin:20px 0 0;}
  #header .btn_box .login a{font-size:13px;padding:0 8px;}
  #header .btn_box .login a:nth-child(2):nth-last-child(1):after{height:10px;margin-top:-5px;left:-0.5px;}

}

@media (max-width:760px) {
  .inner{padding:0 15px;}
}

@media (max-width:414px) {
  #header #gnb_mobile{right:-90%;max-width:90%;}
}

#footer{background:#2b2b2b;padding:0px 0 48px;}
#footer h1{position:absolute;top:80px;right:0;z-index:5;}
#footer h1 a{display:block;width:190px;}
#footer h1 a img{display:block;width:100%;}

#footer .link{position:relative;}
#footer .link a{float:left;display:block;margin-right:35px;font-weight:500;color:#ecf9f7;transition:all .1s;position:relative;height:58px;line-height:58px;}
#footer .link a:last-child{margin-right:0;}
#footer .link a.ty01{color:#007af4}
#footer .link:before{content:'';display:block;position:absolute;bottom:0;left:-370px;right:-370px;background:#829190;height:1px;}

#footer .address{margin-top:20px;position:relative;}
#footer .address strong{display:block;line-height:1.1;margin-bottom:15px;color:#d1d1d1;font-weight:500;font-size:16px;}
#footer .address p{line-height:1.3;font-size:15px;color:#d1d1d1;font-weight:400;word-break:keep-all;}
#footer .address p + p{margin-top:4px;}
#footer .address p span{padding-right:15px;}
#footer .address p span em{font-weight:300;padding:0 2px;}

#footer .family{position:absolute;top:7px;right:0px;width:204px;z-index:1000;}
#footer .family .open{height:44px;line-height:42px;padding-left:15px;font-size:16px;color:#fff;font-weight:500;width:100%;position:relative;display:block;border:1px solid #829190}
#footer .family .open:after{content:'';display:block;height:0;border-top:7px solid #fff;border-right:7px solid transparent;border-left:7px solid transparent;transition:all .15s;position:absolute;top:50%;margin-top:-3.5px;right:20px;transform:rotate(180deg)}
#footer .family .open.active:after{transform:rotate(0deg);margin-top:-2px;}
#footer .family .view{position:absolute;bottom:43px;background:#fff;border:1px solid #829190;width:100%;display:none;padding:5px 0;}
#footer .family .view a{display:block;height:36px;line-height:34px;padding:0 5px 0 15px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:15px;color:#2b2b2b;}

@media (max-width:1199px) {
  #footer{padding:0px 0 30px;}
  #footer .inner{padding:0 10px 45px;}
  #footer h1{top:auto;bottom:0px;right:0;left:0;}
  #footer h1 a{display:block;width:141px;margin:0 auto;}

  #footer .link a{margin-right:17px;font-size:13px;height:44px;line-height:44px;}
  #footer .link:before{content:'';display:block;position:absolute;bottom:0;left:-370px;right:-370px;background:#829190;height:1px;}

  #footer .address{margin-top:20px;text-align:center;}
  #footer .address strong{margin-bottom:10px;font-size:15px;}
  #footer .address p{font-size:13px;}
  #footer .address p + p{margin-top:4px;}
  #footer .address p span{padding-right:0px;display:inline-block;}

  #footer .family{position:relative;top:auto;width:164px;margin:18px auto 0;}
  #footer .family .open{height:32px;line-height:30px;padding-left:10px;font-size:13px;}
  #footer .family .open:after{border-top:5px solid #fff;border-right:5px solid transparent;border-left:5px solid transparent;margin-top:-2.5px;right:15px;transform:rotate(180deg)}
  #footer .family .open.active:after{margin-top:-1px;}
  #footer .family .view{bottom:31px;}
  #footer .family .view a{height:28px;line-height:26px;padding:0 5px 0 10px;font-size:13px;}
}

#btn_top{position:absolute;top:820px;left:50%;margin-left:625px;display:block;width:60px;height:60px;border-radius:50%;background:#fff;color:#464646;font-size:14px;font-weight:500;text-align:center;z-index:1101;transition:opacity .15s;box-shadow:0px 0px 5px 2px rgba(0,0,0,.15);opacity:0;}
#btn_top:hover{transform:scale(1.05);text-decoration:none;}
#btn_top:active{transform:scale(.95);}
#btn_top:before{content:'';display:block;margin:20px auto -3px;width:8px;height:8px;border:1px solid #585858;border-width:1px 1px 0 0;transform:rotate(-45deg);}

@media (max-width:1390px) {
  #btn_top{position:fixed;left:auto;margin-left:0;right:20px;bottom:20px !important;top:auto !important;width:50px;height:50px;font-size:13px;}
  #btn_top:before{margin:15px auto -2px;}
}


@media (max-width:760px) {
  #btn_top{right:15px;bottom:15px !important;width:40px;height:40px;}
  #btn_top:before{margin:11px auto -3px;}
}




