@charset "utf-8";

#sub{padding-top:95px;overflow:hidden;}
#sub #content{padding-bottom:60px;}
#sub .inner{max-width:1240px;padding:0 20px;}

@media (max-width:1199px) {
  #sub{padding-top:60px;}
  #sub .inner{padding:0 20px;}
  #sub #content{padding-bottom:40px;}
}

@media (max-width:760px) {
  #sub .inner{padding:0 12px;}
  #sub #content{padding-bottom:35px;}
}

@media (max-width:1040px) {
  .skinTb-wrapper.width1000{margin-right:-20px;}
}

@media (max-width:808px) {
  .skinTb-wrapper.width768{margin-right:-20px;}
}

@media (max-width:670px) {
  .skinTb-wrapper.width640{margin-right:-12px;}
}



#visualbx{height:300px;position:relative;overflow:hidden;}
#visualbx img{height:300px;position:absolute;top:0;left:50%;margin-left:-960px;}

@media (max-width:1199px) {
  #visualbx{height:210px;}
  #visualbx img{height:210px;margin-left:-673px;}
}

@media (max-width:760px) {
  #visualbx{height:150px;}
  #visualbx img{height:150px;margin-left:-570px;}
}

#breadcrumb{border-bottom:1px solid #c1c1c1;}
#breadcrumb .route a{display:block;float:left;padding:0 22px;margin-right:8px;position:relative;color:#242424;font-weight:400;height:55px;line-height:55px;transition:all .1s;}
#breadcrumb .route a.home{padding:0;width:20px;margin-right:22px;background:url(/page/job/images/common/sp_job.png) -331px 7px no-repeat;background-size:520px 1500px;font-size:0;color:transparent;}
#breadcrumb .route a:after{content:'';display:block;width:6px;height:6px;border:1px solid #787878;border-width:1px 1px 0 0;transform:rotate(45deg);position:absolute;left:-6px;top:50%;margin-top:-4px;}
#breadcrumb .route a.home:after{display:none;}
#breadcrumb .route a:hover{font-weight:500;}
#breadcrumb .btn_box{position:absolute;top:10px;right:0;}

#breadcrumb .btn_box .print{display:block;float:left;background:url(/page/job/images/common/sp_job.png) -362px -2px no-repeat;background-size:520px 1500px;transition:all .1s;width:36px;height:36px;overflow:hidden;text-indent:-9999px;margin-right:7px;}
#breadcrumb .btn_box .print:hover{transform:scale(1.05);}
#breadcrumb .btn_box .print:active{transform:scale(.95);}

#breadcrumb .btn_box .share{float:left;position:relative;}
#breadcrumb .btn_box .share .open{width:36px;height:36px;background:url(/page/job/images/common/sp_job.png) -402px -2px no-repeat;background-size:520px 1500px;transition:all .15s;text-indent:-9999px;position:relative;overflow:hidden;text-indent:-9999px;display:block;}
#breadcrumb .btn_box .share .open:hover{transform:scale(1.05);}
#breadcrumb .btn_box .share .open:active{transform:scale(.95);}

#breadcrumb .btn_box .share ul{position:absolute;top:41px;left:0px;z-index:30;display:none;}
#breadcrumb .btn_box .share ul li + li{margin-top:2px;}
#breadcrumb .btn_box .share ul li a{display:block;overflow:hidden;text-indent:-9999px;width:38px;height:38px;background:url(/page/common/images/sp_dq.png) -1px -321px no-repeat;background-size:520px 1500px;}
#breadcrumb .btn_box .share ul li a.blog{background-position:-1px -321px;}
#breadcrumb .btn_box .share ul li a.facebook{background-position:-41px -321px;}
#breadcrumb .btn_box .share ul li a.twitter{background-position:-81px -321px;}
#breadcrumb .btn_box .share ul li a.cacao{background-position:-121px -321px;}
#breadcrumb .btn_box .share ul li a.insta{background-position:-161px -321px;}
#breadcrumb .btn_box .share ul li a.utube{background-position:-201px -321px;}


.title_box{padding:62px 0 50px;}
.title_box h3{line-height:1.4;text-align:center;color:#242424;font-size:32px;font-weight:500;}

@media (max-width:1199px) {
  #breadcrumb .btn_box{right:20px;top:7px;}
  #breadcrumb .btn_box .print{display:none;}
  #breadcrumb .route a{font-size:15px;height:50px;line-height:50px;}
  #breadcrumb .route a.home{background-position-y:5px;}

  .title_box{padding:42px 0 35px;}
  .title_box h3{font-size:26px;}
}


@media (max-width:760px) {
  #breadcrumb .btn_box{right:10px;top:4px;}
  #breadcrumb .route a{font-size:14px;height:44px;line-height:44px;padding:0 15px;}
  #breadcrumb .route a.home{background-position-y:2px;margin-right:15px;}
  #breadcrumb .route a:after{margin-top:-3px;}

  .title_box{padding:22px 0 18px;}
  .title_box h3{font-size:22px;}
}

#sub .pageTab >li{border-radius:10px;}
#sub .pageTab >li.active {background:#0076be;border-color:#0076be;}
#sub .titLv3:before{background:#0076be;width:4px;height:4px;top:12px;}
#sub .titLv2{padding-left:20px;}
#sub .titLv2:before{position: absolute;display:block;content: '';top:11px;left:0px;width:12px;height:12px;box-sizing:border-box;border:4px solid #0076be;border-radius:50%;}
#sub .skinTb:before{border-top:2px solid #2c53b0;}
#sub .skinTb-th,
#sub .skinTb >tr >th,
#sub .skinTb >thead >tr >th,
#sub .skinTb >tbody >tr >th,
#sub .skinTb >tfoot >tr >th {background-color:#ecf2f5;color:#242424;border-bottom-color:#d7d7d7;}
#sub .titLv2 span{display:inline-block;font-size:15px;background:#ecf2f5;font-weight:400;}
#sub .skinBtnBo{background:#043b72;color:#fff;border:0;}
#sub .skinBtnBo:before{display:none;}

#sub .skinIptTxt, 
#sub .skinSelectBox{border-color:#2c53b0;border-radius:5px;}

@media (max-width:1199px) {
  #sub .titLv3:before{top:11px;}
  #sub .titLv2:before{top:9px;}
}

@media screen and (min-width: 320px) and (max-width: 639px){
  #sub .pageTab > li {background:#0076be;border-radius:0;}
}

@media (max-width:760px) {
  #sub .titLv2:before {left:3px;}
  #sub .titLv2 span{font-size:13px;}
  #sub .titLv2:before{top:8px;}
  #sub .titLv2:before{top:8px;}
}

/*복지서비스*/
.service{position:relative;}
.service .infobx{background:#0076c0;padding:20px 30px;border-radius:15px;}
.service .infobx p{color:#fff;line-height:1.5;position:relative;padding:10px 0 10px 64px;}
.service .infobx p:before{content:'';display:inline-block;width:44px;height:45px;background:url(/page/job/images/sub/icon01.png) 0 0 no-repeat;background-size:cover;position:absolute;left:0;top:50%;margin-top:-22.5px}

.slist01{padding-top:10px;}
.slist01 .item{margin:27px 27px 0 0;float:left;width:calc((100% - 54.2px) / 3);display:block;border:1px solid #d3d3d3;}
.slist01 .item:nth-child(3n){margin-right:0;}
.slist01 .item .imgbx{overflow:hidden;position:relative;background:#f8f8f8;}
.slist01 .item .imgbx img{display:block;width:100%;transition:all .1s;}
.slist01 .item .text{padding:25px 20px 0;min-height:219px;}
.slist01 .item .text strong{line-height:1.2;overflow:hidden;text-align:center;font-size:24px;font-weight:500;display:block;}
.slist01 .item .text ul{padding:22px 0px 15px 0px;min-height:122px;}
.slist01 .item .text li{color:#585858;font-size:16px;padding-left:22px;position:relative;line-height:1.4;font-weight:300;}
.slist01 .item .text li:after{content:'';display:block;background:url(/page/job/images/main/icon01.png) 0 0 no-repeat;background-size:cover;width:15px;height:12px;position:absolute;top:7px;left:0;transform-origin:0% 0%;}
.slist01 .item .text li + li{margin-top:4px;}
.slist01 .item .text p{text-align:center;height:44px;line-height:42px;border-top:1px solid #eaeaea;color:#585858;font-size:16px;}
.slist01 .item .text p:before{content:'';display:inline-block;background:url(/page/job/images/main/icon02.png) 0 0 no-repeat;background-size:cover;width:18px;height:18px;vertical-align:-2px;margin-right:6px;transform-origin:0% 0%;}
.slist01 .item:hover .imgbx img{transform:scale(1.1);}
.slist01 .item:hover,
.slist01 .item:hover p,
.slist01 .item:hover div,
.slist01 .item:hover strong{text-decoration:none;}
.slist01 .item:hover strong{font-weight:700;}


@media (max-width:1199px) {
  .service .infobx{padding:20px 20px;}
  .service .infobx p{padding:8px 0 8px 61px;font-size:15px;}

  .slist01 .item{margin:20px 20px 0 0;width:calc((100% - 40.2px) / 3);}
  .slist01 .item .text{padding:20px 15px 0;min-height:191px;}
  .slist01 .item .text strong{font-size:22px}
  .slist01 .item .text ul{padding:17px 0px 12px 0px;min-height:105px;}
  .slist01 .item .text li{font-size:15px;padding-left:20px;}
  .slist01 .item .text li:after{transform:scale(.9);top:6px;}
  .slist01 .item .text p{height:40px;line-height:38px;font-size:15px;}
  .slist01 .item .text p:before{transform:scale(.9);vertical-align:-3px;}


}

@media (max-width:991px) {
  .slist01 .item{margin:15px 15px 0 0;width:calc((100% - 30.2px) / 3);}
  .slist01 .item .text{padding:17px 15px 0;min-height:179px;}
  .slist01 .item .text strong{font-size:20px}
  .slist01 .item .text ul{padding:12px 0px 10px 0px;min-height:98px;}


}

@media (max-width:760px) {
  .service .infobx{padding:10px 15px;}
  .service .infobx p{padding:8px 0 8px 59px;font-size:14px;}

  .slist01 .item{margin:10px 10px 0 0;width:calc((100% - 10.2px) / 2);}
  .slist01 .item:nth-child(3n){margin-right:10px;}
  .slist01 .item:nth-child(2n){margin-right:0;}
  .slist01 .item .text{padding:15px 10px 0 10px;min-height:155px;}
  .slist01 .item .text strong{font-size:16px}
  .slist01 .item .text ul{padding:10px 0px 8px 0px;min-height:85px;}
  .slist01 .item .text li{font-size:13px;padding-left:16px;}
  .slist01 .item .text li:after{transform:scale(.8);top:5px;}
  .slist01 .item .text p{height:36px;line-height:34px;font-size:12px;}
  .slist01 .item .text p:before{transform:scale(.8);vertical-align:-5px;margin-right:1px;}


}

.tmdum{font-weight:500 !important;}
.titLv3 + .titLv2{margin-top:25px;}
#sub .skinTb >thead >tr >th {padding:10px 10px}
#sub .skinFont-normal{font-weight:400;}
.noti01{font-size:16px;color:#555;font-weight:300;margin-top:-5px;word-break:keep-all;}

#sub .titLv3{padding-left:18px;}
#sub .titLv3:before{left:8px;}
#sub .titLv3  + .pgraph{padding-left:18px;}

#sub .titLv2 + .pgraph{padding-left:0;}

.boxty01{overflow:hidden;margin:15px 0 30px;}
.boxty01 > div{margin-right:10px;width:calc((100% - 10.2px) / 2);border:1px solid #d3d3d3;text-align:center;padding:35px 5px 30px;float:left;}
.boxty01 > div:nth-child(2n){margin-right:0;}
.boxty01 > div strong{display:block;line-height:1.2;font-size:22px;color:#2653a8;font-weight:500;}
.boxty01 > div p{margin-top:20px;line-height:1.4;font-size:16px;font-weight:300;color:#555;}
.boxty01 > div p span{display:inline-block;position:relative;padding-bottom:10px;font-size:18px;font-weight:500;color:#000;}
.boxty01 > div p span:after{content:'';display:block;background:url(/page/job/images/sub/line01.png) center center no-repeat;background-size:458px 6px;position:absolute;left:-10px;right:-10px;bottom:4px;height:6px;}
.boxty01 > div img{display:block;width:124px;margin:0 auto 30px;}

.boxty02{overflow:hidden;margin:15px 0 30px;padding-left:22px;}
.boxty02 > div{margin-right:10px;width:calc((100% - 10.2px) / 2);float:left;}
.boxty02 > div:nth-child(2n){margin-right:0;}
.boxty02 > div strong{display:block;text-align:center;height:56px;line-height:54px;background:#ecf2f5;border-top:2px solid #2c53b0;color:#242424;font-weight:500;font-size:18px;}
.boxty02 > div p{padding:25px 20px;word-break:keep-all;line-height:1.7;color:#555;font-weight:300;font-size:16px;border-bottom:1px solid #2c53b0;}


@media (max-width:1199px) {
  .titLv3 + .titLv2{margin-top:20px;}
  .noti01{font-size:15px;}

  .boxty01{margin:10px 0 25px;}
  .boxty01 > div{padding:25px 5px 20px;}
  .boxty01 > div strong{font-size:20px;}
  .boxty01 > div p{margin-top:15px;font-size:15px;}
  .boxty01 > div p span{padding-bottom:10px;font-size:16px}
  .boxty01 > div img{width:114px;margin:0 auto 25px;}

  .boxty02{margin:10px 0 25px;}
  .boxty02 > div strong{height:50px;line-height:48px;font-size:16px;}
  .boxty02 > div p{padding:15px 10px;font-size:15px;}
}

@media (max-width:991px) {

  .boxty01{margin:7px 0 20px;}
  .boxty01 > div{padding:15px 5px 12px;float:none;width:100%;margin-right:0;}
  .boxty01 > div:nth-child(2n){margin:10px 0 0;}
  .boxty01 > div strong{font-size:18px;}
  .boxty01 > div p{margin-top:10px;font-size:15px;}
  .boxty01 > div p span{padding-bottom:10px;}
  .boxty01 > div img{width:94px;margin:0 auto 17px;}

  .boxty02{margin:7px 0 20px;}
  .boxty02 > div{float:none;width:100%;margin-right:0;}
  .boxty02 > div:nth-child(2n){margin:10px 0 0;}
  .boxty02 > div strong{height:42px;line-height:40px;font-size:16px;}
  .boxty02 > div p{padding:12px 10px;font-size:15px;}
}


@media (max-width:760px) {
  .titLv3 + .titLv2{margin-top:12px;}
  #sub .titLv3{font-size:15px;}
  #sub .titLv3:before{top: 9px;}
  #sub .pgraph{font-size:14px;}
  .noti01{font-size:14px;}

  .boxty01{margin:7px 0 15px;}
  .boxty01 > div{padding:11px 10px 10px;}
  .boxty01 > div strong{font-size:16px;}
  .boxty01 > div p{margin-top:7px;font-size:14px;}
  .boxty01 > div p span{padding-bottom:10px;font-size:15px;}
  .boxty01 > div img{width:68px;margin:0 auto 12px;}
  .boxty01 > div p span:after{left:0px;right:0px;}

  .boxty02{margin:7px 0 10px;}
  .boxty02 > div strong{height:38px;line-height:36px;font-size:15px;}
  .boxty02 > div p{padding:13px 10px;font-size:14px;line-height:1.6;}
}

.introbx01{padding:40px 450px 30px 20px;position:relative;margin-bottom:30px;z-index:3;}
.introbx01:before{content:'';display:block;background:url(/page/job/images/sub/line02.png) 0 0 repeat;height:8px;position:absolute;left:0;right:0;bottom:2px;z-index:-2;}
.introbx01:after{content:'';display:block;background:url(/page/job/images/sub/icon08.png) 0 0 no-repeat;background-size:cover;height:262px;width:326px;background-size:cover;position:absolute;right:0;bottom:0;transform-origin:100% 100%;z-index:-1;}
.introbx01 h4{line-height:1.2;font-size:24px;font-weight:500;color:#2653a8;}
.introbx01 p{margin-top:20px;font-size:18px;font-weight:500;color:#3d3e45;line-height:1.5;word-break:keep-all;}

.introbx02{margin:12px 0 15px;border:1px solid #d3d3d3;padding:23px 30px 18px;}
.introbx02 h6{line-height:1.2;font-size:30px;font-weight:300;color:#3d3e45;}
.introbx02 h6 + span{margin-top:5px;display:block;word-break:keep-all;font-weight:300;color:#242424;}
.introbx02 p{color:#555;font-weight:300;}
.introbx02 ul{padding:30px 0px 20px;overflow:hidden;}
.introbx02 ul li{float:left;width:calc((100% - 60.2px) / 3);padding:12px 0 12px;height:220px;border-radius:110px;background:#f7fbfe;margin-right:30px;position:relative;}
.introbx02 ul li:last-child{margin-right:0;}
.introbx02 li strong{line-height:1.2;color:#2653a8;font-size:22px;font-weight:500;display:block;text-align:center;}
.introbx02 li strong em{color:#2b2b2b;}
.introbx02 li > span{line-height:1.4;color:#555;font-weight:400;text-align:center;display:block;margin-top:10px;}
.introbx02 li:before{content:'';display:block;background:url(/page/job/images/sub/icon04.png) 0 0 no-repeat;background-size:cover;margin:0 auto 17px;width:66px;height:70px;}
.introbx02 li:nth-child(2):before{background-image:url(/page/job/images/sub/icon05.png);}
.introbx02 li:nth-child(3):before{background-image:url(/page/job/images/sub/icon06.png);}

.down_btnbx{margin-top:50px;text-align:center;}
.down_btnbx a{display:inline-block;vertical-align:top;color:#fff;font-weight:400;border-radius:5px;background:#236dc7;height:50px;line-height:50px;background:#236dc7;width:290px;transition:all .05s;word-spacing:-1px;}
.down_btnbx a:nth-of-type(2n){background:#4586de}
.down_btnbx a:hover{transform:scale(1.05);text-decoration:none;}
.down_btnbx a:active{transform:scale(.95);}
.down_btnbx a + a{margin-left:22px;}
.down_btnbx a:after{content:'';display:inline-block;background:url(/page/job/images/sub/icon07.png) 0 0 no-repeat;background-size:cover;width:21px;height:21px;margin-left:11px;vertical-align:-3px;}

.pgraph .ty01{display:inline-block;height:26px;line-height:24px;border-radius:13px;padding:0 12px;background:#2653a8;color:#fff;font-weight:500;font-size:16px;margin-bottom:3px;}

@media (max-width:1199px) {
  .introbx01{padding:30px 330px 25px 15px;margin-bottom:25px;}
  .introbx01:after{transform:scale(.9);}
  .introbx01 h4{font-size:22px;}
  .introbx01 p{margin-top:15px;font-size:16px;}

  .introbx02{padding:20px 25px 15px;}
  .introbx02 h6{font-size:26px;}
  .introbx02 h6 + span{font-size:15px}
  .introbx02 p{font-size:15px;}
  .introbx02 ul{padding:20px 0px 15px;}
  .introbx02 ul li{width:calc((100% - 40.2px) / 3);height:200px;border-radius:100px;margin-right:20px;}
  .introbx02 li strong{font-size:20px;}
  .introbx02 li > span{margin-top:8px;font-size:15px;}
  .introbx02 li:before{margin:0 auto 13px;width:54px;height:57px;}

  .down_btnbx{margin-top:40px;}
  .down_btnbx a + a{margin-left:15px;}
  .down_btnbx a{height:46px;line-height:46px;width:270px;font-size:15px;}
  .down_btnbx a:after{width:18px;height:18px;vertical-align:-3px;}

  .pgraph .ty01{height:24px;line-height:24px;font-size:15px;margin-bottom:2px;}
}

@media (max-width:991px) {
  .introbx01{padding:25px 300px 25px 15px;margin-bottom:20px;}
  .introbx01:after{transform:scale(.8);}
  .introbx01 h4{font-size:20px;}
  .introbx01 p{margin-top:13px;font-size:15px;font-weight:400;}

  .introbx02{padding:17px 20px 15px;}
  .introbx02 h6{font-size:24px;}
  .introbx02 ul{padding:15px 0px 13px;}
  .introbx02 ul li{width:100%;height:auto;border-radius:100px;margin:0px 0 10px;}
  .introbx02 ul li:last-child{margin:0;}
  .introbx02 li strong{font-size:18px;}
  .introbx02 li:before{margin:0 auto 12px;width:41px;height:44px;position:absolute;left:20px;top:15px;}

  .down_btnbx{margin-top:25px;}
  .down_btnbx a + a{margin-left:12px;}
  .down_btnbx a{height:42px;line-height:42px;width:250px;font-size:14px;}
  .down_btnbx a:after{width:16px;height:16px;vertical-align:-3px;}
}

@media (max-width:760px) {
  .introbx01{padding:10px 10px 25px 10px;margin-bottom:15px;}
  .introbx01:after{transform:scale(.5);opacity:.3;}
  .introbx01 h4{font-size:18px;}
  .introbx01 p{margin-top:11px;font-size:14px;}

  .introbx02{padding:15px 15px 13px;}
  .introbx02 h6{font-size:20px;}
  .introbx02 h6 + span{font-size:14px}
  .introbx02 p{font-size:14px;}
  .introbx02 ul{padding:10px 0px 9px;}
  .introbx02 ul li{margin:0px 0 5px;}
  .introbx02 li strong{font-size:16px;}
  .introbx02 li > span{margin-top:7px;font-size:14px;}
  .introbx02 li:before{width:32px;height:34px;position:absolute;left:15px;top:15px;}

  .down_btnbx{margin-top:20px;}
  .down_btnbx a{height:40px;line-height:40px;display:block;margin:0 auto;}
  .down_btnbx a + a{margin:5px auto 0px;}
  .down_btnbx a:after{width:15px;height:15px;vertical-align:-3px;}

  .pgraph .ty01{height:22px;line-height:22px;font-size:14px;margin-bottom:1px;font-weight:400;}

}

