@charset "utf-8";

#sub{overflow:hidden;transition:padding .5s;}
#sub #content{padding-bottom:70px;}



@media (max-width:1199px) {
  #sub #content{padding-bottom:45px;}
  #sub{padding-top:0px !important;}
}

@media (max-width:760px) {
  #sub .inner{padding:0 15px;}
  #sub #content{padding-bottom:35px;}
}

@media (max-width:1040px) {
  .skinTb-wrapper.width1000{margin-right:-20px;}
}

@media (max-width:808px) {
  .skinTb-wrapper.width768{margin-right:-20px;}
}

@media (max-width:670px) {
  .skinTb-wrapper.width640{margin-right:-15px;}
}


#visual-bx{position:relative;height:374px;overflow:hidden;}
#visual-bx img{display:block;position:relative;width:1920px;left:50%;margin-left:-960px;image-rendering:-webkit-optimize-contrast;}
#visual-bx h2{position:absolute;bottom:1px;left:50%;margin-left:-600px;width:325px;height:143px;background:url(/page/sports/images/sub/bg_box01.png) no-repeat center top;display:flex;justify-content:center;align-items:center;font-weight:500;font-size:30px;color:#fff;font-family:'KoreanYNSJG';text-shadow:2px 2px 3px rgba(0,0,0,.3);}

#breadcrumb{border-bottom:1px solid #cbcbcb;position:relative;z-index:50;}
#breadcrumb .bx{padding-left:45px;position:relative;z-index:5;}
#breadcrumb .bx .home{display:flex;width:50px;height:60px;padding-right:10px;align-items:center;justify-content:center;font-size:0;position:absolute;top:0;left:0px;z-index:15;}
#breadcrumb .bx .home:after{content:'';background:url(/page/sports/images/common/sp_sports.png) -88px -10px no-repeat;background-size:520px 520px;width:25px;height:23px;image-rendering:-webkit-optimize-contrast;z-index:10;}
#breadcrumb .bx .home:before{content:'';display:block;position:absolute;right:0;top:50%;width:1px;height:20px;background:#989898;margin-top:-10px;}
#breadcrumb .bx .box{position:relative;width: 220px;float: left;}
#breadcrumb .bx .box .open{display:block;font-weight:400;height:60px;line-height:62px;padding:0 30px 0 30px;font-size:16px;color:#1b1b1b;transition:all .2s;z-index:10;position:relative;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;background:#fff;}
#breadcrumb .bx .box:hover .open{color:#01419a;font-weight:800;}
#breadcrumb .bx .box .open:before{content:'';display:block;position:absolute;right:0;top:50%;width:1px;height:20px;background:#989898;margin-top:-10px;}
#breadcrumb .bx .box .open:after{content:'';display:block;border-top:6px solid #323232;border-left:6px solid transparent;border-right:6px solid transparent;position:absolute;right:20px;top:50%;margin-top:-3px;transition:all .2s;}
#breadcrumb .bx .box .open.active:after{transform:rotate(180deg);}
#breadcrumb .bx .box ul{position:absolute;top:60px;left:0px;right:-1px;padding:15px 30px 7px;background:#f2f2f2;border:1px solid #cbcbcb;display:none;}
#breadcrumb .bx .box ul li + li{border-top:1px dotted #c9c9c9;}
#breadcrumb .bx .box ul a{display:block;height:39px;line-height:39px;color:#787878;font-size:14px;transition:all .05s;}
#breadcrumb .bx .box ul a:hover{color:#01419a;}

#breadcrumb .btn_box{position:absolute;right:20px;top:50%;margin-top:-20px;z-index:10;}
#breadcrumb .btn_box .share{display:inline-block;vertical-align:top;position:relative;}
#breadcrumb .btn_box .share .open{display:block;width:40px;height:40px;font-size:0;transition:all .1s;background:url(/page/sports/images/common/sp_sports.png) -4px -46px no-repeat;background-size:520px 520px;}
#breadcrumb .btn_box .print{display:inline-block;vertical-align:top;margin-left:3px;width:40px;height:40px;font-size:0;background:url(/page/sports/images/common/sp_sports.png) -53px -46px no-repeat;background-size:520px 520px;}
#breadcrumb .share .view{position:absolute;top:0;right:-1px;background:#e5e5e5;border-radius:15px;padding:10px 2px 10px;white-space:nowrap;display:none;bottom:-1px;}
#breadcrumb .share .view a{display:inline-block;width:40px;vertical-align:top;height:20px;font-size:0;color:transparent;position:relative;}
#breadcrumb .share .view a + a{margin-left:-3px;border-left:1px dotted #a8acb2;}
#breadcrumb .share .view a:after{content:'';display:block;background: url(/page/sports/images/common/sp_sports.png) -248px -50px no-repeat;background-size:520px 520px;position:absolute;width:22px;height:22px;left:50%;top:50%;margin: -11px 0 0 -11px;image-rendering:-webkit-optimize-contrast;}
#breadcrumb .share .view a.blog:after{background-position: -129px -7px;height:23px;}
#breadcrumb .share .view a.facebook:after{background-position: -170px -8px;}
#breadcrumb .share .view a.insta:after{background-position: -209px -8px;width: 24px;height: 24px;}
#breadcrumb .share .view a.i-sns:hover:after{background-position-y:-47.5px;}
#breadcrumb .share .view a.facebook.i-sns:hover:after{background-position-y:-48.5px;}
#breadcrumb .share .view a.insta.i-sns:hover:after{background-position-y:-48.5px;}

#title-bx{font-size:30px;color:#000;font-weight:500;font-family:'KoreanYNSJG';line-height:1.2;padding:50px 0 40px;text-align:center;border-bottom:1px solid #d6d6d6;margin-bottom:48px;}

.commingsoon{margin-bottom:50px;}
.commingsoon img{image-rendering: -webkit-optimize-contrast;}

@media (max-width:1199px) {
  #visual-bx{height:324px;}
  #visual-bx img{width:1663px;margin-left:0px;left:auto;right:-250px;position:absolute;top:0;}
  #visual-bx h2{left:0;margin-left:0px;width:280px;height:123px;font-size:26px;background-size:cover}
  #breadcrumb .bx{padding-left:35px;}
  #breadcrumb .bx .home{width:40px;height:50px;}
  #breadcrumb .bx .home:after{transform:scale(.8);}
  #breadcrumb .bx .home:before{height:16px;margin-top:-8px;}
  #breadcrumb .bx .box{position:relative;width:auto;float: left;}
  #breadcrumb .bx .box .open{height:50px;line-height:52px;padding:0 30px 0 30px;font-size:15px;pointer-events:none;}
  #breadcrumb .bx .box .open:before{display:none;}
  #breadcrumb .bx .box .open:after{right:0;transform:rotate(-90deg);}
  #breadcrumb .bx .box:last-child a:after{display:none;}
  #breadcrumb .btn_box{transform:scale(.9);transform-origin:100% 50%;}

  #title-bx{font-size:26px;padding:40px 0 30px;margin-bottom:35px;}

  #breadcrumb .bx .box:hover .open{color:#707070;font-weight:400;}
}



@media (max-width:991px) {
  #visual-bx{height:304px;}
  #visual-bx img{width:1560px;right:-260px;}
  #visual-bx h2{width:250px;height:110px;font-size:24px;}
  #title-bx{font-size:24px;padding:35px 0 25px;margin-bottom:30px;}
}


@media (max-width:760px) {
  #visual-bx{height:252px;}
  #visual-bx img{width:1300px;right:-230px;}
  #visual-bx h2{width:112px;height:50px;font-size:16px;bottom:1px;left:-15px;padding-left:10px;display:none;}
  #title-bx{font-size:22px;padding:35px 0 20px;margin-bottom:25px;}

  #breadcrumb .bx{padding-left:45px;display:flex;}
  #breadcrumb .bx .home{width:40px;height:40px;}
  #breadcrumb .bx .home:after{transform:scale(.65);}
  #breadcrumb .bx .home:before{height:14px;margin-top:-7px;}
  #breadcrumb .bx .box{position:relative;width:auto;flex:1;max-width:40%;}
  #breadcrumb .bx .box .open{height:40px;line-height:42px;padding:0 20px 0 20px;font-size:13px;pointer-events:none;width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
  #breadcrumb .bx .box .open:after{right:0px;transform:scale(.9) rotate(-90deg);}
  #breadcrumb .bx .box:last-child a:after{display:none;}
  #breadcrumb .btn_box{transform:scale(.8);transform-origin:100% 50%;right:15px;bottom:-43px;top:auto;margin:0;}

  .commingsoon{min-height:300px;display:flex;align-items:center;margin:0 10px;}
}


#sub .skinTb:before{border-top: 2px solid #467be1;}
#sub .skinTb-th,
#sub .skinTb >tr >th,
#sub .skinTb >thead >tr >th,
#sub .skinTb >tbody >tr >th,
#sub .skinTb >tfoot >tr >th {color:#03004c;border-bottom-color:#467be1;font-weight:700;background:#e9f1ff;}
#sub .skinTb >tbody >tr >th,
#sub .skinTb-th{border-bottom-color:#d8d8d8;}

.skinTb >tr >th,
.skinTb >thead >tr >th,
.skinTb >tbody >tr >th,
.skinTb >tfoot >tr >th,
.skinTb >tr >td,
.skinTb >thead >tr >td,
.skinTb >tbody >tr >td,
.skinTb >tfoot >tr >td,
.skinTb-th,
.skinTb-td {font-weight:400;}

#sub .contsBtn {border: 1px solid #1b51b8;}
#sub .contsBtn:before{background:#1b51b8;}
#sub .skinBtnBo{border:1px solid #1b51b8;}
#sub .skinBtnBo:before{background:#1b51b8;}

#sub .listLv2,
#sub .listLv{font-weight:400;color:#707070;}
#sub .imptBox{font-weight:400;}

#sub .pager{font-family:'Noto Sans KR', sans-serif; }
#sub .titLv{font-weight: 700;color:#313131;font-size: 26px;}
#sub .titLv2{font-weight:700;color:#313131;font-size: 22px;padding-left:32px;}
#sub .titLv3{padding-left:65px;font-weight:500;color:#313131;}
#sub .titLv2 + .pgraph{padding-left:32px;}
#sub .titLv3 + .pgraph{padding-left:65px;}
#sub .titLv2:before {top:4px;left: -1px;image-rendering:-webkit-optimize-contrast;background:url(/page/sports/images/common/sp_sports.png) -130px -9px no-repeat;background-size:520px 520px;width:20px;height:20px;}

#sub .titLv3:before{background:#2483b3;height:4px;width:11px;border-radius:2px;left:44px}
#sub .titLv2:before{width:21px;height:20px;background:url(/page/sports/images/sub/bul01.png) center center no-repeat;top:7px;left:3px;background-size:cover}

@media (max-width:1199px) {
  #sub .titLv2:before{top:2px;}
  #sub p.listLv:before,
  #sub div.listLv:before,
  #sub span.listLv:before,
  #sub .listLv >li:before,
  #sub .listLv >dt:before{top:15px;} 

  #sub .titLv{font-size:22px;}
  #sub .titLv2{font-size:19px;padding-left:31px;}
  #sub .titLv3{font-size:16px;padding-left:18px;}
  #sub .titLv3:before{left:0;}

  #sub .titLv2 + .pgraph{padding-left:0px;}
  #sub .titLv3 + .pgraph{padding-left:0px;}
}

@media (max-width:760px) {
  #sub p.listLv:before,
  #sub div.listLv:before,
  #sub span.listLv:before,
  #sub .listLv >li:before,
  #sub .listLv >dt:before{top:13px;} 

  #sub .titLv{font-size:20px;}
  #sub .titLv2{font-size:18px;padding-left:31px;}
  #sub .titLv3{font-size:15px;padding-left:18px;}
}


/*대회개요*/
.sports-outline{position:relative;padding:75px 0 15px;z-index:2;}
.sports-outline:before{content:'';display:block;width:1620px;position:absolute;top:0;bottom:0;background:#f3f8fc;left:50%;margin-left:-810px;z-index:-1;box-shadow:0px 0px 20px 0px rgba(0,0,0,.2);}
.sports-outline:after{content:'';display:block;width:1620px;position:absolute;top:0;bottom:0;background:url(/page/sports/images/sub/outline02.png) center bottom no-repeat;background-size:cover;left:50%;margin-left:-810px;pointer-events:none;}
.sports-outline .skinTb{background:#fff;font-weight:400;}

.sports-outline h4{width:330px;margin:0 auto 30px;}
.sports-outline h4 img{display:block;width:100%;image-rendering:-webkit-optimize-contrast;}
.sports-outline th img{display:inline-block;width:100px;image-rendering:-webkit-optimize-contrast;}
.sports-outline .info-txt{height:33px;text-align:center;display:block;width:155px;border-radius:17px;background:#467be1;font-weight:700;color:#fff;line-height:33px;margin-top:5px;}
.sports-outline .info-txt em{color:#ffa800;padding-right:5px;}
.sports-outline .info-txt2{padding-left:40px;display:block;margin-top:5px;}


@media (max-width:1199px) {
  .sports-outline{padding:55px 0 15px;}
  .sports-outline:after{width:1200px;margin-left:-600px;}
  .sports-outline .skinTb{background:#fff;font-weight:400;}

  .sports-outline h4{width:240px;margin:0 auto 25px;}
  .sports-outline .info-txt{height:30px;width:135px;line-height:30px;margin-top:3px;}
  .sports-outline .info-txt em{padding-right:3px;}
  .sports-outline .info-txt2{padding-left:33px;display:block;margin-top:3px;}
}


@media (max-width:991px) {
  .sports-outline{padding:45px 0 15px;}
  .sports-outline:after{width:1000px;margin-left:-500px;}
  .sports-outline h4{width:210px;margin:0 auto 20px;}
  .sports-outline .info-txt{width:125px;}
  .sports-outline .info-txt2{padding-left:30px;}
  .sports-outline .skinTb-wrapper{padding-right:20px;}
}

@media (max-width:760px) {
  .sports-outline{padding:35px 0 15px;}
  .sports-outline:after{width:800px;margin-left:-400px;background-position-x:-100px;}
  .sports-outline h4{width:190px;}
  .sports-outline .info-txt{width:115px;}
  .sports-outline .info-txt2{padding-left:25px;}
  .sports-outline .skinTb-wrapper{padding-right:20px;}
}


/*오시는길*/
.directions{position:relative;}
.directions .root_daum_roughmap{width:1630px;height:500px;}
.directions .root_daum_roughmap .wrap_map{height:500px;}
.directions .root_daum_roughmap .map_border{display:none;}

.directions .tit-bx{position:relative;display:flex;height:110px;border-radius:55px;background:#161362;box-shadow:0px 0px 10px 1px rgba(0,0,0,.3);margin-bottom:30px;z-index:2;}
.directions .tit-bx h4{display:flex;background:#fff;flex-basis:65%;border-radius:55px 65px 0 55px;align-items:center;justify-content:center;}
.directions .tit-bx h4 strong{font-family:'KoreanYNSJG';font-weight:500;font-size:30px;color:#e8658f;padding-right:30px;}
.directions .tit-bx h4 strong em{color:#4578e5;}
.directions .tit-bx h4 span{color:#313131;font-size:18px;word-break:keep-all;}

.directions .tit-bx a{display:flex;flex:1;color:#fff;align-items:center;padding-left:45px;position:relative;font-family:'KoreanYNSJG';font-weight:400;font-size:20px;}
.directions .tit-bx a:after{content:' ⇀';font-size:35px;margin-left:30px;font-family:Arial, Helvetica, sans-serif;font-weight:300;}
.directions .tit-bx a:hover{text-decoration:none;}
.directions .tit-bx a .character{content:'';display:block;z-index:2;position:absolute;bottom:-58px;right:-83px;width:260px;image-rendering: -webkit-optimize-contrast}
.directions .tit-bx a:hover .character{animation:sjump04 .35s 1 both linear;}

.directions .wrap-bx{position:relative;z-index:1;}
.directions .wrap-bx:before{content:'';display:block;position:absolute;left:-400px;right:-400px;top:-95px;bottom:150px;background:#f3f4f6;z-index:-1;}
.directions .info{display:flex;height:105px;align-items:center;padding-left:60px;position:relative;z-index:3;}
.directions .info h5{font-family:'KoreanYNSJG';color:#434343;font-size:30px;font-weight:400;padding-right:105px;position:relative;}
.directions .info h5 em{color:#4578e5;}
.directions .info h5:after{content:'';display:block;width:46px;height:2px;background:#9b9b9c;right:33px;top:50%;margin-top:-1px;position:absolute;}
.directions .info .add-bx{display:flex;align-items:center;margin-right:35px;}
.directions .info .add-bx span{font-size:18px;color:#434343;white-space: nowrap;}
.directions .info .add-bx a{width:55px;margin:-3px 0 0 5px;}
.directions .info .add-bx a img{display:block;width:100%;image-rendering: -webkit-optimize-contrast;}
.directions .info .tel-bx{font-size:18px;color:#434343;white-space: nowrap;}
.directions .info .tel-bx a{text-decoration:underline;}

.directions .map-bx{position:relative;width:1630px;left:50%;margin-left:-815px;padding-top:15px;z-index:1;}
.directions .map-bx:before{left:-15px;top:0;content:'';background:url(/page/sports/images/sub/patten01.png) center center repeat;border-radius:207px 35px 35px 35px;z-index:-1;right:15px;bottom:15px;display:block;position:absolute;}
.directions .map-bx:after{content:'';background:url(/page/sports/images/sub/directions01.png) center center repeat;display:block;position:absolute;z-index:-2;top: -52px;left: -73px;width:287px;height:289px;background-size:cover;}
.directions .map-bx .bx{overflow:hidden;border-radius:200px 35px 35px 35px;border:1px solid #ccc;position:relative;}
.directions .wrap-bx + .wrap-bx{margin-top:95px;}
.directions .wrap-bx + .wrap-bx:before{top:0;}
.directions .wrap-bx + .wrap-bx .info h5 em{color:#e8658f;}
.directions .wrap-bx + .wrap-bx .map-bx:after{background-image:url(/page/sports/images/sub/directions02.png);}

@keyframes sjump04{ 
  0%{transform:translateY(0%);}
  50%{transform:translateY(-10%);}
  100%{transform:translateY(0%);}
}


@media (max-width:1199px) {
  .directions .root_daum_roughmap{width:100%;height:450px;}
  .directions .root_daum_roughmap .wrap_map{height:450px !important;}
  .directions .root_daum_roughmap .map_border{display:none;}

  .directions .tit-bx{height:80px;margin-bottom:5px;}
  .directions .tit-bx h4{border-radius:55px 55px 0 55px;align-items:flex-start;flex-direction:column;padding-left:40px;}
  .directions .tit-bx h4 strong{font-size:26px;padding-right:0px;}
  .directions .tit-bx h4 span{font-size:16px;}

  .directions .tit-bx a{padding-left:35px;font-size:18px;}
  .directions .tit-bx a:after{font-size:30px;margin-left:20px;}
  .directions .tit-bx a .character{bottom:-48px;right:-25px;width:220px;}

  .directions .wrap-bx:before{top:-45px;bottom:100px;}
  .directions .info{display:flex;height:auto;align-items:flex-start;padding:20px 0 20px 40px;justify-content:center;flex-direction:column;}
  .directions .info h5{font-size:24px;padding-right:0px;}
  .directions .info h5:after{display:none;}
  .directions .info .add-bx{display:flex;align-items:center;margin:5px 0px 0;}
  .directions .info .add-bx span{font-size:16px;}
  .directions .info .add-bx a{width:50px;margin:-2px 0 0 5px;}
  .directions .info .tel-bx{font-size:16px;margin-top:5px;}

  .directions .map-bx{left:0;margin-left:0px;padding-top:10px;width:auto;}
  .directions .map-bx:before{left:-10px;border-radius:157px 25px 25px 25px;right:10px;bottom:10px;}
  .directions .map-bx:after{display:none;}
  .directions .map-bx .bx{border-radius:150px 25px 25px 25px;}
  .directions .wrap-bx + .wrap-bx{margin-top:55px;}
}

@media (max-width:991px) {
  .directions .root_daum_roughmap{height:380px;}
  .directions .root_daum_roughmap .wrap_map{height:380px !important;}

  .directions .tit-bx{height:76px;margin-bottom:5px;}
  .directions .tit-bx h4{padding-left:30px;}
  .directions .tit-bx h4 strong{font-size:24px;padding-right:0px;}
  .directions .tit-bx h4 span{font-size:15px;}

  .directions .tit-bx a{padding-left:25px;font-size:16px;}
  .directions .tit-bx a:after{font-size:26px;margin-left:15px;}
  .directions .tit-bx a .character{bottom:-35px;right:-25px;width:160px;}

  .directions .info{padding:15px 0 15px 30px;}
  .directions .info h5{font-size:22px;}
  .directions .info h5:after{display:none;}
  .directions .info .add-bx{margin:3px 0px 0;}
  .directions .info .add-bx span{font-size:15px;}
  .directions .info .add-bx a{width:50px;margin:-2px 0 0 5px;}
  .directions .info .tel-bx{font-size:15px;margin-top:3px;}

  .directions .map-bx:before{border-radius:127px 20px 20px 20px;}
  .directions .map-bx .bx{border-radius:120px 20px 20px 20px;}
  .directions .wrap-bx + .wrap-bx{margin-top:45px;}
}


@media (max-width:760px) {
  .directions .root_daum_roughmap{height:340px;}
  .directions .root_daum_roughmap .wrap_map{height:340px !important;}

  .directions .tit-bx{height:85px;margin-bottom:10px;}
  .directions .tit-bx h4{padding-left:25px;flex-basis:70%;}
  .directions .tit-bx h4 strong{font-size:20px;padding-right:0px;}
  .directions .tit-bx h4 span{font-size:13px;line-height:1.3;}

  .directions .tit-bx a{padding-left:15px;font-size:14px;}
  .directions .tit-bx a:after{font-size:22px;margin-left:10px;}
  .directions .tit-bx a .character{bottom:-40px;right:-25px;width:105px;}

  .directions .wrap-bx:before{top:-45px;bottom:60px;}
  .directions .info{padding:15px 0 15px 20px;}
  .directions .info h5{font-size:20px;}
  .directions .info h5:after{display:none;}
  .directions .info .add-bx{margin:3px 0px 0;}
  .directions .info .add-bx span{font-size:14px;}
  .directions .info .add-bx a{width:50px;margin:-2px 0 0 5px;}
  .directions .info .tel-bx{font-size:14px;margin-top:3px;}

  .directions .map-bx{left:0;margin-left:0px;padding-top:10px;;margin:0 -5px;}
  .directions .map-bx:before{left:-10px;border-radius:77px 10px 10px 10px;right:10px;bottom:10px;}
  .directions .map-bx .bx{border-radius:70px 10px 10px 10px;}
  .directions .wrap-bx + .wrap-bx{margin-top:35px;}
}