@charset "utf-8";

@import url(https://fonts.googleapis.com/earlyaccess/notosanssc.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);


/* 레이아웃 공통 */
html, body{position:relative; width:100%;}
body{color:#222; font-size:16px; line-height:1.6; font-family:'Noto Sans KR', sans-serif !important; word-break:break-all;letter-spacing:-0.6px;}
main{display:block;}
.confirmIframe body{overflow:hidden;}
#progressScroll{display:none;}
.page-wrap{overflow:hidden;}

[lang=zh]{font-family: 'Noto Sans SC', sans-serif !important;}
[lang=ja]{font-family: 'Noto Sans JP', sans-serif !important;}


/* 본문바로가기 */
.skipnav{position:absolute;z-index:2999;top:-100px;width:100%;padding:0;list-style:none;font-size:14px;}
.skipnav li{position:relative;top:0;left:0;width:100%}
.skipnav li a{display:block;position:absolute;top:0;width:100%;padding:15px 0;background:#000;color:#fff;text-align:center;text-decoration:none}
.skipnav li a:focus,.skipnav li a:active{top:100px}

/* slick 플러그인 */
.slick-slider .slick-list{display:block; overflow-x:hidden; overflow-y:hidden; position:relative}
.slick-slider .slick-list.dragging{cursor:pointer}
.slick-slider .slick-list .slick-track{display:block; position:relative; top:0; left:0}
.slick-slider .slick-list .slick-track:before, .slick-slider .slick-list .slick-track:after{display:table; content:''}
.slick-slider .slick-list .slick-track:after{clear:both}
.slick-slider .slick-list.slick-loading .slick-track{visibility:hidden}
.slick-slider .slick-list .slick-track .slick-slide{display:none; float:left}
.slick-slider[dir='rtl'] .slick-list .slick-track .slick-slide{float:right}
.slick-slider .slick-list .slick-track .slick-slide img{display:block;width:100%;}
.slick-slider .slick-list .slick-track .slick-slide.slick-loading img{display:none}
.slick-slider.slick-initialized .slick-list .slick-track .slick-slide{display:block}
.slick-slider .slick-list .slick-track.slick-loading .slick-slide{visibility:hidden}
.slick-slider .slick-arrow.slick-hidden{display:none}

/* 공통 */
.inner{max-width:1440px;position:relative;margin:0 auto;padding:0 20px;}

@media (min-width:1399px) {
  .mask_mobile{display:none !important;}
}
@media (max-width:1399px) {
  body{position:relative !important;}
  body.fixed{position:fixed !important;}
  #header #gnb_pc{display:none !important;}
  /*
  .mask_pc{display:none !important;}
  #sitemap{display:none !important;}
  */
}
@media (max-width:760px) {
  .inner{padding:0 15px;}
}

#header{position:fixed;z-index:2000;transition:all .2s;width:100%;background:transparent;color:#fff;}
#header .inner{transition:all .2s;}
#header h1{position:absolute;width:120px;top:50%;left:95px;margin-top:-30px;z-index:50;transition:all .2s;}
#header h1 a{display:block;}
#header h1 a img{display:block;width:100%;image-rendering: -webkit-optimize-contrast;transform-origin:0% 50%;transition:all .3s;}
#header.fixed{background:rgba(255,255,255,.7);box-shadow:0px 2px 3px 0px rgba(0,0,0,.07);}
#header.active:after{content:'';display:block;height:1px;background:#e5e5e5;position:absolute;bottom:0;left:0;width:100%;z-index:5;;transition:.3s .3s ease}
#header.active{background:rgba(255,255,255,1)}
#header.main_header.active #gnb_pc .depth_01 h2 a{color:#333;}
#header.active .btn_box .lang .btn{color:#333;}
#header.fixed .mask_pc{top:60px;}
#header.fixed .mask_pc2{top:60px;}
#header.fixed h1 a img{transform:scale(.7);}
#header.fixed #gnb_pc .depth_01 h2 a{height:60px;line-height:58px;font-size:18px;}
#header.fixed .bg_pc{top:60px;}
#header.fixed #gnb_pc .depth_02{top:60px;}

#gnb_pc{padding:0 0px 0 0px;position:relative;z-index:10;}
#gnb_pc nav{position:relative;}


#gnb_pc .depth_01{display:flex;position:relative;justify-content:center;}
#gnb_pc .depth_01 h2 a{display:block;height:95px;line-height:95px;text-align:center;color:#333;font-weight:500;font-size:20px;transition:all .3s;position:relative;z-index:10;padding: 0 45px;}
#header.main_header #gnb_pc .depth_01 h2 a{color:#fff}
#gnb_pc .depth_01 h2.active a{color:#a46000!important;}
#gnb_pc .depth_01 li:first-child .depth_02{padding-right:530px;}
#gnb_pc .depth_01 li:last-child .depth_02{padding-left:202px;}
#gnb_pc .depth_02{position:absolute;top:95px;left:0px;width:100%;padding:0;text-align:center;transition:top .3s;display:none;height:90px;background:#fff;}
#gnb_pc .depth_02:before{content:'';display:block;width:500px;position:absolute;top:0;bottom:0;left:50%;margin-left:-960px;width:1920px;background:#fff;z-index:-1;}

#gnb_pc .depth_02 .tit-bx{position:absolute;top:0;bottom:0;left:-260px;width:544px;padding:48px 0 0 260px;background:url(/page/dmz_foreign/images/common/bg_tit.png) 0 bottom no-repeat;background-size:cover}
#gnb_pc .depth_02 .tit-bx strong{display:block;font-size:30px;font-weight:700;line-height:1.1;}
#gnb_pc .depth_02 .tit-bx span{display:block;font-size:18px;line-height:1.1;color:#5f6062;margin:18px 0 43px;}
#gnb_pc .depth_02 .tit-bx img{display:block;border:1px solid #707070;}
#gnb_pc .depth_02 h3{display:inline-block;vertical-align:top;margin:22px 30px 0 0;}
#gnb_pc .depth_02 h3:nth-of-type(3n){margin-right:0;}
#gnb_pc .depth_02 h3 a{display:block;height:46px;line-height:44px;font-weight:500;font-size:20px;text-align:center;border-bottom:1px solid transparent;padding:0 12px;word-break:keep-all;align-items:center;position:relative;}
#gnb_pc .depth_02 h3 a:hover{border-color:#f69f1a}

[lang=zh] #gnb_pc .depth_01 h2.active a{color:#b442f2!important;}
[lang=zh] #gnb_pc .depth_02 h3 a:hover{border-color:#b442f2;}
[lang=ja] #gnb_pc .depth_01 h2.active a{color:#0e77e0!important;}
[lang=ja] #gnb_pc .depth_02 h3 a:hover{border-color:#0e77e0;}

@keyframes move01{
  0%{transform:translateX(-10%);}
  100%{transform:translateX(30%);}
}

.mask_pc{position:fixed;top:95px;left:0;right:0;bottom:0;background:rgba(0,0,0,.4);;display:none;z-index:1010;}
.mask_pc2{position:fixed;top:95px;left:0;right:0;bottom:0;background:rgba(0,0,0,.4);;display:none;z-index:1010;}
.mask_mobile{position:fixed;z-index:1500;top:0px;left:0;right:0;bottom:0;background:rgba(0,0,0,.4);display:none;}

#gnb_pc .depth_02 > h3{animation:move02 .3s .05s ease 1 both;}
#gnb_pc .depth_02 > h3:nth-of-type(2){animation-delay:.15s;}
#gnb_pc .depth_02 > h3:nth-of-type(3){animation-delay:.25s;}
#gnb_pc .depth_02 > h3:nth-of-type(4){animation-delay:.35s;}
#gnb_pc .depth_02 > h3:nth-of-type(5){animation-delay:.45s;}

#gnb_pc .depth_02 .tit-bx{animation:move03 .4s .15s ease-out 1 both;}


@keyframes move02{
  0%{transform:translate(0%, -50%);opacity:0;}
  100%{transform:translate(0%, 0%);opacity:1;}
}

@keyframes move03{
  0%{transform:translate(-50%, 0%);opacity:0;}
  100%{transform:translate(0%, 0%);opacity:1;}
}

#header .btn_box{position:absolute;top:0;right:0;z-index:50;}
#header .btn_box .lang{float:left;margin-right:30px;position:relative;}
#header .btn_box .lang .btn{display:block;height:95px;line-height:95px;color:#333;transition:all .3s;}
#header.main_header .btn_box .lang .btn{color:#fff;}
#header.active .btn_box .lang .btn{color:#333}
#header .btn_box .lang .btn:after{content:'▼';padding-left:6px;font-size:10px;vertical-align:1px;transform:scale(.6);transform-origin:50% 50%;display:inline-block;}
#header .btn_box .lang .btn.active:after{transform:scale(.6) rotateX(180deg);}
#header .btn_box .lang .btn:before{content:'';display:inline-block;vertical-align:-7px;background:url(/page/dmz_foreign/images/common/sp_dmz.png) -206px -48px no-repeat;background-size: 520px 991px;width:26px;height:26px;margin-right:3px;}
#header.main_header .btn_box .lang .btn:before{background:url(/page/dmz_foreign/images/common/ico_lang.png) no-repeat;}
#header.active .btn_box .lang .btn:before{background:url(/page/dmz_foreign/images/common/sp_dmz.png) -206px -48px no-repeat;background-size: 520px 991px;}
#header .btn_box .lang div{position:absolute;top:70px;width:118px;padding:7px 0;display:none;transition:all .3s;background:#fff;box-shadow: 10px 12px 8px 1px rgba(0, 0, 0, .2);}
#header .btn_box .lang div a{display:block;height:30px;line-height:30px;text-align:left;font-size:1.4rem;padding-left:34px;color:#626262;}
#header .btn_box .lang div a:hover{color:#00479d;text-decoration:underline;}
#header .btn_box .lang .active + div{display:block;}
#header.fixed .btn_box .lang .btn{height:60px;line-height:60px;}
#header.fixed .btn_box .lang div{top:60px;}
#header.fixed .btn_box .lang .btn:before{background:url(/page/dmz_foreign/images/common/sp_dmz.png) -206px -48px no-repeat;background-size: 520px 991px;}


#header .btn_box .btn_search{height:95px;width:95px;display:flex;float:left;font-size:0;background:#fdb11d;align-items:center;justify-content:center;transition:all .3s;}
#header .btn_box .btn_search:after{content:'';background:url(/page/dmz_foreign/images/common/sp_dmz.png) -208px -87px no-repeat;background-size: 520px 991px;width:27px;height:27px;transition:transform .2s;image-rendering:-webkit-optimize-contrast;}
#header .btn_box .btn_search:hover:after{transform:rotateY(180deg);}
#header.fixed .btn_box .btn_search{height:60px;line-height:60px;}
#header .btn_box .btn_search.active:after{width:31px;height:31px;background-position:-285px -86px;}

#header .btn_box .btn_sitemap{height:95px;width:95px;display:flex;float:left;font-size:0;align-items:center;justify-content:center;transition:all .3s;}
#header .btn_box .btn_sitemap:after{content:'';background:url(/page/dmz_foreign/images/common/sp_dmz.png) -246px -124px no-repeat;background-size: 520px 991px;width:30px;height:26px;transition:transform .2s;image-rendering:-webkit-optimize-contrast;}
#header.active .btn_box .btn_sitemap:after{background:url(/page/dmz_foreign/images/common/sp_dmz.png) -246px -87px no-repeat;background-size: 520px 991px;}
#header .btn_box .btn_sitemap:hover:after{transform:rotateY(180deg);}
#header.fixed .btn_box .btn_sitemap{height:60px;line-height:60px;}
#header.fixed .btn_box .btn_sitemap:after{background-position:-246px -87px}

#sitemap{position:fixed;overflow:auto;top:20px;left:50%;right:0;margin-left:-800px;width:1600px;height: 100%;background:#fff;z-index:100;padding:160px 0 20px;display:none;animation:move04 .5s 1 both ease;}
#sitemap.active{display:block;}
#sitemap h1{top:51px;left:50%;margin-top:0;margin-left:-600px;}
#sitemap ul{width:1200px;margin:0 auto 0;height:100%;text-align:center;white-space:nowrap;font-size:0;}
#sitemap li{text-align:left;}
#sitemap li+li{margin-top:80px;}
#sitemap li:last-child{padding-bottom:200px;}
#sitemap h2 {display:inline-block;vertical-align:top;}
#sitemap h2 a{display:block;height:50px;line-height:50px;width:282px;font-size:20px;color:#615f5f;position:relative;letter-spacing:-0.25px;border:1px solid #e0e0e0;text-align:center;}
#sitemap h2 a span{display:inline-block;transition:all .2s;}
#sitemap h2 a:hover span{transform:scale(1.1);}
#sitemap h3{display:inline-block;vertical-align:top;width:254px;margin-left:26px;}
#sitemap h3:first-of-type{margin-left:31px;}
#sitemap h3 > a{display:block;height:50px;line-height:50px;color:#555;font-weight:300;font-size:22px;position:relative;border-bottom:3px solid #e0e0e0;}
#sitemap h3 > a span{display:inline-block;padding:0 13px 5px 0;line-height:1.1;position:relative;z-index:2;white-space:nowrap;}
#sitemap h3 > a:hover{font-weight:400;border-color:#f5a22c;}
#sitemap h3 > a:hover span:before{left:0;right:0;}
#sitemap h3.active > a span:before{left:0;right:0;}
#sitemap h3.has_depth.active > a span:after{transform:rotateX(180deg);margin-top:8px;}
#sitemap h3 .bx{margin-top:7px;}
#sitemap h4 a{display:block;white-space:nowrap;height:30px;line-height:30px;transition:all .1s;color:#555;font-weight:400;position:relative;font-size:14px;color:#666}
#sitemap h4 a:hover{color:#f5a22c;font-weight:500;}
#sitemap h4 a span{display:inline-block;position:relative;padding-left:7px;}
#sitemap h4 a span:after{content:'ㆍ';position:absolute;top:50%;left:-7px;height:5px;line-height:5px;margin-top:-2px;font-size:18px;}
#sitemap ul p{color:#555;font-weight:300;font-size:22px;line-height:1.5;margin-top:15px;}
#sitemap .btn_sitemap_close{display:block;position:absolute;top:34px;right:50%;margin-right:-633px;width:95px;height:95px;font-size:0;}
#sitemap .btn_sitemap_close:after{content:'';display:block;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);background:url(/page/dmz_foreign/images/common/sp_dmz.png) -246px -87px no-repeat;background-size: 520px 991px;transition:transform .2s;image-rendering:-webkit-optimize-contrast;width:31px;height:31px;background-position:-285px -86px;}

[lang=zh] #sitemap h3 > a:hover{border-color:#b442f2;}
[lang=zh] #sitemap h4 a:hover{color:#b442f2;}
[lang=ja] #sitemap h3 > a:hover{border-color:#0e77e0;}
[lang=ja] #sitemap h4 a:hover{color:#0e77e0;}


@keyframes move04{
  0%{transform:translate(0%, 50%);opacity:0;}
  100%{transform:translate(0%, 0%);opacity:1;}
}

#side_menu{position:absolute;top:95px;right:0;transition:all .3s;z-index:5;}
#side_menu a{display:flex;width:95px;height:95px;color:#000;text-align:center;transition:all .3s;align-items:center;justify-content:center;flex-direction:column;}
#side_menu a span{display:block;}
#side_menu a.ty01{background:#282c33;}
#side_menu a:before{content:'';width:50px;height:50px;background:url(/page/dmz_foreign/images/common/sp_dmz.png) -294px -135px no-repeat;background-size: 520px 991px;image-rendering:-webkit-optimize-contrast;transition:transform .25s;}
#side_menu a.ty02:before{background-position:-54px -214px;}
#side_menu a.ty03:before{background-position:-138px -214px;margin-bottom:2px;}
#side_menu a.ty04:before{background-position:-212px -214px;}
#side_menu a.ty05:before{background-position:-296px -211px;}
#side_menu a:hover:before{transform:rotateY(180deg);}

#side_menu a.ty01.active:before{background-position:-336px -78px;}

#header.fixed #side_menu, #header.active #side_menu{top:60px;}
#header.fixed #side_menu a, #header.active #side_menu a{height:60px;}
#header.fixed #side_menu a span, #header.active #side_menu a span{display:none;}
#header.fixed #side_menu a:before, #header.active #side_menu a:before{transform:scale(.85);}
#header.fixed #side_menu a:hover:before, #header.active #side_menu a:hover:before{transform:rotateY(180deg) scale(.85);}

#search{position:fixed;z-index:20;background:rgba(0,0,0,.5);top:95px;right:95px;left:0px;bottom:0;display:none;transition:all .2s;animation:search-move2 .2s both ease-out;}
#search .wrap{position:absolute;top:0px;left:0;right:0px;background:#fff;z-index:5;padding:45px 0 50px;transition:all .2s;animation:search-move .35s  both ease-out;}
#search .bx{max-width:700px;margin:0 auto;}
#search .bx .line{border:8px solid #feaf17;border-radius:42px;position:relative;padding-right:66px;overflow:hidden;}
#search .bx .line input[type="search"]{padding:2px 0 0 50px;color:#8e8e8e;font-size:18px;font-weight:500;height:66px;line-height:66px;background:transparent;width:100%;border-radius:42px 0 0 42px;}
#search .bx .line input[type="search"]:focus::placeholder{color:transparent}
#search .bx .line input[type="submit"]{display:block;position:absolute;top:0;bottom:0;right:0;width:66px;background: url(/page/dmz_foreign/images/common/sp_dmz02.png) 9px -169px no-repeat;background-size: 520px 1186px;font-size:0;}

#search .bx .recom{padding-left:20px;margin-top:27px;white-space:nowrap;}
#search .bx .recom strong{display:inline-block;vertical-align:top;position:relative;padding-right:40px;color:#333;font-size:24px;font-weight:900;height:50px;line-height:50px;margin-right:12px;}
#search .bx .recom strong:after{content:'';display:block;width:22px;height:2px;background:#000;position:absolute;right:0;top:50%;margin-top:-1px;}
#search .bx .recom p{display:inline-block;vertical-align:top;background:#feb01b;border-radius:25px;padding:0 25px;}
#search .bx .recom p a{display:inline-block;vertical-align:top;height:50px;line-height:48px;padding:0 17px;font-size:22px;font-weight:500;color:#fff;position:relative;}
#search .bx .recom p a:after{content:'';display:block;width:1px;height:12px;background:#ffdb98;position:absolute;right:0;top:50%;margin-top:-6px;}
#search .bx .recom p a:last-child:after{display:none;}
#search .close{display:block;bottom:25px;right:35px;width:20px;height:20px;background: url(/page/dmz_foreign/images/common/sp_dmz.png) -452px -727px no-repeat;background-size: 520px 991px;position:absolute;font-size:0;}

#header.active-s{background:#fff;box-shadow:none !important;}
#header.active-v{background:#fff;box-shadow:none !important;}
.fixed ~ #search{top:60px;}
.fixed ~ #search .wrap{padding:20px 0 30px}
.fixed ~ #search .bx .line input[type="search"]{height:50px;line-height:50px;}
.fixed ~ #search .bx .line input[type="submit"]{background-position-y:-176px;}


#pro-video{position:fixed;z-index:20;background:rgba(0,0,0,.5);top:95px;right:95px;left:0px;bottom:0;transition:all .2s;animation:search-move2 .2s both ease-out;display:none;}
#pro-video .wrap{position:absolute;top:80px;left:0;right:0px;z-index:5;transition:all .2s;animation:search-move .35s  both ease-out;width:740px;margin:0 auto;padding-top:30px;}
.fixed ~ #pro-video{top:60px;}

#pro-video .video{width:100%;box-shadow:5px 5px 15px 0px rgba(0,0,0,.3);}
#pro-video .video{position:relative;padding-top:56.23%;}
#pro-video .video iframe{top:0;left:0;}
#pro-video .more{height:56px;line-height:56px;text-align:right;color:#fff;font-size:18px;display:block;}
#pro-video .more:after{content:'';height:24px;width:24px;vertical-align:middle;margin-top:-5px;;display:inline-block;margin-left:10px;background: url(/page/dmz_foreign/images/common/sp_dmz.png) -448px -646px no-repeat;background-size: 520px 991px;}
#pro-video .close{display:block;top:0;right:0;width:20px;height:20px;background: url(/page/dmz_foreign/images/common/sp_dmz.png) -452px -771px no-repeat;background-size: 520px 991px;position:absolute;font-size:0;}


@keyframes search-move{
  0%{transform:translateY(-50%);opacity:.3;}
  100%{transform:translateY(0%);opacity:1;}
}
@keyframes search-move2{
0%{opacity:0;}
100%{opacity:1;}
}


@keyframes sit01{
  0%{transform:translateY(-5%);opacity:.3;}
  100%{transform:translateY(0%);opacity:1;}
}


@media (max-width:1600px) {
  #gnb_pc .depth_01 h2 a{font-size:18px;padding:0 30px;}
  #header h1{left:30px;}
  #pro-video{left:0;}
  #search{left:0;}
}

@media (max-width:1399px) {
  #header h1{left:15px;width:75px;margin-top:-19px;}
  #header.active:after{display:none;}
  #header{height:60px;border-bottom:1px solid #f1f1f1;}
  #header.fixed{border:0;}
  #header.active-m{background:#fff;}
  #header.active-m:after{content:'';display:block;left:0;right:0;bottom:-1px;z-index:49;background:#f1f1f1;height:1px;position:absolute;}
  #header .btn_box .btn_search,
  #header .btn_box .btn_sitemap{height:60px;line-height:60px;width:60px;}
  #header .btn_box .btn_search:after,
  #header .btn_box .btn_sitemap:after,
  #header .btn_box .btn_search:hover:after,
  #header .btn_box .btn_sitemap:hover:after{transform:scale(.8);}
  #header .btn_box .btn_sitemap:after {background-position: -246px -87px;}
  #header.main_header .btn_box .btn_sitemap:after {background-position: -246px -124px;}
  /* #header.main_header .btn_box .lang .btn{color: #333;} */
  #header .btn_box .lang .btn{color: #333;}
  #header .btn_box .lang .btn:before {background: url(/page/dmz_foreign/images/common/sp_dmz.png) -206px -48px no-repeat;background-size: 520px 991px;}
  #header .btn_box .mopen{height:72px;width:72px;}
  #header.fixed{height:50px;}
  #header.fixed .btn_box .btn_search{height:50px;line-height:50px;}
  #header.fixed .btn_box .btn_sitemap{height:50px;line-height:50px;}

  #side_menu{display:none;}
  #header .btn_box .lang{margin-right:15px;}
  #header .btn_box .lang .btn{height:60px;line-height:60px;font-size:13px;}
  #header .btn_box .lang .btn:before{transform:scale(.8);transform-origin:100% 50%;}
  #header .btn_box .lang div{top:50px;left:5px;}
  #header .btn_box .lang div a{font-size:12px;height:22px;line-height:22px;padding-left:12px;}
  #header .btn_box .lang div a:before{width:12px;height:12px;}
  #header.fixed .btn_box .lang .btn{height:50px;line-height:50px;}
  #header.fixed .btn_box .lang div{top:40px;}

  #sitemap{position:absolute;left:auto;height:calc(100vh - 60px);top:60px;right:-414px;;padding:10px 15px 20px;display:block !important;animation:none;width:414px;max-width:93%;transition:all .3s ease;overflow-y:auto;}
  #header.fixed #sitemap{height:calc(100vh - 50px);top:50px;}
  #sitemap.active{right:0;}
  #sitemap ul{max-width:1200px;width:auto;border-bottom:1px solid #000;height:auto;}
  #sitemap ul p{display:none;}
  #sitemap li{display:block;width:100%;margin:0;border-bottom:1px solid #d2d2d2;}
  #sitemap li:last-child{border-bottom:0;padding-bottom:0;}
  #sitemap li.active{border-color:#000;}
  #sitemap li+li{margin-top:0;}

  #sitemap h2{display:block;}
  #sitemap h2 a{font-size:2.3rem;width:auto;height:72px;line-height:72px;padding-bottom:0;border:0;color:#000}
  #sitemap h2 a:after{display:none;}
  #sitemap h2 a:hover span{transform:scale(1);}
  #sitemap h2.active{padding-bottom:70px;}
  #sitemap h2.active a:after{content:'';display:block;height:50px;width:1px;background:#000;position:absolute;bottom:-47px;left:50%;}
  #sitemap h2.has_depth a:before{content:'';display:block;width:31px;height:31px;background:url(/page/dmz_foreign/images/common/icon05.png) 50% 50% no-repeat;background-size:cover;position:absolute;right:10px;top:50%;margin-top:-16px;}
  #sitemap h2.active a:before{background-image:url(/page/dmz_foreign/images/common/icon04.png);}

  #sitemap h3{display:none;margin:0!important;width:auto;}
  #sitemap h3 > a{height:58px;color:#fff;font-weight:400;line-height:58px;font-size:20px;background:#ffa912;display:block;margin-bottom:10px;text-align:center;border-bottom:0;}
  #sitemap h3 > a span{padding: 0 13px 5px 13px;}
  #sitemap h3 > a span:before{content:'';display:block;z-index:-1;position:absolute;bottom:0;left:51%;right:51%;height:13px;background:#eee;transition:all .2s;}
  #sitemap h3:last-of-type > a{margin-bottom:15px;}
  #sitemap h3.has_depth > a  span:after{display:none;}
  #sitemap h3.has_depth > a:after{content:'+';display:block;position:absolute;right:15px;top:0;font-size:28px;font-weight:100;}
  #sitemap h3.active > a{background:transparent;color:#000;border-top:1px solid #000;}
  #sitemap h3.active > a:after{content:'-';font-size:60px;}
  #sitemap h3 > a:hover span:before{left:51%;right:51%;}
  #sitemap h3.active > a  span:before{left:0 !important;right: 0 !important}
  #sitemap .bx{background:#f3f3f3;margin-bottom:15px;text-align:left;padding:5px 0 5px 15px;}
  #sitemap h4.active a{color:#000;font-weight:500;}
  #sitemap h4 a span{padding-left:13px;}
  #sitemap h4 a span:after{content:'-';position:absolute;top:50%;left:0;height:5px;line-height:5px;margin-top:-2px;font-size:18px;}
  #sitemap .menu{margin-top:10px;display:flex;}
  #sitemap .menu a{display:flex;height:85px;background:#fff;color:#000;text-align:center;transition:all .3s;align-items:center;justify-content:center;flex-direction:column;flex:1;}
  #sitemap .menu a span{display:block;font-size:14px;}
  #sitemap .menu a:before{content:'';width:50px;height:50px;background:url(/page/dmz_foreign/images/common/sp_dmz.png) -294px -135px no-repeat;background-size: 520px 991px;image-rendering:-webkit-optimize-contrast;transform:scale(.8);}
  #sitemap .menu a.ty02:before{background-position:-54px -214px;}
  #sitemap .menu a.ty03:before{background-position:-138px -214px;margin-bottom:2px;}
  #sitemap .menu a.ty04:before{background-position:-212px -214px;}
  #sitemap .menu a.ty05:before{background-position:-296px -211px;}

  #header.fixed{box-shadow:0px 2px 3px 0px rgba(0,0,0,.07) !important;}

  #header.fixed .btn_box .btn_search{width:0px;transition:all .35s}
  #search{top:60px;right:0;left:0;bottom:auto;}
  .fixed ~ #search{top:-120px;transition:all .45s;}
  #search .wrap{padding:30px 0 30px;box-shadow:0px 2px 3px 0px rgba(0,0,0,.2);}
  .fixed ~ #search .wrap{padding:20px 0 20px;}
  #search .bx{max-width:500px;}
  #search .bx .line{border:3px solid #feaf17;padding-right:42px;}
  #search .bx .line input[type="search"]{padding:1px 0 0 30px;font-size:16px;height:42px !important;line-height:42px !important;}
  #search .bx .line input[type="submit"]{background-position-y:-170px !important;width:52px;transform:scale(.8);top:-10px;bottom:-10px;}

  #search .bx .recom{padding-left:0px;margin-top:15px;}
  #search .bx .recom strong{padding-right:30px;font-size:18px;height:40px;line-height:40px;margin-right:10px;}
  #search .bx .recom strong:after{width:18px;height:2px;}
  #search .bx .recom p{padding:0 20px;}
  #search .bx .recom p a{height:40px;line-height:38px;padding:0 12px;font-size:16px;}
  #search .close{bottom:20px;right:20px;width:20px;height:20px;display:none;}


  #pro-video{top:60px;right:0px;left:0px;bottom:0;display:none !important;}
  #pro-video .wrap{top:60px;left:0;right:0px;max-width:680px;}
  .fixed ~ #pro-video{top:50px;}
  #pro-video .more{height:52px;line-height:52px;font-size:16px;}
  #pro-video .more:after{transform:scale(.9);transform-origin:100% 50%;}

  [lang=zh] #sitemap h3 > a{background : linear-gradient(to right, #b044f2 0%, #8525bf 100%);}
  [lang=ja] #sitemap h3 > a{background : linear-gradient(to right, #0e77e0 0%, #0c5daf 100%);}
}


#btn_top{position:absolute;top:700px;left:50%;margin-left:750px;display:block;z-index:1101;transition:opacity .1s;opacity:0;background:url(/page/dmz_foreign/images/common/icon03.png) 50% 50% no-repeat;background-size:cover;width:60px;height:60px;font-size:0;image-rendering:-webkit-optimize-contrast;}
#btn_top:hover{transform:scale(1.03);}
#btn_top:active{transform:scale(.97);}

@media (max-width:1699px) {
  #btn_top{position:fixed;left:auto;margin-left:0;right:20px;bottom:20px !important;top:auto !important;width:50px;height:50px;}
}

@media (max-width:760px) {
  #btn_top{right:15px;bottom:15px !important;width:40px;height:40px;}

  #search .wrap{padding:20px 0 15px !important}
  #search .bx{padding:0 15px;}
  #search .bx .line{border:2px solid #feaf17;padding-right:38px;}
  #search .bx .line input[type="search"]{padding:0px 0 0 15px;font-size:14px;height:38px !important;line-height:38px !important;}
  #search .bx .line input[type="submit"]{background-position-y:-172px !important;width:50px;transform:scale(.7);}

  #search .bx .recom{padding-left:10px;margin-top:10px;white-space:normal;}
  #search .bx .recom strong{padding-right:20px;font-size:15px;margin-right:6px;height:34px;line-height:34px;}
  #search .bx .recom strong:after{width:12px;}
  #search .bx .recom p{padding:0 6px;}
  #search .bx .recom p a{height:34px;line-height:32px;padding:0 9px;font-size:13px;font-weight:400;}
  #search .close{bottom:auto;right:10px;top:15px;transform:scale(.9);transform-origin:100% 0%;}

  #pro-video .wrap{top:50px;left:0;right:0px;}
  #pro-video .more{height:44px;line-height:44px;font-size:15px;padding-right:15px;}
  #pro-video .more:after{transform:scale(.8);transform-origin:100% 50%;margin-left:5px;}
  #pro-video .close{transform:scale(.9);transform-origin:100% 0%;right:15px;}
}

@media (max-width:400px) {
  #search .bx .recom strong{padding-right:15px;font-size:14px;margin-right:5px;}
  #search .bx .recom strong:after{width:10px;}
  #search .bx .recom p{padding:0 6px;}
  #search .bx .recom p a{padding:0 8px;font-size:12px;}
}


#footer{background:#1b1b1b;z-index:30;position:relative;}
#footer .inner{z-index:2;padding:58px 0 85px 135px;}
#footer h1{position:absolute;top:53px;left:-45px;}
#footer h1 a{display:block;width:110px;}
#footer h1 a img{display:block;width:100%;image-rendering: -webkit-optimize-contrast;}
#footer .address p{line-height:1.4;color:#c9caca;font-size:15px;font-weight:300;word-break:keep-all;}
#footer .address p a{color:#c9caca}
#footer .address p + p{margin-top:4px;}
#footer .address p span{display:inline-block;position:relative;}
#footer .address p span+span{padding-left:16px;}
#footer .address p span+span:before{content: '';display: block;background: #8a8a8b;height: 13px;width: 2px; position: absolute;left: 6px;top: 50%;margin-top:-6px;}
#footer .address p em{display:inline-block;padding:0 3px;}
#footer .link{position:absolute;right:-45px;bottom:85px;white-space:nowrap;}
#footer .link > a{display:inline-block;vertical-align:top;height:42px;line-height:42px;padding:0 25px;position:relative;color:#fff;font-size:15px;position:relative;}
#footer .link > a:hover{color:#eda129;}
#footer .link > a:after{content:'';display:block;background:#898989;height:14px;width:1px;position:absolute;left:0;top:50%;margin-top:-7px;}
#footer .link > a:first-child:after{display:none;}
#footer .link .family{display:inline-block;vertical-align:top;margin-left:5px;position:relative;}
#footer .link .family .open{display:block;width:190px;height:42px;line-height:35px;border:3px solid #615f5f;position:relative;padding-left:25px;font-size:15px;color:#fff;z-index:2;background:#1b1b1b}
#footer .link .family .open:after{content:'';width:6px;height:6px;border:2px solid #ababab;border-width:2px 2px 0 0;position:absolute;top:50%;margin-top:-2px;right:20px;transform:rotate(-45deg);transition:all .15s;}
#footer .link .family .open.active:after{transform:rotate(135deg);margin-top:-5px;}
#footer .link .family .view{position:absolute;width:100%;bottom:41px;background:#fff;border:1px solid #1b1b1b;padding:5px 0;visibility:hidden;}
#footer .link .family .view a{display:block;height:32px;line-height:32px;padding-left:25px;font-size:15px;color:#000;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#footer .link .family .active + .view{visibility:visible;animation:fa01 .3s 1 both ease-out;}

@keyframes fa01{
  0%{transform:translateY(25%);opacity:0;}
  100%{transform:translateY(0%);opacity:1;}
}


@media (max-width:1399px) {
  #footer .inner{padding:10px 20px 80px}
  #footer h1{top:auto;left:50%;bottom: 22px;margin-left: -40px;}
  #footer h1 a{width:80px;}
  #footer .address{padding-top:17px;}
  #footer .address p{font-size:14px;text-align:center;}
  #footer .address p + p{margin-top:5px;}
  #footer .address p span{display:block;margin-top:1px;}
  #footer .address p span+spa{padding-left:0;}
  #footer .address p span+span:before{display:none;}
  #footer .address p em{display:none;}

  #footer .link{right:0;left:0;bottom:auto;text-align:center;top:15px;}
  #footer .link > a{height:36px;line-height:36px;padding:0 20px;font-size:14px;}
  #footer .link > a:first-child{color:#eda129;}
  #footer .link .family{display:block;margin:10px auto 0;width:190px;text-align:left;}
  #footer .link .family .open{height:40px;line-height:36px;border:1px solid #615f5f;padding:0 0 0 15px;font-size:14px;}
  #footer .link .family .open:after{right:15px;}
  #footer .link .family .view{bottom:39px;}
  #footer .link .family .view a{height:30px;line-height:30px;padding-left:15px;font-size:14px;}
}

@media (max-width:760px) {
  #footer .inner{padding:10px 15px 80px}
}