@charset "utf-8";

#search_wrap{position:relative;padding:1px 0 70px;}
.search_box{margin-top:129px;}
.search_box .box{max-width:550px;margin:0 auto;border-bottom:2px solid #ef3d44;position:relative;}
.search_box #keyword{height:50px;line-height:50px;padding:3px 0 0 5px;font-size:18px;color:#848282;width:calc(100% - 30px);font-weight:400 !important;font-family: 'Noto Sans KR', sans-serif !important;}
.search_box #keyword:focus::placeholder{color:transparent}
.search_box #searchKeyword{height:50px;line-height:50px;padding:3px 0 0 5px;font-size:18px;color:#848282;width:calc(100% - 30px);font-weight:400 !important;font-family: 'Noto Sans KR', sans-serif !important;}
.search_box #searchKeyword:focus::placeholder{color:transparent}
.search_box .go{width:30px;height:50px;position:absolute;top:0px;right:0px;overflow:hidden;text-indent:-9999px;background:url(/page/common/images/sp_dq_02.png) -483px -711px no-repeat;background-size:520px 1732px;}
.search_box .go:active{transform:scale(.9);}
.search_box .result_title{text-align:center;line-height:1.3;font-size:22px;color:#454545;font-weight:300;margin-top:63px;}
.search_box .result_title strong{color:#ed0d11;font-weight:700;}
.search_box .result_title em{color:#ed0d11;font-weight:400;}

.result_tab{overflow:hidden;padding:75px 0 10px;}
.result_tab li{float:left;width:calc((100% - 46px) / 4);margin:15px 15px 0 0;}
.result_tab li:nth-child(4n){margin-right:0;}
.result_tab li a{display:block;height:50px;line-height:48px;border-radius:4px;text-align:center;color:#555;position:relative;transition:all .5s;text-decoration:none !important;overflow:hidden;}
.result_tab li a:after{content:'';display:block;position:absolute;top:0px;left:0px;right:0px;bottom:0px;border:1px solid #aeaeae;border-radius:4px;transition:all .5s;}

.result_tab li.active a{color:#fff;font-weight:700;text-decoration:underline;background:url(/page/design/images/sub/bg_search.jpg) 0 0 repeat;border:0;text-decoration:underline !important;}
.result_tab li.active a:after{border:1px solid #ec1f27;}
.result_tab li a:before{content:'';z-index:-1;position:absolute;bottom:0%;left:50%;background:url(/page/design/images/sub/bg_search.jpg) 0 0 repeat;width:410px;height:410px;margin-left:-205px;margin-bottom:-410px;transform-origin:50% 48%;border-radius:43%;transition-duration:1.5s;transition-property:margin-bottom;transition-timing-function:ease;}
.result_tab li a:hover{color:#fff !important;text-decoration:none;}
.result_tab li a:hover:after{border:1px solid #ec1f27;}
.result_tab li a:focus:after{display:none;}
.result_tab li a:active{transform:scale(.9);}
.result_tab li a:hover:before{margin-bottom:-240px;animation: rotate 1000ms infinite linear;}
.result_tab li.active a:hover{text-decoration:underline;border:0;}
.result_tab li.active a:before{display:none;}

@keyframes rotate {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}


@media (max-width:1199px) {
   #search_wrap{padding:1px 0 40px;}
   .search_box{margin-top:69px;}
   .search_box .result_title{margin-top:33px;}
   .result_tab{padding:45px 0 10px;}
}

@media (max-width:760px) {
   #search_wrap{padding:1px 0 20px;}
   .search_box{margin-top:49px;}
   .search_box .result{margin-top:25px;}
   .result_tab{padding:35px 0 10px;}
   .search_box .box{max-width:400px;}
   .search_box .result_title{font-size:20px;}
   
}

@media (max-width:639px) {
    .result_tab li{float:left;width:calc((100% - 16px) / 2);margin:15px 15px 0 0;}
   .result_tab li:nth-child(2n){margin-right:0;}
}

.result{margin-top:36px;position:relative;}
.result h4{line-height:2.2;border-bottom:1px solid #555;color:#555;font-weight:400;font-size:20px;}
.result h4 + p{text-align:center;padding:40px 0 30px;font-size:18px;}
.result h4 em{font-weight:300;}
.result .more{display:block;position:absolute;top:8px;right:20px;width:26px;height:26px;overflow:hidden;text-indent:-9999px;transition:all .3s;}
.result .more:after{content:'';display:block;width:2px;height:26px;background:#ed1c24;position:absolute;top:0px;left:50%;margin-left:-1px;}
.result .more:before{content:'';display:block;width:26px;height:2px;background:#ed1c24;position:absolute;top:50%;left:0px;margin-top:-1px;}
.result .more:hover{transform:rotate(90deg);}
.result .more:active:before, .result .more:active:after{transform:scale(.8)}

.result .group{padding:24px 15px 24px 0;overflow:hidden;border-bottom:1px solid #e6e6e6}
.result .group .thumb{width:152px;height:102px;background:#efefef;float:left;margin-right:28px;position:relative;display:block;overflow:hidden;}
.result .group .thumb img{display:block;max-width:100%;max-height:100%;position:absolute;top:-100%;left:-100%;right:-100%;bottom:-100%;transition:all .3s;margin:auto;}
.result .group .thumb:hover img{transform:scale(1.2);}
.result .group .text{overflow:hidden}
.result .group strong{display:block;}
.result .group strong a{color:#555;font-size:18px;font-weight:400;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:1.3;}
.result .group strong a:hover{color:#b00d27;}
.result .group p{color:#555;font-weight:300;line-height:1.4;margin-top:6px;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;overflow:hidden;max-height:45px;}
.result .group p .highlight{color:#b00d27}
.result .group .meta{font-weight:300;color:#555;display:block;line-height:1.2;margin-top:7px;}
.result .group .btn_box{float:right;padding:23px 15px 0 30px;}

.result .group.has_attach .text{width:calc(100% - 230px);float:left}

.result .result_list{padding:24px 0px 18px 0;overflow:hidden}
.result .result_list li{float:left;width:calc((100% - 73px) / 4);margin:0 24px 0 0;}
.result .result_list li:last-child{margin-right:0;}
.result .result_list li a{display:block;border:1px solid #d9d9d9;}
.result .result_list li .thumb{overflow:hidden;padding-top:76.7%;position:relative;background:#efefef;}
.result .result_list li .thumb img{display:block;position:absolute;top:-100%;left:-100%;right:-100%;bottom:-100%;transition:all .3s;margin:auto;max-width:100%;max-height:100%;transition:all .3s;}
.result .result_list li a:hover .thumb img{transform:scale(1.2);}
.result .result_list li .text{padding:10px 10px 12px;border-top:1px solid #d9d9d9;}
.result .result_list li .text p{color:#454545;font-weight:300;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;overflow:hidden;max-height:45px;line-height:1.4}
.result .result_list li .text span{color:#666;font-weight:300;display:block;margin-top:10px;line-height:1.2;}

.result .menus{padding:20px 0 20px 0;}
.result .menus li + li{margin-top:8px;}
.result .menus li a{display:block;font-size:18px;color:#555;font-weight:300;line-height:1.6;}
.result .menus li a:hover{font-weight:400;color:#b00d27;}

@media (max-width:1199px) {
    .result .group .btn_box{padding:23px 0px 0 15px;}
    .result .group.has_attach .text{width:calc(100% - 160px);}
}

@media (max-width:760px) {
    .result{margin-top:25px;}
    .result .group{padding:17px 15px 17px 0;}
    .result .more{right:0px;}
    .result .result_list{padding:18px 0px 5px 0;max-width:500px;margin:0 auto;}

    .result .result_list li{float:left;width:calc((100% - 12px) / 2);margin:0 12px 0 0;}
    .result .result_list li:nth-child(2n){margin-right:0;}
    .result .result_list li:nth-child(n+3){margin-top:12px;}
    
}

@media (max-width:500px) {
    .result .group .thumb{float:none;margin:0 0 15px 0;}
    .result .group .btn_box{float:none;padding:8px 0 0;text-align:right;margin-bottom:-4px;}
    .result .group .btn_box .contsBtn{margin-right:0;height:40px;line-height:38px;}
    .result .group.has_attach .text{float:none;width:100%;}
}
