@charset "utf-8";

#sub{overflow:hidden;transition:padding .2s;padding-top:130px;}
#sub #content{padding-bottom:70px;transition:all .2s;}

#header:before{content:'';display:block;position:absolute;z-index:-1;background:#fff;top:0;bottom:0;left:-90px;right:-90px;transition:all .2s;}
#header.fixed:before{opacity:.5;box-shadow:0px 3px 3px 0px rgba(0,0,0,.2);}
#header.fixed ~ #sub{padding-top:84px}


@media (max-width:1399px) {
  #sub #content{padding-bottom:45px;}
  #sub{padding-top:65px}
}

@media (max-width:760px) {
  #sub .inner{padding:0 15px;}
  #sub #content{padding-bottom:35px;}
}

@media (max-width:1040px) {
  .skinTb-wrapper.width1000{margin-right:-20px;}
}

@media (max-width:808px) {
  .skinTb-wrapper.width768{margin-right:-20px;}
}

@media (max-width:670px) {
  .skinTb-wrapper.width640{margin-right:-15px;}
}


#visual-bx{position:relative;height:328px;z-index:10}
#visual-bx img.bg-img{display:block;position:relative;width:1920px;left:50%;margin-left:-960px;image-rendering:-webkit-optimize-contrast;}
#visual-bx img.bg-txt{position:absolute;top:50%;left:50%;image-rendering:-webkit-optimize-contrast;margin:-75px 0 0 -293.5px}
#breadcrumb{position:absolute;z-index:50;right:0;bottom: -2px;background:#fff;}
#breadcrumb .bx{position:relative;z-index:5;}
#breadcrumb .bx .home{display: flex;width:90px;height:85px;align-items:center;justify-content:center;font-size:0;position: relative;top:0;left:0px;z-index:15;float: left;}
#breadcrumb .bx .home:after{content:'';background:url(/page/governor/images/sub/home_but.png) no-repeat center center /cover;width:24px;height:21px;image-rendering:-webkit-optimize-contrast;z-index:10;}
#breadcrumb .bx .box{position:relative;width: 220px;float: left;}
#breadcrumb .bx .box .open{display:block;font-weight:400;height:85px;line-height:83px;padding:0 30px 0 30px;font-size:16px;color:#1b1b1b;transition:all .2s;z-index:10;position:relative;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;background:#fff;}
#breadcrumb .bx .box:hover .open{color:#e61e2b;}
#breadcrumb .bx .box .open:before{content:'';display:block;position:absolute;left:0;top:50%;width:1px;height:20px;background:#989898;margin-top:-10px;}
#breadcrumb .bx .box .open:after{content:'';display:block;border-top:6px solid #323232;border-left:6px solid transparent;border-right:6px solid transparent;position:absolute;right:20px;top:50%;margin-top:-3px;transition:all .2s;}
#breadcrumb .bx .box .open.active:after{transform:rotate(180deg);border-top-color:#e61e2b}
#breadcrumb .bx .box ul{position:absolute;top:85px;left:0px;right:-1px;padding:15px 30px 7px;background:#f2f2f2;border:1px solid #cbcbcb;display:none;}
#breadcrumb .bx .box ul li + li{border-top:1px dotted #c9c9c9;}
#breadcrumb .bx .box ul a{display:block;height:39px;line-height:39px;color:#787878;font-size:14px;transition:all .05s;}
#breadcrumb .bx .box ul a:hover{color:#df3128;}

#title-bx{font-size:30px;color:#000;font-weight: 700;line-height:1.2;padding:70px 0 10px;text-align:center;margin-bottom:50px;}
#title-bx h3{font-weight:700;}
#title-bx .btn_box{z-index:10;margin-top:20px;}
#title-bx .btn_box .share{display:inline-block;vertical-align:top;position:relative;}
#title-bx .btn_box .share .open{display:block;width:40px;height:40px;font-size:0;transition:all .1s;background:url(/page/governor/images/common/sp_sports.png) -4px -46px no-repeat;background-size:520px 520px;}
#title-bx .btn_box .print{display:inline-block;vertical-align:top;margin-left:1px;width:40px;height:40px;font-size:0;background:url(/page/governor/images/common/sp_sports.png) -53px -46px no-repeat;background-size:520px 520px;}
#title-bx .share .view{position:absolute;top:0;right:-1px;background:#e5e5e5;border-radius:15px;padding:10px 2px 10px;white-space:nowrap;display:none;bottom:-1px;}
#title-bx .share .view a{display:inline-block;width:40px;vertical-align:top;height:20px;font-size:0;color:transparent;position:relative;}
#title-bx .share .view a + a{margin-left:-3px;border-left:1px dotted #a8acb2;}
#title-bx .share .view a:after{content:'';display:block;background: url(/page/governor/images/common/sp_sports.png) -248px -50px no-repeat;background-size:520px 520px;position:absolute;width:22px;height:22px;left:50%;top:50%;margin: -11px 0 0 -11px;image-rendering:-webkit-optimize-contrast;}
#title-bx .share .view a.blog:after{background-position: -129px -7px;height:23px;}
#title-bx .share .view a.facebook:after{background-position: -170px -8px;}
#title-bx .share .view a.insta:after{background-position: -209px -8px;width: 24px;height: 24px;}
#title-bx .share .view a.i-sns:hover:after{background-position-y:-47.5px;}
#title-bx .share .view a.facebook.i-sns:hover:after{background-position-y:-48.5px;}
#title-bx .share .view a.insta.i-sns:hover:after{background-position-y:-48.5px;}

.commingsoon{margin-bottom:50px;}
.commingsoon img{image-rendering: -webkit-optimize-contrast;}

@media (max-width:1399px) {
  #visual-bx{height:256px;}
  #visual-bx img.bg-img{width:1500px;margin-left:-750px;}
  #visual-bx img.bg-txt{margin:-75px 0 0 -258.5px;width:517px;}
  #breadcrumb .bx .home{width:60px;height:60px;}
  #breadcrumb .bx .home:after{transform:scale(.8);}
  #breadcrumb .bx .box{position:relative;width:auto;float: left;}
  #breadcrumb .bx .box .open{height:60px;line-height:62px;padding: 0 40px 0 30px;font-size:15px;pointer-events:none;}
  #breadcrumb .bx .box:last-child .open:before{display:none;}
  #breadcrumb .bx .box .open:after{right:0;transform:rotate(-90deg);}
  #breadcrumb .bx .box:last-child a:after{display:none;}
  #title-bx{font-size:26px;padding: 40px 0 0px;margin-bottom:25px;}
  #title-bx .btn_box{transform:scale(.9);transform-origin: 50% 0%;margin-top: 15px;}
  #breadcrumb .bx .box:hover .open{color:#707070;font-weight:400;}
}

@media (max-width:991px) {
  #visual-bx{height:239px;}
  #visual-bx img.bg-img{width:1400px;margin-left:-700px;}
  #visual-bx img.bg-txt{margin:-75px 0 0 -238.5px;width:477px;}
  #title-bx{font-size:24px;padding: 35px 0 0px;margin-bottom: 20px;}
}

@media (max-width:760px) {
  #visual-bx{height: 210px;}
  #visual-bx img.bg-img{width: 1236px;margin-left: -619px;}
  #visual-bx img.bg-txt{margin: -56px 0 0 -175.5px;width: 341px;}
  #title-bx{font-size: 23px;padding:35px 0 0px;margin-bottom: 15px;}
  #title-bx .btn_box{transform: scale(.85);margin-top: 14px;}

  #breadcrumb .bx{display:flex;}
  #breadcrumb .bx .home{width:45px;height:45px;}
  #breadcrumb .bx .home:after{transform:scale(.65);}
  #breadcrumb .bx .home:before{height:14px;margin-top:-7px;}
  #breadcrumb .bx .box{position:relative;width:auto;flex:1;max-width:60%;}
  #breadcrumb .bx .box .open{height:45px;line-height:47px;padding: 0 25px 0 20px;font-size: 13px;pointer-events:none;width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
  #breadcrumb .bx .box .open:after{right:-3px;transform:scale(.9) rotate(-90deg);}
  #breadcrumb .bx .box:last-child a:after{display:none;}
  #breadcrumb .bx .box .open:before{transform:scale(.7);margin-top:-9px;}

  .commingsoon{min-height:300px;display:flex;align-items:center;margin:0 10px;}
}


#sub .skinTb:before{border-top: 2px solid #333;}
#sub .skinTb-th,
#sub .skinTb >tr >th,
#sub .skinTb >thead >tr >th,
#sub .skinTb >tbody >tr >th,
#sub .skinTb >tfoot >tr >th {color:#333;border-bottom-color:#333;font-weight:700;background:#f7f7f7;}
#sub .skinTb >tbody >tr >th,
#sub .skinTb-th{border-bottom-color:#d8d8d8;}

.skinTb >tr >th,
.skinTb >thead >tr >th,
.skinTb >tbody >tr >th,
.skinTb >tfoot >tr >th,
.skinTb >tr >td,
.skinTb >thead >tr >td,
.skinTb >tbody >tr >td,
.skinTb >tfoot >tr >td,
.skinTb-th,
.skinTb-td {font-weight:400;}

#sub .contsBtn {border: 1px solid #292929;}
#sub .contsBtn:before{background:#292929;}
#sub .skinBtnBo{border:1px solid #292929;}
#sub .skinBtnBo:before{background:#292929;}

#sub .listLv2,
#sub .listLv{font-weight:400;color:#707070;}
#sub .imptBox{font-weight:400;}

#sub .titLv{font-weight: 700;color:#313131;font-size: 26px;}
#sub .titLv2{font-weight: 700;color:#313131;font-size: 22px;padding-left: 27px;}
#sub .titLv3{padding-left: 55px;font-weight: 700;color:#313131;}
#sub .titLv2 + .pgraph{padding-left: 27px;}
#sub .titLv3 + .pgraph{padding-left: 55px;}
#sub .titLv2:before {top:4px;left: -1px;image-rendering:-webkit-optimize-contrast;background:url(/page/governor/images/common/sp_sports.png) -130px -9px no-repeat;background-size:520px 520px;width:20px;height:20px;}

#sub .titLv3:before{background:#e61e2b;height:4px;width:11px;border-radius:2px;left: 35px;}
#sub .titLv2:before{width:12px;height:12px;background:url(/page/governor/images/sub/title_icon.png) no-repeat center center /cover;top: 11px;left: 5px;}

@media (max-width:1199px) {
  #sub .titLv2:before{top: 8px;left: 0px;}
  #sub p.listLv:before,
  #sub div.listLv:before,
  #sub span.listLv:before,
  #sub .listLv >li:before,
  #sub .listLv >dt:before{top:15px;} 

  #sub .titLv{font-size:22px;}
  #sub .titLv2{font-size:19px;padding-left: 20px;}
  #sub .titLv3{font-size:16px;padding-left:18px;}
  #sub .titLv3:before{left:0;}

  #sub .titLv2 + .pgraph{padding-left:0px;}
  #sub .titLv3 + .pgraph{padding-left:0px;}
}

@media (max-width:760px) {
  #sub p.listLv:before,
  #sub div.listLv:before,
  #sub span.listLv:before,
  #sub .listLv >li:before,
  #sub .listLv >dt:before{top:13px;} 

  #sub .titLv{font-size:20px;}
  #sub .titLv2{font-size:18px;padding-left: 18px;}
  #sub .titLv3{font-size:15px;padding-left:18px;}
}

#sub .skinTb .iframe-bx{position:relative;max-width:100%;margin:15px auto 20px;padding-top:56.3%;}
#sub .skinTb iframe{width:100% !important;height:100% !important;position:absolute;top:0;left:0;}

#sub .boSrchArea .boMeta{font-size:14px;}

@media screen and (min-width: 640px){
	#sub .boSrch-iptTxt {width: calc(100% - 22% - 70px);}
	#sub .boSrch-selectBox:nth-of-type(1):nth-last-of-type(2),
  #sub .boSrch-selectBox:nth-of-type(2):nth-last-of-type(1){width: 18%;}
  #sub .boSrch-selectBox:nth-of-type(2):nth-last-of-type(1) ~ .boSrch-iptTxt {width: calc(100% - 36% - 75px);}
  #sub .boSrch-iptTxt {width: calc(100% - 22% - 70px);}

  #sub .boSrchArea .boMeta{font-size:15px;}
}


#sub .pageTab >li.active {background:#df3128;border-color:#df3128;}
#sub .boMeta-pt {color:#df3128;}
#sub .boMeta-pt:before {background:#df3128;}

p.listLv:before,
div.listLv:before,
span.listLv:before,
.listLv >li:before,
.listLv >dt:before {top:17px;}





.greeting_area{position:relative;overflow:hidden;padding-bottom: 20px;}
.greeting_area .img_box{position:absolute;top: 5px;right:0px;width:43%;padding: 35px 20px 20px;border: 1px solid #d7d7d7;box-sizing: border-box;text-align: center;max-width: 536px;}
.greeting_area .img_box img{width:100%;max-width:100% !important;}
.greeting_area .img_box .mobile_mayor{display:none;} 
.greeting_area .title{background:none !important;font-size:30px !important;font-weight:300;color:#000;line-height:1.2;letter-spacing:-1px;padding-left:0px !important;}
.greeting_area .text_box{width: 54%;word-break: keep-all;}
.greeting_area .text_box .tit_txt{font-weight: 600;line-height: 1.3;color: #1c64c6;font-size: 34px;padding: 0 0 20px;display: block;word-break:keep-all;}
.greeting_area .text_box p{font-weight:300;color:#000;line-height:1.6;letter-spacing:-1px;}
.greeting_area .text_box p + p{margin-top:28px;}

.sns-bx{padding-top:15px;text-align:center;white-space:nowrap;}
.sns-bx a{display:inline-block;width:35px;}
.sns-bx a img{image-rendering: -webkit-optimize-contrast;display:block;width:100%;transition:all .25s;}
.sns-bx a:hover img{filter:grayscale(1);}
.sns-bx a + a{margin-left:10px;}

@media (max-width: 1399px){
	.sns-bx{padding-top:12px;}
  .sns-bx a{width:32px;}
  .sns-bx a + a{margin-left:5px;}
  .greeting_area .text_box .tit_txt{font-size:28px;padding-bottom: 10px;}
  .greeting_area .text_box p{font-size:15px;}

}

@media (max-width: 760px){
	.greeting_area .img_box{position:relative;top:inherit;right:inherit;margin:0 auto 25px;width:100%;max-width: 450px;padding:25px 15px 13px;}
	.greeting_area .img_box .mobile_mayor{display:block;} 
	.greeting_area .img_box .pc_mayor{display:none;}
	.greeting_area .text_box{width:100%}
  .sns-bx{padding-top:13px;}
  .sns-bx a{width:30px;}
  .sns-bx a + a{margin-left:5px;}
  .greeting_area .text_box .tit_txt{font-size:22px;padding-bottom:0px;}
  .greeting_area .text_box p{font-size:14px;}
}

/*6.30 도지사 변경*/
.kim-sign{margin-bottom: 30px;margin-left:80px;}
.kim-sign img{display:block;max-width:100%;border-bottom: 1px solid #b2b2b2;image-rendering: -webkit-optimize-contrast;}

@media (max-width: 1399px){
	.kim-sign{width:600px;margin-bottom: 25px;margin-left:0px;}
}

@media (max-width: 991px){
	.kim-sign{width:550px;}
}

@media (max-width: 760px){
	.kim-sign{margin:0px 0 20px;width:500px}
  .kim-sign img{border:0}
}

.new-profile{position:relative;padding-bottom: 140px;padding-left:80px;}
.new-profile .goverkim{position:absolute;right:-50px;bottom: -70px;}
.new-profile .bx{position:relative;display:flex;align-items:flex-start;}
.new-profile .bx + .bx{margin-top:35px;}
.new-profile .bx h5{position:relative;margin-right:105px;width:129px;}
.new-profile .bx h5:before{content:'';display:block;height:1px;width:85px;background:#455db3;position:absolute;top:50%;right:-85px}
.new-profile .bx h5 img{width:100%;image-rendering:-webkit-optimize-contrast;position:relative;}
.new-profile .bx div{padding-top:55px;}
.new-profile .bx div p{line-height:1.3;font-weight: 400;color:#4a505c;}
.new-profile .bx div p + p{margin-top:8px;}
.new-profile .bx div p strong{font-weight: 700;display:inline-block;padding-right:8px;}
.new-profile .bx div p strong:before{content:'';display:inline-block;width:5px;height:5px;border-radius:50%;background:#4a505c;vertical-align:middle;margin:-1px 4px 0 0;}


@media (max-width: 1399px){
	.new-profile{padding-bottom:120px;padding-left:0px;}
	.new-profile .goverkim{right: -40px;bottom: -47px;width: 430px;}
	.new-profile .bx + .bx{margin-top:30px;}
	.new-profile .bx h5{margin-right:65px;width:110px;}
	.new-profile .bx h5:before{width:45px;right:-45px}
	.new-profile .bx div{padding-top: 47px;}
	.new-profile .bx div p{font-size:15px;text-shadow: -1px 0px #fff, 0px 1px #fff, 1px 0px #fff, 0px -1px #fff;}
	.new-profile .bx div p + p{margin-top:7px;}
	.new-profile .bx div p strong{padding-right:5px;}
	.new-profile .bx div p strong:before{width:3px;height:3px;margin:-1px 4px 0 0;}
}


@media (max-width: 991px){
	.new-profile{padding-bottom:120px;}
	.new-profile .goverkim{right: -80px;bottom: -47px;width: 390px;}
	.new-profile .bx + .bx{margin-top:25px;}
	.new-profile .bx h5{margin-right:55px;width:105px;}
	.new-profile .bx h5:before{width:45px;right:-45px}
	.new-profile .bx div{padding-top:45px;}
}

@media (max-width: 760px){
	.new-profile{padding-bottom:50px;}
	.new-profile .goverkim{right:-80px;bottom:-40px;width:300px;}
	.new-profile .bx{display:block;}
	.new-profile .bx + .bx{margin-top:30px;}
	.new-profile .bx h5{margin-right:0px;width:77px;}
	.new-profile .bx h5:before{width:1px;height:15px;right:50%;bottom:-10px;top:auto;}
	.new-profile .bx div{padding-top:20px;}
  .new-profile .bx div p{font-size:14px;}
}

.new-step{position:relative;display:flex;flex-wrap:wrap;}
.new-step article{flex:1 50%;display:flex;margin-bottom:65px;flex-direction:column;}
.new-step article h4{padding:0 0 12px 0;margin-bottom:20px;position:relative;color:#006bb7;font-size:34px;margin-top:27px;line-height:1.2;font-weight:700;}
.new-step article h4:after{content:'';display:block;width:25px;height:2px;background:#006bb7;position:absolute;bottom:0;left:0;}
.new-step article img{width:100%;}
.new-step article p{color:#000;line-height:1.5;word-break:keep-all;}
.new-step article:nth-child(2n) img{order:3;margin-top:25px;}
.new-step article:nth-child(2n) h4{text-align:right;margin-top:0;}
.new-step article:nth-child(2n) h4:after{right:0;left:auto;}
.new-step article:nth-child(2n) p{text-align:right;}

@media (max-width: 1399px){
	.new-step article{margin-bottom:50px;}
	.new-step article h4{padding:0 0 9px 0;margin-bottom:13px;font-size:28px;margin-top:22px;}
	.new-step article h4:after{width:20px;height:1px;}
	.new-step article p{font-size:15px;}
	.new-step article p br{display:none;}
	.new-step article:nth-child(2n) img{margin-top:20px;}
}


@media (max-width: 991px){
	.new-step article{margin-bottom:45px;}
	.new-step article h4{padding:0 0 9px 0;margin-bottom:13px;font-size:26px;margin-top:22px;}
	.new-step article h4:after{width:20px;height:1px;}
	.new-step article:nth-child(2n) img{margin-top:20px;}
  .new-step article p{font-size:14px;}
}


@media (max-width: 760px){
	.new-step{display:block;}
	.new-step article{margin-bottom:35px;display:block;}
	.new-step article img{display:block;margin:0 auto;}
	.new-step article h4{padding:0 0 8px 0;margin-bottom:11px;font-size:22px;margin-top:20px;}
	.new-step article h4:after{width:20px;height:1px;}
	.new-step article:nth-child(2n) img{margin-top:0px;}
	.new-step article:nth-child(2n) h4{margin-top:20px;}
}

/*도지사 일정*/
.calendar_area{overflow:hidden}
.calendar_area caption{font-size:0;width:0;height:0}
.calendar_area .calendar_box{position:relative;overflow:hidden;padding:10px;background:url(/page/governor/images/sub/bg_calendar.png) repeat 0 0;margin-bottom: 50px;}
.calendar_area .calendar_box .inner{background:#fff;padding:0 30px 9px;}
.calendar_area .calendar_box .day_box{height:93px;text-align:center;position:relative}
.calendar_area .calendar_box .day_box .day_month{font-size:22px;color:#000;font-weight: 700;padding-top:28px;display:inline-block;}
.calendar_area .calendar_box .day_box a{position:absolute;top:31px;display:block;width:18px;}
.calendar_area .calendar_box .day_box a.prev{left:0px;}
.calendar_area .calendar_box .day_box a.next{right:0px;}
.calendar_area .calendar_box .day_box a img{display:block;width:100%}
.calendar_area .calendar_box .days{width:100%;}
.calendar_area .calendar_box .days table{width:100%;text-align: center;}
.calendar_area .calendar_box .days table .text_red{color:#c50000;}
.calendar_area .calendar_box .days table .text_blue{color:#2e3e94;}
.calendar_area .calendar_box .days table thead tr{height:52px;background:#e0f4ff;border-top:1px solid #bfd3de;border-bottom:1px solid #d8d8d8;font-size:18px;font-weight:500;color:#000;}
.calendar_area .calendar_box .days table tbody td{font-size:18px;color:#000;height: 85px;width:calc(100% / 7);letter-spacing:-1px;}
.calendar_area .calendar_box .days table tbody td.text_red a{color:#c50000}
.calendar_area .calendar_box .days table tbody td.sch_day span:before{content:'[선택됨] ';font-size:0;} 
.calendar_area .calendar_box .days table tbody td.sch_day span{display:inline-block;width:60px;height:60px;background:#e3e3e3;border-radius:50%;color:#4153b9;padding-top:17px;font-weight:500}
.calendar_area .calendar_box .days table tbody td.today span:before{content:'[오늘] ';font-size:0;} 
.calendar_area .calendar_box .days table tbody td.today span{display:inline-block;width:60px;height:60px;background:#ff4242;border-radius:50%;color:#fff;padding-top:17px;font-weight:500}
.calendar_area .calendar_box .days table tbody td .schedule_list{display:none;}

.calendar_area .calendar_info{padding-top:8px;}
.calendar_area .calendar_info .date{font-weight:400;color:#333;text-align:right;padding-bottom: 7px;}
.calendar_area .calendar_info .schedule_box + .schedule_box{margin-top:40px;}
.calendar_area .calendar_info .schedule_box.day{border-bottom:1px solid #aaa;padding-bottom:42px;}
.calendar_area .calendar_info .schedule_box + h5{margin-top:50px;}
.calendar_area .calendar_info .schedule_box .title{border-top:1px solid #000;background:#f7f7f7;padding: 15px 20px 15px;}
.calendar_area .calendar_info .schedule_box .title p{padding-left: 10px;font-weight: 700;color:#000;}
.calendar_area .calendar_info .schedule_box .title p + p{margin-top: 5px;}
.calendar_area .calendar_info .schedule_box .list{padding:17px 32px;border:1px solid #e2e2e2;border-width: 1px 0;}
.calendar_area .calendar_info .schedule_box .list li{font-weight:100;color:#010000;padding-left:11px;position:relative;line-height: 1.6;font-size: 15px;word-break:keep-all;}
.calendar_area .calendar_info .schedule_box .list li:before{content:'';display:block;width:3px;height:3px;border-radius:50%;background:#0a0a0a;position:absolute;top: 11px;left:0px;}
.calendar_area .calendar_info .schedule_box .list li + li{margin-top:3px;}


@media screen and (max-width: 1399px){
  .calendar_area .calendar_box{margin-bottom: 35px;}
  .calendar_area .calendar_box .inner{padding:0 20px 9px;}
  .calendar_area .calendar_box .day_box{height:85px;}
  .calendar_area .calendar_box .day_box .day_month{font-size:220x}
  .calendar_area .calendar_box .day_box a{width:16px;}

  .calendar_area .calendar_box .days table thead tr{font-size:16px;}
  .calendar_area .calendar_box .days table tbody td{font-size:16px;;height: 80px;}
  .calendar_area .calendar_box .days table tbody td.sch_day span:before{content:'[선택됨] ';font-size:0;} 
  .calendar_area .calendar_box .days table tbody td.today span{width:45px;height:45px;padding-top:12px;}

  .calendar_area .calendar_info{padding-top:8px;}
  .calendar_area .calendar_info .schedule_box + .schedule_box{margin-top:30px;}
  .calendar_area .calendar_info .schedule_box + h5{margin-top:35px;}
  .calendar_area .calendar_info .date{padding-bottom:5px;margin-top:-5px;font-size:14px;}
}



@media screen and (max-width: 760px){
  .calendar_area .calendar_box{margin-bottom:30px;padding:3px;background-size:3px 3px;}
  #sub .calendar_area .calendar_box .inner{padding:0px;}
	.calendar_area .calendar_box .day_box{height:46px;background:#dcf3ff;}
	.calendar_area .calendar_box .day_box .day_month{font-size:18px;padding-top:12px;}
	.calendar_area .calendar_box .day_box a{top:50%;margin-top:-11px;width:14px;}
	.calendar_area .calendar_box .day_box a.prev{left:15px;}
	.calendar_area .calendar_box .day_box a.next{right:15px;}
	.calendar_area .calendar_box .days{height:280px;overflow-y:auto;border:1px solid #e3e3e3;scroll-behavior:smooth;}
	.calendar_area .calendar_box .days table, 
	.calendar_area .calendar_box .days table tbody, 
	.calendar_area .calendar_box .days table tbody tr,
	.calendar_area .calendar_box .days table tbody tr td{display:block;}
	.calendar_area .calendar_box .days table tbody tr td.empty{display:none;}
	.calendar_area .calendar_box .days table thead{display:none;}
	.calendar_area .calendar_box .days table tbody td{width:100%;height:auto;text-align:left;padding:7px 10px 10px 5px;border-bottom:1px solid #e3e3e3;white-space: nowrap;}
	.calendar_area .calendar_box .days table tbody td a{display:block;overflow:hidden}
	.calendar_area .calendar_box .days table tbody td a span{width:31px;text-align:center;display:block;float:left;}
	.calendar_area .calendar_box .days table tbody td.sch_day span{width:31px;height:31px;color:#4153b9;padding-top:2px;text-align:center;vertical-align:top;;}
	.calendar_area .calendar_box .days table tbody td.today span{width:31px;height:31px;color:#fff;padding-top:2px;text-align:center;}

	.calendar_area .calendar_box .days table tbody td .schedule_list{display:block;padding:3px 0 0 30px;overflow: hidden;}
	.calendar_area .calendar_box .days table tbody td .schedule_list li{color:#010000;font-weight:100;padding-left:13px;position:relative;white-space:normal;}
	.calendar_area .calendar_box .days table tbody td .schedule_list li:before{content:'';display:block;width:3px;height:3px;border-radius:50%;background:#0a0a0a;position:absolute;top:11px;left:0px;}
	.calendar_area .calendar_box .days table tbody td .schedule_list li + li{margin-top:2px;}
	.calendar_area .calendar_info .schedule_box + .schedule_box{margin-top:20px;}
  .calendar_area .calendar_info .schedule_box .title{padding: 10px 10px 10px;font-size:15px;}
  .calendar_area .calendar_info .schedule_box .list{padding:12px 15px;}
  .calendar_area .calendar_info .schedule_box .list li{font-size:14px;padding-left:9px;}
  .calendar_area .calendar_info .schedule_box .list li:before{top:9px;}
  .calendar_area .calendar_info .date{padding-bottom:5px;margin-top:-7px;font-size:13px;}
}