@charset "utf-8";

#sub{overflow:hidden;padding-top:230px;position:relative;z-index:2;}
#sub #content{padding-bottom:100px;min-height:651px;}
#sub .inner{max-width:1440px;padding:0 20px;}

@media (max-width:1399px) {
  #sub #content{padding-bottom:50px;}
}

@media (max-width:760px) {
  #sub .inner{padding:0 15px;}
  #sub #content{padding-bottom:30px;min-height:auto;}
}

@media (max-width:1040px) {
  .skinTb-wrapper.width1000{margin-right:-20px;margin-left:-20px;padding-left:20px !important;}
}

@media (max-width:808px) {
  .skinTb-wrapper.width768{margin-right:-20px;margin-left:-20px;padding-left:20px !important;}
}

@media (max-width:670px) {
  .skinTb-wrapper.width640{margin-right:-15px;margin-left:-15px;padding-left:15px !important;}
}


@keyframes title-move1{ 
  0%{transform:translate(0%, -80%);opacity:0;}
  100%{transform:translate(0%, 0%);opacity:1;}
}

@keyframes title-move2{ 
  0%{transform:translate(0%, -60%);opacity:.5;}
  100%{transform:translate(0%, 0%);opacity:1;}
}

@keyframes slide-move1{ 
  0%{transform:rotateX(180deg);opacity:1;}
  100%{transform:rotateX(0deg);opacity:1;}
}


#sub input:focus::placeholder{color:transparent}
#sub .boMeta{color: #000;}
#sub .boMeta-pt{color: #000;position:relative;padding-right:15px;margin-right:7px;display:inline-block;}
#sub .boMeta-pt:before {background:#7d7d7d;height:10px;width:1px;border-radius:0;position:absolute;display:block;right:0;top:50%;margin-top:-5px;}
#sub .boSrchArea{border:none;background:transparent;padding:0px 0 10px 0px;}

@media screen and (min-width:1400px){
	
#sub .boSrchArea .boSrch{width: 30%;}
#sub .boSrchArea input[type="submit"]{margin-left:-6px;}
#sub .boSrchArea input[type="text"]{margin-left:-6px;}
.boSrch-iptTxt {width: calc(100% - 22% - 58px);}
}

#sub:before{content:'';display:block;z-index:-1;position:absolute;top:0;right:0;width:1113px;height:506px;background:url(/page/idq2022/images/common/sub_bg.png) no-repeat right top;background-size:cover;image-rendering:-webkit-optimize-contrast;}

#sub .title-bx{margin-bottom:60px;}
#sub .title-bx h3{color:#313131;font-size:70px;line-height:1.1;font-weight:700;font-family:'Godo';letter-spacing:-1.5px;}



@media (max-width:1399px) {
  #sub{padding-top:170px}
  #sub:before{transform:scale(.7);transform-origin:100% 0%;}
  #sub .title-bx{margin-bottom:45px;}
  #sub .title-bx h3{font-size:48px;}
}

@media (max-width:991px) {
  #sub{padding-top:150px}
  #sub:before{transform:scale(.55);}
  #sub .title-bx{margin-bottom:35px;}
  #sub .title-bx h3{font-size:44px;}
}

@media (max-width:760px) {
  #sub{padding-top:130px}
  #sub:before{transform:scale(.37);}
  #sub .title-bx{margin-bottom:30px;}
  #sub .title-bx h3{font-size:32px;}
}

/*포트폴리오*/
.portfolio{position:relative;z-index:5;}
.portfolio:before{content:'';display:block;position:absolute;top:445px;bottom:240px;background:#eaeaea;left:-500px;right:-500px;z-index:-1;}
.portfolio a{display:inline-block;vertical-align:top;margin:0 46px 53px 0;width:calc((100% - 151px) / 4);color:#000;}
.portfolio a:nth-child(4n){margin-right:0;}
.portfolio a span{display:block;line-height:1.1;font-weight:300;font-size:16px;}
.portfolio a p{word-break:keep-all;font-weight:500;font-size:20px;line-height:1.3;margin-top:10px}
.portfolio a .thumb{position:relative;background:#d2d2d2;margin-bottom:25px;overflow:hidden;border:1px solid #d2d2d2;}
.portfolio a .thumb img{display:block;margin:auto;max-width:100%;transition:all .2s;}
.portfolio a:hover{text-decoration:none;}
.portfolio a:hover .thumb{box-shadow:0px 0px 7px 0px rgba(0,0,0,.2);}
.portfolio a:hover img{filter:saturate(1.2) brightness(95%);transform:scale(1.1);}

@media (max-width:1399px) {
  .portfolio > div{margin:0 -20px;padding-left:20px;overflow-x:auto;white-space:nowrap;scroll-behavior: smooth;-webkit-overflow-scrolling:touch;}
  .portfolio a{margin:0 17px 40px 0 !important;width:245px;}
  .portfolio a span{font-size:15px;}
  .portfolio a p{font-size:17px;margin-top:8px;white-space:normal;}
  .portfolio a .thumb{margin-bottom:20px;}
  .portfolio:before{top:110px;bottom:-30px;left:-20px;right:-20px;}

  .portfolio > div::-webkit-scrollbar {
    height: 5px;
  }
   
  .portfolio > div::-webkit-scrollbar-track {
    background: rgba(212,32,33,.05);
  }
   
  .portfolio > div::-webkit-scrollbar-thumb {
    background:#d42021;
    border-radius:5px;
  }
}


@media (max-width:760px) {
  .portfolio > div{margin:0 -15px;padding-left:15px;}
  .portfolio a{margin:0 11px 35px 0 !important;width:220px;}
  .portfolio a span{font-size:14px;}
  .portfolio a p{font-size:15px;margin-top:7px;}
  .portfolio a .thumb{margin-bottom:18px;}
  .portfolio:before{top:100px;bottom:-50px;left:-15px;right:-15px;}
}
