@charset "utf-8"; 

#main-wrap{margin-top:56.5%;position:relative;z-index:5;background:#fff;overflow:hidden;}

#main{position:relative;z-index:5;}
#main:before{content:'';z-index:-1;width:1920px;height:394px;background:url(/page/gwu/images/main/bg_01.jpg) no-repeat right top /cover;position:absolute;right:0;top:-110px;pointer-events:none;}
#header.fixed ~ main:before{top:0px;}
#main-movie-wrap{overflow:hidden;max-height:100vh;position:fixed;top:0;left:50%;width:100vw;transform:translateX(-50%);background:#000;max-width:1920px;box-shadow:inset 0px 20px 30px 0px rgba(0,0,0,.5);}
#main-movie-wrap:after{content:'';display:block;top:0;left:0;right:0;height:120px;background: linear-gradient(180deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,.1) 50%, rgba(0,0,0,0) 100%);z-index:2;position:absolute;}
#main-movie-wrap .movie-bx{position:relative;padding-top:56.5%;pointer-events:none;z-index:1;animation:fade01 .35s .35s 1 both ease-out;}
#main-movie-wrap iframe{position:absolute;top:50%;left:0;width:102%;height:102%;transform:translateY(-51%);}
#header .btn-bx{position:fixed;height:58px;right:60px;top:0;filter:invert(1) brightness(2);transition:top .25s;}
#header.scrolled .btn-bx{position:relative;height:auto;top:auto;filter:invert(0);right:auto;margin-right:0;}
#header.scrolled{box-shadow:0px -2px 5px 0px rgba(0,0,0,.2);}



#main .section-title{font-size:60px;font-weight:400;color:#060b4b;line-height:1.3;text-align:center;}
#main .section-title strong{color:#0166fe;font-weight:700;}

#schedule{position:relative;padding-top:150px;}
#schedule .schedule-bx{padding-top:70px;}
#schedule .date-bx{display:flex;align-items:center;justify-content:space-between;color:#111;}
#schedule .date-bx p{display:flex;align-items:center;font-size:18px;}
#schedule .date-bx em{display:flex;width:80px;height:30px;border-radius:15px;justify-content:center;align-items:center;border:1px solid #7f7f7f;font-size:18px;margin-right:11px;}
#schedule .date-bx a{font-size:18px;transition:all .1s;color:#111;}
#schedule .date-bx a:hover{letter-spacing:2px;font-weight:500;}
#schedule .list-bx{padding-top:35px;display:flex;align-items:center;gap:38px;}
#schedule .list-bx a{flex:1;position:relative;background:#f7f7f8;min-height:238px;padding:0px 20px 40px 45px;transition:all .2s;display:flex;flex-direction:column;justify-content:center;align-items:flex-start;}
#schedule .list-bx a:hover{margin-top:-45px;background:#fff;box-shadow:0px 0px 15px 0px rgba(0,0,0,.15);}
#schedule .list-bx a em{display:flex;width:60px;height:35px;position:absolute;right:0;top:0;color:#fff;font-size:18px;font-weight:300;align-items:center;justify-content:center;transition:all .1s;background:#111;}
#schedule .list-bx a:hover em{background:#0166fe;}
#schedule .list-bx a strong{text-decoration:underline;font-size:26px;font-weight:600;line-height:1.4;text-underline-offset:5px;text-decoration-thickness:1px;}
#schedule .list-bx a p{font-size:20px;color:#343339;padding-top:17px;line-height:1.5;word-break:keep-all;}




#today{position:relative;padding:190px 0 180px;z-index:2;}
#today:before{content:'';z-index:-1;position:absolute;left:0;bottom:0;width:1920px;height:394px;background:url(/page/gwu/images/main/bg_02.jpg) no-repeat left bottom /cover;pointer-events:none;}

#today .today-tab{display:flex;align-items:center;gap:40px;justify-content:center;padding-top:60px;}
#today .today-tab button{transition:all .1s;height:48px;width:112px;color:#222;font-weight:600;font-size:20px;align-items:center;justify-content:center;word-break: keep-all;}
#today .today-tab button:hover{letter-spacing:2px;}
#today .today-tab button.active{color:#fff;background:#006afa;pointer-events:none;}

#today .today-view{padding-top:78px;}
#today .today-view > div{display:none;flex-wrap:wrap;gap:0 38px;border-top:2px solid #000;}
#today .today-view > div.active{display:flex;}
#today .today-view > div a{width:calc((100% - 38px) / 2);animation:lmove1 .35s .1s 1 both ease-out;height:80px;transition:all .2s;display:flex;align-items:center;border-bottom:1px solid #ddd;justify-content:space-between;}
#today .today-view > div a:hover{background:#f9f9f9;}
#today .today-view > div a span{overflow:hidden;margin-right:20px;color:#343339;font-size:20px;white-space:nowrap;text-overflow:ellipsis;}
#today .today-view > div a em{flex-shrink:0;color:#6e6e6e;font-size:17px;font-weight:300;}
#today .today-view > div a:nth-child(3){animation-delay:.2s;}
#today .today-view > div a:nth-child(4){animation-delay:.2s;}
#today .today-view > div a:nth-child(5){animation-delay:.3s;}
#today .today-view > div a:nth-child(6){animation-delay:.3s;}
#today .today-view > div a:nth-child(7){animation-delay:.4s;}
#today .today-view > div a:nth-child(8){animation-delay:.4s;}




#strengths{position:relative;background:url(/page/gwu/images/main/strengths_bg.jpg) no-repeat left bottom /cover;height:937px;z-index:1;}
#strengths .inner{display:flex;flex-direction:column;align-items:center;justify-content:center;height:100%;}
#strengths > img{display:block;position:absolute;top:112px;right:0;z-index:-1;}
.section-title2{line-height:1.3;text-align:center;color:#060b4b;font-size:82px;font-weight:700;}
.section-title2 strong{color:#0690fb;}
#strengths p{text-align:center;color:#2b2b2b;font-size:26px;padding-top:45px;word-break: keep-all;max-width: 1040px;}
#strengths .inner > div{display:flex;align-items:center;max-width:1115px;width:100%;margin:100px auto 0;justify-content:space-between;}
#strengths .inner > div img{display:block;}




#introduce{position:relative;z-index:2;padding-top:180px;}
#introduce .video-wrap{display:flex;align-items:flex-start;padding:140px 0 220px;position:relative;z-index:2;}
#introduce .video-wrap:before{content:'';z-index:-1;position:absolute;bottom:-30px;left:100px;width:1955px;height:276px;background:url(/page/gwu/images/main/introduce_text_bg.png) no-repeat right center /cover;pointer-events:none;}
#introduce .list-bx{width:50%;}
#introduce .list-bx h3{color:#060b4b;font-size:30px;font-weight:600;line-height:1.1;}
#introduce .list-bx div{padding-top: 40px;padding-right:20px;max-width:470px;}
#introduce .list-bx div a{display:block;padding-top: 19px;}
#introduce .list-bx div a span{display:block;color:#2f4858;font-size:18px;font-weight:600;}
#introduce .list-bx div a strong{display:block;color:#313131;font-size:20px;font-weight:500;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
#introduce .list-bx div a em{display:block;color:#878787;font-size:18px;font-weight:300;}

#introduce .video-bx{width:50%;padding-top:28.15%;position:relative;}
#introduce .video-bx iframe{position:absolute;top:0;left:0;width:100%;height:100%;}

#introduce .slick-wrap{position:relative;z-index:3;}
#introduce .slick{margin-right:-300px;}
#introduce .slick-slide{padding:30px 0 0px;transition:all .2s;margin-right:65px;width:305px;}
#introduce .slick-slide:hover{padding:0px 0 30px;}
#introduce .slick-slide p{padding-top:22px;}
#introduce .slick-slide p strong{color:#050505;font-size:20px;font-weight:600;display:block;}
#introduce .slick-slide p span{color:#070707;font-size:17px;padding-top:7px;display:block;llne-height: 1.3;}

#introduce .control-bx{display:flex;align-items:center;padding-top:95px;}
#introduce .control-bx .count{font-size:30px;color:#cacaca;font-weight:600;flex-shrink:0;}
#introduce .control-bx .count strong{color:#050505;}
#introduce .control-bx .count span{padding:0 13px;}
#introduce .control-bx .control{display:flex;align-items:center;flex-shrink:0;}
#introduce .control-bx .control .play{display:none;margin:0 10px;}
#introduce .control-bx .control .pause{margin:0 10px}
#introduce .control-bx .control button img{display:block;}
#introduce .control-bx .control button:hover img{filter:brightness(.2);}
#introduce .control-bx .dots{flex:1;margin:0 25px;}
#introduce .slick-dots{width:100%;display:flex;align-items:center;}
#introduce .slick-dots li{flex:1;line-height:1;display:flex;align-items:center;}
#introduce .slick-dots button{font-size:0;color:#fff;height:1px;background:#44a66b;width:100%;}
#introduce .slick-dots li.slick-active ~ li button{background:#ccc;}



#onair{position:relative;z-index:1;padding:155px 0 65px;}
#onair:before{content:'';z-index:-1;position:absolute;right:0;bottom:0;width:1920px;height:986px;background:url(/page/gwu/images/main/bg_03.jpg) no-repeat right bottom /cover;pointer-events:none;}

#onair .air-bx{padding-top:200px;display:flex;gap:40px;align-items:center;}
#onair .air-bx .insta{width:385px;flex-shrink:0;}
#onair .air-bx .insta a,
#onair .air-bx .insta img{display:block;width:100%;}
#onair .air-bx .sns{display:flex;gap:40px;flex-wrap:wrap;width:calc(100% - 385px)}
#onair .air-bx .sns img{display:block;object-fit:cover;width:100%;height:100%;}
#onair .air-bx .sns a{width:calc((100% - 80px) / 3);overflow:hidden;border-radius:25px;}
#onair .air-bx .sns a:nth-child(n+4){width:calc((100% - 40px) / 2);}
#onair .air-bx a:hover{animation:shake .9s 1 both ease-out;}
#onair .sns-bx{padding-top:60px;gap:20px;display:flex;align-items:center;justify-content:center;}
#onair .sns-bx a img{transition:all .2s;filter:grayscale(1);}
#onair .sns-bx a:hover img{filter:grayscale(0);}



#banner{position:relative;height:535px;background:url(/page/gwu/images/main/richtungen_imgbg.jpg) no-repeat center bottom /cover fixed;}
#banner .inner{height:100%;display:flex;flex-direction:column;justify-content:center;}
#banner .text-bx{color:#fff;padding-bottom:60px;border-bottom:1px solid #fff;display:flex;align-items:center;justify-content:space-between;}
#banner .text-bx p:first-child{font-size:40px;font-weight:700;line-height:1.1;}
#banner .text-bx p:first-child em{font-size:24px;font-weight:600;display: block;}
#banner .text-bx p:last-child{font-size:40px;font-weight:300;line-height:1.2;text-align:right;font-style: italic;flex-shrink: 0;}

#banner .btn-bx{padding-top:70px;display:flex;justify-content:center;gap:38px;}
#banner .btn-bx a{display:flex;align-items:center;justify-content:center;border:1px solid #fff;height:66px;width:194px;font-size:20px;color:#fff;transition:all .2s;text-align: center;word-break: keep-all;line-height: 1.3;}
#banner .btn-bx a:hover{background:rgba(0,0,0,.7);}


@media (max-width:1400px) {
  #header .btn-bx{right:15px;}
  #header.scrolled.fixed{box-shadow:none}

  #main:before{top:-110px;transform:scale(.7);transform-origin:100% 0%;}
  #header.fixed ~ main:before{top:-40px;}
  #main .section-title{font-size:46px;}


  #schedule{padding-top:120px;}
  #schedule .schedule-bx{padding-top:60px;}
  #schedule .date-bx p{font-size:15px;}
  #schedule .date-bx em{width:70px;height:22px;font-size:15px;margin-right:10px;}
  #schedule .date-bx a{font-size:15px;}

  #schedule .list-bx{padding-top:30px;gap:30px;}
  #schedule .list-bx a{min-height:218px;padding:0px 15px 20px 30px;}
  #schedule .list-bx a:hover{margin-top:-35px;}
  #schedule .list-bx a em{width:50px;height:30px;font-size:15px;}
  #schedule .list-bx a strong{font-size:20px;;}
  #schedule .list-bx a p{font-size:16px;padding-top:17px;}

  #today{padding:150px 0 110px;}
  #today:before{transform:scale(.7);transform-origin:0% 100%;}

  #today .today-tab{gap:30px;padding-top:45px;}
  #today .today-tab button{height:46px;width:102px;font-size:16px;align-items:center;justify-content:center;}

  #today .today-view{padding-top:58px;}
  #today .today-view > div{gap:0 30px;}
  #today .today-view > div a{width:calc((100% - 30px) / 2);height:70px;}
  #today .today-view > div a span{margin-right:15px;font-size:16px;}
  #today .today-view > div a em{font-size:15px;}

  #strengths{height:677px;background-position:-100px bottom;}
  #strengths > img{top:0px;width:312px;opacity:.5;}
  .section-title2{font-size:54px;}
  #strengths p{font-size:20px;padding-top:35px;}
  #strengths .inner > div{margin:80px auto 0;justify-content:center;gap:0 50px;}
  #strengths .inner > div img{width:230px;}

  #introduce{padding-top:130px;}
  #introduce .video-wrap{padding:110px 0 160px;}
  #introduce .video-wrap:before{bottom:-70px;left:100px;transform:scale(.7);transform-origin:0% 50%;}
  #introduce .list-bx{width:50%;}
  #introduce .list-bx h3{font-size:24px;}
  #introduce .list-bx div{padding-top:25px;}
  #introduce .list-bx div a{padding-top:15px;}
  #introduce .list-bx div a span{font-size:15px;;}
  #introduce .list-bx div a strong{font-size:17px;}
  #introduce .list-bx div a em{font-size:15px;}

  #introduce .video-bx{width:50%;padding-top:28.15%;}

  /* #introduce .slick-wrap{position:relative;z-index:3;} */

  #introduce .slick{margin:0 -20px;}
  #introduce .slick-list{padding-left:20px;}
  #introduce .slick-slide{padding:20px 0 0px;margin-right:30px;width:235px;}
  #introduce .slick-slide:hover{padding:0px 0 20px;}
  #introduce .slick-slide p{padding-top:20px;}
  #introduce .slick-slide p strong{font-size:16px;}
  #introduce .slick-slide p span{font-size:15px;padding-top:7px;line-height:1.3;white-space:normal;}

  #introduce .control-bx{padding-top:65px;}
  #introduce .control-bx .count{font-size:20px;}
  #introduce .control-bx .count span{padding:0 10px;}
  #introduce .control-bx .control .play{margin:0 7px;}
  #introduce .control-bx .control .pause{margin:0 7px;}
  #introduce .control-bx .control button img{display:block;height:16px;}
  #introduce .control-bx .dots{margin:0 20px;}
  
  #onair{padding:130px 0 45px;}
  #onair:before{transform:scale(.7);transform-origin:100% 100%;}
  #onair .air-bx{padding-top:80px;gap:30px;}
  #onair .air-bx .insta{width:28%;flex-shrink:0;}
  #onair .air-bx .sns{gap:30px;flex:1}
  #onair .air-bx .sns a{width:calc((100% - 60px) / 3);border-radius:20px;}
  #onair .air-bx .sns a:nth-child(n+4){width:calc((100% - 30px) / 2);}
  #onair .sns-bx{padding-top:45px;gap:20px;}
  #onair .sns-bx a img{width:50px}

  #banner{height:425px;}
  #banner .text-bx{padding-bottom:50px;}
  #banner .text-bx p:first-child{font-size:28px;line-height:1.3}
  #banner .text-bx p:first-child em{font-size:20px;}
  #banner .text-bx p:last-child{font-size:28px;line-height:1.4;}

  #banner .btn-bx{padding-top:50px;gap:30px;}
  #banner .btn-bx a{height:58px;width:170px;font-size:17px;color:#fff;}
} 


@media (max-width:991px) {

  #main:before{top:-110px;transform:scale(.6);}
  #main .section-title{font-size:42px;}

  #schedule{padding-top:110px;}
  #schedule .schedule-bx{padding-top:55px;}

  #schedule .list-bx{padding-top:30px;gap:20px;}
  #schedule .list-bx a{min-height:208px;padding:0px 10px 20px 20px;}
  #schedule .list-bx a:hover{margin-top:-25px;}
  #schedule .list-bx a em{width:50px;height:30px;font-size:14px;}
  #schedule .list-bx a strong{font-size:18px;}
  #schedule .list-bx a p{font-size:14px;padding-top:17px;}

  #today{padding:135px 0 90px;}
  #today:before{transform:scale(.6);}

  #today .today-tab{gap:25px;padding-top:42px;}


  #today .today-view{padding-top:53px;}
  #today .today-view > div{gap:0 25px;}
  #today .today-view > div a{width:calc((100% - 25px) / 2);height:68px;}
  #today .today-view > div a span{margin-right:10px;font-size:15px;}
  #today .today-view > div a em{font-size:14px;}

  #strengths{height:627px;background-position:-160px bottom;}
  #strengths > img{top:0px;width:202px;opacity:.5;}
  .section-title2{font-size:50px;}
  #strengths p{font-size:17px;padding-top:33px;}
  #strengths .inner > div{margin:65px auto 0;gap:0 35px;}
  #strengths .inner > div img{width:210px;}

  #introduce{padding-top:110px;}
  #introduce .video-wrap{padding:70px 0 140px;display:block;}
  #introduce .video-wrap:before{bottom:-80px;left:100px;transform:scale(.6);transform-origin:0% 50%;}
  #introduce .list-bx{width:100%;}
  #introduce .list-bx h3{font-size:22px;}
  #introduce .list-bx div{padding-top:20px;max-width:initial;}
  #introduce .list-bx div a{padding-top:12px;}


  #introduce .video-bx{width:100%;padding-top:56.5%;margin:40px auto 0;}

  #introduce .slick-slide{padding:15px 0 0px;margin-right:20px;width:215px;}
  #introduce .slick-slide:hover{padding:0px 0 15px;}
  #introduce .slick-slide p{padding-top:20px;}
  #introduce .slick-slide p strong{font-size:15px;}
  #introduce .slick-slide p span{font-size:14px;padding-top:7px;}

  #onair{padding:115px 0 40px;}
  #onair:before{transform:scale(.6);}
  #onair .air-bx{padding-top:70px;gap:10px;}
  #onair .air-bx .insta{width:28%;}
  #onair .air-bx .sns{gap:10px;flex:1}
  #onair .air-bx .sns a{width:calc((100% - 20px) / 3);border-radius:20px;}
  #onair .air-bx .sns a:nth-child(n+4){width:calc((100% - 10px) / 2);}
  #onair .sns-bx{padding-top:40px;gap:20px;}
  #onair .sns-bx a img{width:42px}

  #banner{height:385px;}
  #banner .text-bx{padding-bottom:40px;}
  #banner .text-bx p:first-child{font-size:22px;}
  #banner .text-bx p:first-child em{font-size:16px;}
  #banner .text-bx p:last-child{font-size:22px;}

  #banner .btn-bx{padding-top:40px;gap:25px;}
  #banner .btn-bx a{height:52px;width:160px;font-size:16px;}
} 


@media (max-width:716px) {


  #main:before{top: -80px;transform:scale(.5);}
  #main .section-title{font-size:34px;}


  #schedule{padding-top:90px;}
  #schedule .schedule-bx{padding-top:50px;}
  #schedule .date-bx p{font-size: 13px;}
  #schedule .date-bx em{width:60px;height:20px;font-size:13px;margin-right:8px;}
  #schedule .date-bx a{font-size: 13px;}

  #schedule .list-bx{padding-top:30px;gap:15px;flex-wrap:wrap;}
  #schedule .list-bx a{min-height:148px;padding:0px 10px 15px 15px;width:calc((100% - 15px) / 2);flex:initial;}
  #schedule .list-bx a:hover{margin-top:-25px;}
  #schedule .list-bx a em{width:50px;height:24px;font-size: 12px;}
  #schedule .list-bx a strong{font-size: 15px;}
  #schedule .list-bx a p{font-size: 12.5px;padding-top:15px;}

  #today{padding:95px 0 70px;}
  #today:before{transform:scale(.5);}

  #today .today-tab{gap:20px;padding-top:38px;}
  #today .today-tab button{height:42px;width:92px;font-size: 13px;}

  #today .today-view{padding-top:40px;}
  #today .today-view > div{gap:0;}
  #today .today-view > div a{width:100%;height:58px;}
  #today .today-view > div a span{margin-right:5px;font-size: 12.5px;}
  #today .today-view > div a em{font-size: 12px;}

  #strengths{height:577px;background-position:-180px bottom;}
  #strengths > img{display:none;}
  .section-title2{font-size:40px;}
  #strengths p{font-size: 14px;padding-top:28px;}
  #strengths .inner > div{margin:60px auto 0;gap:30px;flex-wrap:wrap;}
  #strengths .inner > div img{width: 165px;}

  #introduce{padding-top:90px;}
  #introduce .video-wrap{padding: 55px 0 110px;}
  #introduce .video-wrap:before{bottom:-100px;left:20px;transform:scale(.5);}
  #introduce .list-bx{width:100%;}
  #introduce .list-bx h3{font-size:18px;text-align: center;}
  #introduce .list-bx div{padding-top: 19px;padding-right: 0;}
  #introduce .list-bx div a{padding-top: 10px;}
  #introduce .list-bx div a span{font-size: 12px;}
  #introduce .list-bx div a strong{font-size: 13.5px;padding-top: 2px;}
  #introduce .list-bx div a em{font-size: 12px;text-align: right;padding-top: 6px;}

  #introduce .video-bx{width:auto;padding-top:60.5%;margin:30px -15px 0;}

  #introduce .slick{margin:0 -15px;}
  #introduce .slick-list{padding-left:15px;}
  #introduce .slick-slide{margin-right:15px;width:165px;}
  #introduce .slick-slide p{padding-top:17px;}
  #introduce .slick-slide p strong{font-size: 13.5px;}
  #introduce .slick-slide p span{font-size:12px;padding-top:5px;}

  #introduce .control-bx{padding-top:50px;}
  #introduce .control-bx .count{font-size:15px;}
  #introduce .control-bx .control button img{height:14px;}
  #introduce .control-bx .dots{margin:0 15px;}
  
  #onair{padding:100px 0 40px;}
  #onair:before{transform:scale(.5);}
  #onair .air-bx{padding-top:30px;gap:20px 0;flex-direction:column;}
  #onair .air-bx .insta{width:100%;max-width:260px;margin:0 auto;}
  #onair .air-bx .sns{gap:0px;width:auto;margin:0 -15px;}
  #onair .air-bx .sns a{width:33.33%;border-radius:0px;}
  #onair .air-bx .sns a:nth-child(n+4){width:50%;}
  #onair .sns-bx{padding-top:35px;gap:15px;}
  #onair .sns-bx a img{width:36px}

  #banner{height: 335px;}
  #banner .text-bx{padding-bottom:25px;display:block;}
  #banner .text-bx p:first-child{font-size: 16px;}
  #banner .text-bx p:first-child em{font-size: 13px;}
  #banner .text-bx p:last-child{font-size: 16px;margin-top: 32px;}

  #banner .btn-bx{padding-top:30px;gap:15px;}
  #banner .btn-bx a{height: 42px;width: 142px;font-size: 13px;}
} 



@keyframes lmove1{ 
  0%{transform:perspective(400px) rotateX(90deg);}
  100%{transform:perspective(400px) rotateX(0deg);} 
}


@keyframes shake{
  0%{transform: rotate(0deg);}
  12.5%{transform: rotate(10deg);}
  25%{transform: rotate(-10deg);}
  37.5%{transform: rotate(5deg);}
  50%{transform: rotate(-5deg);}
  62.5%{transform: rotate(2deg);}
  75%{transform: rotate(-2deg);}
  87.5%{transform: rotate(0deg);}
  100%{transform: rotate(0deg);}
}

@keyframes shake2 {
  0% { transform: translateX(0) }
  25% { transform: translateY(-5px) }
  35% { transform: translateY(-5px) rotate(12deg) }
  55% { transform: translateY(-5px) rotate(-12deg) }
  65% { transform: translateY(-5px) rotate(9deg) }
  75% { transform: translateY(-5px) rotate(-9deg) }
  100% { transform: translateY(0) rotate(0) }
}

@keyframes fade01{ 
  0%{opacity:0;}
  100%{opacity:1;} 
}