@charset "UTF-8";

/* 레이아웃 공통 */
html, body{position:relative; width:100%;}
body{color:#111; font-size:16px; line-height:1.6; font-family:'S-CoreDream', sans-serif; word-break:break-all;letter-spacing:-1px;}
main{display:block;}
.confirmIframe body{overflow:hidden;}
#progressScroll{display:none;}
.page-wrap{overflow:hidden;}



/* 본문바로가기 */
.skipnav{position:absolute;z-index:2999;top:-100px;width:100%;padding:0;list-style:none;font-size:14px;}
.skipnav li{position:relative;top:0;left:0;width:100%}
.skipnav li a{display:block;position:absolute;top:0;width:100%;padding:15px 0;background:#000;color:#fff;text-align:center;text-decoration:none}
.skipnav li a:focus,.skipnav li a:active{top:100px}

/* slick 플러그인 */
.slick-slider .slick-list{display:block; overflow-x:hidden; overflow-y:hidden; position:relative}
.slick-slider .slick-list.dragging{cursor:pointer}
.slick-slider .slick-list .slick-track{display:block; position:relative; top:0; left:0}
.slick-slider .slick-list .slick-track:before, .slick-slider .slick-list .slick-track:after{display:table; content:''}
.slick-slider .slick-list .slick-track:after{clear:both}
.slick-slider .slick-list.slick-loading .slick-track{visibility:hidden}
.slick-slider .slick-list .slick-track .slick-slide{display:none; float:left}
.slick-slider[dir='rtl'] .slick-list .slick-track .slick-slide{float:right}
.slick-slider .slick-list .slick-track .slick-slide img{display:block;width:100%;}
.slick-slider .slick-list .slick-track .slick-slide.slick-loading img{display:none}
.slick-slider.slick-initialized .slick-list .slick-track .slick-slide{display:block}
.slick-slider .slick-list .slick-track.slick-loading .slick-slide{visibility:hidden}
.slick-slider .slick-arrow.slick-hidden{display:none}


/* 공통 */
.inner{max-width:1440px;position:relative;margin:0 auto;padding:0 20px;}

@media (min-width:1200px) {
    #header #gnb_mobile{display:none !important;}
    .mask_mobile{display:none !important;}
  }
  
  @media (max-width:1199px) {
    body{position:relative !important;}
    body.fixed{position:fixed !important;}
    #header #gnb_pc{display:none !important;}
    #header .bg_pc{display:none !important;}
    #sitemap{display:none !important;}
    .sitemapbg{display:none !important;}
    .mask_pc{display:none !important;}
}
@media (max-width:760px) {
   .inner{padding:0 15px;}
}

#header{position:fixed;z-index:2000;transition:all .2s;width:100%;background:#f5f7fc;}
#header .inner{transition:all .2s;}
#header h1{position:absolute;width:230px;height:41px;top:50%;left:20px;margin-top:-45px;z-index:15;transition:all .2s;}
#header h1 a{display:block;width:100%;height:100%;overflow:hidden;text-indent:-9999px;background:url(/page/gwjob/images/renew/common/logo.png) 0 0 no-repeat;background-size:cover;}
#header.fixed{background:rgba(245,247,252,.8);}
#header.fixed h1{height:0;}
#header.active{background:rgba(245,247,252,1);}

#gnb_pc{padding:0 80px 0 0px;position:relative;z-index:10;}
#gnb_pc .depth_01 > li{float:left;width:16.66666666666667%;position:relative;}
#gnb_pc .depth_01 h2 a{display:block;height:84px;line-height:84px;text-align:center;color:#333;font-weight:500;font-size:18px;transition:all .1s;position:relative;}
#gnb_pc .depth_01 h2 a:after{content:'';display:block;position:absolute;bottom:-3px;left:50%;right:50%;transition:all .2s;height:5px;border-radius:2px;background:#2f49f1;z-index:10;}
#gnb_pc .depth_01 h2.active a:after{left:2px;right:2px;}
#gnb_pc .depth_02{position:absolute;top:84px;left:0px;width:100%;display:none;border-left:1px solid #eaecf1;transition:all .2s;}
#gnb_pc .depth_01 h2.active + .depth_02{background:#fff;}
#gnb_pc .depth_02 h3 a{display:block;height:54px;line-height:54px;transition:all .1s;color:#555;font-size:16px;font-weight:500;position:relative;font-weight:400;white-space:nowrap;padding-left:45px;}
#gnb_pc .depth_02 h3 a:hover{color:#2f49f1;}
#gnb_pc .depth_02 h3 a:before{content:'';display:block;position:absolute;top:50%;margin-top:-2px;width:3px;height:3px;border-radius:50%;background:#555;left:30px;}
#gnb_pc .depth_02 h3 a:hover:before{background:#2f49f1;}
#gnb_pc .depth_02 h3 a.arrow:after{content:'';display:block;background:url(/page/gwjob/images/renew/common/sp_new.png) -356px -113px no-repeat;background-size:720px 400px;position:absolute;top:50%;margin-top:-7px;width:8px;height:14px;right:25px;}
#gnb_pc .depth_02 h3 a.arrow:hover:after{background-position-x:-436px;}

#gnb_pc .depth_02 h3 a[target=_blank]:after{position:absolute;top:50%;margin-top:-9px;right:20px;content:'';display:block;width:16px;height:16px;background:url(/page/foundation/images/common/sp_foundation02.png) -192px -272px no-repeat;background-size:800px 480px;}


#gnb_pc .topbx{height:82px;padding-top:44px;text-align:right;transition:all .2s;position:relative;right:-80px;}
#header.fixed #gnb_pc .topbx{height:0;padding:0;overflow:hidden;}
#gnb_pc .topbx > div{display:inline-block;vertical-align:top;}
#gnb_pc .topbx .joblk{display:inline-block;vertical-align:top;width:170px;box-shadow:0px 0px 15px 0px rgba(0,0,0,.05);margin-left:14px;border-radius:19px;}
#gnb_pc .topbx .joblk img{width:100%;display:block;}
#gnb_pc .topbx .memberbx a{display:inline-block;padding:0 10px;font-weight:400;vertical-align:top;color:#677379;font-size:14px;height:38px;line-height:38px;}
#gnb_pc .topbx .memberbx a:hover{color:#2f49f1}
#gnb_pc .topbx .searchbx{margin:0 0 0 17px;position:relative;height:38px;background:#fff;border-radius:19px;width:350px;padding-right:40px;text-align:left;box-shadow:0px 0px 15px 0px rgba(0,0,0,.05);border:1px solid #bbbcc0;}
#gnb_pc .topbx .searchbx input[type="search"]{height:38px;padding-left:20px;text-align:left;background:transparent;color:#666;font-size:14px;font-weight:300;font-family:'S-CoreDream', sans-serif;width:100%;}
#gnb_pc .topbx .searchbx input[type="search"]::placeholder{color:#666;}
#gnb_pc .topbx .searchbx input[type="search"]:focus::placeholder{color:transparent}
#gnb_pc .topbx .searchbx input[type="submit"]{background:url(/page/gwjob/images/renew/common/sp_new.png) -29px -29px no-repeat;background-size:720px 400px;transition:transform .1s;overflow:hidden;text-indent:-9999px;width:24px;height:24px;position:absolute;right:12px;top:50%;margin-top:-11.5px}
#gnb_pc .topbx .searchbx input[type="submit"]:active{transform:scale(.9);}


#header.active .depth_02 h3 a{animation:rise01 .3s .1s ease 1 both;}
#header.active .depth_02 > li:nth-child(2) h3 a{animation-delay:.13s;}
#header.active .depth_02 > li:nth-child(3) h3 a{animation-delay:.16s;}
#header.active .depth_02 > li:nth-child(4) h3 a{animation-delay:.195s;}
#header.active .depth_02 > li:nth-child(5) h3 a{animation-delay:.21s;}
#header.active .depth_02 > li:nth-child(6) h3 a{animation-delay:.24s;}
#header.active .depth_02 > li:nth-child(7) h3 a{animation-delay:.27s;}
#header.active .depth_02 > li:nth-child(8) h3 a{animation-delay:.3s;}
#header.active .depth_02 > li:nth-child(9) h3 a{animation-delay:.33s;}


#gnb_pc .topbx .snsbx a{display:inline-block;vertical-align:top;background:url(/page/gwjob/images/renew/common/sp_new.png) -265px -25px no-repeat;background-size:720px 400px;width:30px;height:30px;overflow:hidden;text-indent:9999px;margin:3px 0 0 5px;}
#gnb_pc .topbx .snsbx a.insta{background-position-x:-345px;}
#gnb_pc .topbx .snsbx a.blog{background-position-x:-425px;}

#header .btn_box{position:absolute;top:50%;right:20px;margin-top:30px;z-index:20;transform-origin:100% 50%;transition:all .2s;}
#header .btn_box a{display:block;height:24px;width:30px;background:url(/page/gwjob/images/renew/common/sp_new.png) -105px -28px no-repeat;background-size:720px 400px;transition:transform .1s;overflow:hidden;text-indent:-9999px;}
#header .btn_box a:active{transform:scale(.9);}
#header .btn_box a.mopen.active{background-position:-186px -26px;width:28px;height:28px;transform:scale(.9);}
#header .btn_box a.mopen{display:none;}
#header .bg_pc{position:absolute;top:166px;width:100%;left:0px;height:0px;display:none;overflow:hidden;background:#f5f7fc;}
#header .bg_pc:before{content:'';display:block;position:absolute;left:0;right:0;top:0;height:1px;background:#eaecf1;}
.mask_pc{position:fixed;z-index:100;top:0px;left:0;right:0;bottom:0;background:rgba(0,0,0,.5);display:none;}
#header.fixed .bg_pc{top:84px;}
#header.fixed .btn_box{margin-top:-12px;}

@keyframes rise01{ 
  0%{transform:translateY(-70%);opacity:0;}
  100%{transform:translateY(0%);opacity:1;}
}

@keyframes rise02{ 
  0%{transform:translateY(-50%);opacity:.5;}
  100%{transform:translateY(0%);opacity:1;}
}

@media (max-width:1199px) {
  #header .btn_box a.sitemap{display:none;}
  #header .btn_box a.mopen{display:block;}
}

#sitemap{position:fixed;z-index:2030;background:#f2f5fa;height:auto;top:35px;bottom:35px;display:none;animation:rise01 .3s .1s ease 1 both;left:calc((100vw - 1420px) / 2);right:calc((100vw - 1420px) / 2);padding:62px 45px 0px 95px;}
.sitemapbg{display:none;position:fixed;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,.5);z-index:2020;}
#sitemap:before{content:'';display:block;height:1px;background:#d2d2d2;position:absolute;left:382px;right:180px;top:90px;}
#sitemap .title{overflow:hidden;text-indent:-9999px;background:url(/page/gwjob/images/renew/common/logo.png) 0 0 no-repeat;background-size:cover;width:230px;height:41px;}
#sitemap .close{display:block;position:absolute;top:76px;right:100px;background:url(/page/gwjob/images/renew/common/sp_new.png) -186px -26px no-repeat;background-size:720px 400px;transition:transform .1s;height:28px;width:28px;overflow:hidden;text-indent:-9999px;}
#sitemap .close:active{transform:scale(.9);}

#sitemap .depth_01{overflow-y:auto;height:calc(100% - 110px);margin-top:50px;padding-right:150px;}
#sitemap .depth_01::-webkit-scrollbar{width:6px;}
#sitemap .depth_01::-webkit-scrollbar-thumb{background-color:#a9a8ae;border-radius:3px;}
#sitemap .depth_01::-webkit-scrollbar-track{background-color:#e2e6f3;border-radius:3px;}

#sitemap .depth_01 > li{padding-left:310px;position:relative;}
#sitemap .depth_01 > li + li{margin-top:52px;}
#sitemap .depth_01 h2{position:absolute;top:0;left:0;width:280px;height:50px;line-height:48px;border-radius:25px;border:1px solid #c6cbe2;text-align:center;color:#120b2a;font-size:20px;font-weight:500;}

#sitemap .depth_02{position:relative;}
#sitemap .depth_02:after{content:"";clear:both;display:table;}
#sitemap .depth_02 li{float:left;width:25%;padding-right:25px;margin-bottom:25px;}
#sitemap .depth_02 li:nth-child(5n){clear:both;}
#sitemap .depth_02 h3{margin-bottom:15px;}
#sitemap .depth_02 h3 a{display:block;height:50px;line-height:50px;color:#292243;font-size:16px;font-weight:400;position:relative;}
#sitemap .depth_02 h3 a:after{content:'';display:block;position:absolute;bottom:0;left:0;right:0;background:#c6cbe2;height:3px;border-radius:2px;transition:all .1s;}
#sitemap .depth_02 h3 a:hover:after{background:#2f52f3;}
#sitemap .depth_02 h4 a{display:block;height:30px;line-height:30px;color:#5d5b69;font-size:14px;font-weight:400;position:relative;padding-left:7px;}
#sitemap .depth_02 h4 a:after{content:'';display:block;width:2px;height:2px;background:#5d5b69;border-radius:50%;position:absolute;left:0;top:50%;margin-top:-1px;}
#sitemap .depth_02 h4 a:hover{text-decoration:underline;}

#gnb_mobile{display:none;position:fixed;top:60px;width:414px;height:calc(100% - 60px);overflow-y:auto;z-index:50;background:#fff;right:-414px;padding:0px 0px 20px;transition:all .35s ease-in-out;font-family: 'Noto Sans KR';}
.mask_mobile{position:fixed;z-index:100;top:0px;left:0;right:0;bottom:0;background:rgba(0,0,0,.5);display:none;}
#gnb_mobile.active{right:0%;}
#gnb_mobile .depth_02{display:none;background:#f5f5f5;padding:10px 15px;}
#gnb_mobile .depth_03{display:none;}
#gnb_mobile h2 a{display:block;position:relative;height:58px;line-height:58px;padding-left:45px;color:#111;font-size:22px;font-weight:700;}
#gnb_mobile h2 a:after{content:'';display:block;width:8px;height:8px;border:2px solid #231f20;border-width:2px 2px 0 0;transform:rotate(135deg);position:absolute;top:50%;margin-top:-4px;right:45px;transition:all .1s;}
#gnb_mobile h2.active a{color:#2f49f1}
#gnb_mobile h2.active a:after{transform:rotate(-45deg);border-color:#2f49f1}

#gnb_mobile h3 a{display:block;position:relative;height:50px;line-height:50px;padding-left:45px;color:#231f20;font-size:18px;font-weight:500;z-index:1;border-radius:27px;transition:all .2s;}
#gnb_mobile h3.has_depth a:after{content:'';display:block;width:8px;height:8px;border:2px solid #231f20;border-width:2px 2px 0 0;transform:rotate(135deg);position:absolute;top:50%;margin-top:-4px;right:30px;transition:all .1s;}
#gnb_mobile h3 a[target=_blank]:after{position:absolute;top:50%;margin-top:-7px;right:20px;content:'';display:block;width:14px;height:14px;background:url(/page/gwjob/images/renew/common/sp_new.png) -673px -193px no-repeat;background-size:720px 400px;transform:scale(.85);}

#gnb_mobile h3.active a{color:#fff;background:#2f49f1}
#gnb_mobile h3.active a:after{transform:rotate(-45deg);border-color:#fff;}
#gnb_mobile h3.active a:before{opacity:1;}
#gnb_mobile .depth_03{padding:10px 0 5px;}
#gnb_mobile h4 a{display:block;padding-left:45px;height:40px;line-height:40px;color:#231f20;font-size:16px;font-weight:500;}
#gnb_mobile h4 a:before{content:'-';padding-right:1px;}
#gnb_mobile h4.active a{color:#2f49f1;}

#gnb_mobile .topbx{margin:15px 20px 5px;position:relative;height:45px;background:#f5f5f5;border-radius:23px;text-align:left;}
#gnb_mobile .topbx input[type="search"]{height:45px;padding-left:20px;text-align:left;background:transparent;color:#231f20;font-size:15px;width:100%;font-weight:500;}
#gnb_mobile .topbx input[type="search"]::placeholder{color:#231f20;font-weight:500;}
#gnb_mobile .topbx input[type="search"]:focus::placeholder{color:transparent}
#gnb_mobile .topbx input[type="submit"]{background:url(/page/gwjob/images/renew/common/sp_new.png) -29px -29px no-repeat;background-size:720px 400px;transition:transform .1s;overflow:hidden;text-indent:-9999px;width:24px;height:24px;position:absolute;right:12px;top:50%;margin-top:-11.5px}
#gnb_mobile .topbx input[type="submit"]:active{transform:scale(.9);}

#gnb_mobile .mjbx{margin-top:15px;text-align:center;white-space:nowrap;}
#gnb_mobile .mjbx .memberbx{display:inline-block;vertical-align:top;}
#gnb_mobile .mjbx .memberbx a{display:inline-block;padding:0 8px;font-weight:400;vertical-align:top;color:#677379;font-size:14px;height:30px;line-height:30px;}
#gnb_mobile .mjbx .joblk{display:inline-block;vertical-align:top;width:140px;box-shadow:0px 0px 15px 0px rgba(0,0,0,.1);margin-left:10px;border-radius:19px}
#gnb_mobile .mjbx .joblk img{display:block;width:100%;}
#gnb_mobile .mjbx .snsbx{display:inline-block;vertical-align:top;margin-left:3px;}
#gnb_mobile .mjbx .snsbx a{display:inline-block;vertical-align:top;background:url(/page/gwjob/images/renew/common/sp_new.png) -265px -25px no-repeat;background-size:720px 400px;width:30px;height:30px;overflow:hidden;text-indent:9999px;margin:-1px 0 0 -2px;transform:scale(.8);}
#gnb_mobile .mjbx .snsbx a.insta{background-position-x:-345px;}
#gnb_mobile .mjbx .snsbx a.blog{background-position-x:-425px;}

@media (max-width:1400px) {
  #gnb_pc .depth_02 h3 a{padding-left:25px;}
  #gnb_pc .depth_02 h3 a:before{left:15px;}
  #gnb_pc .depth_02 h3 a.arrow:after{right:15px;}
}

@media (max-width:1199px) {
  #header{height:60px;}
  #header .inner{height:60px;}
  #header.fixed{height:52px;}
  #header.fixed .inner{height:52px;}
  #header h1{left:20px;width:176px;height:31px;margin-top:-17px;transition:all .2s;transform-origin:0% 50%;}
  #header.fixed h1{transform:scale(.9);height:31px;}
  #header .btn_box{right:20px;transform:scale(.8);margin-top:-13px;}
  #gnb_mobile{display:block;}
  #header.active2{background:#fff;}
  
}

@media (max-width:760px) {
  #header h1{left:15px;}
  #header .btn_box{right:15px;}
}

@media (max-width:414px) {
  #gnb_mobile{width:100%;right:-100%;}
}


#footer{background:#c5cfd9;padding:60px 0 47px;z-index:30;position:relative;}
#footer .inner{z-index:2;}
#footer .inner:before{content:'';display:block;z-index:-1;right:135px;bottom:-47px;background:url(/page/gwjob/images/renew/common/bg_footer.png) 0 0 no-repeat;background-size:cover;width:297px;height:262px;position:absolute;transform-origin:100% 100%;}
#footer .link{white-space:nowrap;margin-left:-25px;}
#footer .link a{display:inline-block;vertical-align:top;padding:0 25px;height:22px;line-height:22px;color:#3b3436;font-size:16px;font-weight:500;transition:all .1s;position:relative;}
#footer .link a:first-child{color:#2f49f1;}
#footer .link a:after{content:'';display:block;width:2px;height:15px;background:#3b3436;position:absolute;right:-1px;top:50%;margin-top:-8px;}
#footer .link a:last-child:after{display:none;}

#footer .address{margin-top:25px;}
#footer .address p{color:#727374;font-size:14px;font-weight:400;}
#footer .address p + p{margin-top:1px;}
#footer .address p.copy{color:#a4a6a7;font-size:14px;margin-top:10px;}
#footer .address p.copy a{display:inline-block;vertical-align:middle;margin-left:25px;width:121px;}
#footer .address p.copy a + a{margin-left:30px;width:162px;}
#footer .address p.copy a img{display:block;width:100%}
#footer .family{position:absolute;top:0;right:20px;text-align:right;}

#footer .family > div{display:inline-block;vertical-align:top;position:relative;z-index:5;}
#footer .family > div .open{height:42px;line-height:44px;width:280px;border-radius:21px;padding:0 35px 0 20px;font-weight:500;display:inline-block;text-align:left;color:#231f20;position:relative;z-index:2;border:1px solid #000;transition:all .2s .1s;}
#footer .family > div .open.active{background:#fff;border-color:#fff;transition:all .2s .1s;}
#footer .family > div .open:after{content:'';display:block;width:14px;height:8px;position:absolute;top:50%;margin-top:-4px;right:20px;transition:all .1s;background:url(/page/gwjob/images/renew/common/sp_new.png) -113px -356px no-repeat;background-size:720px 400px;transform:rotate(180deg);}
#footer .family > div .open.active:after{transform:rotate(0deg);margin-top:-3px;}
#footer .family > div .view{position:absolute;bottom:16px;left:0;right:0;padding:10px 0 25px;background:#fff;border-radius:15px;transition:all .2s .1s ease-in-out;opacity:0;transform:translateY(20px);opacity:0;visibility:hidden;}
#footer .family > div .view a{display:block;height:32px;line-height:32px;text-align:left;padding:0 15px 0 15px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:14px;color:#333;transition:all .1s;}
#footer .family > div .view a:hover{font-weight:700;}
#footer .family > div .active + .view{transform:translateY(0);opacity:1;visibility:visible;}


@media (max-width:1199px) {
  #footer{padding:32px 15px 25px;}
  #footer .inner:before{transform:scale(.6);right:-15px;bottom:-27px;opacity:.9;}
  #footer .family{position:relative;top:auto;right:auto;margin:15px 0 17px;}
  #footer .family > div{display:block;margin:0 auto;max-width:280px;width:90%;}
  #footer .family > div .view{bottom:12px;}

  #footer .family > div .open{width:100%;font-size:14px;height:36px;line-height:38px;}
  #footer .link{padding-left:0px;text-align:center;margin:0 -30px;}
  #footer .link a{padding:0 9px;font-size:14px;}
  #footer .link a:after{height:12px;margin-top:-7px;width:1px;}

  #footer .address{margin-top:10px;text-align:center;}
  #footer .address p{font-size:13px;}
  #footer .address p span{display:block;}
  #footer .address p em{display:none;}
  #footer .address p.copy{margin-top:13px;}
  #footer .address p.copy span{margin-top:13px;}
  #footer .address p.copy a{width:105px;margin-left:0;}
  #footer .address p.copy a img{width:100%;}
  #footer .address p.copy a + a{width:150px;margin-left:20px;}
}


#btn_top{position:absolute;top:700px;left:50%;margin-left:720px;display:block;width:60px;height:60px;border-radius:50%;background:#fff;color:#464646;font-size:14px;font-weight:500;text-align:center;z-index:1101;transition:opacity .15s;box-shadow:0px 0px 7px 2px rgba(0,0,0,.1);opacity:0;}
#btn_top:hover{transform:scale(1.05);text-decoration:none;}
#btn_top:active{transform:scale(.95);}
#btn_top:before{content:'';display:block;margin:20px auto -3px;width:8px;height:8px;border:1px solid #585858;border-width:1px 1px 0 0;transform:rotate(-45deg);}

@media (max-width:1600px) {
  #btn_top{position:fixed;left:auto;margin-left:0;right:20px;bottom:20px !important;top:auto !important;width:50px;height:50px;font-size:13px;}
  #btn_top:before{margin:15px auto -2px;}
}

@media (max-width:1400px) {
  #btn_top{margin-left:580px;}
}

@media (max-width:760px) {
  #btn_top{right:15px;bottom:15px !important;width:40px;height:40px;}
  #btn_top:before{margin:11px auto -3px;}
}


.title1 {color: #195dae; position: relative; padding-bottom: 25px; font-size: 22px;}
.title1:after {content: ''; display: block; position: absolute; width: 90%; height: 4px; left: 50%; bottom: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); background: #195dae;}
.title2 {font-size: 24px; color: #195dae; margin-bottom: 30px; font-weight: 700;}
.title3 {font-size: 20px; position: relative; padding-left: 15px; margin: 25px 0;}
.title3:before {content: ''; display: block; background: url(../images/ico_title3.jpg) no-repeat left top; width: 5px; height: 18px;  position: absolute; left: 0; top: 6px;}
.title3.weirdo {font-size: 16px;}
.title3.weirdo em {color: #195dae; font-size: 18px;}
.title3.weirdo time {color: #666;}
.title4 {font-size: 30px;}
.title4 span {color: #195dae;}
.title5 {background: #ebebeb; padding: 20px; text-align: center; font-size: 18px; color: #464646; margin-bottom: 20px;}
.title6 {position: relative; padding: 60px 0; margin: 30px 0; text-align: center; font-size: 30px;}
.title6 b {font-weight: 500; color: #2458a6;}
.title6:before {content: ''; display: block; position: absolute; left: 50%; top: 0; background: url(../images/ico_quote1.png) no-repeat top center; width: 31px; height: 26px; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.title6:after {content: ''; display: block; position: absolute; left: 50%; bottom: 0; background: url(../images/ico_quote1.png) no-repeat top center; width: 31px; height: 26px; -webkit-transform: translateX(-50%) scaleY(-1) scaleX(-1); transform: translateX(-50%) scaleY(-1) scaleX(-1);}
.title7 {position: relative; font-weight: 500; font-size: 30px; text-align: center; padding-top: 12px;}
.title7:before {content: ''; display: block; height: 2px; width: 25px; position: absolute; left: 50%; top: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); background: #000;}
.symbol1 {position: relative; padding-left: 15px;}
.symbol1:before {content: '※'; display: block; position: absolute; left: 0; top: 0;}
.symbol2 {position: relative; padding-left: 15px; display: block;}
.symbol2:before {content: ''; display: block; position: absolute; left: 0; top: 10px; background: #2397d4; width: 7px; height: 2px;}
.symbol3 {position: relative; padding-left: 10px; display: block;}
.symbol3:before {content: ''; display: block; position: absolute; left: 0; top: 9px; background: #808080; width: 3px; height: 3px;}
.symbol4 {position: relative; padding-left: 10px; display: block;}
.symbol4:before {content: '-'; display: block; position: absolute; left: 0; top: 0;}
.symbol5 {position: relative; padding-left: 15px;}
.symbol5:before {content: ''; display: block; background: url(../images/ico_title3.jpg) no-repeat left top; width: 5px; height: 18px;  position: absolute; left: 0; top: 2px;}
.symbol6 {position: relative; padding-left: 30px;}
.symbol6:before {content: ''; display: block; position: absolute; left: 0; top: 1px; width: 20px; height: 20px; border: 1px solid #000; background: #ff0000;}
.symbol7 {position: relative; padding-left: 30px;}
.symbol7:before {content: ''; display: block; position: absolute; left: 0; top: 1px; width: 20px; height: 20px; border: 1px solid #000; background: #fff;}
.box2 {background: #ebebeb; padding: 25px;}
.box2 .title {text-align: center; margin-bottom: 30px; font-size: 20px;}
.box3 {background: #ecf5ff; padding: 25px;}
.box4 {background: #ebebeb url(../images/ico_location1.png) no-repeat top 40px center; padding: 180px 20px 40px; margin-bottom: 25px;}
.box4.api {background: #ebebeb url(../images/ico_api.png) no-repeat top 40px center;}
.box4 > :first-child {position: relative; padding: 70px 0 0 0;}
.box4 > :first-child:after {content: ''; display: block; position: absolute; left: 50%; top: 20px; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 3px; height: 15px; background: #000;}
.box4 h3 {font-size: 22px; text-align: center; margin-bottom: 25px; font-weight: 600;}
.box4 a {text-decoration: underline;}
.box5 {background: url(../images/bg_pattern2.png) repeat left top; position: relative;}
.box5 > * {position: relative; z-index: 10;}
.box5:after {content: ''; display: block; position: absolute; width: calc(100% - 10px); height: calc(100% - 10px); left: 5px; top: 5px; background: #fff; z-index: 1;}
.btn-wrap {margin-top: 20px; position: relative;}
.btn-wrap.align-left {text-align: left;}
.btn-wrap.align-center {text-align: center;}
.btn-wrap.align-right {text-align: right;}
.btn1 {background: #123884; text-align: center; padding: 15px 0; color: #fff !important; width: 215px; display: inline-block; border-radius: 3px;}
.btn2 {background: #344970; text-align: center; padding: 15px 0; color: #fff !important; width: 215px; display: inline-block; border-radius: 3px;}
.btn3 {background: #4d5361; text-align: center; padding: 5.5px 0; color: #fff !important;}
.btn3.weirdo {padding: 15px 0;}
.btn4 {background: #466cb7; text-align: center; padding: 15px 0; color: #fff !important; width: 120px; display: inline-block;}
.btn5 {background: #0054a6; text-align: center; color: #fff !important; font-size: 12px; padding: 0 4px; display: inline-block;}
.btn6 {background: #fff; border: 1px solid #ddd; text-align: center; color: #666 /* !important */; padding: 6px 0; display: inline-block; border-radius: 3px;}
.btn7 {background: #000; text-align: center; color: #fff !important; padding: 6px 0; display: inline-block;}
.btn8 {background: #005952; text-align: center; color: #fff !important; padding: 6px 0; display: inline-block;}
.btn9 {background: #636363; color: #fff; text-align: center; color: #fff !important; padding: 10px 0; display: inline-block; border-radius: 3px;}
.btn10 {background: #24582f; color: #fff; text-align: center; color: #fff !important; padding: 10px 0; display: inline-block;}
.btn11 {background: #636363; color: #fff; text-align: center; color: #fff !important; padding: 5px 0; display: inline-block; border-radius: 3px;}
.btn12 {background: #e1e1e1; border: 1px solid #ccc; border-radius: 3px; text-align: center; color: #010101; padding: 10px 0; display: inline-block;}
.btn13 {background: #b74646; text-align: center; color: #fff !important; padding: 10px 0;}
.btn14 {background: #e60012; text-align: center; color: #fff !important; padding: 10px 0;}
.btn15 {background: #ff9422; text-align: center; color: #fff !important; padding: 15px 0; display: inline-block; border-radius: 3px; width: 90%; font-weight: 700;}
.btn16 {background: #ff982a; text-align: center; color: #fff !important; padding: 15px 0; display: inline-block; border-radius: 3px;font-weight: 700;}
.btn3.basic, .btn8.basic {padding: 10px 0; display: inline-block;}
.btn-wrap.weirdo .btn3 {border-radius: 3px; padding: 15px 0;}
.btn-wrap.weirdo .btn {float: left; width: calc((100% - 10px) / 2);}
.btn-wrap.weirdo .btn:nth-child(-n+2) {margin: 0 10px 10px 0;}
.btn-wrap.weirdo .btn:nth-child(2n) {margin-right: 0;}
.box1 section {border: 1px solid #c3c3c3; padding: 20px; text-align: center;}
.box1 section:last-child {border-top-style: none;}
.box1 .title4 + p {margin: 15px 0;}
.box2 li:not(:last-child) {margin-bottom: 10px;}
.box2 .title3 {margin-top: 0;}
.success {color: #096bc9 !important;}
.error {color: #ed1c24 !important;}
.alert1 {border: 1px solid #ddd; padding: 77px 20px 20px 20px; background: #fff;}
.alert1 .title {position: absolute; left: 0; top: 0; width: 100%; text-align: center; background: #f0f0f0; padding: 15px 0; font-size: 18px;}
.alert1 .title + p {text-align: center; font-size: 16px;}
.alert1 input[type=text], .alert1 input[type=password] {border: 1px solid #ddd; height: 32px; background: #fff; width: 80%; margin: 15px auto 0; display: block;}
.modal {width: 92%;}
.alert1 .btn, .alert2 .btn {border-radius: 0px; padding: 15px 0;}
.alert1 .btn-wrap .btn, .alert2 .btn-wrap .btn {float: left; width: calc((100% - 20px) / 2); margin-right: 20px;}
.alert1 .btn-wrap .btn:last-child, .alert2 .btn-wrap .btn:last-child {margin-right: 0;}
.alert2 {border: 1px solid #ddd; padding: 20px; background: #f0f0f0; text-align: center;}
.alert2 p {font-size: 18px;}
.alert2 > .btn {width: 100%; margin-top: 30px;}
.dash-wrap span {padding: 0 10px;}
.responsive {overflow-x: auto; position: relative;}
/* .responsive:before {content: ''; display: block; position: absolute; left: 50%; top: 80px; -webkit-transform: translateX(-50%); transform: translateX(-50%); background: url(../images/ico_m_scroll.png) no-repeat top center; width: 120px; height: 60px;} */
.responsive.moved:before {display: none;}
.responsive > table {width: 768px !important; word-break: keep-all;}
.table1 {border-top: 3px solid #000; background: #fff;}
.table1 th {background: #f7f7f7; padding: 15px 0; border: 1px solid #e0e0e0; border-left: 0; font-weight: 500; width: 30%;}
.table1 td {padding: 15px; border: 1px solid #e0e0e0; border-right: 0; position: relative;}
.table2 {background: #fff;}
.table2 th {border: 1px solid #e0e0e0; border-top: 1px solid #000; background: #f7f7f7; padding: 15px; font-weight: 500;}
.table2 th:first-child {border-left: 0; width: 20%;}
.table2 th:last-child {border-right: 0;}
.table2 th.weirdo {background: #fff;}
.table2 td {border: 1px solid #e0e0e0; padding: 15px;}
.table2 .txt-center td {text-align: center;}
.table2 td:first-child {text-align: center; border-left: 0; width: 20%;}
.table2 td:last-child {border-right: 0;}
.table3 {border-top: 3px solid #000; background: #fff;}
.table3 th {border: 1px solid #e0e0e0; padding: 15px 0; font-weight: 500;}
.table3 thead th {background: #f7f7f7; text-align: center; font-weight: 800;}
.table3 tbody td {border: 1px solid #e0e0e0; padding: 15px;}
.table3 th:first-child {border-left: 0; width: 80px;}
.table3 td:last-child {border-right: 0;}
.dl1 dt {float: left; position: relative;}
.dl1 dt:after {content: ':'; display: inline-block; margin: 0 3px;}
.dl1 dt:not(:first-child) {margin-left: 30px;}
.dl1 dd {float: left;}
.help {margin-top: 10px;}
.gray {color: #a1a1a1;}
.txt-right {text-align: right;}
.modal-overlay.darken {background: rgba(0, 0, 0, 1);}
.list2 article {float: left; width: calc((100% - 25px) / 2);}
.list2 article:not(:nth-child(2n)) {margin-right: 25px;}
.list2 article:nth-child(2) {margin-top: 0;}
.list2 article:not(:nth-child(-n+2)) {margin-top: 25px;}
.ui-datepicker {z-index: 1001 !important;}
.condition, .condition-write {background: #fff; width: 98%; padding: 10px;}
.condition table {border-top: 3px solid #000;}
.condition > .btn-close, .condition-write > .btn-close {background: url(../images/ico_close3.png) no-repeat top center; width: 23px; height: 23px; right: 10px; top: 10px; position: absolute;}
.condition td {position: relative;}
.condition td input[type=checkbox] {position: absolute; left: 3px; top: 16px;}
.male {color: #0054a6;}
.female {color: #ff0000;}

#header-view {text-align:center;position:relative;margin-top:69px;height:259px;width: 100%;overflow: hidden;}
#header-view img{display:block;margin:0 auto;position:absolute;top:0px;left:50%;transform:translateX(-50%);}
.header-view-v2{margin-top:0 !important;height:328px !important;}



/* Extra Small */
@media (max-width: 320px) {
    .btn6 {font-size: 13px;}
    .alert1 .title + p, .alert2 p {font-size: 15px;}
}

@media (min-width: 770px) {
   #gnb-mobile .gnb-sub .slick-track{width:100% !important;}
   #gnb-mobile .gnb-sub a{width:20%;}
}

@media (max-width: 991px) {
   #header-view {display:none !important;}
}

@media (max-width: 991px) {
   #header .bg{display: none !important;}
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    .tab-menu.nav{padding-top:0px;}
    .tab-menu.nav li {padding: 12px 0; text-align: center; width: calc(100% / 3); display: block; z-index: 100;}
    .tab-menu.nav li.active {display: block;position: relative;;top:0px;}
    .tab-menu.nav li.active {z-index: 500;}
    .tab-menu.nav li.active:after {display: none;}
    .tab-menu.nav li.on:after {display: none;}
    .btn-wrap.align-left > div, .btn-wrap.align-center > div, .btn-wrap.align-right > div {display: inline-block; width: 50%;}
    .btn-wrap.weirdo {height: 52px;}
    .btn-wrap.weirdo .btn {width: 162px; position: absolute; top: 0; margin: 0; float: none;}
    .btn-wrap.weirdo .btn:nth-last-child(1) {right: 0;}
    .btn-wrap.weirdo .btn:nth-last-child(2) {right: 172px;}
    .btn-wrap.weirdo .btn:nth-last-child(3) {right: 344px;}
    .btn-wrap.weirdo .btn:first-child {position: absolute; left: 0;}

    .youth-allow .btn-wrap.weirdo .btn {width:162px;}
    .support-apply .btn-wrap.weirdo .btn {width:162px;}

    .box1 > section {float: left; width: 50%;}
    .box1 > section:last-child {border-top: 1px solid #c3c3c3; border-left-style: none;}
    .box4 h3 span {display: block;}
    .modal.alert1 {width: 350px;}
    .responsive > table {width: 100% !important;}
    .condition, .condition-write {width: 94%;}
    .condition table td {text-align: center;}
    .condition td input[type=checkbox] {left: 20px;}
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

    .btn-wrap.align-left > div, .btn-wrap.align-center > div, .btn-wrap.align-right > div {display: inline-block; width: 50%;}
    .btn-wrap.freak > div {width: 30%;}
    .btn-wrap.weirdo {height: 52px;}
    .btn-wrap.weirdo .btn {width: 162px; position: absolute; top: 0; margin: 0; float: none;}
    .btn-wrap.weirdo .btn:nth-last-child(1) {right: 0;}
    .btn-wrap.weirdo .btn:nth-last-child(2) {right: 172px;}
    .btn-wrap.weirdo .btn:nth-last-child(3) {right: 344px;}
    .btn-wrap.weirdo .btn:first-child {position: absolute; left: 0;}

    .youth-allow .btn-wrap.weirdo .btn {width:162px;}
    .support-apply .btn-wrap.weirdo .btn {width:162px;}

    .box1 > section {float: left; width: 50%;}
    .box1 > section:last-child {border-top: 1px solid #c3c3c3; border-left-style: none;}
    .modal.alert1 {width: 350px;}
    .responsive > table {width: 100% !important;}
    .box4 h3 span {display: block;}
     .list2 article {float: left; width: calc((100% - 25px) / 2);}
    .list2 article:not(:nth-child(2n)) {margin-right: 25px;}
    .list2 article:nth-child(2) {margin-top: 0;}
    .list2 article:not(:nth-child(-n+2)) {margin-top: 25px;}
    .condition, .condition-write {width: 94%;}
    .condition table td {text-align: center;}
    .condition td input[type=checkbox] {left: 20px;}
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
   
    .btn-wrap.align-left > div, .btn-wrap.align-center > div, .btn-wrap.align-right > div {display: inline-block; width: 50%;}
    .btn-wrap.freak > div {width: 30%;}
    .btn-wrap.weirdo {height: 52px;}
    .btn-wrap.weirdo .btn {width: 162px; position: absolute; top: 0; margin: 0; float: none;}
    .btn-wrap.weirdo .btn:nth-last-child(1) {right: 0;}
    .btn-wrap.weirdo .btn:nth-last-child(2) {right: 172px;}
    .btn-wrap.weirdo .btn:nth-last-child(3) {right: 344px;}
    .btn-wrap.weirdo .btn:first-child {position: absolute; left: 0;}

    .youth-allow .btn-wrap.weirdo .btn {width:164px;}
    .support-apply .btn-wrap.weirdo .btn {width:164px;}

    .box1 > section {float: left; width: 50%;}
    .box1 > section:last-child {border-top: 1px solid #c3c3c3; border-left-style: none;}
    .box4 h3 span {display: block;}
    .modal.alert1 {width: 350px;}
    .responsive > table {width: 100% !important;}
    .list2 article {float: left; width: calc((100% - 25px) / 2);}
    .list2 article:not(:nth-child(2n)) {margin-right: 25px;}
    .list2 article:nth-child(2) {margin-top: 0;}
    .list2 article:not(:nth-child(-n+2)) {margin-top: 25px;}
    .condition, .condition-write {width: 60%;}
    .condition table td {text-align: center;}
    .condition td input[type=checkbox] {left: 20px;}
}

/* print */
@media print {
}

/* ie only */
@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
}

/* 내구직정보,내채용정보 팝업 */
.modal.choose-mypost {}
.modal.choose-mypost .title2 {margin-bottom: 12px;}
.modal.choose-mypost p.desc {margin-bottom:12px;}
.modal.choose-mypost p.desc a {font-weight:bold;}

/* 지원사업 */
.support-apply input[type=submit] {background:#4d5361;}

/*  */
.minwon.article.list input[type=submit] {background:#4d5361;}

/* 게시판 */
.board.article.list input[type=submit] {background:#4d5361;}

/*  */

/*  */
.hrd.api.list input[type=submit] {background:#4d5361;}

/* 포토게시판 */
.view1 .slick-wrap {position:relative;}
.view1 .slick1 .prev {display: block;z-index: 100;position:absolute;background: url(/page/common/images/btns-board-gallery.png) 0 50% no-repeat; width: 50px; height: 50px; left: 10px; top: 50%; opacity:80%;}
.view1 .slick1 .next {display: block;z-index: 100;position:absolute;background: url(/page/common/images/btns-board-gallery.png) -51px 50% no-repeat; width: 50px; height: 50px; right: 10px; top: 50%; opacity:80%;}
.view1 .slick1 .slick figure {position: relative; overflow-y: hidden;}
.view1 .slick1 .slick figure img{min-height:100%; border:10px solid #E3E3E3;}
.view1 .slick1 .thumbs {margin: 22px 0 0 0;overflow:hidden;}
.view1 .slick1 .thumbs .slick-list{margin:0 -12px}
.view1 .slick1 .thumbs .slick-slide{margin:0 12px;position:relative;/*padding-top:4.7vw;*/}
.view1 .slick1 .thumbs .slick-slide img{display:block !important;cursor: pointer;/*position:absolute;*/top:0px;left:0px;min-height:100%;width:100%;}
.view1 .slick1 .thumbs .slick-slide.slick-current:after{content:'';display:block;position:absolute;border:5px solid #515151;top:0px;left:0px;right:0px;bottom:0px;pointer-events: none;}
.view1 .slick1 .thumbs .slick-track{margin:0 !important;}
.view1 .slick1 .thumbs a {display: block; width: calc((100% - 10px) / 2); float: left; margin: 10px 10px 0 0;}
.view1 .slick1 .thumbs a:nth-child(-n+2) {margin-top: 0;}
.view1 .slick1 .thumbs a:nth-child(2n) {margin-right: 0;}
.view1 .slick1 .thumbs a img {width: 100%; display: block; min-height: 96px; max-height: 96px; object-fit: cover;}
.view1 {position: relative;margin-top:50px;}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.view1 .slick1 .thumbs a {width: calc((100% - 30px) / 4); margin: 10px 10px 0 0 !important;}
	.view1 .slick1 .thumbs a:nth-child(-n+4) {margin-top: 0 !important;}
	.view1 .slick1 .thumbs a:nth-child(4n) {margin-right: 0 !important;}
	.view1 .slick1 {margin:0 auto; width: 600px;}
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.view1 .slick1 .slick figure {height: auto;}
	.view1 .slick1 .thumbs a {width: calc((100% - 30px) / 4); margin: 10px 10px 0 0 !important;}
	.view1 .slick1 .thumbs a img {min-height: 110px; max-height: 110px;}
	.view1 .slick1 .thumbs a:nth-child(-n+4), .view4 .thumbs a:nth-child(-n+4) {margin-top: 0 !important;}
	.view1 .slick1 .thumbs a:nth-child(4n), .view4 .slick1 .thumbs a:nth-child(4n) {margin-right: 0 !important;}
	.view1 .slick1 {margin:0 auto; width: 600px;}
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
	.view1 .slick1 .slick figure {height: auto;}
	.view1 .slick1 .slick figure {height: auto;}
	.view1 .slick1 .thumbs a {width: calc((100% - 30px) / 4); margin: 10px 10px 0 0 !important;}
	.view1 .slick1 .thumbs a:nth-child(-n+4), .view4 .thumbs a:nth-child(-n+4) {margin-top: 0 !important;}
	.view1 .slick1 .thumbs a:nth-child(4n), .view4 .slick1 .thumbs a:nth-child(4n) {margin-right: 0 !important;}
	.view1 .slick1 {margin:0 auto; width: 600px;}
}

/*정기소식지*/
.webzineArea {overflow: hidden;}
.webzineArea .webzine_main {text-align:center;}
.webzineArea .webzine_main img {max-width:800px; width:100%;}
.carousel-wrap {position: relative;}
.carousel-wrap .prev, .carousel-wrap .next {position: absolute; z-index: 1000;}
.webzineArea .webzineList {margin: 60px auto;}
.webzineArea .webzineList .prev {right: 65px; top: -40px; width: 41px; height: 41px; border-radius: 50%; border: 1px solid #aaa;}
.webzineArea .webzineList .next {right: 15px; top: -40px; width: 41px; height: 41px; border-radius: 50%; border: 1px solid #aaa;}
.webzineArea .webzineList .prev img, .webzineArea .webzineList .next img {width: 13px;}
.webzineArea .webzineList .wrap {position: relative; margin: 20px 0 0 0; padding: 0 15px; overflow: hidden;}
.webzineArea .webzineList .wrap:hover article, .webzineArea .webzineList .wrap.active article {display: block;}
.webzineArea .webzineList article {text-align:center; padding-top:10px;}

.webzineArea .webzine_view {text-align:center; padding-bottom:20px; margin-bottom:20px; border-bottom:1px solid #aaa;}
.webzineArea .webzine_main img {max-width:800px; width:100%;}

@media (min-width: 768px) and (max-width: 991px) {
    .webzineArea .webzineList {margin: 100px auto 80px;}
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .webzineArea .webzineList {margin: 100px auto 80px;}
    .webzineArea .webzineList .wrap {margin: 40px 0 0 0;}
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
    .webzineArea .webzineList {margin: 0px auto 80px;}
    .webzineArea .webzineList .wrap {padding: 0; margin: 0 0 0 0;}
    .webzineArea .webzineList .slick-slide {margin: 40px 40px 0 40px;}
    .webzineArea .webzineList .slick-list {margin: 0 60px;}
    .webzineArea .webzineList .prev {right: auto; left: 0px; top: 50%; transform: translateY(calc(-50% + 20px));}
    .webzineArea .webzineList .next {right: 0px; top: 50%; transform: translateY(calc(-50% + 20px));}
}

.flip-x {-webkit-transform: scaleX(-1); transform: scaleX(-1);}
.flip-y {-webkit-transform: scaleY(-1); transform: scaleY(-1);}

/* 설문-상세 */
.poll.read span.red {color:red;}


caption {height: 0; text-indent: -9999px;}

/* component */
.noto {font-family: 'Noto Sans KR', sans-serif;}
.skip {display: block; height: 1px; width: 1px; margin: 0 -1px -1px 0; overflow: hidden; font-size: 0; line-height: 0; text-align: center;}
.skip:hover, .skip:active, .skip:focus{width:100%; height:auto; padding:15px 0; text-indent:10px; font-weight:bold; font-size:14px; color:#333;}
.sr-only {position: absolute !important; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; border: 0;}
.feather {width: 26px; height: 26px; stroke: currentColor; stroke-width: 2; fill: none; stroke-linecap: round; stroke-linejoin: round;}
.center {position: absolute !important; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.center-v {position: absolute !important; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.center-h {position: absolute !important; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
.truncate {text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.flip-x {-webkit-transform: scaleX(-1); transform: scaleX(-1);}
.flip-y {-webkit-transform: scaleY(-1); transform: scaleY(-1);}
.flip-90 {-webkit-transform: rotate(-90deg);transform: rotate(-90deg);}
.tab-menu {text-align: center;}
.tab-menu li {float: left; border: 1px solid #cbcbcb; margin: -1px 0 0 -1px; width: calc(100% / 3); position: relative; z-index: 1;}
.tab-menu li.active {border: 1px solid #3b62b2; position: relative; z-index: 10;}
.txt-shadow {text-shadow: 1px 1px 6px #000;}
.fixed {position: fixed !important;}
table.fixed {position: static !important; table-layout: fixed;}
.z-depth-0 {-webkit-box-shadow: none !important; box-shadow: none !important;}
.z-depth-1 {-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);}
.z-depth-2 {-webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);}
.z-depth-3 {-webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);}
.z-depth-4 {-webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2); box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);}
.z-depth-5 {-webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2); box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);}
.hover-zoom img {-webkit-transform: scale(1);transform: scale(1); -webkit-transition: .4s; transition: .4s;}
.hover-zoom:hover img {-webkit-transform: scale(1.1);transform: scale(1.1); -webkit-transition: .6s; transition: .6s;}
.radar {position: relative; background: #ffcc00; display: block;}
.radar:hover:after {content: ''; display: block; position: absolute; left: 50%; top: 50%; width: 100%; height: 100%; background: inherit; z-index: -1; opacity: 0; border-radius: inherit; -webkit-animation: radar 1s infinite ease;animation: radar 1s infinite ease;}
.preload {-webkit-transition: none !important;transition: none !important;}
.modal {position: fixed; left: 50%; top: 50%; opacity: 0; visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden;  -webkit-transform: translate(-50%, 30%); transform: translate(-50%, 30%); -webkit-transition: all .3s; transition: all .3s; z-index: -1;}
.modal > img {width: 100%; height: auto;}
.modal-show {-webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); opacity:1; visibility: visible; z-index: 9999; -webkit-transition: all .6s; transition: all .6s; text-indent: 0;}
.modal-overlay {background: rgba(0, 0, 0, .7); width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: 9000;}
.modal-blur {filter: blur(2px); -webkit-filter: blur(2px);}
.toast-wrap {position: fixed !important; font-size: 13px; left: 10px; bottom: 10px;}
.toast-wrap .toast {min-width: 180px; height: 40; padding: 8px; -webkit-transition: all 1s; transition: all 1s;}
.toast-wrap .toast:not(:last-child) {margin-bottom: 10px;}
.toast h6 {font-size: 14px; font-weight: 800; margin-bottom: 4px; text-align: center;}
.toast .feather {width: 24px; height: 24px; float: left; margin-right: 5px;}
.toast .progress {position: absolute; left: 0; bottom: 0; width: 100%; height: 3px; background: #fff; opacity: .7;}
.toast .btn-close {position: absolute; right: -5px; top: 3px;}
.toast .btn-close .feather {width: 20px; height: 20px;}
.circle {border-radius: 50%;}
.clear:after {content: ''; display: block; clear: both;}

/* Extra Small */
@media (max-width: 320px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .hide-on-small {display: none !important;}
    .show-on-small {display: block !important;}
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .hide-on-medium {display: none !important;}
    .show-on-medium {display: block !important;}
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .hide-on-laptop {display: none !important;}
    .show-on-laptop {display: none !important;}
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
    .hide-on-large {display: none !important;}
    .show-on-large {display: block !important;}
}

