@charset "utf-8";

/* 레이아웃 공통 */
html, body{position:relative; width:100%;}
body{color:#313131; font-size:16px; line-height:1.5; font-family:'Noto Sans KR', sans-serif; word-break:break-all;letter-spacing:-1px;}
main{display:block;}
.confirmIframe body{overflow:hidden;}
#progressScroll{display:none;}

/* 본문바로가기 */
.skipnav{position:absolute;z-index:2999;top:-100px;width:100%;padding:0;list-style:none;font-size:14px;}
.skipnav li{position:relative;top:0;left:0;width:100%}
.skipnav li a{display:block;position:absolute;top:0;width:100%;padding:15px 0;background:#000;color:#fff;text-align:center;text-decoration:none}
.skipnav li a:focus,.skipnav li a:active{top:100px}

/* slick 플러그인 */
.slick-slider .slick-list{display:block; overflow-x:hidden; overflow-y:hidden; position:relative}
.slick-slider .slick-list.dragging{cursor:pointer}
.slick-slider .slick-list .slick-track{display:block; position:relative; top:0; left:0}
.slick-slider .slick-list .slick-track:before, .slick-slider .slick-list .slick-track:after{display:table; content:''}
.slick-slider .slick-list .slick-track:after{clear:both}
.slick-slider .slick-list.slick-loading .slick-track{visibility:hidden}
.slick-slider .slick-list .slick-track .slick-slide{display:none; float:left}
.slick-slider[dir='rtl'] .slick-list .slick-track .slick-slide{float:right}
.slick-slider .slick-list .slick-track .slick-slide img{display:block;width:100%;}
.slick-slider .slick-list .slick-track .slick-slide.slick-loading img{display:none}
.slick-slider.slick-initialized .slick-list .slick-track .slick-slide{display:block}
.slick-slider .slick-list .slick-track.slick-loading .slick-slide{visibility:hidden}
.slick-slider .slick-arrow.slick-hidden{display:none}


/* 공통 */
.inner{max-width:1200px;position:relative;margin:0 auto;}

#header{position:fixed;z-index:2000;height:91px;width:100%;transition:all .3s;background:#fff;border-bottom:1px solid #dadada;box-shadow:0px 2px 5px 0px rgba(0,0,0,.1);}
#header h1{position:absolute;left:40px;top:0px;z-index:100;}
#header h1 a{display:block;height:90px;width:250px;padding-top:28px;}
#header h1 a img{display:block;width:100%;}


/* 헤더 */
#header #gnb_pc{z-index:30;position:relative;}
#header #gnb_pc .depth_01{text-align:center;height:90px;position:relative;}
#header #gnb_pc .depth_01 > li{display:inline-block}
#header #gnb_pc .depth_01 > li + li{margin-left:-4px;}
#header #gnb_pc h2{position:relative;}
#header #gnb_pc h2:after{content:'';display:block;height:9px;width:1px;background:#d1d1d1;position:absolute;top:50%;margin-top:-7.5px;right:-0.5px;}
#header #gnb_pc .depth_01 > li:last-child h2:after{display:none;}
#header #gnb_pc h2 a{display:block;padding:0 23px;height:90px;line-height:86px;color:#313131;font-size:20px;font-weight:700;transition:all .2s;position:relative;overflow:hidden;transition:all .2s;font-family: "NanumSquareRound";}
#header #gnb_pc h2.active a{color:#996c33;}
#header #gnb_pc h2 a span{display:inline-block;line-height:1.2;position:relative;}
#header #gnb_pc h2 a span:before{content:'';display:block;position:absolute;bottom:1px;width:0%;height:11px;background:#f5eee3;transition:all .2s;z-index:-1;}
#header #gnb_pc h2.active a span:before{width:100%;z-index:-1;}
#header #gnb_pc .depth_box{width:1200px;position:absolute;top:90px;left:50%;margin-left:-600px;text-align:left;padding:40px 0px 30px 316px;display:none;}
#header #gnb_pc .depth_01 > li:nth-child(4) .depth_box{padding-bottom:100px;}
#header #gnb_pc .depth_box .text{position:absolute;top:57px;left:0px;width:315px;text-align:center;}
#header #gnb_pc .depth_box .text:before{content:'';background:url(/page/museum/images/common/bg_gnb03.png) 0 0 no-repeat;background-size:cover;width:75px;height:102px;margin:0 auto 20px;display:block;}
#header #gnb_pc .depth_box .text strong{display:block;line-height:1.2;font-size:24px;font-family: "NanumSquareRound";font-weight:300;color:#362e2b}
#header #gnb_pc .depth_box .text strong em{font-weight:800;}
#header #gnb_pc .depth_box .text p{line-height:1.3;position:relative;padding-top:9px;margin-top:5px;font-size:14px;font-family: "NanumSquareRound";font-weight:400;color:#362e2b}
#header #gnb_pc .depth_box .text p:after{content:'';display:block;position:absolute;top:0px;left:50%;height:1px;width:15px;background:#362e2b;margin-left:-7.5px;}

#header #gnb_pc .depth_02 > li{display:inline-block;vertical-align:top;width:calc((100% - 16.2px) / 3);margin:0 4px 40px 0;}
#header #gnb_pc .depth_02 > li:nth-child(3n){margin-right:0;}

#header #gnb_pc h3 a{display:block;height:50px;line-height:50px;padding:0 30px 0 20px;border:1px solid #ddd;font-size:18px;color:#393939;font-weight:400;font-family: "NanumSquareRound";position:relative;transition:all .15s;overflow: hidden;}
#header #gnb_pc h3 a:after{content:'';display:block;width:5px;height:5px;border:2px solid #888887;border-width:0 1px 1px 0;transform:rotate(45deg);position:absolute;right:18px;top:50%;margin-top:-5px;transition:all .15s;}
#header #gnb_pc h3 a:hover{color:#fff;font-weight:700;}
#header #gnb_pc h3 a:hover:after{border-color:#fff;}
#header #gnb_pc h3 a:before{content:'';display:block;position:absolute;top:-1px;right:-1px;bottom:-1px;left:-1px;background:url(/page/museum/images/common/bg_gnb04.png) 0 0 no-repeat;background-size:cover;transition:all .15s;z-index:-1;opacity:0;}
#header #gnb_pc h3 a:hover:before{opacity:1;}

#header #gnb_pc .depth_03{padding:10px 0px 0 18px;}
#header #gnb_pc .depth_03 a{display:block;height:28px;line-height:28px;padding-left:10px;position:relative;font-size:16px;color:#30333a;font-weight:400;font-family: "NanumSquareRound";transition:all .15s;}
#header #gnb_pc .depth_03 a:after{content:'';display:block;width:3px;height:3px;background:#afafb0;position:absolute;left:0;top:12px;}
#header #gnb_pc .depth_03 a:hover{color:#996c33}
#header #gnb_pc .depth_03 a span{display:inline-block;position:relative;}
#header #gnb_pc .depth_03 a span:before{content:'';display:block;height:1px;background:#996c33;position:absolute;left:0px;bottom:3px;width:0%;transition:all .15s;}
#header #gnb_pc .depth_03 a span:hover:before{width:100%;}

#header .bg_pc{position:absolute;top:91px;background:#f6f2ed;height:0px;width:100%;left:0px;z-index:10;overflow:hidden;display:none;}
#header .bg_pc:before{content:'';background:url(/page/museum/images/common/bg_gnb01.png) 0 0 no-repeat;background-size:cover;width:425px;height:425px;position:absolute;bottom:0px;left:0px;}
#header .bg_pc:after{content:'';background:url(/page/museum/images/common/bg_gnb02.png) 0 0 no-repeat;background-size:cover;width:340px;height:360px;position:absolute;top:0px;right:0px;}
#header .bg_mask{position:absolute;top:91px;background:rgba(0,0,0,.6);height:calc(100vh - 91px);width:100%;left:0px;z-index:5;display:none;}

#header .btn_box{position:absolute;top:0px;right:0px;z-index:50;}
#header .btn_box .tourlk{width:90px;display:block;float:left;overflow:hidden;text-indent:-9999px;position:relative;border-left:1px solid #dadada;height:90px;}
#header .btn_box .tourlk:after{content:'';display:block;background:url(/page/museum/images/common/sp_museum.png) -485px -165px no-repeat;background-size:520px 1069px;width:34px;height:28px;transition:all .15s;position:absolute;top:50%;left:50%;margin:-14px 0 0 -17px;}
#header .btn_box > div{float:left;background: linear-gradient(to right, #644D42 0%, #5F5F57 50%, #577a76 100%);}
#header .btn_box > div a{float:left;position:relative;width:90px;display:block;height:90px;float:left;overflow:hidden;text-indent:-9999px;}
#header .btn_box > div a.search:before{content:'';display:block;width:1px;background:rgba(255,255,255,.5);position:absolute;right:0px;top:13px;bottom:13px;}
#header .btn_box > div a.search:after{content:'';display:block;background:url(/page/museum/images/common/sp_museum.png) -89px -49px no-repeat;background-size:520px 1069px;width:22px;height:22px;transition:all .15s;position:absolute;top:50%;left:50%;margin:-11px 0 0 -11px;}
#header .btn_box > div a.sitemap:after{content:'';display:block;background:url(/page/museum/images/common/sp_museum.png) -47px -51px no-repeat;background-size:520px 1069px;width:25px;height:18px;transition:all .15s;position:absolute;top:50%;left:50%;margin:-9px 0 0 -12.5px;}
#header .btn_box > div a.mobile_open{display:none;}
#header .btn_box > div a.mobile_open:after{content:'';display:block;background:url(/page/museum/images/common/sp_museum.png) -47px -51px no-repeat;background-size:520px 1069px;width:25px;height:18px;transition:all .15s;position:absolute;top:50%;left:50%;margin:-9px 0 0 -12.5px;}


#header .btn_box a:hover:after{transform:scale(1.2);}
#header .btn_box a:active:after{transform:scale(1);}

#header #gnb_mobile{position:fixed;top:0px;width:100%;max-width:414px;height:100%;overflow-y:auto;z-index:100;right:-414px;padding:1px 20px 60px;transition:all .35s ease-in-out;background: linear-gradient(to right, #635046 0%, #605D54 50%, #5b6e68 100%);}
#header .mo_mask{position:fixed;z-index:8;top:60px;left:0;right:0;bottom:0;background:rgba(0,0,0,.6);display:none;}
#header #gnb_mobile.active{right:0%;}
#header #gnb_mobile .close{overflow:hidden;text-indent:-9999px;background:url(/page/museum/images/common/sp_museum.png) -215px -21px no-repeat;background-size:280px 576px;width:22px;height:22px;position:absolute;top:18px;right:20px;transition:all .15s;z-index:100;}
#header #gnb_mobile .close:active{transform:scale(.9);}
#header #gnb_mobile h1{height:60px;border-bottom:1px solid #fff;width:100%;position:relative;left:auto;}
#header #gnb_mobile h1 a{padding-top:16px;width:195px;}

#header #gnb_mobile .depth_01{border-bottom:2px solid #fff;margin-top:1px;}
#header #gnb_mobile h2 a{display:block;border-bottom:1px dashed rgba(255,255,255,.5);height:62px;line-height:62px;position:relative;color:#fff;font-size:22px;font-weight:700;font-family: "NanumSquareRound";}
#header #gnb_mobile .depth_01 > li:last-child h2 a{border-bottom:0;}
#header #gnb_mobile h2.active a{border-bottom:0;}
#header #gnb_mobile h2 a:after{content:'';display:block;width:30px;height:30px;border:1px solid #fff;position:absolute;top:50%;margin-top:-16px;right:0px;background:url(/page/museum/images/common/sp_museum.png) -165px -426px no-repeat;background-size:520px 1069px;transition:all .2s;}
#header #gnb_mobile h2.active a:after{transform:rotateX(180deg);}
#header #gnb_mobile .depth_02{display:none;}
#header #gnb_mobile .depth_02 > li + li{margin-top:8px}
#header #gnb_mobile .depth_02 > li:last-child{margin-bottom:8px;}
#header #gnb_mobile h3 a{text-align:center;height:54px;line-height:56px;padding:0 35px;background:rgba(255,255,255,.5);color:#362e2b;font-size:18px;font-weight:700;position:relative;display:block;font-family: "NanumSquareRound";}
#header #gnb_mobile h3 a:before{content:'';display:block;width:2px;height:12px;background:#362e2b;right:25px;top:50%;margin-top:-6px;position:absolute;transition:all .2s;}
#header #gnb_mobile h3 a:after{content:'';display:block;width:12px;height:2px;background:#362e2b;right:20px;top:50%;margin-top:-1px;position:absolute;}
#header #gnb_mobile h3:not(.has_depth) a:before,
#header #gnb_mobile h3:not(.has_depth) a:after{display:none;}
#header #gnb_mobile h3.active a:before{transform:rotate(90deg);}
#header #gnb_mobile .depth_03{margin-bottom:16px;background:rgba(255,255,255,.1);padding:12px 20px;display:none;}
#header #gnb_mobile .depth_03 a{display:block;position:relative;height:34px;line-height:36px;padding-left:16px;font-size:15px;font-weight:400;font-family: "NanumSquareRound";color:#fff}
#header #gnb_mobile .depth_03 a:after{content:'';display:block;background:#b9b2ae;width:8px;height:1px;position:absolute;top:50%;left:0px;margin-top:-1px;}

#header #sitemap{position:fixed;top:0px;left:0px;right:0px;height:100%;background:url(/page/museum/images/common/bg_sitemap.jpg) center center no-repeat;background-size:cover;overflow-y:auto;padding-bottom:80px;z-index:100;display:none;}
#header #sitemap .inner{max-width:1440px;padding:0 20px;}
#header #sitemap h1{height:130px;border-bottom:1px solid rgba(255,255,255,.5);text-align:center;position:relative;top:auto;left:auto;}
#header #sitemap h1 a{display:inline-block;height:129px;padding-top:39px;width:395px}
#header #sitemap h1 a img{display:block;width:100%;}
#header #sitemap .close{display:block;position:absolute;top:26px;right:32px;overflow:hidden;text-indent:-9999px;background:url(/page/museum/images/common/sp_museum.png) -400px -40px no-repeat;background-size:520px 1069px;width:40px;height:40px;transition:all .15s;}
#header #sitemap .close:hover{transform:scale(1.1);}
#header #sitemap .close:active{transform:scale(.95);}
#header #sitemap .depth_01 > li{padding:28px 0px 30px 300px;position:relative;}
#header #sitemap .depth_01 > li + li{border-top:1px dashed rgba(255,255,255,.5);}
#header #sitemap .depth_01 h2{position:absolute;line-height:1.2;top:40px;left:0px;}
#header #sitemap .depth_01 h2 a{font-family: "NanumSquareRound";font-weight:300;color:#fff;display:block;font-size:26px;transition:all .15s;}
#header #sitemap .depth_01 h2 a em{font-weight:700;}
#header #sitemap .depth_01 h2 a:hover{transform:scale(1.1);}
#header #sitemap .depth_01 h2 a:active{transform:scale(.9);}
#header #sitemap .depth_02{overflow:hidden;}
#header #sitemap .depth_02 > li{float:left;margin:0 15px 15px 0;width:calc((100% - 60.2px) / 5);}
#header #sitemap .depth_02 > li:nth-child(5n){margin-right:0;}
#header #sitemap .depth_02 h3 a{display:block;height:60px;line-height:62px;background:rgba(255,255,255,.5);color:#362e2b;font-size:20px;font-weight:700;font-family: "NanumSquareRound";text-align:center;transition:all .15s;}
#header #sitemap .depth_02 h3 a:hover{text-decoration:none;background:rgba(255,255,255,1);}
#header #sitemap .depth_02 h3 a:active{transform:scale(.95);}
#header #sitemap .depth_03{padding-top:14px;}
#header #sitemap .depth_03 a{height:36px;line-height:36px;padding-left:16px;position:relative;font-size:16px;font-weight:400;font-family: "NanumSquareRound";color:#fff;transition:all .15s;display:block;}
#header #sitemap .depth_03 a:hover{font-style:italic;}
#header #sitemap .depth_03 a:active{transform:scale(.95);}
#header #sitemap .depth_03 a:before{content:'';display:block;width:8px;height:1px;position:absolute;top:16px;left:0px;background:rgba(255,255,255,.5);}


@media (max-width:1580px) {
  #header h1{left:20px;}
  #header h1 a {width:220px;padding-top:32px;}
  #header #gnb_pc h2 a{font-size:18px;padding:0 16px;}
}


@media (min-width:1400px) {
  #header #gnb_mobile{display:none !important;}
  #header .mo_mask{display:none !important;}
}

@media (max-width:1399px) {
  body{position:relative !important;}
  body.fixed{position:fixed !important;}

  #header{height:61px;width:100%;}
  #header h1{left:15px;}
  #header h1 a{height:60px;width:195px;padding-top:18px;}

  #header #gnb_pc{display:none !important;}
  #header .bg_pc{display:none !important;}
  #header .bg_mask{display:none !important;}
  #header .btn_box .sitemap{display:none !important;}
  #header .btn_box .tourlk{width:60px;height:60px;}
  #sitemap{display:none !important;}
  #header .btn_box > div a{width:60px;display:block;height:60px;}
  #header .btn_box > div a.mobile_open{display:block;}

}

@media (max-width:414px) {
  #header #gnb_mobile{right:-100%;}
}

@media (max-width:400px) {
  #header h1 a{width:150px;padding-top:21px;}
}


#btn_top{position:absolute;top:840px;left:50%;margin-left:625px;display:block;width:60px;height:60px;border-radius:50%;background:#fff;color:#464646;font-size:14px;font-weight:500;text-align:center;z-index:1101;transition:opacity .15s;box-shadow:0px 0px 5px 2px rgba(0,0,0,.15);opacity:0;}
#btn_top:hover{transform:scale(1.05);text-decoration:none;}
#btn_top:active{transform:scale(.95);}
#btn_top:before{content:'';display:block;margin:20px auto -3px;width:8px;height:8px;border:1px solid #585858;border-width:1px 1px 0 0;transform:rotate(-45deg);}

@media (max-width:1390px) {
  #btn_top{position:fixed;left:auto;margin-left:0;right:20px;bottom:20px !important;top:auto !important;width:50px;height:50px;font-size:13px;}
  #btn_top:before{margin:15px auto -2px;}
}


@media (max-width:760px) {
  #btn_top{right:15px;bottom:15px !important;width:40px;height:40px;}
  #btn_top:before{margin:11px auto -3px;}
}

#footer{background:#282321;padding-bottom:35px;}
#footer .inner{max-width:1440px;padding:22px 20px 26px;}
#footer h1{position:absolute;left:20px;bottom:31px;z-index:10;}
#footer h1 a{display:block;width:300px;}
#footer h1 a img{display:block;width:100%;}
#footer .link{padding-bottom:17px;border-bottom:1px solid #5c5c5c;position:relative;}
#footer .link a{display:block;padding:0 24px;margin-right:6px;position:relative;height:36px;line-height:36px;color:#fff;font-weight:400;font-size:16px;font-family: "NanumSquareRound";transition:all .1s;float:left;}
#footer .link a.ty01{color:#eda129;}
#footer .link a:after{content:'';display:block;width:1px;height:10px;background:rgba(255,255,255,.5);transform:rotate(-30deg);position:absolute;right:-6px;top:12px;}
#footer .link a:last-child{margin-right:0;}
#footer .link a:last-child:after{display:none;}
#footer .link a:hover{font-weight:700;}
#footer .address{padding:28px 0 0 350px;position:relative;}
#footer .address p{line-height:1.4;color:#b7b7b7 !important;font-weight:400;font-family: "NanumSquareRound";word-break:keep-all;}
#footer .address p + p{margin-top:7px;}
#footer .address p a{color:#b7b7b7 !important;}

#footer .family{position:absolute;top:0px;right:0px;width:175px;z-index:1000;}
#footer .family{position:absolute;top:16px;right:20px;width:190px;z-index:1000;}
#footer .family .open{height:44px;line-height:44px;padding-left:35px;font-size:16px;color:#fff;font-weight:400;width:100%;position:relative;display:block;font-family: "NanumSquareRound";border-radius:22px;background:#4a4543;transition:all .1s;z-index:5;}
#footer .family .open:after{content:'';display:block;height:8px;width:8px;transition:all .15s;position:absolute;top:50%;margin-top:-8px;right:25px;border:2px solid #c7c7c7;border-width:0 2px 2px 0;transform:rotate(45deg);}
#footer .family .open.active:after{transform:rotate(225deg);margin-top:-4px;}
#footer .family .open:hover{font-weight:700;}

#footer .family .view{position:absolute;bottom:22px;background:#fefefe;border:1px solid #767676;width:100%;padding:5px 0 22px;display:none;}
#footer .family .view a{display:block;height:36px;line-height:34px;padding:0 5px 0 15px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:15px;}
#footer .family .view a:hover{font-weight:500;}

@media (max-width:1399px) {
  #footer{padding-bottom:15px;}
  #footer .inner{padding:120px 20px 10px;}
  #footer .inner:before{display:none;}
  #footer h1{left:20px;bottom:auto;top:18px;left:50%;margin-left:-95px}
  #footer h1 a{width:190px;}
  #footer .family{position:absolute;top:62px;right:auto;left:50%;margin-left:-90px;}
  #footer .family .open{height:36px;line-height:38px;padding-left:25px;font-size:15px;color:#fff;}
  #footer .family .view{bottom:18px;padding-bottom:18px;}
  #footer .family .view a{height:32px;line-height:30px;padding:0 2px 0 10px;font-size:14px;}

  #footer .link{padding-bottom:10px;text-align:center;border-bottom:0;}
  #footer .link a{text-align:center;font-size:14px;height:26px;line-height:26px;display:block;float:none;}
  #footer .link a:after{display:none;}

  #footer .address{padding:10px 0px 0 0px;text-align:center;}
  #footer .address p{font-size:14px;}
  #footer .address p span{display:block;}

  #footer .link:before{content:'';display:block;width:12px;height:1px;background:rgba(255,255,255,.5);top:-8px;left:50%;margin-left:-6px;position:absolute;}
  #footer .address:before{content:'';display:block;width:12px;height:1px;background:rgba(255,255,255,.5);top:-4px;left:50%;margin-left:-6px;position:absolute;}
}




/* 헤더 

@media (max-width:1199px) {
  #footer{background:#3d3d3d;padding:62px 0 25px}
  #footer h1{position:absolute;top:-48px;left:50%;margin-left:-75px}
  #footer h1 a{font-size:24px;}
  #footer .box{padding-left:0px;}
  #footer .link{text-align:center;padding:0 20px;}
  #footer .link a{margin-right:0px;height:26px;line-height:26px;font-size:14px;font-weight:400;float:none;}
  #footer .link:before{content:'';display:block;width:12px;height:1px;background:#fefefe;top:-7px;left:50%;margin-left:-6px;position:absolute;}
  #footer .address{margin-top:15px;}
  #footer .address:before{content:'';display:block;width:12px;height:1px;background:#fefefe;top:-9px;left:50%;margin-left:-6px;position:absolute;}
  #footer .address p{text-align:center;font-size:14px;}
  #footer .address p + p{margin-top:5px;}
  #footer .address p span{display:block;}

  #footer .family{top:-12px;right:auto;left:50%;margin-left:-87.5px;width:175px;}
  #footer .family .open{height:36px;line-height:34px;text-align:center;padding-left:0;padding-right:10px;}
  #footer .family .open:after{right:5px;}
  #footer .family .view{bottom:36px;padding:3px 0;}
  #footer .family .view a{padding:0 10px 0 10px;font-size:14px;text-align:center;height:32px;line-height:30px;}
  #footer .inner{padding-top:43px;} 

}






*/


