@charset "utf-8";

#sub{padding-top:91px;overflow:hidden;}
#sub #content{padding-bottom:60px;}
#sub .inner{max-width:1240px;padding:0 20px;}
.title_box{padding:50px 20px;margin-bottom:40px;text-align:center;border-bottom:1px solid #dadada;}
.title_box h3{line-height:1.3;font-size:30px;color:#333;font-weight:700;text-align:center;margin-bottom:3px;}
.title_box .btn_box{display:inline-block;vertical-align:middle;}
.title_box .btn_box .print{display:block;float:left;background:url(/page/museum/images/common/sp_museum.png) -362px -3px no-repeat;background-size:520px 1069px;transition:background-color .15s;width:37px;height:37px;overflow:hidden;text-indent:-9999px;border:1px solid #e1e1e1;border-radius:50%;margin-right:4px;}
.title_box .btn_box .print:hover{background:#577d7a url(/page/museum/images/common/sp_museum.png) -362px -43px no-repeat;background-size:520px 1069px;}
.title_box .btn_box .print:active{transform:scale(.95);}
.title_box .btn_box .share{float:left;position:relative;}
.title_box .btn_box .share .open{width:37px;height:37px;background:url(/page/museum/images/common/sp_museum.png) -323px -3px no-repeat;background-size:520px 1069px;transition:background-color .15s;text-indent:-9999px;position:relative;overflow:hidden;text-indent:-9999px;display:block;border:1px solid #e1e1e1;border-radius:50%;}
.title_box .btn_box .share .open:hover{background:#577d7a url(/page/museum/images/common/sp_museum.png) -323px -43px no-repeat;background-size:520px 1069px;}
.title_box .btn_box .share .open:active{transform:scale(.95);}

.title_box .btn_box .share ul{position:absolute;top:41px;left:0px;z-index:30;display:none;}
.title_box .btn_box .share ul li + li{margin-top:2px;}
.title_box .btn_box .share ul li a{display:block;overflow:hidden;text-indent:-9999px;width:38px;height:38px;background:url(/page/common/images/sp_dq.png) -1px -321px no-repeat;background-size:520px 1500px;}
.title_box .btn_box .share ul li a.blog{background-position:-1px -321px;}
.title_box .btn_box .share ul li a.facebook{background-position:-41px -321px;}
.title_box .btn_box .share ul li a.twitter{background-position:-81px -321px;}
.title_box .btn_box .share ul li a.cacao{background-position:-121px -321px;}
.title_box .btn_box .share ul li a.insta{background-position:-161px -321px;}
.title_box .btn_box .share ul li a.utube{background-position:-201px -321px;}

.title_box .route{display:inline-block;vertical-align:middle;}
.title_box .route a{display:inline-block;height:30px;line-height:30px;padding:0 13px;margin-right:6px;position:relative;color:#333;font-weight:400;vertical-align:middle;transition:all .1s;font-weight:300;}
.title_box .route a.home{width:13px;background:url(/page/museum/images/common/sp_museum.png) -6px -4px no-repeat;background-size:520px 1069px;overflow:hidden;text-indent:-9999px;vertical-align:middle;}
.title_box .route a:after{content:'';display:block;width:6px;height:6px;border:2px solid #6f6f6f;border-width:1px 1px 0 0;transform:rotate(45deg);position:absolute;left:-8px;top:12px;}
.title_box .route a:first-child:after{display:none;}
.title_box .route a:last-child{margin-right:0;}
.title_box .route a.home:hover{transform:scale(1.1);}
.title_box .route a:hover{font-weight:500;}


@media (max-width:1199px) {
  #sub{padding-top:60px;}
  #sub .inner{padding:0 20px;overflow:hidden;}
  #sub #content{padding-bottom:40px;}

  .title_box h3{font-size:28px;}

  #sub .title_box{padding:35px 20px;margin-bottom:30px;}

  .title_box .btn_box .print{display:none;}
  .title_box .btn_box .share ul{top:32px;}
  .title_box .btn_box .share .open{width:31px;height:31px;background:url(/page/museum/images/common/sp_museum.png) -327px -5.5px no-repeat;background-size:520px 1069px;}
  .title_box .btn_box .share .open:hover{background:#577d7a url(/page/museum/images/common/sp_museum.png) -327px -46px no-repeat;background-size:520px 1069px;}
  .title_box .btn_box .share ul li a{width:30px;height:31px;background-size:400px 1154px;}
  .title_box .btn_box .share ul li a.blog{background-position:0px -247px;}
  .title_box .btn_box .share ul li a.facebook{background-position:-31px -247px;}
  .title_box .btn_box .share ul li a.twitter{background-position:-62px -247px;}
  .title_box .btn_box .share ul li a.cacao{background-position:-93px -247px;}
  .title_box .btn_box .share ul li a.insta{background-position:-124px -247px;}
  .title_box .btn_box .share ul li a.utube{background-position:-155px -247px;}  

  .title_box .route a{height:28px;line-height:28px;padding:0 10px;margin-right:6px;font-size:15px;}
  .title_box .route a.home{background-position:-10px -6px;}
  .title_box .route a:after{top:11px;}

}

@media (max-width:760px) {
  #sub .inner{padding:0 15px;}
  #sub #content{padding-bottom:35px;}
  #sub .title_box{padding:20px 15px 15px;margin-bottom:23px;}

  .title_box h3{font-size:23px;}
  .title_box .route a{height:26px;line-height:26px;padding:0 7px;margin-right:6px;font-size:14px;}
    .title_box .route a.home{background-position:-13px -6px;}
}



#sub .pageTab-tab{font-weight:500;}
#sub .pageTab >li.active{background: linear-gradient(to right, #644D43 0%, #5F5F58 50%, #587976 100%);}
#sub .pgraph{color:#707070;}
#sub .titLv{color:#000;}
#sub .listLv,
#sub .listLv2,
#sub .listLv3,
#sub .listLv4{color:#707070;}
#sub .imptBox{color:#707070;}
#sub .skinTb:before {border-top: 3px solid #7e6b5a;}
p{color:#707070;}

#sub .skinTb-th,
#sub .skinTb >thead >tr >th{color:#552622;border-bottom-color:#7e6b5a;background:#f6f2ed;}
#sub .skinTb tr >th{color:#552622;background:#f6f2ed;}
#sub .contsBtn{border-color:#3b1e1c}
#sub .contsBtn:before{background:#3b1e1c}
#sub .skinBtnBo{border-color:#3b1e1c}
#sub .skinBtnBo:before{background:#3b1e1c}
.museum .contsBtn{border-color:#3b1e1c}
.museum .contsBtn:before{background:#3b1e1c}
.museum .skinBtnBo{border-color:#3b1e1c}
.museum .skinBtnBo:before{background:#3b1e1c}



.contsBtn > a:after{background:url(/page/museum/images/common/sp_museum.png) 0 0 no-repeat;background-size:520px 1069px;}

#sub .contsBtn > a.contsBtn-download:after{background-position:-372px -530px;}
#sub .contsBtn > a.contsBtn-more:after{background-position:-412px -530px;width:17px;height:17px;right:18px;margin-top:-8px}
#sub .contsBtn > a.contsBtn-move:after{background-position:-448px -527px;width:24px;height:22px;margin-top:-10px;right:14px;}
#sub .contsBtn > a.contsBtn-play:after{background-position:-487px -526px;width:29px;height:24px;margin-top:-13px;right:8px;}

#sub .contsBtn:hover > a.contsBtn-download:after{background-position:-372px -489px;}
#sub .contsBtn:hover > a.contsBtn-more:after{background-position:-412px -490px;}
#sub .contsBtn:hover > a.contsBtn-move:after{background-position:-448px -487px;}
#sub .contsBtn:hover > a.contsBtn-play:after{background-position:-487px -486px;}

#sub .contsBtn > a.contsBtn-download:focus:after{background-position:-372px -489px;}
#sub .contsBtn > a.contsBtn-more:focus:after{background-position:-412px -490px;}
#sub .contsBtn > a.contsBtn-move:focus:after{background-position:-448px -487px;}
#sub .contsBtn > a.contsBtn-play:focus:after{background-position:-487px -486px;}

#sub .skbtn{display:inline-block;vertical-align:middle;position:relative;overflow:hidden;font-family:"NanumSquareRound";}
#sub .skbtn + .skbtn{margin-left:19px;}

#sub .skbtn.ty03{height:55px;line-height:55px;background:#3b1e1c;border:1px solid #3b1e1c;color:#3b1e1c;font-size:18px;transition:all .1s;font-weight:400;border-radius:30px;font-size:18px;transition:all .1s;padding:0 80px;background:#fff;}
#sub .skbtn.ty03 span{position:relative;display:inline-block;}
#sub .skbtn.ty03:hover{text-decoration:none;color:#fff;}
#sub .skbtn.ty03:before{content:'';position:absolute;bottom:0%;left:50%;background:#3b1e1c;width:410px;height:410px;margin-left:-200px;margin-bottom:-410px;transform-origin:50% 48%;border-radius:43%;transition-duration:1.5s;transition-property:margin-bottom;transition-timing-function:ease;}
#sub .skbtn.ty03:active{transform:scale(.95);}
#sub .skbtn.ty03:hover:before{
  margin-bottom: -310px;
  animation: rotate 2000ms infinite linear;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}


@media (max-width:1199px) {
    #sub .skbtn.ty03{height:48px;line-height:46px;font-size:17px;padding:0 50px;}
}

@media (max-width:760px) {
    #sub .skbtn.ty03{height:42px;line-height:40px;font-size:16px;padding:0 40px;}
}

@media screen and (min-width: 320px) and (max-width: 639px){
	.pageTab > li {background: linear-gradient(to right, #644D43 0%, #5F5F58 50%, #587976 100%);}
}

.process_list{margin-top:5px;}
.process_list li{position:relative;float:left;margin-right:40px;width:112px;margin-top:15px;}
.process_list li:last-child{margin-right:0;}
.process_list li div{position:relative;width:100%;height:0;padding-top:100%;}
.process_list li div:after{content:'';display:block;width:15px;height:23px;background:url(/page/tour/images/sub/arrow01.png) 0 0 no-repeat;background-size:cover;top:50%;margin-top:-11.5px;right:-27px;position:absolute;}
.process_list li div:before{content:'';display:block;top:0;left:0;bottom:0;right:0;border-radius:50%;border:3px solid #a0a0a0;position:absolute;}
.process_list li:last-child div:after{display:none;}
.process_list li:first-child div:before{border-color:#3b1e1c}
.process_list li div span{display:block;line-height:1.5;position:absolute;top:50%;left:0;width:100%;padding:0 15px;transform:translateY(-50%);color:#000;font-weight:300;text-align:center;}
.process_list li p{line-height:1.4;color:#000;font-weight:300;;margin-top:12px;text-align:center;font-size:14px;}


@media (max-width:485px) {
    .process_list li{margin-right:20px;float:none;width:100%;padding-bottom:20px;}
    .process_list li div{position:relative;width:100%;min-height:75px;padding-top:0;margin:0 auto;max-width:320px;}
    .process_list li div:before{border-radius:15px;}
    .process_list li div:after{display:none;}
    .process_list li:after{right:50%;margin-right:-10px;transform:rotate(90deg);top:auto;bottom:-8px;margin-top:0;content:'';display:block;width:15px;height:23px;background:url(/page/tour/images/sub/arrow01.png) 0 0 no-repeat;background-size:cover;position:absolute;}
    .process_list li:last-child:after{display:none;}
}

.titLv2:before {top:8px;left:0px;background:url(/page/museum/images/common/sp_museum.png) -171px -804px no-repeat;background-size:520px 1069px;width:18px;height:18px;}
.titLv3:before {top:6px;left:29px;background:url(/page/museum/images/common/sp_museum.png) -178px -848px no-repeat;background-size:520px 1069px;width:4px;height:18px;border-radius:0;}

p.listLv:before,
div.listLv:before,
span.listLv:before,
.listLv >li:before,
.listLv >dt:before {position: absolute;top: 20px;left: 0px;content: '';display: block;width:7px;height:2px;background:#434343;transform:rotate(0deg);border:0;}



@media (max-width:1199px) {
    .titLv2:before{top:6px;}
}

@media (max-width:760px) {
  .titLv2:before{top:5px;}
  .titLv3:before{top:5px;}
  p.listLv:before,
  div.listLv:before,
  span.listLv:before,
  .listLv >li:before,
  .listLv >dt:before{top:15px;}
}


#sub .boMeta-pt{color:#25867b}
#sub .boMeta-pt:before{background:#25867b}
#sub .popLy-files{background:#f6f2ed;}

#sub .skinTb >tbody >tr >th,
#sub .skinTb-th{border-bottom-color:#d8d8d8;}

.museum .privateConfirm:before{background:#5a493f}

	
@media (max-width:639px) {
  #sub .skinTb-data-bgSbj >.skinTb-tr >.skinTb-sbj,
  #sub .skinTb-data-bgSbj >tr >.skinTb-sbj,
  #sub .skinTb-data-bgSbj >tbody >tr >.skinTb-sbj {background-color:#f6f2ed;}

  #sub .skinTb-data-bgEven >.skinTb-tr:nth-child(2n),
	#sub .skinTb-data-bgEven >tbody >tr:nth-child(2n) {background-color:#f6f2ed;}
}

/*본인인증*/
.certified{position:relative;padding:20px;}
.certified:before{content:'';display:block;position:absolute;top:0px;left:0px;right:0px;height:98px;background:#dedbd9;}
.certified:after{content:'';display:block;position:absolute;bottom:0px;left:0px;right:0px;height:98px;background:#dedbd9;}
.certified .box{position:relative;z-index:5;padding:100px 15px 90px;background:#fff;}
.certified h4{text-align:center;color:#362e2b;font-weight:100;line-height:1.2;font-size:50px;}
.certified h4 strong{font-weight:500;}
.certified h4:before{content:'';display:block;margin:0 auto 15px;width:110px;height:107px;background:url(/page/museum/images/sub/i_cert.png) 0 0 no-repeat;background-size:cover}
.certified p{line-height:1.4;text-align:center;margin-top:15px;color:#434343;font-weight:300;font-size:18px;word-break:keep-all;}
.certified p strong{font-weight:500;}
.certified .btn_box{text-align:center;margin-top:33px;}

@media (max-width:1199px) {
  .certified{padding:15px;}
  .certified:before,
  .certified:after{height:80px;}
  .certified .box{padding:70px 15px 60px;}
  .certified h4{font-size:44px;}
  .certified h4:before{width:100px;height:97px;margin-bottom:13px;}
  .certified p{margin-top:13px;font-size:17px;}
  .certified .btn_box{margin-top:26px;}
}


@media (max-width:991px) {
  .certified{padding:10px;}
  .certified:before,
  .certified:after{height:70px;}
  .certified .box{padding:50px 15px 45px;}
  .certified h4{font-size:40px;}
  .certified h4:before{width:90px;height:87px;margin-bottom:12px;}
  .certified p{margin-top:12px;font-size:17px;}
  .certified .btn_box{margin-top:23px;}
}


@media (max-width:760px) {
  .certified{padding:7px;}
  .certified:before,
  .certified:after{height:60px;}
  .certified .box{padding:45px 15px 40px;}
  .certified h4{font-size:30px;}
  .certified h4:before{width:75px;height:72px;margin-bottom:10px;}
  .certified p{margin-top:10px;font-size:16px;}
  .certified p br{display:none;}
  .certified .btn_box{margin-top:20px;}
}


/*자료실 이미지 동영상 리스트*/
.photo_list{position:relative;}
.photo_list li{float:left;margin-right:30px;width:calc((100% - 60.2px) / 3);}
.photo_list li:nth-child(3n){margin-right:0;}
.photo_list li a{display:block;transition:all .15s;}
.photo_list li:nth-child(n+4){margin-top:30px;}
.photo_list .thumb{position:relative;background:#e0e0e0;padding-top:52.5%;}
.photo_list .thumb img{position:absolute;top:0px;left:0px;right:0px;bottom:0px;margin:auto;max-width:100%;max-height:100%;}
.photo_list .text{border:1px solid #e0e0e0;border-top:0;padding:0 28px 18px;position:relative;}
.photo_list .text strong{display:block;border-bottom:1px solid #e0e0e0;padding:7px 0 2px;position:relative;}
.photo_list .text strong span{color:#000;font-size:18px;font-weight:300;display:inline-block;overflow:hidden;text-overflow:ellipsis;position:relative;white-space:nowrap;height:36px;line-height:36px;max-width:100%;transition:all .1s;}
.photo_list .text strong span:after{content:'';display:block;height:1px;position:absolute;bottom:0px;left:0px;width:0%;background:#187872;transition:all .15s;}
.photo_list .text .date{display:block;margin-top:13px;color:#7d7d7d;font-weight:300;font-size:16px;}
.photo_list .text .date:before{content:'';display:inline-block;vertical-align:-3px;background:url(/page/museum/images/common/sp_museum.png) -250px -805px no-repeat;background-size:520px 1069px;width:20px;height:20px;margin-right:5px;}
.photo_list li a:hover{text-decoration:none;box-shadow:0px 0px 8px 1px rgba(0,0,0,.35);}
.photo_list li a:hover strong span{color:#187872;font-weight:400;}
.photo_list li a:hover strong span:after{width:100%;}
.photo_list i.play{display:block;width:100%;overflow:hidden;text-indent:-9999px;position:absolute;top:0;left:0;bottom:0px;background:rgba(0,0,0,.3);}
.photo_list i.play:before{content:'';display:block;width:82px;height:82px;border-radius:50%;border:2px solid #fff;position:absolute;left:50%;top:50%;margin:-41px 0 0 -41px;transition:all .15s;}
.photo_list i.play:after{content:'';display:block;width:0;height:0;border-left:24px solid #fff;border-top:15px solid transparent;border-bottom:15px solid transparent;position:absolute;left:50%;top:50%;margin:-13px 0 0 -6px;;transition:all .15s;}
.photo_list .view{display:block;position:absolute;line-height:1.2;bottom:20px;right:28px;color:#908e8f;font-size:16px;font-weight:300;}
.photo_list .view:before{content:'';display:inline-block;vertical-align:-2px;background:url(/page/museum/images/common/i_eye.png) 0 0 no-repeat;background-size:23px 13px;width:23px;height:14px;margin-right:4px;}

.photo_list.v3 .text strong span{font-size:16px;color:#7d7d7d;}
.photo_list .text .name{display:inline-block;color:#000;margin-right:3px}
.photo_list .text strong span .name:before{content:'';display:inline-block;vertical-align:-3px;background:url(/page/museum/images/common/sp_museum.png) -239px -207px no-repeat;background-size:380px 782px;width:23px;height:20px;margin-right:3px;}

.photo_list.v2 .text{padding-right:128px;}
.photo_list .state{width:70px;height:70px;color:#fff;background:#009e96;text-align:center;padding:16px 0 0;font-size:14px;font-weight:300;position:absolute;bottom:18px;right:28px;}
.photo_list .state.ty02{background:#626262;padding-top:22px;}
.photo_list .state.ty03{background:#6a3906;padding-top:22px;}
.photo_list .end a{pointer-events:none;}
.photo_list .end .thumb:after{content:'';display:block;position:absolute;top:0;left:0;bottom:0;right:0;background:rgba(0,0,0,.5);}
.photo_list .state .arrow{display:block;margin:2px auto 0;width:30px;height:7px;overflow:hidden;position:relative;}
.photo_list .state .arrow:before{content:'';position:absolute;right:0px;left:0;bottom:0;background:#fff;display:block;height:1px;}
.photo_list .state .arrow:after{content:'';position:absolute;right:2px;top:0;width:1px;bottom:-3px;background:#fff;transform:rotate(-45deg);display:block;}


@media (max-width:1199px) {
  .photo_list li{margin-right:25px;width:calc((100% - 50.2px) / 3);}
  .photo_list li:nth-child(n+4){margin-top:25px;}
  .photo_list .text{padding:0 20px 15px;}
  .photo_list .text strong span{font-size:17px;height:34px;line-height:34px;}
  .photo_list .text .date{margin-top:11px;font-size:15px;}
  .photo_list .text .date:before{vertical-align:-4px;margin-right:4px;}

  .photo_list .view{font-size:15px;bottom:17px;right:20px;}
  .photo_list .view:before{vertical-align:-2px;}
  .photo_list i.play:before{transform:scale(.9);}
  .photo_list i.play:after{transform:scale(.9);}

  .photo_list.v2 .text{padding-right:100px;}
  .photo_list .state{width:62px;height:62px;padding:11px 0 0;font-size:13px;right:20px;}
  .photo_list .state .arrow{margin-top:1px;}
  .photo_list .state.ty02{padding-top:17px;}
  .photo_list .state.ty03{padding-top:17px;}

  .photo_list.v3 .text strong span{font-size:15px;}
  
}


@media (max-width:991px) {
  .photo_list li{margin-right:20px;width:calc((100% - 40.2px) / 3);}
  .photo_list li:nth-child(n+4){margin-top:20px;}
  .photo_list .text{padding:0 15px 12px;}
  .photo_list .text strong span{font-size:15px;height:30px;line-height:30px;}
  .photo_list .text .date{margin-top:10px;font-size:14px;}
  .photo_list .text .date:before{vertical-align:-4px;margin-right:4px;}

  .photo_list .view{font-size:14px;bottom:16px;right:15px;}
  .photo_list .view:before{vertical-align:-2px;}
  .photo_list i.play:before{transform:scale(.8);}
  .photo_list i.play:after{transform:scale(.8);}

  .photo_list.v2 .text{padding-right:15px;}
  .photo_list .state{width:100%;height:26px;line-height:24px;color:#fff;padding:0px 0 0;position:relative;bottom:auto;right:auto;font-size:13px;margin-top:8px;}
  .photo_list .state .arrow{margin:0px 0 0 8px;display:inline-block;vertical-align:2px;width:22px;}
  .photo_list .state.ty02{padding-top:0px;}
  .photo_list .state.ty03{padding-top:0px;}

  .photo_list.v3 .text strong span{font-size:14px;}
}


@media (max-width:640px) {
  .photo_list li{margin-right:15px;width:calc((100% - 15.2px) / 2);}
  .photo_list li:nth-child(3n){margin-right:15px;}
  .photo_list li:nth-child(2n){margin-right:0;}
  .photo_list li:nth-child(n+3){margin-top:15px;}
  .photo_list .text{padding:0 10px 11px;}
  .photo_list .text strong{padding:5px 0 1px;}
  .photo_list .text strong span{font-size:15px;height:28px;line-height:28px;}
  .photo_list .text .date{margin-top:8px;font-size:13px;white-space:nowrap;}
  .photo_list .text .date:before{vertical-align:-5px;margin-right:3px;transform:scale(.8);}
  .photo_list .text strong span .name:before{vertical-align:-5px;margin-right:0px;transform:scale(.8);}

  .photo_list .view{font-size:13px;bottom:13px;right:12px;}
  .photo_list .view:before{vertical-align:-3px;}
  .photo_list i.play:before{transform:scale(.6);}
  .photo_list i.play:after{transform:scale(.6);}

  .photo_list.v2 .text{padding-right:12px;}
}

.skbtn em{font-size:20px;display:inline-block;margin-left:8px;vertical-align:-2px;}

#sub .contsLead.v2 h4{font-size:24px;color:#313131;font-weight:300;margin-bottom:2px;padding-left:30px;}
#sub .contsLead.v2 h4 strong{font-weight:700;}
#sub .contsLead.v2 h4 strong em{font-size:10px;display:inline-block;vertical-align:4px;}
#sub .contsLead.v2 .skbtn{position:absolute;top:50%;margin-top:-27.5px;right:80px;padding:0 60px;}
#sub .summary{margin-bottom:40px;}


/*대관예약*/
.rent{position:relative;} 

.rent .summary > div{float:left;width:50%;position:relative}
.rent .summary > div:first-child .thumb{margin-left:calc(-1 * ((1920px - 200%) / 2));}
.rent .summary > div:last-child .thumb{margin-right:calc(-1 * ((1920px - 200%) / 2));}
.rent .summary .thumb img{display:block;width:100%;}
.rent .summary .text{position:absolute;bottom:0px;right:0px;left:0px;background:rgba(54,46,43,.8);padding:25px 30px 25px;color:#fff;}
.rent .summary .text strong{font-weight:400;font-size:24px;line-height:1.2;margin-bottom:14px;display:block;}
.rent .summary .text p{line-height:1.5;font-weight:100;padding-left:9px;position:relative;color:#fff !important;word-break:keep-all;}
.rent .summary .text p:after{content:'';display:block;width:2px;height:2px;background:#fff;position:absolute;top:11px;left:0;}
.rent .btn_box{margin-top:30px;text-align:center;}

.calendar01{padding-top:20px;}
.calendar01 .control{text-align:center;margin-bottom:30px;}
.calendar01 .control a{display:inline-block;vertical-align:top;width:26px;height:26px;overflow:hidden;text-indent:-9999px;transition:all .1s;position:relative;margin-top:3px;}
.calendar01 .control a:after{content:'';display:block;width:10px;height:10px;border:3px solid #999;border-width:4px 4px 0 0;transform:rotate(-135deg);position:absolute;top:50%;left:50%;margin:-7px 0 0 -3px;}
.calendar01 .control a.next:after{transform:rotate(45deg);margin:-7px 0 0 -9px;}
.calendar01 .control a:hover{transform:scale(1.05);}
.calendar01 .control a:active{transform:scale(.95);}
.calendar01 .control > div{line-height:1;vertical-align:top;display:inline-block;margin:0 25px;font-weight:800;font-size:36px;color:#000;margin-top:-3px;font-family: 'S-CoreDream'}
.calendar01 .control > div span{display:inline-block;line-height:1;vertical-align:top;}
.calendar01 .control > div span:after{content:'.';display:inline-block;}
.calendar01 .control > div span:last-child:after{display:none;}
.calendar01 .control > div span.month{margin-left:-12px;}

.calendar01 table{width:100%;}
.calendar01 table th{width:14.28571428571429%;border-top:3px solid #362e2b;padding:15px 0;font-size:16px;color:#000;font-weight:500;}
.calendar01 table th:first-child{color:#e60012;}
.calendar01 table th:last-child{color:#00479d;}

.calendar01 table td{width:14.28571428571429%;border:1px solid #d2d2d2;}
.calendar01 table td > a{position:relative;display:block;width:100%;height:100%;min-height:119px;}
.calendar01 table td:not(.possible) a{pointer-events:none;}
.calendar01 table td .time{background:#f9f9f9;text-align:left;min-height:119px;padding:20px 0;position:relative}
.calendar01 table td .time:before{content:'';display:block;width:1px;background:#d2d2d2;position:absolute;left:50%;top:20px;bottom:20px;}
.calendar01 table td .time .box{float:left;width:50%;padding-left:30px;}
.calendar01 table td .time strong{display:block;height:25px;line-height:25px;color:#000;font-weight:700;font-size:20px;margin-bottom:12px;}
.calendar01 table td .time strong a{display:inline-block;height:25px;line-height:23px;margin-left:10px;border:1px solid #a4a4a4;text-align:center;width:80px;background:#fff;color:#1353d5;font-weight:300;font-size:14px;pointer-events:initial;vertical-align:1px;transition:all .1s;}
.calendar01 table td .time p{position:relative;line-height:1.2;color:#000;font-weight:300;font-size:14px;padding-left:16px;}
.calendar01 table td .time p + p{margin-top:8px;}
.calendar01 table td .time p:after{content:'';display:block;width:6px;height:6px;border:1px solid #59493f;border-width:0 0 1px 1px;position:absolute;top:3px;left:3px;}
.calendar01 table td .time strong a:hover{text-decoration:none;transform:scale(1.1);}
.calendar01 table td .time strong a:active{transform:scale(1);}

.calendar01 table td .date{display:block;width:40px;height:40px;text-align:center;line-height:38px;font-weight:300;font-size:16px;position:relative;}
.calendar01 table td:first-child .date{color:#ce0000;}
.calendar01 table td:last-child .date{color:#005dc5}
.calendar01 table td > a > p{position:absolute;transition:all .1s;top:50%;left:50%;margin:-13px 0 0 -40px;height:26px;line-height:24px;color:#fff;background:#ec4141;font-size:14px;font-weight:300;width:80px;text-align:center;box-shadow:2px 2px 2px 0px rgba(0,0,0,.15);}
.calendar01 table td.possible > a > p{background:#4182ec;}
.calendar01 table td > a:hover,
.calendar01 table td > a:hover span{text-decoration:none;}
.calendar01 table td > a:hover > p{transform:scale(1.1);}
.calendar01 table td > a:active > p{transform:scale(1);}
.calendar01 table td.active > a{border:3px solid #56807d;background:url(/page/museum/images/sub/bg_bar03.png) 0 0 repeat;}
.calendar01 table td.active .date{background:#56807d;color:#fff;font-weight:500;top:-2px;left:-2px;}
.calendar01 .schedule{display:none;}
.calendar01 table td > a > p br{display:none;}

@media (max-width:1199px) {

  .calendar01{padding-top:15px;}
  .calendar01 .control{margin-bottom:25px;}
  .calendar01 .control a{margin-top:-1px;}
  .calendar01 .control > div{margin:0 15px;font-size:28px;margin-top:-2px;}
  .calendar01 table th{padding:13px 0;font-size:15px;}
  .calendar01 table td > a{min-height:105px;}
  .calendar01 table td .date{font-size:15px;width:32px;height:32px;line-height:30px;}
  .calendar01 table td .time{min-height:105px;}

  .calendar01 table td .time .box{float:left;width:50%;padding-left:25px;}
  .calendar01 table td .time strong{font-size:18px;margin-bottom:11px;}
  .calendar01 table td .time strong a{font-size:14px;vertical-align:1px;}
  .calendar01 table td .time p + p{margin-top:7px;}

  .rent .summary{margin-bottom:35px;}
  .rent .summary > div{width:100%;float:none;}
  .rent .summary > div:last-child{margin-top:20px;}
  .rent .summary > div:first-child .thumb{margin-left:0;}
  .rent .summary > div:last-child .thumb{margin-right:0;}
  .rent .summary .text{padding:20px 15px 20px 20px;}
  .rent .summary .text strong{font-size:20px;margin-bottom:8px}
  .rent .summary .text p{font-size:16px;}
  .rent .summary .text p br{display:none;}
  .rent .summary .text p:after{top:11px;}
  .rent .btn_box{margin-top:25px;text-align:center;}
  #sub .contsLead h4{font-size:22px;margin-bottom:3px;}
  #sub .contsLead.v2 .skbtn{margin-top:-24px;right:40px;padding:0 50px;}
  
  .calendar01 .control > div span.month{margin-left:-10px;}

}

@media (max-width:991px) {

  .calendar01{padding-top:10px;}
  .calendar01 .control{margin-bottom:21px;}
  .calendar01 .control > div{margin:0 12px;font-size:26px;margin-top:-1px;}
  .calendar01 table th{padding:12px 0;font-size:15px;}
  .calendar01 table td > a{min-height:95px;}
  .calendar01 table td > a > p{margin:-5px 0 0 -35px;width:70px;}
  .calendar01 table td .date{font-size:14px;width:30px;height:30px;line-height:28px;}
  .calendar01 table td .time{min-height:95px;padding:15px 0;}

  .calendar01 table td .time .box{float:left;width:50%;padding-left:20px;}
  .calendar01 table td .time strong{font-size:17px;margin-bottom:10px;}
  .calendar01 table td .time strong a{font-size:14px;vertical-align:1px;width:70px;}
  .calendar01 table td .time p + p{margin-top:6px;}

  .rent .summary{margin-bottom:30px;}
  .rent .summary > div:last-child{margin-top:15px;}
  .rent .summary .text{padding:17px 10px 17px 15px;}
  .rent .summary .text strong{font-size:18px;margin-bottom:7px}
  .rent .summary .text p{font-size:15px;}
  .rent .summary .text p:after{top:10px;}
  .rent .btn_box{margin-top:20px;text-align:center;}

  #sub .contsLead h4{font-size:20px;margin-bottom:0px;padding-left:30px;}
  #sub .contsLead .listLv{margin-left:30px;}
  #sub .contsLead.v2 .skbtn{margin:15px 0 0 30px;right:auto;position:relative;padding:0 35px;}
}


@media (max-width:760px) {

  .calendar01 .control{margin-bottom:18px;}
  .calendar01 .control a{margin-top:-2px;}
  .calendar01 .control > div{margin:0 10px;font-size:24px;margin-top:0px;}
  .calendar01 table th{padding:9px 0;font-size:15px;}
  .calendar01 table td > a{min-height:75px;}
  .calendar01 table td > a > p{text-align:center;line-height:1.3;width:calc(100% - 10px);margin:0;font-size:12px;left:5px;bottom:5px;padding:4px 0;top:auto;height:40px}
  .calendar01 table td > a > p br{display:block;}
  .calendar01 table td .date{font-size:13px;width:20px;height:20px;line-height:18px;}
  .calendar01 table td .time{min-height:75px;padding:15px 0;}
  .calendar01 table td .time:before{display:none;}
  .calendar01 table td .time .box{padding-left:15px;}
  .calendar01 table td .time .box + .box{padding-left:25px;}
  .calendar01 table td .time strong{font-size:16px;margin-bottom:8px;}
  .calendar01 table td .time strong a{font-size:13px;vertical-align:1px;width:65px;}
  .calendar01 table td .time p{font-size:13px;}
  .calendar01 table td .time p + p{margin-top:5px;}

  .rent .summary{margin-bottom:25px;}
  .rent .summary > div:last-child{margin-top:15px;}
  .rent .summary .text{padding:15px 10px 15px 15px;position:relative;bottom:auto;background:rgba(54,46,43,.9);}
  .rent .summary .text strong{font-size:16px;margin-bottom:7px}
  .rent .summary .text p{font-size:14px;}
  .rent .summary .text p:after{top:9px;}
  .rent .btn_box{margin-top:15px;text-align:center;}
  #sub .contsLead.v2 h4{font-size:18px;padding-top:5px;margin-bottom:2px;padding-left:17px;}
  #sub .contsLead.v2 .listLv{margin-left:17px;}
  #sub .contsLead.v2 .skbtn{margin:13px 0 10px 17px;padding:0 30px;width:calc(100% - 17px);text-align:center;height:36px;line-height:36px;color:#fff;font-size:15px;background: #3b1e1c;}
}

/*버튼 검색 탭*/
.btn_tab{padding:10px 15px;background:#f9f9f9;border:1px solid #dedede;position:relative;margin-bottom:40px;}
.btn_tab input:focus::placeholder{color:transparent;}
.btn_tab input::placeholder{color:#454545;font-size:14px;font-weight:300;}
.btn_tab .btn_box{float:left;margin-top:0 !important;}
.btn_tab .btn_box a{display:inline-block;height:34px;line-height:32px;width:84px;text-align:center;color:#fff;font-weight:300;transition:all .1s;font-size:15px;}
.btn_tab .btn_box a + a{margin-left:2px;}
.btn_tab .btn_box a.ty01{background:#59493f;}
.btn_tab .btn_box a.ty02{background:#7a9959;}
.btn_tab .btn_box a.ty03{background:#bd5505;}
.btn_tab .btn_box a:hover{text-decoration:none;transform:scale(1.05);}
.btn_tab .btn_box a:active{transform:scale(.95);}

.btn_tab .period_box{float:right;}
.btn_tab .data_start,
.btn_tab .data_end{display:inline-block;vertical-align:top;position:relative;height:34px;background:#fff;border:1px solid #ddd;width:160px;padding-left:37px;}
.btn_tab input[type="text"]{height:32px;color:#454545;font-size:14px;font-weight:300;width:100%;padding-left:5px;}
.btn_tab input[type="submit"]{height:34px;margin-left:6px;color:#fff;background:#362e2b;font-size:14px;font-weight:300;width:60px;transition:all .1s;}
.btn_tab input[type="submit"]:hover{transform:scale(1.05);}
.btn_tab input[type="submit"]:active{transform:scale(.95);}
.btn_tab .period_box em{padding:0 7px;color:#362e2b;}
.btn_tab .ui-datepicker-trigger{background:url(/page/museum/images/common/sp_museum.png) -250px -805px no-repeat;background-size:520px 1069px;width:20px;height:20px;position:absolute;top:5px;left:14px;margin-left:0;}
.btn_tab .ui-datepicker-trigger img{display:none;}

@media (max-width:991px) {
  .btn_tab{margin-bottom:30px;}
  .btn_tab .btn_box a{width:75px;}

}

@media (max-width:760px) {
  .btn_tab .btn_box{float:none;margin-bottom:10px;}
  .btn_tab .period_box{float:none;}
  .btn_tab .data_start,
  .btn_tab .data_end{width:calc((100% - 96px) / 2)}
}

@media (max-width:639px) {
  .btn_tab{padding:10px 12px;margin-bottom:20px;}
  .btn_tab .data_start{width:calc(100% - 65px);}
  .btn_tab .data_end{width:calc(100% - 65px);margin-top:5px;}
  .btn_tab .period_box em{display:none;}
  .btn_tab input[type="submit"]{margin-left:0px;position:absolute;bottom:10px;right:12px;height:73px;}
}

.event{position:relative;}
.event_list{position:relative;}
.event_list li + li{margin-top:20px;}
.event_list li .thumb{float:left;position:relative;}
.event_list li .thumb img{display:block;height:172px}
.event_list li a{display:block;transition:all .15s;position:relative;}
.event_list .text{position:relative;border:1px solid #e0e0e0;height:172px;overflow:hidden;}
.event_list .text p{position:absolute;left:0px;top:50%;transform:translateY(-50%);width:100%;padding:0 30px 0 160px;}
.event_list .text .state{width:100px;height:100px;border-radius:50%;background:#bd5505;color:#fff;padding:35px 0 0;text-align:center;font-size:18px;font-weight:300;position:absolute;top:50%;left:30px;margin-top:-50px;z-index:10;}
.event_list .text .state:before{content:'';display:block;width:26px;height:5px;background:url(/page/museum/images/sub/i_dot01.png) center center no-repeat;background-size:24px 5px;margin:0 auto 4px;}
.event_list .text .state.ty02{background:#7a9959}
.event_list .text .state.ty02:before{background-image:url(/page/museum/images/sub/i_dot02.png);}
.event_list .text strong{display:block;line-height:1.2;color:#000;font-size:25px;font-weight:300;max-height:2.4em;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;word-break:keep-all;transition:all .15s;}
.event_list .text .info{display:block;line-height:1.4;margin-top:8px;}
.event_list .text .info span{display:inline-block;color:#000;font-weight:300;font-size:16px;padding-right:9px;margin-right:4px;position:relative;}
.event_list .text .info span em{color:#626262;}
.event_list .text .info span:after{content:'';display:block;width:1px;height:12px;background:#000;position:absolute;top:7px;right:0px;}
.event_list .text .info span:last-child:after{display:none;}
.event_list li a:hover{box-shadow:0px 0px 9px 0px rgba(0,0,0,.35);text-decoration:none;}
.event_list li a:active{transform:scale(.95);}
.event_list li a:hover .text strong{color:#187872}
.event_list li a:hover span,
.event_list li a:hover div,
.event_list li a:hover strong,
.event_list li a:hover p{text-decoration:none;}

@media (max-width:1199px) {
  .event_list li .thumb img{height:157px}
  .event_list .text{height:157px;}
  .event_list .text p{padding:0 20px 0 140px;}
  .event_list .text .state{width:90px;height:90px;padding:30px 0 0;font-size:17px;left:25px;margin-top:-45px;}
  .event_list .text strong{font-size:23px;line-height:1.3;max-height:2.6em;}
  .event_list .text .info{margin-top:5px;}
}

@media (max-width:991px) {
  .event_list li .thumb img{height:141px;}
  .event_list .text{height:141px;}
  .event_list .text p{padding:0 20px 0 120px;}
  .event_list .text .state{width:80px;height:80px;padding:27px 0 0;font-size:16px;left:20px;margin-top:-40px;}
  .event_list .text strong{font-size:20px;}
  .event_list .text .info{margin-top:5px;}
  .event_list .text .info span{display:block}
  .event_list .text .info span:after{display:none;}
}

@media (max-width:760px) {
  .event_list li{float:left;margin-right:15px;width:calc((100% - 15.2px) / 2)}
  .event_list li + li{margin-top:0px;}
  .event_list li:nth-child(2n){margin-right:0;}
  .event_list li:nth-child(n+3){margin-top:15px;}
  .event_list li .thumb{float:none;display:block;}
  .event_list li .thumb img{width:100%;height:auto;}
  .event_list .text{height:auto;position:relative;overflow:visible;}
  .event_list .text p{padding:13px 12px 12px 12px;position:relative;transform:translateY(0);top:auto;left:auto;min-height:107px;}
  .event_list .text .state{width:32px;height:32px;padding:14px 0 0;font-size:0px;right:8px;margin-top:0px;top:-20px;left:auto;position:absolute;}
  .event_list .text .state:before{margin-bottom:-2px;}
  .event_list .text strong{font-size:15px;font-weight:400;}
  .event_list .text .info{margin:6px -10px 0 0;}
  .event_list .text .info span{display:block;font-size:13px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
  .event_list .text .info span + span{margin-top:1px;}
  .event_list .text .info span:after{display:none;}
}



.event .info_box{position:relative;overflow:hidden;padding:50px 50px 0px;border-radius:50px 50px 0 0;}
.event .info_box .lbox{position:relative;z-index:5;float:left;width:51%;}
.event .info_box .bgbox{content:'';display:block;position:absolute;top:0px;left:0px;right:0px;bottom:40px;background:#eee;z-index:1;overflow:hidden;}
.event .info_box .bgbox:before{content:'';display:block;width:520px;height:520px;background:url(/page/museum/images/common/bg_ci01.png) 0 0 no-repeat;background-size:cover;position:absolute;top:-200px;left:-200px;}
.event .info_box .bgbox::after{content:'';display:block;width:320px;height:320px;background:url(/page/museum/images/common/bg_ci02.png) 0 0 no-repeat;background-size:cover;position:absolute;bottom:-55px;right:-185px;}
.event .info_box .lbox img{display:block;width:100%;}
.event .info_box .rbox{float:left;width:49%;position:relative;z-index:5;padding-left:50px;}
.event .info_box .rbox h4{line-height:1.3;color:#000;font-size:24px;font-weight:400;height:2.6em;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;word-break:keep-all;transition:all .15s;margin:25px 0 25px;padding-right:120px;}
.event .info_box .state{width:100px;height:100px;border-radius:50%;background:#bd5505;color:#fff;padding:35px 0 0;text-align:center;font-size:18px;font-weight:300;position:absolute;top:0px;right:0px;z-index:10;}
.event .info_box .state:before{content:'';display:block;width:24px;height:5px;background:url(/page/museum/images/sub/i_dot01.png) 0 0 no-repeat;background-size:cover;margin:0 auto 4px;}
.event .info_box .state.ty02{background:#7a9959}
.event .info_box .state.ty02:before{background-image:url(/page/museum/images/sub/i_dot02.png);}
.event .info_box ul{margin-top:25px;padding-top:25px;border-top:1px solid #bebebe}
.event .info_box ul li{position:relative;padding-left:79px}
.event .info_box ul li + li{margin-top:10px;}
.event .info_box ul li strong{display:block;position:relative;color:#000;font-weight:400;font-size:16px;position:absolute;top:0px;left:0px;line-height:1.3}
.event .info_box ul li p{line-height:1.3;color:#626262;font-weight:300;font-size:16px;}
.event .info_box ul li a{transition:all .1s;display:inline-block;}
.event .info_box ul li a:hover{font-weight:400;}
.event .info_box ul li .file:after{content:'';display:inline-block;background:url(/page/museum/images/common/sp_museum.png) -91px -89px no-repeat;background-size:520px 1069px;width:19px;height:21px;margin-left:8px;vertical-align:top;}

.event .text_box{margin-top:47px;padding:0 20px 0 50px;}
.event .slick{background:#eee;padding:50px 72px;position:relative;overflow:hidden;}
.event .slick:before{content:'';display:block;width:520px;height:520px;background:url(/page/museum/images/common/bg_ci02.png) 0 0 no-repeat;background-size:cover;position:absolute;top:-300px;right:70px;}
.event .slick .slide{background:#fff;position:relative;margin:0 10px;height:168px;}
.event .slick .slide img{display:block;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;max-width:100%;max-height:100%;width:auto !important;}
.event .slick-slider .slick-list{margin:0 -10px;}
.event .slick_wrap{position:relative;margin-top:40px;}
.event .slick_wrap a[role="button"]{position:absolute;display:block;width:60px;height:60px;top:50%;margin-top:-30px;background:rgba(54,46,43,.5);overflow:hidden;text-indent:-9999px;transition:all .15s;}
.event .slick_wrap a:after{content:'';display:block;width:17px;height:16px;border:3px solid rgba(255,255,255,.5);border-width:3px 3px 0 0;transform:rotate(45deg);position:absolute;top:50%;left:17px;margin-top:-9px;}
.event .slick_wrap a.prev:after{transform:rotate(-135deg);left:23px;}
.event .slick_wrap a.prev{left:0px;}
.event .slick_wrap a.next{right:0px;}
.event .slick_wrap a:hover{background:rgba(54,46,43,1)}
.event .slick_wrap a:active{transform:scale(.95);}
.event .btn_box{margin-top:32px;}
.event .pgraph{padding-top:0;}

@media (max-width:1199px) {
  .event .info_box{padding:40px 40px 0px;border-radius:40px 40px 0 0;}
  .event .info_box .bgbox{bottom:30px;}
  .event .info_box .rbox{padding-left:40px;}
  .event .info_box .rbox h4{font-size:22px;margin:17px 0 17px;padding-right:100px;}
  .event .info_box .state{width:80px;height:80px;padding:27px 0 0;font-size:16px;}
  .event .info_box .state:before{margin-bottom:3px;}

  .event .text_box{margin-top:35px;padding:0 20px 0 40px;}
  .event .text_box .text{font-size:15px;}

  .event .info_box ul{margin-top:21px;padding-top:23px;}
  .event .info_box ul li{position:relative;padding-left:72px}
  .event .info_box ul li + li{margin-top:9px;}
  .event .info_box ul li strong{font-size:15px;position:absolute;top:0px;}
  .event .info_box ul li p{font-size:15px;}
  .event .info_box ul li .file:after{margin-top:-1px;}

  .event .slick_wrap{margin-top:30px;}
  .event .slick{background:#eee;padding:40px 62px;}
  .event .slick-slider .slick-list{margin:0 -7.5px;}
  .event .slick .slide{margin:0 7.5px;height:150px;}
  .event .slick_wrap a[role="button"]{width:50px;height:50px;margin-top:-25px;}
  .event .slick_wrap a:after{left:13px;}
  .event .slick_wrap a.prev:after{left:19px;}

  .event .btn_box{margin-top:27px;}
}

@media (max-width:991px) {
  .event .info_box{padding:30px 30px 20px;border-radius:30px 30px 0 0;}
  .event .info_box .bgbox:before{top:-200px;left:-200px;transform:scale(.8);}
  .event .info_box .bgbox::after{bottom:-55px;right:-185px;transform:scale(.8);}
  .event .info_box .bgbox{bottom:0px;}
  .event .info_box .rbox{padding-left:30px;}
  .event .info_box .rbox h4{font-size:20px;margin:15px 0 15px;padding-right:80px;}
  .event .info_box .state{width:70px;height:70px;padding:22px 0 0;font-size:15px;}
  .event .info_box .state:before{margin-bottom:2px;}

  .event .text_box{margin-top:25px;padding:0 10px 0 30px;}

  .event .info_box ul{margin-top:18px;padding-top:20px;}
  .event .info_box ul li{position:relative;padding-left:72px}
  .event .info_box ul li + li{margin-top:8px;}
  .event .info_box ul li .file:after{margin-top:-1px;}

  .event .slick_wrap{margin-top:25px;}
  .event .slick{background:#eee;padding:30px 50px;}
  .event .slick:before{transform:scale(.8);right:30px;}
  .event .slick .slide{height:136px;}
  .event .slick_wrap a[role="button"]{width:40px;height:40px;margin-top:-20px;}
  .event .slick_wrap a:after{left:8px;}
  .event .slick_wrap a.prev:after{left:15px;}

  .event .btn_box{margin-top:22px;}
}


@media (max-width:760px) {
  .event .info_box{padding:15px 15px 15px;border-radius:15px 15px 0 0;}
  .event .info_box .bgbox:before{top:-150px;left:-150px;transform:scale(.7);}
  .event .info_box .bgbox::after{bottom:-35px;right:-135px;transform:scale(.7);}
  .event .info_box .lbox{float:none;width:100%;}
  .event .info_box .rbox{padding-left:0px;float:none;width:100%}
  .event .info_box .rbox h4{font-size:17px;margin:15px 0 15px;padding-right:70px;line-height:1.4;height:2.8em}
  .event .info_box .state{width:55px;height:55px;padding:16px 0 0;font-size:13px;top:-4px;}
  .event .info_box .state:before{margin-bottom:-1px;}

  .event .text_box{margin-top:17px;padding:0 10px 0 15px;}

  .event .info_box ul{margin-top:15px;padding-top:17px;}
  .event .info_box ul li{position:relative;padding-left:72px}
  .event .info_box ul li + li{margin-top:8px;}
  .event .info_box ul li .file:after{margin-top:-1px;}

  .event .slick_wrap{margin-top:17px;}
  .event .slick{background:#eee;padding:50px 0px 15px 20px;margin:0px -15px 0;}
  .event .slick:before{transform:scale(.6);right:10px;}
  .event .slick .slide{height:136px;width:200px;}
  .event .slick_wrap a[role="button"]{width:30px;height:30px;margin-top:0px;top:10px;}
  .event .slick_wrap a.prev{left:auto;right:35px;}
  .event .slick_wrap a.next{right:0px;}
  .event .slick_wrap a:after{left:3px;transform:rotate(45deg) scale(.7);}
  .event .slick_wrap a.prev:after{left:9px;transform:rotate(-135deg) scale(.7);}

  .event .btn_box{margin-top:20px;}
}
