@charset "utf-8";

#sub{padding-top:91px;overflow:hidden;}
#sub #content{padding-bottom:60px;}
#sub .inner{max-width:1240px;padding:0 20px;}
.title_box{padding:50px 20px;margin-bottom:40px;text-align:center;border-bottom:1px solid #dadada;}
.title_box h3{line-height:1.3;font-size:30px;color:#333;font-weight:700;text-align:center;margin-bottom:3px;}
.title_box .btn_box{display:inline-block;vertical-align:middle;}
.title_box .btn_box .print{display:block;float:left;background:url(/page/museum/images/common/sp_museum.png) -362px -3px no-repeat;background-size:520px 1069px;transition:background-color .15s;width:37px;height:37px;overflow:hidden;text-indent:-9999px;border:1px solid #e1e1e1;border-radius:50%;margin-right:4px;}
.title_box .btn_box .print:hover{background:#577d7a url(/page/museum/images/common/sp_museum.png) -362px -43px no-repeat;background-size:520px 1069px;}
.title_box .btn_box .print:active{transform:scale(.95);}
.title_box .btn_box .share{float:left;position:relative;}
.title_box .btn_box .share .open{width:37px;height:37px;background:url(/page/museum/images/common/sp_museum.png) -323px -3px no-repeat;background-size:520px 1069px;transition:background-color .15s;text-indent:-9999px;position:relative;overflow:hidden;text-indent:-9999px;display:block;border:1px solid #e1e1e1;border-radius:50%;}
.title_box .btn_box .share .open:hover{background:#577d7a url(/page/museum/images/common/sp_museum.png) -323px -43px no-repeat;background-size:520px 1069px;}
.title_box .btn_box .share .open:active{transform:scale(.95);}

.title_box .btn_box .share ul{position:absolute;top:41px;left:0px;z-index:30;display:none;}
.title_box .btn_box .share ul li + li{margin-top:2px;}
.title_box .btn_box .share ul li a{display:block;overflow:hidden;text-indent:-9999px;width:38px;height:38px;background:url(/page/common/images/sp_dq.png) -1px -321px no-repeat;background-size:520px 1500px;}
.title_box .btn_box .share ul li a.blog{background-position:-1px -321px;}
.title_box .btn_box .share ul li a.facebook{background-position:-41px -321px;}
.title_box .btn_box .share ul li a.twitter{background-position:-81px -321px;}
.title_box .btn_box .share ul li a.cacao{background-position:-121px -321px;}
.title_box .btn_box .share ul li a.insta{background-position:-161px -321px;}
.title_box .btn_box .share ul li a.utube{background-position:-201px -321px;}

.title_box .route{display:inline-block;vertical-align:middle;}
.title_box .route a{display:inline-block;height:30px;line-height:30px;padding:0 13px;margin-right:6px;position:relative;color:#333;font-weight:400;vertical-align:middle;transition:all .1s;font-weight:300;}
.title_box .route a.home{width:13px;background:url(/page/museum/images/common/sp_museum.png) -6px -4px no-repeat;background-size:520px 1069px;overflow:hidden;text-indent:-9999px;vertical-align:middle;}
.title_box .route a:after{content:'';display:block;width:6px;height:6px;border:2px solid #6f6f6f;border-width:1px 1px 0 0;transform:rotate(45deg);position:absolute;left:-6px;top:12px;}
.title_box .route a:first-child:after{display:none;}
.title_box .route a:last-child{margin-right:0;}
.title_box .route a.home:hover{transform:scale(1.1);}
.title_box .route a:hover{font-weight:500;}


@media (max-width:1199px) {
  #sub{padding-top:60px;}
  #sub .inner{padding:0 20px;overflow:hidden;}
  #sub #content{padding-bottom:40px;}

  .title_box h3{font-size:28px;}

  #sub .title_box{padding:35px 20px;margin-bottom:30px;}

  .title_box .btn_box .print{display:none;}
  .title_box .btn_box .share ul{top:32px;}
  .title_box .btn_box .share .open{width:31px;height:31px;background:url(/page/museum/images/common/sp_museum.png) -326px -5px no-repeat;background-size:520px 1069px;}
  .title_box .btn_box .share .open:hover{background:#577d7a url(/page/museum/images/common/sp_museum.png) -326px -45px no-repeat;background-size:520px 1069px;}
  .title_box .btn_box .share ul li a{width:30px;height:31px;background-size:400px 1154px;}
  .title_box .btn_box .share ul li a.blog{background-position:0px -247px;}
  .title_box .btn_box .share ul li a.facebook{background-position:-31px -247px;}
  .title_box .btn_box .share ul li a.twitter{background-position:-62px -247px;}
  .title_box .btn_box .share ul li a.cacao{background-position:-93px -247px;}
  .title_box .btn_box .share ul li a.insta{background-position:-124px -247px;}
  .title_box .btn_box .share ul li a.utube{background-position:-155px -247px;}  

  .title_box .route a{height:28px;line-height:28px;padding:0 10px;margin-right:6px;font-size:15px;}
  .title_box .route a.home{background-position:-10px -6px;}
  .title_box .route a:after{top:11px;}

}

@media (max-width:760px) {
  #sub .inner{padding:0 15px;}
  #sub #content{padding-bottom:35px;}
  #sub .title_box{padding:23px 15px 18px;margin-bottom:23px;}

  .title_box h3{font-size:24px;}
  .title_box .route a{height:26px;line-height:26px;padding:0 7px;margin-right:6px;font-size:14px;}
    .title_box .route a.home{background-position:-13px -6px;}
}



#sub .pageTab-tab{font-weight:500;}
#sub .pageTab >li.active{background: linear-gradient(to right, #644D43 0%, #5F5F58 50%, #587976 100%);}
#sub .pgraph{color:#707070;}
#sub .titLv{color:#000;}
#sub .listLv,
#sub .listLv2,
#sub .listLv3,
#sub .listLv4{color:#707070;}
#sub .imptBox{color:#707070;}
#sub .skinTb:before {border-top: 3px solid #7e6b5a;}
#sub p{color:#707070;}

#sub .skinTb-th,
#sub .skinTb >thead >tr >th{color:#552622;border-bottom-color:#7e6b5a;}
#sub .skinTb tr >th{color:#552622;}
#sub .contsBtn{border-color:#3b1e1c}
#sub .contsBtn:before{background:#3b1e1c}
#sub .skinBtnBo{border-color:#3b1e1c}
#sub .skinBtnBo:before{background:#3b1e1c}


.contsBtn > a:after{background:url(/page/museum/images/common/sp_museum.png) 0 0 no-repeat;background-size:520px 1069px;}

#sub .contsBtn > a.contsBtn-download:after{background-position:-372px -530px;}
#sub .contsBtn > a.contsBtn-more:after{background-position:-412px -530px;width:17px;height:17px;right:18px;margin-top:-8px}
#sub .contsBtn > a.contsBtn-move:after{background-position:-448px -527px;width:24px;height:22px;margin-top:-10px;right:14px;}
#sub .contsBtn > a.contsBtn-play:after{background-position:-487px -526px;width:29px;height:24px;margin-top:-13px;right:8px;}

#sub .contsBtn:hover > a.contsBtn-download:after{background-position:-372px -489px;}
#sub .contsBtn:hover > a.contsBtn-more:after{background-position:-412px -490px;}
#sub .contsBtn:hover > a.contsBtn-move:after{background-position:-448px -487px;}
#sub .contsBtn:hover > a.contsBtn-play:after{background-position:-487px -486px;}

#sub .contsBtn > a.contsBtn-download:focus:after{background-position:-372px -489px;}
#sub .contsBtn > a.contsBtn-more:focus:after{background-position:-412px -490px;}
#sub .contsBtn > a.contsBtn-move:focus:after{background-position:-448px -487px;}
#sub .contsBtn > a.contsBtn-play:focus:after{background-position:-487px -486px;}

#sub .skbtn{display:inline-block;vertical-align:middle;position:relative;overflow:hidden;font-family:"NanumSquareRound";}
#sub .skbtn + .skbtn{margin-left:19px;}

#sub .skbtn.ty03{height:55px;line-height:55px;background:#3b1e1c;border:1px solid #3b1e1c;color:#3b1e1c;font-size:18px;transition:all .1s;font-weight:400;border-radius:30px;font-size:20px;transition:all .1s;padding:0 80px;background:#fff;}
#sub .skbtn.ty03 span{position:relative;display:inline-block;}
#sub .skbtn.ty03:hover{text-decoration:none;color:#fff;}
#sub .skbtn.ty03:before{content:'';position:absolute;bottom:0%;left:50%;background:#3b1e1c;width:410px;height:410px;margin-left:-200px;margin-bottom:-410px;transform-origin:50% 48%;border-radius:43%;transition-duration:1.5s;transition-property:margin-bottom;transition-timing-function:ease;}
#sub .skbtn.ty03:active{transform:scale(.95);}
#sub .skbtn.ty03:hover:before{
  margin-bottom: -310px;
  animation: rotate 2000ms infinite linear;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}


@media (max-width:1199px) {
    #sub .skbtn.ty03{height:48px;line-height:46px;font-size:17px;padding:0 50px;}
}

@media (max-width:760px) {
    #sub .skbtn.ty03{height:42px;line-height:40px;font-size:16px;padding:0 40px;}
}

@media screen and (min-width: 320px) and (max-width: 639px){
	.pageTab > li {background: linear-gradient(to right, #644D43 0%, #5F5F58 50%, #587976 100%);}
}

.process_list{margin-top:5px;}
.process_list li{position:relative;float:left;margin-right:40px;width:112px;margin-top:15px;}
.process_list li:last-child{margin-right:0;}
.process_list li div{position:relative;width:100%;height:0;padding-top:100%;}
.process_list li div:after{content:'';display:block;width:15px;height:23px;background:url(/page/tour/images/sub/arrow01.png) 0 0 no-repeat;background-size:cover;top:50%;margin-top:-11.5px;right:-27px;position:absolute;}
.process_list li div:before{content:'';display:block;top:0;left:0;bottom:0;right:0;border-radius:50%;border:3px solid #a0a0a0;position:absolute;}
.process_list li:last-child div:after{display:none;}
.process_list li:first-child div:before{border-color:#3b1e1c}
.process_list li div span{display:block;line-height:1.5;position:absolute;top:50%;left:0;width:100%;padding:0 15px;transform:translateY(-50%);color:#000;font-weight:300;text-align:center;}
.process_list li p{line-height:1.4;color:#000;font-weight:300;;margin-top:12px;text-align:center;font-size:14px;}


@media (max-width:485px) {
    .process_list li{margin-right:20px;float:none;width:100%;padding-bottom:20px;}
    .process_list li div{position:relative;width:100%;min-height:75px;padding-top:0;margin:0 auto;max-width:320px;}
    .process_list li div:before{border-radius:15px;}
    .process_list li div:after{display:none;}
    .process_list li:after{right:50%;margin-right:-10px;transform:rotate(90deg);top:auto;bottom:-8px;margin-top:0;content:'';display:block;width:15px;height:23px;background:url(/page/tour/images/sub/arrow01.png) 0 0 no-repeat;background-size:cover;position:absolute;}
    .process_list li:last-child:after{display:none;}
}

.titLv2:before {top:8px;left:0px;background:url(/page/museum/images/common/sp_museum.png) -171px -804px no-repeat;background-size:520px 1069px;width:18px;height:18px;}
.titLv3:before {top:6px;left:29px;background:url(/page/museum/images/common/sp_museum.png) -178px -848px no-repeat;background-size:520px 1069px;width:4px;height:18px;border-radius:0;}

p.listLv:before,
div.listLv:before,
span.listLv:before,
.listLv >li:before,
.listLv >dt:before {position: absolute;top: 20px;left: 0px;content: '';display: block;width:7px;height:2px;background:#434343;transform:rotate(0deg);border:0;}

@media (max-width:1199px) {
    .titLv2:before{top:6px;}
}

@media (max-width:760px) {
  .titLv2:before{top:5px;}
  .titLv3:before{top:5px;}
  p.listLv:before,
  div.listLv:before,
  span.listLv:before,
  .listLv >li:before,
  .listLv >dt:before{top:15px;}
}