@charset "utf-8";

#sub{padding-top:71px;overflow:hidden;}
#sub #content{padding-bottom:60px;}

@media (max-width:1199px) {
  #sub{padding-top:60px;}
  #sub .inner{padding:0 20px;overflow:hidden;}
  #sub #content{padding-bottom:40px;}
}

@media (max-width:760px) {
  #sub .inner{padding:0 15px;}
  #sub #content{padding-bottom:35px;}
}

