/* 시민과의약속_공약관리규칙 */

.pledge{position: relative;}
.pledge > img{margin-bottom: 20px;}
.pledge .tit_bx{position: absolute; left: 513px; top: 39px; text-align: center; }
.pledge .tit_bx h3{font-size: 30px; color: #000; font-weight: 400;}
.pledge .tit_bx span{font-size: 18px; color: #000; font-weight: 300; display: inline-block; padding-top: 3px;}

@media (max-width:1399px) {
    .pledge > img{display: block; width: 100%; margin-bottom: 20px;}
    .pledge .tit_bx{left: 50%; transform: translate(-50%); top: 15px;}
    .pledge .tit_bx h3{font-size: 25px;}
    .pledge .tit_bx span{font-size: 16px;}
}

@media (max-width:991px) {
    .pledge .tit_bx{top: 10px;}
    .pledge .tit_bx h3{font-size: 20px;}
    .pledge .tit_bx span{font-size: 15px;}
}

@media (max-width:716px) {
    .pledge > img{height: 100px; object-fit: cover; margin-bottom: 10px;}
    .pledge .tit_bx{width: 100%; top: 20px;}
    .pledge .tit_bx h3{font-size: 18px;}
    .pledge .tit_bx span{font-size: 14px;}
}

/* 시민과의약속_공약관리체계 */

.process{display: flex; flex-wrap: wrap; margin-top: 20px;}
.process .process_wrap{
    clip-path: polygon(11% 0, 97% 0, 100% 4%, 100% 100%, 70% 100%, 3% 100%, 0 95%, 0 0);
    padding: 4px; width: calc((100% - 165px) / 4);
    background: #b8bfc7; margin-right: 55px; position: relative;
}
.process .process_wrap::after{content: ''; background: url(/page/sokchomayor/images/content/arrow_01.png)no-repeat; width: 34px; height: 20px;
position: absolute; right: -43px; top: 50%; transform: translateY(-50%);}
.process .process_wrap:nth-child(4n){margin-right: 0;}
.process .process_wrap > div{text-align: center;}
.process .process_wrap > div h5{display: flex; align-items: center; justify-content: center; height: 95px; font-size: 20px; font-weight: 400; color: #000; background: #fff;}
.process .process_wrap > div .txt_bx{background: #edeef2; padding: 16px 13px; height: 134px; font-size: 16px; color: #000;}
.process .process_wrap > div .txt_bx span{display: block; text-align: left; font-weight: 300;  padding-left: 15px; position: relative;}
.process .process_wrap > div .txt_bx span + span{padding-top: 5px;}
.process .process_wrap > div .txt_bx span strong{font-weight: 400;}
.process .process_wrap > div .txt_bx span::before{content: ''; background: #727375; width: 7px; height: 2px;
position: absolute; left: 0; top: 17px;}
.process .process_wrap > div .txt_bx span:first-child::before{top: 12px;}

@media (max-width:1399px) {
    .process .process_wrap > div h5{font-size: 16px;}
    .process .process_wrap > div .txt_bx{height: 180px; padding: 16px 7px;}
    .process .process_wrap > div .txt_bx span{font-size: 15px;}
}

@media (max-width:991px) {
    .process .process_wrap{width: calc((100% - 40px) / 2); margin-bottom: 40px; margin-right: 40px;}
    .process .process_wrap:nth-child(2n){margin-right: 0;}
    .process .process_wrap:nth-child(3),
    .process .process_wrap:nth-child(4){margin-bottom: 0;}
    .process .process_wrap > div .txt_bx{height: 100px;}
}

@media (max-width:716px) {
    .process .process_wrap{width: 100%; margin-right: 0; margin-bottom: 30px;}
    .process .process_wrap:nth-child(3),
    .process .process_wrap:nth-child(4){margin-bottom: 30px;}
    .process .process_wrap:last-child{margin-bottom: 0;}
    .process .process_wrap > div h5{height: 66px;}
    .process .process_wrap > div .txt_bx{height: 85px; padding: 8px 7px;}
    .process .process_wrap > div .txt_bx span{font-size: 14px;}
}

/* 시민과의약속_공약완성과정 */

.finish{padding:0 0 0 29px; height: 790px;}
.finish .finish_wrap{display: flex; text-align: center; position: relative; height: 315px; margin-right: 212px;}
.finish .finish_wrap::before{content: ''; background: #1696a1; width: 100%; height: 5px; border-radius: 0 100px 0 0; position: absolute; left: 0; top: 22px;}
.finish .finish_wrap::after{content: ''; width: 150px; height: 309px; background: #fff; border: 5px solid #1696a1; border-left: 0; position: absolute; right: -137px; top: 22px; border-radius:  0 139px 140px 0;}
.finish .finish_wrap li{color: #1e1e1e; padding-left: 14px; width: calc((100% - 2px) / 3);}
.finish .finish_wrap li span,
.finish .finish_wrap01 li span{display: block; text-align: left; position: relative; padding-bottom: 6px; font-size: 18px; font-weight: 400;}
.finish .finish_wrap li span::before,
.finish .finish_wrap01 li span::before{content: ''; background: #0b9f3b; width: 4px; height: 4px; border-radius: 50%; position: absolute; left: -9px; top: 10px;}
.finish .finish_wrap li em,
.finish .finish_wrap01 li em{font-size: 30px; font-weight: 500; margin-left: -102px; width: 167px; height: 48px; margin-bottom: 33px; text-align: center; background: #fff; display: inline-block; position: relative; z-index: 1;}
.finish .finish_wrap li span strong,
.finish .finish_wrap01 li span strong{font-weight: 500;}
.finish .finish_wrap li > div{width: calc(100% + 7px); padding-left: 6px;}
.finish .finish_wrap01{display: flex; position: relative; margin-left: 82px; margin-right: 70px;}
.finish .finish_wrap01::before{content: '';background: #1696a1; width: 1041px; height: 5px;  position: absolute; left: 0; top: 21px;}
/* .finish .finish_wrap01::after{content: '';width: 150px; height: 309px; background: #fff; border: 5px solid #1696a1; border-left: 0; position: absolute; left: 0; top: 22px; border-radius: 0 139px 140px 0; transform: rotate(-180deg);}
 */.finish .finish_wrap01 li > div{text-align: center;}
.finish .finish_wrap01 li{color: #1e1e1e; padding-left: 14px; width: calc((100% - 2px) / 3); margin-right: 69px;}
.finish .finish_wrap01 li:last-child{margin-right: 0;}

/* 시민과의약속_공약이행현황 */

.pledge_fulfillment .img_bx{position: relative; text-align: center; padding-top: 16px;}
.pledge_fulfillment .img_bx::before{content: ''; background: url(/page/sokchomayor/images/content/pledge_bg.png)no-repeat; width: 601px; height: 210px;
position: absolute; right: 0; top: -17px; z-index: -1;}
.pledge_fulfillment .img_bx h2{font-family: 'SokchoBadaDotum'; font-size: 34px; color: #000;}
.pledge_fulfillment .img_bx span{font-size: 18px; font-weight: 300; display: inline-block; padding-top: 14px;}
.pledge_fulfillment .city_btn{display: flex; justify-content: center; margin-top: 45px;}
.pledge_fulfillment .city_btn a{position: relative; display: flex; align-items: center; justify-content: center; background: #a8a8a8; font-size: 20px; font-weight: 400; color: #fff; width: 206px; height: 55px; border-radius: 30px; text-align: center;}
.pledge_fulfillment .city_btn a + a{margin-left: 15px;}
.pledge_fulfillment .city_btn a::before{content: '';
position: absolute; left: 7px; top: 50%; transform: translateY(-50%);}
.pledge_fulfillment .city_btn a:first-child::before{background-image: url(/page/sokchomayor/images/content/icon_01.png); width: 45px; height: 39px;}
.pledge_fulfillment .city_btn a:nth-child(2)::before{background-image: url(/page/sokchomayor/images/content/icon_02.png); width: 20px; height: 44px; left: 27px;}
.pledge_fulfillment .city_btn a:nth-child(3)::before{background-image: url(/page/sokchomayor/images/content/icon_03.png); width: 39px; height: 41px; left: 14px;}
.pledge_fulfillment .city_btn a:nth-child(4)::before{background-image: url(/page/sokchomayor/images/content/icon_04.png); width: 39px; height: 33px; left: 17px;}
.pledge_fulfillment .city_btn a:nth-child(5)::before{background-image: url(/page/sokchomayor/images/content/icon_05.png); width: 45px; height: 36px; left: 18px;}
.pledge_fulfillment .city_btn a:last-child::before{background-image: url(/page/sokchomayor/images/content/icon_06.png); width: 43px; height: 32px; left: 15px;}
.pledge_fulfillment .city_btn a:hover{text-decoration: none;}
.pledge_fulfillment .city_btn a.active{background: #ff4b1d;}
.pledge_fulfillment .city_btn a span{padding-left: 20px;}
.pledge_fulfillment ul{margin-top: 60px;}
.pledge_fulfillment ul li{display: none;}
.pledge_fulfillment ul li.active{display: block;}

@media (max-width:1399px) {
    .pledge_fulfillment .city_btn a span{padding-left: 50px;}
    .pledge_fulfillment .city_btn a:nth-child(5)::before{left: 12px;}
    .pledge_fulfillment .img_bx::before{right: -218px;}
}

@media (max-width:991px) {
    .pledge_fulfillment .img_bx h2{font-size: 30px;}
    .pledge_fulfillment .img_bx span{font-size: 16px;}
    .pledge_fulfillment ul{margin-top: 40px;}
    .pledge_fulfillment .city_btn a{font-size: 16px;}
    .pledge_fulfillment .city_btn a:nth-child(2)::before{left: 17px;}
    .pledge_fulfillment .city_btn a:nth-child(4)::before,
    .pledge_fulfillment .city_btn a:nth-child(3)::before,
    .pledge_fulfillment .city_btn a:last-child::before{left: 9px;}
    .pledge_fulfillment .city_btn a:nth-child(5)::before{left: 6px;}
    .pledge_fulfillment .img_bx::before{right: -318px;}
}
@media (max-width:716px) {
    .pledge_fulfillment .img_bx h2{font-size: 23px;}
    .pledge_fulfillment .img_bx span{font-size: 13px;}
    .pledge_fulfillment ul{margin-top: 20px;}
    .pledge_fulfillment .city_btn{flex-wrap: wrap;}
    .pledge_fulfillment .city_btn a{width: calc((100% - 50px) / 2); height: 50px; margin-right: 10px; margin-bottom: 10px;}
    .pledge_fulfillment .city_btn a:nth-child(2n){margin-right: 0;}
    .pledge_fulfillment .city_btn a + a{margin-left: 0;}
    .pledge_fulfillment .img_bx::before{right: -470px;}
    .pledge_fulfillment .city_btn a span{padding-left: 30px; font-size: 15px;}
}

/* 시민과의약속_공약지도 */

.pledge_map{position: relative; height: 100%; }
.pledge_map .pledge_wrap{position: absolute; left: 113px; top: 96px; color: #000; width: 484px;}
.pledge_map .pledge_wrap .pledge_tit h2{font-weight: 500; font-size: 31px;}
.pledge_map .pledge_wrap .pledge_tit span{font-weight: 400; font-size: 20px; margin-top: 11px; display: inline-block;}
.pledge_map .pledge_wrap .pledge_tab{display: flex; flex-wrap: wrap; white-space: nowrap; padding-top: 56px;}
.pledge_map .pledge_wrap .pledge_tab a{padding: 11px 30px; background: #fff; flex: 1; font-size: 20px; text-align: center; border: 1px solid #939597; border-radius: 10px; margin: 0 17px 16px 0;}
.pledge_map .pledge_wrap .pledge_tab a:nth-child(3),
.pledge_map .pledge_wrap .pledge_tab a:nth-child(6){margin-right: 0;}
.pledge_map .pledge_wrap .pledge_tab a:nth-child(7),
.pledge_map .pledge_wrap .pledge_tab a:last-child{margin-bottom: 0;}
.pledge_map .pledge_wrap .pledge_tab a:last-child{margin-right: 0; flex: 1 50%;}
.pledge_map .pledge_wrap .pledge_tab a.active{background: #0ba13a; color: #fff;}
.pledge_map .pledge_wrap .pledge_tab a:hover{text-decoration: none;}
.pledge_map  .map_wrap{height: 700px;}
.pledge_map  .map_wrap .map_img img{display: none; image-rendering: -webkit-optimize-contrast;}
.pledge_map .map_wrap .map_img img.active{display: block;}
.pledge_map .pledge_map_ct{padding-top: 80px;}
.pledge_map .pledge_map_ct ul li{display: none;}
.pledge_map .pledge_map_ct ul li.active{display: block;}

@media (max-width:1399px) {
    .pledge_map .map_wrap .map_img{position: absolute; left: 50%; z-index: -1; width: 1496px; margin-left: -745px;}
    .pledge_map .pledge_wrap{left: 0; top: 70px; width: 388px;}
}

@media (max-width:1024px) {
    .pledge_map .map_wrap .map_img{width: 1700px; margin-left: -850px;}
}

@media (max-width:991px) {
    .pledge_map .map_wrap .map_img{width: 1900px; margin-left: -950px; }
    .pledge_map .pledge_wrap{top: auto; position: relative; padding-top: 10px; width: 100%;}
    .pledge_map .pledge_wrap .pledge_tit h2{font-size: 25px;}
    .pledge_map .pledge_wrap .pledge_tit span{font-size: 16px;}
    .pledge_map .pledge_wrap .pledge_tab a{font-size: 15px; margin: 0 8px 8px 0; padding: 11px 28px;}
    .pledge_map .pledge_wrap .pledge_tab a:nth-child(3),
    .pledge_map .pledge_wrap .pledge_tab a:nth-child(6){margin-right: 8px;}
    .pledge_map .pledge_wrap .pledge_tab a:nth-child(7){margin-bottom: 8px; margin-right: 0;}
    .pledge_map .pledge_wrap .pledge_tab{padding-top: 36px;}
    .pledge_map .pledge_map_ct{padding-top: 40px;}
}

@media (max-width:768px) {
    .pledge_map .pledge_wrap .pledge_tab a{padding: 11px 20px;}
}

@media (max-width:716px) {
    .pledge_map .map_wrap{height: 400px;}
    .pledge_map  .map_wrap .map_img img{height: 400px;}
    .pledge_map .map_wrap .map_img{width: 1200px; margin-left: -600px;}
    .pledge_map .pledge_wrap .pledge_tab a{margin: 0 5px 8px 0; padding: 5px 2px; font-size: 13px; border-radius: 5px;}
    .pledge_map .pledge_wrap .pledge_tit h2{font-size: 22px;}
    .pledge_map .pledge_wrap .pledge_tit span{font-size: 15px;}
    .pledge_map .pledge_wrap .pledge_tab{padding-top: 26px;}
    .pledge_map .pledge_map_ct{padding-top: 30px;}
}

/* 시민과의약속_매니페스토란 */

.manifesto{padding: 0 54px;}
.manifesto .manifesto_tit{color: #000; position: relative;}
.manifesto .manifesto_tit h3{font-size: 24px;  font-weight: 400;}
.manifesto .manifesto_tit p{font-size: 18px; font-weight: 400; padding-top: 22px; line-height: 2;}
.manifesto .manifesto_tit img{display: block; margin-top: -253px; position: relative; z-index: -1;}
.manifesto .manifesto_bx{position: relative; top: -54px; padding-top: 67px; height: 1024px;}
.manifesto .manifesto_bx::before{content: ''; background: #f8f8f8; width: 1920px; height: 1024px; position: absolute; z-index: -1; top: 0; left: 50%; margin-left: -960px;}
.manifesto_wrap{display: flex; flex-wrap: wrap; margin-top: 37px;}
.manifesto_wrap > div{background: #fff;  border-radius: 20px; border: 1px solid #c6c6c6; margin-right: 41px; margin-bottom: 46px; padding: 26px 33px 0 29px; width: calc((100% - 41px) / 2); height: 386px;}
.manifesto_wrap > div:nth-child(2n){margin-right: 0;}
.manifesto_wrap > div:nth-child(3),
.manifesto_wrap > div:nth-child(4){margin-bottom: 0;}
.manifesto_wrap > div .country{display: flex; align-items: center; padding-bottom: 27px; border-bottom: 1px solid #dcdcdc;}
.manifesto_wrap > div .country img{display: block;}
.manifesto_wrap > div .country .country_txt{padding-left: 35px;}
.manifesto_wrap > div .country .country_txt strong{font-size: 22px; font-weight: 500;}
.manifesto_wrap > div .country .country_txt span{display: block; font-weight: 300; font-size: 18px; color: #004986; padding-top: 6px;}
.manifesto_wrap > div .country .country_txt .korea{color: #000; font-size: 16px;}
.manifesto_wrap > div ul{padding:22px 0 0 20px;}
.manifesto_wrap > div ul li{font-weight: 200; position: relative; margin-bottom: 10px; color: #000;}
.manifesto_wrap > div ul li:last-child{margin-bottom: 0;}
.manifesto_wrap > div ul li::before{content: ''; background: #7d7d7d; width: 7px; height: 2px; position: absolute; left: -16px; top: 12px;}
.manifesto_wrap > div p{font-weight: 200; padding: 22px 0 0 4px;}
.manifesto .detail{text-align: center;}
.manifesto .detail p{font-size: 18px; color: #000; padding-bottom: 35px; font-weight: 400;}

@media (max-width:1399px) {
    .manifesto{padding: 0;}
    .manifesto .manifesto_tit img{display: block; width: 100%; margin-top: -190px;}
    .manifesto .manifesto_bx{top: -37px;}
    .manifesto_wrap > div{height: 540px;}
    .manifesto_wrap > div p{padding: 18px 0 0 4px;}
    .manifesto_wrap > div .country{align-items: flex-start;}
    .manifesto_wrap > div .country img{height: 100px;}
    .manifesto .manifesto_bx{height: 1320px;}
    .manifesto .manifesto_bx::before{height: 1320px;}
}

@media (max-width:991px) {
    .manifesto .manifesto_tit h3{font-size: 20px;}
    .manifesto .manifesto_tit p{padding-top: 15px; font-size: 16px; line-height: 1.8;}
    .manifesto .manifesto_tit img{margin-top: -160px;}
    .manifesto_wrap > div{width: 100%; height: 335px; margin-right: 0; margin-bottom: 36px;}
    .manifesto .manifesto_bx{height: 100%; top: -29px; padding-top: 37px; padding-bottom: 40px;}
    .manifesto .manifesto_bx::before{height: 100%;}
    .manifesto_wrap > div:nth-child(3){margin-bottom: 36px;}
    .manifesto_wrap > div .country .country_txt strong{font-size: 20px;}
    .manifesto_wrap > div .country .country_txt span{font-size: 16px;}
    .manifesto_wrap > div ul li{font-size: 15px;}
    .manifesto .detail p{padding-bottom: 25px;}
}

@media (max-width:716px) {
    .manifesto .manifesto_tit h3{font-size: 17px;}
    .manifesto .manifesto_tit p{font-size: 15px; padding-top: 10px;}
    .manifesto .manifesto_tit p br{display: none;}
    .manifesto .manifesto_tit img{margin-top: -60px;}
    .manifesto .manifesto_bx{top: -13px; padding-top: 1px; padding-bottom: 25px;}
    .manifesto_wrap{margin-top: 17px;}
    .manifesto_wrap > div{padding: 16px 16px 0 16px; margin-bottom: 26px; height: 460px;}
    .manifesto_wrap > div:nth-child(3){margin-bottom: 26px;}
    .manifesto_wrap > div .country{padding-bottom: 17px;}
    .manifesto_wrap > div .country .country_txt{padding-left: 15px;}
    .manifesto_wrap > div .country .country_txt strong{font-size: 16px;}
    .manifesto_wrap > div .country .country_txt span{font-size: 14px;  word-break: keep-all;}
    .manifesto_wrap > div .country .country_txt span br{display: none;}
    .manifesto_wrap > div .country img{height: 75px;}
    .manifesto_wrap > div ul{padding: 15px 0 0 20px;}
    .manifesto_wrap > div ul li{font-size: 14px;}
    .manifesto_wrap > div .country .country_txt .korea{font-size: 14px;}
    .manifesto_wrap > div p{font-size: 14px; padding: 15px 0 0 4px;}
    .manifesto_wrap > div p br{display: none;}
    .manifesto .detail p{font-size: 15px; word-break: keep-all;} 
    
}