@charset "utf-8"; 

#visual{position:relative;z-index:2;height: 770px;overflow:hidden;margin-bottom: 50px;background:#f5f8fa;}
#visual .bg-img{display:block;width:1920px;position:absolute;top:0;left:50%;margin-left:-960px;animation:dimming 3s 1 both ease-out;transform-origin:50% 50%;}
#visual .inner{display:flex;height:100%;align-items:flex-end;z-index:2;display:flex;align-items:center;justify-content:center;}
#visual .sns-bx{display:flex;position:absolute;right:20px;top:45px;}
#visual .sns-bx a{overflow:hidden;border-radius:5px;margin-left:7px;}
#visual .sns-bx a img{display:block;width:31px;transition:all .1s;}
#visual .sns-bx a:hover img{filter:invert(1) brightness(2);}
/* #visual .text-bx{padding-bottom:150px;margin-right:310px;} */
#visual .text-bx{position: relative;margin-top:-80px;}
#visual .text-bx h2{color:#000;font-size:80px;line-height:1.3;letter-spacing:-2px;}


#visual .text-bx p{font-size:28px;color:#434343;line-height:1.5;font-weight:500;margin-top:30px;}
#visual .text-bx .btn-bx{margin-top:110px;display:flex;}
#visual .text-bx .btn-bx a{margin-right:20px;display:flex;align-items:center;font-weight:500;transition:all .25s;color:#292525;font-size:25px;justify-content:center;flex-direction:column;width:195px;height:140px;background:rgba(255,255,255,.9);border-radius:15px 15px 50px 15px;box-shadow:5px 5px 15px 0px rgba(0,0,0,.3);}
#visual .text-bx .btn-bx a img{height:38px;margin-bottom:7px;transition:all .2s;display:block;}
#visual .text-bx .btn-bx a:hover{background:rgba(255,255,255,1);border-radius:15px 15px 15px 15px;}
#visual .text-bx .btn-bx a:hover img{filter:hue-rotate(230deg);}
#visual .mayor-img{display:block;position:relative;top: 50px;left: -60px;}

#visual .slick{display:block;width:1920px;position:absolute;top:0;left:50%;margin-left:-960px;transform-origin:50% 50%;z-index:1;animation:main-new1 3s 9.5s 1 both ease-out;overflow:hidden;}
#visual .slick-slide{margin-left:-1px;}
#visual .slick-current{animation:imgmove1 4.5s .3s 1 both ease-out;transform-origin:65% 55%;}
#visual .text-bx h2{animation:textmove3 2s 6s 1 both ease-in-out;-webkit-text-stroke: 1px #000;color:transparent}
#visual .text-bx h2 span{display:block;animation:textmove1 1.5s 1s 1 both ease-in-out;}
#visual .text-bx h2 span:nth-child(2){display:block;animation:textmove2 1.5s 1.5s 1 both ease-in-out;} 
#visual .text-bx h2 strong{animation:textcolor .5s 3.5s 1 both ease-in-out;font-weight:900;} 
#visual .text-bx h2 span:nth-child(2) strong{animation-delay:4.5s;}
#visual .text-bx h2 em{animation:textcolor2 .5s 3s 1 both ease-in-out;margin-right:5px;font-weight:900;} 
#visual .text-bx h2 span:nth-child(2) em{animation-delay:4s;}
#visual .text-bx img{display:block;position:absolute;top:50%;left:50%;margin:-76px 0 0 -165px;animation:textmove4 6s 6.5s 1 both ease-out;filter:drop-shadow(1px 1px 0px rgba(255, 255, 255, 1));}

@keyframes textmove1{ 
    0%{transform:translateX(-200%) skewX(40deg);opacity:0;}
    80%{transform:translateX(20%) skewX(-10deg);opacity:1;} 
    100%{transform:translateX(0%) skewX(0deg);opacity:1;}  
} 

@keyframes textmove2{ 
    0%{transform:translateX(200%) skewX(-40deg);opacity:0;}
    80%{transform:translateX(-20%) skewX(10deg);opacity:1;} 
    100%{transform:translateX(0%) skewX(0deg);opacity:1;}  
}

@keyframes textmove3{ 
    0%{opacity:1;}
    100%{opacity:0;}  
}

@keyframes textmove4{ 
    0%{opacity:0;}
    50%{opacity:1;}
    80%{opacity:1;}
    100%{opacity:0;}  
}

@keyframes imgmove1{ 
    0%{transform:scale(1.2);filter:brightness(.3) grayscale(1);}
    100%{transform:scale(1);filter:brightness(1) grayscale(0);}  
}

@keyframes textcolor{ 
    0%{color:transparent;-webkit-text-stroke: 1px #000;}
    100%{color:#ff4b1d;-webkit-text-stroke: 0px #000;}  
}

@keyframes textcolor2{ 
    0%{color:transparent;-webkit-text-stroke: 1px #000;}
    100%{color:#000;-webkit-text-stroke: 0px #000;}  
}

@keyframes main-new1{
    0%{transform:scale(.3) translateY(300%);border-radius:100px;}
    60%{transform:scale(.3) translateY(130%);border-radius:100px;}
    100%{transform:scale(1) translateY(0%);border-radius:0;}
}


#pledge{position:relative;padding:80px 0 165px;}
#pledge .img-txt{display:block;position:absolute;bottom:0;left:0;}
#pledge .inner{display:flex;align-items:center;}
#pledge .title-bx{width:500px;flex-shrink:0;}
#pledge .title-bx span{color:#ff4b1d;font-size:22px;padding-bottom:7px;display:block;}
#pledge .title-bx h2{color:#000;font-size:36px;line-height:1.3;font-weight:600;}
#pledge .title-bx a{display:flex;margin-top:65px;align-items:center;justify-content:center;width:190px;height:52px;border:2px solid #474b4c;font-size:18px;font-weight:500;transition:all .2s;border-radius:26px;}
#pledge .title-bx a img{margin-left:10px;height:17px;display:block;transition:all .2s;}
#pledge .title-bx a:hover{background:#474b4c;color:#fff}
#pledge .title-bx a:hover img{filter:invert(1)}
#pledge .slick{width:1210px;position:relative;padding:50px 0 40px;z-index:2;}
#pledge .slick:before{content:'';display:block;z-index:-1;position:absolute;top:0;bottom:0;right:0;left:550px;background:#f5f5f5;border-radius:30px 0 0 30px;}
#pledge .slick-list{padding:15px 0;}
#pledge .slick-slide{position:relative;width:246px;height:345px;margin:55px 25px 55px 0;border-radius:15px;overflow:hidden;box-shadow:5px 5px 10px 0px rgba(0,0,0,.3);z-index:1;}
#pledge .slick-slide:before{content:'';z-index:-1;position:absolute;top:0;bottom:0;left:0;right:0;background:#ff4b1d;transition:all .3s;opacity:0;}
#pledge .slick-slide > img{position:absolute;width:100%;height:100%;object-fit:cover;z-index:-2;}
#pledge .slick-slide .item{width:100%;height:100%;padding:40px;display:flex;flex-direction:column;justify-content:space-between;align-items:flex-start;}
#pledge .slick-slide .item > img{display:block;width:auto;max-height:92px;max-width:100px;opacity:0;}
#pledge .slick-slide .item div{color:#fff;width:100%}
#pledge .slick-slide .item h3{font-size:32px;font-weight:600;transition:all .3s;text-align:center;}
#pledge .slick-slide .item p{font-size:20px;color:#d5d5d5;font-weight:500;padding-top:15px;line-height:1.4;overflow:hidden;height:1.4em;opacity:0;white-space:nowrap;}
#pledge .slick-slide .item p strong{color:#fff;font-size:24px;display:block;}
#pledge .slick-slide.slick-current{margin:0px 100px 0px 0px;transition:all .5s .5s;width:325px;height:455px;border-radius:25px;}
#pledge .slick-slide.slick-current:before{opacity:1;}
#pledge .slick-slide.slick-current .item > img{opacity:1;transition:all .5s .5s;}
#pledge .slick-slide.slick-current .item p{height:4.2em;opacity:1;transition:all .5s .5s;}
#pledge .slick-slide.slick-current .item h3{text-align:left;font-size:45px;transition:all .5s .5s;}
#pledge .slick-dots{display:flex;margin-top:20px;width:325px;justify-content:center;}
#pledge .slick-dots li{margin-right:10px;width:10px;height:10px;line-height:0;}
#pledge .slick-dots li button{font-size:0;color:transparent;width:100%;height:100%;transition:background .2s;border-radius:50%;background:#eee;}
#pledge .slick-dots li.slick-active button{background:#ff4b1d;}

#join{position:relative;height:180px;border-bottom-right-radius:180px;background:url(/page/sokchomayor/images/main/bg-involved.jpg) no-repeat center center /cover;}
#join .inner{height:100%;display:flex;align-items:center;justify-content:space-between;color:#fff;}
#join h2{font-size:27px;line-height:1.5;flex-shrink:0;padding-right:20px;}
#join h2 strong{font-weight:500;display:block;font-size:30px}
#join .inner > div{flex:1;display:flex;max-width:740px;}
#join .inner > div a{flex:1;display:flex;align-items:center;color:#fff;}
#join .inner > div a img{height:100px;margin-right:20px;}
#join .inner > div a p{display:flex;flex-direction:column;justify-content:center;align-items:center;font-size:26px;font-weight:500;}
#join .inner > div a span{display:flex;transition:all .2s;margin-top:5px;align-items:center;justify-content:center;border:2px solid #fff;width:102px;height:33px;color:#b8b8b8;font-size:16px;font-weight:400;border-radius:17px;}
#join .inner > div a:hover span{background:#fff;}

#gallery{position:relative;background:#f2f0ec;padding:70px 0 85px;}
#gallery h2{text-align:center;}
#gallery h2 span{display:inline-block;line-height:1.1;position:relative;color:#000;font-size:36px;font-weight:600;}
#gallery h2 span em{position:absolute;color:rgba(0,0,0,.1);top:25px;left:-90px;font-size:240px;line-height:.5;font-weight:600;}
#gallery .box{display:flex;height:450px;border-left:1px solid #d6d4cf;margin-top:70px;}
#gallery .box a{flex:1;border-right:1px solid #d6d4cf;padding:35px 50px 0}
#gallery .box a .thumb{height:220px;overflow:hidden;border-radius:15px;transition:all .3s;position: relative;top:0;}
#gallery .box a .thumb img{display:block;width:100%;height:100%;object-fit:cover;}
#gallery .box a strong{display:block;margin-top:25px;font-size:18px;font-weight:500;word-break:keep-all;line-height:1.5;max-height:4.5em;overflow:hidden;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient: vertical;}
#gallery .box a em{display:block;margin-top:13px;color:#8d8d8d;}
#gallery .box a:nth-child(2n){padding-top:90px}
#gallery .box a:hover .thumb{top:-20px}

@media (max-width:1399px) {
    #pledge .title-bx{width:400px;}
}

@media (max-width:1180px) {
    #visual{margin-bottom: 35px;height: 650px;}
    #visual .bg-img{width:1620px;margin-left:-810px;}
    #visual .inner{}
    #visual .sns-bx{right:auto;top:35px;left:20px;}
    #visual .sns-bx a{margin-left:5px;}
    #visual .sns-bx a img{width:29px;}
    #visual .text-bx{padding-bottom:0px;margin-right:0px;}
    #visual .text-bx h2{font-size:50px;}
    #visual .text-bx p{font-size:22px;margin-top:20px;}
    #visual .text-bx .btn-bx{margin-top:100px;}
    #visual .text-bx .btn-bx a{margin-right:15px;font-size:18px;width:175px;height:120px;border-radius:15px 15px 35px 15px;}
    #visual .text-bx .btn-bx a img{height:32px;}
    #visual .mayor-img{display:block;position:relative;top: 0px;height: 560px;}

    #visual .slick{width:1620px;margin-left:-810px;}
    #visual .text-bx img{margin:-65px 0 0 -140px;width:280px;}

    #pledge{padding:30px 0 95px;}
    #pledge .img-txt{height:90px;opacity:.5;}
    #pledge .inner{display:block;}
    #pledge .title-bx{width:100%;position:relative;}
    #pledge .title-bx span{font-size:18px;padding-bottom:5px;}
    #pledge .title-bx h2{font-size:30px;}
    #pledge .title-bx h2 br{display:none;}
    #pledge .title-bx a{margin-top:0px;width:170px;height:44px;border:1px solid #474b4c;font-size:15px;position:absolute;right:0;bottom:0;}
    #pledge .title-bx a img{margin-left:10px;height:17px;display:block;transition:all .2s;}
    #pledge .slick{width:auto;margin:10px -20px 0;padding:35px 0 30px;}
    #pledge .slick:before{left:450px;border-radius:20px 0 0 20px;}
    #pledge .slick-list{padding:15px 20px;}
    #pledge .slick-slide{width:206px;height:289px;margin:40px 20px 40px 0;}
    #pledge .slick-slide .item{padding:30px;}
    #pledge .slick-slide .item > img{max-height:82px;max-width:84px;}
    #pledge .slick-slide .item h3{font-size:24px;}
    #pledge .slick-slide .item p{font-size:16px;padding-top:13px;}
    #pledge .slick-slide .item p strong{font-size:20px;}
    #pledge .slick-slide.slick-current{margin:0px 50px 0px 0px;width:263px;height:369px;}
    #pledge .slick-slide.slick-current .item h3{font-size:30px;}
    #pledge .slick-dots{margin-top:10px;width:283px;padding-left:20px;}

    #join{height:155px;border-bottom-right-radius:155px;}
    #join h2{font-size:22px;padding-right:0px;}
    #join h2 strong{font-size:26px}
    #join .inner > div{flex:1;display:flex;max-width:580px;}
    #join .inner > div a img{height:77px;margin-right:15px;}
    #join .inner > div a p{font-size:22px;}
    #join .inner > div a span{margin-top:5px;border:1px solid #fff;width:92px;height:28px;font-size:14px;}

    #gallery{padding:50px 0 55px;}
    #gallery h2 span{font-size:30px;}
    #gallery h2 span em{top:20px;left:-65px;font-size:200px;}
    #gallery .box{height:390px;margin:45px -20px 0;}
    #gallery .box a{padding:30px 20px 0}
    #gallery .box a .thumb{height:180px;}
    #gallery .box a strong{margin-top:20px;font-size:16px;}
    #gallery .box a em{margin-top:10px;font-size:14px;}
    #gallery .box a:nth-child(2n){padding-top:70px}
}

@media (max-width:991px) {
    #visual{margin-bottom: 30px;height: 610px;}
    #visual .bg-img{width:1520px;margin-left:-760px;}
    #visual .sns-bx{top:25px;left:20px;}
    #visual .sns-bx a img{width:27px;}
    #visual .text-bx{margin-right:0px;margin-top:-60px}
    #visual .text-bx h2{font-size:40px;}
    #visual .text-bx p{font-size:18px;margin-top:20px;}
    #visual .text-bx .btn-bx{margin-top:100px;}
    #visual .text-bx .btn-bx a{margin-right:15px;font-size:17px;width:155px;height:110px;}
    #visual .text-bx .btn-bx a img{height:30px;}
    #visual .mayor-img{top: 0px;height: 440px;left: 0px;}

    #visual .slick{width:1520px;margin-left:-760px;}
    #visual .text-bx img{margin:-60px 0 0 -130px;width:260px;}

    #pledge{padding:20px 0 75px;}
    #pledge .img-txt{height:80px;}
    #pledge .inner{display:block;}
    #pledge .title-bx span{font-size:16px;padding-bottom:5px;}
    #pledge .title-bx h2{font-size:26px;}
    #pledge .title-bx a{width:150px;height:42px;font-size:14px;}
    #pledge .title-bx a img{height:13px;}
    #pledge .slick{margin:10px -20px 0;padding:30px 0 25px;}
    #pledge .slick:before{left:400px;}
    #pledge .slick-list{padding:15px 20px;}
    #pledge .slick-slide{width:194px;height:272px;margin:35px 20px 35px 0;}
    #pledge .slick-slide .item{padding:25px;}
    #pledge .slick-slide .item > img{max-height:78px;max-width:80px;}
    #pledge .slick-slide .item h3{font-size:22px;}
    #pledge .slick-slide .item p{font-size:15px;padding-top:12px;}
    #pledge .slick-slide .item p strong{font-size:18px;}
    #pledge .slick-slide.slick-current{margin:0px 40px 0px 0px;width:244px;height:342px;}
    #pledge .slick-slide.slick-current .item h3{font-size:26px;}
    #pledge .slick-dots{width:244px;padding-left:20px;}

    #join{height:auto;padding:20px 0;border-bottom-right-radius:155px;}
    #join .inner{display:block;}
    #join h2{font-size:18px;padding-right:0px;}
    #join h2 strong{font-size:22px}
    #join .inner > div{max-width:initial;margin-top:20px;}
    #join .inner > div a{justify-content:center;}
    #join .inner > div a img{height:69px;margin-right:13px;}
    #join .inner > div a p{font-size:19px;}
    #join .inner > div a span{width:90px;height:24px;font-size:13px;}

    #gallery{padding:40px 0 45px;}
    #gallery h2 span{font-size:26px;}
    #gallery h2 span em{top:20px;left:-60px;font-size:180px;}
    #gallery .box{height:360px;margin:40px -20px 0;}
    #gallery .box a{padding:30px 15px 0}
    #gallery .box a .thumb{height:160px;}
    #gallery .box a strong{margin-top:17px;font-size:15px;}
    #gallery .box a em{font-size:13px;}
    #gallery .box a:nth-child(2n){padding-top:70px}
}

@media (max-width:716px) {
    #visual{margin-bottom: 20px;height: 520px;}
    #visual .bg-img{width:1300px;margin-left:-650px;}
    #visual .sns-bx{top:20px;left:15px;}
    #visual .sns-bx a img{width:25px;}
    #visual .text-bx{padding-bottom:0px;margin-right:0px;}
    #visual .text-bx span{display:block;white-space: nowrap;}
    #visual .text-bx h2{font-size:34px;}
    #visual .text-bx h2 strong{font-size:34px;}
    #visual .text-bx p{font-size:14px;white-space: nowrap;}
    #visual .text-bx .btn-bx{margin-top:55px;display:block;}
    #visual .text-bx .btn-bx a{margin:10px 0 0px;font-size:13px;width:155px;height:44px;flex-direction:row;border-radius:5px 5px 15px 5px;align-items:center;padding-top:5px;justify-content:flex-start;padding-left:20px;}
    #visual .text-bx .btn-bx a img{height:26px;margin-right:10px}
    #visual .mayor-img{top: -9px;height: 300px;margin-left: -30px;}
    #pledge .slick-slide.slick-current,
    #pledge .slick-slide.slick-current .item > img,
    #pledge .slick-slide.slick-current .item p,
    #pledge .slick-slide.slick-current .item h3{transition:all .25s .25s;}

    #visual .slick{width:1300px;margin-left:-650px;}
    #visual .text-bx img{margin:-50px 0 0 -100px;width:200px;}

    #pledge{padding:0px 0 30px;}
    #pledge .img-txt{height:50px;opacity:.2;}
    #pledge .title-bx{padding-bottom:45px;z-index:20;position:relative;}
    #pledge .title-bx span{font-size:14px;padding-bottom:3px;}
    #pledge .title-bx h2{font-size:20px;white-space:nowrap;}
    #pledge .title-bx h2 br:first-child{display:block;}
    #pledge .title-bx a{width:135px;height:34px;font-size:13px;background:#fff;}
    #pledge .title-bx a img{height:11px;}
    #pledge .slick{margin:-35px -15px 0;padding:15px 0 10px;}
    #pledge .slick:before{left:310px;}
    #pledge .slick-list{padding:15px 15px;}
    #pledge .slick-slide{width:174px;height:244px;margin:30px 15px 30px 0;}
    #pledge .slick-slide .item{padding:17px;}
    #pledge .slick-slide .item > img{max-height:72px;max-width:76px;}
    #pledge .slick-slide .item h3{font-size:20px;}
    #pledge .slick-slide .item p{font-size:13px;padding-top:10px;}
    #pledge .slick-slide .item p strong{font-size:16px;}
    #pledge .slick-slide.slick-current{margin:0px 15px 0px 0px;width:217px;height:304px;}
    #pledge .slick-slide.slick-current .item h3{font-size:22px;}
    #pledge .slick-dots{width: 232px;padding-left:15px;}

    #join{height:auto;border-bottom-right-radius:0px;}
    #join .inner{display:block;}
    #join h2{font-size:14px;}
    #join h2 strong{font-size:20px}
    #join .inner > div{max-width:initial;margin-top:15px;}
    #join .inner > div a{justify-content:center;}
    #join .inner > div a img{height:55px;margin-right:15px;}
    #join .inner > div a p{font-size:15px;}
    #join .inner > div a span{width:74px;height:22px;font-size:12px;}

    #gallery{padding:45px 0 20px;}
    #gallery h2 span{font-size:22px;}
    #gallery h2 span em{top:17px;left:-50px;font-size:160px;}
    #gallery .box{height:auto;margin:30px -15px 0;flex-wrap:wrap;padding-bottom:20px;}
    #gallery .box a{padding:20px 15px 0;width:50%;flex:auto}
    #gallery .box a .thumb{height:130px;}
    #gallery .box a strong{margin-top:13px;font-size:13px;max-height:3em;-webkit-line-clamp:2;}
    #gallery .box a em{font-size:11px;margin-top:7px;}
    #gallery .box a:nth-child(2n){padding-top:40px}
}




@keyframes dimming{
    0%{filter:brightness(.5);transform:scale(1.2);}
    100%{filter:brightness(1);transform:scale(1);}
}

@keyframes main1{
    0%{transform:translateY(-80%);opacity:0;}
    100%{transform:translateY(0%);opacity:1;}
}


  