@charset "utf-8";

#sub{position:relative;padding-top:250px;transition:padding .5s;}
#content{padding-top: 50px;padding-bottom: 75px;}
.fixed ~ #sub{padding-top:100px;}

#sub-visual{position:relative;}
#sub-visual h3{display:flex;align-items:center;position:relative;;justify-content:center;height:150px;z-index:2;;font-size:40px;font-weight:700;background:#fff;color:#1c1b21;box-shadow:0px -15px 10px -10px rgba(0,0,0,.05);padding-top:20px;}
#sub-visual h3 span{display:inline-block;border-bottom:3px solid #000;padding:0 45px;letter-spacing:1px;}
#sub-visual h3:after{content:'';animation:round1 25s 0s infinite linear;display:block;width:140px;height:141px;background:url(/page/worcation/images/sub/rtxt.png) no-repeat 0 0 /cover;position:absolute;right:0;top:-15px;z-index:-1;}


@media (max-width: 1599px){
  #content{padding-top: 30px;padding-bottom: 55px;}
  #sub{padding-top:70px;transition:padding 0s;}
  .fixed ~ #sub{padding-top:50px;}
  #sub-visual h3{height: 100px;font-size:30px;padding-top: 10px;}
  #sub-visual h3 span{border-bottom:2px solid #000;padding:0 15px;}

  #sub-visual h3:after{width:100px;height:100px;top:0;right:-20px;}
}

@media (max-width: 716px){
  #content{padding-top: 15px;padding-bottom: 30px;}
  #sub-visual h3{font-size: 24px;padding-top: 15px;}
  #sub-visual h3 span{padding:0 10px;}

  #sub-visual h3:after{width:70px;height:70px;top:20px;right:-30px;}

}


@keyframes tab-move1{ 
  0%{transform:rotateX(90deg);}
  100%{transform:rotateX(0deg);}
}

@keyframes round1{ 
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}


/*ui 수정*/
#sub .titLv{color:#000;font-size: 30px;line-height:1.2;font-weight: 700;margin-bottom:20px;}
#sub .pgraph{font-size: 16px;line-height: 1.7;padding-left: 23px;}
#sub .titLv2{padding-left:0;color:#000;font-size: 24px;line-height:1.2;font-weight: 500;margin-bottom: 15px;margin-top:25px;}
#sub .titLv3{padding-left:0;color:#000;font-size: 19px;line-height:1.2;font-weight: 400;margin-bottom:5px;}
#sub .titLv3:before,
#sub .titLv2:before{display:none;}
#sub .listLv{margin-left: 23px;font-size: 16px;line-height:1.7;color:#333;font-weight:400;padding-left:0px;word-break:keep-all;}
#sub .listLv li{padding-left: 19px;}
#sub .listLv2{margin-left:-15px;margin-top:15px;}
#sub .listLv2 li{font-size: 16px;line-height:1.7;color:#333;font-weight:400;padding-left:15px;}
#sub .listLv3, #sub .listLv4{margin-left:-15px;margin-top:15px;padding-left:0;}
#sub .listLv3 li, #sub .listLv4 li{font-size: 15px;line-height:1.7;color:#555;font-weight:400;padding-left:15px;margin-top:8px;}
#sub .listLv > li:before{background:#333;border-radius:50%;width:4px;height:4px;left: 0;top: 17px;}
#sub .listLv2 > li:before{background:transparent;width: 8px;height: 2px;left: 0;top: 12px;background: #858585;}
#sub .listLv3 > li:before{top:12px;left:2px}
#sub .listLv4 > li:before{top:13px;left:4px;}
#sub .imptBox{border:0;border-radius:10px;box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);background:#fff;font-size: 16px;color:#333;line-height:1.7;padding: 25px;margin: 45px 0;font-weight: 400;word-break: keep-all;}

#sub .skinTb{border-bottom: 2px solid #000;font-size: 16px;font-weight:400;color:#000;}
#sub .skinTb:before {border-top: 2px solid #000;}
#sub .skinTb >tr >th,
#sub .skinTb >thead >tr >th,
#sub .skinTb >tbody >tr >th,
#sub .skinTb >tfoot >tr >th,
#sub .skinTb >tr >td,
#sub .skinTb >thead >tr >td,
#sub .skinTb >tbody >tr >td,
#sub .skinTb >tfoot >tr >td,
#sub .skinTb-th,
#sub .skinTb-td {border-width:0 0 1px;border-color: #c8c8c8;}
#sub .skinTb >thead >tr >th{border-color:#000}
#sub .skinTb >tbody >tr >th{border-right:1px solid #000}
#sub .skinTb-th,
#sub .skinTb th{font-weight:500;color:#000;background:#fff;}
#sub .boGallery.photo > li{background:#fff;}

a.skinBtnBo{padding:0 30px;background:#fff;height:42px;line-height: 41px;border: 1px solid #000;color: #000;transition:all .1s;font-size: 15px;font-weight:400;text-decoration:none;border-radius: 0;}
a.skinBtnBo:before{display:none;}
a.skinBtnBo:hover{background:#000;color:#fff;}
a.skinBtnBo i{display:inline-block;transition:all .1s;vertical-align:middle;margin-right: 17px;width:16px;height:16px;background: url(/page/worcation/images/common/sp_new.png) no-repeat -364px -192px / 960px 320px;margin-top: -4px;}
a.skinBtnBo i.v2{background-position-x: -444px;}
a.skinBtnBo i.v3{background-position-x: -524px;width: 20px;}
a.skinBtnBo i.v4{background-position-x: -604px;}
a.skinBtnBo i.v5{background-position-x: -683px;}
a.skinBtnBo i.v6{background-position-x: -765px;}
 a.skinBtnBo:hover i{filter:invert(1) brightness(200);}
#sub .boSrchArea{border:0;background:transparent;}
#sub .boGalleryView .slick-dots li + li{margin-left:10px;}
#sub .titLv2 + .skinTb{margin-top:25px;}
#sub .skinTb img{max-width:100%;}
#sub .boMeta{color:#cc1f1f}
#sub .boMeta-pt{color:#000;}
#sub .boMeta-pt:before{display:none;}
#sub .skinIptTxt, .skinSelectBox{border:1px solid #666;}

#sub .pageTab >li.active {border-color:#000;border-width:2px;background:#fff;}
#sub .pageTab >li.active a.pageTab-tab,
#sub .pageTab >li.active a.pageTab-tab:hover,
#sub .pageTab >li.active a.pageTab-tab:link {color: #2d75fd;font-weight:700;}
#sub .pageTab >li.active a.pageTab-tab{display:flex;}
#sub .pageTab >li.active a.pageTab-tab:after{content:'';display:block;background:#2d75fd;width:6px;height:6px;border-radius:50%;margin-left:5px;margin-top:-10px;}
#sub .titLv2{display:flex;}
#sub .titLv3{display:flex;}
#sub .titLv2:before{content:'';flex-shrink:0;width:22px;height:14px;background:url(/page/worcation/images/common/ico_0.png) no-repeat 0 0 /cover;display:block;position:relative;margin-right:5px;}
#sub .titLv3:before{content:'';flex-shrink:0;width:15px;height:21px;background:url(/page/worcation/images/common/ico_1dep.png) no-repeat 0 0 /cover;display:block;position:relative;margin-right:5px;top:auto;left:auto;border-radius:0;}
#sub .listLv > li:before{width:12px;height:11px;background:url(/page/worcation/images/common/ico_2dep.png) no-repeat 0 0 /cover;transform:none;border:0;}


@media (max-width: 1599px){
  #sub .titLv{font-size: 26px;margin-bottom: 12px;}
  #sub .pgraph{font-size: 15px !important;}
  #sub .titLv2{font-size: 22px;margin-bottom:10px;margin-top:20px;}
  #sub .titLv3{font-size: 17px;margin-bottom:5px;}
  #sub .listLv{font-size: 15px !important;}
  #sub .listLv2{margin-top:10px;}
  #sub .listLv2 li{font-size: 14px !important;}
  #sub .listLv3, #sub .listLv4{margin-top:10px;}
  #sub .listLv3 li, #sub .listLv4 li{font-size:15px;margin-top:4px;}
  #sub .listLv > li:before{top: 14px;}
  #sub .listLv2 > li:before{top: 10px;}
  #sub .listLv3 > li:before{top:11px;}
  #sub .listLv4 > li:before{top:11px;}
  #sub .imptBox{font-size: 15px;padding:20px;margin:35px 0;}
  #sub .skinTb{font-size: 15px;}
  #sub .skinTb-tr{border-bottom:1px solid #999}
  #sub .skinTb-tr:last-child{border-bottom:0;}

   a.skinBtnBo{padding:0 20px;height:40px;line-height: 38px;border:1px solid #000;font-size: 14px;background:#333;color:#fff;}
   a.skinBtnBo.v2{background:transparent;color:#000;}
   a.skinBtnBo.icon{font-size:0;width:40px;text-align:center;padding:0;}
   a.skinBtnBo i{filter:invert(1) brightness(200);margin: -3px 7px 0 0;}
  #sub .boSrchArea{border:0;background:transparent;}
  #sub .titLv2 + .skinTb{margin-top:20px;}

  #sub .pageTab >li.active{border-width:1px;}
}


@media (max-width: 991px){
  #sub .titLv{font-size: 24px;margin-bottom: 10px;}
  #sub .pgraph{font-size: 14px !important;}
  #sub .titLv2{font-size: 20px;margin-bottom:6px;margin-top:17px;}
  #sub .titLv3{font-size: 16px;margin-bottom:4px;}
  #sub .listLv{font-size: 14px !important;}
  #sub .listLv2{margin-top:8px;}
  #sub .listLv2 li{font-size: 14px !important;}
  #sub .listLv3, #sub .listLv4{margin-top:8px;}
  #sub .listLv3 li, #sub .listLv4 li{font-size:14px;margin-top:4px;}
  #sub .listLv > li:before{top: 13px;transform: scale(.9);}
  #sub .listLv2 > li:before{top: 8px;}
  #sub .listLv3 > li:before{top:10px;}
  #sub .listLv4 > li:before{top:10px;}
  #sub .imptBox{font-size: 14px;padding:15px 20px;margin:30px 0;}
  #sub .skinTb{font-size: 14px;}
   a.skinBtnBo{padding: 0 15px;font-size: 13px;}
  #sub .boGalleryView .slick-dots{transform:scale(.8);}

  #sub .pageTab >li.active{border-width:0px;background:#2d75fd;}
  #sub .pageTab >li.active a.pageTab-tab,
  #sub .pageTab >li.active a.pageTab-tab:hover,
  #sub .pageTab >li.active a.pageTab-tab:link {color: #fff;}
  #sub .pageTab >li.active a.pageTab-tab:after{border-radius:0%;margin-left:0px;margin-top:-6px;}

  #sub .listLv{margin-left:0px;}
  #sub .pgraph{padding-left:0;}
}


@media (max-width: 716px){
  #sub .titLv{font-size: 20px;margin-bottom: 6px;}
  #sub .pgraph{font-size: 13.5px !important;}
  #sub .titLv2{font-size: 18px;margin-bottom:2px;margin-top:15px;}
  #sub .titLv3{margin-bottom:2px;}
  #sub .listLv{font-size: 13.5px !important;}
  #sub .listLv2{margin-top:8px;}
  #sub .listLv2 li{font-size: 13.5px !important;}
  #sub .listLv3, #sub .listLv4{margin-top:6px;}
  #sub .listLv3 li, #sub .listLv4 li{font-size:13px;margin-top:1px;}
  #sub .listLv > li:before{top: 12px;}
  #sub .listLv2 > li:before{top: 8px;}
  #sub .listLv3 > li:before{top:10px;}
  #sub .listLv4 > li:before{top:10px;}
  #sub .imptBox{font-size: 13.5px;padding:15px 20px;margin:25px 0;}
  #sub .skinTb{font-size: 13.5px;}
   a.skinBtnBo{padding:0 15px;font-size: 13px;height:36px;line-height:34px;}
   a.skinBtnBo.icon{width:36px;}
   a.skinBtnBo i{transform:scale(.9);}
  #sub .skinTb-data-bgSbj >.skinTb-tr >.skinTb-sbj,
	#sub .skinTb-data-bgSbj >tr >.skinTb-sbj,
	#sub .skinTb-data-bgSbj >tbody >tr >.skinTb-sbj {background-color: #fff;}
  #sub .skinTb-data-resList >tbody >tr{border-bottom:1px solid #999}
  #sub .skinTb-data-resList >tbody >tr:last-child{border-bottom:0}
  #sub .skinTb-data-resList >tbody >tr:nth-child(odd){background:#fff;}
  #sub .skinTb-data-resList >tbody td,
  #sub .skinTb-data-resList >tbody th,
  #sub .skinTb .skinTb-td,
  #sub .skinTb .skinTb-th{border:0;}
  #sub .titLv2 + .skinTb{margin-top:15px;}
}



/*이미지 줌 모달*/
.img-modal-bx{display:flex;align-items:center;justify-content:space-between;margin-top:35px;}
.img-modal-bx .img-zoom-modal{margin-top:0;}
.img-modal-bx .img-zoom-modal + .img-zoom-modal{margin-left:15px;}
.img-zoom-modal{position:relative;background:#fafafa;display:block;margin:35px 0;flex:1;}
.img-zoom-modal:after{content:"확대축소";transition:all .2s;width:40px;height:40px;background:rgba(0,0,0,.7) url(/page/common/images/zoom_w.png) no-repeat center center /25px 25px;border-radius:50%;position:absolute;bottom:10px;right:10px;display:block;font-size:0;}
.img-zoom-modal:before{content:"확대축소";transition:all .2s;width:70px;height:70px;opacity:0;;background:rgba(0,0,0,.7) url(/page/common/images/zoom_w.png) no-repeat center center /50px 50px;border-radius:50%;position:absolute;left:50%;top:50%;display:block;font-size:0;margin:-50px 0 0 -50px;}
.img-zoom-modal:hover:after{opacity:0;}
.img-zoom-modal:hover:before{opacity:.6;}
.img-zoom-modal img{display:block;margin:0 auto;max-width:100%;}
#img-modal{width:auto;padding:60px 0px 60px;background:#191919;position:fixed;z-index:5000;top:0;right:0;left:0;bottom:0;animation:img-modal .35s 1 both ease;}
#img-modal .thumb{width:auto;margin:0 auto;display:flex;align-items:center;justify-content:center;height: calc(100vh - 120px);overflow:hidden;background:#efefef}
#img-modal .thumb img{display:block}
#img-modal .contsBtn{display:block;margin:30px auto 0;max-width:125px;background:#fff;border-radius:0;}
#img-modal .close{display:block;position:absolute;right:15px;top:13px;width:24px;height:24px;filter: invert(1);font-size:30px;line-height: 1;}
#img-modal .close:hover{transform:scale(1.1);}

#img-modal .title-bx{color:#f1f1f1;position:absolute;bottom:0;left:0;width:100%;background:#000;height:60px;padding:0 310px 0 0px;z-index:10;}
#img-modal .title-bx h1{padding-left:20px;height:60px;line-height:58px;font-weight:300;font-size:17px;border-left:5px solid #aaa;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#img-modal .title-bx .btn-bx{position:absolute;right:10px;top:12px;height:36px;}
#img-modal .title-bx .btn-bx a{display:inline-block;vertical-align:top;border:1px solid #aaa;height:36px;line-height:34px;color:#aaa;font-size:14px;font-weight:300;min-width:100px;text-align:center;}
#img-modal .title-bx .btn-bx i{margin-right:3px;}
#img-modal .title-bx .btn-bx a + a{margin-left:3px;}


@media (max-width: 1599px){
  .img-modal-bx{margin-top:25px;}
  .img-zoom-modal{margin:25px 0;}
  .img-modal-bx .img-zoom-modal + .img-zoom-modal{margin-left:10px;}
  #img-modal{padding: 50px 0px 50px;}
  #img-modal .thumb{height: calc(100vh - 100px);}
  #img-modal .title-bx{height:50px;padding: 0 115px 0 0px;}
  #img-modal .title-bx h1{padding-left:15px;height:50px;line-height:48px;font-size:15px;border-left:3px solid #aaa}
  #img-modal .title-bx .btn-bx{top:9px;height:32px;}
  #img-modal .title-bx .btn-bx a{height:32px;line-height:30px;font-size:14px;min-width:32px;font-size:0;}
  #img-modal .title-bx .btn-bx i{margin-right:0px;font-size:16px;vertical-align:middle;}
  #img-modal .title-bx .btn-bx a + a{margin-left:3px;}
  #img-modal .close{right: 10px;top: 11px;font-size: 28px;}
  .img-zoom-modal:before{display:none !important}
  .img-zoom-modal:after{transform:scale(.8);transform-origin:100% 100%;opacity:1 !important;}
}

@media (max-width: 716px){
  .img-zoom-modal{margin:25px 0;}
  .img-modal-bx{overflow-x:auto;padding:0 0 0 15px;margin:0 -15px;-webkit-overflow-scrolling: touch;margin-top:15px}
  .img-modal-bx .img-zoom-modal{margin:15px 10px 15px 0 !important;min-width:300px;}
  .img-zoom-modal{margin:15px 0;}
  #img-modal .title-bx{height:50px;padding:0 90px 0 0px}
  #img-modal .title-bx h1{font-size:14px;}
  #img-modal .title-bx .btn-bx{right: 10px;}
  #img-modal .title-bx .btn-bx i{font-size:15px;}
  #img-modal .title-bx .btn-bx a + a{margin-left:1px;}
  #img-modal .close{right: 6px;}
  .img-zoom-modal:after{transform:scale(.7);right:5px;bottom:5px;}
}

@keyframes img-modal { 
  0% {opacity:0;transform:translateY(50%);}
  100% {opacity:1;transform:translateY(0%);}
}

#depth3-tap{position:relative;display:flex;align-items:center;justify-content:center;padding:0 20px;}
#depth3-tap a{flex:1;max-width:190px;display:flex;align-items:center;justify-content:center;height:50px;border:1px solid #000;font-size:18px;font-weight:500;}
#depth3-tap a + a{margin-left:-1px;}
#depth3-tap a:hover{font-weight:700;}
#depth3-tap a.active{color:#fff;background:#333;font-weight:500;}

@media (max-width: 1599px){
  #depth3-tap{padding:10px 20px 0;}
  #depth3-tap a{height:42px;max-width:165px;font-size:16px;}
}
@media (max-width: 991px){
  #depth3-tap{padding:15px 20px 0;}
  #depth3-tap a{height:40px;max-width:145px;font-size:15px;}
}

@media (max-width: 716px){
  #depth3-tap{padding:15px 15px 0;}
  #depth3-tap a{height:36px;max-width:125px;font-size:13px;}
}


/*콘텐츠*/

/*워케이션 소개*/
.intro-bx{position:relative;padding-top:30px;}

.tit-bx-01{padding-left:200px;position:relative;padding-bottom:65px;z-index:1;}
.tit-bx-01 h4{position:relative;font-size:60px;font-weight:700;line-height:1.2}
.tit-bx-01 span{display:block;padding-top:50px;font-size:20px;line-height:1.7;}
.tit-bx-01 span strong{display:block;}
.tit-bx-01 span em{font-weight:700;}
.tit-bx-01 img{display:block;height:190px;position:absolute;bottom:0;right:-155px;z-index:-1;}

.img-overflow-bx{position:relative;margin-right:-155px;}
.img-overflow-bx img{display:block;width:100%;}
.intro-flex-bx{position:relative;display:flex;justify-content:space-between;align-items:flex-end;padding:0 150px;margin:-210px 0 -75px;}
.intro-flex-bx img{display:block;max-width:50%;}
.intro-flex-bx img:nth-child(2){margin-bottom:80px;}

.intro-bg-bx{position:relative;z-index:2;margin-bottom:-75px;padding-left:200px;}
.intro-bg-bx:before{content:'';display:block;background:#f8f8f8;z-index:-1;width:1920px;top:0;bottom:0;left:50%;margin-left:-960px;position:absolute;}
.intro-bg-bx .flex-bx01{display:flex;justify-content:space-between;}
.intro-bg-bx .flex-bx01 h5{flex-shrink:0;width:336px;font-size:24px;font-weight:700;line-height:1.4;margin-top:-5px;}
.intro-bg-bx .flex-bx01 h5 em{font-weight:300;font-size:18px;}
.intro-bg-bx .img-bx01{flex:1;max-width:1056px;padding:75px 0 100px;display:flex;align-items:flex-start;}
.intro-bg-bx .img-bx01 img{display:block;flex:1;max-width:100%;}
.intro-bg-bx .flex-bx01:not(:first-child) .img-bx01{border-top:1px solid #e3e3e3}
.intro-bg-bx .flex-bx01:last-child .img-bx01{padding-bottom:0;}
.intro-bg-bx .flex-bx01:first-child h5{padding-top:75px;}

.intro-bg-bx.v2{padding-bottom:100px;}
.intro-bg-bx.v2 .flex-bx01{padding:120px 0 0}
.intro-bg-bx.v2 .flex-bx01 h5{width:220px;}
.intro-bg-bx.v2 .flex-bx01:not(:first-child) .img-bx01{border-top:0}
.intro-bg-bx.v2 .flex-bx01 .img-bx01{max-width:initial;padding:0;}
.intro-bg-bx.v2 .flex-bx01:first-child h5{padding-top:0px;}
.intro-bg-bx .flex-bx01 .img-bx01 p{padding-left:50px;}
.intro-bg-bx .flex-bx01 .img-bx01 p span{display:flex;font-size:18px;font-weight:300;word-break:keep-all;}
.intro-bg-bx .flex-bx01 .img-bx01 p span + span{margin-top:20px;}
.intro-bg-bx .flex-bx01 .img-bx01 p span:before{content:'';flex-shrink:0;width:13px;height:3px;background:#454140;margin:12px 10px 0 0;}


@media (max-width: 1599px){
  .intro-bx{padding-top:15px;}

  .tit-bx-01{padding-bottom:45px;padding-left:0;}
  .tit-bx-01 h4{font-size:40px;}
  .tit-bx-01 span{padding-top:25px;font-size:16px;}
  .tit-bx-01 img{height:120px;right:-20px;}

  .img-overflow-bx{margin-right:-150px;}
  .intro-flex-bx{padding:0px;margin:-150px 0 -55px;}
  .intro-flex-bx img{max-width:40%;}
  .intro-flex-bx img:nth-child(2){margin-bottom:40px;max-width:35%;}

  .intro-bg-bx{margin-bottom:-55px;padding-left:0px;}
  .intro-bg-bx .flex-bx01 h5{width:266px;font-size:20px}
  .intro-bg-bx .flex-bx01 h5 em{font-size:15px;}
  .intro-bg-bx .img-bx01{padding:50px 0 50px;}
  .intro-bg-bx .flex-bx01:first-child h5{padding-top:50px;}

  .intro-bg-bx.v2{padding-bottom:50px;}
  .intro-bg-bx.v2 .flex-bx01{padding:70px 0 0}
  .intro-bg-bx.v2 .flex-bx01 h5{width:180px;}
  .intro-bg-bx .flex-bx01 .img-bx01 p{padding-left:35px;}
  .intro-bg-bx .flex-bx01 .img-bx01 p span{font-size:15px;}
  .intro-bg-bx .flex-bx01 .img-bx01 p span + span{margin-top:15px;}
  .intro-bg-bx .flex-bx01 .img-bx01 p span:before{width:10px;height:2px;margin:10px 10px 0 0;}
  .intro-bg-bx.v2 .img-bx01 img{max-width:360px;}


}

@media (max-width: 991px){
  .intro-bx{padding-top:5px;}

  .tit-bx-01{padding-bottom:35px;}
  .tit-bx-01 h4{font-size:36px;}
  .tit-bx-01 span{padding-top:20px;font-size:15px;}
  .tit-bx-01 img{height:90px;}

  .img-overflow-bx{margin-right:-130px;}
  .intro-flex-bx{padding:0px;margin:-120px 0 -55px;}
  .intro-flex-bx img{max-width:45%;}
  .intro-flex-bx img:nth-child(2){margin-bottom:30px;max-width:40%;}

  .intro-bg-bx{margin-bottom:-55px;}
  .intro-bg-bx .flex-bx01{display:block;}
  .intro-bg-bx .flex-bx01 h5{width:100%;font-size:20px}
  .intro-bg-bx .flex-bx01 h5 em{font-size:15px;padding-left:5px;}
  .intro-bg-bx .flex-bx01 h5 br{display:none;}
  .intro-bg-bx .img-bx01{padding:30px 0 70px;width:100%;border-top:0 !important}
  .intro-bg-bx .flex-bx01:first-child h5{padding-top:30px;}

  .intro-bg-bx.v2{padding-bottom:40px;}
  .intro-bg-bx.v2 .flex-bx01{padding:50px 0 0}
  .intro-bg-bx.v2 .flex-bx01 h5{width:100%;}
  .intro-bg-bx .flex-bx01 .img-bx01 p{padding-left:25px;}
  .intro-bg-bx .flex-bx01 .img-bx01 p span{font-size:14px;}
  .intro-bg-bx .flex-bx01 .img-bx01 p span + span{margin-top:13px;}
  .intro-bg-bx .flex-bx01 .img-bx01 p span:before{width:8px;height:2px;margin:9px 7px 0 0;}
  .intro-bg-bx.v2 .flex-bx01 .img-bx01{padding-top:20px;}
  .intro-bg-bx.v2 .img-bx01 img{max-width:360px;}
}

@media (max-width: 716px){
  .tit-bx-01{padding-bottom:25px;}
  .tit-bx-01 h4{font-size:24px;}
  .tit-bx-01 span{padding-top:15px;font-size:14px;}
  .tit-bx-01 img{height:70px;}

  .img-overflow-bx{margin-right:-170px;}
  .intro-flex-bx{padding:0px;margin:25px 0 -30px -75px;}
  .intro-flex-bx img{max-width:33%;}
  .intro-flex-bx img:nth-child(2){margin-bottom:25px;width:62%;max-width:400px;}

  .intro-bg-bx{margin-bottom:-30px;}
  .intro-bg-bx .flex-bx01 h5{font-size:16px}
  .intro-bg-bx .flex-bx01 h5 em{font-size:12px;padding-left:5px;}
  .intro-bg-bx .img-bx01{padding:20px 0 60px;width:auto;margin:0 -10px;}
  .intro-bg-bx .flex-bx01:first-child h5{padding-top:30px;}

  .intro-bg-bx.v2{padding-bottom:30px;}
  .intro-bg-bx.v2 .flex-bx01{padding:40px 0 0}
  .intro-bg-bx .flex-bx01 .img-bx01{display:block;margin:0;}
  .intro-bg-bx .flex-bx01 .img-bx01 p{padding-left:0px;margin-top:18px;}
  .intro-bg-bx .flex-bx01 .img-bx01 p span{font-size:13.5px;}
  .intro-bg-bx .flex-bx01 .img-bx01 p span + span{margin-top:10px;}
  .intro-bg-bx .flex-bx01 .img-bx01 p span:before{width:6px;height:2px;margin:9px 6px 0 0;}
  .intro-bg-bx.v2 .flex-bx01 .img-bx01{padding-top:15px;}
  .intro-bg-bx.v2 .img-bx01 img{max-width:initial;width:100%;}
}

/*프로그램*/
.program-bx{position:relative;}
.program-bx .tit-bx{position:relative;}
.program-bx .tit-bx h4{text-align:center;font-size:36px;line-height:1.5;}
.program-bx .tit-bx h4 em{font-size:20px;display:block;}
.program-bx .tit-bx a{display:flex;align-items:center;justify-content:center;position:absolute;right:0;top:calc(50% - 28px);height:56px;border:1px solid #000;transition:all .1s;font-size:20px;width:355px;}
.program-bx .tit-bx a img{height:11px;margin-left:30px;transition:all .1s;}
.program-bx .tit-bx a:hover{text-decoration:none;color:#fff;background:#000;}
.program-bx .tit-bx a:hover img{filter:invert(1)}

.program-bx article{padding-bottom:60px;}
.program-bx article + article{padding-top:60px;border-top:1px solid #e5e5e5}
.program-bx article .slick-warp{position:relative;margin-top:40px;}
.program-bx article .slick-warp .slick{overflow:hidden;border-radius:40px;-webkit-mask-image:-webkit-radial-gradient(white, black);position:relative;z-index:5;}
.program-bx article .control{display:flex;align-items:flex-end;justify-content:center;position:absolute;bottom:0;left:calc(50% - 140px);z-index:10;background:#fff;height:52px;width:280px;border-radius:10px 10px 0 0;padding-bottom:2px;}
.program-bx article .control img{display:block;width:48px;filter:invert(1);}
.program-bx article .control button:active img{transform:scale(.9);}
.program-bx article .count{color:#000;margin:0 25px;font-size:22px;font-weight:300;line-height:1;}
.program-bx article .count strong{font-weight:500;}
.program-bx article .count span{padding:0 5px;}

.program-bx article .text-bx{padding-top:58px;}
.program-bx article .text-bx p{font-size:20px;word-break:keep-all;text-align:center;max-width:1400px;margin:0 auto;}
.program-bx article .text-bx ul{display:flex;align-items:center;justify-content:center;margin-top:40px;}
.program-bx article .text-bx ul li{display:flex;align-items:center;line-height:1.4;}
.program-bx article .text-bx ul li img{margin-right:15px;height:55px;}
.program-bx article .text-bx ul li span{font-weight:300;font-size:17px;color:#353535}
.program-bx article .text-bx ul li span em{font-size:16px;display:block;}
.program-bx article .text-bx ul li + li{margin-left:30px;}

.space-fun{position:relative;z-index:2;margin-bottom:-75px;padding-bottom:50px;padding-top:15px;}
.space-fun:before{content:'';z-index:-1;;display:block;position:absolute;top:0;width:1920px;left:calc(50% - 960px);bottom:0;background:url(/page/worcation/images/sub/bg-pattern.jpg) repeat center center /5px 5px;}
.space-fun h4{margin-top:47px;font-size:36px;font-weight:700;line-height:1.3;}
.space-fun h4 em{font-weight:300;display:block;font-size:30px;}
.space-fun .space-list{display:flex;margin-top:27px;}
.space-fun .space-list > div{flex:1 50%;;border-bottom:1px solid #cecece}
.space-fun .space-list > div img{width:100%;}
.space-fun .space-list > div + div{margin-left:60px;}
.space-fun .space-list .text-bx{padding:15px 0 25px;}
.space-fun .space-list .text-bx h5{font-size:22px;font-weight:400;}
.space-fun .space-list .text-bx h5 strong{font-weight:700;}
.space-fun .space-list .text-bx p{padding:7px 0 0 15px;}
.space-fun .space-list .text-bx span{display:block;font-weight:300;font-size:17px;padding-top:7px;line-height:1.3;}
.space-fun .fun-bx{margin-top:23px;display:flex;}
.space-fun .fun-bx > a{overflow:hidden;width:calc((100% - 1340px) / 3);transition:all .35s .05s ease-out;}
.space-fun .fun-bx > a.active{width:1340px;pointer-events:none;}
.space-fun .fun-bx > a img{display:block;}

@media (max-width: 1599px){
  .program-bx .tit-bx h4{font-size:28px;}
  .program-bx .tit-bx h4 em{font-size:15px;}
  .program-bx .tit-bx a{top:calc(50% - 24px);height:42px;font-size:16px;width:215px;}
  .program-bx .tit-bx a img{height:5px;margin-left:15px;}

  .program-bx article{padding-bottom:45px;}
  .program-bx article + article{padding-top:45px;}
  .program-bx article .slick-warp{margin-top:30px;}
  .program-bx article .slick-warp .slick{border-radius:25px;}
  .program-bx article .control{transform:scale(.8);transform-origin:50% 100%;}


  .program-bx article .text-bx{padding-top:38px;}
  .program-bx article .text-bx p{font-size:15px;}
  .program-bx article .text-bx ul{margin-top:30px;}
  .program-bx article .text-bx ul li img{margin-right:13px;height:44px;}
  .program-bx article .text-bx ul li span{font-size:15px}
  .program-bx article .text-bx ul li span em{font-size:13px;}
  .program-bx article .text-bx ul li + li{margin-left:25px;}

  .space-fun{margin-bottom:-55px;padding-bottom:40px;padding-top:10px;}
  .space-fun:before{background-size:3px 3px;}
  .space-fun h4{margin-top:32px;font-size:28px;}
  .space-fun h4 em{font-size:18px;}
  .space-fun .space-list{margin-top:18px;}
  .space-fun .space-list > div + div{margin-left:30px;}
  .space-fun .space-list .text-bx{padding:12px 0 21px;}
  .space-fun .space-list .text-bx h5{font-size:18px;}
  .space-fun .space-list .text-bx p{padding:5px 0 0 12px;font-size:15px;}
  .space-fun .space-list .text-bx span{font-size:14px;padding-top:5px;}
  .space-fun .fun-bx{margin:17px -20px 0;}
  .space-fun .fun-bx > a{width:60px;}
  .space-fun .fun-bx > a.active{width:calc(100vw - 180px);}
  .space-fun .fun-bx > a img{max-width:100vw}

}

@media (max-width: 991px){
  .program-bx .tit-bx{padding-bottom:20px;}
  .program-bx .tit-bx h4{font-size:24px;}
  .program-bx .tit-bx h4 em{font-size:14px;}
  .program-bx .tit-bx a{top:auto;bottom:0px;height:40px;font-size:14px;width:165px;}
  .program-bx .tit-bx a img{height:4px;margin-left:10px;}

  .program-bx article{padding-bottom:40px;}
  .program-bx article + article{padding-top:40px;}
  .program-bx article .slick-warp{margin-top:20px;}
  .program-bx article .slick-warp .slick{border-radius:20px;}
  .program-bx article .control{transform:scale(.7);}

  .program-bx article .text-bx{padding-top:33px;}
  .program-bx article .text-bx p{font-size:14px;}
  .program-bx article .text-bx ul{margin-top:25px;}
  .program-bx article .text-bx ul li img{margin-right:10px;height:42px;}
  .program-bx article .text-bx ul li span{font-size:14px}
  .program-bx article .text-bx ul li span em{font-size:12px;}
  .program-bx article .text-bx ul li + li{margin-left:20px;}

  .space-fun{margin-bottom:-55px;padding-bottom:35px;padding-top:5px;}
  .space-fun h4{margin-top:30px;font-size:26px;}
  .space-fun h4 em{font-size:16px;}
  .space-fun .space-list{margin-top:18px;}
  .space-fun .space-list > div + div{margin-left:15px;}
  .space-fun .space-list .text-bx{padding:12px 0 21px;}
  .space-fun .space-list .text-bx h5{font-size:15px;}
  .space-fun .space-list .text-bx p{padding:3px 0 0 10px;font-size:14px;}
  .space-fun .space-list .text-bx span{font-size:13px;padding-top:4px;}
  .space-fun .fun-bx{margin:15px -20px 0;}
  .space-fun .fun-bx > a{width:55px;}
  .space-fun .fun-bx > a.active{width:calc(100vw - 165px);}
  .space-fun .fun-bx > a img{max-width:100vw;min-width:1000px;}
}

@media (max-width: 716px){
  .program-bx .tit-bx{padding-bottom:0px;}
  .program-bx .tit-bx h4{font-size:20px;}
  .program-bx .tit-bx h4 em{font-size:13px;}
  .program-bx .tit-bx a{height:34px;font-size:13px;width:135px;position:relative;right:auto;bottom:auto;margin:15px auto 0;}

  .program-bx article{padding-bottom:30px;}
  .program-bx article + article{padding-top:30px;}
  .program-bx article .slick-warp{margin:20px -55px 0;}
  .program-bx article .slick-warp .slick{border-radius:0px;}
  .program-bx article .control{transform:scale(.6);}

  .program-bx article .text-bx{padding-top:25px;}
  .program-bx article .text-bx p{font-size:13.5px;}
  .program-bx article .text-bx ul{margin-top:17px;flex-wrap:wrap;}
  .program-bx article .text-bx ul li{width:50%;}
  .program-bx article .text-bx ul li img{height:38px;}
  .program-bx article .text-bx ul li span{font-size:13px}
  .program-bx article .text-bx ul li span em{font-size:11px;}
  .program-bx article .text-bx ul li + li{margin:7px 0 0;}

  .space-fun{margin-bottom:-30px;padding-bottom:0px;}
  .space-fun h4{margin-top:27px;font-size:22px;}
  .space-fun h4 em{font-size:14px;}
  .space-fun .space-list{margin-top:18px;display:block;}
  .space-fun .space-list > div + div{margin:15px 0 0;}
  .space-fun .space-list .text-bx{padding:12px 0 21px;}
  .space-fun .space-list .text-bx h5{font-size:15px;}
  .space-fun .space-list .text-bx p{padding:3px 0 0 5px;font-size:13.5px;}
  .space-fun .space-list .text-bx span{font-size:13px;}
  .space-fun .fun-bx{margin:15px -15px 0;flex-direction:column;}
  .space-fun .fun-bx > a{width:100%;height:50px;transition-duration:.25s;}
  .space-fun .fun-bx > a + a{box-shadow:-3px 0 6px 0 rgba(0,0,0,.35);}
  .space-fun .fun-bx > a.active{width:100%;height:234px}
  .space-fun .fun-bx > a img{width:740px;min-width:740px;}
}

