@charset "utf-8"; 

#main{position:relative;}

#event{position:relative;z-index:3;padding-top:130px;z-index:3;}
#event:before{content:'';z-index:-1;display:block;width:1920px;height:1200px;position:absolute;top:-100px;left:50%;margin-left:-960px;background:url(/page/sokchoarthall/images/main/main-bg.png) no-repeat calc(50% - 60px) top /cover;}
#event .slick-wrap{margin-bottom:-100px;position:relative;z-index:3;}
#event .slick{position:relative;}
#event .slick-wrap .slick .slick-slide{display:flex;align-items:flex-end;padding-bottom:20px;}
#event .slick-wrap .slick .slick-slide img{display:block;width:500px !important;margin-right:140px;box-shadow:10px 10px 15px 0px rgba(0,0,0,.3);}
#event .slick-wrap .slick .slick-current img{animation:flip1 .35s 1 both ease-out;}
#event .slick-wrap .slick .slick-slide div{padding:0px 0 0px 65px;position:relative;position:relative;margin-bottom:190px;}
#event .slick-wrap .slick .slick-slide em{display:block;line-height:1.3;color:#16469d;font-weight:900;font-size:22px;}
#event .slick-wrap .slick .slick-slide p{color:#1b1b1b;transition:all .25s;transform-origin:0% 50%;font-weight:900;font-size:38px;line-height:1.4;;height:2.8em;margin-top:22px;word-break:keep-all;display: -webkit-box;-webkit-line-clamp: 2;overflow: hidden;-webkit-box-orient: vertical;} 
#event .slick-wrap .slick .slick-slide span{display:inline-block;margin-top:35px;color:#5a5a5a;font-weight:500;font-size:28px;background:#f6f6fa;line-height:1.4;padding:0 5px;}
#event .slick-wrap .slick .slick-slide div:after{content:'';transition:all .2s;display:block;width:62px;height:62px;background:url(/page/sokchoarthall/images/main/arrow-1.png) no-repeat center center /cover;position:absolute;left:-32px;top:50%;margin-top:-35px;}
#event .slick-wrap .slick .slick-slide:hover div:after{transform:rotate(180deg);}
#event .slick-wrap .slick .slick-slide:hover p{transform:scale(1.2);}
#event .count-wrap{width:500px;display:flex;justify-content:center;}
#event .slick-wrap .count{display:flex;height:42px;background:rgba(255,255,255,.5);align-items:center;border-radius:25px;color:#585858;padding:0 25px;}
#event .slick-wrap .count strong{color:#1b1b1b;}
#event .slick-wrap .count span{width:25px;height:2px;margin:0 10px;background:#585858;font-size:0;}

#event .title01{color:#fff;text-shadow:2px 2px 3px rgba(0,0,0,.6);padding-top:155px;}
#event .title-bx{flex-shrink:0;}
#event .slick-wrap2{display:flex;justify-content:space-between;position:relative;z-index:5;}
#event .slick-wrap2 .slick{width:840px;position:relative;}
#event .slick-wrap2 .slick-list{padding:0 15px 15px 15px;margin-right:-30px;}
#event .slick-wrap2 .slick-slide{position:relative;margin-right:35px;width:250px;}
#event .slick-wrap2 .slick-slide > img{border-radius:10px;box-shadow:5px 5px 7px 0px rgba(0,0,0,.2);transition:all .2s;}
#event .slick-wrap2 .slick-current > img{border:4px solid #000}
#event .slick-wrap2 .slick-slide i{display:block;position:absolute;width:74px;top:15px;right:15px;}
#event .slick-wrap2 .slick-arrow{position:absolute;z-index:10;font-size:0;width:30px;height:49px;background:url(/page/sokchoarthall/images/main/arrow1-prev.png) no-repeat center center /cover;top:50%;margin-top:-25px;left:-50px;}
#event .slick-wrap2 .slick-arrow.slick-next{right:-55px;left:auto;background-image:url(/page/sokchoarthall/images/main/arrow1-next.png);}

.title01{position:relative;font-family:'SokchoBadaDotum';line-height:1.2;padding-top:18px;color:#010101;font-size:50px;z-index:1;display:flex;align-items:center;}
.title01 img{position:absolute;display:block;left:-65px;bottom:-5px;width:140px;z-index:-1;animation:round1 15s infinite linear;}


@media (max-width:1180px) {
    #event{padding-top:100px;}
    #event:before{width:1400px;height:875px;top:-50px;margin-left:0px;background-position: calc(50% - 60px) top;left:-110px;}
    #event .slick-wrap{margin-bottom:-200px;position:relative;z-index:3;}
    #event .slick-wrap .slick .slick-slide img{width:380px !important;margin-right:130px;}
    #event .slick-wrap .slick .slick-slide div{padding:0px 0 0px 45px;margin-bottom:240px;}
    #event .slick-wrap .slick .slick-slide em{font-size:18px;}
    #event .slick-wrap .slick .slick-slide p{font-size:28px;margin-top:17px;} 
    #event .slick-wrap .slick .slick-slide span{margin-top:25px;font-size:22px;}
    #event .slick-wrap .slick .slick-slide div:after{width:52px;height:52px;left:-26px;margin-top:-26px;}
    #event .count-wrap{width:400px;}
    #event .slick-wrap .count{transform:scale(.85);}

    #event .title01{padding-top:0px;position:relative;top:-460px;display:none;}
    #event .slick-wrap2 .slick{width:540px;position:relative;}
    #event .slick-wrap2 .slick-list{margin-right:-20px;}
    #event .slick-wrap2 .slick-slide{margin-right:20px;width:195px;}
    #event .slick-wrap2 .slick-slide > img{box-shadow:3px 3px 3px 0px rgba(0,0,0,.2);}
    #event .slick-wrap2 .slick-current > img{border:3px solid #000;}
    #event .slick-wrap2 .slick-slide i{display:block;position:absolute;width:74px;top:15px;right:15px;}
    #event .slick-wrap2 .slick-arrow{display:none !important;}

    .title01{padding-top:15px;font-size:32px;}
    .title01 img{left:-45px;bottom:-5px;width:100px;}
} 


@media (max-width:991px) {
    #event{padding-top:100px;}
    #event:before{width:1300px;height:813px;top: -115px;left:-185px;}
    #event .slick-wrap{margin-bottom:-200px;}
    #event .slick-wrap .slick .slick-slide img{width:320px !important;margin-right:65px;}
    #event .slick-wrap .slick .slick-slide div{padding:0px 0 0px 40px;margin-bottom:180px;}
    #event .slick-wrap .slick .slick-slide em{font-size:16px;}
    #event .slick-wrap .slick .slick-slide p{font-size:24px;margin-top:15px;} 
    #event .slick-wrap .slick .slick-slide span{margin-top:20px;font-size:18px;}
    #event .slick-wrap .slick .slick-slide div:after{width:42px;height:42px;left:-21px;margin-top:-21px;}
    #event .count-wrap{width:320px;}
    #event .slick-wrap .count{transform:scale(.75);}

    #event .title01{top:-370px;}
    #event .slick-wrap2 .slick{width:390px;position:relative;}
    #event .slick-wrap2 .slick-list{margin-right:-20px;}
    #event .slick-wrap2 .slick-slide{margin-right:15px;width:165px;}
    #event .slick-wrap2 .slick-slide > img{box-shadow:none;}
    #event .slick-wrap2 .slick-current > img{border:3px solid #000;}
    #event .slick-wrap2 .slick-slide i{display:block;position:absolute;width:74px;top:15px;right:15px;}
    #event .slick-wrap2 .slick-arrow{display:none !important;}

    .title01{font-size:28px;}
    .title01 img{left:-35px;bottom:-5px;width:80px;}
} 


@media (max-width:716px) {
    #event{padding-top:90px;}
    #event:before{width:1200px;height:750px;top:0px;left:-315px;}
    #event .slick-wrap{margin-bottom:10px;}
    #event .slick-wrap .slick .slick-slide{flex-direction:column;align-items:center;}
    #event .slick-wrap .slick .slick-slide img{width: 280px !important;margin-right:0px;}
    #event .slick-wrap .slick .slick-slide div{padding: 25px 0 0px 0px;margin-bottom:0px;align-self: center;text-align: center;}
    #event .slick-wrap .slick .slick-slide em{font-size:14px;}
    #event .slick-wrap .slick .slick-slide p{font-size:20px;margin-top:7px;text-align: center;transform-origin:50% 50%;} 
    #event .slick-wrap .slick .slick-slide span{margin-top:12px;font-size:14px;text-align: center;}
    #event .slick-wrap .slick .slick-slide div:after{width:30px;height:30px;left:0px;margin-top: -15px;top: 0px;left: 50%;margin-left: -15px;}
    #event .count-wrap{display:none;}
   
    #event .title01{top: -660px;position:absolute;display:none;}
    #event .slick-wrap2 .slick{width:100%;position:relative;}
    #event .slick-wrap2 .slick-list{margin:0 -15px;padding-bottom:5px !important;}
    #event .slick-wrap2 .slick-slide{margin-right:10px;width:105px;}
    #event .slick-wrap2 .slick-slide > img{box-shadow:2px 2px 3px rgba(0,0,0,.25);}
    #event .slick-wrap2 .slick-current > img{border:3px solid #000;}
    #event .slick-wrap2 .slick-slide i{width:54px;top:5px;right:5px;}

    .title01{font-size:24px;}
    .title01 img{left:-30px;bottom:-5px;width:70px;}
} 




#notice{position:relative;padding:170px 0 100px;z-index:2;}
#notice:before{content:'';z-index:-1;display:block;width:400px;height:1042px;position:absolute;top:-155px;left:50%;margin-left:555px;background:url(/page/sokchoarthall/images/main/bg-img4.jpg) no-repeat center top /cover;}
#notice .title01 div{margin-left:20px;position:relative;display:flex;align-items:center;font-family:'S-CoreDream';}
#notice .title01 div:after{content:'';display:block;border-left:1px dotted #888;height:14px;position:absolute;left:calc(50% - 0.5px);top:calc(50% - 7px)}
#notice .title01 div button{display:flex;align-items:center;justify-content:center;font-size:20px;width:110px;height:38px;background:#ebe8e8;border-radius:20px;}
#notice .title01 div button + button{margin-left:10px;}
#notice .title01 div button.active{background:#efb91a;font-weight:600;color:#000;}
#notice .slick-wrap{margin-top:65px}
#notice .slick{display:none;position:relative;margin:0 -15px;width:100%;animation:flip2 .5s 1 both ease}
#notice .slick-slide{margin:0 15px;padding:20px 20px 15px 30px;border:1px solid #1a1a1a;transition:all .2s;position:relative;}
#notice .slick-slide em{display:inline-block;height:32px;line-height:32px;border-radius:16px;padding:0 15px;background:#505660;color:#fff;font-size:18px;transition:all .15s;}
#notice .slick-slide p{color:#1b1b1b;word-break:keep-all;font-size:22px;line-height:1.4;;height:2.8em;margin-top:20px;word-break:keep-all;display: -webkit-box;-webkit-line-clamp: 2;overflow: hidden;-webkit-box-orient: vertical;}
#notice .slick-slide div{margin-top:50px;display:flex;justify-content:space-between;color:#757575;font-size:18px;align-items:center;}
#notice .slick-slide div span:nth-child(2):last-child{display:flex;height:30px;padding:0 15px 3px;color:#666;font-weight:500;border:1px solid #666;border-radius:15px;align-items:center;}
#notice .slick-slide:hover em{background:#efb01a;font-weight:600;}
#notice .slick-slide:after{content:'';display:block;position:absolute;top:-1px;left:-1px;right:-1px;bottom:-1px;border:0px solid #efb01a;pointer-events: none;}
#notice .slick-slide:hover:after{border-width:4px;}
#notice .slick-arrow{position:absolute;z-index:10;font-size:0;width:49px;height:49px;border-radius:50%;box-shadow:0px 0px 5px 0px rgba(0,0,0,.25);background:url(/page/sokchoarthall/images/main/arrow-prev.png) no-repeat center center /cover;top:50%;margin-top:-25px;left:-10px;}
#notice .slick-arrow.slick-next{right:-10px;left:auto;background-image:url(/page/sokchoarthall/images/main/arrow-next.png);}
#notice .slick-arrow:hover{background-image:url(/page/sokchoarthall/images/main/arrow-prev-on.png);}
#notice .slick-arrow.slick-next:hover{background-image:url(/page/sokchoarthall/images/main/arrow-next-on.png);}

@media (max-width:1180px) {
    #notice{padding:50px 0 60px;}
    #notice:before{width:250px;height:651px;top:-125px;left:auto;right:-30px;;margin-left:0px;}
    #notice .title01 div{margin-left:15px;}
    #notice .title01 div button{font-size:16px;width:90px;height:34px;}
    #notice .title01 div button.active{background:#efb91a;font-weight:600;color:#000;}
    #notice .slick-wrap{margin-top:45px}
    #notice .slick{margin:0px;}
    #notice .slick-list{padding:0 20px 2px;margin:0 -20px;}
    #notice .slick-slide{margin:0 10px;padding:15px 15px 10px 20px;width:340px;}
    #notice .slick-slide em{height:28px;line-height:28px;padding:0 13px;font-size:14px;}
    #notice .slick-slide p{font-size:17px;margin-top:15px;}
    #notice .slick-slide div{margin-top:30px;font-size:15px;}
    #notice .slick-slide div span:nth-child(2):last-child{height:24px;padding:0 15px 3px;}
    #notice .slick-arrow{display:none !important;}
} 

@media (max-width:991px) {
    #notice{padding:40px 0 50px;}
    #notice:before{width:220px;height:573px;top:-125px;right:-20px;}
    #notice .title01 div button{font-size:15px;width:85px;height:32px;}
    #notice .slick-wrap{margin-top:35px}
    #notice .slick{margin:0px;}
    #notice .slick-list{padding:0 20px 2px;margin:0 -20px;}
    #notice .slick-slide{margin:0 10px;padding:15px 15px 10px 20px;width:320px;}
    #notice .slick-slide em{height:26px;line-height:26px;padding:0 12px;font-size:13px;}
    #notice .slick-slide p{font-size:15px;margin-top:13px;line-height:1.5;height:3em}
    #notice .slick-slide div{margin-top:20px;font-size:14px;}
    #notice .slick-slide div span:nth-child(2):last-child{height:24px;padding:0 15px 3px;}
    #notice .slick-arrow{display:none !important;}
} 

@media (max-width:716px) {
    #notice{padding:70px 0 50px;}
    #notice:before{width:180px;height:469px;top:-105px;right:-20px;}
    #notice .title01 div button{font-size:13px;width:75px;height:30px;}
    #notice .slick-wrap{margin-top:25px}
    #notice .slick{margin:0px;}
    #notice .slick-list{padding:0 15px 2px;margin:0 -15px;}
    #notice .slick-slide{margin:0 7.5px;padding:10px 10px 10px 15px;width:300px;}
    #notice .slick-slide em{height:22px;line-height:22px;padding:0 10px;font-size:12px;}
    #notice .slick-slide p{font-size:13.5px;margin-top:10px;}
    #notice .slick-slide div{margin-top:13px;font-size:13px;}
    #notice .slick-slide div span:nth-child(2):last-child{height:22px;padding:0 10px 1px;}
} 


#rental{padding:100px 0 90px;background:#f6f6fa;z-index:10;position:relative;}
#rental .title01{justify-content:space-between;}
#rental .title01 a{display:flex;align-items:center;transition:all .2s;font-family:'S-CoreDream';color:#000;font-size:18px;font-weight:500;background:#fff;box-shadow:2px 2px 5px 0px rgba(0,0,0,.2);height:40px;border-radius:20px;padding:0 15px;}
#rental .title01 a:hover{filter:invert(1);}
#rental .flex-list{margin-top:55px;display:flex}
#rental .flex-list a{flex:1;position:relative;height:260px;}
#rental .flex-list a + a{margin-left:35px;}
#rental .flex-list a img{display:block;border-radius:25px;width:100%;height:100%;object-fit:cover;}
#rental .flex-list a strong{display:flex;z-index:5;;position:absolute;left:0;bottom:-22px;width:170px;height:44px;align-items:center;justify-content:center;color:#fff;font-size:18px;font-weight:600;background:#17469e;border-radius:0 15px 15px 15px;}
#rental .flex-list a ul{display:flex;transition:all .35s;transform:scale(.3);opacity:0;;flex-direction:column;position:absolute;padding-left:50px;left:0;bottom:0;right:0;top:0;padding-bottom:45px;border-radius:25px;background:rgba(0,0,0,.7);box-shadow:5px 5px 10px 0px rgba(0,0,0,.35);justify-content:flex-end;align-items:flex-start;}
#rental .flex-list a li{display:flex;color:#fff;line-height:1.3;margin-top:5px;}
#rental .flex-list a li:before{content:'';flex-shrink:0;width:7px;height:7px;background:url(/page/sokchoarthall/images/main/li.png) no-repeat center center /cover;margin:7px 7px 0 0;}
#rental .flex-list a ul:after{content:'';display:block;position:absolute;top:30px;right:35px;background:url(/page/sokchoarthall/images/main/img-hand.png) no-repeat center center /cover;width:32px;height:42px;}
#rental .flex-list a:hover ul{transform:scale(1);opacity:1;}
#rental .flex-list a:hover ul:after{animation:shake2 .7s .3s 1 both ease-out;}

@media (max-width:1180px) {
    #rental{padding:50px 0 60px;}
    #rental .title01 a{font-size:15px;height:36px;padding:0 13px;}
    #rental .flex-list{margin-top:35px;display:flex}
    #rental .flex-list a{height:220px;}
    #rental .flex-list a + a{margin-left:20px;}
    #rental .flex-list a img{border-radius:20px;}
    #rental .flex-list a strong{bottom:-20px;width:150px;height:40px;font-size:16px;}
    #rental .flex-list a ul{transform:scale(1);opacity:1;padding-left:15px;left:0;bottom:0;right:0;top:0;padding-bottom:30px;border-radius:20px;background:rgba(0,0,0,.3);box-shadow:none;}
    #rental .flex-list a li{font-size:13px;text-shadow:1px 1px 1px rgba(0,0,0,.2);}
    #rental .flex-list a li:before{margin:5px 5px 0 0;}
    #rental .flex-list a ul:after{top:15px;right:15px;transform:scale(.85);transform-origin:100% 0%;}
} 


@media (max-width:991px) {
    #rental{padding:40px 0 50px;}
    #rental .title01 a{font-size:14px;height:34px;padding:0 12px;}
    #rental .flex-list{margin-top:30px;display:flex}
    #rental .flex-list a{height:205px;}
    #rental .flex-list a + a{margin-left:15px;}
    #rental .flex-list a img{border-radius:15px;}
    #rental .flex-list a strong{bottom:-17px;width:135px;height:34px;font-size:14px;}
    #rental .flex-list a ul{padding-left:10px;padding-bottom:30px;border-radius:15px;}
    #rental .flex-list a li{font-size:12px;text-shadow:1px 1px 1px rgba(0,0,0,.2);}
    #rental .flex-list a ul:after{top:15px;right:15px;transform:scale(.8);}
} 

@media (max-width:716px) {
    #rental{padding:30px 0 40px;}
    #rental .title01 a{font-size:13px;height:30px;padding:0 10px;}
    #rental .flex-list{margin-top:25px;display:block;}
    #rental .flex-list a{height:135px;display:block;}
    #rental .flex-list a + a{margin:10px 0 0 ;}
    #rental .flex-list a strong{bottom:0px;width:130px;height:30px;font-size:12px;border-radius:0 15px 0 15px;}
    #rental .flex-list a ul{padding-left:10px;padding-bottom:45px;}
    #rental .flex-list a ul:after{transform:scale(.75);}
    #rental .flex-list a li:before{margin:4px 5px 0 0;}
} 



#organization{position:relative;padding-top:28px;}
#organization .inner{display:flex;align-items:flex-end;justify-content:space-between;}
#organization h2{width:560px;padding-bottom:70px;flex-shrink:0;max-width:40%;}
#organization h2 img{display:block;width:100%;}
#organization .people{width:block;width:600px;max-width:60%;}
#organization a{position:absolute;width:125px;height:125px;background:#fff;border-radius:50%;padding:4px;right:55px;bottom:30px;}
#organization a span{display:flex;align-items:center;transition:all .3s;justify-content:center;color:#fff;background:#17469e;line-height:1.2;font-size:22px;font-weight:400;border-radius:50%;z-index:2;position:absolute;top:4px;left:4px;bottom:4px;right:4px;}
#organization a:before{content:'';display:block;position:absolute;border-radius:50%;top:5px;bottom:5px;left:5px;right:5px;background:#17469e;z-index:1;animation:scale1 1s infinite ease-out;}
#organization a:hover:before{animation:none;}
#organization a:hover span{top:-12px;bottom:-12px;left:-12px;right:-12px;}

@media (max-width:1180px) {
    #organization{padding-top:23px;}
    #organization h2{width:460px;padding-bottom:60px;max-width:40%;}
    #organization .people{width:480px;max-width:60%;}
    #organization a{right:35px;bottom:30px;transform:scale(.9);transform-origin:100% 100%;}
} 


@media (max-width:991px) {
    #organization{padding-top:20px;}
    #organization .inner{padding-right:0;margin-right:-30px;}
    #organization h2{width:370px;padding-bottom:50px;max-width:initial;}
    #organization .people{width:360px;max-width:initial;}
    #organization a{right:55px;bottom:25px;transform:scale(.8);}
} 


@media (max-width:991px) {
    #organization{padding-top:20px;}
    #organization .inner{padding-right:0;margin-right:0px;flex-direction:column;align-items:flex-start;}
    #organization h2{width:330px;padding-bottom:0px;max-width:initial;}
    #organization .people{width:300px;max-width:initial;}
    #organization a{right:25px;bottom:25px;transform:scale(.7);}
} 



@keyframes flip1{ 
    0%{transform:rotateY(90deg);}
    100%{transform:rotateY(0deg);} 
}

@keyframes flip2{ 
    0%{transform:rotateX(90deg);opacity:0;}
    100%{transform:rotateX(0deg);opacity:1;} 
}

@keyframes round1{ 
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);} 
}

@keyframes scale1{ 
    0%{transform:scale(1);opacity:1;}
    100%{transform:scale(1.4);opacity:0;} 
}

@keyframes shake2 {
    0% { transform: translateX(0) }
    25% { transform: translateY(-5px) }
    35% { transform: translateY(-5px) rotate(12deg) }
    55% { transform: translateY(-5px) rotate(-12deg) }
    65% { transform: translateY(-5px) rotate(9deg) }
    75% { transform: translateY(-5px) rotate(-9deg) }
    100% { transform: translateY(0) rotate(0) }
}