@charset "utf-8";

.inner{max-width:1640px;padding:0 20px;}
.fp-section .inner{padding:30px 20px;}
#btn_top{display:none !important;}


#fp-nav.right{right:54px;}
#fp-nav ul li a span{height: 10px;width: 10px;border: 0;background: #fff;margin: -5px 0 0 -5px;}
#fp-nav ul li{margin:20px;}
#fp-nav ul li a.active span,
#fp-nav ul li a.active span:hover{height: 34px;width: 16px;margin: -18px 0 0 -7px;border-radius:0;background:url(/page/untan/images/common/sp_untan.png) -593px -24px no-repeat;background-size:960px 240px;}
#fp-nav.active a span{background:#231815}
#fp-nav.active ul li a.active span,
#fp-nav.active ul li a.active span:hover{background-position-x:-673px;}

@media (max-width:1599px) {
    #fp-nav.right{right:5px;}
    .fp-responsive .fp-auto-height-responsive.fp-section,
    .fp-responsive .fp-auto-height-responsive .fp-slide,
    .fp-responsive .fp-auto-height-responsive .fp-tableCell {
        height: 100vh !important;
    }
    #fp-nav{display:block !important}
}


@media (max-width:1020px) {
    #fp-nav.right{right:5px;}
    .fp-responsive .fp-auto-height-responsive.fp-section,
    .fp-responsive .fp-auto-height-responsive .fp-slide,
    .fp-responsive .fp-auto-height-responsive .fp-tableCell {
        height: auto !important;
    }
    #fp-nav{display:none !important}
}


#main .section{overflow:hidden;position:relative;}
#main .slick-wrap{width:100%;position:relative;z-index:10;}
#section0{background:#111;}
#section0 .slick{position:relative;z-index:10;}
#section0 .slick .slick-slide{position:relative;}
#section0 .slick .slick-slide span{display:block;position:absolute;top:442px;left:50%;margin-left:-800px;font-size:14px;line-height:1.2;font-weight:400;}
#section0 .slick .slick-slide.slick-current span{animation:course .5s .3s 1 both ease-in-out;}

#section0 .tit-bx{position:absolute;top:220px;left:50%;margin-left:-800px;z-index:20;}
#section0 .tit-bx h2 img{display:block;}
#section0 .tit-bx h2{animation:visual-move1 .5s 1 both ease-in-out;}
#section0 .tit-bx p{margin-top:20px;animation:visual-move1 .35s .2s 1 both ease-in-out;}

#section0 .control{position:absolute;z-index:20;top:440px;left:50%;margin-left:-600px;}
#section0 .control a{display:inline-block;vertical-align:top;font-size:0;background:url(/page/untan/images/common/sp_untan.png) -103px -109px no-repeat;background-size:960px 240px;width:14px;height:20px;}
#section0 .control a.prev{transform:rotate(180deg);}
#section0 .count{display:inline-block;vertical-align:top;height:20px;line-height:20px;margin:0 11px;font-size:18px;font-weight:900;}
#section0 .count span{display:inline-block;margin:0 10px;width:40px;height:1px;background:#333;vertical-align:top;margin-top:9px;}

#section0 .bottom-wrap{width:100%;position:absolute;bottom:0;height:420px;background:url(/page/untan/images/main/mountain_01.png) left bottom no-repeat;background-size:cover;z-index:20;}
#section0 .bottom-wrap .inner{height:100%;display:flex;padding-bottom:55px;align-items:flex-end;}
#section0 .bottom-wrap .sun{display:block;position:absolute;top:28px;left:115px;image-rendering:-webkit-optimize-contrast;animation:sun 1.2s alternate infinite ease-in-out;}

#section0 .bottom-wrap .noti{flex-basis:850px;max-width:850px;}
#section0 .bottom-wrap .noti a{display:block;height:80px;line-height:80px;border-bottom:1px solid #333;white-space:nowrap;padding-right:150px;position:relative;}
#section0 .bottom-wrap .noti a strong{display:inline-block;vertical-align:top;padding:0 45px 0 10px;font-size:20px;font-weight:700;color:#111;max-width:165px;}
#section0 .bottom-wrap .noti a strong:before{content:'';display:inline-block;vertical-align:middle;margin:-2px 15px 0 0;background:url(/page/untan/images/common/sp_untan.png) -30px -110px no-repeat;background-size:960px 240px;width:20px;height:20px;}
#section0 .bottom-wrap .noti a span{display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:calc(100% - 165px);}
#section0 .bottom-wrap .noti a em{display:block;color:#999;font-weight:300;position:absolute;top:0;right:65px}
#section0 .bottom-wrap .noti a:after{content:'';background:url(/page/untan/images/common/sp_untan.png) -103px -109px no-repeat;background-size:960px 240px;width:14px;height:20px;display:block;position:absolute;right:10px;top:50%;margin-top:-10px;}
#section0 .bottom-wrap .noti a:hover:after{ animation: hvr-wobble-horizontal 1s 1 ease-in-out;}

#section0 .bottom-wrap .quick{display:flex;padding-left:100px;margin-bottom:-20px;flex:1;justify-content:space-between;}
#section0 .bottom-wrap .quick a span{font-size:16px;}
#section0 .bottom-wrap .quick a span:before{content:'';display:block;width:22px;height:22px;margin:0 auto 2px;background:url(/page/untan/images/common/sp_untan.png) -188px -110px no-repeat;background-size:960px 240px;}
#section0 .bottom-wrap .quick a:nth-child(2) span:before{background-position-x:-269px;}
#section0 .bottom-wrap .quick a:nth-child(3) span:before{background-position-x:-347px;}
#section0 .bottom-wrap .quick a:nth-child(4) span:before{background-position-x:-429px;}
#section0 .bottom-wrap .quick a:nth-child(5) span:before{background-position-x:-509px;}

@keyframes course{ 
    0%{transform:scale(.5);opacity:.5;}
    100%{transform:scale(1);opacity:1;}
}


@-webkit-keyframes hvr-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

@keyframes visual-move1{ 
    0%{transform:translateY(-70%);opacity:0;}
    100%{transform:translateY(0%);opacity:1;}
}

@keyframes sun{ 
    0%{transform:translateY(-12%)}
    100%{transform:translateY(12%)}
}


.button {
	pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 1.5rem 3rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.button--fenrir {
	background: none;
	padding: 0;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	width: 120px;
	height: 120px;
	display:flex;
    align-items:center;
    justify-content:center;
}

.progress {
	position: absolute;
	width: 94px;
	height: 94px;
	top: calc(50% - 47px);
	left: calc(50% - 47px);
	transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.button--fenrir:hover .progress {
	transform: scale3d(1.2, 1.2, 1);
}

.progress__circle,
.progress__path {
	fill: none;
	stroke: #ddd;
	stroke-width: 1px;
}

.progress__path {
	stroke: #333;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    transition: stroke-dashoffset 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.button--fenrir:hover .progress__path {
    stroke-dashoffset: 0;
}


@media (max-width:1599px) {
    #section0 .slick .slick-slide img{width:1600px;position:relative;left:50%;margin-left:-800px}
    #section0 .slick .slick-slide span{top:344px;left:20px;margin-left:0px;}
    #section0 .tit-bx{top:150px;left:20px;margin-left:0px;}
    #section0 .tit-bx p{margin-top:15px;font-size:15px;}
    #section0 .tit-bx h2 img{width:600px}
    #section0 .control{top:340px;left:200px;margin-left:0px;transform:scale(.9);}

    #section0 .bottom-wrap{height:350px;}
    #section0 .bottom-wrap .inner{height:100%;display:flex;padding:200px 20px 0;align-items:center}
    #section0 .bottom-wrap .sun{top:40px;left:205px;width:130px;height:130px;}

    #section0 .bottom-wrap .noti{flex-basis:45%;}
    #section0 .bottom-wrap .noti a{height:70px;line-height:70px;padding-right:100px;}
    #section0 .bottom-wrap .noti a strong{padding:0 25px 0 0px;font-size:16px;max-width:105px;}
    #section0 .bottom-wrap .noti a strong:before{margin:-3px 7px 0 0;transform:scale(.8);}
    #section0 .bottom-wrap .noti a span{max-width:calc(100% - 105px);font-size:14px;}
    #section0 .bottom-wrap .noti a em{right:35px;font-size:13px;}
    #section0 .bottom-wrap .noti a:after{right:0px;transform:scale(.8);}

    #section0 .bottom-wrap .quick{display:flex;padding-left:50px;margin-bottom:-15px;flex:1;justify-content:space-between;flex-basis:55%;}
    #section0 .bottom-wrap .quick a span{font-size:14px;}
    #section0 .bottom-wrap .quick a span:before{transform:scale(.9);margin:0 auto;}

    .button--fenrir {
        width: 90px;
        height: 90px;
        display:flex;
    }

    .progress {
        width: 86px;
        height: 86px;
        top: calc(50% - 43px);
        left: calc(50% - 43px);
    }

    .button--fenrir:hover .progress {
        transform: scale3d(1, 1, 1);
    }
}  


@media (max-width:1020px) {
    #section0 .slick .slick-slide img{width:1600px;margin-left:-800px}
    #section0 .slick .slick-slide span{top:324px;}
    #section0 .tit-bx{top:150px;left:20px;margin-left:0px;}
    #section0 .tit-bx p{margin-top:15px;font-size:14px;}
    #section0 .tit-bx h2 img{width:520px}
    #section0 .control{top:320px;margin-left:0px;transform:scale(.9);}

    #section0 .bottom-wrap{height:450px;}
    #section0 .bottom-wrap .inner{height:100%;display:block;padding:255px 20px 0;}
    #section0 .bottom-wrap .sun{top:80px;left:275px;width:130px;height:130px;}

    #section0 .bottom-wrap .noti{margin-bottom:20px;max-width:500px;}
    #section0 .bottom-wrap .quick{padding:0px 50px;margin-bottom:0px;}
    #section0 .bottom-wrap .quick a span{font-size:13px;}
}  


@media (max-width:760px) {
    #section0{padding-bottom:60px;}
    #section0 .slick .slick-slide img{width:1000px;margin-left:-500px}
    #section0 .slick .slick-slide span{top:264px;}
    #section0 .tit-bx{top:130px;left:15px;margin-left:0px;}
    #section0 .tit-bx p{margin-top:15px;font-size:13px;}
    #section0 .tit-bx h2 img{width:360px}
    #section0 .control{top:260px;margin-left:0px;transform:scale(.8);}

    #section0 .bottom-wrap{width:100%;position:absolute;bottom:0px;height:400px;}
    #section0 .bottom-wrap .inner{height:100%;display:block;padding:220px 15px 0 !important;}
    #section0 .bottom-wrap .sun{top:105px;left:255px;width:100px;height:100px;}

    #section0 .bottom-wrap .noti{margin-bottom:17px;max-width:500px;}
    #section0 .bottom-wrap .noti a{height:60px;line-height:60px;padding-right:70px;}
    #section0 .bottom-wrap .noti a strong{padding:0 8px 0 0px;font-size:15px;max-width:95px;}
    #section0 .bottom-wrap .noti a strong:before{margin:-3px 4px 0 0;transform:scale(.7);}
    #section0 .bottom-wrap .noti a span{max-width:calc(100% - 95px);font-size:13px;}
    #section0 .bottom-wrap .noti a em{right:25px;font-size:12px;}
    #section0 .bottom-wrap .noti a:after{right:0px;transform:scale(.7);}
    #section0 .bottom-wrap .quick{padding:0px 0px 10px 15px;margin:0px -15px 0 -15px;overflow-x:auto;scroll-behavior: smooth;-webkit-overflow-scrolling:touch;}
    #section0 .bottom-wrap .quick a span{font-size:13px;}
    #section0 .bottom-wrap .quick a{margin-right:5px;flex-shrink:0;}
}


#section1{background:url(/page/untan/images/main/bg_02.png) 0 0 repeat;padding-top:85px;}
#section1 .inner{width:100%;}
#section1 .inner:before{content:'';display:block;width:460px;height:460px;background:url(/page/untan/images/main/circle.png) center center no-repeat;background-size:cover;position:absolute;right:-120px;bottom:-50px;animation:cycle 30s infinite linear;}
#section1 .slick{position:relative;}
#section1 .slick .slick-slide{width:1088px;position:relative;}
#section1 .slick:after{content:'';display:block;width:34px;left:1056px;top:0;bottom:0;background:url(/page/untan/images/main/bg_02.png) 0 0 repeat;position:absolute;}

#section1 .slick .slick-slide .text{position:absolute;z-index:2;color:#fff;top:187px;left:95px;display:none;}
#section1 .slick .slick-slide .text em{display:block;line-height:1.2;opacity:.5;font-size:20px;font-weight:700;animation:text1 .3s .3s 1 both ease-in-out;}
#section1 .slick .slick-slide .text h3{line-height:1.3;margin-top:20px;font-family:'YES24';font-size:50px;animation:text2 .5s .5s 1 both ease-in-out;white-space:nowrap;}
#section1 .slick .slick-slide .text p{display:block;line-height:1.3;margin-top:19px;font-size:18px;animation:text3 .5s .7s 1 both ease-in-out;}
#section1 .slick .slick-slide .text ul{display:inline-block;position:relative;white-space:nowrap;padding:25px 15px 0;margin-top:27px;animation:text4 .5s .9s 1 both ease-in-out;border-top:1px solid #fff;}
#section1 .slick .slick-slide .text ul li{display:inline-block;text-align:center;}
#section1 .slick .slick-slide .text ul li + li{margin-left:30px;}
#section1 .slick .slick-slide .text ul li strong{display:block;font-size:18px;margin-top:7px;}
#section1 .slick .slick-slide .text ul li span{opacity:.6;display:block;}
#section1 .slick .slick-slide.slick-current .text{display:block;}


#section1 .dots{margin-top:55px;}
#section1 .dots li{display:inline-block;}
#section1 .dots li + li{margin-left:25px;}
#section1 .dots li a{color:#999;font-size:20px;font-weight:700;}
#section1 .dots li.slick-active a{color:#f68d2e;}

#section1 .control{position:absolute;z-index:10;top:630px;left:876px}
#section1 .control a{display:flex !important;width:100px;height:100px;position:relative;background:#f68d2e;float:left;font-size:0;align-items:center;justify-content:center;}
#section1 .control a:after{content:'';background:url(/page/untan/images/common/sp_untan.png) -590px -103px no-repeat;background-size:960px 240px;display:block;width:20px;height:36px;display:block;image-rendering:-webkit-optimize-contrast;}
#section1 .control a.prev:after{transform:rotate(180deg);}


@media (max-width:1599px) { 
    #section1{padding-top:65px;}
    #section1 .inner{padding-right:0;}
    #section1 .inner:before{width:360px;height:360px;right:-30px;bottom:-20px;}
    #section1 .slick .slick-slide{width:860px;position:relative;}
    #section1 .slick:after{width:30px;left:830px;}
    #section1 .slick .slick-slide .text{top:117px;left:65px;transform:scale(.85);transform-origin:0% 0%;}

    #section1 .dots{margin-top:45px;transform:scale(.9);transform-origin:0% 0%;}
    #section1 .control{top:498px;left:680px;transform:scale(.7);}
}


@media (max-width:1020px) {
    #section1{padding-top:40px;}
    #section1 .inner:before{width:320px;height:320px;right:-20px;bottom:-10px;}
    #section1 .slick .slick-slide{width:630px;position:relative;}
    #section1 .slick:after{width:20px;left:610px;}
    #section1 .slick .slick-slide .text{top:55px;left:45px;transform:scale(.72)}

    #section1 .dots{margin-top:25px;transform:scale(.75);}
    #section1 .control{top:360px;left:480px;transform:scale(.5);}
}  


@media (max-width:760px) {
    #section1{padding:40px 0 20px;}
    #section1 .inner{padding-right:0 !important}
    #section1 .inner:before{width:260px;height:260px;right:-20px;bottom:-10px;}
    #section1 .slick .slick-slide{width:370px;position:relative;}
    #section1 .slick:after{width:10px;left:360px;}
    #section1 .slick .slick-slide .text{top:20px;left:20px;transform:scale(.53)}

    #section1 .dots{margin-top:20px;transform:scale(.7);}
    #section1 .control{top:168px;left:235px;transform:scale(.4);width:200px;}
}  



@keyframes text1{ 
    0%{opacity:0;}
    100%{opacity:1;}
}

@keyframes text2{ 
    0%{opacity:0;transform:translateY(-70%);}
    100%{opacity:1;transform:translateY(0%);}
}

@keyframes text3{ 
    0%{opacity:0;transform:translateY(50%);}
    100%{opacity:1;transform:translateY(0%);}
}

@keyframes text4{ 
    0%{opacity:0;transform:translateX(50%);}
    100%{opacity:1;transform:translateY(0%);}
}

@keyframes cycle{ 
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}


#section2{background:url(/page/untan/images/main/bg_03.png) center center no-repeat;background-size:cover;padding-top:75px;}
#section2 .inner > div,
#section2 .inner > a{display:block;position:relative;height:380px;margin-right:30px;float:left;}
#section2 .inner > a{overflow:hidden;}
#section2 .inner > div,
#section2 .inner > a:nth-of-type(5){width:calc(35% - 30px)}
#section2 .inner > a:nth-of-type(2),
#section2 .inner > a:nth-of-type(4){width:calc(42% - 30px)}
#section2 .inner > a:nth-of-type(1),
#section2 .inner > a:nth-of-type(3){width:23%;}

#section2 .inner > a:nth-of-type(2),
#section2 .inner > a:nth-of-type(5){margin-right:0;}
#section2 .inner > a:nth-of-type(n+3){margin-top:30px;}

#section2 .inner > a img{display:block;position:absolute;top:-100%;left:-100%;right:-100%;bottom:-100%;margin:auto;min-width:100%;min-height:100%;max-width:130%;max-height:130%;}
#section2 .inner > a{display:flex;align-items:flex-end;padding:0 20px 40px 40px;position:relative;z-index:2;}
#section2 .inner > a div{color:#fff;position:relative;z-index:2;text-shadow:1px 1px 2px rgba(0,0,0,.3);width:100%;}
#section2 .inner > a div h3{font-size:36px;font-weight:700;line-height:1.2;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-bottom:20px;}
#section2 .inner > a div h3:after{content:'';background:url(/page/untan/images/common/sp_untan.png) -125px -110px no-repeat;opacity:0;;background-size:960px 240px;width:12px;height:20px;display:inline-block;vertical-align:top;margin:12px 0 0 15px;}
#section2 .inner > a:hover div h3:after{animation:hvr-wobble-horizontal 1s 1 ease-in-out;opacity:1;}
#section2 .inner > a div p{line-height:1.4;word-break:keep-all;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;height:0;transition:all .25s;}
#section2 .inner > a:before{content:'';display:block;position:absolute;top:0;bottom:0;left:0;right:0;background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 50%, rgba(0,0,0,1) 100%);z-index:1;}
#section2 .inner > a:hover div p{height:2.8em;}

#section2 .inner > div{background:rgba(255,255,255,.8);padding:75px 0 0 100px;position:relative;}
#section2 .inner > div em{display:block;line-height:1.2;color:#999;font-size:20px;font-weight:700;margin-bottom:20px;}
#section2 .inner > div h2{font-family:'YES24';line-height:1.2;color:#111;font-size:50px;margin-bottom:30px;}
#section2 .inner > div p{line-height:1.4;}
#section2 .inner > div:before{content:'';display:block;background:url(/page/untan/images/main/sticker.png) 0 0 no-repeat;width:160px;height:50px;position:absolute;top:-25px;left:105px;}
#section2 .inner > div:after{content:'';display:block;background:url(/page/untan/images/main/mountain_03.png) 0 0 no-repeat;width:274px;height:89px;position:absolute;bottom:-3px;right:0px;}


@media (max-width:1599px) { 
    
    #section2{padding-top:70px;}
    #section2 .inner > div,
    #section2 .inner > a{height:300px;margin-right:10px;}
    #section2 .inner > a{overflow:hidden;}
    #section2 .inner > div,
    #section2 .inner > a:nth-of-type(5){width:calc(35% - 10px)}
    #section2 .inner > a:nth-of-type(2),
    #section2 .inner > a:nth-of-type(4){width:calc(42% - 10px)}
    #section2 .inner > a:nth-of-type(1),
    #section2 .inner > a:nth-of-type(3){width:23%;}

    #section2 .inner > a:nth-of-type(2),
    #section2 .inner > a:nth-of-type(5){margin-right:0;}
    #section2 .inner > a:nth-of-type(n+3){margin-top:10px;}

    #section2 .inner > a{padding:0 10px 20px 20px;}
    #section2 .inner > a div h3{font-size:22px;margin-bottom:13px;}
    #section2 .inner > a div h3:after{opacity:1;margin:5px 0 0 10px;transform:scale(.9);transform-origin:0% 50%;}
    #section2 .inner > a div p{height:2.8em;font-size:13px;opacity:.7;}
   
    #section2 .inner > div{padding:45px 0 0 30px;position:relative;}
    #section2 .inner > div em{font-size:16px;margin-bottom:15px;}
    #section2 .inner > div h2{font-size:36px;margin-bottom:25px;}
    #section2 .inner > div p{font-size:14px;}
    #section2 .inner > div:before{left:30px;transform:scale(.8);transform-origin:0% 50%;}
    #section2 .inner > div:after{transform:scale(.7);transform-origin:100% 100%;}
}


@media (max-width:1020px) {
    #section2{padding-top:50px;}
    #section2 .inner{padding-left:20px;padding-right:20px;padding-bottom:45px;}
    #section2 .inner > div,
    #section2 .inner > a{height:270px;margin-right:5px;}
    #section2 .inner > div,
    #section2 .inner > a:nth-of-type(5){width:calc(35% - 5px)}
    #section2 .inner > a:nth-of-type(2),
    #section2 .inner > a:nth-of-type(4){width:calc(42% - 5px)}
    #section2 .inner > a:nth-of-type(1),
    #section2 .inner > a:nth-of-type(3){width:23%;}

    #section2 .inner > a:nth-of-type(2),
    #section2 .inner > a:nth-of-type(5){margin-right:0;}
    #section2 .inner > a:nth-of-type(n+3){margin-top:5px;}

    #section2 .inner > a{padding:0 10px 15px 15px;}
    #section2 .inner > a div h3{font-size:18px;margin-bottom:11px;}
    #section2 .inner > a div h3:after{opacity:1;margin:2px 0 0 8px;transform:scale(.7);}
    #section2 .inner > a div p{font-size:12px;opacity:.6;}
   
    #section2 .inner > div{padding:35px 0 0 20px;}
    #section2 .inner > div em{font-size:14px;margin-bottom:10px;}
    #section2 .inner > div h2{font-size:30px;margin-bottom:20px;}
    #section2 .inner > div p{font-size:13px;}
    #section2 .inner > div:before{left:20px;transform:scale(.7);}
    #section2 .inner > div:after{transform:scale(.6);}
}


@media (max-width:760px) {
    #section2{padding-top:45px;}
    #section2 .inner{padding-left:5px !important;padding-right:5px !important;padding-bottom:30px !important;}
    #section2 .inner > div,
    #section2 .inner > a{height:150px;margin-right:5px;}
    #section2 .inner > div,
    #section2 .inner > a:nth-of-type(2),
    #section2 .inner > a:nth-of-type(3),
    #section2 .inner > a:nth-of-type(4){width:calc(60% - 5px)}
    #section2 .inner > a:nth-of-type(1),
    #section2 .inner > a:nth-of-type(2),
    #section2 .inner > a:nth-of-type(5){width:40%}

    #section2 .inner > a:nth-of-type(2),
    #section2 .inner > a:nth-of-type(5){margin-right:5px;}
    #section2 .inner > a:nth-of-type(2n + 1){margin-right:0}
    #section2 .inner > a:nth-of-type(n+2){margin-top:5px;}

    #section2 .inner > a{padding:0 10px 15px 15px;}
    #section2 .inner > a div h3{font-size:16px;margin-bottom:10px;}
    #section2 .inner > a div h3:after{opacity:1;margin:0px 0 0 8px;transform:scale(.6);}
    #section2 .inner > a div p{font-size:11px;opacity:.6;}
   
    #section2 .inner > div{padding:30px 0 0 15px;}
    #section2 .inner > div em{font-size:13px;margin-bottom:7px;}
    #section2 .inner > div h2{font-size:24px;margin-bottom:15px;}
    #section2 .inner > div p{font-size:12px;}
    #section2 .inner > div:before{left:15px;transform:scale(.6);}
    #section2 .inner > div:after{transform:scale(.45);}
} 


#section3{background:url(/page/untan/images/main/bg_02.png) 0 0 repeat;padding-top:80px;z-index:2;}
#section3:before{content:'';background:url(/page/untan/images/main/mountain_02.png) 0 0 no-repeat;background-size:cover;width:1920px;height:200px;z-index:-1;position:absolute;bottom:-5px;left:0;}

#section3 .inner{display:flex}
#section3 .tit-bx{height:693px;position:relative;padding:120px 0 0 100px;width:545px;z-index:2;flex-basis:545px;}
#section3 .tit-bx em{display:block;line-height:1.2;color:#999;font-size:20px;font-weight:700;margin-bottom:20px;}
#section3 .tit-bx h2{font-family:'YES24';line-height:1.3;color:#111;font-size:50px;margin-bottom:30px;}
#section3 .tit-bx p{line-height:1.4;}

#section3 .tit-bx .control{position:absolute;z-index:10;bottom:0;right:0;}
#section3 .tit-bx .control a{display:flex !important;width:100px;height:100px;position:relative;background:#f68d2e;float:left;font-size:0;align-items:center;justify-content:center;}
#section3 .tit-bx .control a:after{content:'';background:url(/page/untan/images/common/sp_untan.png) -590px -103px no-repeat;background-size:960px 240px;display:block;width:20px;height:36px;display:block;image-rendering:-webkit-optimize-contrast;}
#section3 .tit-bx .control a.prev:after{transform:rotate(180deg);}
#section3 .tit-bx:before{content:'';z-index:-1;display:block;background:url(/page/untan/images/main/tan.png) 0 0 no-repeat;width:510px;height:370px;position:absolute;top:-150px;right:-190px;}

#section3 .slick{z-index:3;position:relative;overflow:hidden;margin-right:-220px;flex:1}
#section3 .slick .slick-slide{width:784px;position:relative;padding-top:45px;}
#section3 .slick .slick-slide .text,
#section3 .slick-slide:before,
#section3 .slick .slick-slide img{opacity: 0.35;transition:opacity .3s .3s ease;}
#section3 .slick .slick-slide.slick-current .text,
#section3 .slick-slide.slick-current:before,
#section3 .slick .slick-slide.slick-current img{opacity:1;}

#section3 .slick:after{content:'';display:block;width:34px;left:750px;top:0;bottom:0;background:url(/page/untan/images/main/bg_02.png) 0 0 repeat;position:absolute;}
#section3 .slick .text{position:absolute;bottom:70px;left:0px;padding:0 50px 0 60px;color:#fff;z-index:2;}
#section3 .slick .text span{line-height:1.3;display:block;word-break:keep-all;font-size:18px;margin-bottom:9px;}
#section3 .slick .text p{font-weight:700;font-size:34px;line-height:1.4;word-break:keep-all;letter-spacing:-1px;}
#section3 .slick-slide:before{content:'';display:block;position:absolute;top:0;bottom:0;left:0;right:0;background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 50%, rgba(0,0,0,1) 100%);z-index:1;}

#section3 .slick-slide:after{content:'';display:block;position:absolute;right:75px;top:0px;width:90px;height:90px;background:url(/page/untan/images/main/jeongseon.png) 0 0 no-repeat;transition:all .3s .5s ease-in;opacity:0;}
#section3 .slick-slide.dogae:after{background-image:url(/page/untan/images/main/dogae.png);}
#section3 .slick-slide.samcheok:after{background-image:url(/page/untan/images/main/samcheok.png);}
#section3 .slick-slide.taebaek:after{background-image:url(/page/untan/images/main/taebaek.png);}
#section3 .slick-slide.yeongwol:after{background-image:url(/page/untan/images/main/yeongwol.png);}
#section3 .slick-slide.slick-current:after{opacity:1;}


@media (max-width:1599px) { 
    #section3{padding-top:70px;}
    #section3:before{width:1600px;height:180px;}

    #section3 .tit-bx{height:518px;position:relative;padding:0px 0 0 0px;width:300px;z-index:2;flex-basis:300px;}
    #section3 .tit-bx em{font-size:16px;margin-bottom:15px;}
    #section3 .tit-bx h2{font-size:36px;margin-bottom:25px;}
    #section3 .tit-bx p{font-size:14px;}

    #section3 .tit-bx .control{transform:scale(.7);transform-origin:100% 100%;}
    #section3 .tit-bx:before{top:-110px;right:-90px;transform:scale(.6);transform-origin:100% 0%;}

    #section3 .slick{margin-right:-20px;flex:1}
    #section3 .slick .slick-slide{width:584px;position:relative;padding-top:35px;}

    #section3 .slick:after{width:30px;left:554px;}
    #section3 .slick .text{bottom:40px;padding:0 40px 0 30px;}
    #section3 .slick .text span{font-size:16px;margin-bottom:7px;}
    #section3 .slick .text p{font-size:26px;}
    #section3 .slick-slide:after{right:55px;top:0px;transform:scale(.8);transform-origin:100% 50%;}
   
}


@media (max-width:1020px) {
    #section3{padding-top:30px;}
    #section3:before{width:1100px;height:120px;}

    #section3 .inner{display:block;padding-bottom:45px;}

    #section3 .tit-bx{height:auto;position:relative;padding:0px 0 0 0px;width:auto;z-index:2;flex-basis:300px;}
    #section3 .tit-bx em{font-size:15px;margin-bottom:10px;}
    #section3 .tit-bx h2{font-size:30px;margin-bottom:20px;}
    #section3 .tit-bx h2 br{display:none;}
    #section3 .tit-bx p{font-size:13px;word-break:keep-all;padding-right:150px;}
    #section3 .tit-bx p br{display:none;}

    #section3 .tit-bx .control{transform:scale(.5);transform-origin:100% 100%;right:-20px;}
    #section3 .tit-bx:before{top:-90px;right:-70px;transform:scale(.5);}

    #section3 .slick{margin-right:-20px;}
    #section3 .slick .slick-slide{width:470px;padding-top:35px;}

    #section3 .slick:after{width:20px;left:450px;}
    #section3 .slick .text{bottom:30px;padding:0 30px 0 20px;}
    #section3 .slick .text span{font-size:14px;margin-bottom:5px;}
    #section3 .slick .text p{font-size:22px;}
    #section3 .slick-slide:after{right:55px;transform:scale(.7);}
}

@media (max-width:1020px) {
    #section3{padding:40px 0 40px;}
    #section3:before{width:1000px;height:100px;bottom:0;}

    #section3 .tit-bx em{font-size:13px;margin-bottom:7px;}
    #section3 .tit-bx h2{font-size:24px;margin-bottom:15px;}
    #section3 .tit-bx h2 br{display:none;}
    #section3 .tit-bx p{font-size:12px;word-break:keep-all;padding-right:90px;}
    #section3 .tit-bx p br{display:none;}

    #section3 .tit-bx .control{transform:scale(.4);transform-origin:100% 100%;right:-15px;}
    #section3 .tit-bx:before{top:-50px;right:-30px;transform:scale(.3);}

    #section3 .slick{margin-right:-20px;}
    #section3 .slick .slick-slide{width:470px;padding-top:35px;}

    #section3 .slick:after{width:20px;left:450px;}
    #section3 .slick .text{bottom:30px;padding:0 30px 0 20px;}
    #section3 .slick .text span{font-size:14px;margin-bottom:5px;}
    #section3 .slick .text p{font-size:22px;}
    #section3 .slick-slide:after{right:55px;transform:scale(.7);}
}