@charset "utf-8";

/* 레이아웃 공통 */
html, body{position:relative; width:100%;}
body{color:#333; font-size:16px; line-height:1.6; font-family:'S-CoreDream', 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif; word-break:break-all;letter-spacing:-0.6px;}
main{display:block;}
.confirmIframe body{overflow:hidden;}
#progressScroll{display:none;}
.page-wrap{overflow:hidden;}

/* 본문바로가기 */
.skipnav{position:absolute;z-index:2999;top:-100px;width:100%;padding:0;list-style:none;font-size:14px;}
.skipnav li{position:relative;top:0;left:0;width:100%}
.skipnav li a{display:block;position:absolute;top:0px;width:100%;padding:15px 0;background:#000;color:#fff;text-align:center;text-decoration:none}
.skipnav li a:focus,.skipnav li a:active{top:100px;}

/* slick 플러그인 */
.slick-slider .slick-list{display:block; overflow-x:hidden; overflow-y:hidden; position:relative}
.slick-slider .slick-list.dragging{cursor:pointer}
.slick-slider .slick-list .slick-track{display:block; position:relative; top:0; left:0}
.slick-slider .slick-list .slick-track:before, .slick-slider .slick-list .slick-track:after{display:table; content:''}
.slick-slider .slick-list .slick-track:after{clear:both}
.slick-slider .slick-list.slick-loading .slick-track{visibility:hidden}
.slick-slider .slick-list .slick-track .slick-slide{display:none; float:left}
.slick-slider[dir='rtl'] .slick-list .slick-track .slick-slide{float:right}
.slick-slider .slick-list .slick-track .slick-slide img{display:block;width:100%;}
.slick-slider .slick-list .slick-track .slick-slide.slick-loading img{display:none}
.slick-slider.slick-initialized .slick-list .slick-track .slick-slide{display:block}
.slick-slider .slick-list .slick-track.slick-loading .slick-slide{visibility:hidden}
.slick-slider .slick-arrow.slick-hidden{display:none}

/* 공통 */
.inner{max-width:1640px;position:relative;margin:0 auto;padding:0 20px;}

@media (min-width:1399px) {
  
} 
@media (max-width:1399px) {
  body{position:relative !important;}
  body.fixed{position:fixed !important;}
  #header #gnb_pc{display:none !important;}
  
}
@media (max-width:760px) {
  .inner{padding:0 15px !important}
  html{font-size:9px;}
}

#header{position:fixed;z-index:2000;transition:all .5s;width:100%;top:35px;}
#header.fixed{top:-100px;}
#header h1{position:absolute;width:180px;top:50%;left:20px;margin-top:-28px;z-index:50;transition:all .2s ease-in;}
#header h1 a{display:block;}
#header h1 a img{display:block;width:100%;image-rendering:-webkit-optimize-contrast;transform-origin:0% 50%;transition:all .2s;}

#gnb_pc{margin-left:230px;}
#gnb_pc .depth_01{position:relative;}
#gnb_pc .depth_01 li{display:inline-block;vertical-align:top;position:relative;}
#gnb_pc .depth_01 h2 a{display:block;height:80px;line-height:82px;padding:0 35px;font-size:18px;font-weight:500;}
#gnb_pc .depth_02 h3 a{display:block;color:#fff;white-space:nowrap;font-size:16px;font-weight:400;padding:0 20px;height:54px;line-height:54px;background:#005151;/*animation:move01 .35s .1s 1 both ease-in-out;*/}
#gnb_pc .depth_02 h3:nth-child(2) a{animation-delay:.13s;}
#gnb_pc .depth_02 h3:nth-child(3) a{animation-delay:.16s;}
#gnb_pc .depth_02 h3:nth-child(4) a{animation-delay:.19s;}
#gnb_pc .depth_02 h3:nth-child(5) a{animation-delay:.21s;}
#gnb_pc .depth_02 h3:nth-child(6) a{animation-delay:.24s;}
#gnb_pc .depth_02 h3:nth-child(7) a{animation-delay:.27s;}
#gnb_pc .depth_02 h3:nth-child(8) a{animation-delay:.3s;}
#gnb_pc .depth_02 h3:nth-child(9) a{animation-delay:.33s;}
#gnb_pc .depth_02 h3:nth-child(10) a{animation-delay:.36s;}

#gnb_pc .depth_02{position:absolute;top:80px;left:50%;transform:translateX(-50%);display:none;}
#gnb_pc .depth_01 h2.active .depth02{z-index:2;}

#header .btn_box{position:absolute;right:20px;top:50%;margin-top:-16.5px;}
#header .btn_box a{height:33px;width:33px;display:inline-block;vertical-align:top;transition:all .15s;background:url(/page/untan/images/common/sp_untan.png) 0 -24px no-repeat;background-size:960px 240px;font-size:0;image-rendering:-webkit-optimize-contrast;margin-left:25px;}
#header .btn_box a.insta{background-position-x:-344px;}
#header .btn_box a.facebook{background-position-x:-424px;}
#header .btn_box a.login{background-position-x:-185px;}
#header .btn_box a.login.active{background-position-x:-265px;}
#header .btn_box a.eng{background:none;font-size:18px;width:auto;line-height:33px;}
#header .btn_box a.menu{background-position-x:-102px;width:37px;display:none;}
#header .btn_box a:hover{transform:scale(1.1);}

#gnb_mobile{display:none;position:fixed;background:#fff;right:-335px;height:100vh;top:0;z-index:100;width:335px;padding:30px 0 0 0px;transition:all .35s ease-in-out;}
#gnb_mobile.active{right:0;box-shadow:0px -7px 12px 0px rgba(0,0,0,.3);}
#gnb_mobile .close{display:block;position:absolute;top:27px;right:30px;background:url(/page/untan/images/common/sp_untan.png) -24px -24px no-repeat;background-size:960px 240px;font-size:0;image-rendering:-webkit-optimize-contrast;width:30px;height:33px;}
#gnb_mobile .login{font-size:16px;margin-left:40px;}
#gnb_mobile .login:before{content:'';height:33px;width:33px;display:inline-block;vertical-align:top;background:url(/page/untan/images/common/sp_untan.png) -185px -24px no-repeat;background-size:960px 240px;font-size:0;image-rendering:-webkit-optimize-contrast;margin:-4px 10px 0 0;vertical-align:top;}
#gnb_mobile .login.active:before{background-position-x:-265px;}

#gnb_mobile nav{margin-top:20px;height:calc(100vh - 80px);overflow-y:auto;}
#gnb_mobile .depth_01{padding-bottom:20px;}
#gnb_mobile .depth_02{padding-bottom:10px;display:none;}
#gnb_mobile h2 a{display:block;position:relative;height:68px;line-height:68px;font-size:20px;font-weight:700;padding-left:40px;}
#gnb_mobile h2 a:after{content:'';display:block;position:absolute;top:50%;right:40px;width:14px;height:8px;transition:all .2s;margin-top:-4px;background:url(/page/untan/images/common/sp_untan.png) -513px -36px no-repeat;background-size:960px 240px;}
#gnb_mobile h2.active a:after{transform:rotate(180deg);}
#gnb_mobile h3 a{display:block;height:52px;;line-height:54px;padding-left:65px;font-weight:300;z-index:2;position:relative;}
#gnb_mobile h3.active a:before{content:'';display:block;width:240px;height:54px;background:url(/page/untan/images/common/icon01.png) 0 0 no-repeat;background-size:cover;position:absolute;left:50px;top:50%;margin-top:-27px;z-index:-1;}

@media (max-width:1399px) {
  #header{top:0;height:70px;}
  #header .inner{height:100%;}
  #header .btn_box a.menu{display:inline-block;}
  #header .btn_box a.login{display:none;}
  #header .btn_box a{margin-left:9px;}
  #header h1{width:130px;left:15px;margin-top:-18px;}
  #header .btn_box a.eng{font-size:14px;}
  #header .btn_box a.facebook{margin-left:5px;}
  #header .btn_box a:hover{transform:scale(1);}
  #gnb_mobile{display:block;}
  #header .btn_box{right:15px;}
}


#footer{position:relative;background:#e0e0e0;padding:80px 0 85px;z-index:100;}
#footer h1{position:absolute;top:0;left:20px;width:180px;}
#footer h1 a{display:block;}
#footer h1 img{display:block;width:100%;image-rendering:-webkit-optimize-contrast;}
#footer .inner{display:flex;padding:0 120px 0 370px;}
#footer .inner > div{flex:1;}
#footer .address strong{display:block;line-height:1.2;margin-bottom:23px;}
#footer .address p{color:#666;font-size:14px;font-weight:400;line-height:1.2;}
#footer .address p a{color:#666}
#footer .address p + p{margin-top:13px;}
#footer .address p span{display:inline-block;vertical-align:top;padding-right:10px;margin-right:8px;position:relative;}
#footer .address p span:after{content:'';display:block;height:12px;width:1px;background:#707070;position:absolute;top:50%;margin-top:-6.5px;right:0;}

#footer .link a{display:block;font-size:14px;font-weight:700;line-height:1.2;}
#footer .link a + a{margin-top:12px;}
#footer .link p{color:#666;font-weight:400;margin-top:22px;font-size:14px;}

#footer .family{position:absolute;top:-15px;right:20px;width:270px;}
#footer .family .open{display:block;height:45px;line-height:45px;padding-left:20px;border-bottom:1px solid #111;}
#footer .family .open:after{content:'';display:block;position:absolute;top:50%;right:20px;width:14px;height:8px;transition:all .2s;margin-top:-4px;background:url(/page/untan/images/common/sp_untan.png) -513px -36px no-repeat;background-size:960px 240px;}
#footer .family .open.active:after{transform:rotate(180deg);}

#footer .family .view{position:absolute;bottom:45px;width:100%;left:0;background:#333;padding:10px 0;display:none;}
#footer .family .view a{display:block;color:#fff;font-size:14px;height:32px;line-height:32px;padding:0 10px 0 20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}


@media (max-width:1399px) {
#footer{padding: 70px 0 70px;}
#footer h1{position:absolute;top:auto;left:50%;width:130px;bottom:-55px;margin-left:-65px;}

#footer .inner{display:block;padding:0 0px 0 0px;}
#footer .inner > div{text-align:center;}
#footer .address strong{margin-bottom: 11px;font-size:14px;}
#footer .address p{font-size:12px;}
#footer .address p + p{margin-top: 7px;}
#footer .address p span{padding-right:8px;margin-right:7px;}
#footer .address p span:after{height:10px;width:1px;margin-top:-5px;}

#footer .link{margin-top: 15px;}
#footer .link a{display:block;font-size:13px;}
#footer .link a + a{margin-top: 7px;}
#footer .link p{margin-top:10px;font-size:12px;}

#footer .family{top: -60px;right:auto;width:240px;left:50%;margin-left:-120px;}
#footer .family .open{height:40px;line-height:40px;padding-left:0px;text-align:center;font-size:14px;}
#footer .family .open:after{right:5px;}

#footer .family .view{bottom:40px;padding:5px 0;}
#footer .family .view a{font-size:13px;height:28px;line-height:28px;padding:0 10px 0 10px;}
}


#btn_top{position:absolute;top:790px;left:50%;margin-left:750px;display:block;z-index:1101;transition:opacity .1s;opacity:0;background:#333;width:60px;height:60px;font-size:15px;display:block;color:#fff;border-radius:50%;line-height:60px;text-align:center;}


@media (max-width:1699px) {
  #btn_top{position:fixed;left:auto;margin-left:0;right:20px;bottom:20px !important;top:auto !important;width:50px;height:50px;line-height:50px;}
}

@media (max-width:760px) {
  #btn_top{right:15px;bottom:15px !important;width:40px;height:40px;line-height:42px;}
}

