@charset "utf-8";

/* 레이아웃 공통 */
html, body{position:relative; width:100%;}
body{color:#707070; font-size:16px; line-height:1.6; font-family:"Spoqa Han Sans", "Apple SD Gothic Neo", "Malgun Gothic","맑은 고딕",helvetica,sans-serif; word-break:break-all;letter-spacing:-0.4px;max-width:1920px;margin:0 auto;}
main{display:block;}
.confirmIframe body{overflow:hidden;}
#progressScroll{display:none;}
#wrapper{overflow:hidden;}


/* 본문바로가기 */
.skipnav{position:absolute;z-index:2999;top:-100px;width:100%;padding:0;list-style:none;font-size:14px;}
.skipnav li{position:relative;top:0;left:0;width:100%}
.skipnav li a{display:block;position:absolute;top:0;width:100%;padding:15px 0;background:#000;color:#fff;text-align:center;text-decoration:none}
.skipnav li a:focus,.skipnav li a:active{top:100px}

/* slick 플러그인 */
.slick-slider .slick-list{display:block; overflow-x:hidden; overflow-y:hidden; position:relative}
.slick-slider .slick-list.dragging{cursor:pointer}
.slick-slider .slick-list .slick-track{display:block; position:relative; top:0; left:0}
.slick-slider .slick-list .slick-track:before, .slick-slider .slick-list .slick-track:after{display:table; content:''}
.slick-slider .slick-list .slick-track:after{clear:both}
.slick-slider .slick-list.slick-loading .slick-track{visibility:hidden}
.slick-slider .slick-list .slick-track .slick-slide{display:none; float:left}
.slick-slider[dir='rtl'] .slick-list .slick-track .slick-slide{float:right}
.slick-slider .slick-list .slick-track .slick-slide img{display:block;width:100%;}
.slick-slider .slick-list .slick-track .slick-slide.slick-loading img{display:none}
.slick-slider.slick-initialized .slick-list .slick-track .slick-slide{display:block}
.slick-slider .slick-list .slick-track.slick-loading .slick-slide{visibility:hidden}
.slick-slider .slick-arrow.slick-hidden{display:none}
.slick-dots{display:flex;justify-content:center;align-items:center;}
.slick-dots li{transition:transform .3s;transform:scale(1);margin:0 0px}
.slick-dots li.slick-active{transform:scale(1);margin:0 3px;}
.slick-dots li a{display:block;width:54px;}
.slick-dots img{display:block;width:100%;height:100%;object-fit:cover;}


/* 공통 */
.inner{max-width:1400px;position:relative;margin:0 auto;padding:0 20px;}

@media (max-width:760px) {
 .inner{padding:0 15px;}
}

#header{position:fixed;z-index:2000;top:0;left:0;right:0;display:flex;justify-content:center;max-width:1920px;margin:0 auto;padding:0 20px;border-bottom:1px solid rgba(255,255,255,0.1);}
.depth-01{display:flex;align-items:flex-start;justify-content:center;}
#header h1{position:absolute;top:50%;margin-top:-29px;left:38px;margin-left:0;z-index:20;transition:all .25s;}
#header h1 a,
#header h1 img{display:block;width:270px;image-rendering:-webkit-optimize-contrast;transition:all .25s;height:53px;}
#header h1 .type_white{display:none;}
/* #header nav{position:relative;display:flex;align-items:center;justify-content:center;width:1200px;max-width:calc(100% - 564px);} */
#header nav{position:relative;display:flex;align-items:center;justify-content:center;letter-spacing:-0.4px;}
#header nav > .depth-01{text-align:center;}
#header nav > .depth-01 li{display:inline-block;vertical-align:top;}
#header nav > .depth-01 h2 a{display:block;position:relative;height:89px;line-height:89px;padding:0 39px;color:#fff;font-size:24px;font-weight:bold;text-align: center;white-space:nowrap;z-index:10;}
#header nav > .depth-01 .depth-02{position:absolute;top:90px;left:0;right:auto;width:1200px;height:auto!important;padding-top:1px!important;padding-left:39px;padding-bottom:25px;display:none!important;font-size:0;text-align:left;}
#header nav > .depth-01 .depth-02:before{content:'';display:block;position:absolute;top:-85px;bottom:0;left:-10000px;right:-10000px;min-height:121px;background:#fff;}
#header nav > .depth-01 .depth-02 > li{margin:00;padding:27px 0 23px;display:inline-block;width:239px;vertical-align:top;}
#header nav > .depth-01 .depth-02 > li:nth-child(4n+5){position:relative;}
#header nav > .depth-01 .depth-02 > li:nth-child(4n+5):before{content:'';position:absolute;top:0;width:882px;height:1px;background:#e8e8e8;}
#header nav > .depth-01 .depth-02 > li:nth-child(2){animation-delay:.15s;}
#header nav > .depth-01 .depth-02 > li:nth-child(3){animation-delay:.2s;}
#header nav > .depth-01 .depth-02 > li:nth-child(4){animation-delay:.25s;}
#header nav > .depth-01 .depth-02 > li:nth-child(5){animation-delay:.3s;}
#header nav > .depth-01 .depth-02 > li:nth-child(6){animation-delay:.35s;}
#header nav > .depth-01 .depth-02 > li:nth-child(7){animation-delay:.4s;}
#header nav > .depth-01 .depth-02 > li:nth-child(8){animation-delay:.45s;}
#header nav > .depth-01 .depth-02 > li:nth-child(9){transition-delay:.5s;}
/* #header nav > .depth-01 li:first-child h2 a{margin-left:225px;}
#header nav > .depth-01 li:last-child h2 a{margin-right:225px;} */
#header nav > .depth-01 .depth-02 h3 a{display:flex;height:45px;color:#333;font-size:18px;font-weight:bold;position:relative;word-break:keep-all;}
/* #header .depth-02 h3 a:hover{color:#fff;} */
#header nav > .depth-01 .depth-02 h3 a span{display:inline-block;height:40px;border-radius:5px;background:transparent;line-height:40px;white-space:nowrap;letter-spacing:-0.8px;}
/* #header nav > .depth-01 .depth-02 h3 a:hover span{background:#df3128;}
#header nav > .depth-01 .depth-02 h3.active a{font-weight:bold;}
#header nav > .depth-01 .depth-02 h3.active a span{background:#df3128;} */
#header nav > .depth-01 .depth-03{margin-top:1px;}
#header nav > .depth-01 .depth-03 h4 a{display:block;height:29px;color:#333;font-size:16px;font-weight:normal;position:relative;word-break:keep-all;}
#header nav > .depth-01 .depth-03 h4 a:hover{color:#4c68ea;font-weight:bold;}
#header .cycle{display:none;position:absolute;bottom:-2px;left:50%;margin-left:-10px;width:19px;height:4px;background:#4c68ea;z-index:10;}
#header.active{background:#fff;border-bottom-color:#d6d6d6;}
#header.active:before{content:'';position:absolute;top:0;left:0;right:0;bottom:0;display:block;background:#fff;}
#header.active:after{content:'';position:absolute;left:0;right:0;bottom:-1px;height:1px;display:block;background:#d6d6d6;}
#header.active h1 .type_default{display:none;}
#header.active h1 .type_white{display:block;}
#header.active nav > .depth-01 h2 a{color:#313131}
/* #header.active h1, #header.active .depth-01, #header.active .btn_box{z-index:10;} */
/* #header.active h2.active a{position:relative;color:#313131;} */
#header.active nav > .depth-01 h2 a:hover{color:#5168ec;}
#header.active h2.active+.depth-02{display:block!important;}
#header.active nav{background:#fff;}
#header.active .depth-02{background:#fff;}
#header.active .btn_box a{color:#313131;}
#header.active .btn_login:before{background-position: -254px 0;}
#header.active .btn_search:before{background-position: -333px 0;}
#header.active .sitemap:before{background-position: -408px 0;}
#header.active .cycle{display:block;}
#header .btn_box{position: absolute;top: 0;left:auto;margin-left:0;right: 40px;z-index: 50;font-size:14px;height:90px;line-height:89px;}
#header .btn_box a{color:#fff;}
#header .btn_login{position:relative;display:inline-block;vertical-align:top;}
#header .btn_login:before{content:'';display:inline-block;width:22px;height:23px;margin-right:8px;background: url(/page/gwcia/images/common/sp_gwcia.png) -14px 0 no-repeat;background-size:1000px 2000px;vertical-align:-7px;}
#header .btn_login:hover:before{transform: scale(1.05);transition:all .2s}
#header .btn_login+.btn_search{margin-left:25px;}
#header .btn_search{position:relative;display:inline-block;vertical-align:top;}
#header .btn_search:before{content:'';display:inline-block;;width:23px;height:22px;margin-right:8px;background: url(/page/gwcia/images/common/sp_gwcia.png) -93px 0 no-repeat;background-size:1000px 2000px;vertical-align:-7px;}
#header .btn_search:hover:before{transform: scale(1.05);transition:all .2s}
#header .btn_search+.sitemap{margin-left:25px;}
#header .sitemap{display:inline-block;position:relative;image-rendering:-webkit-optimize-contrast;;width:34px;height:89px;font-size:0;vertical-align:top;}
#header .sitemap:before{content:'';display:inline-block;position:absolute;top:32px;left:0;width:34px;height:26px;;background: url(/page/gwcia/images/common/sp_gwcia.png) -169px 0 no-repeat;background-size:1000px 2000px;vertical-align:top;}
#header .sitemap:hover:before{transform: scaleX(-1);transition:all .2s}
#header .bg_pc{display:none;position:fixed;top:0;left:0;right:0;bottom:0;z-index:-1;background:rgba(0,0,0,0.75);background-size:cover;}
#mask{position:fixed;z-index:1000;top:0;left:0;right:0;bottom:0;display:none;animation:mask1 .15s 1 both ease;backdrop-filter:blur(2px);}
#header.fixed h1 .type_default{display:none;}
#header.fixed h1 .type_white{display:block;}
#header.fixed .btn_box a{color:#313131;}
#header.fixed .btn_login:before{background-position: -254px 0;}
#header.fixed .btn_search:before{background-position: -333px 0;}
#header.fixed .sitemap:before{background-position: -408px 0;}
#header.fixed .depth-01 h2 a{color:#313131;}
#header.fixed  nav > .depth-01 .depth-02{top:85px;}
#header.active .site_map.active{display:block;opacity:1;}
#header.active .bg_pc{display:block;}
#header.type_white{background:#fff;border-bottom-color:#dcdcdc;}
#header.type_white:before{content:'';position:absolute;top:0;left:0;right:0;bottom:0;display:block;background:#fff;}
#header.type_white h1 .type_default{display:none;}
#header.type_white h1 .type_white{display:block;}
#header.type_white .btn_box a{color:#313131;}
#header.type_white .btn_login:before{background-position: -254px 0;}
#header.type_white .btn_search:before{background-position: -333px 0;}
#header.type_white .sitemap:before{background-position: -408px 0;}
#header.type_white .depth-01 h2 a{color:#313131;}
#header.type_white  nav > .depth-01 .depth-02{top:85px;}


.mobile-logo,
.mobile-close{display:none}

#header h2 a:before{content:'';display:none;transition:transform .2s;position:absolute;width:13px;height:8px;right:10px;image-rendering: -webkit-optimize-contrast;top:50%;margin-top:-4px;background:url(/page/governor/images/common/arrow01.png) no-repeat center center /cover;}
#header h2.active a:before{transform:rotate(-180deg);transform-origin:50% 50%;}

#header .site_map{display:none;position:fixed;top:0;left:0;right:0;background:#fff;min-height:938px;z-index:100;overflow:hidden;overflow-y:auto;height: calc(var(--vh, 1vh) * 100);}
#header .site_map .map_inner{width:1223px;margin:0 auto;letter-spacing:-1px;padding-bottom:21px;}
#header .site_map .all_menu{position:relative;display:block;;margin-top:27px;font-size:28px;color:#313131;line-height:40px;font-weight:bold;letter-spacing:-3.0px;}
#header .site_map .all_menu:before{content:'';display:inline-block;vertical-align:-2px;width:34px;height:26px;margin-right:12px;background: url(/page/gwcia/images/common/sp_gwcia.png) -408px 0 no-repeat;background-size:1000px 2000px;}
#header .site_map .close_btn{display:block;position:absolute;top:17px;right:40px;width:59px;height:59px;background: url(/page/gwcia/images/common/sp_gwcia.png) -476px -302px no-repeat;background-size:1000px 2000px;}
#header .site_map .depth-01{display:block;font-size:0;width:100%;margin-top:40px;margin-left:1px;}
#header .site_map .depth-01 > li{display:inline-block;vertical-align:top;width:553px;padding-top:77px;padding-bottom:82px;clear:both;}
#header .site_map .depth-01 > li:nth-child(-n+2){padding-top:69px;}
#header .site_map .depth-01 > li:nth-child(2){width:678px;}
#header .site_map .depth-01 > li:nth-child(2n+1){width:522px;}
#header .site_map .depth-01 > li:nth-child(2n+3){position:relative;}
#header .site_map .depth-01 > li:nth-child(2n+3):before{content:'';position:absolute;width:200vw;height:1px;top:0;left:50%;transform:translateX(-50%);background:#e8e8e8;}
#header .site_map .depth-01 h2{float:left;width:230px;letter-spacing:-3.0px;}
#header .site_map .depth-01 h2 a{position:relative;padding:0;padding-left:33px;font-size:28px;height:auto;line-height:40px;color:#4c68ea;font-weight:bold;text-align:left;letter-spacing:-0.8px;}
#header .site_map .depth-01 h2 a:before{content:'';display:block;position:absolute;top:50%;left:0;right:auto;width:21px;height:4px;transform:translateY(-50%);margin-top:0;background:#4c68ea;}
#header .site_map .depth-02{float:left;margin-top:8px;min-width:131px;}
#header .site_map .depth-02 li{white-space:nowrap;letter-spacing:-0.8px;}
#header .site_map .depth-02 > li+li{margin-top:35px;}
#header .site_map .depth-02 h3 {display:inline-block;vertical-align:top;min-width:108px;letter-spacing:-2.0px;}
#header .site_map .depth-02 h3 a{font-size:18px;color:#333;line-height:25px;font-weight:bold;}
#header .site_map .depth-02 h3 a .logo_fez{margin-top:0;}
#header .site_map .depth-03{display:inline-block;vertical-align:top;margin-top:0;margin-left:0;}
#header .site_map .depth-03 li{display:inline-block;vertical-align:top;letter-spacing:-1.5px;}
#header .site_map .depth-03 li+li{margin-left:25px;}
#header .site_map .depth-03 h4 a{font-size:16px;color:#333;line-height:25px;}
#header .site_map .depth-03 h4.active a{color:#4c68ea;}
#header .site_map .depth-03 > li:hover h4 a{color:#4c68ea;}
/* #header .site_map.active{display:block;} */

/* @keyframes mask1{
  0%{opacity:0;}
  100%{opacity:1;}
}

@keyframes gnb1{
  0%{opacity:0;transform:translateY(-100%);}
  100%{opacity:1;transform:translateY(0%);}
} */

#header.fixed{background: rgba(255,255,255,.88);box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 10%);top: 0;}
#header.fixed nav h2 a{height:84px;line-height:82px;}
/* #header.fixed h1 img{height:40px;filter:grayscale(1);} */
/* #header.fixed .bg_pc{top:84px;}
#header.fixed .depth-02{top:84px;} */
#header.fixed .sitemap{filter: drop-shadow(1px 1px 0px #fff);}

/* @media (min-width:1920px) {
  #header h1{left:50%;margin-left:-933px;}
  #header .btn_box{left:50%;margin-left:640px;}
  #header .sitemap{right:0px;}
} */

@media (max-width:1544px) {
  #header nav > .depth-01 h2 a{font-size:20px;padding:0 20px;transition:all 0.3s;}
  #header nav > .depth-01 .depth-02{padding-left:22px;}
}

@media (max-width:1199px) {

  #header{left:0;right:0;padding:0px;height:65px;}
  #header h1{margin-top:-16px;left:16px;}
  #header h1 a,
  #header h1 img{height:36px;width:auto;}
  #header .sitemap{right:0px;height:65px;line-height:65px;}
  #header .sitemap:before{top:21px;}
  #header .btn_box{color:transparent;font-size:0;height:65px;line-height:65px;right:22px;}
  #header .btn_login{padding:0 10px;}
  #header .btn_login:before{vertical-align:-14px;margin-right:0;}
  #header .btn_login+.btn_search{margin-left:0;}
  #header .btn_search{padding:0 10px;}
  #header .btn_search:before{vertical-align:-14px;margin-right:11px;}
  #header .btn_search+.sitemap{margin-left:0;}
  /* #header .bg_pc{display:none !important;} */
  /* #header nav{position:relative;display:flex;align-items:center;justify-content:center;width:1200px;max-width:calc(100% - 564px);} */
  #header nav{position:fixed;display:block;top:65px;width:100%;max-width:475px;right:-475px;background:#fff;background-size:cover;height:100vh;padding:45px 40px 30px;overflow-y:auto;z-index:150;}
  #header nav > .depth-01{display:none;padding:0;}
  #header nav > .depth-01 > li{border:1px solid #959595;border-width:1px 0;}
  #header nav > .depth-01 > li + li{margin-top:-1px;}
  #header.active nav{right:0;background:transparent;}
  #mask.active{background:rgba(0,0,0,.5);display:block !important}
  /* #header h2 a{height: 65px;line-height: 65px;padding:0 30px 0 0;font-size: 20px;position:relative;text-align:left;overflow:hidden;}
  #header.fixed .depth-01  h2 a{height:65px;line-height:65px;font-size:20px;}
  #header h2 a:before{display:block;} */
  /* #header .depth-02{position:relative;top:0 !important;padding:5px 0 10px 10px!important;border-top:1px solid #959595;width:100%;}
  #header .depth-02:before{display:none;}
  #header .depth-02 > li{display:block;margin-right:0;width:100%;padding:0;}
  #header .depth-02 > li:nth-child(4n+5):before{display:none;}
  #header .depth-02 h3 a{justify-content: flex-start;height: 38px;font-size: 16px;}
  #header .depth-02 h3 a span{padding:0 15px 0 10px;}
  #header .depth-02 h3 a span:before{content:'-';display:inline-block;margin-right:5px;} */
  /* #header nav.active{right:0;} */
  /* #header.fixed h1{margin-top:-11px;}
  #header.fixed h1 img{height:22px;opacity:.5;} */
  /* #header .depth-02 h3.active a{color:#fff;}
  #header .depth-02 h3.active a span{background:#df3128;} */
  /* #header .depth-03 h4 a span{padding:0 15px 0 22px} */
  .mobile-logo,
  .mobile-close{display:block}
  .mobile-logo{display:block;max-width:300px;margin-right:120px;}
  .mobile-logo img{display:block;width:100%;}
  .mobile-close{width:33px;height:33px;font-size:0;background:url(/page/governor/images/common/close.png) no-repeat center center /cover;position:absolute;right:40px;top:48px;image-rendering:-webkit-optimize-contrast;}
  #header .site_map{max-width:414px;width:100%;left:auto;min-height:100vh;}
  #header .site_map .map_inner{width:100%;padding-bottom:0;}
  #header .site_map .all_menu{position:fixed;margin-top:0;padding-left: 16px;height:66px;right:0;width:100%;max-width:414px;background:#fff;font-size:24px;line-height:62px;z-index:10;}
  #header .site_map .all_menu:after{content:'';display:block;position:absolute;left:0;right:0;bottom:0;height:1px;background:#e8e8e8;}
  #header .site_map .all_menu:before{transform:scale(0.735);margin-right:2px;vertical-align:-4px;}
  #header .site_map .close_btn{transform:scale(0.763);right:13px;}
  #header .site_map .depth-01{padding-top:65px;margin-top:0;}
  #header .site_map .depth-01  > li{border-top:1px solid #e8e8e8;padding:33px 0 37px!important;width:100%!important;}
  #header .site_map .depth-01 h2{display:block;float:none;padding:0 19px;width:auto;}
  #header .site_map .depth-02{float:none;margin-top:22px;padding:0 19px;}
  #header .site_map .depth-02 > li+li{margin-top:20px;}
  #header .site_map .depth-01 h2 a{display:block;font-size:24px;line-height:34px;outline:0;}
  #header .site_map .depth-02 h3{display:block;padding-left: 33px;}
  #header .site_map .depth-02 h3.has-depth a{display:block;position:relative;}
  #header .site_map .depth-02 h3.has-depth a:after{content:'';display:block;position:absolute;top:-2px;right:3px;width:34px;height:34px;background: url(/page/gwcia/images/common/sp_gwcia.png) -568px -314px no-repeat;background-size:1000px 2000px}
  #header .site_map .depth-02 h3.has-depth.active a:after{transform:rotate(180deg);transition:all 0.3s;}
  #header .site_map .depth-02 h3.has-depth.active ~ .depth-03{display:block;}
  #header .site_map .depth-03{display:none;margin-left:0;margin-top:7px;margin-bottom:-2px;}
  #header .site_map .depth-03 li{display:block;}
  #header .site_map .depth-03 li+li{margin-left:0;margin-top:5px;}
  #header .site_map .depth-03 h4{padding-left:33px;}
  #header .site_map .depth-03 h4 a{display:block;position:relative;font-size:17px;line-height:24px;padding-left:13px;}
  #header .site_map .depth-03 h4 a:before{content:'';display:block;position:absolute;top:11px;left:0;width:6px;height:1px;background:#313131;}
  #header .site_map .depth-03 h4.active a:before{background:#5c75eb;}
  #header .site_map .depth-01 > li:nth-child(2n+3):before{display:none;}

  #header .site_map .close_btn{position:fixed;top:4px;right:13px;z-index:20;}
}


@media (max-width:760px) {
  #header .btn_box{right:16px;}
  #header .btn_login{transform:scale(0.8);padding: 0 3px 10px 10px;}
  #header .btn_login:before{vertical-align:-12px;}
  #header .btn_search{transform:scale(0.8);}
  #header .btn_search:before{vertical-align:-12px;margin-right:6px;}
  #header .sitemap{transform:scale(0.8);}
  #header .sitemap:before{top:20px;}
}
@media (max-width:475px) {
  #header nav{right:-93vw;background:#fff;padding: 35px 20px 30px;width:93vw}
  #header nav .site_map{width:93vw}
  .mobile-close{right:20px;top:34px;}
}

#footer{position:relative;background:#f8f8f8;padding:0 0 35px;z-index:100;letter-spacing:-0.6px;}
#footer .inner{position:relative;width:1200px;margin:0 auto;height:244px;padding:0;}
#footer .inner:before{content:'';display:block;position:absolute;height:100px;left:-100px;right:-110px;background:#f0f0f0;border-radius:0 0 34px 34px;}
#footer h1{position:relative;float:left;margin-top:22px;text-align:center;z-index:10;}
#footer h1 a{display:inline-block;}
#footer h1 a img{width:100%;height:53px;image-rendering:-webkit-optimize-contrast;}
#footer .link{float:right;position:relative;height:60px;margin-top:39px;text-align:center;z-index:10;}
#footer .link a{color:#444;font-size:17px;line-height:24px;word-break:keep-all}
#footer .link a:before{content:'';display:inline-block;vertical-align:-2px;width:1px;height:17px;background:#444;margin:0 28px 0 26px;}
#footer .link a:first-child:before{display:none;}
#footer address{display:block;padding-top:34px;padding-left:9px;clear:both;font-size:16px;line-height:28px;color:#444;font-style: normal;text-align:center;letter-spacing:-0.7px;}
#footer address strong{display:inline-block;vertical-align:top;font-weight:bold;letter-spacing:-0.6px;}
#footer address strong:after{content:'';displaY:inline-block;vertical-align:-2px;width:2px;height:16px;background:#9c9c9c;margin:0 12px 0 15px;}
#footer address span+span{margin-left:29px;letter-spacing:-0.4px;}
.relevant_banner{position:relative;height:89px;background:#fff;border-top:1px solid #e7e7e7;padding:17px 0 14px;}
.relevant_banner .banner_list{position:relative;width:1052px;margin:0 auto;}
.relevant_banner .list_item{display:inline-block!important;vertical-align:top;font-size:16px;height:58px;line-height:58px;color:#000;font-weight:normal;margin-right:84px;white-space:nowrap;}
.relevant_banner .list_item:hover{transform:scale(1.05);transition:all 0.3s;}
.relevant_banner .logo_box{display:inline-block;vertical-align:top;position:relative;width:58px;height:58px;margin-right:11px;border:1px solid #eee;border-radius:8px;}
.relevant_banner .logo_box img{display:block;position:absolute;top:50%;left:50%;width:auto!important;transform:translate(-50%,-50%)}
.relevant_banner .slick-arrow{display:block;position:absolute;image-rendering: -webkit-optimize-contrast;top:14px;left:-74px;width:17px;height:30px;font-size:0;background: url(/page/gwcia/images/common/sp_gwcia.png) -12px -562px no-repeat;background-size:1000px 2000px;}
.relevant_banner .slick-arrow.next{background-position-x:-98px;left:auto;right:-74px;}
.relevant_banner .slick-arrow:hover{transform:scale(1.05);}
.relevant_banner .slick-arrow:active{transform:scale(.95);}

@media (max-width:1199px) {
  .relevant_banner{padding: 14px 0 7px;}
  .relevant_banner .logo_box{transform:scale(.9);margin-top: -1px;}
  .relevant_banner .banner_list{width:calc(100% - 108px);}
  .relevant_banner .list_item{font-size:15px;height:54px;line-height:54px;margin-right:60px;}
  .relevant_banner .slick-arrow{left:-34px;}
  .relevant_banner .slick-arrow.next{right:-34px;}
  #footer{padding:0 0 41px;}
  #footer .inner{width:100%;padding:21px 0 0;text-align:center;height:auto;}
  #footer .inner:before{top:0;left:0;right:0;border-radius:0;height:176px;}
  #footer h1 {float:none;display:block;margin-top:0;padding-bottom:13px;border-bottom:1px solid #e7e7e7}
  #footer h1 a img{width:auto;height:39px;}
  #footer .link{float:none;height:auto;margin-top:17px;}
  #footer .link a{display:inline-block;vertical-align:top;font-size:15px;line-height:21px;width:calc(50% + 32px);text-align:left;margin-top:7px;}
  #footer .link a:before{height:15px;margin: 0 25px 0 23px;}
  #footer .link a:nth-child(odd){text-align:right;width:calc(50% - 42px);}
  #footer .link a:nth-child(2n+1):before{display:none;}
  #footer address{padding:47px 0 0;font-size:15px;}
  #footer address strong{display:block;}
  #footer address strong:after{display:none;}
  #footer address span{display:block;}
  #footer address span+span{margin-top:-4px;margin-left:0;}
}

@media (max-width:760px) {
  .relevant_banner .list_item{margin-right:30px;}
}
#btn-top{position: absolute;top: 750px;left: 50%;margin-left: 650px;display: block;width: 76px;height: 76px;border-radius: 50%;background: url(/page/gwcia/images/common/sp_gwcia.png) -268px -816px no-repeat;background-size:1000px 2000px;color: transparent; font-size: 0;opacity: 0;}
#btn-top.active{opacity:1;}

@media (max-width:1699px) {
  #btn-top{position:fixed;left:auto;margin-left:0;right:20px;bottom:330px !important;top:auto !important;width:76px;height:76px;}
}

@media (max-width:760px) {
  #btn-top{right:15px;bottom:15px !important;transform:scale(0.5);}
}
