@charset "utf-8";




#content{padding-top:50px;padding-bottom:50px;}
.boGalleryView .slick-dots li + li{margin-left:8px;}
.boGalleryView .slick-dots button{background:#ccc}


/*서브비쥬얼*/
#breadcrumb-bx .box ul, .sns-bx .share .view{display:none;}
#sub-visual{position:relative;overflow:hidden;z-index:2;}
#sub-visual .visual-bg{width:1920px;top:0;bottom:0;object-fit:cover;position:absolute;left:50%;margin-left:-960px;z-index:-1;}
#sub-visual .inner{padding-left:375px;display:flex;justify-content:space-between;align-items:flex-end;height:327px;padding-bottom:60px;}
.title-bx{position:relative;padding-top:30px;}
.title-bx h2{color:#242b45;line-height:1.1;font-size:30px;font-weight:700;}
#breadcrumb-bx{display:flex;align-items:center;margin-top:7px;margin-left:-3px;margin-bottom:-15px;}
#breadcrumb-bx .home{width:22px;height:22px;background: url(/page/gwprovin/images/sub/sub_icon.png) no-repeat -7px -7px /142px 178px;font-size:0;color:transparent;transition:all .1s;}
#breadcrumb-bx .home:hover{transform:scale(1.1);}
#breadcrumb-bx .open{color:#242b45;font-size:14px;padding:0 5px;margin-left: 7px;position:relative;transition:all .1s;}
#breadcrumb-bx .open:after{content:'';display:block;width:5px;height:5px;border:1px solid #242b45;border-width:1px 1px 0 0;position:absolute;top:50%;margin-top:-2.5px;left: -7px;transform:rotate(45deg);}
#breadcrumb-bx .open:hover{font-weight:700;}





@media (max-width: 1399px){

  
}


/*이미지 줌 모달*/

.img-modal-bx{display:flex;align-items:center;justify-content:space-between;}
.img-modal-bx .img-zoom-modal + .img-zoom-modal{margin-left:20px;}
.img-zoom-modal{position:relative;background:#fafafa;display:block;margin:20px 0;flex:1;}
.img-zoom-modal:after{content:"확대축소";transition:all .2s;width:50px;height:50px;background:rgba(0,0,0,.7) url(/page/common/images/zoom_w.png) no-repeat center center /25px 25px;border-radius:50%;position:absolute;bottom:10px;right:10px;display:block;font-size:0;}
.img-zoom-modal:before{content:"확대축소";transition:all .2s;width:100px;height:100px;opacity:0;;background:rgba(0,0,0,.7) url(/page/common/images/zoom_w.png) no-repeat center center /50px 50px;border-radius:50%;position:absolute;left:50%;top:50%;display:block;font-size:0;margin:-50px 0 0 -50px;}
.img-zoom-modal:hover:after{opacity:0;}
.img-zoom-modal:hover:before{opacity:.6;}
.img-zoom-modal img{display:block;margin:0 auto;max-width:100%;}
#img-modal{width:auto;padding:60px 0px 60px;background:#191919;position:fixed;z-index:5000;top:0;right:0;left:0;bottom:0;animation:img-modal .35s 1 both ease;}
#img-modal .thumb{width:auto;margin:0 auto;display:flex;align-items:center;justify-content:center;height: calc(100vh - 120px);overflow:hidden;background:#efefef}
#img-modal .thumb img{display:block}
#img-modal .contsBtn{display:block;margin:30px auto 0;max-width:125px;background:#fff;border-radius:0;}
#img-modal .close{display:block;position:absolute;right:15px;top:13px;width:24px;height:24px;filter: invert(1);font-size:30px;line-height: 1;}
#img-modal .close:hover{transform:scale(1.1);}

#img-modal .title-bx{color:#f1f1f1;position:absolute;bottom:0;left:0;width:100%;background:#111;height:60px;padding:0 310px 0 0px;z-index:10;}
#img-modal .title-bx h1{padding-left:20px;height:60px;line-height:58px;font-weight:300;font-size:17px;border-left:5px solid #fdb11d;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#img-modal .title-bx .btn-bx{position:absolute;right:10px;top:12px;height:36px;}
#img-modal .title-bx .btn-bx a{display:inline-block;vertical-align:top;border:1px solid #aaa;height:36px;line-height:34px;color:#aaa;font-size:14px;font-weight:300;min-width:100px;text-align:center;}
#img-modal .title-bx .btn-bx i{margin-right:3px;}
#img-modal .title-bx .btn-bx a + a{margin-left:3px;}

@media (max-width: 1399px){
  .img-modal-bx .img-zoom-modal + .img-zoom-modal{margin-left:10px;}
  #img-modal{padding: 50px 0px 50px;}
  #img-modal .thumb{height: calc(100vh - 100px);}
  #img-modal .title-bx{height:50px;padding: 0 115px 0 0px;}
  #img-modal .title-bx h1{padding-left:15px;height:50px;line-height:48px;font-size:15px;border-left:3px solid #fdb11d;}
  #img-modal .title-bx .btn-bx{top:9px;height:32px;}
  #img-modal .title-bx .btn-bx a{height:32px;line-height:30px;font-size:14px;min-width:32px;font-size:0;}
  #img-modal .title-bx .btn-bx i{margin-right:0px;font-size:16px;vertical-align:middle;}
  #img-modal .title-bx .btn-bx a + a{margin-left:3px;}
  #img-modal .close{right: 10px;top: 11px;font-size: 28px;}
  .img-zoom-modal:before{display:none !important}
  .img-zoom-modal:after{transform:scale(.85);transform-origin:100% 100%;opacity:1 !important;}
}

@media (max-width: 760px){
  .img-modal-bx{overflow-x:auto;padding:0 0 0 15px;margin:0 -15px;-webkit-overflow-scrolling: touch;}
  .img-modal-bx .img-zoom-modal{margin:15px 10px 15px 0 !important;min-width:300px;}
  .img-zoom-modal{margin:15px 0;}
  #img-modal .title-bx{height:50px;padding:0 90px 0 0px}
  #img-modal .title-bx h1{font-size:14px;}
  #img-modal .title-bx .btn-bx{right: 10px;}
  #img-modal .title-bx .btn-bx i{font-size:15px;}
  #img-modal .title-bx .btn-bx a + a{margin-left:1px;}
  #img-modal .close{right: 6px;}
  .img-zoom-modal:after{transform:scale(.7);right:5px;bottom:5px;}
}


@keyframes img-modal { 
  0% {opacity:0;transform:translateY(50%);}
  100% {opacity:1;transform:translateY(0%);}
}