@charset "utf-8";

/*인사말*/
.greeting{position:relative;padding:110px 0 100px;font-family: 'NanumSquare';}
.greeting:after{content:'';display:block;height:5px;position:absolute;top:0px;left:0px;right:0px;background:url(/page/headquarter/images/sub/bg_greeting.png) 0 0 repeat-x;}
.greeting:before{content:'';display:block;height:560px;width:701px;position:absolute;top:47px;right:-50px;background:url(/page/headquarter/images/sub/greeting01.png) 0 0 no-repeat;background-size:cover;}
.greeting h4{color:#626262;font-weight:700;font-size:30px;word-break:keep-all;}
.greeting h4 span{display:inline-block;position:relative;}
.greeting h4 span:after{content:'';display:block;height:2px;background:#626262;width:100%;position:absolute;bottom:5px;left:0;}
.greeting h4 strong{background: linear-gradient(to bottom, #d76759 20%, #453d3c 100%);-webkit-background-clip:text;-webkit-text-fill-color:transparent;font-weight:800;font-size:44px;}
@media screen and (min-width:0\0){
   .greeting h4 strong{background:transparent;color:#d76759}
} 
.greeting .text{position:relative;margin-top:50px;padding-top:50px;font-size:20px;color:#434343;padding-right:20px;}
.greeting .text:after{content:'';display:block;width:96px;height:4px;background:#ff7261;position:absolute;top:0px;left:0px;}
.greeting .text p{line-height:1.3;word-break:keep-all;}
.greeting .text p + p{margin-top:20px;}

@media (max-width:1300px) {
    .greeting:before{opacity:.5;}
}
@media (max-width:1199px) {
    .greeting{padding:80px 0 40px;}
    .greeting:before{top:40px;right:0px;transform:scale(.8);transform-origin:100% 0%;}
    .greeting h4{font-size:28px;}
    .greeting h4 span:after{bottom:5px;}
    .greeting h4 strong{font-size:40px;}
    .greeting .text{margin-top:42px;padding-top:42px;font-size:18px;padding-right:20px;}
    .greeting .text:after{width:90px;height:4px;}
    .greeting .text p + p{margin-top:18px;}
}

@media (max-width:991px) {
    .greeting{padding:60px 0 30px;}
    .greeting:before{top:30px;transform:scale(.6);}
    .greeting h4{font-size:24px;}
    .greeting h4 span:after{bottom:5px;}
    .greeting h4 strong{font-size:36px;}
    .greeting .text{margin-top:38px;padding-top:38px;font-size:17px;padding-right:20px;}
    .greeting .text:after{width:70px;height:3px;}
    .greeting .text p + p{margin-top:18px;}
}


@media (max-width:760px) {
    .greeting{padding:40px 0 10px;}
    .greeting:before{top:30px;transform:scale(.4);opacity:.2;}
    .greeting h4{font-size:20px;}
    .greeting h4 span:after{bottom:5px;}
    .greeting h4 strong{font-size:30px;}
    .greeting .text{margin-top:28px;padding-top:28px;font-size:16px;padding-right:10px;font-weight:500;}
    .greeting .text:after{width:30px;height:2px;}
    .greeting .text p + p{margin-top:15px;}
    .greeting .text p br{display:none;}
}

@media (max-width:390px) {
    .greeting h4{font-size:19px;}

}
    