@charset "utf-8"; 

:root {
    --vh: 100vh;
  }

button {
    caret-color: transparent; 
}
.swiper-pagination{position:relative !important;top:0 !important;width:auto !important}
.swiper-stop:active,
.swiper-play:active,
.swiper-button-prev:active,
.swiper-button-next:active {transform:scale(.9);}


#header{border-bottom:0;background:transparent !important;}
#main{position:relative;overflow:clip;padding-top:90px;margin-left:0;border-left:none;}
/* #header.fixed:not(.down){background:rgba(255,255,255,.8) !important;transition:all .35s;} */
#header.down.fixed{top:-91px}

#footer{background:#e8e8e8;}
#footer .address-bx a img{height:24px}
#footer .footer-wrap{background:#fff;border:none}
#footer .made-by{padding-top:5px;text-align:center;word-break:keep-all;}
#header h1 img{width:318px}
.moabom-header{height:90px;display:flex;align-items:center;justify-content:space-between;padding:0 45px 0 80px;gap:10px;}
.moabom-header .btn-wrap{display:flex;align-items:center;gap:20px;}
.moabom-header .info-btn-bx{display:flex;align-items:center;gap:10px;}
.moabom-header .info-btn-bx a{display:flex;align-items:center;position:relative;padding:0 20px 0 38px;color:#65666a;font-size:15px;border:1px solid #bfbfbf;height:28px;border-radius:14px;}
.moabom-header .info-btn-bx a img{display:block;position:absolute;left:5px;}
.moabom-header .sns-bx{display:flex;align-items:center;gap:8px;height:28px;padding-left:20px;border-left:1px solid #bfbfbf;}
.moabom-header .sns-bx a img{display:block;}
.moabom-header .sns-bx a:hover img,
.moabom-header .info-btn-bx a:hover img{animation:shake .5s ease-in 1 both;}

#main .inner{z-index:3;position: relative;}

.filter_box .filter_btn_box{margin-top: 16px; display: flex; gap: 0 15px; justify-content: center;}
.filter_box .filter_btn_box a{display: block;font-size: 15px;text-align: center;}
.filter_box .filter_btn_box a.filter_reset{width: 86px; height: 32px; line-height: 30px; color: #777; border: 1px solid #999;}
.filter_box .filter_btn_box a.filter_search{width: 168px; height: 32px; line-height: 30px; color: #fff; background: #000;}
.filter_box{display: none;position: absolute;top:0;left:0;right:0;border: 1px solid #111;background: #fff;z-index: 9;min-width: 620px;}
.filter_box2{display: flex;}
.filter_wrap .box2{display: flex;}
.filter_wrap .box2 ul{width: 100%; display: flex; flex-wrap: wrap; gap: 0 5px;}
.filter_box .box{position: relative;padding: 5px 10px;}
.filter_box .box::after{content: ''; width: 1px; position: absolute; top:0; right:0; bottom: 0; background: #dcdcdc; }
.filter_box .box:last-child::after{display: none;}
.filter_box .box ul li{margin-bottom: 4px;text-align: center;}
.filter_box .box ul li a{display: block;padding: 0 7px;color:#777;letter-spacing: -1px;font-size:14px;border-radius:30px;}
.filter_box .box ul li a.active{color: #fff; background: #000;}
.filter_box{padding: 23px 0;}
.filter_box h3{padding-left: 16px; margin-bottom: 17px; font-size: 20px; font-weight: 500; color: #111;}
.filter_box h4{margin-bottom: 16px; text-align: center;}
.filter_box h4 a{position: relative; display: inline-block; padding-right: 26px;outline-offset: 18px; font-weight: 500; min-width:60px;}
.filter_box h4 a:hover::before{width: 100%;}
.filter_box h4 a::before{content: ''; position: absolute; width: 0; bottom: -4px; height: 1px; background: #313131; transition: all .3s;}
.filter_box h4 a::after{content: ''; padding: 17px 17px 0 0; position: absolute; top: 47%; transform: translateY(-50%); right:0; background: url("../images/moabom/filter_icon.png") no-repeat;}
.filter_close{padding: 37px 37px 0 0;position: absolute;top:17px;right:21px;background: url("../images/moabom/filter_close.png") no-repeat center center /cover;}
.filter_select{position: absolute;left: 120px;margin: 2px 0 0;padding:3px; border: 1px solid #d2d2d2;top: 22px;width: unset;white-space: nowrap;display: flex; border-radius:50px;gap:0 5px;}
.filter_select a{flex: 1;}
.filter_select a span{display: block; font-size: 14px; text-align: center; padding:2px 10px;  border-radius:50px;}
.filter_select a.active span{background: #000000; color: #fff;}
.filter_wrap{display: flex;position: relative;}
.filter_wrap .filter{padding-left: 16px; width: 113px; height: 30px; border-radius: 50px; border: 1px solid #000; text-align: left;}
.filter_wrap .filter span{display: block; position: relative; padding-left: 27px; font-size: 15px; color: #111; line-height: 0;}
.filter_wrap .filter span::before{padding: 15px 19px 0 0; content: '';; position: absolute; top: 54%; transform: translateY(-50%); left:0; background: url("../img/filter.png") no-repeat; background-size: auto 100%;}

.moa-wrap{display:flex;padding:60px 0 0px;}
.calander-bx{width:560px;padding-right:71px;position:relative;z-index:3;padding-bottom:150px;}
.calander-bx:before{content:'';position:absolute;top:-200px;right:0px;width:60vw;bottom:-200px ;z-index:-2;background:#e8e8e8;display:block;pointer-events:none;}
.calander-bx:after{content:'';position:absolute;z-index:-1;bottom:0;right:0;width:690px;height:377px;background:url(/page/cccf/images/moabom/bg-bottom.png) no-repeat center center /cover;pointer-events:none;}

.filter-btn-bx{display:flex;align-items:center;gap:15px;}
.filter-open-btn{display:flex;align-items:center;height:46px;padding:0 20px;border-radius:5px;border:1px solid #000;gap:12px;font-size:20px;font-weight:500;transition:all .2s;}
.filter-open-btn img{display:block;width:25px;}
.filter-open-btn:hover img{animation:shake .5s ease-in 1 both;}
.filter-btn-bx > a{flex:1;display:flex;align-items:center;border-radius:5px;border:1px solid #000;font-size:20px;font-weight:500;justify-content:center;height:46px;background:#fff;}
.filter-btn-bx > a.active{background:#000;color:#fff;box-shadow:3px 3px 2px 0px #bababa;}
.search-form{padding-top:20px;display:grid;grid-template-columns:auto 1fr;gap:10px 30px;}
.search-form .form-item{height:60px;display:flex;gap:12px;position: relative;align-items:center;width:100%;min-width:0;}
.search-form .form-item:first-child{width:165px;border-bottom:1px solid #000;}
.search-form .form-item:first-child:after{content:'⌵';position:absolute;right:15px;font-weight:900;line-height:0;font-size:20px;margin-top:-5px;display:block;}
.search-form .form-item:last-child{max-width:100%;grid-column:1 / -1;border-bottom:1px solid #000;}
.search-form select{background:transparent;width:100%;padding:0 0 0 15px;font-size:20px;font-weight:500;appearance:none;height:100%;}
.search-form .date-bx{flex:1;border-bottom:1px solid #000;display:flex;align-items:center;height:100%;padding-right:15px;min-width:0;}
.search-form .date-bx input{width:100px;background:transparent;height:100%;padding-left:15px;}
.search-form .date-bx .ui-datepicker-trigger img{display:none;}
.search-form .date-bx .ui-datepicker-trigger{width:21px;height:17px;background:url(/page/cccf/images/moabom/ico-schedule.png) no-repeat center center /cover;flex-shrink:0;margin-left:0;}
.search-form #searchWord{flex:1;background:transparent;padding-left:15px;font-size:18px;color:#000;height:100%;}
.search-form #searchWord::placeholder{color:#aaa;font-weight:300;font-size:24px;}
.search-form .search-form-btn{width:80px;height:40px;border-radius:5px;background:#1a1923;color:#fff;font-size:18px;display:flex;align-items:center;justify-content:center;}

.calander-bx h2{display:flex;align-items:center;justify-content:center;gap:10px;margin:20px 0 35px;background:#fff;height:50px;border-radius:5px;font-family:'poppin';font-weight:500;font-size:20px;}
.calander-item{padding:80px 0;font-family:'poppin';overflow: hidden;position: relative;}
.calander-tab{display:flex;align-items:center;justify-content:space-between;height:80px;border:1px solid #672e88;border-width:1px 0;margin-bottom:40px;}
.calander-tab > a{display:flex;align-items:center;width:70px;justify-content:center;height:100%;}
.calander-tab .year-month{margin: 0 15px 0 0;display:flex;align-items:center;height:100%;gap: 0 20px;}
.calander-tab .open-btn{height:100%;display:flex;align-items:center;gap: 25px;color:#b8a623;font-size:57px;font-weight:700;letter-spacing: -1px;white-space: nowrap;}
.calander-tab .open-btn img{display:block;width:30px;transition:all .2s;}
.calander-tab .item{position:relative;height:100%;}
.calander-tab .item > div{
  display:none;
  position:absolute;
  z-index:5;
  width: 140px;
  left: -2px;
  background:#fff;
  border:1px solid #000;
  padding:10px 0;
  max-height: 195px;
  overflow-y:auto;
  /* Firefox */
  scrollbar-width: thin;
}

/* Chrome/Edge/Safari */
.calander-tab .item > div::-webkit-scrollbar{
  width:6px;
}

.calander-tab .item > div::-webkit-scrollbar-thumb{
  background:#999;
  border-radius:10px;
}

.calander-tab .item > div::-webkit-scrollbar-track{
  scrollbar-color:#999 transparent;
}


.calander-tab .item > div a{display:block;text-align:center;display:flex;align-items:center;justify-content:center;height:28px;}
.calander-tab .open-btn.active + div{display:block;}
.calander-tab .open-btn.active img{transform:rotate(180deg);}
.calander-item table{table-layout:fixed;width:100%;}
.calander-item table th{color:#5a1c7e;font-size:20px;height:40px;font-weight:700;position:relative;}
.calander-item table th:after{content:'';display:block;width:1px;background:#5a1c7e;position:absolute;right:0;top:-1000px;bottom:-1000px}
.calander-item table th:last-child:after{display:none;}
.calander-item table th:first-child,
.calander-item table th:last-child{color:#b8a623}
.calander-item table td{border:1px solid #672e88;border-width:1px 0;height:82px;}
.calander-item table td a{height:100%;width:100%;display:flex;align-items:center;flex-direction:column;padding-top:10px;position: relative;transition:transform .1s ease-out;}
.calander-item table td a span{color:#5a1c7e;font-size:30px;font-weight:600;line-height:1;}
.calander-item table td:first-child a span,
.calander-item table td:last-child a span{color:#b8a623}
.calander-item table td a i{display:block;width:12px;height:12px;border-radius:50%;background:#5a1c7e;margin-top:5px;}
.calander-item table td a em{font-size:15px;font-weight:300;padding-right:5px;}
.calander-item table td:first-child a i,
.calander-item table td:last-child a i{background:#b8a623}
.calander-item table td.today a{background:#5a1c7e;}
.calander-item table td:last-child.today a,
.calander-item table td:first-child.today a{background:#b8a623}
.calander-item table td.today a span{color:#fff;}
.calander-item table td.today a i{background:#fff;}
.calander-item table td.today a em{color:#fff;}
.calander-item table td:not(.today) a:has(i):hover{transform:scale(1.1);}
.text-deco{margin:60px auto 0;display:block;}

.event-bx{padding:0 0 90px 50px;position: relative;}
.event-list{display:grid;grid-template-columns:1fr 1fr 1fr;gap:50px 30px;padding-bottom:30px;}
.event-list .thumb{position:relative;overflow:hidden;display:flex;justify-content:center;overflow:hidden;border-radius:5px;}
.event-list .thumb > img{display:block;width:100%;border:1px solid #c2c2c2;border-radius:5px;}
.event-list .thumb i{display:flex;transition:all .2s;height:32px;width:76px;font-style:normal;align-items:center;justify-content:center;position:absolute;left:0;top:0;border-radius:5px 0 5px 0;background:#fff;color:#5a1c7e;font-weight:500;font-size:17px;border:1px solid #5a1c7e}
.event-list .thumb i.end{background:#b6b9c2;color:#3c3e43;border-color:#686b73}
.event-list .thumb i.ing{background:#5a1c7e;color:#fff;}
.event-list .thumb span{display:flex;padding:3px 10px 0 0;margin-left:10px;align-items:center;justify-content:center;position:absolute;bottom:-2px;transition:all .2s;font-size:18px;font-weight:500;color:#fff;width:137px;height:44px;background:url(/page/cccf/images/moabom/bg-article-theme.png) no-repeat center center /cover;}
.event-list .thumb:after{content:'';display:block;position:absolute;inset:0;background:url(/page/cccf/images/moabom/bg-list-hover.png) no-repeat center center /cover;transition:all .2s;opacity:0;}
.event-list a:hover .thumb{box-shadow:5px 5px 5px 1px rgba(0,0,0,.2);}
.event-list a:hover .thumb:after{opacity:1;}
.event-list a:hover .thumb i{transform:translateY(-100%);}
.event-list a:hover .thumb span{transform:translateY(100%);}
.event-list a strong{font-size:22px;font-weight:500;line-height:1.4;word-break:keep-all;margin:25px 0 20px;overflow-wrap: break-word;height:2.8em;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden;text-overflow:ellipsis;}
.event-list a dl{border-top:1px solid #000}

.event-land{position:absolute;top:0px;left:0;bottom:0;right:0;z-index:5;transition:transform .35s ease-out, opacity .35s .15s ease-out;transform:translateX(100%);opacity:0;padding-left:95px;}
.event-land.active{transform:translateX(0);opacity:1;transition:transform .35s ease-out, opacity .15s ease-out;}
.event-land:before{content:'';z-index:-1;position:absolute;top:-70px;bottom:0;left:0;width:100vw;background:#2d2647;}
.event-land .img-bx{display:flex;gap:20px}
.event-land .img-bx img{display:block;width:450px;}
.event-land .img-bx .icon-bx{display:flex;flex-direction:column;gap:12px;}
.event-land .img-bx .icon-bx i{width:50px;height:50px;display:flex;align-items:center;justify-content:center;color:#2e2946;font-size:17px;background:#fff;font-style:normal;}
.event-land strong{line-height:1.4;word-break:keep-all;color:#fff;display:flex;align-items:center;position:relative;height:100px;font-size:30px;font-weight:700;}
.event-land strong:after{content:'';display:block;height:1px;width:970px;background:#fff;position:absolute;left:0;bottom:0;}
.event-land dl{display:grid;grid-template-columns:auto 1fr;padding-top:25px;color:#fff;font-size:20px;gap:10px 20px;line-height:1.4;word-break:keep-all;}
.event-land dt{white-space:pre;font-weight:700;}
.event-land .btn-bx{padding-top:50px;display:flex;gap:10px;}
.event-land .btn-bx a{background:#fff;display:flex;align-items:center;justify-content:center;height:52px;padding:0 15px;gap:10px;font-size:20px;font-weight:500;transition:all .2s;}
.event-land .btn-bx a.view{width:305px;}
.event-land .btn-bx a:hover{filter:invert(1);}
.event-land .close{position:absolute;width:40px;top:-30px;right:-90px;}
.event-land .close img{display:block;width:100%;}
.event-land .close + .close{top:initial;bottom:50px;}

@media (max-width:1400px) {
#header{padding-left:0;}
.moabom-header{height:60px;padding:0 10px 0 15px;}
#header h1 img{width:152px}
 #footer .tel-bx{width:100%;}
 #footer .link-bx{grid-template-columns:1fr 1fr;}
 #footer .link-bx a{justify-content:center}
 #footer .address-bx a img{height:18px;}

.moabom-header .btn-wrap{gap:7px;}
.moabom-header .info-btn-bx{gap:5px;}
.moabom-header .info-btn-bx a{padding:3px;font-size:0px;height:auto;border-radius:20px;flex-shrink:0;}
.moabom-header .info-btn-bx a img{position:relative;left:0px;width:16px;}
.moabom-header .sns-bx{display:flex;align-items:center;gap:3px;padding-left:0px;border-left:none;padding-right:3px;}
.moabom-header .sns-bx a img{width:22px;}
.moabom-header .sns-bx a:hover img,
.moabom-header .info-btn-bx a:hover img{animation:shake .5s ease-in 1 both;}

.moa-wrap{padding:20px 0 0px;}
.calander-bx{width:480px;padding-right:40px;padding-bottom:70px;}
/* .calander-bx:before{content:'';position:absolute;top:-200px;right:0px;width:60vw;bottom:-200px ;z-index:-2;background:#e8e8e8;display:block;pointer-events:none;} */
.calander-bx:after{width:110%;height:307px;}
.text-deco{margin:40px auto 0;width:288px;}

.filter-btn-bx{gap:10px;}
.filter-open-btn{height:40px;padding:0 15px;gap:10px;font-size:16px;}
.filter-open-btn img{width:21px;}
.filter-btn-bx > a{font-size:16px;height:40px;}
.filter-btn-bx > a.active{background:#000;color:#fff;box-shadow:3px 3px 2px 0px #bababa;}

.search-form{padding-top:10px;gap:5px 15px;}
.search-form .form-item{height:50px;gap:10px;}
.search-form .form-item:first-child{width:115px;}
.search-form .form-item:first-child:after{right:5px;font-size:16px;}
.search-form select{padding:0 0 0 10px;font-size:16px;}
.search-form .date-bx{padding-right:5px;}
.search-form .date-bx input{width:auto;padding-left:0px;max-width:100px; min-width: 85%;}
.search-form .date-bx .ui-datepicker-trigger{width:19px;height:15.5px;}
.search-form #searchWord{padding-left:10px;font-size:15px;}
.search-form #searchWord::placeholder{font-size:18px;}
.search-form .search-form-btn{width:60px;height:36px;font-size:15px;}

.filter_box .filter_btn_box{margin-top: 15px;gap: 0 10px;}
.filter_box .filter_btn_box a{font-size: 14px;}
.filter_box .filter_btn_box a.filter_reset{width: auto;height: 32px;line-height: 30px;padding: 0 10px;}
.filter_box .filter_btn_box a.filter_search{width: 115px;height: 32px;line-height: 30px;}
.filter_box{min-width: 520px;}
.filter_box2{display: flex;}
.filter_wrap .box2{display: flex;}
.filter_wrap .box2 ul{gap: 0 5px;}
.filter_box .box{padding: 5px 7px;}
.filter_box .box::after{content: ''; width: 1px; position: absolute; top:0; right:0; bottom: 0; background: #dcdcdc; }
.filter_box .box:last-child::after{display: none;}
.filter_box .box ul li{margin-bottom: 4px;text-align: center;}
.filter_box .box ul li a{font-size: 13px;}
.filter_box .box ul li a.active{color: #fff; background: #000;}
.filter_box{padding: 15px 0;}
.filter_box h3{padding-left: 15px; margin-bottom: 15px; font-size: 17px;}
.filter_box h4{margin-bottom: 15px;}
.filter_box h4 a{padding-right: 25px;min-width:50px;}
.filter_box h4 a::after{transform:scale(.8);transform-origin:100% 50%;top: 11%;}
.filter_close{top:15px;right:15px;transform:scale(.8);transform-origin:100% 0%;}
.filter_select{transform:scale(.9);transform-origin:100% 0%;left:90px;top:10px}
.filter_wrap{display: flex;position: relative;}
.filter_wrap .filter{padding-left: 16px; width: 113px; height: 30px; border-radius: 50px; border: 1px solid #000; text-align: left;}
.filter_wrap .filter span{display: block; position: relative; padding-left: 27px; font-size: 15px; color: #111; line-height: 0;}

.calander-bx h2{margin:20px 0 30px;height:42px;font-size:18px;}
.calander-item{padding:60px 0;width:440px;margin:0 auto}
.calander-tab{height:70px;margin-bottom:30px;}
.calander-tab > a{width:60px;}
.calander-tab > a img{width:11px;}
.calander-tab .year-month{margin: 0px 18px 0 0;gap: 0 21px;}
.calander-tab .open-btn{gap: 25px;color:#b8a623;font-size: 51px;}
.calander-tab .open-btn img{width:22px;}
.calander-tab .item > div{width: 127px;left: -1px;padding: 5px 0;max-height: 140px;}
.calander-tab .item > div a{height:24px;font-size:14px;}

.calander-item table th{font-size:18px;height:34px;}
.calander-item table td{height:72px;}
.calander-item table td a{padding-top:10px;}
.calander-item table td a span{font-size:22px;}
.calander-item table td a i{width:10px;height:10px;margin-top:5px;}
.calander-item table td a em{font-size:13px;}

.event-bx{padding:0 0 60px 40px;}
.event-list{grid-template-columns:1fr 1fr 1fr;gap:35px 20px;padding-bottom:30px;}
.event-list .thumb i{height:30px;width:70px;font-size:15px}
.event-list .thumb span{transform:scale(.85);transform-origin:50% 100%;}
.event-list a strong{font-size:18px;margin:20px 0 17px;}
.event-list a dl.info-list dd{font-size:14px;}

.event-land{padding-left:45px;}
.event-land:before{top:-50px;}
.event-land .img-bx{gap:15px}
.event-land .img-bx img{width:360px;}
.event-land .img-bx .icon-bx{gap:10px;}
.event-land .img-bx .icon-bx i{width:42px;height:42px;font-size:15px;}
.event-land strong{height:80px;font-size:24px;}
.event-land strong:after{width:auto;right:0px;}
.event-land dl{padding-top:20px;font-size:16px;gap:10px 20px;}
.event-land .btn-bx{padding-top:35px;gap:10px;}
.event-land .btn-bx a{height:44px;padding:0 13px;gap:7px;font-size:16px;}
.event-land .btn-bx a.view{width:205px;}
.event-land .close{width:32px;top:-10px;right:0px;}
.event-land .close + .close{bottom:50px;}

}

@media (max-width:991px) {
  
.moa-wrap{padding:10px 0 0px;flex-direction:column;}
.calander-bx{width:100%;padding-right:0px;padding-bottom:30px;}
.calander-bx:before{top:-150px;right:-20px;left:-20px;width:auto;bottom:0px;}
.calander-bx:after{width:auto;height:307px;left:-20px;right:-20px;}
.text-deco{margin:35px auto 0;width:228px;}

/* .filter-btn-bx{gap:10px;}
.filter-open-btn{height:40px;padding:0 15px;gap:10px;font-size:16px;}
.filter-open-btn img{width:21px;}
.filter-btn-bx > a{font-size:16px;height:40px;}
.filter-btn-bx > a.active{background:#000;color:#fff;box-shadow:3px 3px 2px 0px #bababa;}

.search-form{padding-top:10px;gap:5px 15px;}
.search-form .form-item{height:50px;gap:10px;}
.search-form .form-item:first-child{width:115px;}
.search-form .form-item:first-child:after{right:5px;font-size:16px;}
.search-form select{padding:0 0 0 10px;font-size:16px;}
.search-form .date-bx{padding-right:5px;}
.search-form .date-bx input{width:auto;padding-left:0px;max-width:100px;}
.search-form .date-bx .ui-datepicker-trigger{width:19px;height:15.5px;}
.search-form #searchWord{padding-left:10px;font-size:15px;}
.search-form #searchWord::placeholder{font-size:18px;}
.search-form .search-form-btn{width:60px;height:36px;font-size:15px;}

.filter_box .filter_btn_box{margin-top: 15px;gap: 0 10px;}
.filter_box .filter_btn_box a{font-size: 14px;}
.filter_box .filter_btn_box a.filter_reset{width: auto;height: 32px;line-height: 30px;padding: 0 10px;}
.filter_box .filter_btn_box a.filter_search{width: 115px;height: 32px;line-height: 30px;}
.filter_box{min-width: 520px;}
.filter_box2{display: flex;}
.filter_wrap .box2{display: flex;}
.filter_wrap .box2 ul{gap: 0 5px;}
.filter_box .box{padding: 5px 7px;}
.filter_box .box::after{content: ''; width: 1px; position: absolute; top:0; right:0; bottom: 0; background: #dcdcdc; }
.filter_box .box:last-child::after{display: none;}
.filter_box .box ul li{margin-bottom: 4px;text-align: center;}
.filter_box .box ul li a{font-size: 13px;}
.filter_box .box ul li a.active{color: #fff; background: #000;}
.filter_box{padding: 15px 0;}
.filter_box h3{padding-left: 15px; margin-bottom: 15px; font-size: 17px;}
.filter_box h4{margin-bottom: 15px;}
.filter_box h4 a{padding-right: 25px;min-width:50px;}
.filter_box h4 a::after{transform:scale(.8);transform-origin:100% 50%;top: 11%;}
.filter_close{top:15px;right:15px;transform:scale(.8);transform-origin:100% 0%;}
.filter_select{transform:scale(.9);transform-origin:100% 0%;left:90px;top:10px}
.filter_wrap{display: flex;position: relative;}
.filter_wrap .filter{padding-left: 16px; width: 113px; height: 30px; border-radius: 50px; border: 1px solid #000; text-align: left;}
.filter_wrap .filter span{display: block; position: relative; padding-left: 27px; font-size: 15px; color: #111; line-height: 0;}

.calander-bx h2{margin:20px 0 30px;height:42px;font-size:18px;}
.calander-item{padding:60px 0;width:440px;margin:0 auto}
.calander-tab{height:70px;margin-bottom:30px;}
.calander-tab > a{width:60px;}
.calander-tab > a img{width:11px;}
.calander-tab .year-month{margin: 0px 18px 0 0;gap: 0 21px;}
.calander-tab .open-btn{gap: 25px;color:#b8a623;font-size: 51px;}
.calander-tab .open-btn img{width:22px;}
.calander-tab .item > div{width: 127px;left: -1px;padding: 5px 0;max-height: 140px;}
.calander-tab .item > div a{width:124px;height:24px;font-size:14px;}

.calander-item table th{font-size:18px;height:34px;}
.calander-item table td{height:72px;}
.calander-item table td a{padding-top:10px;}
.calander-item table td a span{font-size:22px;}
.calander-item table td a i{width:10px;height:10px;margin-top:5px;}
.calander-item table td a em{font-size:13px;} */

.event-bx{padding:50px 0 50px 0px;}
/* .event-list{grid-template-columns:1fr 1fr 1fr;gap:35px 20px;padding-bottom:30px;}
.event-list .thumb i{height:30px;width:70px;font-size:15px}
.event-list .thumb span{transform:scale(.85);transform-origin:50% 100%;}
.event-list a strong{font-size:18px;margin:20px 0 17px;}
.event-list a dl.info-list dd{font-size:14px;} */

.event-land{padding-left:35px;left:-20px;padding-top:50px;}
.event-land:before{top:0px;}
/* .event-land .img-bx{gap:15px}
.event-land .img-bx img{width:360px;}
.event-land .img-bx .icon-bx{gap:10px;}
.event-land .img-bx .icon-bx i{width:42px;height:42px;font-size:15px;}
.event-land strong{height:80px;font-size:24px;}
.event-land strong:after{width:auto;right:0px;}
.event-land dl{padding-top:20px;font-size:16px;gap:10px 20px;}
.event-land .btn-bx{padding-top:35px;gap:10px;}
.event-land .btn-bx a{height:44px;padding:0 13px;gap:7px;font-size:16px;}
.event-land .btn-bx a.view{width:205px;} */
.event-land .close{width:32px;top:30px;right:0px;}
.event-land .close + .close{bottom:50px;}
}


@media (max-width:716px) {
  #header h1{margin-left:-20px;}
  .moabom-header{height:80px;padding:0 15px 0 15px;flex-direction:column;justify-content:center;}
  




  .calander-bx:after{height:257px;;}
  .text-deco{margin:30px auto 0;width:228px;}
  .filter-btn-bx{gap:5px;}
  .filter-open-btn{height:34px;padding:0 13px;gap:5px;font-size:14px;}
  .filter-open-btn img{width:17px;}
  .filter-btn-bx > a{font-size:14px;height:34px;}


  .search-form{padding-top:10px;gap:5px 10px;}
  .search-form .form-item{height:42px;gap:10px;}
  .search-form .form-item:first-child{width:95px;}
  .search-form .form-item:first-child:after{right:5px;font-size:15px;}
  .search-form select{padding:0 0 0 10px;font-size:14px;}
  .search-form .date-bx{padding-right:5px;}
  .search-form .date-bx .ui-datepicker-trigger{width:17px;height:14px;}
  .search-form #searchWord{padding-left:10px;font-size:14px;}
  .search-form #searchWord::placeholder{font-size:16px;}
  .search-form .search-form-btn{width:50px;height:32px;font-size:13px;}

  .filter_box .filter_btn_box{margin-top: 15px;gap: 0 10px;}
  .filter_box .filter_btn_box a{font-size: 13px;}
  .filter_box .filter_btn_box a.filter_reset{width: auto;height: 30px;line-height: 28px;padding: 0 10px;}
  .filter_box .filter_btn_box a.filter_search{width: 115px;height: 30px;line-height: 28px;}
  .filter_box{min-width: 360px;}
  .filter_box2{display: grid;grid-template-columns: 1fr 1fr;}
  .filter_wrap .box2{display: flex;}
  .filter_wrap .box2 ul{gap: 0 5px;}
  .filter_box .box{padding: 5px 7px;}
  .filter_box .box::after{content: ''; width: 1px; position: absolute; top:0; right:0; bottom: 0; background: #dcdcdc; }
  .filter_box .box:last-child::after{display: none;}
  .filter_box .box ul li{margin-bottom: 4px;text-align: center;}
  .filter_box .box ul li a{font-size: 12px;}
  .filter_box .box ul li a.active{color: #fff; background: #000;}
  .filter_box{padding: 15px 0;}
  .filter_box h3{padding-left: 15px;margin-bottom: 15px;font-size: 16px;}
  .filter_box h4{margin-bottom: 15px;}
  .filter_box h4 a{padding-right: 25px;min-width:50px;font-size: 14px;}
  .filter_box h4 a::after{transform:scale(.8);transform-origin:100% 50%;top: 11%;}
  .filter_close{top: 12px;right: 5px;transform:scale(.8);transform-origin:100% 0%;}
  .filter_select{transform:scale(.9);transform-origin:100% 0%;left:90px;top:10px}
  .filter_wrap{display: flex;position: relative;}
  .filter_wrap .filter{padding-left: 16px; width: 113px; height: 30px; border-radius: 50px; border: 1px solid #000; text-align: left;}
  .filter_wrap .filter span{display: block; position: relative; padding-left: 27px; font-size: 15px; color: #111; line-height: 0;}

  .calander-bx h2{margin:20px 0 30px;font-size:17px;}
  .calander-item{padding:50px 0;width:360px;margin:0 auto}
  .calander-tab{height:62px;margin-bottom:30px;}
  .calander-tab > a{width:50px;}
  .calander-tab > a img{width:11px;}
  .calander-tab .year-month{margin: 0px 22px 0 0;gap: 0 20px;}
  .calander-tab .open-btn{gap: 16px;font-size: 43px;}
  .calander-tab .open-btn img{width:18px;}
  .calander-tab .item > div{width: 104px;left: 1px;padding: 5px 0;max-height: 140px;}
  .calander-tab .item > div a{height:24px;font-size:14px;}

  .calander-item table th{font-size:15px;}
  .calander-item table td{height:72px;}
  .calander-item table td a{padding-top:10px;}
  .calander-item table td a span{font-size:19px;}
  .calander-item table td a i{width:8px;height:8px;margin-top:5px;}
  .calander-item table td a em{font-size:12px;}

  .event-bx{padding:40px 0 40px 0px;}
  .event-list{grid-template-columns:1fr 1fr;gap:30px 20px;padding-bottom:20px;}
  .event-list .thumb i{height:28px;width:62px;font-size:13px}
  .event-list .thumb span{transform:scale(.8);}
  .event-list a strong{font-size:16px;margin:17px 0 15px;}
  .event-list a dl.info-list dd{font-size:13px;}

  .event-land{padding-left:20px;left:-16px;padding-top:80px;}
  .event-land:before{top:0px;}
  .event-land .img-bx{gap:15px}
  .event-land .img-bx img{width:280px;}
  .event-land .img-bx .icon-bx{gap:10px;}
  .event-land .img-bx .icon-bx i{width:40px;height:40px;font-size:14px;}
  .event-land strong{height:74px;font-size:20px;}
  .event-land strong:after{width:auto;right:0px;}
  .event-land dl{padding-top:17px;font-size:13px;gap:7px 15px;}
  .event-land .btn-bx{padding-top:30px;}
  .event-land .btn-bx a{height:40px;font-size:14px;}
  .event-land .btn-bx a.view{width:165px;}
  .event-land .close{width:24px;top:20px;right:0px;}
  .event-land .close + .close{bottom:50px;}
  
}




/* pager */
#main .pager {position: relative;margin:14px auto 0;padding: 20px 20px 7px;text-align: center;}
#main .pager-num {display: none;}
#main .pager-link {display: inline-block;min-width: 35px;height: 35px;padding: 0 2px;background-color: transparent;border-color: #d2d2d2;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;line-height: 33px;vertical-align: middle;font-size:14px;color: #222 !important;border: 0;border-radius: 50%;border: 1px solid transparent;}
#main .pager-link.active {background: #f1f1f1;border: 1px solid #5a1c7e;}
#main .pager-link-data-next,
#main .pager-link-data-last,
#main .pager-link-data-prev,
#main .pager-link-data-first {font-size: 0;background: #fff !important;border: 1px solid #b6b6b6;margin: 0 1px;}
#main .pager-link-data-next {background:url(../images/common/ico-paging-narr.png) no-repeat center center /7px 12px !important;margin-left: 7px;}
#main .pager-link-data-last {background:url(../images/common/ico-paging-narr2.png) no-repeat center center /13px 12px !important;}
#main .pager-link-data-prev {background:url(../images/common/ico-paging-parr.png) no-repeat center center /7px 12px !important;margin-right: 7px;}
#main .pager-link-data-first {background:url(../images/common/ico-paging-parr2.png) no-repeat center center /13px 12px !important;}

#main .contsArea .pager a{text-decoration:none;}

@media (max-width:1400px){
  #main .pager {margin:14px auto 0;padding: 10px 0px 5px;text-align: center;}
  #main .pager-link {min-width: 26px;height: 26px;line-height: 26px;font-size:13px;}
  #main .pager-link-data-next,
  #main .pager-link-data-last,
  #main .pager-link-data-prev,
  #main .pager-link-data-first {font-size: 0;background: #fff !important;/* border: 1px solid #b6b6b6; */margin: 0px;}
  #main .pager-link-data-next {background:url(../images/common/ico-paging-narr.png) no-repeat center center /6px 10px !important;margin-left: 5px;}
  #main .pager-link-data-last {background:url(../images/common/ico-paging-narr2.png) no-repeat center center /11px 10px !important;}
  #main .pager-link-data-prev {background:url(../images/common/ico-paging-parr.png) no-repeat center center /6px 10px !important;margin-right: 5px;}
  #main .pager-link-data-first {background:url(../images/common/ico-paging-parr2.png) no-repeat center center /11px 10px !important;}
}
#main .skinTb-th,
#main .skinTb th{position:relative;}
#main .skinTb-th:not(:last-child):after,
#main .skinTb th:not(:last-child):after{display:block;width:1px;height:18px;background:#dcdcdc;position:absolute;right:0;top:50%;margin-top:-9px}


@media (max-width: 1199px){
	#main .pager-link-data-ellipsis {height: 4px;border-width: 0;font-size: 0;background-color: #000;width: 4px;border-radius: 50%;min-width: initial;}
	#main .pager{margin-top:5px;}
  #main .skinTb-data-resWrite:before{display:none;}
  #main .skinTb-data-resWrite .skinTb-th{border-top:1px solid #080f20;margin-top:-1px;}
  #main .skinTb-th:not(:last-child):after{display:none;}
  #main .skinTb th:not(:last-child):after{height:14px;margin-top:-7px}
}

@media (max-width: 420px){
	#main .pager-link:nth-child(n+3).pager-link:nth-last-child(n+3) {display: none;}
	#main .pager-num {display: inline-block;padding:0 3px;vertical-align:-1px;font-size:14px;font-weight:500;color:#222;}
}   