@charset "utf-8";

html{scroll-behavior:smooth;}
#main{position:relative;color:#231f20;padding-top:80px;font-family:"NanumSquare";}
.fixed ~ #main{padding-top:60px;transition:all .5s;}

#visual{position:relative;height:847px;}
#visual .bg-bx > div{position:absolute;display:block;top:0;left:0;right:0;bottom:0;width:20%;}
#visual .bg-bx > div:after{content:'';display:block;width:1px;position:absolute;top:0;bottom:0;background:rgba(255,255,255,.45);z-index:5;}
#visual .bg-bx > div:first-child:after{display:none;}
#visual .bg-bx > div.item01{left:0;right:20%;}
#visual .bg-bx > div.item02{left:20%;right:40%;}
#visual .bg-bx > div.item03{left:40%;right:60%;}
#visual .bg-bx > div.item04{left:60%;right:80%;}
#visual .bg-bx > div.item05{left:80%;right:100%;}
#visual .bg-bx > div:after{content:'';display:block;}
#visual .bg-bx > div .img-bx{position:absolute;top:0;bottom:0;left:0;width:100%;overflow:hidden;}
#visual .bg-bx > div .img-bx img{display:block;height:847px;position:absolute;top:0;left:0%;image-rendering:-webkit-optimize-contrast;transform:scale(1.2);transition:all 15s .3s ease;}
#visual .bg-bx > div.active .img-bx img{transform:scale(1)}
#visual .bg-bx > div.bg .img-bx img{transition-delay:1s;}

#visual .bg-bx > div.item02 .img-bx img{left:50%;margin-left:-960px;}
#visual .bg-bx > div.item03 .img-bx img{left:50%;margin-left:-960px;}
#visual .bg-bx > div.item04 .img-bx img{left:auto;right:50%;margin-right:-960px;}
#visual .bg-bx > div.item05 .img-bx img{left:auto;right:0%;}
#visual .bg-bx > div.active .img-bx{z-index:3;pointer-events:none;}
#visual .bg-bx > div.bg .img-bx{z-index:2;pointer-events:none;}

#visual .bg-bx > div.item01.active .img-bx{animation:move1 1s ease 1 both;}
#visual .bg-bx > div.item02.active .img-bx{animation:move2 1s ease 1 both;}
#visual .bg-bx > div.item03.active .img-bx{animation:move3 1s ease 1 both;}
#visual .bg-bx > div.item04.active .img-bx{animation:move4 1s ease 1 both;}
#visual .bg-bx > div.item05.active .img-bx{animation:move5 1s ease 1 both;}
#visual .bg-bx > div.item01.bg .img-bx{width:500%;}
#visual .bg-bx > div.item02.bg .img-bx{width:500%;left:-100%;}
#visual .bg-bx > div.item03.bg .img-bx{width:500%;left:-200%;}
#visual .bg-bx > div.item04.bg .img-bx{width:500%;left:-300%;}
#visual .bg-bx > div.item05.bg .img-bx{width:500%;left:-400%;}


@keyframes zoom1{ 
    0%{transform:scale(1.1);}
    100%{transform:scale(1);} 
}

@keyframes move1{ 
    0%{width:100%;}
    100%{width:500%;} 
}

@keyframes move2{ 
    0%{width:100%;left:0%;}
    100%{width:500%;left:-100%;} 
}

@keyframes move3{ 
    0%{width:100%;left:0%;}
    100%{width:500%;left:-200%;} 
}

@keyframes move4{ 
    0%{width:100%;left:0%;}
    100%{width:500%;left:-300%;} 
}

@keyframes move5{ 
    0%{width:100%;left:0%;}
    100%{width:500%;left:-400%;} 
}


#visual .bg-bx > div a{position:absolute;color:#fff;left:0px;bottom:52px;z-index:50;display:block;}
#visual .bg-bx > div a strong{display:inline-block;line-height:1.15em;height:1.1em;padding:0 5px 0 15px;font-family:'KoreanYNSJG4-R';font-weight:normal;font-size:30px;text-shadow:2px 2px 3px rgba(0,0,0,.5);border-left:5px solid #fff;transition:color .2s ease;z-index:2;position:relative;word-break:keep-all;}
#visual .bg-bx > div a p{font-family:'KoreanYNSJG3-R';font-size:18px;line-height:1.5;margin-top:12px;padding-left:20px;word-break:keep-all;padding-right:5px;text-shadow:2px 2px 3px rgba(0,0,0,.5);}
/*
#visual .bg-bx > div.active a{pointer-events:none;}
*/
#visual .bg-bx > div.active a strong{border-color:#fff000;color:#000;text-shadow:none;}
#visual .bg-bx > div a strong:before{content:'';display:block;position:absolute;left:0;width:0%;bottom:0;top:0;background:#fff000;transition:all .3s ease;z-index:-1;}
#visual .bg-bx > div.active a strong:before{width:100%;}

#visual .link{display:block;width:174px;position:absolute;z-index:5;right:40px;top:50%;margin-top:-85px;z-index:50;}
#visual .link img{display:block;width:100%;image-rendering:-webkit-optimize-contrast;position:relative;}
#visual .link:hover img{animation:move6 .3s ease-in-out infinite alternate;}

#visual .inner{z-index:20;height:100%;}
#visual .inner .item{position:absolute;top:0;left:20px;right:0;bottom:0;display:none;}
#visual .inner .item .map{position:absolute;right:45px;top:85px;display:block;image-rendering:-webkit-optimize-contrast;width:636px;animation:move7 .5s ease 1 both;}
#visual .inner .item .text{padding-top:120px;}
#visual .inner .item .text span{background:#fff;display:block;width:220px;height:52px;line-height:54px;text-align:center;border-radius:26px;box-shadow:3px 3px 7px 0px rgba(0,0,0,.5);color:#004f64;font-size:24px;font-family:'KoreanYNSJG3-R';}
#visual .inner .item h2{font-size:66px;font-weight:normal;font-family:'KoreanYNSJG4-R';line-height:1.1;margin-top:35px;text-shadow:2px 2px 3px rgba(0,0,0,.5);color:#fff;word-spacing:-3px;letter-spacing:-2px;word-break:keep-all;}
#visual .inner .item p{line-height:1.4;font-family:'KoreanYNSJG3-R';font-size:36px;text-shadow:2px 2px 3px rgba(0,0,0,.5);color:#fff;margin-top:20px;word-spacing:-1px;letter-spacing:-2px;word-break:keep-all;}
#visual .inner .item a{display:block;z-index:3;height:60px;line-height:54px;background:rgba(0,19,23,.8);padding-left:35px;font-size:21px;color:#fff;position:relative;width:220px;margin-top:50px;transition:all .1s;border:4px solid rgba(0,19,23,.8);border-image: url(/page/ecology/images/main/patten01.png) 4 repeat;}
#visual .inner .item a:hover{background:rgba(0,19,23,1);}
#visual .inner .item a:after{content:'';display:block;width:10px;height:10px;border:2px solid #fff;border-width:2px 2px 0 0;transform:rotate(45deg);position:absolute;top:50%;margin-top:-6px;right:30px;}

@keyframes move6{ 
    0%{top:0;}
    100%{top:-20px} 
}

@keyframes move7{ 
    0%{transform:scale(.5);}
    100%{transform:scale(1);}
}


@media (max-width:1399px) {
    #main{padding-top:60px;transition:all .5s;}

    #visual{height:618px;}
    #visual .bg-bx > div .img-bx img{height:618px;}
    #visual .bg-bx > div.item02 .img-bx img,
    #visual .bg-bx > div.item03 .img-bx img,
    #visual .bg-bx > div.item04 .img-bx img{margin-right:-700px;}

    #visual .bg-bx > div a{bottom:auto;top:490px}
    #visual .bg-bx > div a strong{padding:0 5px 0 12px;font-size:19px;border-left:3px solid #fff;}
    #visual .bg-bx > div a p{font-size:14px;margin-top:5px;padding-left:15px;}
    #visual .link{width:105px;right:20px;top:auto;margin-top:0px;bottom:160px;}
    #visual .link img{animation:move6m .6s ease-in-out infinite alternate;}

    #visual .inner .item .map{right:0px;top:45px;width:520px;}
    #visual .inner .item .text{padding-top:60px;}
    #visual .inner .item .text span{width:160px;height:38px;line-height:40px;font-size:17px;}
    #visual .inner .item h2{font-size:48px;margin-top:20px;word-spacing:-2px;letter-spacing:-1px;}
    #visual .inner .item p{font-size:22px;margin-top:15px;word-spacing:-1px;letter-spacing:-1px;}
    #visual .inner .item a{height:48px;line-height:44px;padding-left:20px;font-size:17px;width:175px;margin-top:35px;border:2px solid rgba(0,19,23,.8);border-image: url(/page/ecology/images/main/patten01.png) 2 repeat;}
    #visual .inner .item a:after{transform:rotate(45deg) scale(.8);right:20px;transform-origin:100% 50%;margin-top:-3px;}

}


@media (max-width:991px) {
    #visual{height:574px;}
    #visual:after{content:'';display:block;width:120px;;position:absolute;top:0;bottom:0;right:0;z-index:3;pointer-events:none;background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.5) 100%);}
    #visual .bg-bx > div{position:absolute;display:block;top:0;left:0 !important;right:0 !important;bottom:auto;height:20%;width:100% !important;}
    #visual .bg-bx > div:after{height:1px;position:absolute;top:0;bottom:auto;width:100%;background:rgba(255,255,255,.3)}
    #visual .bg-bx > div.item01{top:0%;}
    #visual .bg-bx > div.item02{top:20%;}
    #visual .bg-bx > div.item03{top:40%;}
    #visual .bg-bx > div.item04{top:60%;}
    #visual .bg-bx > div.item05{top:80%;}

    #visual .bg-bx > div .img-bx{top:0;bottom:auto !important;left:0;height:100%;}

    #visual .bg-bx > div .img-bx img{height:574px;left:50% !important;right:auto !important;}
    #visual .bg-bx > div.item02 .img-bx img{top:50%;margin-top:-287px}
    #visual .bg-bx > div.item03 .img-bx img{top:50%;margin-top:-287px}
    #visual .bg-bx > div.item04 .img-bx img{top:auto;bottom:50%;margin-bottom:-287px;}
    #visual .bg-bx > div.item05 .img-bx img{top:auto;bottom:0%;}


    #visual .bg-bx > div.item01 .img-bx img{margin-left:-750px;}
    #visual .bg-bx > div.item02 .img-bx img{margin-left:-750px;}
    #visual .bg-bx > div.item03 .img-bx img{margin-left:-650px;}
    #visual .bg-bx > div.item04 .img-bx img{margin-left:-650px;}
    #visual .bg-bx > div.item05 .img-bx img{margin-left:-700px;}

    #visual .bg-bx > div.item01.active .img-bx{animation:move1m 1s ease 1 both;}
    #visual .bg-bx > div.item02.active .img-bx{animation:move2m 1s ease 1 both;}
    #visual .bg-bx > div.item03.active .img-bx{animation:move3m 1s ease 1 both;}
    #visual .bg-bx > div.item04.active .img-bx{animation:move4m 1s ease 1 both;}
    #visual .bg-bx > div.item05.active .img-bx{animation:move5m 1s ease 1 both;}
    #visual .bg-bx > div.item01.bg .img-bx{width:100%;height:500%;}
    #visual .bg-bx > div.item02.bg .img-bx{width:100%;height:500%;top:-100%;left:auto;}
    #visual .bg-bx > div.item03.bg .img-bx{width:100%;height:500%;top:-200%;left:auto;}
    #visual .bg-bx > div.item04.bg .img-bx{width:100%;height:500%;top:-300%;left:auto;}
    #visual .bg-bx > div.item05.bg .img-bx{width:100%;height:500%;top:-400%;left:auto;}

    #visual .bg-bx > div a strong:before{left:auto;right:-15px;}
    #visual .bg-bx > div a{bottom:auto;top:50%;left:auto;right:10px;width:140px;transform:translateY(-50%);}
    #visual .bg-bx > div a strong{padding:0 3px 0 8px;font-size:16px;border-left:0px solid #fff;text-align:right;display:block;}
    #visual .bg-bx > div a p{font-size:10px;margin-top:3px;padding-left:10px;text-align:right;}

    #visual .link{width:95px;right:auto;left:20px;top:auto;margin-top:0px;bottom:30px;}

    #visual .inner .item .map{right:auto;left:45px;top:auto;bottom:140px;width:500px;}
    #visual .inner .item .text{padding-top:45px;}
    #visual .inner .item .text span{width:130px;height:34px;line-height:36px;font-size:14px;}
    #visual .inner .item h2{font-size:38px;margin-top:17px;}
    #visual .inner .item p{font-size:18px;margin-top:13px;word-spacing:-0.5px;}
    #visual .inner .item a{height:42px;line-height:40px;padding-left:15px;font-size:15px;width:145px;margin-top:25px;}
    #visual .inner .item a:after{right:15px;margin-top:-3px;transform:rotate(45deg) scale(.7);}

}


@media (max-width:760px) {
    #visual:after{width:90px;background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%);}
    #visual .inner .item{left:15px;}
    #visual .bg-bx > div.item01 .img-bx img{margin-left:-850px;}
    #visual .bg-bx > div.item02 .img-bx img{margin-left:-800px;}
    #visual .bg-bx > div.item03 .img-bx img{margin-left:-650px;}
    #visual .bg-bx > div.item04 .img-bx img{margin-left:-650px;}
    #visual .bg-bx > div.item05 .img-bx img{margin-left:-700px;}

    #visual .bg-bx > div a{bottom:auto;top:50%;left:auto;right:5px;width:80px;transform:translateY(-50%);}
    #visual .bg-bx > div a strong{padding:0 5px 0 5px;font-size:13px;border-left:0px solid #fff;line-height:1.5;text-align:right;display:block;height:auto;}
    #visual .bg-bx > div a p{display:none;}
    #visual .bg-bx > div a strong:before{left:auto;right:-15px;}
    #visual .bg-bx > div.active a strong:before{width:60px;}

    #visual .link{width:85px;left:15px;bottom:25px;}

    #visual .inner .item .map{left:-20px;;bottom:180px;width:calc(100% - 70px);max-width:400px;}
    #visual .inner .item .text{padding-top:60px;}
    #visual .inner .item .text span{width:100px;height:32px;line-height:34px;font-size:12px;}
    #visual .inner .item h2{font-size:30px;margin-top:15px;}
    #visual .inner .item p{font-size:15px;margin-top:10px;line-height:1.5}
    #visual .inner .item a{height:38px;line-height:36px;padding-left:10px;font-size:14px;width:115px;margin-top:20px;}
    #visual .inner .item a:after{right:10px;}

}

@keyframes move1m{ 
    0%{height:100%;}
    100%{height:500%;} 
}

@keyframes move2m{ 
    0%{height:100%;top:0%;}
    100%{height:500%;top:-100%;} 
}

@keyframes move3m{ 
    0%{height:100%;top:0%;}
    100%{height:500%;top:-200%;} 
}

@keyframes move4m{ 
    0%{height:100%;top:0%;}
    100%{height:500%;top:-300%;} 
}

@keyframes move5m{ 
    0%{height:100%;top:0%;}
    100%{height:500%;top:-400%;} 
}

@keyframes move6m{ 
    0%{top:0;}
    100%{top:-15px} 
}

#vr360{padding-bottom:184px;position:relative;background:url(/page/ecology/images/main/bg_vr.jpg) bottom right no-repeat;background-size:cover;}
#vr360 h2{text-align:center;padding-top:55px;line-height:1.2;font-size:40px;font-weight:900;color:#000;position:relative;}
#vr360 h2:after{content:'';display:block;width:1px;height:42px;background:#000;position:absolute;top:0;left:50%;}
#vr360 .sub-title{display:block;line-height:1.1;text-align:center;font-size:22px;color:#000;margin-top:10px;}
#vr360 .slick{margin-top:60px;position:relative;z-index:5;}
#vr360 .slide{position:relative;padding-bottom:90px;}
#vr360 .slide .img{width:805px;position:relative;overflow:hidden;z-index:2;}
#vr360 .slide .img img{display:block;width:100%;image-rendering:-webkit-optimize-contrast;position:relative;}
#vr360 .slide .img:after{content:'';z-index:1;display:block;background:url(/page/ecology/images/main/ico-360.png) 50% 50% no-repeat;background-size:cover;position:absolute;top:50%;left:50%;margin:-44px 0 0 -85px;width:170px;height:88px;image-rendering:-webkit-optimize-contrast;}
#vr360 .slide .text{position:absolute;bottom:0;right:0px;border:12px solid transparent;border-image: url(/page/ecology/images/main/patten02.png) 12 repeat;padding:65px 50px 115px 105px;max-width:640px;z-index:3;}
#vr360 .slide h3{line-height:1.1;color:#000;font-size:34px;font-family:'KoreanYNSJG2-R';}
#vr360 .slide h3 strong{display:inline-block;font-size:50px;color:#268ed0;position:relative;}
#vr360 .slide .text p{line-height:1.7;margin-top:22px;font-size:18px;font-weight:300;color:#000;word-break:keep-all}
#vr360 .slide .text a{font-size:0;color:transparent;display:block;width:47px;height:47px;border:1px solid #535353;position:absolute;bottom:30px;right:30px;transition:all .1s;}
#vr360 .slide .text a:after{content:'';display:block;height:26px;width:1px;background:#535353;position:absolute;top:50%;left:50%;margin:-13px 0 0 -0.5px;transition:all .1s;}
#vr360 .slide .text a:before{content:'';display:block;height:1px;width:26px;background:#535353;position:absolute;top:50%;left:50%;margin:-0.5px 0 0 -13px;transition:all .1s;}
#vr360 .slide .text a:hover{background:#535353;}
#vr360 .slide .text a:hover:before,
#vr360 .slide .text a:hover:after{background:#fff;}
#vr360 .slide h3 strong:after{content:'';display:block;background:url(/page/ecology/images/main/icon02.png) 50% 50% no-repeat;background-size:cover;width:103px;height:59px;position:absolute;right:-150px;top:-35px;}
#vr360 .control{position:absolute;right:410px;bottom:370px;z-index:10;}
#vr360 .control a{display:inline-block;vertical-align:top;font-size:0;color:transparent;width:56px;height:56px;border-radius:50%;border:1px solid #747474;transition:all .1s;}
#vr360 .control a + a{margin-left:15px;}
#vr360 .control a:hover{border-width:2px;}
#vr360 .control a:active{border-width:4px;}
#vr360 .control:after{content:'';display:block;background:url(/page/ecology/images/main/icon03.png) 50% 50% no-repeat;background-size:cover;width:77px;height:9px;position:absolute;top:50%;left:50%;margin:-4.5px 0 0 -38.5px;image-rendering:-webkit-optimize-contrast;}
#vr360 .slide.slick-current .text{animation:movevr .7s .7s ease 1 both;}

@keyframes movevr{ 
    0%{opacity:0;transform:translateY(50%);}
    100%{opacity:1;transform:translateY(0%);} 
}

@media (max-width:1399px) {
    #vr360{padding-bottom:100px;}
    #vr360 h2{padding-top:45px;font-size:30px;}
    #vr360 h2:after{height:32px;}
    #vr360 .sub-title{font-size:18px;margin-top:8px;}
    #vr360 .slick{margin-top:40px;}
    #vr360 .slide{padding-bottom:35px;}
    #vr360 .slide .img{width:550px;height:350px;min-width:55%;}
    #vr360 .slide .img img{height:350px;left:50%;transform:translateX(-50%);width:auto;}
    #vr360 .slide .img:after{transform:scale(.7);}
    #vr360 .slide .text{border:8px solid transparent;border-image: url(/page/ecology/images/main/patten02.png) 8 repeat;padding:45px 20px 50px 55px;max-width:48%;}
    #vr360 .slide h3{font-size:26px;}
    #vr360 .slide h3 strong{font-size:38px;}
    #vr360 .slide .text p{margin-top:15px;font-size:16px;}
    #vr360 .slide .text a{transform:scale(.8);transform-origin:100% 100%;right:20px;bottom:20px;}
    #vr360 .slide h3 strong:after{transform:scale(.8);transform-origin:0% 100%;right:-120px;}
    #vr360 .control{right:300px;bottom:270px;transform:scale(.8);}  
}



@media (max-width:991px) {
   
}


@media (max-width:760px) {
   
}


#gwbr{position:relative;margin-top:-90px;border-radius:300px;text-align:center;background:url(/page/ecology/images/main/bg_gwbr.jpg) center center repeat;background-size:cover;background-attachment:fixed;padding-bottom:33px;overflow:hidden;}
#gwbr h2{text-align:center;padding-top:55px;line-height:1.2;font-size:40px;font-weight:900;color:#fff;position:relative;text-shadow:2px 2px 5px rgba(0,0,0,.9);z-index:2;}
#gwbr h2:after{content:'';display:block;width:1px;height:42px;background:#fff;position:absolute;top:0;left:50%;box-shadow:0px 0px 1px 0px rgba(0,0,0,.5);}
#gwbr h2:before{content:'';display:block;background:url(/page/ecology/images/main/bg_title01.png) 50% 50% no-repeat;background-size:cover;width:1200px;height:450px;position:absolute;top:0px;left:50%;margin-left:-600px;z-index:-1;}
#gwbr .sub-title{display:block;line-height:1.1;text-align:center;font-size:22px;color:#fff;margin-top:10px;text-shadow:1px 1px 3px rgba(0,0,0,.9);z-index:3;position:relative;}
#gwbr .bx{max-width:1360px;margin:33px auto 0;z-index:3;}
#gwbr .bx p{display:inline-block;vertical-align:top;width:240px;max-width:23%;margin-right:80px;border-radius:35px;background:url(/page/ecology/images/main/patten03.png) 0 0 repeat;background-size:5px 5px;padding:17px 0 35px;}
#gwbr .bx p:last-child{margin-right:0;}
#gwbr .bx p strong{display:block;line-height:1.1;font-size:52px;color:#1fddff;font-weight:900;text-shadow:1px 1px 3px rgba(0,0,0,.7);}
#gwbr .bx p span{display:block;line-height:1.1;font-size:20px;color:#fff;font-weight:700;text-shadow:1px 1px 3px rgba(0,0,0,.7);margin-top:7px;}
#gwbr .bx p:before{content:'';display:block;background:url(/page/ecology/images/main/icon04.png) center center no-repeat;width:140px;height:140px;background-size:cover;margin:0 auto;}
#gwbr .bx p:nth-child(2):before{background-image:url(/page/ecology/images/main/icon05.png);}
#gwbr .bx p:nth-child(3):before{background-image:url(/page/ecology/images/main/icon06.png);}
#gwbr .bx p:nth-child(4):before{background-image:url(/page/ecology/images/main/icon07.png);}


#gift{position:relative;padding-bottom:85px;}
#gift h2{text-align:center;padding-top:55px;line-height:1.2;font-size:40px;font-weight:900;color:#000;position:relative;}
#gift h2:after{content:'';display:block;width:1px;height:42px;background:#000;position:absolute;top:0;left:50%;}
#gift .sub-title{display:block;line-height:1.1;text-align:center;font-size:22px;color:#000;margin-top:10px;}

#gift .bx{margin-top:67px;}
#gift .bx .tab{width:270px;background:url(/page/ecology/images/main/bg_gift01.jpg) left bottom repeat;background-size:cover;float:left;height:460px;border-top-right-radius:50px;padding-top:55px;}
#gift .bx .tab a{display:block;height:70px;line-height:70px;padding-left:105px;color:#fff;font-size:26px;text-shadow:0px 0px 1px rgba(0,0,0,.5);transition:all .2s;position:relative;}
#gift .bx .tab a:hover{transform:scale(1.1);}
#gift .bx .tab a.active{font-size:36px;font-weight:900;text-shadow:3px 3px 5px rgba(0,0,0,.5);padding-left:127px;pointer-events:none;}
#gift .bx .tab a:after{content:'';display:block;height:1px;width:0px;position:absolute;top:50%;left:0;background:rgba(255,255,255,.7);transition:all .2s .1s;}
#gift .bx .tab a:before{content:'';display:block;height:0px;width:0px;position:absolute;top:50%;margin-top:-10px;left:93px;background:rgba(255,255,255,.7);border-radius:50%;transition:all .2s;}
#gift .bx .tab a.active:after{width:75px;}
#gift .bx .tab a.active:before{width:20px;height:20px;transition-delay:.2s;}

#gift .view-bx{width:calc(100% - 270px);float:left;}
#gift .view-bx > div{margin-right:-20px;padding-left:98px;white-space:nowrap;position:relative;display:none;}
#gift .view-bx > div a{display:inline-block;vertical-align:top;width:216px;margin-left:calc((100% - 895px) / 3);text-align:center;}
#gift .view-bx > div a:first-child{margin-left:0;}
#gift .view-bx > div a:nth-child(2n){margin-top:50px;}
#gift .view-bx > div a .img{border-radius:120px;position:relative;overflow:hidden;box-shadow:5px 5px 12px 2px rgb(0 0 0 / 15%);}
#gift .view-bx > div a .img img{display:block;width:100%;}
#gift .view-bx > div a .img:after{content:'';display:block;width:120px;height:74px;border-radius:37px;position:absolute;top:45%;left:50%;margin:-37px 0 0 -60px;background:rgba(0,0,0,.75) url(/page/ecology/images/main/icon08.png) center center no-repeat;background-size:34px 34px;opacity:0;transition:all .2s;}
#gift .view-bx > div a:hover .img:after{opacity:1;top:50%}
#gift .view-bx > div .item span{display:inline-block;margin-top:25px;position:relative;font-size:18px;font-weight:700;color:#000;padding:0 10px;line-height:1.1;z-index:1;}
#gift .view-bx > div .item span:before{content:'';display:block;z-index:-1;height:16px;bottom:-8px;position:absolute;left:0;right:0;background:url(/page/ecology/images/main/patten04.png) center center repeat;border-radius:8px;}
#gift .view-bx > div .more{font-size:0;color:transparent;display:block;width:47px;height:47px;border:1px solid #535353;position:absolute;top:-20px;right:0px;transition:all .1s;}
#gift .view-bx > div .more:after{content:'';display:block;height:26px;width:1px;background:#535353;position:absolute;top:50%;left:50%;margin:-13px 0 0 -0.5px;transition:all .1s;}
#gift .view-bx > div .more:before{content:'';display:block;height:1px;width:26px;background:#535353;position:absolute;top:50%;left:50%;margin:-0.5px 0 0 -13px;transition:all .1s;}
#gift .view-bx > div .more:hover{background:#535353;}
#gift .view-bx > div .more:hover:before,
#gift .view-bx > div .more:hover:after{background:#fff;}

#gift .view-bx > div a{animation:movegift .8s ease 1 both;}
#gift .view-bx > div a:nth-child(2){animation-delay:.3s;}
#gift .view-bx > div a:nth-child(3){animation-delay:.6s;}
#gift .view-bx > div a:nth-child(4){animation-delay:.9s;}
#gift .view-bx > div a:nth-child(5){animation-delay:1.2s;}

@keyframes movegift{ 
    0%{opacity:0;transform:translateY(25%);}
    100%{opacity:1;transform:translateY(0%);} 
}


#method{position:relative;background:#f8f8f8 url(/page/ecology/images/main/bg_method.png) center left no-repeat;background-size:cover;padding-bottom:110px;}
#method h2{text-align:center;padding-top:55px;line-height:1.2;font-size:40px;font-weight:900;color:#000;position:relative;}
#method h2:after{content:'';display:block;width:1px;height:42px;background:#000;position:absolute;top:0;left:50%;}
#method .sub-title{display:block;line-height:1.1;text-align:center;font-size:22px;color:#000;margin-top:10px;}
#method .bx{padding-top:30px;}
#method .bx a{display:block;background:#fff;width:calc((100% - 30.2px) / 2);margin:38px 30px 0 0;float:left;padding:27px 30px 10px 30px;transition:all .05s;z-index:1;}
#method .bx a:before{content:'';display:block;background:#000;z-index:-1;position:absolute;top:0;height:0%;left:0;right:0;transition:all .6s;}
#method .bx a:nth-child(2n){margin-right:0;}
#method .bx strong{display:block;border-bottom:2px solid #000;font-size:24px;font-weight:700;color:#000;position:relative;height:56px;line-height:56px;}
#method .bx strong em{font-size:28px;font-weight:900;}
#method .bx p{margin-top:20px;line-height:1.5em;min-height:4.5em;font-size:18px;color:#000;word-break:keep-all;}
#method .bx strong:after{content:'';display:block;width:54px;height:54px;position:absolute;bottom:8px;right:0;background:url(/page/ecology/images/main/icon09.png) center center no-repeat;background-size:cover;transition:all .15s;}
#method .bx a:nth-child(2) strong:after{background-image:url(/page/ecology/images/main/icon10.png);}
#method .bx a:nth-child(3) strong:after{background-image:url(/page/ecology/images/main/icon11.png);}
#method .bx a:nth-child(4) strong:after{background-image:url(/page/ecology/images/main/icon12.png);}

#method .bx a:hover:before{height:100%;opacity:.8;}
#method .bx a:hover strong{color:#fff;border-color:#fff;}
#method .bx a:hover p{color:#fff;}
#method .bx a:hover strong:after{filter:invert(10) brightness(100);image-rendering:-webkit-optimize-contrast;}

#news{position:relative;background:#f8f8f8;background:linear-gradient(to bottom, #f8f8f8 0%, #fff 100%);}
#news:before{content:'';display:block;width:1087px;height:632px;position:absolute;bottom:0;right:0;background:url(/page/ecology/images/main/bg_news.png) right bottom no-repeat;background-size:cover;}

#notify{position:relative;width:45%;z-index:1;padding:80px 45px 80px 0;color:#fff;float:left;}
#notify:before{content:'';display:block;position:absolute;bottom:0;top:0;right:0;width:900px;background:#103043;border-top-right-radius:100px;z-index:-1;}
#notify h2{padding-left:45px;font-weight:900;font-size:40px;line-height:1.1;position:relative;}
#notify h2 em{font-size:32px;font-weight:700;} 
#notify h2:after{content:'';display:block;height:1px;width:28px;background:#fff;position:absolute;top:50%;left:0;}
#notify > p{line-height:1.4;margin-top:10px;padding-left:45px;word-break:keep-all;font-weight:300;font-size:20px;}
#notify .more{display:block;position:absolute;right:45px;top:200px;font-size:18px;padding-right:18px;color:#fff;height:30px;line-height:32px;}
#notify .more:after{content:'';display:block;width:8px;height:8px;border:1px solid #fff;border-width:1px 1px 0 0;transform:rotate(45deg);position:absolute;right:0;top:50%;margin-top:-4px;}
#notify .bx{padding-top:20px;}
#notify .bx a{display:block;margin-top:30px;transition:all .15s;position:relative;padding:20px 20px 20px 125px;border:1px solid #516977;color:#fff;}
#notify .bx a .date{display:block;position:absolute;top:50%;transform:translateY(-50%);text-align:center;width:120px;font-size:18px;left:0;line-height:1.3;}
#notify .bx a .date strong{display:block;margin-top:0px;font-size:28px;font-weight:900;}
#notify .bx a p em{display:block;width:67px;height:25px;line-height:27px;color:#fff;font-weight:700;font-size:15px;background:#ff9500;text-align:center;}
#notify .bx a:nth-child(2n) p em{background:#208d76}
#notify .bx a:nth-child(3n) p em{background:#9b3aa9}
#notify .bx a p strong{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-top:9px;font-size:18px;}
#notify .bx a p span{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-top:2px;font-size:16px;font-weight:300;}
#notify .bx a:hover{background:#fff;color:#000;border-color:#000;}

#sns{position:relative;margin-top:70px;padding:0 0 30px 45px;width:55%;float:left;}
#sns .title-bx{position:absolute;top:5px;left:40px;z-index:10;}

#sns h2{font-weight:700;font-size:32px;line-height:1.1;position:relative;}
#sns h2 strong{font-size:40px;font-weight:900;color:#2d84bb;} 
#sns h2:after{content:'';display:block;height:1px;width:28px;background:#000;position:absolute;top:50%;left:-45px;}
#sns .title-bx p{line-height:1.4;margin-top:10px;word-break:keep-all;font-weight:300;font-size:20px;color:#000}
#sns .title-bx > div{margin-top:18px;display:inline-block;padding:10px 25px;background:#e5e5e5;border-radius:25px;}
#sns .title-bx > div a{display:inline-block;vertical-align:top;border-radius:5px;overflow:hidden;width:25px;}
#sns .title-bx > div a + a{margin-left:13px}
#sns .title-bx > div a img{display:block;width:100%;image-rendering:-webkit-optimize-contrast;}
#sns .title-bx > div a:hover{transform:scale(1.1);}

#sns .bx{position:relative;text-align:right;}
#sns .bx a{display:inline-block;vertical-align:top;width:calc((100% - 30px) / 2);box-shadow:5px 5px 9px 0px rgba(0,0,0,.2);overflow:hidden;border-top-left-radius:45px;position:relative;margin-bottom:28px;}
#sns .bx a:first-child{margin-right:26px;position:relative;top:220px;}
#sns .bx a img{display:block;width:100%;transition:all .2s;image-rendering:-webkit-optimize-contrast;}
#sns .bx a:hover img{transform:scale(1.1);}
#sns .bx a .text{background:#1e1e1e;padding:14px 120px 11px 15px;color:#fff;position:relative;}
#sns .bx a .text strong{display:block;line-height:1.5;word-break:keep-all;max-height:3em;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;font-size:18px;text-align:left;font-weight:400;}
#sns .bx a .text span{line-height:1.1;color:#d1d1d1;font-weight:300;position:absolute;right:15px;bottom:20px;}
#sns .bx a .text:before{content:'';z-index:1;background:#fff;width:60px;height:60px;border-radius:50%;position:absolute;top:-30px;right:15px;}
#sns .bx a .text:after{content:'';z-index:2;background:url() 0 0 no-repeat;background-size:cover;width:34px;height:34px;border-radius:7px;position:absolute;top:-17px;right:27px;image-rendering:-webkit-optimize-contrast;}
#sns .bx a.insta .text:after{background-image:url(/page/ecology/images/main/icon13.png);}
#sns .bx a.utube .text:after{background-image:url(/page/ecology/images/main/icon14.png);}
#sns .bx a.facebook .text:after{background-image:url(/page/ecology/images/main/icon15.png);}
#sns .bx a.blog .text:after{background-image:url(/page/ecology/images/main/icon16.png);}

#sns .bx a:hover .text:after{animation:movesns .5s ease 1 both;}

@keyframes movesns{ 
    0%{transform:scale(1);}
    50%{transform:scale(1.1);} 
    100%{transform:scale(1);} 
}
