

@charset "utf-8";

#sub{overflow:hidden;}
#sub #content{padding-bottom:60px;}
#sub .inner{max-width:1400px;padding:0 20px;}

@media (max-width:1399px) {
  #sub #content{padding-bottom:40px;}
}

@media (max-width:760px) {
  #sub .inner{padding:0 15px;}
  #sub #content{padding-bottom:30px;}
}

@media (max-width:1040px) {
  .skinTb-wrapper.width1000{margin-right:-20px;}
}

@media (max-width:808px) {
  .skinTb-wrapper.width768{margin-right:-20px;}
}

@media (max-width:670px) {
  .skinTb-wrapper.width640{margin-right:-15px;}
}


#visual-bx{height:425px;position:relative;display:flex;margin-bottom:40px;flex-direction:column;align-items:center;justify-content:center;font-family:'S-CoreDream', sans-serif;color:#fff;padding-top:60px;}
#visual-bx img{display:block;position:absolute;top:0;left:50%;width:1920px;margin-left:-960px;}
#visual-bx h2{position:relative;font-weight:700;font-size:40px;line-height:1.2;text-shadow:0px 0px 5px rgba(0,0,0,.8);}
#visual-bx p{position:relative;margin-top:18px;padding-top:20px;font-size:20px;font-weight:300;line-height:1.3;text-shadow:0px 0px 3px rgba(0,0,0,.8);word-break:keep-all;text-align:center;padding-left:20px;padding-right:20px;}
#visual-bx p:after{content:'';display:block;width:20px;height:1px;background:#fff;position:absolute;top:0;left:50%;margin-left:-10px;}
#visual-bx .menu-tab{position:absolute;width:1360px;left:50%;margin-left:-680px;bottom:-40px;height:76px;background:url(/page/ecology/images/sub/bg_tab.png) left center no-repeat;background-size:cover;display:flex}
#visual-bx .menu-tab a{flex:1;display:block;height:76px;line-height:74px;color:#fff;font-size:17px;text-align:center;transition:all .1s;position:relative;}
#visual-bx .menu-tab a:hover{font-size:19px;font-weight:500;}
#visual-bx .menu-tab a.active{pointer-events:none;}
#visual-bx .menu-tab a.active:after{content:'';display:block;position:absolute;bottom:0;width:200px;height:9px;background:#fff;left:50%;margin-left:-100px;}


@media (max-width:1399px) {
  #visual-bx .menu-tab{display:none;}
  #visual-bx{height:310px;margin-bottom:0px;padding-top:50px;}
  #visual-bx img{width:1400px;margin-left:-700px;}
  #visual-bx h2{font-size:36px;}
  #visual-bx p{margin-top:15px;padding-top:17px;font-size:18px;}
}


@media (max-width:991px) {
  #visual-bx{height:266px;margin-bottom:0px;}
  #visual-bx img{width:1200px;margin-left:-600px;}
  #visual-bx h2{font-size:32px;}
  #visual-bx p{font-size:16px;}
}


@media (max-width:760px) {
  #visual-bx{height:222px;margin-bottom:0px;}
  #visual-bx img{width:1000px;margin-left:-500px;}
  #visual-bx h2{font-size:28px;}
  #visual-bx p{font-size:14px;}
}

#sub .title-bx{position:relative;padding:35px 0 40px;margin-bottom:40px;}
#sub .title-bx:after{content:'';display:block;position:absolute;bottom:0;left:0;right:0;background: url(/page/ecology/images/sub/patten01.png) 0 0 repeat-x;background-size:4px 6px;height:6px;}
#sub .title-bx h3{font-family:'S-CoreDream', sans-serif;font-weight:700;font-size:3rem;color:#313131;padding-right:40px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

#sub .title-bx .btn_box{position:absolute;top:50%;margin-top:-24px;right:0;transform-origin:100% 50%;}
#sub .title-bx .btn_box .share{display:inline-block;vertical-align:top;position:relative;}
#sub .title-bx .btn_box .share .open{display:block;width:45px;height:45px;border:1px solid #a0a0a0;border-radius:15px;font-size:0;transition:all .1s;}
#sub .title-bx .btn_box .share .open:after{content:'';display:block;background:url(/page/ecology/images/common/sp_ecology.png) -90px -10px no-repeat;background-size:520px 520px;position:absolute;width:20px;height:20px;left:50%;top:50%;margin:-10px 0 0 -10px;image-rendering:-webkit-optimize-contrast;}
#sub .title-bx .btn_box .share .open:hover{background:#a0a0a0}
#sub .title-bx .btn_box .share .open:hover:after{background-position-y:-50px;}

#sub .title-bx .btn_box .print{display:inline-block;vertical-align:top;margin-left:8px;width:45px;height:45px;border:1px solid #a0a0a0;border-radius:15px;font-size:0;position:relative;}
#sub .title-bx .btn_box .print:after{content:'';display:block;background:url(/page/ecology/images/common/sp_ecology.png) -130px -10px no-repeat;background-size:520px 520px;position:absolute;width:20px;height:20px;left:50%;top:50%;margin:-10px 0 0 -9px;image-rendering:-webkit-optimize-contrast;}
#sub .title-bx .btn_box .print:hover{background:#a0a0a0}
#sub .title-bx .btn_box .print:hover:after{background-position-y:-50px;}

#sub .title-bx .share .view{position:absolute;top:0;right:-1px;background:#dadada;border-radius:15px;padding:13px 2px 12px;white-space:nowrap;display:none;bottom:-1px;}
#sub .title-bx .share .view a{display:inline-block;width:44px;vertical-align:top;height:21px;font-size:0;color:transparent;position:relative;}
#sub .title-bx .share .view a + a{margin-left:-3px;border-left:1px dotted #a8acb2;}
#sub .title-bx .share .view a:after{content:'';display:block;background:url(/page/ecology/images/common/sp_ecology.png) -409px -9px no-repeat;background-size:520px 520px;position:absolute;width:22px;height:22px;left:50%;top:50%;margin:-11px 0 0 -11px;image-rendering:-webkit-optimize-contrast;}
#sub .title-bx .share .view a.blog:after{background-position:-209px -7px;height:23px;}
#sub .title-bx .share .view a.facebook:after{background-position-x:-249px;}
#sub .title-bx .share .view a.insta:after{background-position-x:-289px;}
#sub .title-bx .share .view a.utube:after{background-position-x:-329px;}

#sub .title-bx .share .view a.i-sns:hover:after{background-position-y:-49.5px;}
#sub .title-bx .share .view a.i-sns.blog:hover:after{background-position-y:-47.5px;}



@media (max-width:1399px) {
  #sub .title-bx{padding:25px 0 25px;margin-bottom:30px;}
  #sub .title-bx:after{background-size:2px 3px;height:3px;}
  #sub .title-bx h3{font-size:2.8rem;}

  #sub .title-bx .btn_box{transform:scale(.9);}
  #sub .title-bx .btn_box .print{display:none;}
 
}


@media (max-width:991px) {
  #sub .title-bx{padding:22px 0 22px;margin-bottom:25px;}
  #sub .title-bx h3{font-size:2.7rem;}
  #sub .title-bx .btn_box{transform:scale(.85);}
}


@media (max-width:760px) {
  #sub .title-bx{padding:18px 0 18px;margin-bottom:22px;}
  #sub .title-bx h3{font-size:2.6rem;}
  #sub .title-bx .btn_box{transform:scale(.73);}
}

#sub .pageTab{font-family:'NanumSquareRound', 'Noto Sans KR', sans-serif;}
#sub .pageTab > li{background:#ececec;border:0;border-radius:26px;}
#sub .pageTab > li a{color:#5c5c5c;font-weight:500;justify-content: flex-start;padding-left:30px;position:relative;}
#sub .pageTab > li a:hover{text-decoration:none;}
#sub .pageTab >li.active{background:#1f8371}
#sub .pageTab > li.active a{color:#fff;font-weight:700;}
#sub .pageTab > li a:before{content:'→';position:absolute;top:50%;margin-top:-0.5em;line-height:1em;height:1em;right:25px;font-weight:700;font-size:18px;}


#sub .contsLead{border-bottom:3px solid #c7c8da;border-top-left-radius:100px;padding:3px;}
#sub .contsLead:before{background:#1f8371;border-top-left-radius:103px;height:120px;}
#sub .contsLead-conts{border-top-left-radius:100px;overflow:hidden;padding:10px 0 0px 50px;}

.titLv{font-weight:900;color:#123347;}
.titLv2{font-weight:700;color:#313131;padding-left:32px;}
.titLv2:before{top: 7px;width:26px;height:16px;background:url(/page/ecology/images/common/sp_ecology.png) -7px -92px no-repeat;background-size:520px 520px;}

.titLv3 {font-weight: 400;color:#333;}
.titLv3:before{top: 5px;left:25px;width:9px;height:14px;background:url(/page/ecology/images/common/sp_ecology.png) -55px -93px no-repeat;background-size:520px 520px;}
p.listLv3:before,
div.listLv3:before,
span.listLv3:before,
.listLv3 >li:before,
.listLv3 >dt:before {top:9px;}

p.listLv2:before,
div.listLv2:before,
span.listLv2:before,
.listLv2 >li:before,
.listLv2 >dt:before{top:8px;}

p.listLv4:before,
div.listLv4:before,
span.listLv4:before,
.listLv4 >li:before,
.listLv4 >dt:before{top:9px}
.listLv{font-weight:400;font-size: 1.6rem;color:#707070;font-weight:400;}
.pgraph{color:#707070;}
.imptBox {background:#e8f4f2;}

#sub .skinTb:before {border-color:#1f8371;}
#sub .skinTb-th,
#sub .skinTb >tr >th,
#sub .skinTb >thead >tr >th,
#sub .skinTb >tbody >tr >th,
#sub .skinTb >tfoot >tr >th {font-weight:700;background-color:#e8f4f2;color:#123347;border-bottom-color:#1f8371;}

#sub .skinTb >tbody >tr >th,
#sub .skinTb-th{border-bottom-color:#d8d8d8;}
#sub .skinTb-wrapper{padding-left:1px;}

#sub .contsBtn {border-color:#1f8371;color:#1f8371;font-weight:400;}
#sub .contsBtn:hover, #sub .contsBtn:focus{color:#fff;}
#sub .contsBtn:before{background:#1f8371}

#sub .skinBtnBo{font-weight:400;color:#1f8371;border-color:#1f8371;}
#sub .skinBtnBo:hover, #sub .skinBtnBo:focus{color:#fff;}
#sub .skinBtnBo:before{background:#1f8371}
#sub input.skinBtnBo{color:#fff;}

#sub .contsBtn > a.contsBtn-download:after{background-position:-372px -610px;}
#sub .contsBtn > a.contsBtn-more:after{background-position:-412px -610px;}
#sub .contsBtn > a.contsBtn-move:after{background-position:-448px -608px;}
#sub .contsBtn > a.contsBtn-play:after{background-position:-487px -606px;}

#sub .contsBtn:hover > a.contsBtn-download:after{background-position:-372px -650px;}
#sub .contsBtn:hover > a.contsBtn-more:after{background-position:-412px -650px;}
#sub .contsBtn:hover > a.contsBtn-move:after{background-position:-448px -648px;}
#sub .contsBtn:hover > a.contsBtn-play:after{background-position:-487px -647px;}

#sub .contsBtn > a.contsBtn-download:focus:after{background-position:-372px -650px;}
#sub .contsBtn > a.contsBtn-more:focus:after{background-position:-412px -650px;}
#sub .contsBtn > a.contsBtn-move:focus:after{background-position:-448px -648px;}
#sub .contsBtn > a.contsBtn-play:focus:after{background-position:-487px -647px;}

@media (max-width:1199px) {
  #sub .pageTab > li a:before{right:20px;font-size:16px;}
  #sub .pageTab > li a{padding-left:20px;}
  #sub .contsLead-conts{padding:10px 0 0px 20px;}
  #sub .titLv2{padding-left:31px;}
  #sub .titLv2:before{top:5px;}
  #sub .titLv3:before{left:2px;}
}

@media (max-width:760px) {
  #sub .pageTab > li a:before{display:none;}
  #sub .pageTab > li{border-radius:0px;}

  #sub .contsLead:before{border-top-left-radius:73px;height:100px;}
  #sub .contsLead-conts{border-top-left-radius:70px;padding:10px 0 0px 10px;}
  #sub .contsLead-txt{padding-bottom:0;}

  p.listLv3:before,
  div.listLv3:before,
  span.listLv3:before,
  .listLv3 >li:before,
  .listLv3 >dt:before {top:8px;}

  p.listLv2:before,
  div.listLv2:before,
  span.listLv2:before,
  .listLv2 >li:before,
  .listLv2 >dt:before{top:7px;}

  p.listLv4:before,
  div.listLv4:before,
  span.listLv4:before,
  .listLv4 >li:before,
  .listLv4 >dt:before{top:8px}
}

/*검색박스*/
input[type="search"]:focus::placeholder,
input[type="text"]:focus::placeholder{color:transparent}

#search-box{position:relative;padding:38px 175px;}
#search-box:before{content:'';display:block;width:1920px;position:absolute;left:50%;margin-left:-960px;top:0;bottom:0;background:#f4f4f4;}
#search-box .bx{float:left;position:relative;background:#fff;border:1px solid #b5b5b5;padding:0 20px;border-radius:28px;}
#search-box .bx-1{width:153px;margin-right:15px;}
#search-box .bx-2{width:calc(100% - 168px);padding-right:55px;}
#search-box select{display:block;width:100%;line-height:54px;height:54px;background:transparent;font-size:16px;color:#707070;}
#search-box input[type="search"]{line-height:54px;height:54px;background:transparent;display:block;width:100%;font-size:16px;color:#000;}
#search-box input[type="search"]::placeholder{font-size:16px;color:#000;}
#search-box input[type="submit"]{display:block;width:54px;height:54px;position:absolute;top:-1px;right:0;background:url(/page/ecology/images/common/icon-q.png) 3px 50% no-repeat;background-size:30px 27px;font-size:0;color:transparent;image-rendering:-webkit-optimize-contrast;}


@media (max-width:1399px) {
  #search-box{padding:30px 100px;}
  #search-box .bx{padding:0 15px;}
  #search-box .bx-1{width:150px}
  #search-box .bx-2{width:calc(100% - 165px);padding-right:40px;}
  #search-box select{line-height:42px;height:42px;font-size:14px;}
  #search-box input[type="search"]{line-height:42px;height:42px;font-size:14px;}
  #search-box input[type="search"]::placeholder{font-size:14px;}
  #search-box input[type="submit"]{width:42px;height:43px;background-size:25px 22.5px;}
}

@media (max-width:992px) {
  #search-box{padding:25px 35px;}
}

@media (max-width:760px) {
  #search-box{padding:20px 0px;}
  #search-box .bx{padding:0 10px;}
  #search-box .bx-1{width:90px;margin-right:7px;}
  #search-box .bx-2{width:calc(100% - 97px);padding-right:36px;}
  #search-box select{line-height:36px;height:36px;font-size:13px;}
  #search-box input[type="search"]{line-height:36px;height:36px;}
  #search-box input[type="submit"]{width:36px;height:37px;background-size:22px 19.8px;}
}


/*갤러리 리스트*/
.ga-list{padding-top:40px;border-bottom:1px solid #c1c1c1;}
.ga-list .bx{display:block;width:calc((100% - 60px) / 4);margin:0 20px 50px 0;float:left;}
.ga-list .bx:hover{text-decoration:none;}
.ga-list .bx:nth-child(4n){margin-right:0;}
.ga-list .img{overflow:hidden;border-radius:25px;position:relative;}
.ga-list .img img{display:block;width:100%;}
.ga-list .img:after{content:'';display:block;width:38px;height:38px;opacity:0;background:url(/page/ecology/images/sub/icon-p.png) 0 0 no-repeat;background-size:38px 38px;image-rendering:-webkit-optimize-contrast;position:absolute;top:50%;left:50%;margin:-19px 0 0 -19px}
.ga-list .bx:hover .img:after{animation:rotate01 .25s ease 1 both;}
@keyframes rotate01{ 
  0%{opacity:0.3;transform:rotate(0deg);}
  100%{opacity:1;transform:rotate(180deg);}
}
.ga-list .img:before{content:'';display:block;position:absolute;top:0;left:0;right:0;bottom:0;background:url(/page/ecology/images/sub/bg-p.png) 0 0 no-repeat;background-size:cover;opacity:0;transition:all .1s linear;}
.ga-list .bx:hover .img:before{opacity:1;}
.ga-list strong{display:block;margin-top:25px;line-height:1.2;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#1b1b1b;font-size:20px;font-weight:700;}
.ga-list span{display:block;margin-top:5px;line-height:1.2;color:#313131;font-size:16px;font-weight:300;}

@media (max-width:1399px) {
  .ga-list{padding-top:30px;}
  .ga-list .bx{width:calc((100% - 45px) / 4);margin:0 15px 35px 0;}
  .ga-list .img{border-radius:20px;}
  .ga-list strong{margin-top:20px;font-size:16px;}
  .ga-list span{margin-top:5px;font-size:14px;}
}

@media (max-width:992px) {
  .ga-list{padding-top:25px;}
  .ga-list .bx{width:calc((100% - 39px) / 4);margin:0 13px 25px 0;}
  .ga-list strong{margin-top:15px;font-size:15px;}
  .ga-list span{margin-top:3px;font-size:13px;}
}

@media (max-width:760px) {
  .ga-list{max-width:500px;margin:0 auto;}
  .ga-list .bx{width:calc((100% - 13px) / 2);margin:0 13px 20px 0;}
  .ga-list .img{border-radius:10px;}
  .ga-list .bx:nth-child(2n){margin-right:0;}
  .ga-list strong{margin-top:13px;font-size:14px;}
  .ga-list span{margin-top:3px;font-size:12px;}
}

/*통합검색*/
#total-search{position:relative;padding-bottom:50px;}
#total-search .popular{padding:35px 0 32px;text-align:center;}
#total-search .popular strong{display:inline-block;vertical-align:top;padding-right:15px;height:20px;line-height:20px;color:#454545;font-weight:300;position:relative;}
#total-search .popular strong:after{content:'';display:block;width:2px;height:14px;background:#b8b8b8;position:absolute;top:50%;margin-top:-7px;right:0;}
#total-search .popular a{display:inline-block;vertical-align:top;height:20px;line-height:20px;margin-left:13px;color:#454545;font-weight:300;}
#total-search .popular a em{display:inline-block;vertical-align:top;height:20px;width:20px;line-height:20px;background:#7b7b7b;color:#fff;font-weight:400;border:1px solid #515151;transition:all .1s;text-align:center;margin-right:5px;}
#total-search .popular a:hover{text-decoration:none;}
#total-search .popular a:hover em{background:#1f8371;}

#total-search .period{position:relative;background:#f7f7f7;border:1px solid #b5b5b5;border-radius:25px;padding:30px 45px;}
#total-search .period .bx-1{float:left;}
#total-search .period .bx-1 > div{display:inline-block;vertical-align:top;}
#total-search .period .bx-2{float:right;}
#total-search .period strong{display:inline-block;vertical-align:top;height:34px;line-height:36px;color:#454545;font-size:18px;font-weight:500;padding-right:2px;}
#total-search .period .bx-1 div:nth-of-type(n+2) strong{margin-left:40px;}
#total-search .period a{display:inline-block;vertical-align:top;margin-left:5px;width:77px;height:34px;line-height:34px;text-align:center;background:#fff;border:1px solid #1f8371;border-radius:5px;color:#1f8371;transition:all .05s;font-size:14px;font-weight:400;}
#total-search .period a:hover{background:#1f8371;color:#fff;text-decoration:none;}
#total-search .period .bx:nth-child(2n) > div{display:inline-block;vertical-align:top;}
#total-search .period label{display:inline-block;vertical-align:top;height:34px;line-height:36px;color:#454545;font-size:18px;font-weight:500;padding-right:2px;}
#total-search .period input[type="text"]{height:34px;line-height:34px;padding-left:15px;margin-left:6px;border:1px solid #b1b1b1;width:130px;}
#total-search .ui-datepicker-trigger{margin:5px 0 0 1px;vertical-align:top;}
#total-search .period .data_end{position:relative;padding-left:35px;}
#total-search .period .data_end:after{content:'';display:block;width:5px;height:1px;background:#676767;position:absolute;top:50%;left:12px;}
#total-search .period input[type="submit"]{margin-left:15px;height:34px;line-height:36px;color:#fff;background:#4d5360;font-size:15px;font-weight:400;width:75px;}

#total-search .result{position:relative;}
#total-search .result h4 br{display:none;}
#total-search .result h4{text-align:center;padding:35px 0 35px;font-weight:400;color:#454545;font-size:22px;}
#total-search .result h4 span{color:#1f8371;font-weight:900;}
#total-search .result h4 strong{font-weight:700;color:#fa830f;text-decoration:underline;}
#total-search .total{position:relative;background:#f7f7f7;border:1px solid #b5b5b5;border-radius:25px;padding:13px 45px 25px;}
#total-search .total li{margin:17px 0px 0 0;padding-left:16px;position:relative;display:inline-block;width:calc((100% - 15px) / 5)}
#total-search .total li a{display:block;height:25px;line-height:25px;color:#313131;font-weight:500;transition:all .1s;}
#total-search .total li.active a{font-weight:900;}
#total-search .total li:after{content:'';display:block;width:8px;height:8px;border:1px dotted #313131;border-width:0px 0px 1px 1px;position:absolute;top:5px;left:0px;}

#total-search .result h4.none{text-align:left;padding-bottom:5px;color:#1f8371;font-weight:700;font-size:18px;padding-left:20px;}
#total-search .no_result{margin:5px 0 36px;padding-left:20px;}
#total-search .no_result li{line-height:1.4;color:#707070;font-weight:500;padding-left:12px;position:relative;}
#total-search .no_result li:after{content:'-';display:block;position:absolute;top:1px;left:0px;}
#total-search .no_result li + li{margin-top:5px;}

#total-search .item{margin-top:60px;position:relative;}
#total-search .item h5{height:44px;line-height:44px;padding-left:20px;background:#f7f7f7;border:1px solid #b5b5b5;border-radius:22px;font-size:18px;color:#313131;font-weight:700;margin-bottom:5px;}
#total-search .item li a{display:block;border-bottom:1px dashed #979797;padding:23px 20px;}
#total-search .item li a:hover{text-decoration:none;}
#total-search .item li a strong{display:block;color:#1f8371;font-size:18px;margin-bottom:7px;font-weight:500;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;transition:all .1s;}
#total-search .item li a:hover strong{font-weight:900;}
#total-search .item li a p{line-height:1.6;margin-bottom:5px;max-height:3.2em;word-break:keep-all;color:#707070;font-size:16px;font-weight:400;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}
#total-search .item li a span{display:block;color:#02987e;font-weight:400;}
#total-search .item li a span em{margin-left:10px;padding-left:12px;position:relative;}
#total-search .item li a span em:after{content:'';display:block;height:12px;width:1px;position:absolute;top:50%;margin-top:-6px;left:0px;background:#02987e;}
#total-search .item .more{position:absolute;color:#454545;top:11px;right:20px;}
#total-search .item .more:hover{text-decoration:none;font-weight:700;}
#total-search .highlight{background:#fff93b;}

#total-search .ga-list{padding-top:25px;border-bottom:0;margin-bottom:-17px;}
#total-search .ga-list .bx{margin-bottom:17px;}
#total-search .menu{padding:18px 20px 27px;border-bottom:1px dashed #979797;}
#total-search .menu a{display:block;margin-top:7px;font-weight:500;color:#434343;}


@media (max-width:1399px) {
  #total-search{padding-bottom:35px;}
  #total-search .popular{padding:30px 0 23px;}
  #total-search .popular strong{font-size:15px;padding-right:15px;height:18px;line-height:18px;}
  #total-search .popular strong:after{width:1px;height:12px;margin-top:-6px;}
  #total-search .popular a{margin-left:13px;font-size:15px;height:18px;line-height:18px;}
  #total-search .popular a em{width:18px;height:18px;line-height:18px;font-size:13px;}

  #total-search .period{border-radius:20px;padding:20px 35px;}
  #total-search .period .bx-1{float:none;}
  #total-search .period .bx-2{float:right;margin-top:15px;}
  #total-search .period strong{height:30px;line-height:32px;font-size:16px;}
  #total-search .period .bx-1 div:nth-of-type(n+2) strong{margin-left:30px;}
  #total-search .period a{margin-left:5px;width:65px;height:30px;line-height:28px;font-size:13px;}
  #total-search .period label{height:30px;line-height:32px;font-size:16px;}
  #total-search .period input[type="text"]{height:30px;line-height:30px;padding-left:12px;margin-left:5px;width:100px;font-size:15px;}
  #total-search .ui-datepicker-trigger{margin:3px 0 0 1px;}
  #total-search .period .data_end{padding-left:30px;}
  #total-search .period .data_end:after{left:10px;}
  #total-search .period input[type="submit"]{margin-left:10px;height:30px;line-height:32px;font-size:14px;width:70px;}

  #total-search .result h4{padding:30px 0 30px;font-size:20px;}

  #total-search .total{border-radius:20px;padding:8px 35px 20px;}
  #total-search .total li{margin:15px 0px 0 0;}
  #total-search .total li a{font-size:15px;}
  #total-search .total li:after{width:6px;height:6px;top:5px;}

  #total-search .result h4.none{font-size:16px;padding-left:15px;}
  #total-search .no_result{margin:5px 0 30px;padding-left:15px;}
  #total-search .no_result li{font-size:15px;}

  #total-search .item{margin-top:50px;}
  #total-search .item h5{height:40px;line-height:40px;padding-left:15px;font-size:16px;}
  #total-search .item li a{padding:20px 15px;}
  #total-search .item li a strong{font-size:15px;margin-bottom:5px;}
  #total-search .item li a p{font-size:14px;margin-bottom:3px;}
  #total-search .item li a span{font-size:13px;}
  #total-search .item li a span em{margin-left:8px;padding-left:10px;}
  #total-search .item li a span em:after{height:10px;margin-top:-5px;}
  #total-search .item .more{top:10px;right:15px;font-size:14px;}

  #total-search .ga-list{padding-top:20px;}
  #total-search .menu{padding:13px 15px 22px;}
  #total-search .menu a{margin-top:5px;font-size:15px;}
}


@media (max-width:760px) {
  #total-search{padding-bottom:25px;}
  #total-search .popular{padding:22px 0 15px;text-align:left;}
  #total-search .popular strong{font-size:15px;display:block;margin-bottom:10px;font-weight:700;}
  #total-search .popular strong:after{display:none;}
  #total-search .popular a{margin-left:0px;font-size:14px;height:18px;line-height:18px;width:30%;}

  #total-search .period{border-radius:15px;padding:15px;}
  #total-search .period .bx-1 > div{display:block;}
  #total-search .period .bx-1 div:nth-of-type(n+2){margin-top:5px;}
  #total-search .period .bx-1 div:nth-of-type(n+2) strong{margin-left:0;}
  #total-search .period .bx-2{float:none;margin-top:7px;}
  #total-search .period strong{height:26px;line-height:28px;font-size:14px;width:40px;}
  #total-search .period a{margin-left:5px;width:60px;height:26px;line-height:25px;font-size:12px;}
  #total-search .period label{height:26px;line-height:28px;font-size:14px;width:40px;}
  #total-search .period input[type="text"]{height:26px;line-height:26px;padding-left:10px;margin-left:5px;width:calc(100% - 100px);font-size:14px;}
  #total-search .ui-datepicker-trigger{margin:1px 0 0 1px;}
  #total-search .period .bx:nth-child(2n) > div{display:block;margin-bottom:2px;}
  #total-search .period .data_end{padding-left:0px;}
  #total-search .period .data_end:after{display:none;}
  #total-search .period input[type="submit"]{margin-left:0px;height:26px;line-height:28px;font-size:13px;width:100%;margin-top:5px;}

  #total-search .result h4{padding:27px 0 25px;font-size:16px;}
  #total-search .result h4 br{display:block;}

  #total-search .total{border-radius:15px;padding:8px 15px 10px;}
  #total-search .total li{margin:7px 0px 0 0;width: calc((100% - 5px) / 2);}
  #total-search .total li a{font-size:14px;}


  #total-search .result h4.none{padding-left:5px;}
  #total-search .no_result{margin:5px 0 25px;padding-left:0px;}
  #total-search .no_result li{font-size:14px;}

  #total-search .item{margin-top:35px;}
  #total-search .item h5{height:36px;line-height:36px;padding-left:15px;font-size:15px;}
  #total-search .item li a{padding:15px 10px;}
  #total-search .item li a strong{font-size:15px;margin-bottom:5px;}
  #total-search .item li a p{font-size:14px;margin-bottom:3px;}
  #total-search .item li a span{font-size:13px;}
  #total-search .item li a span em{margin-left:8px;padding-left:10px;}
  #total-search .item li a span em:after{height:10px;margin-top:-5px;}
  #total-search .item .more{top:8px;}

  #total-search .ga-list{padding-top:15px;}
  #total-search .menu{padding:10px 0px 17px 10px;}
  #total-search .menu a{margin-top:3px;font-size:14px;}
}
