@charset "utf-8";

/*서브 공통*/
#progressScroll{display:none;}

#visual{position:relative;height:400px;width:100%;overflow:hidden}
#visual img{display:block;position:absolute;top:0px;left:50%;margin-left:-960px;}
#visual .inner{height:100%;text-align:center;}
#visual strong{display:block;font-weight:700;color:#fff;font-size:48px;text-shadow:2px 2px 2px rgba(0,0,0,.3);line-height:1.2;padding-top:210px;}
#visual span{display:block;font-weight:300;color:#fff;font-size:18px;text-shadow:1px 1px 1px rgba(0,0,0,.3);line-height:1.5;padding-top:15px;word-break:keep-all;}

.search #visual{height:270px;}

@media (max-width:1199px) {
    #visual{height:350px;}
    #visual img{width:1684px;left:0;margin-left:-400px;}
    #visual strong{font-size:40px;bottom:30px;right:50px;padding-top:165px;}
    #visual img.visual02{margin-left:-400px;}
    #visual img.visual03{margin-left:-250px;}
    #visual img.visual04{margin-left:-415px;}
}

@media (max-width:760px) {
    #visual{height:280px;}
    #visual img{width:1344px;margin-left:-550px;}
    #visual strong{font-size:30px;padding-top:125px;}
    #visual span{font-size:16px;max-width:80%;margin:0 auto;}
    #visual img.visual02{margin-left:-520px;}
    #visual img.visual03{margin-left:-260px;}
    #visual img.visual04{margin-left:-415px;}
}

#breadcrumb{position:relative;background:#1b2e59;z-index:30;}
#breadcrumb .home{display:block;float:left;width:50px;height:50px;position:relative;border:1px solid #8d97ac;border-width:0 1px;overflow:hidden;text-indent:-9999px;}
#breadcrumb .home:after{content:'';display:block;background:url(/page/common/images/sp_dq.png) -10px -51px no-repeat;background-size:520px 1500px;width:21px;height:18px;position:absolute;top:50%;left:50%;margin:-10px 0 0 -10px;}
#breadcrumb .box{float:left;width:185px;border-right:1px solid #8d97ac;position:relative;}
#breadcrumb .box .btn_open{width:100%;display:block;height:50px;line-height:48px;position:relative;padding:0 20px 0 15px;font-size:16px;color:#fff;font-weight:300;}
#breadcrumb .box .btn_open:hover, #breadcrumb .box .btn_open:focus{text-decoration:none;}
#breadcrumb .box .btn_open:after{content:'';display:block;background:url(/page/common/images/sp_dq.png) -253px -536px no-repeat;background-size:520px 1500px;width:15px;height:9px;position:absolute;right:10px;top:20px;transition:all .2s;}
#breadcrumb .box .btn_open:hover:after{animation: updown 300ms infinite alternate ease-in-out;}
#breadcrumb .box .btn_open.active:after{transform:rotate(180deg);}
@keyframes updown{ 
  0%{top:20px;}
  100%{top:23px;} 
}
#breadcrumb .box ul{position:absolute;left:-1px;right:-1px;top:50px;display:none;box-shadow:2px 2px 10px 0px rgba(0,0,0,.05);}
#breadcrumb .box ul a{display:block;height:48px;line-height:46px;border:1px solid #e8e8e8;padding:0 15px;white-space:nowrap;background:#fff;}
#breadcrumb .box ul li + li{margin-top:-1px;}
#breadcrumb .box ul a[target="_blank"]:after{content:'';display:inline-block;background:url(/page/common/images/sp_dq.png) -11px -92px no-repeat;background-size:520px 1500px;width:17px;height:17px;margin-left:6px;vertical-align:-2px;}


@media (max-width:1199px) {
    #breadcrumb{display:none;}
}


#contents_wrap{position:relative;overflow:hidden;padding-top:17px;}

#lnb{width:260px;float:left;letter-spacing:-2px;z-index:12;position:relative;margin-right:40px;}
#lnb h2{height:155px;background:#0384bd;color:#fff;line-height:1.1;padding:30px 20px 15px 20px;position:relative;}
#lnb h2 span{font-size:45px;display:block;font-weight:300;}
#lnb h2 span em{display:block;font-weight:700;font-size:48px;line-height:1.0;}
#lnb h2:after{content:'';display:block;background:url(/page/common/images/sp_dq.png) -16px -731px no-repeat;background-size:520px 1500px;width:85px;height:87px;position:absolute;right:18px;bottom:0px;}
#lnb h2.v2:after{right:11px;width:92px;height:74px;background-position:-135px -744px;}
#lnb h2.v3:after{right:15px;bottom:5px;width:74px;height:74px;background-position:-263px -740px;}
#lnb h2.v4:after{right:20px;bottom:5px;;width:102px;height:75px;background-position:-367px -740px;}
#lnb .depth_01{padding-bottom:50px;letter-spacing:-1px;}
#lnb .depth_01 > li{margin-top:10px;}
#lnb .depth_01 h3 a{display:block;height:50px;line-height:48px;padding:0 45px 0 20px;border:1px solid #c9c9c9;font-weight:500;font-size:17px;color:#313131;position:relative;}
#lnb .depth_01 h3 a:hover, #lnb .depth_01 h3 a:focus{text-decoration:none;}
#lnb .depth_01 h3.active a{background:#0384bd;border:0;font-size:19px;color:#fff}
#lnb .depth_01 h3 a[target="_blank"]:after{content:'';display:inline-block;background:url(/page/common/images/sp_dq.png) -11px -92px no-repeat;background-size:520px 1500px;width:17px;height:17px;margin-left:6px;vertical-align:-2px;}

#lnb .depth_01 h3 a .arrow{display:block;top:16px;right:20px;position:absolute;width:16px;height:16px;overflow:hidden;text-indent:-9999px;transition:all .3s;}
#lnb .depth_01 h3 a .arrow:before{content:'';display:block;width:2px;height:16px;background:#0384bd;position:absolute;top:0px;left:50%;margin-left:-1px;}
#lnb .depth_01 h3 a .arrow:after{content:'';display:block;width:16px;height:2px;background:#0384bd;position:absolute;top:50%;left:0;margin-top:-1px;}
#lnb .depth_01 h3 a:hover .arrow{transform:rotate(180deg);}
#lnb .depth_01 h3.active a .arrow:before{display:none;}
#lnb .depth_01 h3.active a .arrow:after{background:#fff}

#lnb .depth_01 h3:not(.has_depth) a .arrow{display:none;}

#lnb .depth_02{background:#f2f7f8;border:1px solid #dde1e2;border-width:0 1px 1px;padding:10px 0;display:none;}
#lnb .depth_02 a{display:block;height:32px;line-height:32px;color:#535353;font-size:16px;position:relative;padding-left:40px;position:relative;font-weight:300;}
#lnb .depth_02 .active a{color:#0384bd}
#lnb .depth_02 a:before{content:'';display:block;width:12px;height:2px;background:#535353;position:absolute;left:20px;top:15px;transition:all .3s;}
#lnb .depth_02 a[target="_blank"]:after{content:'';display:inline-block;background:url(/page/common/images/sp_dq.png) -11px -92px no-repeat;background-size:520px 1500px;width:17px;height:17px;margin-left:6px;vertical-align:-2px;}
#lnb .depth_02 .active a:before{background:#0384bd}
#lnb .depth_02 a:hover{text-decoration:none;color:#0384bd}
#lnb .depth_02 a:hover:before{transform:rotate(180deg);background:#0384bd}

@media (max-width:1199px) {
    #contents_wrap{padding-top:0;}
    #lnb{display:none;}
}

#contents{padding:0 0 80px 0px;float:left;width:calc(100% - 300px)}
#contents .title_box{padding:20px 110px 18px 0;position:relative;border-bottom:1px solid #d3d3d3;margin-bottom:25px;}
#contents .title_box h3{line-height:1.4;color:#1b1b1b;font-weight:500;font-size:26px;word-break:keep-all;}
#contents .title_box .btn_box{position:absolute;bottom:17px;right:5px;font-size:0;font-family:sans-serif;}
#contents .title_box .btn_box a{display:inline-block;vertical-align:middle;width:34px;height:34px;overflow:hidden;text-indent:-9999px;position:relative;transition:all .2s;}
#contents .title_box .btn_box a:hover{transform:scale(1.1);}
#contents .title_box .btn_box a.facebook:after{content:'';display:block;background:url(/page/common/images/sp_dq.png) -37px -265px no-repeat;background-size:380px 1097px;width:15px;height:24px;position:absolute;left:50%;top:50%;margin:-12px 0 0 -7.5px;}
#contents .title_box .btn_box a.cacao:after{content:'';display:block;background:url(/page/common/images/sp_dq.png) -135px -370px no-repeat;background-size:520px 1500px;width:12px;height:18px;position:absolute;left:50%;top:50%;margin:-8px 0 0 -6px;}
#contents .title_box .btn_box a.print:after{content:'';display:block;background:url(/page/common/images/sp_dq.png) -319px -34px no-repeat;background-size:460px 1328px;width:34px;height:34px;position:absolute;left:50%;top:50%;margin:-17px 0 0 -17px;}

@media (max-width:1199px) {
    #contents{padding:0 0px 60px 0px;max-width:940px;margin: 0 auto;width:100%;float:none;}
    #contents .title_box{padding:13px 80px 15px 15px;margin-bottom:25px;}
    #contents .title_box h3{font-size:24px;}
    #contents .title_box .btn_box{right:10px;bottom:13px;}
    #contents .title_box .btn_box .print{display:none;}
}

@media (max-width:760px) {
    #contents{padding:0 0px 40px 0px;}
    #contents .title_box{padding:10px 75px 12px 15px;margin-bottom:20px;}
    #contents .title_box h3{font-size:20px;}
    #contents .title_box .btn_box{right:10px;bottom:8px;}
    #contents .title_box .btn_box a{width:30px;}
}


