@charset "utf-8";

/* common
--------------------------------------*/
body{margin:0;padding:0;border-width:0;font-weight:normal;-webkit-text-size-adjust:none}

/* init set  */
.init_self{margin:0;padding:0;border-width:0;font-size:inherit;font-weight:300;font-style:normal;color:inherit;letter-spacing:inherit;text-align:inherit}
h1,h2,h3,h4,h5,h6,img,form,fieldset,legend,label,input,select,checkbox,input,radio,table,caption,thead,tbody,tfoot,tr,th,td,div,ul,ol,li,dl,dt,dd,p,iframe,button{margin:0;padding:0;border-width:0;font-size:inherit;font-style:normal;color:inherit;letter-spacing:inherit;text-align:inherit}
a,span{font-size:inherit;font-style:normal;color:inherit;letter-spacing:inherit;text-align:inherit}
button{display:inline-block;background:transparent;font-size:inherit;font-weight:normal;font-family:inherit;color:inherit;cursor:pointer}
a:focus,a:hover,a:focus span,a:hover span,button:focus,button:hover,button:focus span,button:hover span{text-decoration:underline}
button:focus{outline-width:2px;outline-style:dotted;outline-color:#313131}
.init_of h1,.init_of h2,.init_of h3,.init_of h4,.init_of h5,.init_of h6,.init_of th,.init_of legend,.init_of dt{font-weight:normal}
.init_of a,.init_of label{display:inline-block;text-decoration:none}
.init_of ol,.init_of ul,.init_of dl{list-style-type:none}
table{border-collapse:collapse}
input[type=submit],input[type=button],input[type=reset]{cursor:pointer}
input[type=submit]:hover,input[type=button]:hover,input[type=reset]:hover{text-decoration:underline}

/* common class */
.hidden_txt{overflow:hidden;position:absolute;width:0;height:0;background:transparent;font-size:0;line-height:0;text-indent:-9999px;border:none !important;background:transparent !important;}
caption.hidden_txt{position:static}
.clr{clear:both}
.new_window{display:inline-block;min-height:12px;padding:0 15px 0 0;background:url(../images/common/newwindow-icon.png) no-repeat right center;vertical-align:middle}

/*---- 글자관련 */ 
.fz_12{font-size:12px !important}
.fz_13{font-size:13px !important}
.fz_14{font-size:14px !important}
.fz_16{font-size:16px !important}
.fz_18{font-size:18px !important}
.fz_20{font-size:20px !important}
.lih_1em{line-height:1em !important}
.lih_1n25em{line-height:1.25em !important}
.lih_1n5em{line-height:1.5em !important}
.nanum{}
.nanum_b{font-weight:400}
.nanum_eb{font-family:nanumExB,'나눔고딕 ExtraBold',NanumGothicExtraBod,sans-serif}
.nanumebarun{font-family:'나눔바른고딕',NanumBarunGothic,nanumbarun,sans-serif}
.font_weight_light{font-weight:300 !important}

/* 폰트 */
.fw_bold{font-weight:400}

/*---- 제목과 블릿 */
.lv01_tit{min-height:16px;margin:25px 0 10px 0;padding:0 0 0 21px;background:url(../images/board/lv01tit-bullet.png) no-repeat left 5px;font-size:20px;font-weight:400;color:#333}
.lv01_tit_linedashed{padding:0 0 20px 21px;border-width:0 0 1px 0;border-style:dashed;border-color:#9d9d9d;background-position:left 3px}
.lv02_tit{min-height:6px;margin:15px 0 0;padding:0 0 0 14px;background:url(../images/board/lv02tit-bullet.gif) no-repeat left 8px;font-size:16px;font-weight:400;color:#464646}
.init_of dt.lv02_tit{font-weight:300}
.erms_conts .conts p{margin-left:21px;}
.bu_circle{min-height:3px;margin:7px 0;padding:0 0 0 7px;background:url(../images/board/bucircle-bullet.gif) no-repeat left 8px;color:#464646}
.bu_circle:first-child{margin:15px 0 7px}
.list_circle li{min-height:3px;margin:7px 0;padding:0 0 0 14px;background:url(../images/board/bucircle-bullet.gif) no-repeat left 11px;color:#464646}
.list_circle li:first-child{margin:15px 0 7px}
.bu_hyphen{min-height:3px;margin:7px 0;padding:0 0 0 7px;background:url(../images/board/buhyphen-bullet.gif) no-repeat left 8px;color:#464646}
.bu_hyphen:first-child{margin:15px 0 7px}
.list_hyphen li{min-height:3px;margin:7px 0;padding:0 0 0 14px;background:url(../images/board/buhyphen-bullet.gif) no-repeat left 12px;color:#464646}
.list_hyphen li:first-child{margin:15px 0 7px}
.list_arrow li{min-height:3px;margin:7px 0;padding:0 0 0 14px;background:url(../images/board/buarrow-bullet.gif) no-repeat left 11px;color:#464646}
.list_arrow li:first-child{margin:15px 0 7px}

/*---- text color */
.c_gray{color:#999 !important}
.c_gray1{color:#666 !important}
.c_red{color:#d82323 !important}
.c_blue{color:#066dce !important}
.c_dark{color:#333 !important}
.c_green{color:#008236 !important}
.marker_yellow{display:inline-block !important;background:#fff108 !important}

/*---- padding과 margin */
.m_zero{margin:0 !important}
.mt_zero{margin-top:5px !important}
.mt_5{margin-top:5px !important}
.mt_10{margin-top:10px !important}
.mt_15{margin-top:15px !important}
.mt_20{margin-top:20px !important}
.mt_25{margin-top:25px !important}
.mt_30{margin-top:30px !important}
.mt_35{margin-top:35px !important}
.mt_40{margin-top:40px !important}
.mt_45{margin-top:45px !important}
.mb_zero{margin-bottom:0 !important}
.mb_5{margin-bottom:5px !important}
.mb_10{margin-bottom:10px !important}
.mb_15{margin-bottom:15px !important}
.mb_20{margin-bottom:20px !important}
.mb_25{margin-bottom:25px !important}
.mb_40{margin-bottom:40px !important}
.mb_50{margin-bottom:50px !important}
.ml_12{margin-left:12px !important}
.ml_15{margin-left:15px !important}
.ml_21{margin-left:21px !important}
.ml_30{margin-left:30px !important}

.p_zero{padding:0 !important}
.pl_zero{padding-left:0 !important}
.pt_zero{padding-top:0 !important}
.pl_5{padding-left:5px !important}
.pl_10{padding-left:10px !important}
.pl_15{padding-left:15px !important}
.pl_20{padding-left:20px !important}
.pl_25{padding-left:25px !important}
.pl_30{padding-left:30px !important}
.pr_5{padding-right:5px !important}
.pr_10{padding-right:10px !important}
.pr_15{padding-right:15px !important}
.pr_20{padding-right:20px !important}
.pr_25{padding-right:25px !important}
.pr_30{padding-right:30px !important}

/*---- 정렬 */
.txa_left{text-align:left !important}
.txa_right{text-align:right !important}
.txa_center{text-align:center !important}

/* ---- 가로 크기 */
.w_50{display:inline-block;width:50px}
.w_100{display:inline-block;width:100px}
.w_150{display:inline-block;width:150px}
.w_200{display:inline-block;width:200px}
.w_250{display:inline-block;width:250px}
.w_300{display:inline-block;width:200px}

/* ---- 백그라운드 포지션 */
.bgp_right{background-position:right center !important}
.bgp_left{background-position:left center !important}

.btnmove{margin-top:-45px;margin-left:250px;}

.page_no{font-size:12px;}
.page_sep{font-size:10px;}