@charset "utf-8";

/* INITIAL 
------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6, 
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn, 
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var, 
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
select,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas, 
details,
embed, 
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav, 
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
a,
button, 
option,
textarea {margin: 0;padding: 0;border: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
a,
a:hover,
a:link,
a:visited,
a:active {text-decoration: none;word-wrap: break-word;}
table {border-collapse: collapse;}
label, 
legend {display: inline-block;text-decoration: none;}
input[type=button]:hover,
input[type=button]:focus,
input[type=submit]:hover,
input[type=submit]:focus,
input[type=reset]:hover,
input[type=reset]:focus,
button:hover,
button:focus, 
button:hover span,
button:focus span, 
a:hover,
a:focus, 
a:hover span,
a:hover strong,
a:hover div,
a:hover em,
a:hover p,
a:focus span,
a:focus strong,
a:focus div,
a:focus em,
a:focus p,
div.contents a {text-decoration: underline;}
input[type=text] {ime-mode: active;}
ol, 
ul {list-style-type: none;}
button, 
[type=submit], 
[type=button], 
[type=reset] {cursor: pointer;background: transparent;}
em {font-style: normal;}
strong,
b {font-weight: 400;}
h1, 
h2, 
h3, 
h4, 
h5, 
h6{font-size: 100%;font-weight: normal;}

/* clear, blind text */
.clr,
.clr:after {clear: both;} 
.blind {overflow: hidden;position: absolute;width: 0;height: 0;font-size: 0;line-height: 0;text-indent: -9999px;}


/* col width 
------------------*/
.col12{width: 100% }
.col11{width: 91.66666666666667% }
.col10{width: 83.33333333333333% }
.col9{width: 75% }
.col8{width: 66.66666666666667% }
.col7{width: 58.33333333333333%}
.col6{width: 50% }
.col5{width: 41.66666666666667%}
.col4{width: 33.33333333333333%}
.col3{width: 25% }
.col2{width: 16.66666666666667%}
.col{width: 8.333333333333333%}
@media screen and (min-width: 639px){
	.md-col12{width: 100% }
	.md-col11{width: 91.66666666666667% }
	.md-col10{width: 83.33333333333333% }
	.md-col9{width: 75% }
	.md-col8{width: 66.66666666666667% }
	.md-col7{width: 58.33333333333333%}
	.md-col6{width: 50% }
	.md-col5{width: 41.66666666666667%}
	.md-col4{width: 33.33333333333333%}
	.md-col3{width: 25% }
	.md-col2{width: 16.66666666666667%}
	.md-col{width: 8.333333333333333%}
}
@media screen and (min-width: 999px){
	.lg-col12{width: 100% }
	.lg-col11{width: 91.66666666666667% }
	.lg-col10{width: 83.33333333333333% }
	.lg-col9{width: 75% }
	.lg-col8{width: 66.66666666666667% }
	.lg-col7{width: 58.33333333333333%}
	.lg-col6{width: 50% }
	.lg-col5{width: 41.66666666666667%}
	.lg-col4{width: 33.33333333333333%}
	.lg-col3{width: 25% }
	.lg-col2{width: 16.66666666666667%}
	.lg-col{width: 8.333333333333333%}
}

/* skinRound */
.skinRound {border-radius: 7px;}

/* skinTb */
.skinTb {position: relative;width: 100%;border-width: 0;border-style: solid;border-color: #ddd;border-collapse: collapse;font-size: 16px;color: #454545;line-height: 1.5;letter-spacing: -1px;word-break:normal;}
.skinTb:before {display: block;position: absolute;left: 0;top: 0;width: 100%;content:'';}
.skinTb >thead >tr >th{text-align:center}
.skinTb >tbody >tr >td {font-weight: 300;}
div.skinTb,
.skinTb:before {border-top: 1px solid #444;}
.skinTb + .skinTb:before {border-top: 0;}
.skinTb >.skinTb-tr {display: table;width: 100%;height: 100%;border-collapse: collapse;}
.skinTb.eminwon >.skinTb-tr{height:44px;}
.skinTb >tr >th,
.skinTb >thead >tr >th,
.skinTb >tbody >tr >th,
.skinTb >tfoot >tr >th,
.skinTb >tr >td,
.skinTb >thead >tr >td,
.skinTb >tbody >tr >td,
.skinTb >tfoot >tr >td,
.skinTb-th,
.skinTb-td {display: table-cell;padding: 10px;border-width: 0 0 1px 1px;border-style: solid;border-color: #ddd;vertical-align: middle;}
.skinTb-th,
.skinTb >tr >th,
.skinTb >thead >tr >th,
.skinTb >tbody >tr >th,
.skinTb >tfoot >tr >th {background-color: #f7f7f7;}
.skinTb-tr >.skinTb-th:first-child,
.skinTb-tr >.skinTb-td:first-child,
.skinTb >tr >td:first-child,
.skinTb >tr >th:first-child,
.skinTb >thead >tr >th:first-child,
.skinTb >thead >tr >td:first-child,
.skinTb >tbody >tr >th:first-child,
.skinTb >tbody >tr >td:first-child,
.skinTb >tfoot >tr >th:first-child,
.skinTb >tfoot >tr >td:first-child {border-left-width: 0;}
.skinTb >thead >tr:nth-child(2) >th:first-child {border-left-width: 1px;}
.ctSrchArea + .skinTb-wrapper .skinTb >tbody >tr:nth-child(even) >td.skinTxa-left:first-child {border-left-width: 1px;}
.skinTb-date {min-width: 90px;}
.skinTb li {font-size: 16px;}
.skinTb .listLv li:last-child,
.skinTb .listLv2 li:last-child,
.skinTb .listLv3 li:last-child,
.skinTb .listLv4 li:last-child,
.skinTb .listLv5 li:last-child {margin-bottom: 0;}
tbody .skinTb-sbj {text-align:left;}
.skinTb .newWin-go {padding:5px 10px; border:1px solid #b8b8b8; background-color:#dfdfdf; color:#000000; }
.skinTb-hidden {display: none;}
.eminwon .skinTb-conts{word-wrap: break-word;}

/* skinTb-data-comment */ 
.skinTb-data-comment .skinTb-tr .skinTb-tr {display: table-cell;}
.skinTb-data-comment .skinTb-tr .skinTb-tr:nth-child(2) {border-left: 1px solid #ddd;}
.skinTb-data-comment .skinTb-th {background-color: #fff;}
.skinTb-data-comment .skinIptTxt,
.skinTb-data-comment .skinIptPass {width: calc(100% - 100px);}
.skinTb-data-comment .skinTextArea,
.skinTb-data-comment .skinTextArea + .skinBtnBo {height: 100px;}
.skinTb-data-comment .skinTextArea {width: calc(100% - 100px);}
.skinTb-data-comment .skinIptTxt + .skinBtnBo, 
.skinTb-data-comment .skinTextArea + .skinBtnBo {width: 90px;float: right;}


	.skinTb th[data-seq=first],
	.skinTb td[data-seq=first] {border-left-width: 0;}
	
	/* skinTb-data-resWrite */
	.skinTb-data-resWrite >tbody >tr,
	.skinTb-data-resWrite >tbody >tr >th,
	.skinTb-data-resWrite >tbody >tr >td,
	.skinTb-data-resWrite >.skinTb-tr,
	.skinTb-data-resWrite >.skinTb-tr >.skinTb-td,
	.skinTb-data-resWrite >.skinTb-tr >.skinTb-th {display: block;border-left-width: 0;}
	.skinTb-data-resWrite >tbody >tr >th {text-align: left;}
	.skinTb-data-resWrite >.skinTb-tr >.skinTb-td,
	.skinTb-data-resWrite >.skinTb-tr >.skinTb-th,
	.skinTb-data-resWrite >tbody >tr >th,
	.skinTb-data-resWrite >tbody >tr >td {width: 100%;background-color: #fff;}
	.skinTb-data-resWrite >tbody >tr >th,
	.skinTb-data-resWrite >.skinTb-tr >.skinTb-th {padding-bottom: 0;border-bottom-width: 0;}
	.skinTb-data-resWrite .skinColor-fmInfo {display: block;}
		
	/* skinTb-data-comment */
	.skinTb-data-comment .skinTb-tr .skinTb-tr:nth-child(n) {display: table;border-width: 0;}

	/* skinTb-data-resList */
	.skinTb-data-resList >.skinTb-tr >.skinTb-sbj,
	.skinTb-data-resList >tr >.skinTb-sbj,
	.skinTb-data-resList >tbody >tr >.skinTb-sbj {border-width: 0;font-weight: 600;}
	
	.skinTb-data-resList >tbody,
	.skinTb-data-resList >tbody >tr,
	.skinTb-data-resList >tbody >tr >td,
	.skinTb-data-resList >.skinTb-tr,
	.skinTb-data-resList >.skinTb-tr >.skinTb-th,
	.skinTb-data-resList >.skinTb-tr >.skinTb-td {display: block;border-width: 0 0 1px;}
	.skinTb-data-resList >.skinTb-tr >.skinTb-td.skinTb-Subject {float: left;width: 100%;color: #000;}
	.skinTb-data-resList >.skinTb-tr >.skinTb-th.skinTb-Title {float: left;width: 100px;color: #000;}
	.skinTb-data-resList >.skinTb-tr >.skinTb-td.skinTb-Text {float: left;width: calc(100% - 110px);color: #000;}
	
	.skinTb-data-resList >.skinTb-tr >.skinTb-name,
	.skinTb-data-resList >.skinTb-tr >.skinTb-date,
	.skinTb-data-resList >.skinTb-tr >.skinTb-Data,
	.skinTb-data-resList >tr >.skinTb-name,
	.skinTb-data-resList >tr >.skinTb-date,
	.skinTb-data-resList >tr >.skinTb-Data,
	.skinTb-data-resList >tbody >tr >.skinTb-name,
	.skinTb-data-resList >tbody >tr >.skinTb-date {float: left;width: 50%;color: #000;}
	.skinTb-data-resList >tbody >tr >.skinTb-Data {float: left;width: 100%;color: #000;text-align:left;}
	
	.skinTb-data-resList >.skinTb-tr >.skinTb-part,
	.skinTb-data-resList >tr >.skinTb-part,
	.skinTb-data-resList >tbody >tr >.skinTb-part{float: left;text-align:left;width: 40%;color: #000;}
	.skinTb-data-resList >.skinTb-tr >.skinTb-tel,
	.skinTb-data-resList >tr >.skinTb-tel,
	.skinTb-data-resList >tbody >tr >.skinTb-tel{float: left;width: 29%;color: #000;}
	.skinTb-data-resList >.skinTb-tr >.skinTb-link,
	.skinTb-data-resList >tr >.skinTb-link,
	.skinTb-data-resList >tbody >tr >.skinTb-link {float: left;text-align:right;width: 31%;color: #000;}
	.skinTb-data-resList .skinTb-link:before {content:"바로가기 "}
	
	.skinTb-data-resList >.skinTb-tr >.skinTb-name,
	.skinTb-data-resList >tr >.skinTb-name,
	.skinTb-data-resList >tbody >tr >.skinTb-name {text-align: left;}

	.skinTb-data-resList >.skinTb-tr >.skinTb-date,
	.skinTb-data-resList >tr >.skinTb-date,
	.skinTb-data-resList >tbody >tr >.skinTb-date {text-align: right;}
	
	.skinTb-data-resList.skinTb-data-group:before{border-top:0;}
	.skinTb-data-resList.skinTb-data-group >tbody >tr {margin-bottom:15px;}
	.skinTb-data-resList.skinTb-data-group >tbody >tr >td {border-width:0 1px; text-align: left; padding: 5px 0 0 15px;}
	.skinTb-data-resList.skinTb-data-group >tbody >tr >td.skinTb-group {width: 100%;padding: 10px 0;background: url(../img/board/bg-imgback-gray.gif) right top no-repeat;-webkit-background-size: cover;background-size: cover;text-align: center; border-width:1px 1px 1px ;}
	.skinTb-data-resList.skinTb-data-group >tbody >tr >td:nth-child(5) {padding: 15px 15px 5px;}
	.skinTb-data-resList.skinTb-data-group >tbody >tr >td:nth-child(7) {padding: 10px 0 10px 15px; border-width:0 1px 1px;}
	
	.skinTb-data-resList >.skinTb-tr:after,
	.skinTb-data-resList >tbody >tr:after,
	.skinTb-data-resList >tr:after {display: block;clear: both;content:""}
	
	/* skinTb-data-bgSbj */
	.skinTb-data-bgSbj >.skinTb-tr >.skinTb-sbj,
	.skinTb-data-bgSbj >tr >.skinTb-sbj,
	.skinTb-data-bgSbj >tbody >tr >.skinTb-sbj {background-color: #f7f7f7;border-bottom-width: 1px;}
	
	/* skinTb-data-bgEven */
	.skinTb-data-bgEven >.skinTb-tr:nth-child(2n),
	.skinTb-data-bgEven >tbody >tr:nth-child(2n) {background-color: #f7f7f7;}
	
	/* skinTb-data-research */
	.skinTb-data-research >tr >.skinTb-date,
	.skinTb-data-research >tbody >tr >.skinTb-date,
	.skinTb-data-research >.skinTb-tr >.skinTb-date {width: auto;color: #666;text-align: left;border-width: 0;}
	.skinTb-data-research >tr >.skinTb-state,
	.skinTb-data-research >tbody >tr >.skinTb-state,
	.skinTb-data-research .skinTb-state {text-align: right;}
	.skinTb-data-research .skinTb-hidden {display: inline-block;margin-left: 15px;}
	
	/* skinTb-data-basic */
	.skinTb-data-basic >tr,
	.skinTb-data-basic >tbody >tr,
	.skinTb-data-basic >.skinTb-tr {border-bottom: 1px solid #d1d1d2;}
	.skinTb-data-basic >tr >td,
	.skinTb-data-basic >tbody >tr >td,
	.skinTb-data-basic >.skinTb-tr >.skinTb-td {border-width: 0;text-align: left;}
	.skinTb-data-basic >tr >.skinTb-sbj ~ td,
	.skinTb-data-basic >tbody >tr >.skinTb-sbj ~ td,
	.skinTb-data-basic >.skinTb-tr >.skinTb-td ~ .skinTb-td {position: relative;padding-left: 20px;}
	.skinTb-data-basic >tr >.skinTb-sbj ~ td:before,
	.skinTb-data-basic >tbody >tr >.skinTb-sbj ~ td:before,
	.skinTb-data-basic >.skinTb-tr >.skinTb-td ~ .skinTb-td:before {position: absolute;left: 10px;top: 10px;content: url(../img/board/bu-list-lv2.gif)}
	.skinTb-data-basic >tr >td >.skinTb-hidden,
	.skinTb-data-basic >tbody >tr >td >.skinTb-hidden,
	.skinTb-data-basic >.skinTb-tr >.skinTb-td >.skinTb-hidden {display: inline-block;}

@media screen and (max-width: 420px){
	/* skinTb-data-comment */
	.skinTb-data-comment .skinTb-tr {position: relative;text-align: right;}
	.skinTb-data-comment .skinTb-th,
	.skinTb-data-comment .skinTb-td,
	.skinTb-data-comment .skinTb-tr,
	.skinTb-data-comment .skinTb-tr .skinTb-tr:nth-child(n) {display: block;border-width: 0;}
	.skinTb-data-comment .skinTb-td,
	.skinTb-data-comment .skinTb-th {width: 100%;border-width: 0;}
	.skinTb-data-comment .skinTb-th {position: absolute;width: auto;left: 0;top: 7px;}
	.skinTb-data-comment .skinTextArea,
	.skinTb-data-comment .skinIptTxt,
	.skinTb-data-comment .skinIptPass {width: 70%;margin-right: 0;}
	.skinTb-data-comment .skinIptTxt ~ .skinBtnBo,
	.skinTb-data-comment .skinTextArea ~ .skinBtnBo {float: none;width: 100%;margin-top: 10px;}
}

@media screen and (max-width:320px) {
	.skinTb-wrapper .skinTb  {width: 1000px;}
	.skinTb-wrapper .skinTb.width320  {width: 320px;}
	.skinTb-wrapper .skinTb.width400  {width: 400px;}
	.skinTb-wrapper .skinTb.width640  {width: 640px;}
	.skinTb-wrapper .skinTb.width768  {width: 768px;}
	.skinTb-wrapper .skinTb.width1000  {width: 1000px;}
}

@media screen and (min-width:321px) and (max-width:400px) {
	.skinTb-wrapper .skinTb  {width: 1000px;}
	.skinTb-wrapper .skinTb.width320  {width: 99.99%;}
	.skinTb-wrapper .skinTb.width400  {width: 400px;}
	.skinTb-wrapper .skinTb.width640  {width: 640px;}
	.skinTb-wrapper .skinTb.width768  {width: 768px;}
	.skinTb-wrapper .skinTb.width1000  {width: 1000px;}
}

@media screen and (min-width:401px) and (max-width:640px) {
	.skinTb-wrapper .skinTb  {width: 1000px;}
	.skinTb-wrapper .skinTb.width320  {width: 99.99%;}
	.skinTb-wrapper .skinTb.width400  {width: 99.99%;}
	.skinTb-wrapper .skinTb.width640  {width: 640px;}
	.skinTb-wrapper .skinTb.width768  {width: 768px;}
	.skinTb-wrapper .skinTb.width1000  {width: 1000px;}
}

@media screen and (min-width:641px) and (max-width:768px) {
	.skinTb-wrapper .skinTb  {width: 1000px;}
	.skinTb-wrapper .skinTb.width320  {width: 99.99%;}
	.skinTb-wrapper .skinTb.width400  {width: 99.99%;}
	.skinTb-wrapper .skinTb.width640  {width: 99.99%;}
	.skinTb-wrapper .skinTb.width768  {width: 768px;}
	.skinTb-wrapper .skinTb.width1000  {width: 1000px;}
}

@media screen and (min-width:769px) and (max-width:1000px) {
	.skinTb-wrapper .skinTb  {width: 1000px;}
	.skinTb-wrapper .skinTb.width320  {width: 99.99%;}
	.skinTb-wrapper .skinTb.width400  {width: 99.99%;}
	.skinTb-wrapper .skinTb.width640  {width: 99.99%;}
	.skinTb-wrapper .skinTb.width768  {width: 99.99%;}
	.skinTb-wrapper .skinTb.width1000  {width: 1000px;}
}

@media screen and (min-width:1001px) {
	.skinTb-wrapper .skinTb  {width: 99.99%;}
	.skinTb-wrapper .skinTb.width320  {width: 99.99%;}
	.skinTb-wrapper .skinTb.width400  {width: 99.99%;}
	.skinTb-wrapper .skinTb.width640  {width: 99.99%;}
	.skinTb-wrapper .skinTb.width768  {width: 99.99%;}
	.skinTb-wrapper .skinTb.width1000  {width: 99.99px;}
}

@media screen and (min-width:320px) {
	.skinTb-wrapper {position: relative;overflow-x: auto;}
}

@media screen and (max-device-width:1000px) {
	.skinTb-wrapper::-webkit-scrollbar {display: none;}
}

/* skinBuList */
.skinBuList >li {position: relative;padding-left: 10px;}
.skinBuList >li:before {display: block;position: absolute;left: 0;top: 0;font-size: 30px;line-height: 1em;content: '·';}
/*.skinBuList >li:a {float: left;}*/

/* skinSelectBox, skinIptTxt, skinBtnBo, skinIptPass, skinTextArea */
.skinSelectBox,
.skinIptTxt,
.skinIptPass,
.skinBtnBo,
.skinTextArea {height: 34px;padding: 5px 15px;border: 1px solid #ddd;font-size: 14px;line-height: 24px;vertical-align: middle;font-family: '나눔고딕', nanumGothic, nGothic, sans-serif;}
.skinTextArea,
.skinCheckBox,
.skinRadio {height: auto;line-height: 1.5;}
@media screen and (min-width: 640px){
	.skinSelectBox,
	.skinIptPass,
	.skinIptTxt,
	.skinBtnBo {height: 44px;font-size: 16px;line-height: 34px;}
}

/* skinSelectBox */
.skinSelectBox {padding: 0 0 0 5px;text-align: center;}

/* skinBtnBo */
.skinBtnBo {display: inline-block;text-align: center;}
.skinBtnBo-data-pos,
.skinBtnBo-data-pos:link,
.skinBtnBo-data-pos:hover,
.skinBtnBo-data-pos:active,
.skinBtnBo-data-pos:visited,
.skinBtnBo-data-neg,
.skinBtnBo-data-neg:link,
.skinBtnBo-data-neg:hover,
.skinBtnBo-data-neg:active,
.skinBtnBo-data-neg:visited,
.skinBtnBo-data-color,
.skinBtnBo-data-color:link,
.skinBtnBo-data-color:hover,
.skinBtnBo-data-color:visited {border-width: 0;color: #fff;}
.skinBtnBo-data-pos {background-color: #4d5360;}
.skinBtnBo-data-neg {background-color: #b50a0a;}
.skinBtnBo-data-bg {background-color: #f0f0f0;}
.skinBtnBo-data-color {background-color: #306cb5;}

/* skinBtnDel */
.skinBtnDel {padding: 5px;background-color: #0054a6;color: #fff;}
@media screen and (max-width: 999px){
	.skinBtnDel {width: 26px;height: 27px;font-size: 0;background: #575757 url(../img/board/btn-del-file.gif) 50% 50% no-repeat;-webkit-background-size: cover;background-size: cover;vertical-align: middle;}
}

/* skinEllipsis */
.skinEllipsis {overflow: hidden;-ms-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;}

/* contsArea */
.contsArea {position: relative;z-index: 10;min-height:600px;}
.contsArea a:hover {text-decoration: underline;}

/* boSrchArea */
.boSrchArea {overflow: hidden;margin-bottom: 20px;padding: 10px 20px;border: 1px solid #ddd;}
.boSrchArea .boMeta {margin-bottom: 10px;}
.boSrchArea .boMeta .boMeta-rss img {vertical-align:bottom;}
@media screen and (min-width: 800px){
	.boSrchArea .boMeta {float: left;width: 30%;padding-top: 13px;}
	.boSrchArea .boMeta.yrMeta {width:10%;}
	.boSrchArea .boMeta.ctMeta {width:15%;}
	.boSrchArea .boSrch {float: right;width: 55%;}
	.boSrchArea .boSrch.union {width: 70%;}
	.boSrchArea .grSrch {float: left;width: 53%;} 
	.boSrchArea .grSrch + div.boSrch {float: right;width: 45%;}
	.boSrchArea .boSrch .grSrch {float: left;width: 30%;} 
	.boSrchArea .grSrch + div.txSrch {float: right;width: 68%;}
	.boSrchArea .yrSrch {float: left;width: 20%;} 
	.boSrchArea .yrSrch + div {float: right;width: 78%;}
	.boSrchArea .bjSrch:nth-child(1) {margin-bottom:10px;} 
	.boSrchArea .bjSrch:nth-child(even) {float: left;width: 48%;} 
	.boSrchArea .bjSrch:nth-child(odd) {float: right;width: 50%;}
	.boSrchArea .bjSrch.spSrch:nth-child(even) {float: left;width: 40%;} 
	.boSrchArea .bjSrch.spSrch:nth-child(odd) {float: right;width: 58%;}
	.boSrchArea .bjSrch.ctSrch {width: 100%; float:right;margin-bottom:0;}
	.boSrchArea .bjSrch.ctSrch .yrSrch-btnBo {width: 80px;margin-left:10px;}
	.boSrchArea .bjSrch.mgSrch {width: 100%; float:right;margin-bottom:0;}
	.boSrchArea .bjSrch.mgSrch .yrSrch-btnBo {width: 80px;margin-left:10px;}
	.bjSrch.spSrch .boSrchPeriod-group.boSrchPeriod-group-data-start {width: 40%;float:left;}
	.bjSrch.spSrch .boSrchPeriod-group.boSrchPeriod-group-data-end {width: 58%;float:right;}
	.boSrchArea .bjSrch.spSrch:nth-child(8) {width: 100%;}
}

/* boSrchTotalArea */
.boSrchTotalArea {margin-bottom: 30px;padding: 15px 10px;border: 5px solid #d9d9d9;background-color: #f2f2f2;}
.boSrchTotalArea .boSrch,
.boSrchTotalArea .boSrchPeriod,
.boSrchTotalArea .qckPeriod {margin-bottom: 15px;border-bottom: 1px solid #e1e1e1;}
.boSrchTotalArea .boSrchPeriod,
.boSrchTotalArea .qckPeriod {padding-bottom: 15px;}
@media screen and (min-width: 640px){
	.boSrchTotalArea .boSrch {margin-bottom: 0;border-width: 0;}
	.boSrchTotalArea .boSrch-chkInSrch {bottom: .5em}
}
@media screen and (min-width: 1000px){
	.boSrchTotalArea {overflow: hidden;width: 100% ;}
	.boSrchTotalArea .boSrch {margin-bottom: 15px;border-bottom-width: 1px;}
	.boSrchTotalArea .qckPeriod,
	.boSrchTotalArea .boSrchPeriod {float: left;height: 60px;}
	.boSrchTotalArea .qckPeriod {width: 40%;margin-top: 0;padding-top: .5em;}
	.boSrchTotalArea .boSrchPeriod {width: 60%;} 
}

/* UI 
----------------------------*/

/* data-hidden */

[data-hidden~=pc]{display: none !important;}
[data-hidden~=tablet]{display: none !important;}
[data-hidden~=mob]{display: none !important;}


/* icoSimple*/
.icoSimple {display: inline-block;} 
.icoSimple-data-ebook {min-height: 12px;padding-left: 22px;background: url(../img/board/btn-simplewhite-eye.gif) 0 0 no-repeat;}
.icoSimple-data-pdf {min-height: 19px;padding-left: 19px;background: url(../img/board/btn-simplewhite-download.gif) 0 0 no-repeat;}

/* icoNew, icoSecret, icoComment */
.icoNew, .icoSecret, .icoComment {margin-left: 5px;vertical-align: middle;}

/* icoNewWindow */
.icoNewWindow { vertical-align: middle;}


/* emailAddr */
.emailAddr {display: block;}
.emailAddr .skinIptTxt {width: 30%;}
.emailAddr .skinSelectBox {margin-left: 10px;width: 25%;}

/* btnBoPrev, btnBoNext */
.btnBoPrev,
.btnBoNext {display: inline-block;min-width: 80px}
.btnBoPrev span,
.btnBoNext span{display: inline-block;width: 12px;height: 8px;margin-right: 10px;background-image: url(../img/board/btns-board-prev-next.png);background-position: 50% -8px;background-repeat: no-repeat;vertical-align: 1px;}
.btnBoPrev span{background-position: 50% 0;}


/* pgraph */
.pgraph {margin-bottom: 36px;padding-left: 20px;font-size: 16px;line-height: 1.5;color: #454545}
.pgraph a {text-decoration: underline;}
.pgraph a:hover {color: #306cb5;}

/* popAlert */
.popAlert {border: 5px solid #55555b;background-color: #f0f0f0;}
.popAlert-inner {height: 100%;padding: 15px;}
.popAlert-tit {margin: 0 auto 30px;font-weight: 600;font-size: 16px;line-height: 1.25;text-align: center;}
.popAlert input {display: block;}
.popAlert-data-passConfirm {background-color: #fff;}
.popAlert-data-passConfirm .popAlert-tit {margin: -15px -15px 20px;padding: 10px 0;border-bottom: 1px solid #d1d1d2;background-color: #f0f0f0;}
.popAlert-data-passConfirm input {margin: 0 auto 20px;}
.popAlert-data-passConfirm .skinBtnBo {margin-bottom: 20px;}

/* popLy */
.popLy,
.popLy-btnMore {display: inline-block;vertical-align: middle;}
.popLy {position: relative;white-space: nowrap;}
.popLy-btnMore {width: 19px;height: 18px;background: url(../img/board/ico-more-files.gif) 50% 50% no-repeat;}
.popLy-files {display: none;position: absolute;top: 0;z-index: 20;padding: 10px;border: 1px solid #e0e0e0;background-color: #fff;text-align: left;}
.popLy-files a {display: block;margin: 0;}

/* imptBox */
.imptBox {margin: 0 0 20px;padding: 17px;border: 3px solid #cfdeef;background-color: #f9fcff;font-size: 14px;line-height: 1.5;}
.imptBox .listLv li{margin-bottom:8px;font-weight:normal;}

@media screen and (min-width: 640px){
	.imptBox {font-size: 16px;}
}

/* contsImg */
.contsImg {width: auto;max-width: 100%;}

/* contsImgTxt */
.contsImgTxt {overflow: hidden;margin-bottom: 50px;font-size: 14px;line-height:22px;}

.contsImgTxt img {float: left;margin: 0 25px 10px 0;}
.contsImgTxt img + p,
.contsImgTxt img + li {display: inline-block;}
@media screen and (min-width: 640px){
	.contsImgTxt {font-size: 16px;}
}

/* contsSbj */
.contsSbj {margin-bottom: 9px;font-size: 18px;line-height: 26px;}
[lang=en] .contsSbj,
[lang=ja] .contsSbj,
[lang=zh] .contsSbj {font-family: inherit;font-weight: 600;}

/* contsBtn */
.contsBtn {display: inline-block;box-sizing: border-box;overflow: hidden;height: 44px;margin: 10px 10px 0 0;border: 1px solid #4d5360;background: #fff;font-size: 14px;line-height: 44px;}
.contsBtn > span {padding: 0 22px;}
.contsBtn > a {float: right;display: inline-block;width: 42px;height: 42px;font-size: 0;background: #4d5360 no-repeat center;text-decoration: none;}
.contsBtn .contsBtn-download {background-image: url(../img/board/btn-simplewhite-download.gif);}
.contsBtn .contsBtn-more {background-image: url(../img/board/btn-simplewhite-more.gif);}
.contsBtn .contsBtn-move {background-image: url(../img/board/btn-simplewhite-move.gif);}
.contsBtn .contsBtn-play {background-image: url(../img/board/btn-simplewhite-play.gif);}
.contsBtnSmall {height: 34px;margin-right: 10px;font-size: 12px;line-height: 34px;}
.contsBtnSmall > a {float: right; display: inline-block; width: 32px; height: 32px;}
@media screen and (min-width: 640px){
	.contsBtn {font-size: 16px;}
}

/* ctrlFile */ 
@media screen and (max-width: 999px){
	.ctrlFile-btnFile {display: block;margin-bottom: 10px;}
	.ctrlFile-fileTxt {-ms-word-break: break-all;word-break: break-all;}
}

/* boMeta */
.boMeta-pt,
.boMeta-sortLine {display: inline-block;}
.boMeta-pt {color: #0676cc; }
.boMeta-pt:before {font-size: 10px;content:'●';vertical-align: 2px;}
.boMeta-sortLine {height: 14px;margin: 0 5px;border-left: 1px solid #9f9f9f;vertical-align: 0;}

/* boSrch */
.boSrch {font-size: 14px;line-height: 1.25;}
.boSrch,
.boSrch fieldset {overflow: hidden;width: 100%;}
.boSrch-selectBox,
.grSrch-selectBox,
.boSrch-label,
.boSrch-iptTxt,
.boSrch-btnBo {float: left;}
.boSrch-btnBo {margin-top: 10px;}
.boSrch-selectBox, .boSrch-label {width: 38%;margin-right: 5%;}
.grSrch-selectBox {width: 65%; margin-bottom:10px;margin-right: 5%;}
.grSrch .boSrch-btnBo {width: 30%; margin: 0 0 10px;}
.boSrch .grSrch .boSrch-btnBo {width: 57%;}
.boSrch-data-width100 {width:100%}
.boSrch-iptTxt {width: 57%;}
.boSrch-btnBo, .yrSrch-btnBo {width: 100%;}
.boSrch-chkInSrch {position: absolute;right: 0;bottom: .75em;}
.yrSrch, .bjSrch {font-size:16px;}
.spSrch .yrSrch-btnBo {margin-top: 10px;}
.yrSrch + div .boSrchPeriod-group {font-size:16px;}
.yrSrch-selectBox {width:45%;margin-left:10px;margin-bottom:10px;}
.rvSrch-selectBox {width:calc(100% - 120px);margin-left:10px;margin-bottom:10px;}
.bjSrch:nth-child(2), .bjSrch:nth-child(3), .bjSrch:nth-child(4) {margin-bottom:10px;}
.bjSrch.spSrch:nth-child(4), .bjSrch.spSrch:nth-child(5), .bjSrch.spSrch:nth-child(6), .bjSrch.spSrch:nth-child(7) {margin-bottom:10px;}
.bjSrch label {width:80px;}
.bjSrch .yrSrch-selectBox {width: calc(100% - 95px);margin-bottom:0;}
.bjSrch .yrSrch-iptTxt {width: calc(100% - 95px);margin-left:10px;margin-bottom:10px;}
.bjSrch.spSrch .yrSrch-iptTxt {margin-bottom:0;}
.bjSrch.spSrch .yrSrch-selectBox {width: calc(100% - 85px);margin-left:0;}
.bjSrch.spSrch .yrSrch-iptTxt {width: calc(100% - 85px);margin-left:0;}
.bjSrch.ctSrch {margin-bottom: 0;}
.bjSrch.mgSrch {margin-bottom:0;}
.bjSrch.mgSrch label{width:80px}
.bjSrch.mgSrch .yrSrch-iptTxt{width: calc(100% - 154px);}
.bjSrch.mgSrch img{margin-bottom:10px;}
.bjSrch.mgSrch span.fromToDate{display:none;}

/* boSrch-data-total */
.boSrch-data-total {position: relative;padding-bottom: 3em;}

@media screen and (min-width: 400px){
	.boSrch-data-width100 .boSrch-selectBox {width: 30%;}
	.boSrch-data-width100 .boSrch-iptTxt {width: 65%;}	
	.boSrch-data-width100 {width:100%}
}

@media screen and (min-width: 560px){
	.boSrch-selectBox.boSrch-data-width100 {width:50%;margin-left:25%;margin-right: 3%;}
	.boSrch-selectBox.boSrch-data-width100 .boSrch-btnBo {margin-top: 0;}
	.boSrch-selectBox.boSrch-data-width100 .boSrch-btnBo {width: 22%;}
}
@media screen and (min-width: 640px){
	.boSrch {font-size: 16px;}
	.boSrch-selectBox,
	.boSrch-iptTxt,
	.boSrch-btnBo {margin-top: 0;}
	.boSrch-selectBox,
	.grSrch-selectBox,
	.boSrch-label,
	.boSrch-iptTxt {margin-right: 3%;}
	.boSrch-btnBo {width: 80px;}
	.boSrch-iptTxt {width: calc(100% - 28% - 80px);}
	.boSrch-selectBox , .boSrch-label{width: 22%;}
	.boSrchArea .boSrch .grSrch .boSrch-selectBox {width: 50%;}
	.grSrch-selectBox:nth-child(2) {width: 44%; margin-right: 2%; margin-bottom:10px;}
	.grSrch-selectBox:nth-child(5) {width: 21%; margin-right: 2%; margin-left: 3%; margin-bottom:10px;}
	.grSrch .boSrch-btnBo {width: 14%; margin-left:0; margin-bottom:10px;}
	.boSrchArea .boSrch .grSrch .boSrch-btnBo {width: 47%;}
	.rvSrch-selectBox {width:calc(100% - 75px);margin-left:10px;margin-bottom:10px;}
	.bjSrch.spSrch .boSrchPeriod-group-data-end .boSrchPeriod-label {width: 70px;}
	.bjSrch.spSrch .boSrchPeriod-group-data-end .boSrchPeriod-iptTxt {width: calc(100% - 205px);}
	.bjSrch.ctSrch label{width:46px}
	.bjSrch.ctSrch .yrSrch-iptTxt:nth-child(n-1) {width: calc( (100% - 145px) / 2);margin-bottom:10px;}
	.bjSrch.ctSrch .yrSrch-iptTxt:nth-child(6) {width: calc( 100% - 155px );margin-bottom:0;}
	.bjSrch.ctSrch .yrSrch-btnBo{width: 80px;margin-left:20px;}
	.bjSrch.ctSrch label:nth-child(3) {margin-left:19px;}
	.bjSrch.mgSrch {margin-bottom:0;}
	.bjSrch.mgSrch label{width:46px}
	.bjSrch.mgSrch span.fromToDate{display:inline-block;}
	.bjSrch.mgSrch label.fromToDate{overflow: hidden;position: absolute;width: 0;height: 0;font-size: 0;line-height: 0;text-indent: -9999px;}
	.bjSrch.mgSrch .yrSrch-iptTxt{width: calc(100% - 61px);margin-bottom:0;}
	.bjSrch.mgSrch img{margin-top:10px;margin-bottom:0;}
	.bjSrch.mgSrch .yrSrch-iptTxt.datePicker {width: calc( (100% - 263px) / 2); margin-left:10px; margin-top:10px;}
	.bjSrch.mgSrch .boSrchPeriod-btnBo{margin-left:10px;margin-top:10px;}
} 
@media screen and (min-width: 800px){
	.grSrch-selectBox:nth-child(2) {margin-bottom:0;}
	.grSrch-selectBox:nth-child(5) {margin-bottom:0;}
	.grSrch .boSrch-btnBo {margin-bottom:0;}
	.yrSrch-selectBox{margin-bottom:0;}
	.bjSrch.ctSrch label:nth-child(n+2) {margin-left:20px;}
	.bjSrch.ctSrch .yrSrch-iptTxt:nth-child(n-1), .bjSrch.ctSrch .yrSrch-iptTxt:nth-child(6) {width: calc( (100% - 325px) / 3);margin-bottom:0;}
	.bjSrch.mgSrch .clr{clear:none;display:none;}
	.bjSrch.mgSrch span.fromToDate{width:46px;margin-left:15px;}
	.bjSrch.mgSrch img{margin-top:0;}
	.bjSrch.mgSrch .boSrchPeriod-btnBo{margin-top:0;}
	.boSrchArea .bjSrch.mgSrch .yrSrch-iptTxt{width: calc( (100% - 344px) / 3); margin-top:0;}
	.bjSrch.spSrch .boSrchPeriod-group-data-end .boSrchPeriod-label {width: 80px;}
	.bjSrch.spSrch .boSrchPeriod-group-data-end .boSrchPeriod-iptTxt {width: calc(100% - 214px);}
	.bjSrch .yrSrch-iptTxt {width: calc(100% - 189px);}
	.bjSrch:nth-child(4), .bjSrch:nth-child(5), .bjSrch .yrSrch-iptTxt, .rvSrch-selectBox{margin-bottom:0;}
	.bjSrch .yrSrch-btnBo {width: 80px;margin-left:10px;}
}
@media screen and (min-width: 1000px){
	.boSrch-selectBox.boSrch-data-width100 {width:30%;margin-left:60%;margin-right: 2%;}
	.boSrch-data-width100 .boSrch-btnBo {width: 15%;}
	.yrSrch-btnBo {width: 80px;margin-left:10px;}
	.bjSrch.spSrch .boSrchPeriod-group-data-end label {width: 80px;}
	.bjSrch.spSrch .boSrchPeriod-group-data-end .boSrchPeriod-iptTxt {width: calc(100% - 214px);}
	/* boSrch-data-total */
	.boSrchArea .bjSrch.ctSrch {width: 100%; float:right;margin-bottom:0;}
	.boSrchArea.ctSrchArea .clr{clear: none;}
}


/* boMultiSrch */
.boMultiSrch-group {overflow: hidden;}
.boMultiSrch-group .boMultiSrch-selectBox,
.boMultiSrch-group .boMultiSrch-iptTxt,
.boMultiSrch-group .boMultiSrch-btnBo {float: left;}
.boMultiSrch-group .boMultiSrch-selectBox,
.boMultiSrch-group .boMultiSrch-iptTxt,
.boMultiSrch-group .boMultiSrch-btnBo {margin-bottom: 10px;}
.boMultiSrch-btnBo {width: 100%;}
.boMultiSrch-group:nth-child(1) .boMultiSrch-selectBox {width: 100%;}
.boMultiSrch-group:nth-child(2) .boMultiSrch-selectBox {width: 40%;}
.boMultiSrch-group:nth-child(2) .boMultiSrch-iptTxt {width: 56%;}
.boMultiSrch-group:nth-child(2) .boMultiSrch-selectBox {margin-right: 4%;}
@media screen and (min-width: 640px){
	.boMultiSrch-group .boMultiSrch-btnBo {width: 80px;}
	.boMultiSrch-group:nth-child(n) .boMultiSrch-selectBox,
	.boMultiSrch-group:nth-child(n) .boMultiSrch-iptTxt {margin-right: 10px;}
	.boMultiSrch-group:nth-child(1) .boMultiSrch-selectBox {width: calc(100% - 90px);}
	.boMultiSrch-group:nth-child(2) .boMultiSrch-selectBox {width: 30%;}
	.boMultiSrch-group:nth-child(2) .boMultiSrch-iptTxt {width: calc(100% - 30% - 100px);}
}
@media screen and (min-width: 1000px){
	.boMultiSrch {text-align: right;}
	.boMultiSrch-group:nth-child(n) .boMultiSrch-selectBox,
	.boMultiSrch-group:nth-child(n) .boMultiSrch-iptTxt,
	.boMultiSrch-group:nth-child(n) .boMultiSrch-btnBo {width: auto;margin-bottom: 0;}
	.boMultiSrch-group {display: inline-block;margin-right: 8px;}
}
/* icoFile */
.icoFile {display: inline-block;width: 16px;height: 16px;vertical-align: middle;background: url(../img/board/ico-fileicon.gif) 0 0 no-repeat;}
.icoFile-data-hwp {background-position: -45px 0;}
.icoFile-data-hwp2 {background-position: -92px 0;}
.icoFile-data-jpg {background-position: -139px 0;}
.icoFile-data-jpg2 {background-position: -185px 0;}
.icoFile-data-pdf {background-position: -231px 0;}
.icoFile-data-pdf2 {background-position: -277px 0;}
.icoFile-data-png {background-position: -323px 0;}
.icoFile-data-xls {background-position: -370px 0;}
.icoFile-data-xlsx {background-position: -416px 0;}
.icoFile-data-zip {background-position: -462px 0;}

.btnPreview {display: inline-block;width: 80px;height: 24px;border: 3px solid #c1c1c1;border-radius: 10px/50%;line-height: 18px;vertical-align: middle;}

/* contsImg */
.contsImg {width: 100%;padding: 15px 0;background: url(../img/board/bg-imgback-gray.gif) 0 0 no-repeat;text-align: center;}
.contsImg img {width: auto;}

/* fmSatis */
.fmSatis-contact {margin: 30px 0;padding: 15px 20px;font: 14px '나눔고딕 ',NanumGothic,sans-serif;line-height: 1.8;border: 1px solid #c8cdd1;}
.fmSatis-contact {background-color: #f6f6f8;}
.fmSatis-contact div {margin-bottom: 5px;}
.fmSatis-contact div:last-child {margin-bottom: 0;}
.fmSatis-contact img {margin-right: 5px;vertical-align: -.2em;}
.fmSatis-contact img.imgKogl {height: 80px;margin: 0;}
.fmSatis-contact .modify{clear:both;margin-top:5px;}
.fmSatis-contact + .fmSatis{border-top:none;margin-top:-30px;}
.fmSatis {margin: 30px 0;border: 1px solid #c8cdd1;font: 14px '나눔고딕 ',NanumGothic,sans-serif;letter-spacing: -1px;}
.fmSatis-fm {padding: 15px;line-height: 1.8; background-color: #fff;color: #5f5f5f;}
.fmSatis-icoFm {display: none;}
.fmSatis-fm label,
.fmSatis-fm input {vertical-align: middle;}
.fmSatis-fm label {margin-right: 10px;}
.fmSatis-suggest {overflow: hidden;}
.fmSatis-suggest input {float: left;height: 2.5em;line-height: 1.25;font-size:14px;}
.fmSatis-suggest [type=text] {margin-top:10px; width: calc(100% - 80px);padding: 0 10px;border-width: 1px 0 1px 1px;border-style: solid;border-color: #b2b2b2;}
.fmSatis-suggest [type=submit] {margin-top:10px; width: 70px;background-color: #444547;font-weight: 600;color: #fff;text-align: center;}
.fmSatis-contact .nuri{text-align:right;height:70px;}
@media screen and (min-width: 680px){
	.fmSatis-contact {overflow: hidden;display: block;width: 100%;}
	.fmSatis-contact {padding: 10px;}
	.fmSatis-contact >div {float:left; }
	.fmSatis-contact .modify{clear:none; margin-top:0;}
	.fmSatis-contact div {margin-bottom: 0;width:calc( (100% - 200px) / 3 ); line-height:60px; height:60px;padding-left:10px;}
	.fmSatis-contact div.nuri{width:200px;padding-left:0;float:right;}
}
@media screen and (min-width: 460px) and (max-width: 680px){
	.skinContainer .fmSatis-contact div.nuri{width:200px;padding-left:0;float:right;margin-top: -88px;}
	.skinContainer .fmSatis-contact div:first-child.nuri{float:none;margin-top:-10px;margin-left:-15px;}
}
@media screen and (min-width: 680px) and (max-width: 840px){
	.fmSatis-contact div span{display: none;}
}
@media screen and (min-width: 670px){
	.fmSatis {font-size: 16px;letter-spacing:0;padding-bottom:15px;}
	.fmSatis-fm {overflow: hidden;display: block;width: 100%;}
	.fmSatis-fm {padding: 20px 15px 5px 15px;}
	.fmSatis-ipts > div:nth-child(2){clear:both;}
	.fmSatis-ipts,
	.fmSatis-icoFm {display: table-cell;vertical-align: top;padding-left:5px;}
	.fmSatis-icoFm + .fmSatis-ipts {padding-left: 40px; }
	.fmSatis-ipts >div {float:left;display: inline-block;margin-right: 15px;}
	.fmSatis-suggest [type=text] {width: 330px;}
	.fmSatis-contact div.nuri {margin-bottom: 0;margin-top: -10px;margin-right: -1px;}
}
@media screen and (min-width: 1000px){
	.fmSatis {padding-bottom:5px;}
	.fmSatis-fm {padding-bottom: 0;line-height:2;}
	.fmSatis-ipts >div.fmSatis-suggest {margin-top:0;margin-right: 0px;}
	.fmSatis-suggest [type=text] {margin-top:0;}
	.fmSatis-suggest [type=submit] {margin-top:0;}
}

/* contsUtil */
.contsUtil {overflow: hidden;margin-bottom: 0;border: 1px solid #c1c9cc;font-weight: 600;font-size: 14px;line-height: 1.5;}
.contsUtil a {float: left;height: 30px;}
.contsUtil a:last-child {float: right;}
.contsUtil a:nth-child(-n+2) {width: 30px;margin-right: 5px;background: url(../img/board/icons-sns.png) 0 50% no-repeat;font-size: 0;}
.contsUtil a:nth-child(1) {background-position: 0 50%;}
.contsUtil a:nth-child(2) {background-position: -31px 50%;}
.contsUtil a:nth-child(3) {width: 30px;margin-right: 5px;background: url(../img/board/icons-sns-top.png) 0 50% no-repeat;font-size: 0;}

@media screen and (min-width: 1000px){
	.contsUtil {display: none;}
}

/* personalInfo */
.privateConfirm {position: fixed;display: block;left: 2%;z-index: 150;width: 96%;margin-bottom: 1.5em;padding: 17px;border: 3px solid #d0d0d0;background-color: #fff;font-size: 16px;line-height: 1.8;-ms-word-break: keep-all;word-break: keep-all;}
.privateConfirm-box {overflow-y: auto;height: 340px;}
@media screen and (min-width: 1000px){
	.privateConfirm {left: 50%;margin-left: -500px;width: 1000px;}
}

/* bgCover */
.bgCover {position: fixed;display: block;left: 0;top: 0;width: 100%;height: 1000px;z-index: 100;background-color: rgba(0,0,0,.6);}

/* pager */
.pager {position: relative;margin:20px auto 0;padding: 1em;text-align: center;}
.pager-num {display: none;}
.pager-link {display: inline-block;min-width: 23px;height: 27px;padding: 0 2px;margin: 0 2px;border-width: 1px;border-style: solid; background-color:#fff;border-color: #d2d2d2;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;line-height: 27px;vertical-align: middle;}
.pager-link.active {background: #55555b;color: #fff;border-color: #55555b;}
.pager-link-data-next,
.pager-link-data-last,
.pager-link-data-prev,
.pager-link-data-first {width: 23px;font-size: 0;background: #f0f0f0;}
.pager-link-data-next {background: #f0f0f0 url(../img/board/btn-page-next.gif) 50% 50% no-repeat;}
.pager-link-data-last {background: #f0f0f0 url(../img/board/btn-page-last.gif) 50% 50% no-repeat;}
.pager-link-data-prev {background: #f0f0f0 url(../img/board/btn-page-prev.gif) 50% 50% no-repeat;}
.pager-link-data-first {background: #f0f0f0 url(../img/board/btn-page-first.gif) 50% 50% no-repeat;}

@media screen and (max-width: 720px){
	.pager-link-data-ellipsis {min-width: 6px;border-width: 0;background: url(../img/board/bg-pager-ellipsis.gif) 50% 50% no-repeat;-webkit-background-size: 4px;background-size: 4px;font-size: 0;}
}

@media screen and (max-width: 420px){
	.pager-link:nth-child(n+3).pager-link:nth-last-child(n+3) {display: none;}
	.pager-num {display: inline-block;} 
}

/* confirm */
.confirm {text-align: center;-ms-word-break: keep-all;word-break: keep-all;}
.confirm-tit,
.confirm-sbj,
.confirm dt img {margin-bottom: 20px;}
.confirm dt {margin-bottom: 30px;}
.confirm-tit,
.confirm-sbj {font-weight: 600;font-size: 24px;line-height: 1.25;}
.confirm-list {padding: 0 12px;border: 1px solid #6b6b6b;}
.confirm-list li {border-width: 0 0 1px 0;border-style: solid;border-color: #d2d2d2;}
.confirm-list li:last-child {border-bottom-width: 0;}
.confirm-box {padding: 56px 0;}
.confirm-list dt img {height: 120px;}
.confirm-btn:visited,
.confirm-btn:link,
.confirm-btn {display: block;width: 111px;margin: 0 auto;padding: 10px 15px;background-color: #323a5a;font-weight: normal;font-size: 16px;color: #fff;}
@media screen and (min-width: 640px){
	.confirm-list li {overflow: hidden;}
	.confirm-list dt {float: left;width: 30%;}
	.confirm-list dd {float: right;width: 70%;padding: 50px 20px 0;}	
}
@media screen and (min-width: 1000px){
	.confirm-list {overflow: hidden;height: 500px;padding: 35px 0;}
	.confirm-list li {float: left;width: 50%;height: 100%;padding: 0 20px;border-width: 0 1px 0 0;}
	.confirm-list li:last-child {border-width: 0;}
	.confirm-list dt,
	.confirm-list dd {float: none;width: auto;}
	.confirm-list dd {padding: 0;}
}


/* research, essay */
.research-tit,
.essay-tit {margin-bottom: 20px;font-weight: 600;font-size: 16px;line-height: 2;}
.research-ico,
.essay-ico {display: inline-block;width: 40px;margin-right: 10px;padding: 3px 0;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;background: #8b8f98;color: #fff;text-align: center;line-height: 1.5;}
.research-titTxt,
.essay-titTxt {display: inline-block;width: 80%;vertical-align: top;line-height: 1.25;}
.research-tit .research-ico,
.essay-tit .essay-ico {position: relative;top: -.4em;}


/* research */ 
.research {letter-spacing: -1px;}
.research {padding: 20px 0;border-bottom: 2px dashed #ccc;}
.research-info {margin-bottom: 20px;border-radius: 3px;padding: 10px 6px 10px 46px;background: #4d5360 url(../img/board/ico-research-notify.png) 6px 50% no-repeat;font-weight: 600;font-size: 16px;color: #fff;}
.research-box {overflow: hidden;margin-bottom: 10px;}
.research-txt {float: left;}
.research-label {margin-right: 10px;}
.research-answer,
.research-people,
.research-persent,
.research-graph {display: block;float: left;}
.research-answer {width: 35%;line-height:21px;}
.research-people {width: 10%;text-align: right;}
.research-persent {width: 10%;text-align: right;}
.research-graph {overflow: hidden;float: right;position: relative;width: 30%;height: 12px;margin-top: 5px;}
.research-graph img {position: absolute;left: -100%;top: 0;width: 100%;height: 100%;}
.research-link {height: 20px;margin-left: 5px;padding: 0 10px;border: 1px solid #8b8f98;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;background: #f4f4f4;line-height: 20px;vertical-align: middle;}
.research-btnPopEssay {margin-left: 5px;padding: 0 5px;border: 1px solid #93969f;border-radius: 3px;background-color: #f4f4f4;}
.research-txtfield,
.research-textarea {margin: 5px 0;}
.research .essay {margin: 20px auto 0;}
.research-sbj {margin: 30px 0;padding: 8px 14px 8px 15px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;background-color: #e8ecf5;background-position: 20px 50%;}
.research-sbjInner.listLv {margin: 0;}
.research-sbjInner.listLv:before {top: 7px;}
.research-radio,
.research-checkBox {display: inline-block;overflow: hidden;width: 12px;height: 12px;padding: 0;text-align: center;line-height: 12px;}
.research-radio.skinRadio {border-radius: 50%;}
.research-radio [type=radio],
.research-checkBox [type=checkbox] {margin: -1px -100% 0;}
@media screen and (max-width: 640px){
	.research-answer {width: 100%;}
	.research-persent,
	.research-graph,
	.research-people {margin-bottom: 10px;text-align: left;vertical-align: top;}
	.research-people {width: 25%;}
	.research-persent {width: 20%;}
	.research-people {clear: both;padding-left: 15px;}
	.research-graph {width: 50%;}
}

/* state */
.state {height: 25px;padding: 0 20px;font-weight: 600;font-size: 14px;color: #fff;text-align: center;line-height: 25px;}
.state-ing {background-color: #306cb5;}
.state-due {background-color: #005826;}
.state-end {background-color: #464646;}

/* essay */
.essay {padding: 20px 15px;border: 8px solid #c9c9c9;background-color: #f4f4f4;min-height:300px;}
.essay-inner {position: relative;}
.essay-mainTit {margin-bottom: 15px;font-weight: 600;font-size: 20px;}
.essay-tit {padding-bottom: 20px;border-bottom: 4px solid #454545;}
.essay-mainTitIco {vertical-align: middle;}
.essay-btnClose {position: absolute;right: 0;top: 0;width: 34px;height: 34px;background: #444547 url(../img/board/btn-close-essay.gif) 50% 50% no-repeat;-webkit-background-size: 50%;background-size: 50%;}
.essay .listLv2 {padding-left: 0;}
.essay .listLv2 li {padding-top: 10px;padding-bottom: 10px;border-bottom: 2px dashed #bdbdbd;}
.essay .listLv2 li:before {top: 19px;}


/* boGallery, boGallery2 */
.boGallery {overflow: hidden;margin: 0 auto;}
.boGallery >li {display: block;float: left;}
.boGallery-sbj,
.boGallery-img {margin-bottom: 10px;}
.boGallery-sbj {font-weight: normal;/* 한 줄 자르기 */ display: inline-block; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; /* 여러 줄 자르기 추가 스타일 */ white-space: normal; line-height: 1.2; height: 2.4em; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.boGallery-img {font-size: 0;text-align: center;}
.boGallery-img img {max-width: 100%;max-height: 100%;vertical-align: middle;text-align:center;}

/* boGallery */
.boGallery {width: 100%;max-width: 1000px;padding-bottom: 20px;list-style: none;font-size: 16px;text-align: center;}
.boGallery >li {width: 32%;margin: 0 1% 15px 0;}
.boGallery.photo > li {border: 1px solid #e3e3e3;}
.boGallery.photo > li a{display:block}
.boGallery.photo .boGallery-img {border-bottom: 1px solid #e3e3e3; margin-bottom:0;}
.boGallery.ebook .boGallery-img {border: 1px solid #e4e4e4;}
.boGallery-sbj {text-align: center;}
.boGallery-sbj br {display: none;}
.boGallery.photo .boGallery-sbj {padding: 10px;height: 3.0em; margin-bottom:10px;text-align:left;font-size: 14px;}
.boGallery.photo time {display: block;padding: 0 10px 10px;text-align:left;font-size: 14px;}
.boGallery-btnGroup {font-size: 14px;line-height: 2em;}
.boGallery-btnGroup a {display: block;padding: 0 10px;background-color: #4d5360;}
.boGallery-btnGroup a:first-child {margin-bottom: 6px;}
.boGallery-btnGroup a:link,
.boGallery-btnGroup a:hover,
.boGallery-btnGroup a:visited {color: #fff;}
.boGallery-btnGroup a:hover {text-decoration: underline;}
.boGallery-btnGroup [class*=ico] {position: relative;margin-left: 5px;vertical-align: baseline;}
.boGallery-btnGroup .icoSimple-data-ebook {top: 2px;}
.boGallery-btnGroup .icoSimple-data-pdf {top: 5px;}
.boGallery .thumbnail { position: relative; overflow: hidden; } 
.boGallery.ebook .boGallery-sbj {letter-spacing:-0.1em; height:1.4em}
.boGallery.ebook .thumbnail{padding-top: 144%;}
.boGallery.photo .thumbnail{padding-top: 67%;}
.boGallery .thumbnail .centered { position: absolute; top: 0; left: 0; right: 0; bottom: 0; -webkit-transform: translate(50%,50%); -ms-transform: translate(50%,50%); transform: translate(50%,50%); } 
.boGallery .thumbnail .centered img { position: absolute; top: 0; left: 0; max-width: 100%; height: auto; max-height: 100%; -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }

/* boGalleryView */ 
.boGalleryView {position: relative;width: 80%;margin: 0 auto 20px;border: 8px solid #e3e3e3;font-size: 0;line-height: 0;}
.boGalleryView-btnPrev,
.boGalleryView-btnNext {display: block;position: absolute;left: 20px;top: 50%;z-index: 100;width: 50px;height: 50px;margin-top: -15px;background: url(../img/board/btns-board-gallery.png) -51px 50% no-repeat;font-size: 0;}
.boGalleryView-btnPrev {background-position: 0 50%;}
.boGalleryView-btnNext {left: auto;right: 20px;}
.boGalleryView-btnZoom {position: absolute;bottom:0;right:0;z-index: 110;background: url(../img/board/btns-board-gallery-zoom.png) no-repeat;font-size: 0;width: 57px;height: 57px;}
.boGalleryView-imgNo {width: 100%;}

@media screen and (max-width:559px){
	.boGalleryView {width: 100%}
	.boGalleryView-btnPrev,
	.boGalleryView-btnNext {left: auto;right:0; width: 36px;height: 36px;background-position: -57px 50%;}
	.boGalleryView-btnPrev {left: 0; right:auto; background-position: -7px 50%;}
	.boGalleryView-btnZoom {width: 40px;height: 40px;background-position: 50% 50%;}
	.boGallery >li:nth-child(n) {width: 49%; margin: 0 0 24px 0;}
	.boGallery >li:nth-child(2n) {float:right;}
	.boGallery >li:nth-child(odd) {clear:both;}
}
@media screen and (min-width:560px) and (max-width:999px){
	.boGallery >li:nth-child(n){width: 32%; margin: 0 2% 15px 0;}
	.boGallery >li:nth-child(3n) {float:right; margin-right: 0;}
	.boGallery >li:nth-child(4),
	.boGallery >li:nth-child(7),
	.boGallery >li:nth-child(10),
	.boGallery >li:nth-child(13),
	.boGallery >li:nth-child(16),
	.boGallery >li:nth-child(19) {clear:both;}
}
@media screen and (min-width: 1000px){
	.boGallery >li:nth-child(n){width: 23%; margin: 0 2.6% 24px 0;}
	.boGallery >li:nth-child(4n) {float:right; margin-right: 0;}
	.boGallery >li:nth-child(5),
	.boGallery >li:nth-child(9),
	.boGallery >li:nth-child(13),
	.boGallery >li:nth-child(17){clear:both;}
	.boGallery-btnGroup a {float: left; width: 40%; text-align:center; padding:0;}
	.boGallery-btnGroup a:nth-child(2) {width: 57%; float: right;}
	.boGallery.ebook >li:nth-child(n){margin-bottom:40px;}
}

/* boProfile */ 
.boProfile {overflow: hidden;}
.boProfile li {width: 100%;margin-bottom: 10px;border: 1px solid #cbcbcb;background-color: #f4f4f4;text-align: center;}
.boProfile a,
.boProfile span {display: block;width: 100%;}
.boProfile-img,
.boProfile span {margin-bottom: 10px;}
.boProfile a:hover {text-decoration: underline;}
.boProfile-img {width: 100%;padding: 15px 0;background-color: #fff;}
.boProfile-imgInner {width: 75px;height: 100px;margin: 0 auto;line-height: 100px;}
.boProfile-imgInner img {max-width: 100%;max-height: 100%;vertical-align: middle;}
.boProfile-seq,
.boProfile-date {font-size: 16px;line-height: 1.25;}
.boProfile-name {font-weight: 600;font-size: 22px;line-height: 1.25;}
.boProfile-name,
.boProfile-date {color: #333;}
.boProfile-seq {color: #448ae8;}
@media screen and (min-width: 640px){
	.boProfile li {float: left;width: calc(50% - 10px);margin-bottom: 20px;}
	.boProfile li:nth-child(2n) {float: right;}	
}
@media screen and (min-width: 1000px){
	.boProfile li:nth-child(n) {float: left;width: calc((100% - 132px)/3);}
	.boProfile li:nth-child(n+2) {margin-left: 66px;}
	.boProfile li:nth-child(4n){margin-left: 0;}
}

/* tabInfo */
.tabInfo,
.tabInfo li {border-style: solid;border-color: #d7d7d7;}
.tabInfo {overflow: hidden;border-width: 1px 0 0 1px;font-size: 14px;letter-spacing: -1px;}
.tabInfo a {display: block;width: 100%;}
.tabInfo-img,
.tabInfo-txt {display: inline-block;}
.tabInfo a:hover {text-decoration: underline;}
.tabInfo li {float: left;position: relative;width: 50%;padding: 10px;border-width: 0 1px 1px 0;-webkit-transition: background-color .3s;transition: background-color .3s;}
.tabInfo li:nth-child(1) {width: 100%;}
.tabInfo li:nth-child(1) .tabInfo-txt {position: absolute;left: 0;top: 25px;width: 100%;text-align: center;}
.tabInfo-img {width: 45px;height: 45px;margin-right: 5px;border-radius: 50%;line-height: 45px;background-color: #ebebeb;text-align: center;-webkit-transition: background-color .3s;transition: background-color .3s;}
.tabInfo-img img {width: 30px;vertical-align: middle;}  
.tabInfo li.active,
.tabInfo li:hover {background-color: #e1e1e1;}
.tabInfo .active .tabInfo-img,
.tabInfo li:hover .tabInfo-img {background-color: #fff;} 

@media screen and (min-width: 640px){
	.tabInfo {font-size: 16px;}
	.tabInfo li:nth-child(n) {width: 25%;}
	.tabInfo-img,
	.tabInfo li:nth-child(n) .tabInfo-txt {display: block;position: static;margin: 0 auto;text-align: center;}
	.tabInfo-img {width: 50px;height: 50px;margin-bottom: 10px;line-height: 50px;}
	.tabInfo-img img {width: 35px;} 	
}

@media screen and (min-width: 1000px){
	.tabInfo li:nth-child(n) {width: 14.28571428571429%;}
}

/* commentList */
.commentList {-ms-word-break: keep-all;word-break: keep-all;padding: 10px;}
.commentList-item {border-bottom: 1px solid #d0d0d0;} 
.commentList-sbj,
.commentList-date {display: inline-block;} 
.commentList-sbj {font-weight: 600;}
.commentList-date {color: #999;}
.commentList .skinIptTxt {width: 200px;}
.commentList .skinBtnBo {width: 90px;}


/* noResult-tit */ 
.noResult {font-size: 14px;line-height: 1.5;}
.noResult-tit {margin-bottom: 1.2em;font-weight: 600;font-size: 16px;line-height: 1.25;}
@media screen and (min-width: 640px){
	.noResult {font-size: 16px;}
	.noResult-tit {font-size: 18px;}
}

/* btnsResearch */
.btnsResearch a {width: 95px;}

/* popIntro */
.popIntro {position: fixed;z-index: 60;top: 50%;left: 50%;text-align: center;}
.popIntro-inner {position: relative;max-width:1000px;}
.popIntro .notOpenPopToday,
.popIntro-btnClose {position: absolute;}
.popIntro-btnClose {right: 0;top:0;}
.popIntro .notOpenPopToday {left: 0;bottom: 0;width: 100%;}
/*.popIntro-inner {display: block;width: 100%;}*/
.popIntro-inner img {max-width: 100%;}
.popIntro-btnClose {width: 48px;height: 48px;background: #000 url(../img/board/btn-close-intro-pop.gif) 50% 50% no-repeat;font-size: 0;}

/* notOpenPopToday */
.notOpenPopToday {padding: 10px 0;background-color: #000;text-align: center; color:#8a8a8a;font-size:16px;}
.notOpenPopToday input {color: #8a8a8a;vertical-align: middle;height:22px;line-height:22px; margin-right:22px;font-size:16px;}
.notOpenPopToday input[type=button]{height:22px;line-height:19px;margin-right:0;}

/* confirmIframe */
.confirmIframe {width: 100%;height: 1050px}
#Sub#AuthSub {margin-top: 0;}
@media screen and (min-width: 451px){
	.confirmIframe {height: 1010px}	
}
@media screen and (min-width: 600px){
	.confirmIframe {height: 985px}	
}
@media screen and (min-width: 699px){
	.confirmIframe {height: 797px}	
}
@media screen and (min-width: 1000px){
	.confirmIframe {height: 550px}	
}

/* css element  ------------------------------------------------------------------------------------------------------ */
.skinFont-bold {font-family: inherit;font-weight: 600;}
.skinFont-normal {font-family: inherit;font-weight: normal;}
.skinColor-red {color: #d70808;}
.skinColor-blue,
.skinColor-fmInfo {color: #096bc9;}
.skinTxd-UL {text-decoration: underline;} 
.skinTxa-right {text-align: right}
.skinTxa-left {text-align: left}
.skinTxa-center {text-align: center}

/* margin */
.skinMt-0 {margin-top: 0 !important;}
.skinMt-xlarge {margin-top: 50px;}
.skinMt-large {margin-top: 40px;}
.skinMt-medium {margin-top: 30px;}
.skinMt-small {margin-top: 20px;}
.skinMt-xsmall {margin-top: 10px !important;}

/* margin + bottom */
.skinMb-0 {margin-bottom: 0 !important;}
.skinMb-xlarge {margin-bottom: 50px;}
.skinMb-large {margin-bottom: 40px;}
.skinMb-medium {margin-bottom: 30px;}
.skinMb-small {margin-bottom: 20px;}
.skinMb-xsmall {margin-bottom: 10px !important;}

/* margin + left */
.skinMl-xlarge {margin-left: 20px;}
.skinMl-large {margin-left: 15px;}
.skinMl-medium {margin-left: 10px;}
.skinMl-small {margin-left: 5px;}
.skinMl-0 {margin-left: 0 !important;}

/* margin + right */
.skinMr-xlarge {margin-right: 20px;}
.skinMr-large {margin-right: 15px;} 
.skinMr-medium {margin-right: 10px;}
.skinMr-small {margin-right: 5px;}
.skinMr-0 {margin-right: 0 !important;}

/* padding */
.skinPd-xlarge {padding: 40px}
.skinPd-large {padding: 30px}
.skinPd-medium {padding: 20px}
.skinPd-small {padding: 10px}
.skinPd-xsmall {padding: 5px}

.skinPdl-xlarge {padding-left: 40px}
.skinPdl-large {padding-left: 30px}
.skinPdl-medium {padding-left: 20px}
.skinPdl-small {padding-left: 10px}
.skinPdl-bullet {padding-left: 8px;}
.skinPdl-xsmall {padding-left: 5px}

.skinPdt-xlarge {padding-top: 40px}
.skinPdt-large {padding-top: 30px}
.skinPdt-medium {padding-top: 20px}
.skinPdt-small {padding-top: 10px}
.skinPdt-xsmall {padding-top: 5px}
.skinPd-0,
.cmpe-pseudo-table >.tr >.th.skinPd-0,
.cmpe-pseudo-table >.tr >.td.skinPd-0,
.page-wrap .td.skinPd-0 {padding: 0;}
.skinPdl-0 {padding-left: 0;}
.skinPdr-0 {padding-right: 0;}
.skinPdt-0 {padding-top: 0;}
.skinPdb-0 {padding-bottom: 0;}

/* skinVta */
.skinVta-middle {vertical-align: middle;}

/* border */
.skinBdl-small {border-left-width: 1px !important;}

/* dl table */
.board_view_info{overflow:hidden;border-top:1px solid #ddd;}
.board_view_info dl{position:relative;float:left;width:50%;border-bottom:1px solid #ddd}
.board_view_info .info_100{width:100%;}
.board_view_info dl dt{padding: 12px 7px;position:absolute;left:0;top:0;right:0;bottom:0;width:154px;background:#f8f8f8;font-size:16px;font-weight:300;text-align:center;border-right:1px solid #ddd}
.board_view_info dl dd{overflow:hidden;margin-left:153px;padding:12px 7px;border-left:1px solid #d5d5db}
.board_view_info .info_border{border-left:1px solid #ddd}

@media screen and (max-width: 1024px){
	.board_view_info dl{width:100%;}
	.board_view_info .info_border{border-left:0}
}

@media screen and (max-width:768px) {
	.tab_navwrapper .tabwrapper >li {
		width: 100% !important;
		margin-top: -1px;
		
	}
	.tab_navwrapper .tabwrapper >li:first-child {
		margin-top: 0;
		
	}
	.tab_navwrapper .tab .tit .titinner {
		border-width:1px 1px 1px 1px;
	}
}