@charset "utf-8";

/* Web Font
-----------------------------------------------*/
@font-face {
    font-family: nanum;
    src: url(fonts/NanumGothic.eot);
    src: url(fonts/NanumGothic.eot?#iefix) format('embedded-opentype'), url(fonts/NanumGothic.woff) format('woff'), url(fonts/NanumGothic.ttf) format('truetype');
}

@font-face {
    font-family: nanumB;
    src: url(fonts/NanumGothicBold.eot);
    src: url(fonts/NanumGothicBold.eot?#iefix) format('embedded-opentype'), url(fonts/NanumGothicBold.woff) format('woff'), url(fonts/NanumGothicBold.ttf) format('truetype');
}

@font-face {
    font-family: nanumEB;
    src: url(fonts/NanumGothicExtraBold.eot);
    src: url(fonts/NanumGothicExtraBold.eot?#iefix) format('embedded-opentype'), url(fonts/NanumGothicExtraBold.woff) format('woff'), url(fonts/NanumGothicExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: nanumbarun;
    src: url(fonts/NanumBarunGothic.eot);
    src: url(fonts/NanumBarunGothic.eot?#iefix) format('embedded-opentype'), url(fonts/NanumBarunGothic.woff) format('woff'), url(fonts/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
    font-family: NanumMyeongjo;
    src: url(fonts/NanumMyeongjo.eot);
    src: url(fonts/NanumMyeongjo.eot?#iefix) format('embedded-opentype'),
        url(fonts/NanumMyeongjo.woff) format('woff'),
        url(fonts/NanumMyeongjo.ttf) format('truetype');
}

@font-face {
    font-family: 'tvNEnjoystories';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/tvNEnjoystoriesB.eot);
    src:
        url(fonts/tvNEnjoystoriesB.eot?#iefix) format('embedded-opentype'),
        url(fonts/tvNEnjoystoriesB.woff2) format('woff2'),
        url(fonts/tvNEnjoystoriesB.woff) format('woff'),
        url(fonts/tvNEnjoystoriesB.ttf) format('truetype'),
        url(fonts/tvNEnjoystoriesB.otf) format('opentype');
}

@font-face {
    font-family: 'tvNEnjoystories';
    font-style: normal;
    font-weight: 500;
    src: url(fonts/tvNEnjoystoriesM.eot);
    src:
        url(fonts/tvNEnjoystoriesM.eot?#iefix) format('embedded-opentype'),
        url(fonts/tvNEnjoystoriesM.woff2) format('woff2'),
        url(fonts/tvNEnjoystoriesM.woff) format('woff'),
        url(fonts/tvNEnjoystoriesM.ttf) format('truetype'),
        url(fonts/tvNEnjoystoriesM.otf) format('opentype');
}

@font-face {
    font-family: 'tvNEnjoystories';
    font-style: normal;
    font-weight: 300;
    src: url(fonts/tvNEnjoystoriesL.eot);
    src:
        url(fonts/tvNEnjoystoriesL.eot?#iefix) format('embedded-opentype'),
        url(fonts/tvNEnjoystoriesL.woff2) format('woff2'),
        url(fonts/tvNEnjoystoriesL.woff) format('woff'),
        url(fonts/tvNEnjoystoriesL.ttf) format('truetype'),
        url(fonts/tvNEnjoystoriesL.otf) format('opentype');
}

@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
