@charset "UTF-8";
html{background:#f1f1f1;height:auto !important;}
body{max-width:1200px !important;background:#fff;height:auto !important;}
#header{max-width:1200px !important;}
#footer .othersite_wrap{margin:0 !important;}
#footer .qnb_connection{padding:0 !important;}
#header .gnb_wrap h1{margin-top:17px;}
#header .gnb_wrap h1 a{display:block;width:160px;}
#header .gnb_wrap h1 a img{display:block;width:100%;}
#header .gnb_area .global_btn{transform:scale(.9);}
#footer .othersite_wrap .othersite_list .othersite_slide a{font-size:15px;}
#footer .qnb_connection >li .tit a{font-size:15px;}
#footer .footer_info_area .footer_info_quick{padding-top: 15px;}
.global_list .global_closebtn{transform:scale(.9);transform-origin:100% 0%;}

#footer .footer_info_area .footer_info_quick a{font-size: 14px;padding: 7px 0;}
#footer .footer_info_area{padding: 0 15px 15px;}
#footer .footer_info_area .footer_address{font-size:14px;margin-top: 10px;}
#footer .footer_info_area .footer_mark{padding-top: 8px;}
#footer .footer_info_area .footer_mark img{width: 97px;}

.global_list .global_serch_area .text_globalsearch{margin-left:20px;width:calc(100% - 40px);border-width:3px;height:64px;font-size:15px;}
.global_list .global_serch_area .image_close{right:35px;transform:scale(.9);transform-origin:100% 50%;top:10px;}
.global_list .m_list{padding-top:35px;}
.global_list .m_list li{margin:-1px 20px 0 20px;}
.global_list .m_list li span{height:52px;line-height:52px;padding-left:12px;font-size:16px}
.global_list .m_list li span:after{transform:scale(.9);transform-origin:100% 0%;}
.global_list .m_list li.active a{font-size:15px;}

main{position:relative;overflow:hidden;padding-top:64px;}
main .inner{padding:0 15px;margin-top:20px;}
main .slick img{display:block !important;width:100%;}

main:before{content:'';display:block;background: url(/site/puble/portal/img/renewal/bgm_main01.png) center bottom no-repeat;width:100%;height:436px;background-size:cover;position:absolute;top:0px;left:0;}

#notify{position:relative;}
#notify .bx{overflow:hidden;box-shadow:2px 2px 10px 0px rgba(0,0,0,.15);border-radius:0px 20px 0px 20px;position:relative;max-width:620px;margin:0 auto;}
#notify .bx .control{position:absolute;bottom: 2px;left:0;right:0;height: 40px;text-align:right;padding-right: 10px;line-height: 38px;}
#notify .bx .control a,
#notify .bx .control p{display:inline-block;vertical-align:middle;}
#notify .bx .slide{position:relative;}
#notify .bx .slide:before{content:'';display:block;position:absolute;bottom:0;right:0;left:0;height: 40px;background:rgba(255,255,255,.6);}
#notify .bx h3{position:absolute;bottom: 9px;left: 15px;color:#313131;font-weight: 500;font-size: 15px;padding-right: 145px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width:100%;}
#notify .bx .control a{display:inline-block;height: 24px;line-height: 24px;width: 24px;border-radius:50%;border:1px solid #666;overflow:hidden;text-indent:9999px;position:relative;transition:all .1s;}
#notify .bx .control a:hover{transform:scale(1.05);}
#notify .bx .control a:active{transform:scale(.95);}
#notify .bx .control a.play{display:none;}
#notify .prev:after{content:'';display:block;width:5px;height:5px;border:2px solid #666;border-width:2px 2px 0 0;transform:rotate(-135deg);position:absolute;top:50%;left: 9px;margin-top: -3.5px;}
#notify .next:after{content:'';display:block;width:5px;height:5px;border:2px solid #666;border-width:2px 2px 0 0;transform:rotate(45deg);position:absolute;top:50%;left: 7px;margin-top:-3.5px;}
#notify .play:after{content:'';display:block;width:0px;height:0px;border-left:7px solid #666;border-top:5px solid transparent;border-bottom:5px solid transparent;position:absolute;top:50%;left: 9px;margin-top:-5.5px;}
#notify .pause:after{content:'';display:block;width:2px;height:10px;position:absolute;top:50%;left: 8px;margin-top:-5px;background:#666;}
#notify .pause:before{content:'';display:block;width:2px;height:10px;position:absolute;top:50%;right: 8px;margin-top:-5px;background:#666;}
#notify .bx .control p{color:#666;font-size: 15px;font-weight:500;margin: 0px 4px 0;}

#window{margin-top:15px;position:relative;}
#window > div{width:100%}
#window > div:nth-of-type(2){margin:15px -10px 0 0;width:calc(100% + 10px)}

#window .prev:after{content:'';display:block;width:5px;height:5px;border:2px solid #666;border-width:2px 2px 0 0;transform:rotate(-135deg);position:absolute;top:50%;left:12px;margin-top:-3.5px;}
#window .next:after{content:'';display:block;width:5px;height:5px;border:2px solid #666;border-width:2px 2px 0 0;transform:rotate(45deg);position:absolute;top:50%;left:10px;margin-top:-3.5px;}
#window .play:after{content:'';display:block;width:0px;height:0px;border-left:7px solid #666;border-top:5px solid transparent;border-bottom:5px solid transparent;position:absolute;top:50%;left:12px;margin-top:-5.5px;}
#window .pause:after{content:'';display:block;width:2px;height:10px;position:absolute;top:50%;left:11px;margin-top:-5px;background:#666;}
#window .pause:before{content:'';display:block;width:2px;height:10px;position:absolute;top:50%;right:11px;margin-top:-5px;background:#666;}
#window .leftbx .control p{color:#666;font-size:18px;font-weight:500;margin:-2px 8px 0;}

#window .lbx{border-radius: 15px 0px 15px 0px;position:relative;}
#window .lbx .slick{margin-right:-130px}
#window .lbx .slide:not(.slick-current){transform:scale(.9);}
#window .lbx .control{display:block;background:#fff;height: 36px;line-height: 36px;text-align:right;padding: 7px 20px 0 0;margin-right: -10px;}
#window .lbx .control a{display:inline-block;height: 22px;line-height: 20px;width: 22px;border:1px solid #666;border-radius:2px;overflow:hidden;text-indent:9999px;position:relative;transition:all .1s;vertical-align:top;}
#window .lbx .control a:hover{transform:scale(1.1);}
#window .lbx .control a:active{transform:scale(.97);}

#window .lbx .control a.play{display:none;}
#window .lbx .prev:after{left: 8px;}
#window .lbx .next:after{left: 6px;}
#window .lbx .play:after{left:10px;}
#window .lbx .pause:after{left: 7px;}
#window .lbx .pause:before{right: 7px;}

#window .airport{overflow:hidden;border-radius:15px 15px 0 0;border:1px solid #dadada;position:relative;}
#window .airport:after{content:'';display:block;width: 92px;height: 49px;background:url(/site/puble/portal/img/renewal/icon02.png) 0 0 no-repeat;background-size:cover;position:absolute;top: 16px;right: 39px;}
#window .airport.active:after{animation:move2 2s ease-in-out 1 both}
#window .airport img{display:block;width:100%;}
#window .airport .btnbx{overflow:hidden;}
#window .airport .btnbx a{display:block;width:50%;float:left;height: 38px;line-height: 36px;padding-left: 11px;position:relative;font-size: 14px;color:#626262;transition:all .1s;background: #fff;}
#window .airport .btnbx a:first-child{border-right:1px solid #dadada;}
#window .airport .btnbx a:hover,
#window .airport .btnbx a:focus{text-decoration:none;}
#window .airport .btnbx a:after{content:'';display:block;width:8px;height:9px;background:url(/site/puble/portal/img/renewal/icon01.png) 0 0 no-repeat;background-size:cover;position:absolute;top:50%;margin-top:-4.5px;right: 7px;}
#window .airport .btnbx a:hover:after{animation:move1 .3s ease-out infinite alternate;}
#window .airport .btnbx a:hover{background:#eae9e9;}

#window .lnk{overflow:hidden;margin-top: 5px;}
#window .lnk a{display:block;height: 42px;line-height: 40px;padding-left: 14px;font-size: 14px;color:#626262;border:1px solid #ccc;border-width:0px 1px 1px 0;width:50%;float:left;white-space: nowrap;}
#window .lnk a:nth-child(2n){border-right:0;}
#window .lnk a:nth-child(n+3){border-bottom:0;}
#window .lnk a:hover{text-decoration:none;}
#window .lnk a:before{content:'';display:inline-block;vertical-align:-10px;margin-right: 2px;background:url(/site/puble/portal/img/renewal/sp_main.png) -324px -2px no-repeat;background-size:520px 440px;width:32px;height:34px;transition:all .2s;transform-origin:0% 50%;transform: scale(.8);}
#window .lnk a:nth-child(2):before{background-position:-362px -2px;vertical-align:-10px;width:36px;height:34px;}
#window .lnk a:nth-child(3):before{background-position:-402px -2px;vertical-align:-11px;width:36px;height:34px;}
#window .lnk a:nth-child(4):before{background-position:-441px -2px;vertical-align:-12px;width:38px;height:34px;}


#board{margin:15px 0px 0;position:relative;}
#board .bx{position:relative;height:235px;}
#board .bx > div{float:left;width:16.66666666666667%;}
#board .bx ul{display:none;}
#board .bx .more{display:none !important;}

#board .bx h3 a{display:block;width:100%;border:1px solid #d2d2d2;border-width:1px 0 1px 1px;height:40px;line-height:38px;text-align:center;color:#626262;font-size:13px;background:#fff;transition:all .1s;z-index:1;position:relative;white-space:nowrap;}
#board .bx > div:last-child a{border-right:1px solid #d2d2d2;}
#board .bx h3 a:before{content:'';display:block;position:absolute;top:0;left:0;right:0;bottom:0;transition:all .1s;background:#013668;z-index:-1;opacity:0;}
#board .bx h3 a:hover{text-decoration:none;color:#fff;font-weight:500;}
#board .bx h3 a:hover:before{opacity:1;}
#board .bx h3 a:focus{text-decoration:none;}
#board .bx h3 a:active:before{top:2px;left:2px;bottom:2px;right:2px;}
#board .bx h3.active a{pointer-events:none;color:#fff;font-weight:500;z-index:5;}
#board .bx h3.active a:before{top:-5px;bottom:-5px;opacity:1;left:-1px;right:-1px;}
#board .bx .more{display:block;width:41px;height:40px;border:1px solid #d2d2d2;position:absolute;top:0;right:0;background:#f6f6f6;overflow:hidden;text-indent:-9999px;z-index:3;}
#board .bx .more:before{content:'';display:block;width:2px;height:14px;background:#010000;position:absolute;top:50%;left:50%;margin:-7px 0 0 -1px;transition:all .1s;}
#board .bx .more:after{content:'';display:block;width:14px;height:2px;background:#010000;position:absolute;top:50%;left:50%;margin:-1px 0 0 -7px;transition:all .1s;}
#board .bx .more:hover:before,
#board .bx .more:hover:after{transform:rotate(90deg);}
#board .bx ul{width:100%;position:absolute;top: 49px;border-bottom:1px solid #bebebe;padding-bottom: 8px;left:0;}
#board .bx li a{height: 30px;line-height: 29px;position:relative;padding-right:85px;display:block;font-size: 14px;}
#board .bx li strong{display:block;font-size: 13px;color:#595959;font-weight:300;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;transition:all .1s;transform-origin:0% 50%;}
#board .bx li span{display:block;position:absolute;top:0;right:0;font-size:14px;color:#707070;font-weight:300;}
#board .bx li:first-child span{display:none;}

#board .bx li:first-child a{height: 46px;line-height: 41px;border-bottom:1px dashed #bebebe;margin-bottom:10px;padding-right:0;}
#board .bx li:first-child a strong{font-size: 16px;color:#362e2b;font-weight:500;}
#board .bx li a:hover,
#board .bx li a:hover span,
#board .bx li a:hover strong{text-decoration:none;}
#board .bx li a:hover strong{transform:scale(1.05);}

#menu{position:relative;margin-top:15px;border:1px solid #c9c9c9;box-shadow:3px 3px 5px 0px rgba(0,0,0,.2);border-bottom:0;}
#menu .titbx{position:relative;background:#16294a;height:auto;overflow:hidden;}
#menu .titbx img{display:block;width:auto;height:56px;max-width:initial;}
#menu .btn{display:block;height:30px;width:30px;overflow:hidden;text-indent:-9999px;position:absolute;transition:all .1s;top: 110px;left: 0px;background: url(/site/puble/portal/img/renewal/sp_main.png) -210px -50px no-repeat;background-size:420px 355px;}
#menu .btn.next{left:auto;right: 0px;background-position-x:-275px;}
#menu .btn:hover{transform:scale(1.1);}
#menu .btn:active{transform:scale(.97);}

#menu .slick{margin: 13px 30px 15px 30px;overflow:hidden;position:relative;}
#menu .slick-slider .slick-list{margin:0 -1px 0 -1px}
#menu .slick .slide{position:relative;text-align:center;padding-top:10px;}
#menu .slick .slide:after{content:'';display:block;width:0px;height:40px;position:absolute;right:-1px;top:32px;border-left:1px dashed #d1d1d1;z-index:3;}
#menu .slick .slide span{display:inline-block;line-height:1.2;transition:all .1s;color:#434343;font-size:14px;position:relative;padding-bottom:4px;}
#menu .slick .slide:hover,
#menu .slick .slide:hover span{text-decoration:none;}
#menu .slick .slide:hover span{color:#3554d5;}
#menu .slick .slide span:after{content:'';display:block;height:1px;position:absolute;bottom:0px;left:50%;right:50%;transition:all .1s;background:#3554d5;}
#menu .slick .slide:hover span:after{left:-1px;right:-1px;}
#menu .slick .slide:before{content:'';display:block;margin:0 auto 5px;width:58px;height:55px;background:url(/site/puble/portal/img/renewal/sp_main.png) -53px -131px no-repeat;background-size:520px 440px;transition:all .2s;}
#menu .slick .slide.v2:before{background-position:-130px -131px;}
#menu .slick .slide.v3:before{background-position:-209px -131px;}
#menu .slick .slide.v4:before{background-position:-291px -131px;}
#menu .slick .slide.v5:before{background-position:-370px -131px;}
#menu .slick .slide.v6:before{background-position:-451px -131px;}
#menu .slick .slide.v7:before{background-position:-53px -208px;}
#menu .slick .slide.v8:before{background-position:-130px -208px;}
#menu .slick .slide.v9:before{background-position:-209px -208px;}
#menu .slick .slide.v10:before{background-position:-291px -208px;}
#menu .slick .slide.v11:before{background-position:-370px -208px;}
#menu .slick .slide:hover:before{transform:rotateY(180deg);}

#info{position:relative;margin:18px 0 30px;}
#info .pbx{background:url(/site/puble/portal/img/renewal/info01.jpg) center center no-repeat;background-size:cover;width:100%;height:64vw;text-align:left;padding:20px 0 0 20px;}
#info .pbx img{display:block;margin-bottom: 17px;width:180px;}
#info .pbx a{display:inline-block;vertical-align:top;width: 76px;height: 76px;margin-right:11px;color:#fff;line-height:1.2;text-align:center;font-size: 14px;font-weight:400;position:relative;z-index:2;padding-top: 31px;}
#info .pbx a:before{content:'';display:block;position:absolute;top:0;left:0;right:0;bottom:0;background:url(/site/puble/portal/img/renewal/icon03.png) center center no-repeat;background-size: cover;z-index:-1;transition:all .2s;}
#info .pbx a.v2{padding-top: 22px;}
#info .pbx a.v2:before{background-image:url(/site/puble/portal/img/renewal/icon04.png);}
#info .pbx a:hover{text-decoration:none;transform:scale(1.07);}
#info .pbx a:hover:before{transform:rotate(180deg);}
#info .pbx.active img{animation:move3 .7s ease-in-out 1 both}

#info .snsbx{padding:20px;background:#f6f6f6;border:1px solid #c9c9c9;border-radius:15px;margin-top:15px}
#info .titbx img{display:block;width:100%;max-width:386px;}
#info .scbx{padding-top:2px;height: 172px;overflow:auto;position:relative;scroll-behavior:smooth;scrollbar-width:6px;scrollbar-track-color:#ddd;scrollbar-face-color:#030303;scrollbar-arrow-color:transparent;overflow-x:hidden;}
#info .scbx::-webkit-scrollbar{width:6px;}
#info .scbx::-webkit-scrollbar-track {background-color:#ddd;}
#info .scbx::-webkit-scrollbar-thumb {background:#030303;}
#info .scbx::-webkit-scrollbar-button {display:none;}
#info .snsbx a{display:block;padding: 14px 0 14px 40px;border-bottom:1px solid #cfcfcf;position:relative;}
#info .snsbx a img{display:block;position:absolute;top:50%;left:0px;margin-top:-15px;width:30px;}
#info .snsbx a strong{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#535353;font-weight:500;line-height:1.1;padding-right:15px;font-size: 15px;transition:all .1s;transform-origin:0% 50%;width:100%;}
#info .snsbx a p{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#707070;font-weight:300;line-height:1.1;padding-right:15px;margin-top: 7px;font-size: 13px;}
#info .snsbx a:hover,
#info .snsbx a:hover p,
#info .snsbx a:hover strong{text-decoration:none;}
#info .snsbx a:hover strong{transform:scale(1.05);}

#info .titbx{position:relative;padding-bottom: 18px;}
#info .titbx:after{content:'';display:block;bottom:0px;left:0;right:0;height:2px;background:url(/site/puble/portal/img/renewal/line02.png) 0 0 repeat-x;position:absolute;}

@keyframes move3{ 
    0%{transform:scale(.6);opacity:.3;}
    100%{transform:scale(1);opacity:1;}
}

@keyframes move1{ 
    0%{right:7px;}
    100%{right:10px;} 
}

@keyframes move2{ 
    0%{transform:translate(0,0) scale(1);}
    100%{transform:translate(80%,-115%) scale(.2);}
}


@media (min-width:640px) {
    main .inner{padding:0 20px;}

    #window{margin-top:25px;position:relative;}
    #window > div{width:calc(50% - 10px);float:right;margin-left:20px;}
    #window > div:nth-of-type(2){margin:0 0 0 0px;width:calc(50% - 10px);float:left;}
    #window .lbx{border-radius: 15px 0px 15px 0px;box-shadow:3px 3px 10px rgba(0,0,0,.2);overflow:hidden;}
    #window .lbx .slick{margin-right:0px}
    #window .lbx .slide:not(.slick-current){transform:scale(1);}
    #window .airport .btnbx a{display:block;width:50%;float:left;height: 40px;line-height: 38px;padding-left: 11px;position:relative;font-size: 14px;color:#626262;transition:all .1s;background: #fff;}
    #window .lnk{margin-top: 15px;}
    #window .lnk a{height: 46px;line-height: 42px;padding-left: 14px;font-size: 14px;}
    #window .lnk a:before{content:'';display:inline-block;vertical-align:-10px;margin-right: 2px;background:url(/site/puble/portal/img/renewal/sp_main.png) -324px -2px no-repeat;background-size:520px 440px;width:32px;height:34px;transition:all .2s;transform-origin:0% 50%;transform: scale(.8);}

    #board{margin:23px 0px 0;}
    #board .bx{height: 245px;}
    #board .bx > div{float:left;width:16.66666666666667%;}
    #board .bx h3 a{height:42px;line-height:40px;font-size:14px;}
    #board .bx ul{width:100%;position:absolute;top: 49px;border-bottom:1px solid #bebebe;padding-bottom: 10px;left:0;}
    #board .bx li a{height: 31px;line-height: 29px;position:relative;padding-right:85px;display:block;font-size: 14px;}
    #board .bx li strong{display:block;font-size: 14px;color:#595959;font-weight:300;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;transition:all .1s;transform-origin:0% 50%;}
    #board .bx li span{display:block;position:absolute;top:0;right:0;font-size:14px;color:#707070;font-weight:300;}
    #board .bx li:first-child span{display:none;}
    #board .bx li:first-child a{height: 51px;line-height: 50px;border-bottom:1px dashed #bebebe;margin-bottom:10px;padding-right:0;}
    #board .bx li:first-child a strong{font-size: 17px;color:#362e2b;font-weight:500;}

    #menu{margin-top:20px;}
    #menu .titbx img{height:58px;}
    #menu .slick{margin: 15px 30px 17px 30px;overflow:hidden;position:relative;}

    #info{margin:20px 0 35px;}
    #info .pbx{width:100%;height:250px;text-align:left;padding:23px 0 0 25px;}
    #info .snsbx{padding:25px;margin-top:20px}
    #info .titbx img{display:block;width:100%;max-width:386px;}
    #info .snsbx a{display:block;padding: 14px 0 14px 47px;}
}

@media (min-width:992px) {
    main .inner{padding:0 70px;}

    #info .pbx{width:calc(50% - 10px);height:285px;margin-right:20px;float:left;padding-top:35px;}
    #info .snsbx{margin-top:0px;width:calc(50% - 10px);float:left;}

    #window .airport .btnbx a{display:block;width:50%;float:left;height: 42px;line-height: 40px;padding-left: 11px;position:relative;font-size: 15px;color:#626262;transition:all .1s;background: #fff;}
    #window .lnk{margin-top: 20px;}
    #window .lnk a{height: 48px;line-height: 46px;padding-left: 19px;font-size: 15px;}
    #window .lnk a:before{transform: scale(.9);margin-right: 8px;}

    #info{margin:25px 0 45px;}
    #menu{margin-top:25px;}
    #board{margin:30px 0px 0;}
    #window{margin-top:30px;}
}

