/* 사이트 편집기에서 선택한 요소의 사용자 스타일입니다. */

#footer > div.site-footer__bottom:nth-of-type(2) > div.site-footer__inner > div.footer-brand:nth-of-type(1) > strong > img.footer-brand__image {
  filter: invert(1) grayscale(1);
}

html[data-builder-page="index.html"] a.dq-banner-item > strong {
  color: #fff;
}

html[data-builder-page="index.html"] a.dq-banner-item > p {
  color: #fff;
}

html[data-builder-page="index.html"] #main > section.dq-content-section.dq-content-section--contained:nth-of-type(3) > div.dq-content-section__inner > header.dq-section-heading > h2 {
  color:#fff;
}

html[data-builder-page="index.html"] div.dq-stat-item > strong {
  color: red;
}
