

@charset "utf-8";

#sub{overflow:hidden;}
#sub #content{padding-bottom:70px;}
#sub .inner{max-width:1440px;padding:0 20px;}

@media (max-width:1399px) {
  #sub #content{padding-bottom:45px;}
}

@media (max-width:760px) {
  #sub .inner{padding:0 15px;}
  #sub #content{padding-bottom:35px;}
}

@media (max-width:1040px) {
  .skinTb-wrapper.width1000{margin-right:-20px;}
}

@media (max-width:808px) {
  .skinTb-wrapper.width768{margin-right:-20px;}
}

@media (max-width:670px) {
  .skinTb-wrapper.width640{margin-right:-15px;}
}


#visual-bx{height:322px;position:relative;display:flex;flex-direction:column;align-items:center;justify-content:center;padding-top:90px;}
#visual-bx img{display:block;position:absolute;top:0;left:50%;width:1920px;margin-left:-960px;}
#visual-bx h2{position:relative;font-weight:700;font-size:40px;line-height:1.2;color:#000;font-family:'GmarketSans', sans-serif;}
#visual-bx .menu-tab{position:relative;padding-top:15px;margin-top:15px;}
#visual-bx .menu-tab:after{content:'';display:block;width:22px;height:1px;background:#000;position:absolute;top:0;left:50%;margin-left:-11px;}
#visual-bx .menu-tab a{display:inline-block;color:#000;font-size:17px;text-align:center;transition:all .1s;position:relative;vertical-align:top;font-weight:500;margin-right:24px;height:27px;line-height:25px;}
#visual-bx .menu-tab a.home{font-size:0;width:27px;height:27px;background:url(/page/culture/images/common/sp_culture.png) -7px -46px no-repeat;background-size:520px 835px;image-rendering:-webkit-optimize-contrast;}
#visual-bx .menu-tab a:after{content:'';display:block;width:8px;height:8px;border:1px solid #000;border-width:1px 1px 0 0;transform:rotate(45deg);position:absolute;right:-15px;top:50%;margin-top:-4px;}
#visual-bx .menu-tab a:last-child:after{display:none;}


#sub .share-bx{position:relative;margin-bottom:10px;padding:10px 0;text-align:right;}
#sub .share-bx .print{display:inline-block;vertical-align:top;margin-left:6px;font-size:0;width:46px;height:46px;background:url(/page/culture/images/common/sp_culture.png) -458px -17px no-repeat;background-size:520px 835px;image-rendering: -webkit-optimize-contrast;border:1px solid #ababab;border-radius:20px;}
#sub .share-bx .share{display:inline-block;vertical-align:top;position:relative;}
#sub .share-bx .share .open{display:inline-block;vertical-align:top;margin-left:8px;font-size:0;width:46px;height:46px;background:url(/page/culture/images/common/sp_culture.png) -379px -17px no-repeat;background-size:520px 835px;image-rendering: -webkit-optimize-contrast;border:1px solid #ababab;border-radius:20px;}

#sub .share-bx .view{display:none;position:absolute;right:52px;white-space:nowrap;top:50%;margin-top:-11px;height:24px;}
#sub .share-bx .view a{width:34px;height:24px;font-size:0;background: url(/page/culture/images/common/sp_culture.png) -202px -9px no-repeat;background-size:520px 835px;display:inline-block;vertical-align:top;image-rendering: -webkit-optimize-contrast;}
#sub .share-bx .view a.twitter{background-position-x: -245px;}
#sub .share-bx .view a.blog{background-position-x: -283px;}
#sub .share-bx .view a.kakao{background-position-x: -323px;}


@media (max-width:1399px) {
  #visual-bx{height:235px;padding-top:70px;}
  #visual-bx img{width:1400px;margin-left:-700px;}
  #visual-bx h2{font-size:32px;}
  #visual-bx .menu-tab{padding-top:12px;margin-top:12px;}
  #visual-bx .menu-tab:after{width:16px;margin-left:-8px;}
  #visual-bx .menu-tab a{font-size:15px;margin-right:20px;}
  #visual-bx .menu-tab a.home{transform:scale(.9);}
  #visual-bx .menu-tab a:after{margin-top:-4px;width:6px;height:6px;right:-14px;}

  #sub .share-bx{margin-bottom:0px;padding:5px 0;}
  #sub .share-bx .print{display:none;}
  #sub .share-bx .share{transform:scale(.85);transform-origin:100% 50%;}
}


@media (max-width:760px) {
  #visual-bx{height:201px;padding-top:75px;}
  #visual-bx img{width:1200px;margin-left:-600px;}
  #visual-bx h2{font-size:26px;}
  #visual-bx .menu-tab{padding-top:8px;margin-top:8px;}
  #visual-bx .menu-tab a{font-size:13px;margin-right:18px;}
  #visual-bx .menu-tab a.home{transform:scale(.85);}

  #sub .share-bx{margin-bottom:0px;padding:3px 0;}
  #sub .share-bx .share{transform:scale(.75);}
}

#sub .pageTab{font-family:'NanumSquareRound', 'Noto Sans KR', sans-serif;}
#sub .pageTab > li{background:#ececec;border:0;border-radius:26px;}
#sub .pageTab > li a{color:#5c5c5c;font-weight:500;justify-content: flex-start;padding-left:30px;position:relative;}
#sub .pageTab > li a:hover{text-decoration:none;}
#sub .pageTab >li.active{background:#0d5ed7}
#sub .pageTab > li.active a{color:#fff;font-weight:700;}
#sub .pageTab > li a:before{content:'→';position:absolute;top:50%;margin-top:-0.5em;line-height:1em;height:1em;right:25px;font-weight:700;font-size:18px;}


#sub .contsLead{border-bottom:3px solid #c7c8da;border-top-left-radius:100px;padding:3px;}
#sub .contsLead:before{background:#0d5ed7;border-top-left-radius:103px;height:120px;}
#sub .contsLead-conts{border-top-left-radius:100px;overflow:hidden;padding:10px 0 0px 50px;}

.titLv{font-weight:900;color:#123347;}
.titLv2{font-weight:700;color:#313131;padding-left:28px;}
.titLv2:before{top:6px;width:10px;height:10px;border:5px solid #0d5ed7;background:transparent;border-radius:50%;}

.titLv3 {font-weight: 400;color:#333;}
.titLv3:before{top:9px;left:20px;width:10px;height:10px;background:#0d5ed7;border-radius:0;}
p.listLv3:before,
div.listLv3:before,
span.listLv3:before,
.listLv3 >li:before,
.listLv3 >dt:before {top:9px;}

p.listLv2:before,
div.listLv2:before,
span.listLv2:before,
.listLv2 >li:before,
.listLv2 >dt:before{top:8px;}

p.listLv4:before,
div.listLv4:before,
span.listLv4:before,
.listLv4 >li:before,
.listLv4 >dt:before{top:9px}
.listLv{font-weight:400;font-size: 1.6rem;color:#707070;font-weight:400;}
.pgraph{color:#707070;}
.imptBox {background:#ebf3fe;}

#sub .skinTb:before {border-color:#0d5ed7;}
#sub .skinTb-th,
#sub .skinTb >tr >th,
#sub .skinTb >thead >tr >th,
#sub .skinTb >tbody >tr >th,
#sub .skinTb >tfoot >tr >th {font-weight:700;background-color:#ebf3fe;color:#123347;border-bottom-color:#0d5ed7;}

#sub .skinTb >tbody >tr >th,
#sub .skinTb-th{border-bottom-color:#d8d8d8;}
#sub .skinTb-wrapper{padding-left:1px;}

#sub .contsBtn {border-color:#0d5ed7;color:#0d5ed7;font-weight:400;}
#sub .contsBtn:hover, #sub .contsBtn:focus{color:#fff;}
#sub .contsBtn:before{background:#0d5ed7}

#sub .skinBtnBo{font-weight:400;color:#0d5ed7;border-color:#0d5ed7;}
#sub .skinBtnBo:hover, #sub .skinBtnBo:focus{color:#fff;}
#sub .skinBtnBo:before{background:#0d5ed7}
#sub input.skinBtnBo{color:#fff;}


#sub .contsBtn > a.contsBtn-download:after{background-position:-372px -530px;}
#sub .contsBtn > a.contsBtn-more:after{background-position:-412px -531px;width:17px;height:17px;right:18px;margin-top:-8px}
#sub .contsBtn > a.contsBtn-move:after{background-position:-448px -527px;width:24px;height:22px;margin-top:-10px;right:14px;}
#sub .contsBtn > a.contsBtn-play:after{background-position:-487px -527px;width:29px;height:24px;margin-top:-13px;right:8px;}

#sub .contsBtn:hover > a.contsBtn-download:after{background-position:-372px -570px;}
#sub .contsBtn:hover > a.contsBtn-more:after{background-position:-412px -571px;}
#sub .contsBtn:hover > a.contsBtn-move:after{background-position:-448px -568px;}
#sub .contsBtn:hover > a.contsBtn-play:after{background-position:-487px -566px;}



@media (max-width:1199px) {
  #sub .pageTab > li a:before{right:20px;font-size:16px;}
  #sub .pageTab > li a{padding-left:20px;}
  #sub .contsLead-conts{padding:10px 0 0px 20px;}
  #sub .titLv2{padding-left: 25px;}
  #sub .titLv2:before{top: 5px;transform: scale(.9);transform-origin: 0% 50%;}
  #sub .titLv3:before{left:2px;transform: scale(.9);transform-origin: 0% 50%;}
}

@media (max-width:760px) {
  #sub .pageTab > li a:before{display:none;}
  #sub .pageTab > li{border-radius:0px;}

  #sub .contsLead:before{border-top-left-radius:73px;height:100px;}
  #sub .contsLead-conts{border-top-left-radius:70px;padding:10px 0 0px 10px;}
  #sub .contsLead-txt{padding-bottom:0;}

  p.listLv3:before,
  div.listLv3:before,
  span.listLv3:before,
  .listLv3 >li:before,
  .listLv3 >dt:before {top:8px;}

  p.listLv2:before,
  div.listLv2:before,
  span.listLv2:before,
  .listLv2 >li:before,
  .listLv2 >dt:before{top:7px;}

  p.listLv4:before,
  div.listLv4:before,
  span.listLv4:before,
  .listLv4 >li:before,
  .listLv4 >dt:before{top:8px}

  #sub .titLv2{padding-left:22px;}
  #sub .titLv2:before{top: 4px;transform: scale(.8);}
  #sub .titLv3:before{left:2px;transform: scale(.8);top: 8px;}
}

