@charset "utf-8";

#sub{padding-top:78px;overflow:hidden;}
#sub #content{padding:60px 0;position:relative;}
#sub .inner{max-width:1240px;padding:0 20px;}

#sub_container{position:relative;letter-spacing:0px;}

.contsArea .confirmIframe{height:600px;}
#sub.private-auth{padding-top:0 !important}


@media (max-width:1199px) {
  #sub{padding-top:62px;}
  #sub .inner{padding:0 20px;}
  #sub #content{padding:45px 0 40px;}

}

@media (max-width:760px) {
  #sub .inner{padding:0 15px;}
  #sub #content{padding:45px 0 25px;}
}

@media (max-width:1000px) {
	.skinTb-wrapper.width1000{margin-right:-20px;}
}
  
  @media (max-width:768px) {
	.skinTb-wrapper.width768{margin-right:-20px;}
}
  
  @media (max-width:640px) {
	.skinTb-wrapper.width640{margin-right:-15px;}
}


.visual{position:relative;overflow:hidden;}
.visual img{display:block;width:100%;}
.visual h3{line-height:1;position:absolute;top:50%;left:50%;transform:translate(-50%,-60%);color:#fff;text-shadow:0 0 12px rgba(0,0,0,1);font-size:36px;font-family:'Noto Serif KR';font-weight:700;letter-spacing:0;}


.rtebx{position:absolute;top:-24px;right:0px;padding:0 75px 0 20px;height:48px;z-index:100;}
.rtebx:before{content:'';display:block;background:#0066c9;position:absolute;top:0;left:0;right:-380px;bottom:0;}

.rtebx .btn_box{position:absolute;right:0;top:6px;}
.rtebx .btn_box .print{display:block;float:left;background:url(/page/foreign/images/common/sp_foreign.png) -82px -402px no-repeat;background-size:520px 711px;width:36px;height:36px;overflow:hidden;text-indent:-9999px;margin-left:4px;}
.rtebx .btn_box .print:hover{background-position-x:-162px;}
.rtebx .btn_box .print:active{transform:scale(.95);}
.rtebx .btn_box .share{float:left;position:relative;}
.rtebx .btn_box .share .open{width:36px;height:36px;background:url(/page/foreign/images/common/sp_foreign.png) -42px -402px no-repeat;background-size:520px 711px;text-indent:-9999px;position:relative;overflow:hidden;text-indent:-9999px;display:block;}
.rtebx .btn_box .share .open:hover{background-position-x:-122px;}
.rtebx .btn_box .share .open:active{transform:scale(.95);}

.rtebx .btn_box .share ul{position:absolute;top:41px;left:0px;z-index:30;display:none;}
.rtebx .btn_box .share ul li + li{margin-top:2px;}
.rtebx .btn_box .share ul li a{display:block;overflow:hidden;text-indent:-9999px;width:38px;height:38px;background:url(/page/common/images/sp_dq.png) -1px -321px no-repeat;background-size:520px 1500px;}
.rtebx .btn_box .share ul li a.blog{background-position:-1px -321px;}
.rtebx .btn_box .share ul li a.facebook{background-position:-41px -321px;}
.rtebx .btn_box .share ul li a.twitter{background-position:-81px -321px;}
.rtebx .btn_box .share ul li a.cacao{background-position:-121px -321px;}
.rtebx .btn_box .share ul li a.insta{background-position:-161px -321px;}
.rtebx .btn_box .share ul li a.utube{background-position:-201px -321px;}

.rtebx .route{display:inline-block;vertical-align:middle;position:relative;min-width:330px;}
.rtebx .route a{display:inline-block;height:48px;line-height:48px;padding:0 12px;margin-right:8px;position:relative;color:#fff;font-weight:300;vertical-align:middle;transition:all .1s;}
.rtebx .route a.home{width:28px;background:url(/page/foreign/images/common/sp_foreign.png) -8px -395px no-repeat;background-size:520px 711px;overflow:hidden;text-indent:-9999px;vertical-align:middle;}
.rtebx .route a:after{content:'';display:block;width:6px;height:6px;border:1px solid #fff;border-width:1px 1px 0 0;transform:rotate(45deg);position:absolute;left:-8px;top:21px;}
.rtebx .route a:first-child:after{display:none;}
.rtebx .route a:last-child{margin-right:0;}
.rtebx .route a.home:hover{transform:scale(1.05);}
.rtebx .route a:hover{font-style:oblique;}


@media (max-width:1199px) {
  .visual img{margin:0 -250px;width:calc(100% + 500px)}
  .visual h3{font-size:32px;}
  .rtebx .btn_box .print{display:none;}

  .rtebx{top:-20px;padding:0 60px 0 15px;height:42px;}
  .rtebx:before{right:-18px;}
  .rtebx .route{min-width:250px;}
  .rtebx .route a{height:42px;line-height:42px;padding:0 10px;margin-right:6px;font-size:14px;}
  .rtebx .route a.home{transform:scale(.9);margin-right:3px;background-position-y:-398px;}
  .rtebx .route a:after{left:-7px;top:18px;}
  .rtebx .btn_box{position:absolute;right:15px;top:3px;}
}

@media (max-width:991px) {
  .visual img{margin:0 -350px;width:calc(100% + 700px)}
  .visual h3{font-size:30px;}
}


@media (max-width:760px) {
  .visual img{margin:0 -500px;width:calc(100% + 1000px)}
  .visual h3{font-size:26px;}
  .rtebx{top:-13px;}
  .rtebx .btn_box{right:10px;}
  .rtebx .route{min-width:220px;}
}
  

/* pageTab */
#content .pageTab > li {border-color: #c4c4c4;position:relative;}
#content .pageTab > li a{color:#313131;}
#content .pageTab >li.active {background:transparent;border-color:#0f4b9d;z-index:3;}
#content .pageTab >li.active a#content  .pageTab-tab,
#content .pageTab >li.active a#content  .pageTab-tab:hover,
#content .pageTab >li.active a#content  .pageTab-tab:link {color:#313131;}
#content .pageTab-tab {font-family:'Noto Serif KR';font-weight:500;}

@media screen and (min-width: 320px) and (max-width: 639px){
  #content .pageTab{padding-top:42px;margin-bottom:20px;}
  #content .pageTab li{float:none;background:#0f4b9d;border:0;}
  #content .pageTab >li.active{background:#0f4b9d;border:0;}
	#content .pageTab > li {border:0;color:#fff;background:#0f4b9d;border-radius:0;display:none;}

	#content .pageTab > li.active{position:absolute;top:0px;left:0px;display:block !important;}
  #content .pageTab-tab:after{transform:rotate(0deg);margin-top:-4px}
  #content .pageTab .active .pageTab-tab:after{background-position:-253px -536px;}
  #content .pageTab.on .pageTab-tab:after{transform:rotate(180deg);}
  
	#content .pageTab > li > a{color:#fff;}
  #content .pageTab-tab{font-size:15px;}
  #content .pageTab.on > li{display:block;height:auto !important;} 

}
@media screen and (min-width: 640px) and (max-width: 999px){
	#content .pageTab >li {width:33.3333%;margin-right:0px !important}
	#content .pageTab >li:nth-child(n+4){margin-top:5px;}
  #content .pageTab >li + li{margin-left:-1px;}
  #content .pageTab >li:nth-child(4n){margin-left:0;}
	#content .pageTab >li:nth-child(1):nth-last-child(2){width:50%;}
	#content .pageTab >li:nth-child(2):nth-last-child(1){width:50%;margin-right:0 !important;}
	#content .pageTab-tab {padding: 12px 10px 12px 10px;}
}
@media screen and (min-width: 1000px){
  #content .pageTab >li {width:25%;margin-right:0;}
  #content .pageTab >li + li{margin-left:-1px;}
	#content .pageTab >li:nth-child(n+5){margin-top:8px;}
	#content .pageTab-tab{font-size:20px;padding:15px 15px 15px 15px;}
	#content .pageTab >li:nth-child(1):nth-last-child(3){width:33.333%;}
	#content .pageTab >li:nth-child(2):nth-last-child(2){width:33.333%;}
	#content .pageTab >li:nth-child(3):nth-last-child(1){width:33.333%;}

	#content .pageTab >li:nth-child(1):nth-last-child(2){width:33.333%;}
	#content .pageTab >li:nth-child(2):nth-last-child(1){width:33.333%;}
}

/* content */
#content{color:#1b1b1b;}
#content .contsLead{border:1px solid #c9c9c9;font-family:'Noto Serif KR';border-width:1px 0;padding:0px;}
#content .contsLead .pgraph{font-weight:400;}
#content .contsLead .contsLead-conts{z-index:1;}
#content .contsLead:before{content:'';display:block;position:absolute;top:-2px;left:-2px;background:#0f4b9d;width:105px;height:38px;}
#content .contsLead:after{content:'';display:block;position:absolute;bottom:-2px;right:-2px;background:#0f4b9d;width:105px;height:38px;}

#content .titLv{font-family:'Noto Serif KR';color:#000;padding-left:34px;} 
#content .titLv:before{position:absolute;display: block;content: '';top:7px;left:0px;background:url(/page/foreign/images/common/sp_foreign.png) -286px -411px no-repeat;background-size:520px 711px;line-height:0;width:28px;height:20px;}
#content .titLv2{font-family:'Noto Serif KR';color:#1b1b1b;}
#content .titLv2:before{background:url(/page/foreign/images/common/sp_foreign.png) -332px -417px no-repeat;background-size:520px 711px;width:16px;height:7px;top:14px;}
#content .titLv3:before{background:url(/page/foreign/images/common/sp_foreign.png) -375px -415px no-repeat;background-size:520px 711px;width:6px;height:12px;top:8px;}
#content .imptBox{border:0;background:#e8efff}
#content .skinTb:before{border-top:1px solid #626262}

#content .skinTb-th,
#content .skinTb >tr >th,
#content .skinTb >thead >tr >th,
#content .skinTb >tbody >tr >th,
#content .skinTb >tfoot >tr >th {color:#141414;border-bottom-color:#d8d8d8;}


@media (max-width:1199px) {
  #content .titLv2:before{top:12px;}
}

@media (max-width:760px) {
  #content .titLv2:before{top:10px;}
}

.destbx{position:relative;margin:22px 0 45px}
.destbx img{display:block;width:100%;}
.destbx .text{position:absolute;bottom:-60px;right:0;padding:25px 40px 45px 25px;background:#fff url(/page/foreign/images/sub/nh_dest.jpg) right bottom no-repeat;background-size:255px 178px;}
.destbx .text li{line-height:1.3;padding-left:195px;position:relative;color:#1b1b1b;font-size:18px;font-weight:300;}
.destbx .text:before{content:'';display:block;width:0;border-left:1px dotted #9c9c9c;position:absolute;top:25px;bottom:45px;left:195px;}
.destbx .text strong{font-family:'Noto Serif KR';font-weight:500;color:#000;font-size:18px;display:block;position:absolute;top:-2px;left:0px;}
.destbx .text strong:before{content:'';display:inline-block;width:30px;height:30px;background:url(/page/foreign/images/common/sp_foreign.png) -204px -446px no-repeat;background-size:520px 711px;vertical-align:-9px;margin-right:9px;transform-origin:0% 50%;}
.destbx .text li:nth-child(2) strong:before{background-position-y:-483px}
.destbx .text li:nth-child(3) strong:before{background-position-y:-521px}
.destbx .text li:nth-child(4) strong:before{background-position-y:-558px}
.destbx .text li + li{margin-top:15px;}

@media (max-width:1199px) {
  .destbx{margin:20px 0 40px}
  .destbx .text{padding:20px 30px 35px 20px;background-size:200px 140px;bottom:-50px;}
  .destbx .text li{padding-left:160px;font-size:16px}
  .destbx .text:before{top:20px;bottom:35px;left:160px;}
  .destbx .text strong{font-size:16px;top:-4px;}
  .destbx .text strong:before{transform:scale(.9);margin-right:4px;}
  .destbx .text li + li{margin-top:15px;}
}

@media (max-width:991px) {
  .destbx{margin:17px 0 30px}
  .destbx .text{padding:17px 25px 30px 20px;background-size:170px 119px;bottom:-40px;}
  .destbx .text li{padding-left:145px;font-size:15px}
  .destbx .text:before{top:17px;bottom:30px;left:145px;}
  .destbx .text strong{font-size:15px;top:-5px;}
}

@media (max-width:760px) {
  .destbx{margin:12px 0 15px}
  .destbx img{width:calc(100% + 160px);margin:0 -80px;}
  .destbx .text{padding:17px 0px 0px 0px;position:relative;right:auto;bottom:auto;}
  .destbx .text li{padding-left:35px;}
  .destbx .text:before{display:none;}
  .destbx .text strong{font-size:15px;top:auto;left:auto;position:relative;margin-left:-35px;}
  .destbx .text li + li{margin-top:5px;}
}

.logobx{position:relative;margin-bottom:30px;}
.logobx img{display:block;width:100%;}
.logobx p{padding:0 10px 0 130px;position:relative;line-height:1.3;margin-top:25px;font-weight:300;word-break:keep-all;}
.logobx p + p{margin-top:18px;}
.logobx p strong{display:block;position:absolute;top:-2px;left:35px;color:#01a651;font-size:18px;font-weight:300;}
.logobx p strong:before{content:'';display:inline-block;width:20px;height:20px;background:#01a651;margin-right:7px;vertical-align:-3px;box-sizing:border-box;}
.logobx p strong.blue{color:#0358aa;}
.logobx p strong.blue:before{background:#0358aa;}
.logobx p strong.white{color:#8b8b8b;}
.logobx p strong.white:before{background:#fff;border:1px solid #aaa}

.logobx02{overflow:hidden;margin:13px 0 30px;}
.logobx02 img{display:block;width:553px;float:left;}
.logobx02 p{font-weight:300;padding:10px 0 0 35px;overflow:hidden;word-break:keep-all;}

@media (max-width:1199px) {
  .logobx{margin-bottom:25px;}
  .logobx p{padding:0 10px 0 105px;margin-top:20px;font-size:15px;}
  .logobx p + p{margin-top:15px;}
  .logobx p strong{left:25px;font-size:16px;top:-2px;}
  .logobx p strong:before{width:18px;height:18px;margin-right:5px;vertical-align:-3px;}

  .logobx02{margin:10px 0 25px;}
  .logobx02 img{width:450px;}
  .logobx02 p{font-size:15px;padding:5px 0 0 25px;}
}



@media (max-width:991px) {
  .logobx{margin-bottom:20px;}
  .logobx p{padding:0 0px 0 0px;margin-top:18px;}
  .logobx p strong{left:0px;position:relative;margin-bottom:3px;}

  .logobx02{margin:10px 0 20px;}
  .logobx02 img{width:340px;}
  .logobx02 p{font-size:15px;padding:0px 0 0 20px;}
}


@media (max-width:760px) {
  .logobx{margin-bottom:17px;}
  .logobx img{width:calc(100% + 300px);margin:0 -150px;}
  .logobx p{margin-top:15px;}
  .logobx p + p{margin-top:13px;}
  .logobx02{margin:10px 0 15px;}
  .logobx02 img{float:none;width:100%;}
  .logobx02 p{padding:10px 0 0 0px;}
}


#map{position:relative;overflow:hidden;height:400px;width:100%;margin-bottom:40px;}
.mapbx{margin-top:15px;border:1px solid #d2d2d2;overflow:hidden;padding:4px 165px 12px;}
.mapbx p{float:left;width:50%;padding-left:100px;margin-top:6px;font-size:16px;font-weight:100;height:43px;line-height:43px;}
.mapbx p strong{font-size:18px;font-weight:300;padding-right:6px;}
.mapbx p:before{content:'';display:inline-block;width:43px;height:43px;background:url(/page/foreign/images/common/sp_foreign.png) -259px -455px no-repeat;background-size:520px 711px;vertical-align:-15px;margin-right:22px;transform-origin:0% 50%;}
.mapbx p:nth-child(2):before{background-position:-339px -455px}
.mapbx p:nth-child(3):before{background-position:-259px -534px}
.mapbx p:nth-child(4):before{background-position:-339px -534px}

@media (max-width:1199px) {
  #map{height:380px;margin-bottom:30px;}
  .mapbx{margin-top:13px;padding:4px 105px 12px;}
  .mapbx p{padding-left:80px;font-size:15px;height:40px;line-height:40px;}
  .mapbx p strong{font-size:16px;padding-right:4px;}
  .mapbx p:before{margin-right:17px;transform:scale(.9);}
}

@media (max-width:991px) {
  #map{height:320px;margin-bottom:25px;}
  .mapbx{margin-top:13px;padding:4px 40px 10px;}
  .mapbx p{padding-left:50px;}
}


@media (max-width:760px) {
  #map{height:300px;margin:0px -15px 20px;width:calc(100% + 30px);}
  .mapbx{margin-top:10px;padding:4px 15px 10px;}
  .mapbx p{padding-left:0px;float:none;width:100%;}
  .mapbx p:before{margin-right:12px;}
}

.greeting{position:relative;padding:0 0 30px 556px;font-family:'Noto Serif KR';}
.greeting .mayor{position:absolute;top:37px;left:0;width:523px;padding:0 95px 92px 45px;background:url(/page/foreign/images/sub/bg_mayor.jpg) 50% 100% no-repeat;background-size:520px 478px;}
.greeting .mayor img{display:block;width:100%;}
.greeting .mayor p{color:#fff;position:absolute;bottom:33px;left:10px;padding-left:35px;font-weight:300;font-size:16px;line-height:1}
.greeting .mayor p strong{font-size:22px;padding-left:2px;font-weight:300;}
.greeting .mayor p:after{content:'';display:block;width:24px;height:1px;background:#fff;position:absolute;top:50%;left:0;margin-top:3px;}
.greeting h4{line-height:1.5;word-break:keep-all;padding:23px 0 45px;;font-weight:700;color:#00318a;font-size:26px;z-index:1;position:relative;}
.greeting h4:before{content:'';display:block;background:url(/page/foreign/images/sub/i_dot.png) 0 0 no-repeat;background-size:cover;width:50px;height:41px;z-index:-1;position:absolute;top:0;left:-29px;}
.greeting h4:after{content:'';display:block;background:url(/page/foreign/images/sub/i_dot02.png) 0 0 no-repeat;background-size:cover;width:30px;height:8px;z-index:-1;position:absolute;bottom:16px;left:0px;}
.greeting h4 span{display:block;color:#ff3987;}
.greeting p{line-height:1.8;color:#000;font-weight:400;font-size:16px;}
.greeting p + p{margin-top:33px;}

@media (max-width:1199px) {
  .greeting{padding:0 0 30px 500px;}
  .greeting .mayor{top:30px;width:470px;padding:0 85px 82px 40px;background-size:450px 414px;}
  .greeting .mayor p{bottom:33px;left:10px;padding-left:30px;font-size:15px;}
  .greeting .mayor p strong{font-size:20px;}
  .greeting .mayor p:after{width:20px;height:1px;margin-top:3px;}
  .greeting h4{padding:15px 0 30px;font-size:24px;}
  .greeting h4:before{top:0;left:-29px;transform:scale(.9);transform-origin:0% 0%;}
  .greeting h4:after{bottom:11px;left:0px;transform:scale(.9);}
  .greeting p{line-height:1.7;font-size:15px;}
  .greeting p + p{margin-top:23px;}
}


@media (max-width:991px) {
  .greeting{padding:0 0 10px 0px;}
  .greeting .mayor{top:auto;width:340px;padding:0 50px 70px 30px;background-size:340px 313px;position:relative;float:left;margin:0 20px 15px 0}
  .greeting .mayor p{bottom:30px;left:10px;font-size:14px;padding:0 0 0 20px !important;}
  .greeting .mayor p strong{font-size:18px;}
  .greeting .mayor p:after{width:10px;height:1px;margin-top:3px;}
  .greeting h4{padding:12px 0 20px;font-size:22px;margin-left:20px;max-width:500px;}
  .greeting h4:before{top:0;left:-25px;transform:scale(.8);}
  .greeting h4:after{display:none;}
  .greeting p:first-of-type{padding-top:65px;}
  .greeting p + p{margin-top:18px;}
}


@media (max-width:640px) {
  .greeting{padding:0 0 10px 0px;}
  .greeting .mayor{width:calc(100% + 30px);padding:0 110px 50px 30px;background-size:cover;float:none;margin:0 -15px;background-position:right 50px;}
  .greeting .mayor img{max-width:300px;}
  .greeting .mayor p{bottom:20px;left:30px;font-size:14px;padding:0 0 0 20px !important;}
  .greeting .mayor p strong{font-size:17px;}
  .greeting .mayor p:after{width:10px;height:1px;margin-top:3px;}
  .greeting h4{padding:12px 0 17px;font-size:20px;margin-left:15px;}
  .greeting h4:before{top:0;left:-23px;transform:scale(.7);}
  .greeting p:first-of-type{padding-top:17px;}
  .greeting p + p{margin-top:9px;}
}



[lang=zh]{}
[lang=ja]{} 