@charset "utf-8";
#visual{position:relative;}
#visual h2{position:absolute;z-index:10;bottom:130px;left:0;right:0;text-align:center;}
#visual h2 img{display:inline-block;}
#visual .slick{position:relative;z-index:5;}
#visual .slick-list{z-index:3;}
#visual .slick-slide img{position:relative;left:50%;margin-left:-960px;width:1920px !important}
#visual .slick-dots{position:absolute;z-index:10;bottom:50px;left:0;right:0;}
#visual .slick-dots li + li{margin-left:15px;}
#visual .slick-dots button{font-size:0;color:transparent;width:18px;height:18px;border-radius:50%;background:#fff;transition:all .2s;box-shadow:2px 2px 5px 0px rgba(0,0,0,.5);}
#visual .slick-dots .slick-active button{background:#0666d3;}

@media (max-width: 1399px){
    #visual h2{bottom:80px;}
    #visual h2 img{width:429px}
    #visual .slick-slide img{margin-left:-800px;width:1600px !important}
    #visual .slick-dots{bottom:35px;transform:scale(.8);transform-origin:50% 100%;}
}

@media (max-width: 991px){
    #visual h2{bottom:60px;}
    #visual h2 img{width:389px}
    #visual .slick-slide img{margin-left:-700px;width:1400px !important}
    #visual .slick-dots{bottom:30px;transform:scale(.7);}
}

@media (max-width: 716px){
    #visual h2 img{width:319px}
    #visual .slick-slide img{margin-left:-600px;width:1200px !important}
    #visual .slick-dots{transform:scale(.6);}
}

#nation{position:relative;padding-top:60px;}
#nation .slick{margin-right:-260px;position:relative;z-index:3;}
#nation .slick-slide{width:298px;margin-right:25px;transition:all .25s;padding-top:20px;}
#nation .slick-slide span{display:flex;align-items:center;color:#fff;font-size:17px;margin-bottom:10px;}
#nation .slick-slide span img{height:28px;width:auto;margin-right:10px;}
#nation .slick-slide:hover{padding:0px 0 20px;}
#nation button{position:absolute;z-index:10;top:51%;left:-20px}
#nation button.next{left:1260px;}
#nation button img{display:block;height:78px;}
#nation button:active img{transform:scale(.9);}

@media (max-width: 1399px){
    #nation{padding-top:60px;}
    #nation .slick{margin:0 -20px;}
    #nation .slick-list{padding-left:20px;}
    #nation .slick-slide{width:248px;margin-right:20px;padding-top:0px;}
    #nation .slick-slide span{font-size:15px;}
    #nation .slick-slide span img{height:24px;margin-right:10px;}
    #nation .slick-slide:hover{padding:0px;}
    #nation button{display:none !important;}
}

@media (max-width: 991px){
    #nation{padding-top:50px;}
    #nation .slick-slide{width:218px;}
    #nation .slick-slide span{font-size:14px;}
    #nation .slick-slide span img{height:22px;}
}

@media (max-width: 716px){
    #nation{padding-top:40px;}
    #nation .slick-slide{width:198px;margin-right:15px;}
    #nation .slick-slide span{font-size:13px;}
    #nation .slick-slide span img{height:20px;}
}

#news{position:relative;padding-top:80px;}
#news .inner{display:flex;}
#news .bx{flex:1;position:relative;width:40%;}
#news .bx + .bx{margin-left:55px;}
#news h3{display:flex;align-items:center;height:64px;font-weight:100;font-size:22px;color:#fff;}
#news h3 strong{font-weight:700;padding-left:5px;}
#news .bx > div{border:2px solid #99a5bc;border-width:2px 0;}
#news .bx > div a{display:flex;align-items:center;height:51px;justify-content:space-between;color:#fff;font-size:18px;font-weight:100;transition:all .2s;}
#news .bx > div a + a{border-top:1px solid #4d618a;}
#news .bx > div a span{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding-right:15px;}
#news .bx > div a span:before{content:'·';font-weight:700;margin-right:7px;}
#news .bx > div a em{flex-shrink:0;}
#news .bx > div a:hover{background:rgba(0,0,0,.5);}
#news .more{position:absolute;right:0;top:20px;z-index:10;}
#news .more img{display:block;width:22px;}

@media (max-width: 1399px){
    #news{padding-top:60px;}
    #news .bx + .bx{margin-left:35px;}
    #news h3{height:52px;font-size:18px;}
    #news .bx > div a{height:45px;font-size:15px;}
    #news .more img{width:16px;}
}

@media (max-width: 991px){
    #news{padding-top:50px;}
    #news .inner{flex-direction:column;}
    #news .bx{width:100%;}
    #news .bx + .bx{margin:20px 0 0;}
    #news h3{height:50px;font-size:16px;}
    #news .bx > div a{height:42px;font-size:14px;}
    #news .more{top:18px;}
}

@media (max-width: 716px){
    #news{padding-top:35px;}
    #news .inner{padding:0;}
    #news .bx > div{border-width:1px 0;padding:0 15px;}
    #news h3{height:46px;font-size:15px;padding-left:15px;}
    #news .bx > div a{height:41px;font-size:13px;}
    #news .more{top:16px;right:15px;}
}

#banner{padding-top:80px;}
#banner a{display:block;}
#banner img{display:block;width:1400px;position:relative;left:50%;margin-left:-700px;transition:all .2s;} 
#banner a:hover img{filter:hue-rotate(35deg) contrast(1.2);}

@media (max-width: 1399px){
    #banner{padding-top:60px;}
    #banner img{width:1400px;margin-left:-700px;} 
}

@media (max-width: 991px){
    #banner{padding-top:50px;}
    #banner img{width:1100px;margin-left:-550px;} 
}

@media (max-width: 716px){
    #banner{padding-top:35px;}
    #banner img{width:760px;margin-left:-380px;} 
}

#destination{position:relative;color:#fff;font-weight:100;padding-top:120px;font-size:18px;}
#destination .more{position:absolute;right:0;bottom:450px;display:flex;z-index:10;width:150px;height:50px;align-items:center;background:#fff;padding:0 20px;color:#000;font-weight:500;font-size:16px;justify-content:space-between;transition:all .2s;}
#destination .more:after{content:'';display:block;background:#000;width:42px;height:2px;transition:all .2s;}
#destination .more:hover{background:#000;color:#fff;}
#destination .more:hover:after{background:#fff;}
#destination .flex-bx{display:flex;}
#destination .flex-bx div{position:relative;display:flex;flex-direction:column;}
#destination .flex-bx p{word-break:keep-all;}
#destination .flex-bx p strong{display:block;font-weight:700;margin-bottom:5px;font-size:20px;}
#destination .flex-bx img{display:block;}
#destination .flex-bx .title{max-width:566px;}
#destination .flex-bx.v1 > div:first-child{min-width:850px;padding:50px 40px 0 40px;}
#destination .flex-bx.v1 p{padding-top:70px;display:flex;justify-content:flex-end;}
#destination .flex-bx.v1 p span.text {max-width:620px;}
#destination .flex-bx.v2{margin-top:-120px;}
#destination .flex-bx.v2 > div:first-child{order:2;justify-content:flex-end;padding:0 0 20px 40px;}

@media (max-width: 1399px){
    #destination{padding-top:80px;font-size:14px;}
    #destination .more{bottom:320px;transform:scale(.85);transform-origin:100% 100%;}
    #destination .flex-bx{margin:0 -20px;}
    #destination .flex-bx p strong{font-size:16px;}
    #destination .flex-bx img{width:550px;}
    #destination .flex-bx .title{max-width:356px;}
    #destination .flex-bx.v1 > div:first-child{min-width:initial;padding:0px 20px 0 30px;}
    #destination .flex-bx.v1 p{padding-top:35px;}
    #destination .flex-bx.v2{margin-top:-30px;}
    #destination .flex-bx.v2 > div:first-child{padding:0 20px 0px 30px;}
}

@media (max-width: 991px){
    #destination{padding-top:70px;font-size:13px;}
    #destination .more{bottom:0px;transform:scale(.8);}
    #destination .flex-bx{margin:0px;flex-direction:column;}
    #destination .flex-bx p strong{font-size:16px;}
    #destination .flex-bx img{width:calc(100% + 40px);max-height:340px;margin:0 -20px;}
    #destination .flex-bx .title{max-width:286px;margin-left:0;}
    #destination .flex-bx.v1 > div:first-child{padding:0px 20px 30px 0px;}
    #destination .flex-bx.v1 p{padding-top:25px;justify-content:flex-start;}
    #destination .flex-bx.v2{margin-top:0px;}
    #destination .flex-bx.v2 > div:first-child{padding:30px 20px 30px 0px;order:1}
    #destination .flex-bx.v2 > div:last-child{order:2}
}

@media (max-width: 716px){
    #destination{padding-top:50px;font-size:12.5px;}
    #destination .more{transform:scale(.75);}
    #destination .flex-bx p strong{font-size:15px;}
    #destination .flex-bx img{width:calc(100% + 30px);max-height:220px;margin:0 -15px;}
    #destination .flex-bx .title{max-width:226px;}
    #destination .flex-bx.v1 > div:first-child{padding:0px 0px 25px 0px;}
    #destination .flex-bx.v2 > div:first-child{padding:25px 0px 25px 0px;text-align:right;}
}










