<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>shadow example</title>
</head>
<body>


  <test-bx></test-bx>

 
</body>

<script>
  const css = `
  <style>
     .inner{max-width:700px;margin:30px auto 0}
     .inner a{display:block;}
     .inner a img{display:block;width:100%;} 
    </style>
  `;

  const template = document.createElement("template");
  template.innerHTML += `
      ${css}
      <div class="inner">
        <a href="#">
          <img src="https://via.placeholder.com/1200x800.jpg">
          <p>테스트</p>
        </a>
      </div>  
  `;

  class MyFirstCustomElement extends HTMLElement {
    
    constructor() {
      super();
      this.attachShadow({ mode: "open" });
      this.render();
    }
    
    render() {
      this.shadowRoot.appendChild(template.content.cloneNode(true));
    }  
  };

  customElements.define("test-bx", MyFirstCustomElement);


</script>
</html>
